In [25]:
import pandas as pd
import numpy as np
import random
from rapidfuzz import process

In [2]:
NY_CD_raw = pd.read_excel("../../Data/Post1790/NY/NY_1790_CD.xlsx",
                      header = 11, usecols = 'H, I, M, N, X, Y, AC, AD, AM, AN, AR, AS')
NY_CD_raw.columns = ['First Name', 'Last Name', '6p_Dollar', '6p_Cents',
                     'First Name.1', 'Last Name.1', '6p_def_Dollar', '6p_def_Cents',
                     'First Name.2', 'Last Name.2', '3p_Dollar', '3p_Cents']
NY_CD_raw['state'] = np.nan
NY_CD_raw['town'] = np.nan
NY_CD_raw['occupation'] = np.nan
NY_CD = NY_CD_raw[['6p_Dollar', '6p_Cents', '6p_def_Dollar', '6p_def_Cents','3p_Dollar', '3p_Cents',
                   'town', 'state', 'occupation']]

In [35]:
#prepare loan dataset
PA_CD_raw = pd.read_excel("../../Data/Post1790/PA/PA_post1790_CD.xlsx",
                          header = 11, usecols = 'G, H, I, J, K, L, M, U, V, W, X, Y, Z, AA, AJ, AK, AL, AM, AN, AO, AP')
PA_CD_raw.columns = ['First Name', 'Last Name', 'town1', 'state1', 'occupation1', '6p_Dollar', '6p_Cents',
                     'First Name.1', 'Last Name.1', 'town2', 'state2', 'occupation2', '6p_def_Dollar', '6p_def_Cents',
                     'First Name.2', 'Last Name.2', 'town3', 'state3', 'occupation3', '3p_Dollar', '3p_Cents', ]
#inds = random.sample(PA_CD_raw[['First Name', 'Last Name', 'state1','6p_Dollar', '6p_Cents',]].index.tolist(), 20)
inds = [923, 791,1142, 130, 733, 1158,  355,   80,   1102,   1109,
        215,59, 54,  704,  703, 1014,  1042,  309, 962, 485]

In [44]:
CD_all = pd.read_csv('../../Data/Post1790/aggregated_CD_noname.csv', index_col = 0)
data = PA_CD_raw.loc[inds][['First Name', 'Last Name', 'state1']]
data['county_real'] = CD_all.loc[np.array(inds)+1996]['county'].tolist()
data['county_predicted'] = ['Philadelphia County', 'Philadelphia County', np.nan, 'Philadelphia County', 'Huntingdon County', np.nan, \
                            np.nan, 'Philadelphia County', 'York County', np.nan, np.nan, 'Northampton County', 'Philadelphia County', np.nan, \
                            'Philadelphia County', 'York County', np.nan, 'Philadelphia County', np.nan, np.nan]

In [56]:
data['county_real'] = data['county_real'].apply(lambda x: str(x))
data['county_predicted'] = data['county_predicted'].apply(lambda x: str(x))

In [66]:
sum_total = np.sum(data['county_real'] == data['county_predicted'])
print("{} predictions correct out of 20".format(sum_total))
sum_counties = np.sum(data[data['county_real'].apply(lambda x: x != "nan")]['county_real'] == data[data['county_real'].apply(lambda x: x != "nan")]['county_predicted'])
valid_counties = data[data['county_real'].apply(lambda x: x != "nan")].shape[0]
print("{} counties predicted correctly out of a total of {} valid county values".format(sum_counties, valid_counties))
nan_counties = np.sum(data[data['county_real'].apply(lambda x: x != "nan")]['county_predicted'] == "nan")
print("{} counties predicted as nan out of a total of {} valid county values".format(nan_counties, valid_counties))
print("{} counties found but predicted incorrectly out of a total of {} valid county values".format(valid_counties - nan_counties - sum_counties, valid_counties))

12 predictions correct out of 20
10 counties predicted correctly out of a total of 18 valid county values
7 counties predicted as nan out of a total of 18 valid county values
1 counties found but predicted incorrectly out of a total of 18 valid county values

In [71]:
NY_CD_raw[NY_CD_raw['Last Name.2'].apply(lambda x: not pd.isnull(x))][['First Name.2', 'Last Name.2']].drop_duplicates()

     First Name.2         Last Name.2
0            John           Delafield
9          Daniel  Crommelin and Sons
10        William           Henderson
11           John            O Conner
13       Robert R             Randall
...           ...                 ...
2179            B             Pomeroy
2182       B Jn A          Chevallier
2183       Thomas         Fitzpatrick
2184            E                Hart
2192    William C             Mumford

[883 rows x 2 columns]