In [4715]:
import pip
!pip install pandas
!pip install rapidfuzz
from rapidfuzz import process
from rapidfuzz import fuzz
!pip install python-Levenshtein

Requirement already satisfied: pandas in /opt/anaconda3/envs/pandas/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/envs/pandas/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/envs/pandas/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/envs/pandas/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/envs/pandas/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/pandas/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: rapidfuzz in /opt/anaconda3/envs/pandas/lib/python3.12/site-packages (3.13.0)
Requirement already satisfied: python-Levenshtein in /opt/anaconda3/envs/pandas/lib/python3.12/site-packages (0.27.1)
Requirement already satisfied: Levenshtein==0.27.1 in /opt/anaconda3/envs/pandas/lib/python3.12/site-packages (from python-Levenshtein) (0.27.1)
Requirement already satisfied: rapidfuzz<4.0.0,>=3.9.0 in /opt/anaconda3/envs/pandas/lib/python3.12/site-packages (from Levenshtein==0.27.1->python-Levenshtein) (3.13.0)

In [4716]:
import pandas as pd

In [4717]:
post1790VA = pd.read_csv('VA_ASD.csv')

In [4718]:
#Detect date values over 31
VA_mask_strange_date =  (
    (pd.to_numeric(post1790VA['Def_6p_Day'], errors='coerce') >31) |
    (pd.to_numeric(post1790VA['6p_Day'], errors='coerce') >31) |
    (pd.to_numeric(post1790VA['3p_Day'], errors='coerce') >31)
)
print(f'\nAmount of dates over 31: {VA_mask_strange_date}')

Amount of dates over 31: 0      False
1      False
2      False
3      False
4      False
       ...
914    False
915    False
916    False
917    False
918    False
Length: 919, dtype: bool

In [4719]:
#Detect month values over 12
VA_mask_strange_month =  (
    (pd.to_numeric(post1790VA['Def_6p_Month'], errors='coerce') >12) |
    (pd.to_numeric(post1790VA['6p_Month'], errors='coerce') >12) |
    (pd.to_numeric(post1790VA['3p_Month'], errors='coerce') >12)
)
print(f'\nAmount of months over 12: {VA_mask_strange_month}')

Amount of months over 12: 0      False
1      False
2      False
3      False
4      False
       ...
914    False
915    False
916    False
917    False
918    False
Length: 919, dtype: bool

In [4720]:
#Detect year values under 1790
VA_mask_strange_year =  (
    (pd.to_numeric(post1790VA['Def_6p_Year'], errors='coerce') <1790) |
    (pd.to_numeric(post1790VA['6p_Year'], errors='coerce') <1790) |
    (pd.to_numeric(post1790VA['3p_Year'], errors='coerce') <1790)
)
print(f'\nAmount of years under 1790: {VA_mask_strange_year}')

Amount of years under 1790: 0      False
1      False
2      False
3      False
4      False
       ...
914    False
915    False
916    False
917    False
918    False
Length: 919, dtype: bool

### Preview of Very Similar Names:

In [4721]:
# columns to check separately
VA_columns_to_check = ['6p_First_Name', '6p_Last_Name', 'Def_6p_First_Name', 'Def_6p_Last_Name', '3p_First_Name', '3p_Last_Name']

threshold = 90
all_matches = []

for col in VA_columns_to_check:
    VA_unique_vals = post1790VA[col].dropna().unique().tolist()
    
    for val in VA_unique_vals:
        result = process.extract(val, VA_unique_vals, scorer=fuzz.token_sort_ratio)
        
        for match_val, score, _ in result:
            if val != match_val and score >= threshold:
                all_matches.append((col, val, match_val, score))

# Convert to DataFrame to review
VA_fuzzy_matches = pd.DataFrame(all_matches, columns=['Column', 'Original', 'Match', 'Score'])
print(VA_fuzzy_matches)

           Column   Original      Match      Score
0   6p_First_Name    Matthew     Mathew  92.307692
1   6p_First_Name     Mathew    Matthew  92.307692
2    6p_Last_Name     Stuart    Steuart  92.307692
3    6p_Last_Name    Steuart     Stuart  92.307692
4    6p_Last_Name    Philips   Phillips  93.333333
..            ...        ...        ...        ...
93   3p_Last_Name   Donaldon  Donaldson  94.117647
94   3p_Last_Name   Phillips    Philips  93.333333
95   3p_Last_Name  Dandridge   Dandrige  94.117647
96   3p_Last_Name    Goodwin     Godwin  92.307692
97   3p_Last_Name   Walllace    Wallace  93.333333

[98 rows x 4 columns]

In [4722]:
post1790SC = pd.read_csv('Post_1790_South_Carolina_CD.csv')

In [4723]:
#Detect date values over 31
SC_mask_strange_date =  (
    (pd.to_numeric(post1790SC['Def_6p_Day'], errors='coerce') >31) |
    (pd.to_numeric(post1790SC['6p_Day'], errors='coerce') >31) |
    (pd.to_numeric(post1790SC['3p_Day'], errors='coerce') >31)
)
print(f'\nAmount of dates over 31: {SC_mask_strange_date}')

Amount of dates over 31: 0      False
1      False
2      False
3      False
4      False
       ...
434    False
435    False
436    False
437    False
438    False
Length: 439, dtype: bool

In [4724]:
#Detect month values over 12
SC_mask_strange_month =  (
    (pd.to_numeric(post1790SC['Def_6p_Month'], errors='coerce') >12) |
    (pd.to_numeric(post1790SC['6p_Month'], errors='coerce') >12) |
    (pd.to_numeric(post1790SC['3p_Month'], errors='coerce') >12)
)
print(f'\nAmount of months over 12: {SC_mask_strange_month}')

Amount of months over 12: 0      False
1      False
2      False
3      False
4      False
       ...
434    False
435    False
436    False
437    False
438    False
Length: 439, dtype: bool

In [4725]:
#Detect year values under 1790
SC_mask_strange_year =  (
    (pd.to_numeric(post1790SC['Def_6p_Year'], errors='coerce') <1790) |
    (pd.to_numeric(post1790SC['6p_Year'], errors='coerce') <1790) |
    (pd.to_numeric(post1790SC['3p_Year'], errors='coerce') <1790)
)
print(f'\nAmount of years under 1790: {SC_mask_strange_year}')

Amount of years under 1790: 0      False
1      False
2      False
3      False
4      False
       ...
434    False
435    False
436    False
437    False
438    False
Length: 439, dtype: bool

### Preview of Very Similar Names:

In [4726]:
# columns to check separately
post1790SC.columns = post1790SC.columns.str.strip()
SC_columns_to_check = ['6p_First_Name', '6p_Last_Name', 'Def_6p_First_Name', 'Def_6p_Last_Name', '3p_First_Name', '3p_Last_Name']

threshold = 90
all_matches = []

for col in SC_columns_to_check:
    SC_unique_vals = post1790SC[col].dropna().unique().tolist()
    
    for val in SC_unique_vals:
        result = process.extract(val, SC_unique_vals, scorer=fuzz.token_sort_ratio)
        
        for match_val, score, _ in result:
            if val != match_val and score >= threshold:
                all_matches.append((col, val, match_val, score))

# Convert to DataFrame to review
SC_fuzzy_matches = pd.DataFrame(all_matches, columns=['Column', 'Original', 'Match', 'Score'])
print(SC_fuzzy_matches)

               Column  Original     Match       Score
0       6p_First_Name   William  Williams   93.333333
1       6p_First_Name  Williams   William   93.333333
2       6p_First_Name      John     John   100.000000
3       6p_First_Name   Daniel     Daniel  100.000000
4       6p_First_Name    Daniel   Daniel   100.000000
5       6p_First_Name    Mathew   Mathew   100.000000
6       6p_First_Name   Mathew     Mathew  100.000000
7       6p_First_Name     John       John  100.000000
8        6p_Last_Name     Mason    Manson   90.909091
9        6p_Last_Name   Johnson  Johnston   93.333333
10       6p_Last_Name    McCall   McCalla   92.307692
11       6p_Last_Name    Manson     Mason   90.909091
12       6p_Last_Name  Johnston   Johnson   93.333333
13       6p_Last_Name   McCalla    McCall   92.307692
14  Def_6p_First_Name   William  Williams   93.333333
15  Def_6p_First_Name  Williams   William   93.333333
16  Def_6p_First_Name      John     John   100.000000
17  Def_6p_First_Name   Daniel     Daniel  100.000000
18  Def_6p_First_Name    Daniel   Daniel   100.000000
19  Def_6p_First_Name    Mathew   Mathew   100.000000
20  Def_6p_First_Name   Mathew     Mathew  100.000000
21  Def_6p_First_Name     John       John  100.000000
22   Def_6p_Last_Name     Mason    Manson   90.909091
23   Def_6p_Last_Name   Johnson  Johnston   93.333333
24   Def_6p_Last_Name    McCall   McCalla   92.307692
25   Def_6p_Last_Name    Manson     Mason   90.909091
26   Def_6p_Last_Name  Johnston   Johnson   93.333333
27   Def_6p_Last_Name   McCalla    McCall   92.307692
28      3p_First_Name   William  Williams   93.333333
29      3p_First_Name  Williams   William   93.333333
30      3p_First_Name      John     John   100.000000
31      3p_First_Name   Daniel     Daniel  100.000000
32      3p_First_Name    Daniel   Daniel   100.000000
33      3p_First_Name    Mathew   Mathew   100.000000
34      3p_First_Name   Mathew     Mathew  100.000000
35      3p_First_Name     John       John  100.000000

In [4727]:
post1790RI = pd.read_csv('T653_Rhode_Island_ASD.csv')

In [4728]:
#Detect date values over 31
RI_mask_strange_date =  (
    (pd.to_numeric(post1790RI['Def_6p_Day'], errors='coerce') >31) |
    (pd.to_numeric(post1790RI['6p_Day'], errors='coerce') >31) |
    (pd.to_numeric(post1790RI['3p_Day'], errors='coerce') >31)
)
print(f'\nAmount of dates over 31: {RI_mask_strange_date}')

Amount of dates over 31: 0      False
1      False
2      False
3      False
4      False
       ...
291    False
292    False
293    False
294    False
295    False
Length: 296, dtype: bool

In [4729]:
#Detect month values over 12
RI_mask_strange_month =  (
    (pd.to_numeric(post1790RI['Def_6p_Month'], errors='coerce') >12) |
    (pd.to_numeric(post1790RI['6p_Month'], errors='coerce') >12) |
    (pd.to_numeric(post1790RI['3p_Month'], errors='coerce') >12)
)
print(f'\nAmount of months over 12: {RI_mask_strange_month}')

Amount of months over 12: 0      False
1      False
2      False
3      False
4      False
       ...
291    False
292    False
293    False
294    False
295    False
Length: 296, dtype: bool

In [4730]:
#Detect year values under 1790
RI_mask_strange_year =  (
    (pd.to_numeric(post1790RI['Def_6p_Year'], errors='coerce') <1790) |
    (pd.to_numeric(post1790RI['6p_Year'], errors='coerce') <1790) |
    (pd.to_numeric(post1790RI['3p_Year'], errors='coerce') <1790)
)
print(f'\nAmount of years under 1790: {RI_mask_strange_year}')

Amount of years under 1790: 0      False
1      False
2      False
3      False
4      False
       ...
291    False
292    False
293    False
294    False
295    False
Length: 296, dtype: bool

### Preview of Very Similar Names:

In [4731]:
# columns to check separately
RI_columns_to_check = ['6p_First_Name', '6p_Last_Name', 'Def_6p_First_Name', 'Def_6p_Last_Name', '3p_First_Name', '3p_Last_Name']

threshold = 90
all_matches = []

for col in RI_columns_to_check:
    RI_unique_vals = post1790RI[col].dropna().unique().tolist()
    
    for val in RI_unique_vals:
        result = process.extract(val, RI_unique_vals, scorer=fuzz.token_sort_ratio)
        
        for match_val, score, _ in result:
            if val != match_val and score >= threshold:
                all_matches.append((col, val, match_val, score))

# Convert to DataFrame to review
RI_fuzzy_matches = pd.DataFrame(all_matches, columns=['Column', 'Original', 'Match', 'Score'])
print(RI_fuzzy_matches)

               Column                        Original  \
0   Def_6p_First_Name                            John
1   Def_6p_First_Name                      Cristopher
2   Def_6p_First_Name                     Christopher
3   Def_6p_First_Name                      Nicholas
4   Def_6p_First_Name                        Daniel C
5   Def_6p_First_Name                       Joseph
6   Def_6p_First_Name                       Daniel C
7   Def_6p_First_Name                          Joseph
8   Def_6p_First_Name                         John
9   Def_6p_First_Name                Brown and Bonson
10  Def_6p_First_Name                            Ann
11  Def_6p_First_Name                             Ann
12  Def_6p_First_Name                Brown and Benson
13  Def_6p_First_Name                        Nicholas
14   Def_6p_Last_Name                       Verplanck
15   Def_6p_Last_Name                       Verplanck
16      3p_First_Name  Pordon Tillinghast W Greenwich
17      3p_First_Name   Pardon Tillinghast W Greewich
18       3p_Last_Name                          Browne
19       3p_Last_Name                           Brown

                             Match       Score
0                          John     100.000000
1                      Christopher   95.238095
2                       Cristopher   95.238095
3                         Nicholas  100.000000
4                        Daniel C   100.000000
5                           Joseph  100.000000
6                         Daniel C  100.000000
7                        Joseph     100.000000
8                             John  100.000000
9                 Brown and Benson   93.750000
10                             Ann  100.000000
11                            Ann   100.000000
12                Brown and Bonson   93.750000
13                      Nicholas    100.000000
14                       Verplanck  100.000000
15                       Verplanck  100.000000
16   Pardon Tillinghast W Greewich   94.915254
17  Pordon Tillinghast W Greenwich   94.915254
18                           Brown   90.909091
19                          Browne   90.909091

In [4732]:
post1790PA = pd.read_csv('PA_post1790_CD.csv')

In [4733]:
#Detect date values over 31
PA_mask_strange_date =  (
    (pd.to_numeric(post1790PA['Def_6p_Day'], errors='coerce') >31) |
    (pd.to_numeric(post1790PA['6p_Day'], errors='coerce') >31) |
    (pd.to_numeric(post1790PA['3p_Day'], errors='coerce') >31)
)
print(f'\nAmount of dates over 31: {PA_mask_strange_date}')

Amount of dates over 31: 0       False
1       False
2       False
3       False
4       False
        ...
1297    False
1298    False
1299    False
1300    False
1301    False
Length: 1302, dtype: bool

In [4734]:
#Detect month values over 12
PA_mask_strange_month =  (
    (pd.to_numeric(post1790PA['Def_6p_Month'], errors='coerce') >12) |
    (pd.to_numeric(post1790PA['6p_Month'], errors='coerce') >12) |
    (pd.to_numeric(post1790PA['3p_Month'], errors='coerce') >12)
)
print(f'\nAmount of months over 12: {PA_mask_strange_month}')

Amount of months over 12: 0       False
1       False
2       False
3       False
4       False
        ...
1297    False
1298    False
1299    False
1300    False
1301    False
Length: 1302, dtype: bool

In [4735]:
#Detect year values under 1790
PA_mask_strange_year =  (
    (pd.to_numeric(post1790PA['Def_6p_Year'], errors='coerce') <1790) |
    (pd.to_numeric(post1790PA['6p_Year'], errors='coerce') <1790) |
    (pd.to_numeric(post1790PA['3p_Year'], errors='coerce') <1790)
)
print(f'\nAmount of years under 1790: {PA_mask_strange_year}')

Amount of years under 1790: 0       False
1       False
2       False
3       False
4       False
        ...
1297    False
1298    False
1299    False
1300    False
1301    False
Length: 1302, dtype: bool

### Preview of Very Similar Names:

In [4736]:
# columns to check separately
PA_columns_to_check = ['6p_First_Name', '6p_Last_Name', 'Def_6p_First_Name', 'Def_6p_Last_Name', '3p_First_Name', '3p_Last_Name']

threshold = 90
all_matches = []

for col in PA_columns_to_check:
    PA_unique_vals = post1790PA[col].dropna().unique().tolist()
    
    for val in PA_unique_vals:
        result = process.extract(val, PA_unique_vals, scorer=fuzz.token_sort_ratio)
        
        for match_val, score, _ in result:
            if val != match_val and score >= threshold:
                all_matches.append((col, val, match_val, score))

# Convert to DataFrame to review
PA_fuzzy_matches = pd.DataFrame(all_matches, columns=['Column', 'Original', 'Match', 'Score'])
print(PA_fuzzy_matches)

            Column  Original      Match       Score
0    6p_First_Name   William   William   100.000000
1    6p_First_Name    Jasper    Jasper   100.000000
2    6p_First_Name    Robert    Robert   100.000000
3    6p_First_Name     James     James   100.000000
4    6p_First_Name  Margaret  Margarett   94.117647
..             ...       ...        ...         ...
265   3p_Last_Name    Ashton      Aston   90.909091
266   3p_Last_Name    Wagner    Wagener   92.307692
267   3p_Last_Name    Wagner      Wager   90.909091
268   3p_Last_Name   Bennett     Bennet   92.307692
269   3p_Last_Name   Johnson   Johnston   93.333333

[270 rows x 4 columns]

In [4737]:
post1790NY = pd.read_csv('NY_1790_ASD.csv')

In [4738]:
#Detect date values over 31
NY_mask_strange_date =  (
    (pd.to_numeric(post1790NY['Def_6p_Day'], errors='coerce') >31) |
    (pd.to_numeric(post1790NY['6p_Day'], errors='coerce') >31) |
    (pd.to_numeric(post1790NY['3p_Day'], errors='coerce') >31)
)
print(f'\nAmount of dates over 31: {NY_mask_strange_date}')

Amount of dates over 31: 0       False
1       False
2       False
3       False
4       False
        ...
1466    False
1467    False
1468    False
1469    False
1470    False
Length: 1471, dtype: bool

In [4739]:
#Detect month values over 12
NY_mask_strange_month =  (
    (pd.to_numeric(post1790NY['Def_6p_Month'], errors='coerce') >12) |
    (pd.to_numeric(post1790NY['6p_Month'], errors='coerce') >12) |
    (pd.to_numeric(post1790NY['3p_Month'], errors='coerce') >12)
)
print(f'\nAmount of months over 12: {NY_mask_strange_month}')

Amount of months over 12: 0       False
1       False
2       False
3       False
4       False
        ...
1466    False
1467    False
1468    False
1469    False
1470    False
Length: 1471, dtype: bool

In [4740]:
#Detect year values under 1790
NY_mask_strange_year =  (
    (pd.to_numeric(post1790NY['Def_6p_Year'], errors='coerce') <1790) |
    (pd.to_numeric(post1790NY['6p_Year'], errors='coerce') <1790) |
    (pd.to_numeric(post1790NY['3p_Year'], errors='coerce') <1790)
)
print(f'\nAmount of years under 1790: {NY_mask_strange_year}')

Amount of years under 1790: 0       False
1       False
2       False
3       False
4       False
        ...
1466    False
1467    False
1468    False
1469    False
1470    False
Length: 1471, dtype: bool

### Preview of Very Similar Names:

In [4741]:
# columns to check separately
NY_columns_to_check = ['6p_First_Name', '6p_Last_Name', 'Def_6p_First_Name', 'Def_6p_Last_Name', '3p_First_Name', '3p_Last_Name']

threshold = 90
all_matches = []

for col in NY_columns_to_check:
    NY_unique_vals = post1790NY[col].dropna().unique().tolist()
    
    for val in NY_unique_vals:
        result = process.extract(val, NY_unique_vals, scorer=fuzz.token_sort_ratio)
        
        for match_val, score, _ in result:
            if val != match_val and score >= threshold:
                all_matches.append((col, val, match_val, score))

# Convert to DataFrame to review
NY_fuzzy_matches = pd.DataFrame(all_matches, columns=['Column', 'Original', 'Match', 'Score'])
print(NY_fuzzy_matches)

            Column        Original           Match       Score
0    6p_First_Name           James          James   100.000000
1    6p_First_Name          Thomas         Thomas   100.000000
2    6p_First_Name            John           John   100.000000
3    6p_First_Name         William        William   100.000000
4    6p_First_Name         William        Willliam   93.333333
..             ...             ...             ...         ...
265   3p_Last_Name  van Bunschoten  Van Bunschoten   92.857143
266   3p_Last_Name         Richard        Richards   93.333333
267   3p_Last_Name         Rathbun        Rathburn   93.333333
268   3p_Last_Name          Pitkin         Pitkins   92.307692
269   3p_Last_Name         Pitkins          Pitkin   92.307692

[270 rows x 4 columns]

In [4742]:
post1790NJ = pd.read_csv('NJ_3_percent_stock_T698_R1_R2.csv')

In [4743]:
#Detect date values over 31
NJ_mask_strange_date =  (pd.to_numeric(post1790NJ['Day'], errors='coerce') >31)
print(f'\nAmount of dates over 31: {NJ_mask_strange_date}')

Amount of dates over 31: 0      False
1      False
2      False
3      False
4      False
       ...
982    False
983    False
984    False
985    False
986    False
Name: Day, Length: 987, dtype: bool

In [4744]:
#Detect month values over 12
NJ_mask_strange_month =  (pd.to_numeric(post1790NJ['Month'], errors='coerce') >12)
print(f'\nAmount of dates over 31: {NJ_mask_strange_month}')

Amount of dates over 31: 0      False
1      False
2      False
3      False
4      False
       ...
982    False
983    False
984    False
985    False
986    False
Name: Month, Length: 987, dtype: bool

### Preview of Very Similar Names:

In [4745]:
# columns to check separately
NJ_columns_to_check = ['First_Name', 'Last_Name']

threshold = 90
all_matches = []

for col in NJ_columns_to_check:
    NJ_unique_vals = post1790NJ[col].dropna().unique().tolist()
    
    for val in NJ_unique_vals:
        result = process.extract(val, NJ_unique_vals, scorer=fuzz.token_sort_ratio)
        
        for match_val, score, _ in result:
            if val != match_val and score >= threshold:
                all_matches.append((col, val, match_val, score))

# Convert to DataFrame to review
NJ_fuzzy_matches = pd.DataFrame(all_matches, columns=['Column', 'Original', 'Match', 'Score'])
print(NJ_fuzzy_matches)

        Column       Original          Match       Score
0   First_Name       Benjamin      Benjamin   100.000000
1   First_Name           John          John   100.000000
2   First_Name      Archibald    Archibald W   90.000000
3   First_Name         Peter           Peter  100.000000
4   First_Name    Archibald W      Archibald   90.000000
5   First_Name      Benjamin        Benjamin  100.000000
6   First_Name          Asher         Asher   100.000000
7   First_Name          Peter         Peter   100.000000
8   First_Name        Garret          Garret  100.000000
9   First_Name         Garret        Garret   100.000000
10  First_Name          Hugh            Hugh  100.000000
11  First_Name        Israel          Israel  100.000000
12  First_Name         Asher           Asher  100.000000
13  First_Name         Israel        Israel   100.000000
14  First_Name           Hugh          Hugh   100.000000
15  First_Name          John            John  100.000000
16  First_Name       Ebenezer        Ebenzer   93.333333
17  First_Name        Ebenzer       Ebenezer   93.333333
18   Last_Name        Philips       Phillips   93.333333
19   Last_Name        Thomson       Thompson   93.333333
20   Last_Name         Wikoff        Wickoff   92.307692
21   Last_Name        Wyckoff         Wykoff   92.307692
22   Last_Name       Brearley        Bearley   93.333333
23   Last_Name    Van Derveer     Van Derver   95.238095
24   Last_Name         Wykoff        Wyckoff   92.307692
25   Last_Name         Schenk        Schenck   92.307692
26   Last_Name         Holmes          Holme   90.909091
27   Last_Name      Cheltwood       Chetwood   94.117647
28   Last_Name         McEwen        McEowen   92.307692
29   Last_Name       Phillips        Philips   93.333333
30   Last_Name       Whickoff        Wickoff   93.333333
31   Last_Name  Ferlinghuysen  Frelinghuysen   92.307692
32   Last_Name        McEowen         McEwen   92.307692
33   Last_Name        McEowen         Mcowen   92.307692
34   Last_Name       Southard      Southhard   94.117647
35   Last_Name          Moore         Moores   90.909091
36   Last_Name        Schenck         Schenk   92.307692
37   Last_Name       Thompson        Thomson   93.333333
38   Last_Name      Langstaff     Langstaffe   94.736842
39   Last_Name    Vredenbergh    Vredenburgh   90.909091
40   Last_Name         Vanuys        VanNuys   92.307692
41   Last_Name        Bearley       Brearley   93.333333
42   Last_Name       Chetwood      Cheltwood   94.117647
43   Last_Name     Van Derver    Van Derveer   95.238095
44   Last_Name         Mcowen        McEowen   92.307692
45   Last_Name  Frelinghuysen  Ferlinghuysen   92.307692
46   Last_Name      Southhard       Southard   94.117647
47   Last_Name         Moores          Moore   90.909091
48   Last_Name        Wickoff       Whickoff   93.333333
49   Last_Name        Wickoff         Wikoff   92.307692
50   Last_Name     Langstaffe      Langstaff   94.736842
51   Last_Name    Vredenburgh    Vredenbergh   90.909091
52   Last_Name        VanNuys         Vanuys   92.307692
53   Last_Name      Tenbroeck       Tenbrock   94.117647
54   Last_Name          Holme         Holmes   90.909091
55   Last_Name       Tenbrock      Tenbroeck   94.117647

In [4746]:
post1790NH = pd.read_csv('T652_New_Hampshire_ASD.csv')

In [4747]:
#drop duplicates
post1790NH.drop_duplicates(inplace = True)

### Preview of Very Similar Names:

In [4748]:
# columns to check separately
NH_columns_to_check = ['6p_First_Name', '6p_Last_Name', 'Def_6p_First_Name', 'Def_6p_First_Name', '3p_First_Name', '3p_Last_Name']

threshold = 90
all_matches = []

for col in NH_columns_to_check:
    NH_unique_vals = post1790NH[col].dropna().unique().tolist()
    
    for val in NH_unique_vals:
        result = process.extract(val, NH_unique_vals, scorer=fuzz.token_sort_ratio)
        
        for match_val, score, _ in result:
            if val != match_val and score >= threshold:
                all_matches.append((col, val, match_val, score))

# Convert to DataFrame to review
NH_fuzzy_matches = pd.DataFrame(all_matches, columns=['Column', 'Original', 'Match', 'Score'])
print(NH_fuzzy_matches)

               Column     Original        Match       Score
0       6p_First_Name  Nathaniel A   Nathaniel    90.000000
1       6p_First_Name  Nathaniel A    Nathaniel   90.000000
2       6p_First_Name       Joseph      Joseph   100.000000
3       6p_First_Name       Robert      Robert   100.000000
4       6p_First_Name   Nathaniel     Nathaniel  100.000000
5       6p_First_Name   Nathaniel   Nathaniel A   90.000000
6       6p_First_Name       Nathan      Nathan   100.000000
7       6p_First_Name      Nathan        Nathan  100.000000
8       6p_First_Name    Nathaniel   Nathaniel   100.000000
9       6p_First_Name    Nathaniel  Nathaniel A   90.000000
10      6p_First_Name      Joseph        Joseph  100.000000
11      6p_First_Name      Robert        Robert  100.000000
12       6p_Last_Name      Folsome       Folsom   92.307692
13       6p_Last_Name     Whiteing    Whiteing   100.000000
14       6p_Last_Name          Ham         Ham   100.000000
15       6p_Last_Name         Ham           Ham  100.000000
16       6p_Last_Name       Folsom      Folsome   92.307692
17       6p_Last_Name    Whiteing      Whiteing  100.000000
18  Def_6p_First_Name  Nathaniel A   Nathaniel    90.000000
19  Def_6p_First_Name  Nathaniel A    Nathaniel   90.000000
20  Def_6p_First_Name       Joseph      Joseph   100.000000
21  Def_6p_First_Name       Robert      Robert   100.000000
22  Def_6p_First_Name   Nathaniel     Nathaniel  100.000000
23  Def_6p_First_Name   Nathaniel   Nathaniel A   90.000000
24  Def_6p_First_Name       Nathan      Nathan   100.000000
25  Def_6p_First_Name      Nathan        Nathan  100.000000
26  Def_6p_First_Name    Nathaniel   Nathaniel   100.000000
27  Def_6p_First_Name    Nathaniel  Nathaniel A   90.000000
28  Def_6p_First_Name      Joseph        Joseph  100.000000
29  Def_6p_First_Name      Robert        Robert  100.000000
30  Def_6p_First_Name  Nathaniel A   Nathaniel    90.000000
31  Def_6p_First_Name  Nathaniel A    Nathaniel   90.000000
32  Def_6p_First_Name       Joseph      Joseph   100.000000
33  Def_6p_First_Name       Robert      Robert   100.000000
34  Def_6p_First_Name   Nathaniel     Nathaniel  100.000000
35  Def_6p_First_Name   Nathaniel   Nathaniel A   90.000000
36  Def_6p_First_Name       Nathan      Nathan   100.000000
37  Def_6p_First_Name      Nathan        Nathan  100.000000
38  Def_6p_First_Name    Nathaniel   Nathaniel   100.000000
39  Def_6p_First_Name    Nathaniel  Nathaniel A   90.000000
40  Def_6p_First_Name      Joseph        Joseph  100.000000
41  Def_6p_First_Name      Robert        Robert  100.000000
42      3p_First_Name  Nathaniel A   Nathaniel    90.000000
43      3p_First_Name  Nathaniel A    Nathaniel   90.000000
44      3p_First_Name       Joseph      Joseph   100.000000
45      3p_First_Name       Robert      Robert   100.000000
46      3p_First_Name   Nathaniel     Nathaniel  100.000000
47      3p_First_Name   Nathaniel   Nathaniel A   90.000000
48      3p_First_Name       Nathan      Nathan   100.000000
49      3p_First_Name      Nathan        Nathan  100.000000
50      3p_First_Name    Nathaniel   Nathaniel   100.000000
51      3p_First_Name    Nathaniel  Nathaniel A   90.000000
52      3p_First_Name      Joseph        Joseph  100.000000
53      3p_First_Name      Robert        Robert  100.000000
54       3p_Last_Name      Folsome       Folsom   92.307692
55       3p_Last_Name     Whiteing    Whiteing   100.000000
56       3p_Last_Name          Ham         Ham   100.000000
57       3p_Last_Name         Ham           Ham  100.000000
58       3p_Last_Name       Folsom      Folsome   92.307692
59       3p_Last_Name    Whiteing      Whiteing  100.000000

In [4749]:
#Detect date values over 31
NH_mask_strange_date =  (
    (pd.to_numeric(post1790NH['Def_6p_Day'], errors='coerce') >31) |
    (pd.to_numeric(post1790NH['6p_Day'], errors='coerce') >31) |
    (pd.to_numeric(post1790NH['3p_Day'], errors='coerce') >31)
)
print(f'\nAmount of dates over 31: {NH_mask_strange_date}')

Amount of dates over 31: 0      False
1      False
2      False
3      False
4      False
       ...
221     True
222     True
223     True
224     True
226    False
Length: 225, dtype: bool

In [4750]:
#Detect month values over 12
NH_mask_strange_month =  (
    (pd.to_numeric(post1790NH['Def_6p_Month'], errors='coerce') >12) |
    (pd.to_numeric(post1790NH['6p_Month'], errors='coerce') >12) |
    (pd.to_numeric(post1790NH['3p_Month'], errors='coerce') >12)
)
print(f'\nAmount of dates over 31: {NH_mask_strange_month}')

Amount of dates over 31: 0      False
1      False
2      False
3      False
4      False
       ...
221    False
222    False
223    False
224    False
226    False
Length: 225, dtype: bool

In [4751]:
#Detect year values under 1790
NH_mask_strange_year =  (
    (pd.to_numeric(post1790NH['Def_6p_Year'], errors='coerce') <1790) |
    (pd.to_numeric(post1790NH['6p_Year'], errors='coerce') <1790) |
    (pd.to_numeric(post1790NH['3p_Year'], errors='coerce') <1790)
)
print(f'\nAmount of years before 1790: {NH_mask_strange_year}')

Amount of years before 1790: 0      False
1      False
2      False
3      False
4      False
       ...
221    False
222    False
223    False
224    False
226    False
Length: 225, dtype: bool

In [4752]:
post1790NC = pd.read_csv('T695_R3_NC_ASD.csv')

In [4753]:
#drop duplicates
post1790NC.drop_duplicates(inplace = True)

### Preview of Very Similar Names:

In [4754]:
# columns to check separately
NC_columns_to_check = ['First_Name', 'Last_Name']

threshold = 90
all_matches = []

for col in NC_columns_to_check:
    NC_unique_vals = post1790NC[col].dropna().unique().tolist()
    
    for val in NC_unique_vals:
        result = process.extract(val, NC_unique_vals, scorer=fuzz.token_sort_ratio)
        
        for match_val, score, _ in result:
            if val != match_val and score >= threshold:
                all_matches.append((col, val, match_val, score))

# Convert to DataFrame to review
NC_fuzzy_matches = pd.DataFrame(all_matches, columns=['Column', 'Original', 'Match', 'Score'])
print(NC_fuzzy_matches)

       Column  Original     Match       Score
0  First_Name   Samuel     Samuel  100.000000
1  First_Name    Samuel   Samuel   100.000000
2   Last_Name  Johnston   Johnson   93.333333
3   Last_Name   Johnson  Johnston   93.333333

In [4755]:
#Detect date values over 31
NC_mask_strange_date = (pd.to_numeric(post1790NC['Day'], errors='coerce') >31)
print(f'\nAmount of dates over 31: {NC_mask_strange_date}')

Amount of dates over 31: 0      False
1      False
2      False
3      False
4      False
       ...
242    False
243    False
244    False
246    False
247    False
Name: Day, Length: 247, dtype: bool

In [4756]:
#Detect month values over 12
NC_mask_strange_month = (pd.to_numeric(post1790NC['Month'], errors='coerce') >12)
print(f'\nAmount of month values over 12: {NC_mask_strange_month}')

Amount of month values over 12: 0      False
1      False
2      False
3      False
4      False
       ...
242    False
243    False
244    False
246    False
247    False
Name: Month, Length: 247, dtype: bool

In [4757]:
#Detect year values under 1790
NC_mask_strange_year = (pd.to_numeric(post1790NC['Year'], errors='coerce') <1790)
print(f'\nAmount of year values under 1790: {NC_mask_strange_year}')

Amount of year values under 1790: 0      False
1      False
2      False
3      False
4      False
       ...
242    False
243    False
244    False
246    False
247    False
Name: Year, Length: 247, dtype: bool

In [4758]:
post1790MD = pd.read_csv('MD_post1790_ASD.csv')

In [4759]:
#drop duplicates
post1790MD.drop_duplicates(inplace = True)

### Preview of Very Similar Names:

In [4760]:
# columns to check separately
MD_columns_to_check = ['6p_Name', '6p_Last Name', '6p_Def_First_Name', '6p_Def_Last_Name', '3p_First_Name', '3p_Last_Name']

threshold = 90
all_matches = []

for col in MD_columns_to_check:
    MD_unique_vals = post1790MD[col].dropna().unique().tolist()
    
    for val in MD_unique_vals:
        result = process.extract(val, MD_unique_vals, scorer=fuzz.token_sort_ratio)
        
        for match_val, score, _ in result:
            if val != match_val and score >= threshold:
                all_matches.append((col, val, match_val, score))

# Convert to DataFrame to review
MD_fuzzy_matches = pd.DataFrame(all_matches, columns=['Column', 'Original', 'Match', 'Score'])
print(MD_fuzzy_matches)

              Column  Original     Match  Score
0  6p_Def_First_Name   Adrian     Adrian  100.0
1  6p_Def_First_Name      John     John   100.0
2  6p_Def_First_Name   Charles  Charles   100.0
3  6p_Def_First_Name     John       John  100.0
4  6p_Def_First_Name    Adrian   Adrian   100.0
5  6p_Def_First_Name  Charles    Charles  100.0
6      3p_First_Name   Charles  Charles   100.0
7      3p_First_Name  Charles    Charles  100.0

In [4761]:
#Detect date values over 31
MD_mask_strange_date = (
    (pd.to_numeric(post1790MD['6p_Day'], errors='coerce') >31) | 
    (pd.to_numeric(post1790MD['6p_Def_Day'], errors='coerce') >31) | 
    (pd.to_numeric(post1790MD['3p_Day'], errors='coerce') >31)
)
print(f'\nAmount of dates over 31: {MD_mask_strange_date}')

Amount of dates over 31: 0      False
1      False
2      False
3      False
4      False
       ...
188    False
189    False
190    False
191    False
192    False
Length: 193, dtype: bool

In [4762]:
#detect months after december
MD_mask_strange_month = (
    (pd.to_numeric(post1790MD['6p_Def_Month'], errors='coerce') >12) |
    (pd.to_numeric(post1790MD['6p_Month'], errors='coerce') >12) |
    (pd.to_numeric(post1790MD['3p_Month'], errors='coerce') >12)
)
print(f'\nAmount of month values over 12: {MD_mask_strange_month}')

Amount of month values over 12: 0      False
1      False
2      False
3      False
4      False
       ...
188    False
189    False
190    False
191    False
192    False
Length: 193, dtype: bool

#

In [4763]:
#detect years before 1790
MD_mask_strange_year = (
    (pd.to_numeric(post1790MD['6p_Def_Year'], errors='coerce') <1790) |
    (pd.to_numeric(post1790MD['6p_Year'], errors='coerce') <1790) |
    (pd.to_numeric(post1790MD['3p_Year'], errors='coerce') <1790)
)
print(f'\nAmount of year values under 1790: {MD_mask_strange_year}')

Amount of year values under 1790: 0      False
1      False
2      False
3      False
4      False
       ...
188    False
189    False
190    False
191    False
192    False
Length: 193, dtype: bool

In [4764]:
post1790GA = pd.read_csv('T694_GA_Loan_Office_CD.csv')

In [4765]:
#drop duplicates
post1790GA.drop_duplicates(inplace = True)

### Preview of Very Similar Names:

In [4766]:
# columns to check separately
GA_columns_to_check = ['First_Name', 'Last_Name', 'First_Name.1']

threshold = 90
all_matches = []

for col in GA_columns_to_check:
    GA_unique_vals = post1790GA[col].dropna().unique().tolist()
    
    for val in GA_unique_vals:
        result = process.extract(val, GA_unique_vals, scorer=fuzz.token_sort_ratio)
        
        for match_val, score, _ in result:
            if val != match_val and score >= threshold:
                all_matches.append((col, val, match_val, score))

# Convert to DataFrame to review
GA_fuzzy_matches = pd.DataFrame(all_matches, columns=['Column', 'Original', 'Match', 'Score'])
print(GA_fuzzy_matches)

      Column Original    Match      Score
0  Last_Name  Josephs   Joseph  92.307692
1  Last_Name   Joseph  Josephs  92.307692

In [4767]:
#detect date values over 31
GA_mask_strange_date = pd.to_numeric(post1790GA['Day'], errors='coerce') >31
print(f'\nAmount of dates over 31: {GA_mask_strange_date}')

Amount of dates over 31: 0     False
1     False
2     False
3     False
4     False
      ...
71    False
72    False
73    False
74    False
76    False
Name: Day, Length: 76, dtype: bool

In [4768]:
#detect month values over 12
GA_mask_strange_month = pd.to_numeric(post1790GA['Month'], errors='coerce') >12
print(f'\nAmount of months listed as after December: {GA_mask_strange_month}')

Amount of months listed as after December: 0     False
1     False
2     False
3     False
4     False
      ...
71    False
72    False
73    False
74    False
76    False
Name: Month, Length: 76, dtype: bool

In [4769]:
#detect year values under 1790 (or equal to)
GA_mask_strange_year = pd.to_numeric(post1790GA['Year'], errors='coerce') < 1790
print(f'\nAmount of years listed as before 1790: {GA_mask_strange_year}')

Amount of years listed as before 1790: 0     False
1     False
2     False
3     False
4     False
      ...
71    False
72    False
73    False
74    False
76    False
Name: Year, Length: 76, dtype: bool

In [4770]:
post1790CT = pd.read_csv('CT_post1790_CD_ledger.csv')

In [4771]:
#drop duplicates
post1790CT.drop_duplicates(inplace = True)

In [4772]:
#missing values
CT_missing_summary = post1790CT.isnull().sum().to_frame(name = 'CT_missing_count')
CT_missing_summary['CT_missing_percent'] = 100*CT_missing_summary['CT_missing_count']/len(post1790CT)
print("Missing Value Summary:")
print(CT_missing_summary.sort_values('CT_missing_percent', ascending=False))

Missing Value Summary:
                                                    CT_missing_count  \
Unnamed: 15                                                     1017
Unnamed: 31                                                     1017
3p_Title                                                         951
Def_6p_Title                                                     926
6p_Title                                                         923
3p_Occupation                                                    570
Def_6p_Occupation                                                531
6p_Occupation                                                    522
3p_Cents                                                         274
3p_Town                                                          191
3p_State                                                         175
3p_Last_Name                                                     168
3p_Page                                                          148
3p_Month                                                         140
3p_No                                                            139
3p_Year                                                          139
3p_Dollar                                                        138
3p_Day                                                           137
3p_First_Name                                                    136
Records of the bureau of the public debt  Conne...               130
Def_6p_Cents                                                     129
Record Name.2                                                    128
6p_Cents                                                         112
Def_6_Last_Name                                                  103
Def_6p_Town                                                       98
Def_6p_Dollar                                                     86
Def_6p_Page                                                       85
Def_6p_First_Name                                                 85
6p_Town                                                           85
Def_6p_No                                                         85
Def_6p_Day                                                        85
Def_6p_Month                                                      85
Def_6p_Year                                                       85
6p_Last_Name                                                      83
Def_6p_State                                                      82
Records of the bureau of the public debt  Conne...                78
Record Name.1                                                     76
6p_No                                                             71
6p_Page                                                           71
6p_Dollar                                                         71
6p_State                                                          70
6p_First_Name                                                     70
6p_Day                                                            70
6p_Month                                                          70
6p_Year                                                           70
Records of the bureau of the public debt  Conne...                63
Record Name                                                       61

                                                    CT_missing_percent
Unnamed: 15                                                 100.000000
Unnamed: 31                                                 100.000000
3p_Title                                                     93.510324
Def_6p_Title                                                 91.052114
6p_Title                                                     90.757129
3p_Occupation                                                56.047198
Def_6p_Occupation                                            52.212389
6p_Occupation                                                51.327434
3p_Cents                                                     26.941986
3p_Town                                                      18.780728
3p_State                                                     17.207473
3p_Last_Name                                                 16.519174
3p_Page                                                      14.552606
3p_Month                                                     13.765978
3p_No                                                        13.667650
3p_Year                                                      13.667650
3p_Dollar                                                    13.569322
3p_Day                                                       13.470993
3p_First_Name                                                13.372665
Records of the bureau of the public debt  Conne...           12.782694
Def_6p_Cents                                                 12.684366
Record Name.2                                                12.586037
6p_Cents                                                     11.012783
Def_6_Last_Name                                              10.127827
Def_6p_Town                                                   9.636185
Def_6p_Dollar                                                 8.456244
Def_6p_Page                                                   8.357915
Def_6p_First_Name                                             8.357915
6p_Town                                                       8.357915
Def_6p_No                                                     8.357915
Def_6p_Day                                                    8.357915
Def_6p_Month                                                  8.357915
Def_6p_Year                                                   8.357915
6p_Last_Name                                                  8.161259
Def_6p_State                                                  8.062930
Records of the bureau of the public debt  Conne...            7.669617
Record Name.1                                                 7.472960
6p_No                                                         6.981318
6p_Page                                                       6.981318
6p_Dollar                                                     6.981318
6p_State                                                      6.882989
6p_First_Name                                                 6.882989
6p_Day                                                        6.882989
6p_Month                                                      6.882989
6p_Year                                                       6.882989
Records of the bureau of the public debt  Conne...            6.194690
Record Name                                                   5.998033

In [4773]:
#uncombined rows 
CT_amount_fields = ['6p_Dollar', '6p_Cents', 'Def_6p_Dollar', 'Def_6p_Cents','3p_Dollar','3p_Cents']
CT_mask_name_missing = post1790CT[['6p_First_Name',
    '6p_Last_Name',
    'Def_6p_First_Name',
    'Def_6_Last_Name',
    '3p_First_Name',
    '3p_Last_Name'
]].isnull().any(axis=1)
CT_mask_amount_present = post1790CT[CT_amount_fields].notnull().any(axis=1)
CT_mask_uncombined = CT_mask_name_missing & CT_mask_amount_present

In [4774]:
#typos? (more unique values than there should be)
CT_string_cols = post1790CT.select_dtypes(include='object')
CT_string_uniques = CT_string_cols.nunique(dropna=False).to_frame(name='CT_unique_values')
print("Unique value counts for all string columns:")
print(CT_string_uniques.sort_values('CT_unique_values', ascending=False))

Unique value counts for all string columns:
                                                    CT_unique_values
Def_6_Last_Name                                                  427
6p_Last_Name                                                     410
3p_Last_Name                                                     399
3p_First_Name                                                    230
Def_6p_First_Name                                                229
6p_First_Name                                                    219
Def_6p_Town                                                      125
6p_Town                                                          123
3p_Town                                                          119
6p_Occupation                                                     75
Def_6p_Occupation                                                 74
3p_Occupation                                                     70
Record Name.2                                                     47
Record Name.1                                                     37
Record Name                                                       37
Records of the bureau of the public debt  Conne...                30
Records of the bureau of the public debt  Conne...                26
Records of the bureau of the public debt  Conne...                25
6p_Title                                                           9
Def_6p_Title                                                       8
Def_6p_State                                                       8
3p_Title                                                           8
6p_State                                                           8
3p_State                                                           8

In [4775]:
#convert dates to datetime (format)
CT_date_cols = [col for col in post1790CT.columns if ('Month' in col.lower()) or ('Year' in col.lower()) or ('Day' in col.lower())]
for col in CT_date_cols:
    post1790CT[col] = pd.to_datetime(post1790CT[col], errors='coerce')

In [4776]:
#converting numbers to number types (format)
CT_numeric_pattern = ['Dollar', 'Cents']
CT_numeric_obj_cols = [col for col in post1790CT.select_dtypes(include = 'object').columns if any (pat in col for pat in CT_numeric_pattern)]
for col in CT_numeric_obj_cols:
    post1790CT[col] = pd.to_numeric(post1790CT[col].str.replace(',', ''), errors = 'coerce')

In [4777]:
#duplicates (make sure there's no more)
CT_new_dupcount = post1790CT.duplicated().sum()
print('number of duplicates:')
print(CT_new_dupcount)

number of duplicates:
0

In [4778]:
#detect negatives
CT_mask_negative = post1790CT[[col for col in post1790CT.columns if any (pat in col for pat in CT_numeric_pattern)]].lt(0).any(axis = 1)
print(f'\nAmount of negative values: {CT_mask_negative.sum()}')

Amount of negative values: 0

In [4779]:
print(post1790CT.columns)

Index(['Record Name',
       'Records of the bureau of the public debt  Connecticut loan office records  Relating to the loan of 1790',
       '6p_Year', '6p_Month', '6p_Day', '6p_No', '6p_Title', '6p_First_Name',
       '6p_Last_Name', '6p_Town', '6p_State', '6p_Occupation', '6p_Page',
       '6p_Dollar', '6p_Cents', 'Unnamed: 15', 'Record Name.1',
       'Records of the bureau of the public debt  Connecticut loan office records  Relating to the loan of 1790.1',
       'Def_6p_Year', 'Def_6p_Month', 'Def_6p_Day', 'Def_6p_No',
       'Def_6p_Title', 'Def_6p_First_Name', 'Def_6_Last_Name', 'Def_6p_Town',
       'Def_6p_State', 'Def_6p_Occupation', 'Def_6p_Page', 'Def_6p_Dollar',
       'Def_6p_Cents', 'Unnamed: 31', 'Record Name.2',
       'Records of the bureau of the public debt  Connecticut loan office records  Relating to the loan of 1790.2',
       '3p_Year', '3p_Month', '3p_Day', '3p_No', '3p_Title', '3p_First_Name',
       '3p_Last_Name', '3p_Town', '3p_State', '3p_Occupation', '3p_Page',
       '3p_Dollar', '3p_Cents'],
      dtype='object')

In [4780]:
#not CT
mask_not_CT = (post1790CT['6p_State'] != 'CT') | (post1790CT['Def_6p_State'] != 'CT') | (post1790CT['3p_State'] != 'CT')
print(f'\nAmount of times the state is not listed as CT: {mask_not_CT.sum()}')

Amount of times the state is not listed as CT: 248

In [4781]:
# columns to check separately
CT_columns_to_check = ['6p_First_Name', '6p_Last_Name', 'Def_6_Last_Name','Def_6p_First_Name','3p_First_Name', '3p_Last_Name']

threshold = 90
all_matches = []

for col in CT_columns_to_check:
    CT_unique_vals = post1790CT[col].dropna().unique().tolist()
    
    for val in CT_unique_vals:
        result = process.extract(val, CT_unique_vals, scorer=fuzz.token_sort_ratio)
        
        for match_val, score, _ in result:
            if val != match_val and score >= threshold:
                all_matches.append((col, val, match_val, score))

### Preview of Very Similar Names:

In [4782]:
# Convert to DataFrame to review
CT_fuzzy_matches = pd.DataFrame(all_matches, columns=['Column', 'Original', 'Match', 'Score'])
print(CT_fuzzy_matches)

           Column   Original        Match       Score
0   6p_First_Name    William     William   100.000000
1   6p_First_Name     Simeon        Simon   90.909091
2   6p_First_Name      Simon       Simeon   90.909091
3   6p_First_Name  Nathaniel  Nathaniel G   90.000000
4   6p_First_Name   William       William  100.000000
..            ...        ...          ...         ...
63   3p_Last_Name     Selden      Shelden   92.307692
64   3p_Last_Name    Buswell     Bruswell   93.333333
65   3p_Last_Name    Shelden       Selden   92.307692
66   3p_Last_Name      Riley       Ripley   90.909091
67   3p_Last_Name      Wylly       Wyllys   90.909091

[68 rows x 4 columns]

In [4783]:
#suspicious rows 
post1790CT['suspicious row'] = False
post1790CT['suspicious reason'] = ''

CT_mask_many_missing = post1790.isnull().sum(axis=1) > post1790.shape[1]/4
post1790CT.loc[CT_mask_many_missing, 'suspicious row'] = True
post1790CT.loc[CT_mask_many_missing, 'suspicious reason'] += 'More than 25% missing'

post1790CT.loc[CT_mask_negative, 'suspicious row'] = True
post1790CT.loc[CT_mask_negative, 'suspicious reason'] += 'Negative value'

post1790CT.loc[CT_mask_uncombined, 'suspicious row'] = True
post1790CT.loc[CT_mask_uncombined, 'suspicious reason'] = 'Uncombined Row, name is missing but amount is not'

In [4784]:
#Rare places (possible typos)
def CT_flag_rare(col_name, threshold):
    CT_counts = post1790CT[col_name].fillna(' ').str.strip().value_counts()
    CT_rare_vals = CT_counts[CT_counts <= threshold].index
    return post1790CT[col_name].fillna(' ').str.strip().isin(CT_rare_vals), CT_rare_vals
rare_threshold = 1 


CT6_mask_rare_town, CT6_rare_towns = CT_flag_rare('6p_Town', rare_threshold)
post1790CT.loc[CT6_mask_rare_town, 'suspicious row'] = True
post1790CT.loc[CT6_mask_rare_town, 'suspicious reason'] += 'Rare town (might be spelled wrong)'

CTDef6_mask_rare_town, CTDef6_rare_towns = CT_flag_rare('Def_6p_Town', rare_threshold)
post1790CT.loc[CTDef6_mask_rare_town, 'suspicious row'] = True
post1790CT.loc[CTDef6_mask_rare_town, 'suspicious reason'] += 'Rare town (might be spelled wrong)'

CT3_mask_rare_town, CT3_rare_towns = CT_flag_rare('3p_Town', rare_threshold)
post1790CT.loc[CT3_mask_rare_town, 'suspicious row'] = True
post1790CT.loc[CT3_mask_rare_town, 'suspicious reason'] += 'Rare town (might be spelled wrong)'

print(f'\nNumber of rare (possibly misspelled) towns: {CT_mask_rare_town.sum()+CTDef6_mask_rare_town.sum()+CT3_mask_rare_town.sum()}')

Number of rare (possibly misspelled) towns: 278

In [4785]:
#clean vs suspicious
clean_post1790CT = post1790CT[~post1790CT['suspicious row']]
suspicious_post1790CT = post1790CT[post1790CT['suspicious row']]

In [4786]:
#save clean & suspicious just in case they need to be referred to when scanning errors
clean_post1790CT.to_csv("cleaned_CT_post1790_CD_ledger.csv", index=False)
suspicious_post1790CT.to_csv("suspicious_CT_post1790_CD_ledger.csv", index=False)

In [4787]:
#print suspicious rows
print(f"Suspicious rows: {post1790CT['suspicious row'].sum()}")
print("\nPreview of Suspicious Rows:")
print(suspicious_post1790.head(5))

Suspicious rows: 261

Preview of Suspicious Rows:
    Unnamed: 0  6p_Dollar  6p_Cents  6p_def_Dollar  6p_def_Cents  3p_Dollar  \
9            9       66.0      66.0           33.0          34.0       48.0
53          53     1228.0      39.0          614.0          20.0      935.0
67          67       62.0      93.0           31.0          47.0       22.0
75          75     1336.0       5.0          668.0           2.0      959.0
80          80      105.0      88.0           52.0          94.0       76.0

    3p_Cents        town state occupation  ...             county new_state  \
9        NaN  Farmington    CT     Farmer  ...    Hartford County        CT
53      98.0     Norwich    CT        NaN  ...  New London County        CT
67      66.0      Goshen    CT     Farmer  ...  Litchfield County        CT
75      93.0    Hartford    CT   Merchant  ...    Hartford County        CT
80      25.0  Colchester    CT        NaN  ...  New London County        CT

   country name_type  6p_total 6p_def_total 3p_total    Combined_Name  \
9       US      town     66.66        33.34    48.00  Joseph Woodruff
53      US      town   1228.39       614.20   935.98    Daniel L Coit
67      US      town     62.93        31.47    22.66   Solomon Wadham
75      US      town   1336.05       668.02   959.93    Pownal Deming
80      US      town    105.88        52.94    76.25       Elias Peck

   suspicious row                suspicious reason
9            True  Name != First Name + Last Name
53           True  Name != First Name + Last Name
67           True  Name != First Name + Last Name
75           True  Name != First Name + Last Name
80           True  Name != First Name + Last Name

[5 rows x 26 columns]

In [4788]:
#drop duplicates
post1790.drop_duplicates(inplace = True)

In [4789]:
#missing values
missing_summary = post1790.isnull().sum().to_frame(name = 'missing_count')
missing_summary['missing_percent'] = 100*missing_summary['missing_count']/len(post1790)
print("Missing Value Summary:")
print(missing_summary.sort_values('missing_percent', ascending=False))

Missing Value Summary:
                   missing_count  missing_percent
occupation                  4414        67.451100
new_town                    3423        52.307457
county                      2995        45.767115
town                        2814        43.001222
6p_def_Cents                2408        36.797066
6p_Cents                    2382        36.399756
6p_def_Dollar               2243        34.275672
6p_Dollar                   2177        33.267115
3p_Cents                    1093        16.702323
3p_Dollar                    677        10.345355
new_state                     28         0.427873
state                         11         0.168093
6p_def_total                   0         0.000000
Unnamed: 0                     0         0.000000
3p_total                       0         0.000000
Combined_Name                  0         0.000000
suspicious row                 0         0.000000
name_type                      0         0.000000
6p_total                       0         0.000000
state_data                     0         0.000000
country                        0         0.000000
state_data_index               0         0.000000
Last Name                      0         0.000000
First Name                     0         0.000000
Name                           0         0.000000
suspicious reason              0         0.000000

In [4790]:
#uncombined rows 
amount_fields = ['6p_Dollar', '6p_Cents', '6p_def_Dollar', '6p_def_Cents','3p_Dollar','3p_Cents', '6p_total','6p_def_total','3p_total']
mask_name_missing = post1790['Name'].isnull()
mask_amount_present = post1790[amount_fields].notnull().any(axis=1)
mask_uncombined = mask_name_missing & mask_amount_present

In [4791]:
#typos? (more unique values than there should be)
string_cols = post1790.select_dtypes(include='object')
string_uniques = string_cols.nunique(dropna=False).to_frame(name='unique_values')
print("Unique value counts for all string columns:")
print(string_uniques.sort_values('unique_values', ascending=False))

Unique value counts for all string columns:
                   unique_values
Name                        3880
Combined_Name               3019
Last Name                   1691
First Name                   741
town                         437
occupation                   271
new_town                     236
county                       107
state                         21
new_state                     15
state_data                     9
country                        7
name_type                      4
suspicious reason              3

In [4792]:
#convert dates to datetime (format)
date_cols = [col for col in post1790.columns if 'date' in col.lower()]
for col in date_cols:
    post1790[col] = pd.to_datetime(post1790[col], errors='coerce')

In [4793]:
#converting numbers to number types (format)
numeric_pattern = ['Dollar', 'Cents', 'Total']
numeric_obj_cols = [col for col in post1790.select_dtypes(include = 'object').columns if any (pat in col for pat in numeric_pattern)]
for col in numeric_obj_cols:
    post1790[col] = pd.to_numeric(post1790[col].str.replace(',', ''), errors = 'coerce')

In [4794]:
#duplicates (make sure there's no more)
post1790_new_dupcount = post1790.duplicated().sum()
print('number of duplicates:')
print(post1790_new_dupcount)

number of duplicates:
0

In [4795]:
#detect negatives
mask_negative = post1790[[col for col in post1790.columns if any (pat in col for pat in numeric_pattern)]].lt(0).any(axis = 1)
print(f'\aAmount of negative values: {mask_negative.sum()}')

Amount of negative values: 0

In [4796]:
#name mismatch
post1790['Name'] = post1790['Name'].fillna('')
post1790['First Name'] = post1790['First Name'].fillna('')
post1790['Last Name'] = post1790['Last Name'].fillna('')
print(f'\nAmount of rows where Name != First Name + Last Name: {mask_name_mismatch.sum()}')

Amount of rows where Name != First Name + Last Name: 2999

In [4797]:
#Put together full name
post1790['Combined_Name'] = (post1790['First Name'] + ' ' + post1790['Last Name'])
mask_name_mismatch = (post1790['Name'] != post1790['Combined_Name'])

In [4798]:
#not United States
mask_not_US = (post1790['country'] != 'US')
print(f'\nAmount of times the country is not listed as US: {mask_not_US.sum()}')

Amount of times the country is not listed as US: 27

In [4799]:
#Use correct column name here
unique_names = post1790['Name'].dropna().unique().tolist()

In [4800]:
# Set similarity threshold
threshold = 90
matches = []

In [4801]:
# Find fuzzy matches
for name in unique_names:
    result = process.extract(name, unique_names, scorer=fuzz.token_sort_ratio)
    for match_name, score, _ in result:
        if name != match_name and score >= threshold:
            matches.append((name, match_name, score))

### Preview of Very Similar Names:

In [4802]:
# Review results
fuzzy_matches = pd.DataFrame(matches, columns=['Original', 'Match', 'Score'])
print(fuzzy_matches)

                Original                Match      Score
0          Peleg Sanford       Peleg Sandford  96.296296
1           Samuel Marsh         Samuel March  91.666667
2          James A Wells       James A Welles  96.296296
3          James A Wells          James Wells  91.666667
4         John Templeman        Jon Templeman  96.296296
..                   ...                  ...        ...
321       J H Livingston     D J H Livingston  93.333333
322  Hekekiah B Pierpont  Hezekiah B Pierpont  94.736842
323          Ephram Hart         Ephraim Hart  95.652174
324        Lynde Catline         Lynd Catline  96.000000
325      John H Thompson        John Thompson  92.857143

[326 rows x 3 columns]

In [4803]:
#Rare places (possible typos)
def flag_rare(col_name, threshold):
    counts = post1790[col_name].fillna(' ').str.strip().value_counts()
    rare_vals = counts[counts <= threshold].index
    return post1790[col_name].fillna(' ').str.strip().isin(rare_vals), rare_vals
rare_threshold = 1 
mask_rare_new_town, rare_new_towns = flag_rare('new_town', rare_threshold)
post1790.loc[mask_rare_new_town, 'suspicious row'] = True
post1790.loc[mask_rare_new_town, 'suspicious reason'] += 'Rare new_town (might be spelled wrong)'

mask_rare_town, rare_towns = flag_rare('town', rare_threshold)
post1790.loc[mask_rare_town, 'suspicious row'] = True
post1790.loc[mask_rare_town, 'suspicious reason'] += 'Rare town (might be spelled wrong)'


mask_rare_county, rare_counties = flag_rare('county', rare_threshold)
post1790.loc[mask_rare_county, 'suspicious row'] = True
post1790.loc[mask_rare_county, 'suspicious reason'] += 'Rare county (might be spelled wrong)'
print(f'\nNumber of rare (possibly misspelled) new towns: {mask_rare_new_town.sum()}')
print(f'\nNumber of rare (possibly misspelled) counties: {mask_rare_county.sum()}')
print(f'\nNumber of rare (possibly misspelled) towns: {mask_rare_town.sum()}')

Number of rare (possibly misspelled) new towns: 75

Number of rare (possibly misspelled) counties: 18

Number of rare (possibly misspelled) towns: 194

In [4804]:
#suspicious rows 
post1790['suspicious row'] = False
post1790['suspicious reason'] = ''

mask_many_missing = post1790.isnull().sum(axis=1) > post1790.shape[1]/4
post1790.loc[mask_many_missing, 'suspicious row'] = True
post1790.loc[mask_many_missing, 'suspicious reason'] += 'More than 25% missing'

post1790.loc[mask_negative, 'suspicious row'] = True
post1790.loc[mask_negative, 'suspicious reason'] += 'Negative value'

post1790.loc[mask_uncombined, 'suspicious row'] = True
post1790.loc[mask_uncombined, 'suspicious reason'] = 'Uncombined Row, name is missing but amount is not'

post1790.loc[mask_name_mismatch, 'suspicious row'] = True
post1790.loc[mask_name_mismatch, 'suspicious reason']= 'Name != First Name + Last Name '

In [4805]:
#clean vs suspicious
clean_post1790 = post1790[~post1790['suspicious row']]
suspicious_post1790 = post1790[post1790['suspicious row']]

In [4806]:
#save clean & suspicious just in case they need to be referred to when scanning errors
clean_post1790.to_csv("cleaned_aggregated_CD_post1790.csv", index=False)
suspicious_post1790.to_csv("suspicious_aggregated_CD_post1790.csv", index=False)

In [4807]:
#print suspicious rows
print(f"Suspicious rows: {post1790['suspicious row'].sum()}")
print("\nPreview of Suspicious Rows:")
print(suspicious_post1790.head(5))

Suspicious rows: 3035

Preview of Suspicious Rows:
    Unnamed: 0  6p_Dollar  6p_Cents  6p_def_Dollar  6p_def_Cents  3p_Dollar  \
9            9       66.0      66.0           33.0          34.0       48.0
53          53     1228.0      39.0          614.0          20.0      935.0
67          67       62.0      93.0           31.0          47.0       22.0
75          75     1336.0       5.0          668.0           2.0      959.0
80          80      105.0      88.0           52.0          94.0       76.0

    3p_Cents        town state occupation  ...             county new_state  \
9        NaN  Farmington    CT     Farmer  ...    Hartford County        CT
53      98.0     Norwich    CT        NaN  ...  New London County        CT
67      66.0      Goshen    CT     Farmer  ...  Litchfield County        CT
75      93.0    Hartford    CT   Merchant  ...    Hartford County        CT
80      25.0  Colchester    CT        NaN  ...  New London County        CT

   country name_type  6p_total 6p_def_total 3p_total    Combined_Name  \
9       US      town     66.66        33.34    48.00  Joseph Woodruff
53      US      town   1228.39       614.20   935.98    Daniel L Coit
67      US      town     62.93        31.47    22.66   Solomon Wadham
75      US      town   1336.05       668.02   959.93    Pownal Deming
80      US      town    105.88        52.94    76.25       Elias Peck

   suspicious row                suspicious reason
9            True  Name != First Name + Last Name
53           True  Name != First Name + Last Name
67           True  Name != First Name + Last Name
75           True  Name != First Name + Last Name
80           True  Name != First Name + Last Name

[5 rows x 26 columns]

In [5971]:
pre1790RI = pd.read_csv('liquidated_debt_certificates_RI.csv')

In [5978]:
#Detect date values over 31
preRI_mask_strange_date =  (
    (pd.to_numeric(pre1790RI['Day'], errors='coerce') >31) |
    (pd.to_numeric(pre1790RI['Day_Due'], errors='coerce') >31) |
    (pd.to_numeric(pre1790RI['Day_Delivered'], errors='coerce') >31)
)
print(f'\nAmount of dates over 31: {preRI_mask_strange_date}')

Amount of dates over 31: 0       False
1       False
2       False
3       False
4       False
        ...
1534    False
1535    False
1536    False
1537    False
1538    False
Length: 1539, dtype: bool

In [5984]:
#Detect month values over 12
preRI_mask_strange_month =  (
    (pd.to_numeric(pre1790RI['Month'], errors='coerce') >12) |
    (pd.to_numeric(pre1790RI['Month_Due'], errors='coerce') >12) |
    (pd.to_numeric(pre1790RI['Month_Delivered'], errors='coerce') >12)
)
print(f'\nAmount of months over 12: {preRI_mask_strange_month}')

Amount of months over 12: 0       False
1       False
2       False
3       False
4       False
        ...
1534    False
1535    False
1536    False
1537    False
1538    False
Length: 1539, dtype: bool

In [5990]:
#Detect year values over 1790
preRI_mask_strange_year =  (
    (pd.to_numeric(pre1790RI['Year'], errors='coerce') >1790) |
    (pd.to_numeric(pre1790RI['Year_Due'], errors='coerce') >1790) |
    (pd.to_numeric(pre1790RI['Year_Delivered'], errors='coerce') >1790)
)
print(f'\nAmount of years over 1790: {preRI_mask_strange_year}')

Amount of years over 1790: 0       False
1       False
2       False
3       False
4       False
        ...
1534    False
1535    False
1536    False
1537    False
1538    False
Length: 1539, dtype: bool

### Preview of Very Similar Names:

In [6044]:
# columns to check separately
preRI_columns_to_check = ['First_Name', 'Last_Name','First_Name.1','Last_Name.1']

threshold = 90
all_matches = []

for col in preRI_columns_to_check:
    preRI_unique_vals = pre1790RI[col].dropna().unique().tolist()
    
    for val in preRI_unique_vals:
        result = process.extract(val, preRI_unique_vals, scorer=fuzz.token_sort_ratio)
        
        for match_val, score, _ in result:
            if val != match_val and score >= threshold:
                all_matches.append((col, val, match_val, score))

# Convert to DataFrame to review
preRI_fuzzy_matches = pd.DataFrame(all_matches, columns=['Column', 'Original', 'Match', 'Score'])
print(preRI_fuzzy_matches)

        Column  Original     Match       Score
0   First_Name   William  Williams   93.333333
1   First_Name   William    Wiliam   92.307692
2   First_Name   William    Willam   92.307692
3   First_Name   Clark &  Clarke &   93.333333
4   First_Name      Jack     Jack   100.000000
..         ...       ...       ...         ...
65   Last_Name  Willbour   Wilbour   93.333333
66   Last_Name    Gardne   Gardner   92.307692
67   Last_Name    Crooke     Cooke   90.909091
68   Last_Name   Bloomer    Boomer   92.307692
69   Last_Name    Maxson     Mason   90.909091

[70 rows x 4 columns]

In [6045]:
pre1790PA = pd.read_csv('liquidated_debt_certificates_PA_stelle.csv')

In [6046]:
#Detect date values over 31
prePA_mask_strange_date =  (
    (pd.to_numeric(pre1790PA['Date'], errors='coerce') >31) |
    (pd.to_numeric(pre1790PA['Date_Due'], errors='coerce') >31)
)
print(f'\nAmount of dates over 31: {prePA_mask_strange_date}')

Amount of dates over 31: 0       False
1       False
2       False
3       False
4       False
        ...
9218     True
9219     True
9220    False
9221    False
9222    False
Length: 9223, dtype: bool

In [6047]:
#Detect month values over 12
prePA_mask_strange_month =  (
    (pd.to_numeric(pre1790PA['Month'], errors='coerce') >12) |
    (pd.to_numeric(pre1790PA['Month_Due'], errors='coerce') >12)
)
print(f'\nAmount of months over 12: {prePA_mask_strange_month}')

Amount of months over 12: 0       False
1       False
2       False
3       False
4       False
        ...
9218    False
9219     True
9220    False
9221    False
9222    False
Length: 9223, dtype: bool

In [6048]:
#Detect year values over 1790
prePA_mask_strange_year =  (
    (pd.to_numeric(pre1790PA['Year'], errors='coerce') >1790) |
    (pd.to_numeric(pre1790PA['Year_Due'], errors='coerce') >1790)
)
print(f'\nAmount of years over 1790: {prePA_mask_strange_year}')

Amount of years over 1790: 0       False
1       False
2       False
3       False
4       False
        ...
9218    False
9219    False
9220    False
9221    False
9222    False
Length: 9223, dtype: bool

### Preview of Very Similar Names:

In [6049]:
# columns to check separately
prePA_columns_to_check = ['First_Name', 'Last_Name','First_Name.1','Last_Name.1']

threshold = 90
all_matches = []

for col in prePA_columns_to_check:
    prePA_unique_vals = pre1790PA[col].dropna().unique().tolist()
    
    for val in prePA_unique_vals:
        result = process.extract(val, prePA_unique_vals, scorer=fuzz.token_sort_ratio)
        
        for match_val, score, _ in result:
            if val != match_val and score >= threshold:
                all_matches.append((col, val, match_val, score))

# Convert to DataFrame to review
prePA_fuzzy_matches = pd.DataFrame(all_matches, columns=['Column', 'Original', 'Match', 'Score'])
print(prePA_fuzzy_matches)

         Column   Original     Match       Score
0    First_Name    William    Wiliam   92.307692
1    First_Name    William    Willam   92.307692
2    First_Name  Christian  Christia   94.117647
3    First_Name    Charles  Caharles   93.333333
4    First_Name   Ludowick   Ludwick   93.333333
..          ...        ...       ...         ...
911   Last_Name     Leonad   Leonard   92.307692
912   Last_Name     Backer   Beacker   92.307692
913   Last_Name     Backer     Baker   90.909091
914   Last_Name     Grubbs     Grubb   90.909091
915   Last_Name     Faust      Faust  100.000000

[916 rows x 4 columns]

In [6050]:
pre1790NY = pd.read_csv('liquidated_debt_certificates_NY.csv')

In [6051]:
#Detect date values over 31
preNY_mask_strange_date =  (
    (pd.to_numeric(pre1790NY['Day'], errors='coerce') >31) |
    (pd.to_numeric(pre1790NY['Day_Due'], errors='coerce') >31)
)
print(f'\nAmount of dates over 31: {preNY_mask_strange_date}')

Amount of dates over 31: 0       False
1       False
2       False
3       False
4       False
        ...
7317    False
7318    False
7319    False
7320    False
7321    False
Length: 7322, dtype: bool

In [6052]:
#Detect month values over 12
preNY_mask_strange_month =  (
    (pd.to_numeric(pre1790NY['Month'], errors='coerce') >12) |
    (pd.to_numeric(pre1790NY['Month_Due'], errors='coerce') >12)
)
print(f'\nAmount of months over 12: {preNY_mask_strange_month}')

Amount of months over 12: 0       False
1       False
2       False
3       False
4       False
        ...
7317    False
7318    False
7319    False
7320    False
7321    False
Length: 7322, dtype: bool

In [6053]:
#Detect year values over 1790
preNY_mask_strange_year =  (
    (pd.to_numeric(pre1790NY['Year'], errors='coerce') >1790) |
    (pd.to_numeric(pre1790NY['Year_Due'], errors='coerce') >1790)
)
print(f'\nAmount of years over 1790: {preNY_mask_strange_year}')

Amount of years over 1790: 0       False
1       False
2       False
3       False
4       False
        ...
7317    False
7318    False
7319    False
7320    False
7321    False
Length: 7322, dtype: bool

### Preview of Very Similar Names:

In [6054]:
# columns to check separately
preNY_columns_to_check = ['First_Name', 'Last_Name','First_Name.1','Last_Name.1']

threshold = 90
all_matches = []

for col in preNY_columns_to_check:
    preNY_unique_vals = pre1790NY[col].dropna().unique().tolist()
    
    for val in preNY_unique_vals:
        result = process.extract(val, preNY_unique_vals, scorer=fuzz.token_sort_ratio)
        
        for match_val, score, _ in result:
            if val != match_val and score >= threshold:
                all_matches.append((col, val, match_val, score))

# Convert to DataFrame to review
preNY_fuzzy_matches = pd.DataFrame(all_matches, columns=['Column', 'Original', 'Match', 'Score'])
print(preNY_fuzzy_matches)

         Column      Original          Match       Score
0    First_Name          John          John   100.000000
1    First_Name       Mathias       Matthias   93.333333
2    First_Name         James         James   100.000000
3    First_Name      Nathniel      Nathaniel   94.117647
4    First_Name        Mathew        Matthew   92.307692
..          ...           ...            ...         ...
856   Last_Name     De Bevois     De Bevoise   94.736842
857   Last_Name      Terhune         Terhune  100.000000
858   Last_Name  Van De Voort  Van Der Voort   96.000000
859   Last_Name      Kronkite      Kronkhite   94.117647
860   Last_Name       Messier         Mesier   92.307692

[861 rows x 4 columns]

In [6055]:
pre1790NJ = pd.read_csv('liquidated_debt_certificates_NJ.csv')

In [6056]:
#Detect date values over 31
preNJ_mask_strange_date =  (
    (pd.to_numeric(pre1790NJ['Day'], errors='coerce') >31) |
    (pd.to_numeric(pre1790NJ['Day_Due'], errors='coerce') >31)
)
print(f'\nAmount of dates over 31: {preNJ_mask_strange_date}')

Amount of dates over 31: 0       False
1       False
2       False
3       False
4       False
        ...
5115    False
5116    False
5117    False
5118    False
5119    False
Length: 5120, dtype: bool

In [6057]:
#Detect month values over 12
preNJ_mask_strange_month =  (
    (pd.to_numeric(pre1790NJ['Month'], errors='coerce') >12) |
    (pd.to_numeric(pre1790NJ['Month_Due'], errors='coerce') >12)
)
print(f'\nAmount of months over 12: {preNJ_mask_strange_month}')

Amount of months over 12: 0       False
1       False
2       False
3       False
4       False
        ...
5115    False
5116    False
5117    False
5118    False
5119    False
Length: 5120, dtype: bool

In [6058]:
#Detect year values over 1790
preNJ_mask_strange_year =  (
    (pd.to_numeric(pre1790NJ['Year'], errors='coerce') >1790) |
    (pd.to_numeric(pre1790NJ['Year_Due'], errors='coerce') >1790)
)
print(f'\nAmount of years over 1790: {preNJ_mask_strange_year}')

Amount of years over 1790: 0       False
1       False
2       False
3       False
4       False
        ...
5115    False
5116    False
5117    False
5118    False
5119    False
Length: 5120, dtype: bool

### Preview of Very Similar Names:

In [6059]:
# columns to check separately
preNJ_columns_to_check = ['First_Name', 'Last_Name','First_Name.1','Last_Name.1']

threshold = 90
all_matches = []

for col in preNJ_columns_to_check:
    preNJ_unique_vals = pre1790NJ[col].dropna().unique().tolist()
    
    for val in preNJ_unique_vals:
        result = process.extract(val, preNJ_unique_vals, scorer=fuzz.token_sort_ratio)
        
        for match_val, score, _ in result:
            if val != match_val and score >= threshold:
                all_matches.append((col, val, match_val, score))

# Convert to DataFrame to review
preNJ_fuzzy_matches = pd.DataFrame(all_matches, columns=['Column', 'Original', 'Match', 'Score'])
print(preNJ_fuzzy_matches)

         Column      Original         Match       Score
0    First_Name        Joseph       Joserph   92.307692
1    First_Name          John         John   100.000000
2    First_Name        Robert         Rbert   90.909091
3    First_Name        Stacey         Stacy   90.909091
4    First_Name       Garrett        Garret   92.307692
..          ...           ...           ...         ...
375   Last_Name  Van Voorhees  VanVoorchees   91.666667
376   Last_Name  Van Blarieum  Van Blaricum   91.666667
377   Last_Name    Van Houter    Van Houten   90.000000
378   Last_Name     Wanamaker    Wannamaker   94.736842
379   Last_Name         Nagle        Naugle   90.909091

[380 rows x 4 columns]

In [6060]:
pre1790NH = pd.read_csv('liquidated_debt_certificates_NH.csv')

In [6061]:
#Detect date values over 31
preNH_mask_strange_date =  (
    (pd.to_numeric(pre1790NH['Day'], errors='coerce') >31) |
    (pd.to_numeric(pre1790NH['Day_Due'], errors='coerce') >31)
)
print(f'\nAmount of dates over 31: {preNH_mask_strange_date}')

Amount of dates over 31: 0      False
1      False
2      False
3      False
4      False
       ...
185    False
186    False
187    False
188    False
189    False
Length: 190, dtype: bool

In [6062]:
#Detect month values over 12
preNH_mask_strange_month =  (
    (pd.to_numeric(pre1790NH['Month'], errors='coerce') >12) |
    (pd.to_numeric(pre1790NH['Month_Due'], errors='coerce') >12)
)
print(f'\nAmount of months over 12: {preNH_mask_strange_month}')

Amount of months over 12: 0      False
1      False
2      False
3      False
4      False
       ...
185    False
186    False
187    False
188    False
189    False
Length: 190, dtype: bool

In [6063]:
#Detect year values over 1790
preNH_mask_strange_year =  (
    (pd.to_numeric(pre1790NH['Year'], errors='coerce') >1790) |
    (pd.to_numeric(pre1790NH['Year_Due'], errors='coerce') >1790)
)
print(f'\nAmount of years over 1790: {preNH_mask_strange_year}')

Amount of years over 1790: 0      False
1      False
2      False
3      False
4      False
       ...
185    False
186    False
187    False
188    False
189    False
Length: 190, dtype: bool

### Preview of Very Similar Names:

In [6064]:
# columns to check separately
preNH_columns_to_check = ['First_Name', 'Last_Name']

threshold = 90
all_matches = []

for col in preNH_columns_to_check:
    preNH_unique_vals = pre1790NH[col].dropna().unique().tolist()
    
    for val in preNH_unique_vals:
        result = process.extract(val, preNH_unique_vals, scorer=fuzz.token_sort_ratio)
        
        for match_val, score, _ in result:
            if val != match_val and score >= threshold:
                all_matches.append((col, val, match_val, score))

# Convert to DataFrame to review
preNH_fuzzy_matches = pd.DataFrame(all_matches, columns=['Column', 'Original', 'Match', 'Score'])
print(preNH_fuzzy_matches)

        Column    Original       Match      Score
0   First_Name  Eliphalett   Eliphalet  94.736842
1   First_Name     Joshiah      Josiah  92.307692
2   First_Name      Simeon       Simon  90.909091
3   First_Name      Josiah     Joshiah  92.307692
4   First_Name       Simon      Simeon  90.909091
5   First_Name   Eliphalet  Eliphalett  94.736842
6    Last_Name     Leavitt      Leavit  92.307692
7    Last_Name     Lampson      Lamson  92.307692
8    Last_Name      Wiggin     Wiggins  92.307692
9    Last_Name     Wiggins      Wiggin  92.307692
10   Last_Name      Lamson     Lampson  92.307692
11   Last_Name      Leavit     Leavitt  92.307692

In [6065]:
pre1790MA = pd.read_csv('liquidated_debt_certificates_MA.csv')

In [6066]:
#Detect date values over 31
preMA_mask_strange_date =  (
    (pd.to_numeric(pre1790MA['Date'], errors='coerce') >31) |
    (pd.to_numeric(pre1790MA['Date_Due'], errors='coerce') >31)
)
print(f'\nAmount of dates over 31: {preMA_mask_strange_date}')

Amount of dates over 31: 0       False
1       False
2       False
3       False
4       False
        ...
2086    False
2087    False
2088    False
2089    False
2090    False
Length: 2091, dtype: bool

In [6067]:
#Detect month values over 12
preMA_mask_strange_month =  (
    (pd.to_numeric(pre1790MA['Month'], errors='coerce') >12) |
    (pd.to_numeric(pre1790MA['Month_Due'], errors='coerce') >12)
)
print(f'\nAmount of months over 12: {preMA_mask_strange_month}')

Amount of months over 12: 0       False
1       False
2       False
3       False
4       False
        ...
2086    False
2087    False
2088    False
2089    False
2090    False
Length: 2091, dtype: bool

In [6068]:
#Detect year values over 1790
preMA_mask_strange_year =  (
    (pd.to_numeric(pre1790MA['Year'], errors='coerce') >1790) |
    (pd.to_numeric(pre1790MA['Year_Due'], errors='coerce') >1790)
)
print(f'\nAmount of years over 1790: {preMA_mask_strange_year}')

Amount of years over 1790: 0       False
1       False
2       False
3       False
4       False
        ...
2086    False
2087    False
2088    False
2089    False
2090    False
Length: 2091, dtype: bool

### Preview of Very Similar Names:

In [6069]:
# columns to check separately
preMA_columns_to_check = ['First_Name', 'Last_Name', 'First_Name.1', 'Last_Name.1']

threshold = 90
all_matches = []

for col in preMA_columns_to_check:
    preMA_unique_vals = pre1790MA[col].dropna().unique().tolist()
    
    for val in preMA_unique_vals:
        result = process.extract(val, preMA_unique_vals, scorer=fuzz.token_sort_ratio)
        
        for match_val, score, _ in result:
            if val != match_val and score >= threshold:
                all_matches.append((col, val, match_val, score))

# Convert to DataFrame to review
preMA_fuzzy_matches = pd.DataFrame(all_matches, columns=['Column', 'Original', 'Match', 'Score'])
print(preMA_fuzzy_matches)

         Column  Original      Match       Score
0    First_Name  Benjamin    Bejamin   93.333333
1    First_Name  Ebenezer    Ebeneze   93.333333
2    First_Name    Samuel     Samuel  100.000000
3    First_Name   William   William   100.000000
4    First_Name  Jonathan  Jonathan   100.000000
..          ...       ...        ...         ...
215   Last_Name    Wysman      Wyman   90.909091
216   Last_Name   Bordman   Boardman   93.333333
217   Last_Name   Bordman     Borman   92.307692
218   Last_Name    Crafts      Craft   90.909091
219   Last_Name    Greene      Green   90.909091

[220 rows x 4 columns]

In [6070]:
pre1790DE = pd.read_csv('liquidated_debt_certificates_DE.csv')

In [6071]:
#Detect date values over 31
preDE_mask_strange_date =  (
    (pd.to_numeric(pre1790DE['Date'], errors='coerce') >31) |
    (pd.to_numeric(pre1790DE['Date_Due'], errors='coerce') >31)
)
print(f'\nAmount of dates over 31: {preDE_mask_strange_date}')

Amount of dates over 31: 0      False
1      False
2      False
3      False
4      False
       ...
634    False
635    False
636    False
637    False
638    False
Length: 639, dtype: bool

In [6072]:
#Detect month values over 12
preDE_mask_strange_month =  (
    (pd.to_numeric(pre1790DE['Month'], errors='coerce') >12) |
    (pd.to_numeric(pre1790DE['Month_Due'], errors='coerce') >12)
)
print(f'\nAmount of months over 12: {preDE_mask_strange_month}')

Amount of months over 12: 0      False
1      False
2      False
3      False
4      False
       ...
634    False
635    False
636    False
637    False
638    False
Length: 639, dtype: bool

In [6073]:
#Detect year values over 1790
preDE_mask_strange_year =  (
    (pd.to_numeric(pre1790DE['Year'], errors='coerce') >1790) |
    (pd.to_numeric(pre1790DE['Year_Due'], errors='coerce') >1790)
)
print(f'\nAmount of years over 1790: {preDE_mask_strange_year}')

Amount of years over 1790: 0      False
1      False
2      False
3      False
4      False
       ...
634    False
635    False
636    False
637    False
638    False
Length: 639, dtype: bool

### Preview of Very Similar Names:

In [6074]:
# columns to check separately
preDE_columns_to_check = ['First_Name', 'Last_Name']

threshold = 90
all_matches = []

for col in preDE_columns_to_check:
    preDE_unique_vals = pre1790DE[col].dropna().unique().tolist()
    
    for val in preDE_unique_vals:
        result = process.extract(val, preDE_unique_vals, scorer=fuzz.token_sort_ratio)
        
        for match_val, score, _ in result:
            if val != match_val and score >= threshold:
                all_matches.append((col, val, match_val, score))

# Convert to DataFrame to review
preDE_fuzzy_matches = pd.DataFrame(all_matches, columns=['Column', 'Original', 'Match', 'Score'])
print(preDE_fuzzy_matches)

        Column     Original        Match       Score
0   First_Name      William     William   100.000000
1   First_Name    Alexander   Alexander   100.000000
2   First_Name   Alexander     Alexander  100.000000
3   First_Name     William       William  100.000000
4    Last_Name       Baning      Banning   92.307692
5    Last_Name      Banning       Baning   92.307692
6    Last_Name       Darrah      Darrach   92.307692
7    Last_Name      Tatnall     Tatnall   100.000000
8    Last_Name     Williams      William   93.333333
9    Last_Name     Paterson    Patterson   94.117647
10   Last_Name      Caldwel     Caldwell   93.333333
11   Last_Name       Elliot      Elliott   92.307692
12   Last_Name       Elliot     Elliott    92.307692
13   Last_Name       Elliot        Eliot   90.909091
14   Last_Name    Patterson     Paterson   94.117647
15   Last_Name      Darrach       Darrah   92.307692
16   Last_Name        Eliot       Elliot   90.909091
17   Last_Name      William     Williams   93.333333
18   Last_Name     Caldwell      Caldwel   93.333333
19   Last_Name      Fallow        Fallow  100.000000
20   Last_Name     Tatnall       Tatnall  100.000000
21   Last_Name        Ellis       Elliss   90.909091
22   Last_Name       Fallow      Fallow   100.000000
23   Last_Name  Shillington  Skillington   90.909091
24   Last_Name  Skillington  Shillington   90.909091
25   Last_Name      Elliott     Elliott   100.000000
26   Last_Name      Elliott       Elliot   92.307692
27   Last_Name     McMachin    McMaichin   94.117647
28   Last_Name    McMaichin     McMachin   94.117647
29   Last_Name       Elliss        Ellis   90.909091
30   Last_Name     Elliott       Elliott  100.000000
31   Last_Name     Elliott        Elliot   92.307692

In [6075]:
pre1790CT = pd.read_csv('liquidated_debt_certificates_CT.csv')

In [6076]:
#Detect date values over 31
preCT_mask_strange_date =  (
    (pd.to_numeric(pre1790CT['Day'], errors='coerce') >31) |
    (pd.to_numeric(pre1790CT['Day_Due'], errors='coerce') >31)
)
print(f'\nAmount of dates over 31: {preCT_mask_strange_date}')

Amount of dates over 31: 0       False
1       False
2       False
3       False
4       False
        ...
1096    False
1097    False
1098    False
1099    False
1100    False
Length: 1101, dtype: bool

In [6077]:
#Detect month values over 12
preCT_mask_strange_month =  (
    (pd.to_numeric(pre1790CT['Month'], errors='coerce') >12) |
    (pd.to_numeric(pre1790CT['Month_Due'], errors='coerce') >12)
)
print(f'\nAmount of months over 12: {preCT_mask_strange_month}')

Amount of months over 12: 0       False
1       False
2       False
3       False
4       False
        ...
1096    False
1097    False
1098    False
1099    False
1100    False
Length: 1101, dtype: bool

In [6078]:
#Detect year values over 1790
preCT_mask_strange_year =  (
    (pd.to_numeric(pre1790CT['Year'], errors='coerce') >1790) |
    (pd.to_numeric(pre1790CT['Year_Due'], errors='coerce') >1790)
)
print(f'\nAmount of years over 1790: {preCT_mask_strange_year}')

Amount of years over 1790: 0       False
1       False
2       False
3       False
4       False
        ...
1096    False
1097    False
1098    False
1099    False
1100    False
Length: 1101, dtype: bool

### Preview of Very Similar Names:

In [6079]:
# columns to check separately
preCT_columns_to_check = ['First_Name', 'Last_Name','First_name.1', 'Last_name.1']

threshold = 90
all_matches = []

for col in preCT_columns_to_check:
    preCT_unique_vals = pre1790CT[col].dropna().unique().tolist()
    
    for val in preCT_unique_vals:
        result = process.extract(val, preCT_unique_vals, scorer=fuzz.token_sort_ratio)
        
        for match_val, score, _ in result:
            if val != match_val and score >= threshold:
                all_matches.append((col, val, match_val, score))

# Convert to DataFrame to review
preCT_fuzzy_matches = pd.DataFrame(all_matches, columns=['Column', 'Original', 'Match', 'Score'])
print(preCT_fuzzy_matches)

        Column     Original        Match      Score
0   First_Name      William     Williams  93.333333
1   First_Name       Jessee        Jesse  90.909091
2   First_Name        Eijah       Elijah  90.909091
3   First_Name       Elijah        Eijah  90.909091
4   First_Name     Williams      William  93.333333
5   First_Name       Elisha        Eisha  90.909091
6   First_Name       Ashbel      Ashbell  92.307692
7   First_Name      Matthew       Mathew  92.307692
8   First_Name      Ashbell       Ashbel  92.307692
9   First_Name    Nathaniel   Natnhaniel  94.736842
10  First_Name    Nathaniel  Nathaniel G  90.000000
11  First_Name     Jedediah    Jeddediah  94.117647
12  First_Name        Simon       Simeon  90.909091
13  First_Name        Jesse       Jessee  90.909091
14  First_Name       Israel        Israe  90.909091
15  First_Name       Simeon        Simon  90.909091
16  First_Name        Eisha       Elisha  90.909091
17  First_Name        Israe       Israel  90.909091
18  First_Name    Natnaniel   Natnhaniel  94.736842
19  First_Name   Natnhaniel    Nathaniel  94.736842
20  First_Name   Natnhaniel    Natnaniel  94.736842
21  First_Name       Mathew      Matthew  92.307692
22  First_Name    Jeddediah     Jedediah  94.117647
23  First_Name  Nathaniel G    Nathaniel  90.000000
24   Last_Name      Thomson     Thompson  93.333333
25   Last_Name     Thompson      Thomson  93.333333
26   Last_Name      Talcott     Tallcott  93.333333
27   Last_Name        Riley       Risley  90.909091
28   Last_Name       Badger        Bader  90.909091
29   Last_Name     Caldwell      Cadwell  93.333333
30   Last_Name       Wadham      Wadhams  92.307692
31   Last_Name      Holbert       Holber  92.307692
32   Last_Name       Beacch        Beach  90.909091
33   Last_Name      Cadwell     Caldwell  93.333333
34   Last_Name        Beach       Beacch  90.909091
35   Last_Name       Gibert      Gilbert  92.307692
36   Last_Name        Eells       Eelles  90.909091
37   Last_Name        Clark       Clarke  90.909091
38   Last_Name  Trothingham  Frothingham  90.909091
39   Last_Name     Tallcott      Talcott  93.333333
40   Last_Name      Langdon       Landon  92.307692
41   Last_Name       Risley        Riley  90.909091
42   Last_Name      Stoking     Stocking  93.333333
43   Last_Name     Stocking      Stoking  93.333333
44   Last_Name       Clarke        Clark  90.909091
45   Last_Name       Eelles        Eells  90.909091
46   Last_Name       Eelles        Elles  90.909091
47   Last_Name      Wadhams       Wadham  92.307692
48   Last_Name  Frothingham  Trothingham  90.909091
49   Last_Name       Barker        Baker  90.909091
50   Last_Name        Baker       Barker  90.909091
51   Last_Name        Elles       Eelles  90.909091
52   Last_Name      Gilbert       Gibert  92.307692
53   Last_Name       Landon      Langdon  92.307692
54   Last_Name        Akins       Atkins  90.909091
55   Last_Name        Bader       Badger  90.909091
56   Last_Name       Atkins        Akins  90.909091
57   Last_Name       Holber      Holbert  92.307692

In [6080]:
pre1790Marine = pd.read_csv('Marine_Liquidated_Debt_Certificates.csv')

In [6081]:
#Detect date values over 31
Marine_mask_strange_date =  (
    (pd.to_numeric(pre1790Marine['Day'], errors='coerce') >31) |
    (pd.to_numeric(pre1790Marine['Day_Due'], errors='coerce') >31)
)
print(f'\nAmount of dates over 31: {Marine_mask_strange_date}')

Amount of dates over 31: 0      False
1      False
2      False
3      False
4      False
       ...
773    False
774    False
775    False
776    False
777    False
Length: 778, dtype: bool

In [6082]:
#Detect month values over 12
Marine_mask_strange_month =  (
    (pd.to_numeric(pre1790Marine['Month'], errors='coerce') >12) |
    (pd.to_numeric(pre1790Marine['Month_Due'], errors='coerce') >12)
)
print(f'\nAmount of months over 12: {Marine_mask_strange_month}')

Amount of months over 12: 0      False
1      False
2      False
3      False
4      False
       ...
773    False
774    False
775    False
776    False
777    False
Length: 778, dtype: bool

In [6083]:
#Detect year values over 1790
Marine_mask_strange_year =  (
    (pd.to_numeric(pre1790Marine['Year'], errors='coerce') >1790) |
    (pd.to_numeric(pre1790Marine['Year_Due'], errors='coerce') >1790)
)
print(f'\nAmount of years over 1790: {Marine_mask_strange_year}')

Amount of years over 1790: 0      False
1      False
2      False
3      False
4      False
       ...
773    False
774    False
775    False
776    False
777    False
Length: 778, dtype: bool

### Preview of Very Similar Names:

In [6084]:
# columns to check separately
Marine_columns_to_check = ['First_Name', 'Last_Name']

threshold = 90
all_matches = []

for col in Marine_columns_to_check:
    Marine_unique_vals = pre1790Marine[col].dropna().unique().tolist()
    
    for val in Marine_unique_vals:
        result = process.extract(val, Marine_unique_vals, scorer=fuzz.token_sort_ratio)
        
        for match_val, score, _ in result:
            if val != match_val and score >= threshold:
                all_matches.append((col, val, match_val, score))

# Convert to DataFrame to review
Marine_fuzzy_matches = pd.DataFrame(all_matches, columns=['Column', 'Original', 'Match', 'Score'])
print(Marine_fuzzy_matches)

        Column                   Original                      Match  \
0   First_Name                    Richard                   Richard
1   First_Name                  Nathaniel                Nathaniel R
2   First_Name                       John                      John
3   First_Name                     Joseph                      Josep
4   First_Name                     Moses                       Moses
5   First_Name                    Philips                     Philip
6   First_Name                    Philips                    Philip
7   First_Name                     Simeon                      Simon
8   First_Name                Nathaniel R                  Nathaniel
9   First_Name                     Philip                    Philip
10  First_Name                     Philip                    Philips
11  First_Name  Estate of Lambert Wickes    Estate of Lambert Wickes
12  First_Name   Estate of Lambert Wickes  Estate of Lambert Wickes
13  First_Name                      Simon                     Simeon
14  First_Name                      Moses                     Moses
15  First_Name                      Josep                     Joseph
16  First_Name                   Richard                     Richard
17  First_Name                    Philip                      Philip
18  First_Name                    Philip                     Philips
19  First_Name                      John                        John
20   Last_Name                    Ingrham                   Ingraham
21   Last_Name                   Ingraham                    Ingrham
22   Last_Name                      Bower                     Brower
23   Last_Name                     Brower                      Bower
24   Last_Name                   Williams                    William
25   Last_Name                     Morgan                      Moran
26   Last_Name                   Gardiner                    Gardner
27   Last_Name                      Green                     Greene
28   Last_Name                    Gardner                   Gardiner
29   Last_Name                     Morant                      Moran
30   Last_Name            Wooder deceased           Woodrow deceased
31   Last_Name                      Moran                     Morgan
32   Last_Name                      Moran                     Morant
33   Last_Name            Hilton deceased          Hamilton deceased
34   Last_Name            Warner deceased           Gardner deceased
35   Last_Name           Woodrow deceased            Wooder deceased
36   Last_Name                      Downe                     Downer
37   Last_Name           Gardner deceased            Warner deceased
38   Last_Name          Hamilton deceased            Hilton deceased
39   Last_Name                    William                   Williams
40   Last_Name           Rassell deceased           Russell deceased
41   Last_Name                     Greene                      Green
42   Last_Name                     Downer                      Downe
43   Last_Name           Russell deceased           Rassell deceased

         Score
0   100.000000
1    90.000000
2   100.000000
3    90.909091
4   100.000000
5    92.307692
6    92.307692
7    90.909091
8    90.000000
9   100.000000
10   92.307692
11  100.000000
12  100.000000
13   90.909091
14  100.000000
15   90.909091
16  100.000000
17  100.000000
18   92.307692
19  100.000000
20   93.333333
21   93.333333
22   90.909091
23   90.909091
24   93.333333
25   90.909091
26   93.333333
27   90.909091
28   93.333333
29   90.909091
30   90.322581
31   90.909091
32   90.909091
33   93.750000
34   90.322581
35   90.322581
36   90.909091
37   90.322581
38   93.750000
39   93.333333
40   93.750000
41   90.909091
42   90.909091
43   93.750000

In [6085]:
pre1790 = pd.read_csv('agg_debt_david.csv')

/var/folders/3f/77w9tyf13fvfq2c4rg1tp9x40000gn/T/ipykernel_3882/672682903.py:1: DtypeWarning: Columns (1,10,12,13,17,18,23,30) have mixed types. Specify dtype option on import or set low_memory=False.
  pre1790 = pd.read_csv('agg_debt_david.csv')

In [6086]:
#rid of duplicates
pre1790.drop_duplicates(inplace=True)

In [6087]:
#duplicates (make sure there's no more)
pre1790_new_dupcount = pre1790.duplicated().sum()
print('number of duplicates:')
print(pre1790_new_dupcount)

number of duplicates:
0

In [6088]:
#missing
pre_missing_summary = pre1790.isnull().sum().to_frame(name='pre_missing_count')
pre_missing_summary['pre_missing_percent'] = 100 * pre_missing_summary['pre_missing_count'] / len(pre1790)
print("Missing Value Summary:")
print(pre_missing_summary.sort_values('pre_missing_percent', ascending=False))

Missing Value Summary:
                                       pre_missing_count  pre_missing_percent
to whom due | title.1                              94467            99.998941
total dollars | notes.1                            94465            99.996824
amount | 10th                                      94458            99.989414
exchange                                           94359            99.884617
total dollars | notes                              94101            99.611509
notes                                              94028            99.534234
amount in specie | cents                           93690            99.176441
amount | 8th                                       93550            99.028242
to whom due | last name.1                          93222            98.681035
to whom due | first name.1                         93219            98.677859
delivered | year                                   92950            98.393107
delivered | day                                    92950            98.393107
delivered | month                                  92950            98.393107
line strike through? | yes?                        91377            96.727993
to whom due | title                                86782            91.863912
amount | 90th                                      84613            89.567896
line strike through? | note                        81662            86.444087
time when the debt became due | year               80960            85.700978
time when the debt became due | day                80939            85.678748
time when the debt became due | month              80936            85.675573
letter                                             80930            85.669221
amount in specie | dollars                         12599            13.336791
to whom due | last name                             4351             4.605792
amount | dollars                                     866             0.916713
state                                                767             0.811915
to whom due | first name                              41             0.043401
date of the certificate | day                         34             0.035991
date of the certificate | month                       16             0.016937
date of the certificate | year                        15             0.015878
org_index                                              0             0.000000
org_file                                               0             0.000000
Unnamed: 0                                             0             0.000000

### Important note:
A lot of these do have 99% missing; I have checked the data set and for the most part these columns to the right of org_index are generally empty.

In [6089]:
#uncombined rows 
pre_amount_fields = ['amount | dollars', 'amount | 90th']
pre_mask_name_missing = pre1790[[
    'to whom due | first name',
    'to whom due | last name',
    'to whom due | first name.1',
    'to whom due | last name.1',
    'to whom due | title.1',
    'to whom due | title'
]].isnull().any(axis=1)

pre_mask_amount_present = pre1790[pre_amount_fields].notnull().any(axis=1)
pre_mask_uncombined = pre_mask_name_missing & pre_mask_amount_present

In [6090]:
#typos? (more unique values than there should be)
pre_string_cols = pre1790.select_dtypes(include='object')
pre_string_uniques = pre_string_cols.nunique(dropna=False).to_frame(name='pre_unique_values')
print("Unique value counts for all string columns:")
print(pre_string_uniques.sort_values('pre_unique_values', ascending=False))

Unique value counts for all string columns:
                                      pre_unique_values
to whom due | last name                           11418
to whom due | first name                           3696
line strike through? | note                        2252
total dollars | notes                               177
to whom due | last name.1                           166
time when the debt became due | day                 114
to whom due | first name.1                          107
to whom due | title                                  85
notes                                                76
time when the debt became due | year                 55
exchange                                             36
letter                                               23
state                                                11
org_file                                              6
to whom due | title.1                                 2

In [6091]:
#convert dates to datetime (format)
pre_date_cols = [col for col in pre1790.columns if ('date' in col.lower()) or ('time' in col.lower())]
for col in pre_date_cols:
    pre1790[col] = pd.to_datetime(pre1790[col], errors='coerce')

/var/folders/3f/77w9tyf13fvfq2c4rg1tp9x40000gn/T/ipykernel_3882/3962744037.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pre1790[col] = pd.to_datetime(pre1790[col], errors='coerce')
/var/folders/3f/77w9tyf13fvfq2c4rg1tp9x40000gn/T/ipykernel_3882/3962744037.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pre1790[col] = pd.to_datetime(pre1790[col], errors='coerce')

In [6092]:
#converting numbers to number types (format)
pre_numeric_pattern = ['amount']
pre_numeric_obj_cols = [col for col in pre1790.select_dtypes(include = 'object').columns if any (pat in col for pat in pre_numeric_pattern)]
for col in pre_numeric_obj_cols:
    pre1790[col] = pd.to_numeric(pre1790[col].str.replace(',', ''), errors = 'coerce')

In [6093]:
#detect negatives
pre_mask_negative = pre1790[[col for col in pre1790.columns if any(pat in col for pat in pre_numeric_pattern)]].lt(0).any(axis = 1)
print(f'\aAmount of negative values: {pre_mask_negative.sum()}')

Amount of negative values: 0

In [6094]:
#detect date values over 31
pre_mask_strange_date = pd.to_numeric(pre1790['date of the certificate | day'], errors='coerce') >31
pre_mask_strange_due_date = pd.to_numeric(pre1790['time when the debt became due | day'], errors='coerce') >31
strange_date_sum = pre_mask_strange_date.sum() + pre_mask_strange_due_date.sum()
print(f'\nAmount of dates over 31: {strange_date_sum}')

Amount of dates over 31: 9

In [6095]:
#detect month values over 12 
pre_mask_strange_month= pd.to_numeric(pre1790['date of the certificate | month'], errors='coerce') >12
pre_mask_strange_due_month= pd.to_numeric(pre1790['time when the debt became due | month'], errors='coerce') >12
strange_month_sum = pre_mask_strange_month.sum() + pre_mask_strange_due_month.sum()
print(f'\nAmount of months that are over 12: {strange_month_sum}')

Amount of months that are over 12: 2505

In [6096]:
# columns to check separately
columns_to_check = ['to whom due | first name', 'to whom due | last name', 'to whom due | first name.1','to whom due | last name.1']

threshold = 90
all_matches = []

for col in columns_to_check:
    unique_vals = pre1790[col].dropna().unique().tolist()
    
    for val in unique_vals:
        result = process.extract(val, unique_vals, scorer=fuzz.token_sort_ratio)
        
        for match_val, score, _ in result:
            if val != match_val and score >= threshold:
                all_matches.append((col, val, match_val, score))

In [6097]:
# Convert to DataFrame to review
fuzzy_matches = pd.DataFrame(all_matches, columns=['Column', 'Original', 'Match', 'Score'])
print(fuzzy_matches)

                         Column  Original     Match       Score
0      to whom due | first name   William  Williams   93.333333
1      to whom due | first name   William    Wiliam   92.307692
2      to whom due | first name   William    Willam   92.307692
3      to whom due | first name   Eleazer  Elieazer   93.333333
4      to whom due | first name      John     John   100.000000
...                         ...       ...       ...         ...
5309  to whom due | last name.1   Wilkoff    Wikoff   92.307692
5310  to whom due | last name.1   Wilkoff    Wiloff   92.307692
5311  to whom due | last name.1  Sergeant   Sergant   93.333333
5312  to whom due | last name.1   Sergant  Sergeant   93.333333
5313  to whom due | last name.1  Sterling   Sterlin   93.333333

[5314 rows x 4 columns]

In [6098]:
#suspicious rows 
pre1790['listed suspicious row'] = False
pre1790['reason for being suspicious'] = ''

pre_mask_many_missing = pre1790.isnull().sum(axis=1) > pre1790.shape[1]/4
pre1790.loc[pre_mask_many_missing, 'listed suspicious row'] = True
pre1790.loc[pre_mask_many_missing, 'reason for being suspicious'] += 'More than 25% missing'

pre1790.loc[pre_mask_negative, 'listed suspicious row'] = True
pre1790.loc[pre_mask_negative, 'reason for being suspicious'] += 'Negative value'

pre1790.loc[pre_mask_uncombined, 'listed suspicious row'] = True
pre1790.loc[pre_mask_uncombined, 'reason for being suspicious'] = 'Uncombined Row, name is missing but amount is not'


pre1790.loc[pre_mask_strange_date, 'listed suspicious row'] = True
pre1790.loc[pre_mask_strange_date, 'reason for being suspicious'] = 'Date is over 31'


pre1790.loc[pre_mask_strange_month, 'listed suspicious row'] = True
pre1790.loc[pre_mask_strange_month, 'reason for being suspicious'] = 'Month is after December'

In [6099]:
#clean vs suspicious
clean_pre1790 = pre1790[~pre1790['listed suspicious row']]
suspicious_pre1790 = pre1790[pre1790['listed suspicious row']]

In [6100]:
#save clean & suspicious
clean_pre1790.to_csv("cleaned_agg_debt_david.csv", index=False)
suspicious_pre1790.to_csv("suspicious_agg_debt_david.csv", index=False)

In [6101]:
#print suspicious row summary
print(f"Suspicious rows: {pre1790['listed suspicious row'].sum()}")
print("\nPreview of Suspicious Rows:")
print(suspicious_pre1790.head(5))

Suspicious rows: 94468

Preview of Suspicious Rows:
   Unnamed: 0 letter date of the certificate | month  \
0           0      A   1970-01-01 00:00:00.000000006
1           1      B   1970-01-01 00:00:00.000000006
2           2      C   1970-01-01 00:00:00.000000007
3           3      D   1970-01-01 00:00:00.000000007
4           4      E   1970-01-01 00:00:00.000000007

  date of the certificate | day date of the certificate | year  \
0 1970-01-01 00:00:00.000000028  1970-01-01 00:00:00.000001783
1 1970-01-01 00:00:00.000000030  1970-01-01 00:00:00.000001783
2 1970-01-01 00:00:00.000000001  1970-01-01 00:00:00.000001783
3 1970-01-01 00:00:00.000000002  1970-01-01 00:00:00.000001783
4 1970-01-01 00:00:00.000000003  1970-01-01 00:00:00.000001783

  to whom due | first name to whom due | last name to whom due | title  \
0                   Thomas               Dickenson                 NaN
1                     Paul                   Noyes                 NaN
2                  William                Redfield                 NaN
3                  Eleazer                  Conant                 NaN
4                 Prentice                  Hoomer               Lieut

  to whom due | first name.1 to whom due | last name.1  ...  \
0                       Ezek                     Lewis  ...
1                        NaN                       NaN  ...
2                        NaN                       NaN  ...
3                        NaN                       NaN  ...
4                        NaN                       NaN  ...

  amount in specie | dollars amount in specie | cents amount | 8th  \
0                        NaN                      NaN          NaN
1                        NaN                      NaN          NaN
2                        NaN                      NaN          NaN
3                        NaN                      NaN          NaN
4                        NaN                      NaN          NaN

  delivered | month  delivered | day  delivered | year  total dollars | notes  \
0               NaN              NaN               NaN                    NaN
1               NaN              NaN               NaN                    NaN
2               NaN              NaN               NaN                    NaN
3               NaN              NaN               NaN                    NaN
4               NaN              NaN               NaN                    NaN

  total dollars | notes.1 listed suspicious row  \
0                     NaN                  True
1                     NaN                  True
2                     NaN                  True
3                     NaN                  True
4                     NaN                  True

                         reason for being suspicious
0  Uncombined Row, name is missing but amount is not
1  Uncombined Row, name is missing but amount is not
2  Uncombined Row, name is missing but amount is not
3  Uncombined Row, name is missing but amount is not
4  Uncombined Row, name is missing but amount is not

[5 rows x 34 columns]