In [21]:
import pandas as pd
import numpy as np
from whoswho import who
from rapidfuzz import process

In [22]:
def stringToList(x):
    return x.strip('][\"\'').split(', ') if not pd.isnull(x) else x

In [23]:
matching = pd.read_csv("../Data/final_matching.csv", index_col = 0)
matching_post1790 = pd.read_csv("../Data/final_matching_post1790.csv", index_col = 0)

In [24]:
all_matches_post1790 = pd.read_csv('../Data/total_matching_post1790.csv', index_col = 0)

In [25]:
matching_merged = pd.concat([matching, matching_post1790]).drop_duplicates()
matching_merged = matching_merged[matching_merged['Scores'] != 100][['Delegates', 'Loan Matches', 'state']]
matching_merged.columns = ['Original Name', 'Matches', 'state']
all_matches_post1790.columns = ['Original Name', 'Matches', 'state']
final_matching = pd.concat([matching_merged, all_matches_post1790], axis = 0)
final_matching.reset_index(drop = True, inplace = True)

In [26]:
final_matching

           Original Name            Matches state
0     William C. Houston  William C. Huston   5.0
1       William Paterson  William Palterson   5.0
2       William Paterson  William Patterson   6.0
3        Oliver Elsworth   Oliver Ellsworth   3.0
4        Nicholas Gilman     Nichols Gilman   1.0
...                  ...                ...   ...
3321         John Wilson     John 2d Wilson    VA
3322          James Gray       James W Gray    VA
3323       William Smith    William S Smith    VA
3324       William Smith    William V Smith    VA
3325         James Smith     James 3d Smith    VA

[3326 rows x 3 columns]

In [9]:
final_matching.to_csv('../ML_Proj/matching.csv')