## Ancestry Seach

<b>Goal: </b>Multiple different spellings of a name can be referring to the same identity. We will use a phonetics library and Ancestry to fix this. An example: ```David Schaffer``` and ```David Schafer``` from `MA`. 

<b>Steps: </b>
1. Login to Emory's Ancestry subscription 
2. Iterate through ```agg_debt```, through each debt entry. 
3. Use a combination of phonetics fuzzy string matching and normal fuzzy string matching to determine if two names from a state are similar.  
4. Search each name in Ancestry: Edit URL (state and person's name). 
5. Check if there are any results for both person's name:
    - Yes: Check if one spelling of the name appears for both individuals (that's most likely the correct spelling of that name) 
    - No: Leave entries as two separate entries. 
6. Record name change in ```fixes``` list (save ```fixes``` as ```out.csv``` too). 
7. Run ```agg_debt``` through ```fixes```, making changes as necessary. 
8. Save ```agg_debt``` as a new .csv file.

<b style="color: red;">Note: Runtime is long. This is due to the fact there are over 200,000 debt entries and accessing Ancestry takes time too. </b>

In [1]:
# import necessary fuzzy string libraries 
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.support.expected_conditions import element_to_be_clickable, presence_of_element_located
from selenium.webdriver.support.wait import WebDriverWait
from selenium.common.exceptions import NoSuchElementException
from phonetics import metaphone
from rapidfuzz import fuzz
from joblib import Parallel, delayed, cpu_count
from itertools import zip_longest
import time 
import getpass
import pickle
import pandas as pd
import numpy as np
import ast

In [96]:
agg_debt = pd.read_csv('data/agg_debt_grouped_updated.csv')

C:\Users\david\AppData\Local\Temp\ipykernel_49640\2714780960.py:1: DtypeWarning: Columns (2,10,11,13,15,16,20,21,22,24,31) have mixed types. Specify dtype option on import or set low_memory=False.
  agg_debt = pd.read_csv('data/agg_debt_grouped_updated.csv')

In [97]:
# Find number of unique individuals in `agg_debt`
agg_debt.groupby(['to whom due | first name', 'to whom due | last name']).ngroups

65734

In [89]:
agg_debt['to whom due | first name'] = agg_debt['to whom due | first name'].astype(str)
agg_debt['to whom due | last name'] = agg_debt['to whom due | last name'].astype(str)

In [4]:
name_changes = pd.read_csv('data/name_changes_david.csv')

In [5]:
agg_debt.head()

,Unnamed: 0,index,letter,date of the certificate | month,date of the certificate | day,date of the certificate | year,to whom due | first name,to whom due | last name,to whom due | title,time when the debt became due | month,...,amount | 10th,exchange,amount in specie | dollars,amount in specie | cents,amount | 8th,delivered | month,delivered | day,delivered | year,total dollars | notes,total dollars | notes.1
0,0,NaN,NaN,NaN,NaN,NaN,nan,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0.0,C,8.0,27.0,1783.0,Elizabeth,Lowell,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2.0,G,8.0,27.0,1783.0,Joshua,Brackett,Esq,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3.0,C,9.0,2.0,1783.0,Phillips,White,Esq,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4.0,B,9.0,2.0,1783.0,William,White,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Check to make sure pierce certificate first name and last name columns are properly swapped
agg_debt.loc[agg_debt['org_file'] == 'Pierce_Certs_cleaned_2019.xlsx'].head()

,Unnamed: 0,index,letter,date of the certificate | month,date of the certificate | day,date of the certificate | year,to whom due | first name,to whom due | last name,to whom due | title,time when the debt became due | month,...,amount | 10th,exchange,amount in specie | dollars,amount in specie | cents,amount | 8th,delivered | month,delivered | day,delivered | year,total dollars | notes,total dollars | notes.1
14015,14015,15296.0,NaN,NaN,NaN,NaN,Mason,Abbe,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14016,14016,15298.0,NaN,NaN,NaN,NaN,John,Abbee,Jun,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14017,14017,15299.0,NaN,NaN,NaN,NaN,Richard,Abbet,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14018,14018,15300.0,NaN,NaN,NaN,NaN,Reuben,Abbett,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14019,14019,15301.0,NaN,NaN,NaN,NaN,Richard,Abbett,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
name_changes.tail()

,Unnamed: 0,title_org,title_new,first_name_org,last_name_org,first_name_new,last_name_new,cleaning case,file_loc,org_index
1627,1627,NaN,NaN,Jn,Gallaher Esq,John,Gallaher Esq,5,loan_office_certificates_9_states.xlsx,62583
1628,1628,NaN,NaN,Rich,Thompson,Richard,Thompson,5,loan_office_certificates_9_states.xlsx,69947
1629,1629,NaN,NaN,Rich,Thompson,Richard,Thompson,5,loan_office_certificates_9_states.xlsx,69948
1630,1630,NaN,NaN,Rich,Thompson,Richard,Thompson,5,loan_office_certificates_9_states.xlsx,69949
1631,1631,NaN,NaN,Rich,Thompson,Richard,Thompson,5,loan_office_certificates_9_states.xlsx,69950

In [8]:
# Options
options = Options()
options.add_argument('--headless')
options.add_argument("--window-size=1000,1000")
options.add_argument('--disable-blink-features=AutomationControlled')
options.add_argument('--no-sandbox')

In [9]:
agg_debt.state.unique()

array([nan, 'nh', 'nj', 'ny', 'ma', 'de', 'ct', 'va', 'pa', 'md', 'nc',
       'cs', 'ga', 'ri', 'f'], dtype=object)

In [10]:
# Voter records and censuses available for every state 
records = {
    'nh':['https://www.ancestrylibrary.com/search/collections/5058/'],
    'nj':['https://www.ancestrylibrary.com/search/collections/2234/', 
          'https://www.ancestrylibrary.com/search/collections/3562/'],
    'ny':['https://www.ancestrylibrary.com/search/collections/5058/'],
    'ma':['https://www.ancestrylibrary.com/search/collections/5058/'], 
    'ct':['https://www.ancestrylibrary.com/search/collections/5058/'], 
    'va':['https://www.ancestrylibrary.com/search/collections/2234/', 
         'https://www.ancestrylibrary.com/search/collections/3578/'], 
    'pa':['https://www.ancestrylibrary.com/search/collections/2702/',
         'https://www.ancestrylibrary.com/search/collections/2234/',
         'https://www.ancestrylibrary.com/search/collections/3570/'],
    'md':['https://www.ancestrylibrary.com/search/collections/3552/'],
    'nc':['https://www.ancestrylibrary.com/search/collections/3005/', 
         'https://www.ancestrylibrary.com/search/collections/2234/'],
    'ga':['https://www.ancestrylibrary.com/search/collections/2234/'],
    'ri':['https://www.ancestrylibrary.com/search/collections/3571/']
}

# Ancestry has unique urls for each state
residence_urls = {
    'nh':'_new+hampshire-usa_32',
    'nj':'_new+jersey-usa_33', 
    'ny':'_new+york-usa_35',
    'ma':'_massachusetts-usa_24',
    'ct':'_connecticut-usa_9',
    'va':'_virginia-usa_49', 
    'pa':'_pennsylvania-usa_41',
    'md':'_maryland-usa_23',
    'nc':'_north+carolina-usa_36',
    'ga':'_georgia-usa_13',
    'ri':'_rhode+island-usa_42'
}

In [11]:
# Remove 'cs' (congress) and 'f' (foreign officers); these are not state, but specific regiments / types of officers
agg_debt_copy = agg_debt[(agg_debt['state'] != 'cs') & (agg_debt['state'] != 'f') & (agg_debt['state'] != 'de')]

ct
ga
ma
md
nc
nh
nj
ny
pa
ri
va

In [12]:
# Store all similar_names files as Pandas Dataframes
similar_names_dfs = {}
for state in agg_debt_sp.groups:
    similar_names_dfs[state] = pd.read_csv('data/similar names/similar_names_' + state + '.csv') 

print(len(similar_names_dfs))

11

In [13]:
netid_xpath = '/html/body/div[1]/div[2]/section/div[1]/div/form/fieldset/div[1]/input'
password_xpath = '/html/body/div[1]/div[2]/section/div[1]/div/form/fieldset/div[2]/input'
login_btn0_xpath = '/html/body/main/div/div/div/a'
login_btn1_xpath = '/html/body/div[1]/div[2]/section/div[1]/div/form/fieldset/div[3]/button'

# Ask for a password and username 
username = input('username: ')
password = getpass.getpass(prompt='password: ')

driver_objs = {}

# Create a new driver object for each state
for i in range(cpu_count()):
    webdriver_obj = webdriver.Chrome(service=Service(executable_path="chromedriver.exe"), options=options)
    driver_objs[i] = (webdriver_obj, WebDriverWait(webdriver_obj, 30))

'''
# create a new wait object for each state
for st in cpu_count:
    webdriver_obj = driver_objs[st][0]
    driver_objs[st].append(WebDriverWait(webdriver_obj, 30))
'''
    
# For each driver object, access emory's ancestry's subscription 
for i in range(cpu_count()):
    webdriver_obj = driver_objs[i][0]
    wait_obj = driver_objs[i][1]
    
    # Go to Emory's library 
    webdriver_obj.get('https://guides.libraries.emory.edu/ALE')
    wait_obj.until(element_to_be_clickable((By.XPATH, login_btn0_xpath))).click()
    
    # Input login information and click 'login'
    netid_input = wait_obj.until(element_to_be_clickable((By.XPATH, netid_xpath)))
    netid_input.click()
    netid_input.send_keys(username)
    pass_input = wait_obj.until(element_to_be_clickable((By.XPATH, password_xpath)))
    pass_input.click()
    pass_input.send_keys(password) 
    wait_obj.until(element_to_be_clickable((By.XPATH, login_btn1_xpath))).click()
    time.sleep(1)
    
    webdriver_obj.get('https://www.ancestrylibrary.com/search/collections/5058/')
    print(webdriver_obj.current_url)
    
    print(webdriver_obj)

username: dcho52
password: Â·Â·Â·Â·Â·Â·Â·Â·
https://www.ancestrylibrary.com/search/collections/5058/
<selenium.webdriver.chrome.webdriver.WebDriver (session="be8ee6eee56605128927fbda4c0f078e")>
https://www.ancestrylibrary.com/search/collections/5058/
<selenium.webdriver.chrome.webdriver.WebDriver (session="5b6f54551c2effc31dea3b2046092aba")>
https://www.ancestrylibrary.com/search/collections/5058/
<selenium.webdriver.chrome.webdriver.WebDriver (session="35fd95d190d8ad6f0a6df7cd3b2ba197")>
https://www.ancestrylibrary.com/search/collections/5058/
<selenium.webdriver.chrome.webdriver.WebDriver (session="23aec69e1c6288db0f32caf97632748a")>
https://www.ancestrylibrary.com/search/collections/5058/
<selenium.webdriver.chrome.webdriver.WebDriver (session="fadcd696f5433b35b785c3bc86bc81ca")>
https://www.ancestrylibrary.com/search/collections/5058/
<selenium.webdriver.chrome.webdriver.WebDriver (session="2ddf264882e3cb208a08b42d588b0bf8")>
https://www.ancestrylibrary.com/search/collections/5058/
<selenium.webdriver.chrome.webdriver.WebDriver (session="0737e18da404a434427b8e3799ce6d2a")>

In [14]:
print(len(driver_objs))

7

## Accessing Ancestry

In [14]:
# When running this code for the first time, set all variables equal to '[]'

'''
ancestry_name_changes = []
rerun_rows = []
checked = []
fixes = []
'''

'\nancestry_name_changes = []\nrerun_rows = []\nchecked = []\nfixes = []\n'

In [15]:
%store -r ancestry_name_changes
%store -r rerun_rows
%store -r checked
%store -r fixes

In [16]:
def access_ancestry(row0, state, driver, wait):
    fn0 = str(row0['to whom due | first name'])
    ln0 = str(row0['to whom due | last name'])
    matches = ast.literal_eval(row0['matches'])
    name0 = fn0 + ' ' + ln0

    for match in matches:
        row1 = agg_debt.loc[[match[2]]] 
        fn1 = str(row1['to whom due | first name'].values[0])
        ln1 = str(row1['to whom due | last name'].values[0])
        name1 = fn1 + ' ' + ln1
        if ((name0, name1, state) not in checked and (name1, name0, state) not in checked): 
            search_ancestry(fn0, ln0, fn1, ln1, row0, row1, state, driver, wait)
            checked.append((name0, name1, state))
            %store checked

In [17]:
# Look up both names in Ancestry's database
def search_ancestry(fn0, ln0, fn1, ln1, row0, row1, state, driver, wait):
    name0 = fn0 + ' ' + ln0
    name1 = fn1 + ' ' + ln1
    
    # Loop through state urls 
    for url in records[state]:        
        try:
            # Search for person 0
            url0 = url + '?name=' + fn0 + '_' + ln0 + '&name_x=ps&residence=1780' + residence_urls[state] + '&residence_x=10-0-0_1-0'
            driver.get(url0) 
            # Results were found for person 0
            try:
                # Use class_name to find result text
                result0 = wait.until(presence_of_element_located((By.CLASS_NAME, 'srchHit'))).text
            # No results were found; Keep entries separate  
            except:
                result0 = ''
            
            # Search for person 1
            url1 = url + '?name=' + fn1 + '_' + ln1 + '&name_x=ps&residence=1780' + residence_urls[state] + '&residence_x=10-0-0_1-0'
            driver.get(url1) 
            # results were found for person1
            try: 
                # use class_name to find result text
                result1 = wait.until(presence_of_element_located((By.CLASS_NAME, 'srchHit'))).text
            # no results were found; keep entries separate
            except:
                result1 = ''    

            '''
            compare results:
            if both results are empty, do not add to fixes dict 
            if both results are different, do not add to fixes dict
            if both results are the same, add to fixes dict
                find correct name
                if name0 = result0 and result1 : {name1 : name0}
                if name1 = result1 and result0 : {name0 : name0} 
            '''
            
            print('---------------------------+')
            if result0 == result1 and result0 != '' and result1 != '':
                if name0 == result0 and name0 == result1: # name0 must be the correct version of the name 
                    # record change
                    title1 = row1['to whom due | title']
                    org_file1 = row1['org_file']
                    org_index1 = row1['org_index'] 
                    ancestry_name_changes.append([title1, title1, fn1, ln1, fn0, ln0, 6, org_file1, org_index1, state])
                    %store ancestry_name_changes
                    fixes.append({fn1: fn0, ln1: ln0, 'state': state})
                    %store fixes

                elif name1 == result0 and name1 == result1: # name1 must be the correct version of the name 
                    # record change
                    title0 = row0['to whom due | title']
                    org_file0 = row0['org_file']
                    org_index0 = row0['org_index'] 
                    ancestry_name_changes.append([title0, title0, fn0, ln0, fn1, ln1, 6, org_file0, org_index0, state])
                    %store ancestry_name_changes
                    fixes.append({fn0: fn1, ln0: ln1, 'state': state})
                    %store fixes

            print('Summary')
            print('name0=' + str(name0))
            print('name1=' + str(name1))
            print('url-0=' + str(url0))
            print('url-1=' + str(url1))
            print('result0=' + str(result0))
            print('result1=' + str(result1))
            print('state=' + str(state))

            '''
            print('fn0=' + str(fn0))
            print('ln0=' + str(ln0))
            print('fn1=' + str(fn1))
            print('ln1=' + str(ln1))
            '''
            print('index=' + str(row0['index']))
            print('rerun_rows length=' + str(len(rerun_rows)))
            print('name_changes length=' + str(len(ancestry_name_changes)))
            print('fixes length=' + str(len(fixes)))
            '''
            print('file_name0=' + str(org_file0))
            print('file_name1=' + str(org_file1))
            '''
            print('---------------------------+')
        
        # there was error trying to access ancestry's records
        except Exception as e:
            print('---------------------------+')
            print('Error')
            print(e)
            '''
            print('name0=' + str(name0))
            print('name1=' + str(name1))
            print('title1=' + str(type(title1)))
            print('title0=' + str(type(title0)))
            print('title1=' + str(title1))
            print('title0=' + str(title0))
            print('org_file1=' + str(org_file1))
            print('org_file0=' + str(org_file0))
            print('index=' + str(index))
            '''
            print('---------------------------+')
            if (row0, row1) not in rerun_rows:
                rerun_rows.append((row0, row1)) 
                %store rerun_rows

In [18]:
print(len(ancestry_name_changes))
print(len(rerun_rows))

2193

In [29]:
# Merge all the separate similar_names files into one larger DataFrame
similar_names = []
for state in agg_debt_sp.groups:
    similar_names.append(similar_names_dfs[state])
similar_names_df = pd.concat(similar_names)
print(len(similar_names_df))

[      Unnamed: 0.1  Unnamed: 0     index letter  \
0            14308       14308   15993.0    NaN
1            14319       14319   16020.0    NaN
2            14431       14431   16400.0    NaN
3            14480       14480   16508.0    NaN
4            14510       14510   16562.0    NaN
...            ...         ...       ...    ...
1487         73241       73241  147819.0    NaN
1488         73242       73242  147820.0    NaN
1489         73243       73243  147821.0    NaN
1490         73248       73248  147832.0    NaN
1491         73255       73255  147857.0    NaN

      date of the certificate | month  date of the certificate | day  \
0                                 NaN                            NaN
1                                 NaN                            NaN
2                                 NaN                            NaN
3                                 NaN                            NaN
4                                 NaN                            NaN
...                               ...                            ...
1487                              2.0                           12.0
1488                              2.0                           12.0
1489                              2.0                           12.0
1490                              2.0                           16.0
1491                              2.0                           18.0

      date of the certificate | year to whom due | first name  \
0                                NaN                      Gad
1                                NaN                      Gad
2                                NaN                   Thomas
3                                NaN                     John
4                                NaN                   Thomas
...                              ...                      ...
1487                          1780.0                   Elisha
1488                          1780.0                  Timothy
1489                          1780.0                  Timothy
1490                          1780.0                   Joshua
1491                          1780.0                    Isaac

     to whom due | last name to whom due | title  ...  \
0                    Aldeman                 NaN  ...
1                   Alderman                 NaN  ...
2                      Allen                 NaN  ...
3                      Allyn                 Jun  ...
4                       Alyn                 NaN  ...
...                      ...                 ...  ...
1487                  Taylor                 Col  ...
1488                  Greene                 NaN  ...
1489                   Green                 NaN  ...
1490                  Rogers                 NaN  ...
1491                  Talman                 Maj  ...

      amount in specie | dollars  amount in specie | cents  amount | 8th  \
0                            NaN                       NaN           NaN
1                            NaN                       NaN           NaN
2                            NaN                       NaN           NaN
3                            NaN                       NaN           NaN
4                            NaN                       NaN           NaN
...                          ...                       ...           ...
1487                    11.50556                       NaN           NaN
1488                    11.50556                       NaN           NaN
1489                    14.38194                       NaN           NaN
1490                    28.30556                       NaN           NaN
1491                    28.08333                       NaN           NaN

      delivered | month  delivered | day  delivered | year  \
0                   NaN              NaN               NaN
1                   NaN              NaN               NaN
2                   NaN              NaN               NaN
3                   NaN              NaN               NaN
4                   NaN              NaN               NaN
...                 ...              ...               ...
1487                NaN              NaN               NaN
1488                NaN              NaN               NaN
1489                NaN              NaN               NaN
1490                NaN              NaN               NaN
1491                NaN              NaN               NaN

     total dollars | notes total dollars | notes.1       full name  \
0                      NaN                     NaN     Gad Aldeman
1                      NaN                     NaN    Gad Alderman
2                      NaN                     NaN    Thomas Allen
3                      NaN                     NaN      John Allyn
4                      NaN                     NaN     Thomas Alyn
...                    ...                     ...             ...
1487                   NaN                     NaN   Elisha Taylor
1488                   NaN                     NaN  Timothy Greene
1489                   NaN                     NaN   Timothy Green
1490                   NaN                     NaN   Joshua Rogers
1491                   NaN                     NaN    Isaac Talman

                                                matches
0          [('Gad Alderman', 95.65217391304348, 14319)]
1           [('Gad Aldeman', 95.65217391304348, 14308)]
2          [('Thomas Allyn', 91.66666666666666, 68950)]
3                         [('John Allen', 90.0, 51316)]
4          [('Thomas Allyn', 95.65217391304348, 68950)]
...                                                 ...
1487       [('Elisha Tayler', 92.3076923076923, 71733)]
1488       [('Timothy Green', 96.2962962962963, 69609)]
1489      [('Timothy Greene', 96.2962962962963, 73077)]
1490  [('Joshua Rigers', 92.3076923076923, 71116), (...
1491  [('Isaac I Talman', 95.0, 71544), ('Isaac Tolm...

[1492 rows x 36 columns],    Unnamed: 0.1  Unnamed: 0    index  letter  date of the certificate | month  \
0         17815       17815  24331.0     NaN                              NaN
1         18087       18087  24985.0     NaN                              NaN
2         18088       18088  24988.0     NaN                              NaN
3         18314       18314  25943.0     NaN                              NaN

   date of the certificate | day  date of the certificate | year  \
0                            NaN                             NaN
1                            NaN                             NaN
2                            NaN                             NaN
3                            NaN                             NaN

  to whom due | first name to whom due | last name to whom due | title  ...  \
0                    David                 Braydie                 Jun  ...
1                  Celeren                Brossard                 Jun  ...
2                  Celerin                Brossard                 Jun  ...
3                    David                  Brydie                 NaN  ...

   amount in specie | dollars  amount in specie | cents  amount | 8th  \
0                         NaN                       NaN           NaN
1                         NaN                       NaN           NaN
2                         NaN                       NaN           NaN
3                         NaN                       NaN           NaN

   delivered | month  delivered | day  delivered | year  \
0                NaN              NaN               NaN
1                NaN              NaN               NaN
2                NaN              NaN               NaN
3                NaN              NaN               NaN

   total dollars | notes  total dollars | notes.1         full name  \
0                    NaN                      NaN     David Braydie
1                    NaN                      NaN  Celeren Brossard
2                    NaN                      NaN  Celerin Brossard
3                    NaN                      NaN      David Brydie

                                matches
0       [('David Brydie', 96.0, 18314)]
1  [('Celerin Brossard', 93.75, 18088)]
2  [('Celeren Brossard', 93.75, 18087)]
3      [('David Braydie', 96.0, 17815)]

[4 rows x 36 columns],       Unnamed: 0.1  Unnamed: 0     index letter  \
0            11443       11443   12593.0      A
1            11445       11445   12595.0      C
2            11449       11449   12600.0      L
3            11450       11450   12601.0      N
4            11451       11451   12602.0      I
...            ...         ...       ...    ...
5882         68575       68575  138388.0    NaN
5883         68586       68586  138632.0    NaN
5884         68587       68587  138641.0    NaN
5885         68589       68589  138982.0    NaN
5886         68590       68590  138987.0    NaN

      date of the certificate | month  date of the certificate | day  \
0                                 8.0                            8.0
1                                 8.0                            9.0
2                                 8.0                           11.0
3                                 8.0                           14.0
4                                 8.0                           15.0
...                               ...                            ...
5882                              5.0                           18.0
5883                              5.0                           18.0
5884                              5.0                           18.0
5885                              5.0                           18.0
5886                              5.0                           18.0

      date of the certificate | year to whom due | first name  \
0                             1783.0                    Isaac
1                             1783.0                 Ebenezer
2                             1783.0                   Samuel
3                             1783.0                  William
4                             1783.0                 Jonathan
...                              ...                      ...
5882                          1781.0                 Elbridge
5883                          1781.0                 Elbridge
5884                          1781.0                   Edward
5885                          1781.0                 Elbridge
5886                          1781.0                   Oliver

     to whom due | last name to whom due | title  ...  \
0                     Peirce                 NaN  ...
1                       Clap                 NaN  ...
2                      Bowen                 Jun  ...
3                  Pritchard                 NaN  ...
4                     Fisher                 NaN  ...
...                      ...                 ...  ...
5882                   Gerry                D.D.  ...
5883                   Gerry                 Esq  ...
5884                   Paine                 Esq  ...
5885                   Gerry                 Esq  ...
5886                 Wendell                 Esq  ...

      amount in specie | dollars  amount in specie | cents  amount | 8th  \
0                            NaN                       NaN           NaN
1                            NaN                       NaN           NaN
2                            NaN                       NaN           NaN
3                            NaN                       NaN           NaN
4                            NaN                       NaN           NaN
...                          ...                       ...           ...
5882                        10.0                       NaN           NaN
5883                         7.5                       NaN           NaN
5884                         5.0                       NaN           NaN
5885                         5.0                       NaN           NaN
5886                         5.0                       NaN           NaN

      delivered | month  delivered | day  delivered | year  \
0                   NaN              NaN               NaN
1                   NaN              NaN               NaN
2                   NaN              NaN               NaN
3                   NaN              NaN               NaN
4                   NaN              NaN               NaN
...                 ...              ...               ...
5882                NaN              NaN               NaN
5883                NaN              NaN               NaN
5884                NaN              NaN               NaN
5885                NaN              NaN               NaN
5886                NaN              NaN               NaN

     total dollars | notes total dollars | notes.1          full name  \
0                      NaN                     NaN       Isaac Peirce
1                      NaN                     NaN      Ebenezer Clap
2                      NaN                     NaN       Samuel Bowen
3                      NaN                     NaN  William Pritchard
4                      NaN                     NaN    Jonathan Fisher
...                    ...                     ...                ...
5882                   NaN                     NaN     Elbridge Gerry
5883                   NaN                     NaN     Elbridge Gerry
5884                   NaN                     NaN       Edward Paine
5885                   NaN                     NaN     Elbridge Gerry
5886                   NaN                     NaN     Oliver Wendell

                                                matches
0          [('Isaac Pierce', 91.66666666666666, 12720)]
1         [('Ebenezer Clapp', 96.2962962962963, 66198)]
2          [('Samuel Brown', 91.66666666666666, 13123)]
3      [('William Prichard', 96.96969696969697, 13423)]
4                  [('Jonathan Jonathan', 95.0, 62899)]
...                                                 ...
5882  [('Eldbridge Gerry', 96.55172413793103, 12371)...
5883  [('Eldbridge Gerry', 96.55172413793103, 12371)...
5884  [('Edward Pain', 95.65217391304348, 39484), ('...
5885  [('Eldbridge Gerry', 96.55172413793103, 12371)...
5886     [('Oliver Wendall', 92.85714285714286, 11820)]

[5887 rows x 36 columns],       Unnamed: 0.1  Unnamed: 0     index  letter  \
0            14087       14087   15440.0     NaN
1            14089       14089   15442.0     NaN
2            14159       14159   15604.0     NaN
3            14190       14190   15766.0     NaN
4            14287       14287   15951.0     NaN
...            ...         ...       ...     ...
1202         96381       96381  200744.0     NaN
1203         96396       96396  200807.0     NaN
1204         96398       96398  200809.0     NaN
1205         96402       96402  200831.0     NaN
1206         96407       96407  200873.0     NaN

      date of the certificate | month  date of the certificate | day  \
0                                 NaN                            NaN
1                                 NaN                            NaN
2                                 NaN                            NaN
3                                 NaN                            NaN
4                                 NaN                            NaN
...                               ...                            ...
1202                             12.0                           12.0
1203                              3.0                            3.0
1204                              3.0                            3.0
1205                              3.0                            3.0
1206                              4.0                            4.0

      date of the certificate | year to whom due | first name  \
0                                NaN                     John
1                                NaN                     John
2                                NaN                    Jacob
3                                NaN                    Jacob
4                                NaN                   Nathan
...                              ...                      ...
1202                          1780.0                    Henry
1203                          1781.0                   Robert
1204                          1781.0                   Robert
1205                          1781.0                 Benedict
1206                          1781.0                 Samuel B

     to whom due | last name to whom due | title  ...  \
0                    Abraham                 NaN  ...
1                   Abrahams                 NaN  ...
2                      Adams                 Jun  ...
3                    Adamson                 NaN  ...
4                   Albridge                 NaN  ...
...                      ...                 ...  ...
1202                 Jackson                 NaN  ...
1203                    Adam                 Esq  ...
1204                    Adam                 NaN  ...
1205                  Edelin                 NaN  ...
1206                 Hepburn                 Esq  ...

      amount in specie | dollars  amount in specie | cents  amount | 8th  \
0                            NaN                       NaN           NaN
1                            NaN                       NaN           NaN
2                            NaN                       NaN           NaN
3                            NaN                       NaN           NaN
4                            NaN                       NaN           NaN
...                          ...                       ...           ...
1202                        10.0                       NaN           NaN
1203                        25.0                       NaN           NaN
1204                         7.5                       NaN           NaN
1205                         7.5                       NaN           NaN
1206                        15.0                       NaN           NaN

      delivered | month  delivered | day  delivered | year  \
0                   NaN              NaN               NaN
1                   NaN              NaN               NaN
2                   NaN              NaN               NaN
3                   NaN              NaN               NaN
4                   NaN              NaN               NaN
...                 ...              ...               ...
1202                NaN              NaN               NaN
1203                NaN              NaN               NaN
1204                NaN              NaN               NaN
1205                NaN              NaN               NaN
1206                NaN              NaN               NaN

      total dollars | notes  total dollars | notes.1         full name  \
0                       NaN                      NaN      John Abraham
1                       NaN                      NaN     John Abrahams
2                       NaN                      NaN       Jacob Adams
3                       NaN                      NaN     Jacob Adamson
4                       NaN                      NaN   Nathan Albridge
...                     ...                      ...               ...
1202                    NaN                      NaN     Henry Jackson
1203                    NaN                      NaN       Robert Adam
1204                    NaN                      NaN       Robert Adam
1205                    NaN                      NaN   Benedict Edelin
1206                    NaN                      NaN  Samuel B Hepburn

                                              matches
0                    [('John Abrahams', 96.0, 14089)]
1                     [('John Abraham', 96.0, 14087)]
2       [('Jacob Adamson', 91.66666666666666, 14190)]
3         [('Jacob Adams', 91.66666666666666, 14159)]
4     [('Nathan Aldridge', 93.33333333333333, 14333)]
...                                               ...
1202                  [('Hery Jackson', 96.0, 96380)]
1203     [('Robert Adams', 95.65217391304348, 94189)]
1204     [('Robert Adams', 95.65217391304348, 94189)]

In [30]:
def ancestry_wrap(similar_names, driver_wait):    
    similar_names.apply(lambda row0: access_ancestry(row0, row0['state'], driver_wait[0], driver_wait[1]), axis=1)

In [32]:
df_split = np.array_split(similar_names_df, cpu_count())  
print(len(df_split))

# Initialize a parallelization job 
ancestry_calls = [delayed(ancestry_wrap)(df_split[i], driver_objs[i]) for i in range(7)]
results = Parallel(n_jobs=-1, backend="threading")(ancestry_calls)

16

In [20]:
# Due to the number of entries in Pennsylvania, I decided to parallelize on PA's data only. 
split_pa = np.array_split(similar_names_dfs['pa'], cpu_count())
print(len(split_pa))

7

In [23]:
# Initialize a parallelization job 
ancestry_calls = [delayed(ancestry_wrap)(split_pa[i], driver_objs[i]) for i in range(cpu_count())]
results = Parallel(n_jobs=-1, backend="threading")(ancestry_calls)

---------------------------+
Summary
name0=George Haff
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=George_Haff&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=George Hoff
result1=George Powel
state=pa
index=180237.0
rerun_rows length=24
name_changes length=2193
fixes length=2193
---------------------------+
---------------------------+
Summary
name0=William Searse
name1=William S
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Searse&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_S&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172806.0
rerun_rows length=24
name_changes length=2193
fixes length=2193
---------------------------+
---------------------------+
Summary
name0=William Sheapp
name1=William S
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Sheapp&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_S&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=178953.0
rerun_rows length=24
name_changes length=2193
fixes length=2193
---------------------------+
---------------------------+
Summary
name0=George Haff
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=George_Haff&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180237.0
rerun_rows length=24
name_changes length=2193
fixes length=2193
---------------------------+
---------------------------+
Summary
name0=George Haff
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=George_Haff&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=George Huff
result1=
state=pa
index=180237.0
rerun_rows length=24
name_changes length=2193
fixes length=2193
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William Sheapp
name1=William S
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Sheapp&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_S&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=178953.0
rerun_rows length=24
name_changes length=2193
fixes length=2193
---------------------------+
---------------------------+
Summary
name0=William Searse
name1=William S
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Searse&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_S&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172806.0
rerun_rows length=24
name_changes length=2193
fixes length=2193
---------------------------+
---------------------------+
Summary
name0=John Kolber
name1=John Solber
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Kolber&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Solber&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=John Kleber
result1=
state=pa
index=180245.0
rerun_rows length=24
name_changes length=2193
fixes length=2193
---------------------------+
---------------------------+
Summary
name0=William Sheapp
name1=William S
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Sheapp&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_S&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=178953.0
rerun_rows length=24
name_changes length=2193
fixes length=2193
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William Searse
name1=William S
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Searse&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_S&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172806.0
rerun_rows length=24
name_changes length=2193
fixes length=2193
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Jacob May
name1=Jacob Mayer
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Jacob_May&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Jacob_Mayer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Jacob May
result1=Jacob Mayer
state=pa
index=178962.0
rerun_rows length=24
name_changes length=2193
fixes length=2193
---------------------------+
---------------------------+
Summary
name0=John Kolber
name1=John Solber
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Kolber&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Solber&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180245.0
rerun_rows length=24
name_changes length=2193
fixes length=2193
---------------------------+
---------------------------+
Summary
name0=Jacob May
name1=Jacob Mayer
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Jacob_May&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Jacob_Mayer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=Jacob Myre
state=pa
index=178962.0
rerun_rows length=24
name_changes length=2193
fixes length=2193
---------------------------+
---------------------------+
Summary
name0=Jacob May
name1=Jacob Mayer
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Jacob_May&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Jacob_Mayer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Philip Jacob May
result1=Jacob Myer
state=pa
index=178962.0
rerun_rows length=24
name_changes length=2193
fixes length=2193
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Jacob Dyer
name1=Jacob Myer
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Jacob_Dyer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Jacob_Myer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Jacob Deer
result1=Jacob Myer
state=pa
index=178966.0
rerun_rows length=24
name_changes length=2193
fixes length=2193
---------------------------+
---------------------------+
Summary
name0=Catherine Stover
name1=Catherine Storer
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Catherine_Stover&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Catherine_Storer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172809.0
rerun_rows length=24
name_changes length=2193
fixes length=2193
---------------------------+

---------------------------+
Summary
name0=John Kolber
name1=John Solber
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Kolber&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Solber&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180245.0
rerun_rows length=24
name_changes length=2193
fixes length=2193
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Jacob Dyer
name1=Jacob Myer
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Jacob_Dyer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Jacob_Myer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=Jacob Myre
state=pa
index=178966.0
rerun_rows length=24
name_changes length=2193
fixes length=2193
---------------------------+
---------------------------+
Stored 'ancestry_name_changes' (list)
Stored 'fixes' (list)
Summary
name0=Edward Duffields
name1=Edward Duffield
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Edward_Duffields&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Edward_Duffield&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Edward Duffield
result1=Edward Duffield
state=pa
index=180264.0
rerun_rows length=24
name_changes length=2194
fixes length=2194
---------------------------+
---------------------------+
Summary
name0=Jacob Dyer
name1=Jacob Myer
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Jacob_Dyer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Jacob_Myer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Jacob Derr
result1=Jacob Myer
state=pa
index=178966.0
rerun_rows length=24
name_changes length=2194
fixes length=2194
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William Mitchell
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Mitchell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=William Mitchell
result1=William William
state=pa
index=178968.0
rerun_rows length=24
name_changes length=2194
fixes length=2194
---------------------------+
---------------------------+
Summary
name0=William Mitchell
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Mitchell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Will'm Mitchell
result1=
state=pa
index=178968.0
rerun_rows length=24
name_changes length=2194
fixes length=2194
---------------------------+
---------------------------+
Summary
name0=William Mitchell
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Mitchell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Wilhelm Michael
result1=William Williams
state=pa
index=178968.0
rerun_rows length=24
name_changes length=2194
fixes length=2194
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Catherine Stover
name1=Catherine Storer
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Catherine_Stover&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Catherine_Storer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172809.0
rerun_rows length=24
name_changes length=2194
fixes length=2194
---------------------------+
---------------------------+
Summary
name0=Edward Duffields
name1=Edward Duffield
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Edward_Duffields&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Edward_Duffield&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180264.0
rerun_rows length=24
name_changes length=2194
fixes length=2194
---------------------------+
---------------------------+
Summary
name0=Pierre Despres
name1=Pierce Despres
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Pierre_Despres&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Pierce_Despres&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179021.0
rerun_rows length=24
name_changes length=2194
fixes length=2194
---------------------------+
---------------------------+
Summary
name0=Catherine Stover
name1=Catherine Storer
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Catherine_Stover&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Catherine_Storer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172809.0
rerun_rows length=24
name_changes length=2194
fixes length=2194
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Henry Geiyer
name1=Henry Geiger
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Henry_Geiyer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Henry_Geiger&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Henry Guyer
result1=Henry Geiger
state=pa
index=172818.0
rerun_rows length=24
name_changes length=2194
fixes length=2194
---------------------------+
---------------------------+
Summary
name0=Edward Duffields
name1=Edward Duffield
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Edward_Duffields&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Edward_Duffield&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180264.0
rerun_rows length=24
name_changes length=2194
fixes length=2194
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Pierre Despres
name1=Pierce Despres
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Pierre_Despres&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Pierce_Despres&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179021.0
rerun_rows length=24
name_changes length=2194
fixes length=2194
---------------------------+
---------------------------+
Summary
name0=Henry Geiyer
name1=Henry Geiger
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Henry_Geiyer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Henry_Geiger&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172818.0
rerun_rows length=24
name_changes length=2194
fixes length=2194
---------------------------+
---------------------------+
Summary
name0=Henry Geiyer
name1=Henry Geiger
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Henry_Geiyer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Henry_Geiger&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Henrich Geyer
result1=Heinrich Geiger
state=pa
index=172818.0
rerun_rows length=24
name_changes length=2194
fixes length=2194
---------------------------+
Stored 'checked' (list)

---------------------------+
Summary
name0=Richard Samers
name1=Richard Somers
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Richard_Samers&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Richard_Somers&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180351.0
rerun_rows length=24
name_changes length=2194
fixes length=2194
---------------------------+
---------------------------+
Summary
name0=Pierre Despres
name1=Pierce Despres
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Pierre_Despres&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Pierce_Despres&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179021.0
rerun_rows length=24
name_changes length=2194
fixes length=2194
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Catherine Storer
name1=Catherine Sterer
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Catherine_Storer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Catherine_Sterer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172820.0
rerun_rows length=24
name_changes length=2194
fixes length=2194
---------------------------+
---------------------------+
Summary
name0=Richard Samers
name1=Richard Somers
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Richard_Samers&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Richard_Somers&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180351.0
rerun_rows length=24
name_changes length=2194
fixes length=2194
---------------------------+
---------------------------+
Summary
name0=Samuel Haryrt
name1=Samuel Hart
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Samuel_Haryrt&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Samuel_Hart&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=Saml Hurt
state=pa
index=179031.0
rerun_rows length=24
name_changes length=2194
fixes length=2194
---------------------------+
---------------------------+
Summary
name0=Richard Samers
name1=Richard Somers
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Richard_Samers&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Richard_Somers&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180351.0
rerun_rows length=24
name_changes length=2194
fixes length=2194
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Catherine Storer
name1=Catherine Sterer
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Catherine_Storer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Catherine_Sterer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172820.0
rerun_rows length=24
name_changes length=2194
fixes length=2194
---------------------------+
---------------------------+
Summary
name0=Samuel Haryrt
name1=Samuel Hart
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Samuel_Haryrt&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Samuel_Hart&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179031.0
rerun_rows length=24
name_changes length=2194
fixes length=2194
---------------------------+
---------------------------+
Summary
name0=James Hurton
name1=James Huston
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=James_Hurton&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=James_Huston&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=James Huston
state=pa
index=180357.0
rerun_rows length=24
name_changes length=2194
fixes length=2194
---------------------------+
---------------------------+
Summary
name0=Catherine Storer
name1=Catherine Sterer
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Catherine_Storer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Catherine_Sterer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172820.0
rerun_rows length=24
name_changes length=2194
fixes length=2194
---------------------------+
Stored 'checked' (list)
---------------------------+
Stored 'ancestry_name_changes' (list)
Stored 'fixes' (list)
Summary
name0=Jacob Livergood
name1=Jacob Levergood
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Jacob_Livergood&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Jacob_Levergood&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Jacob Levergood
result1=Jacob Levergood
state=pa
index=172828.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
---------------------------+
Summary
name0=James Hurton
name1=James Huston
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=James_Hurton&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=James_Huston&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=Jam's Huston
state=pa
index=180357.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
---------------------------+
Summary
name0=Samuel Haryrt
name1=Samuel Hart
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Samuel_Haryrt&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Samuel_Hart&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179031.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=John Machey
name1=John Mackey
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Machey&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Mackey&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=John Machey
result1=John Malkey Esquire
state=pa
index=179189.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
---------------------------+
Summary
name0=John Machey
name1=John Mackey
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Machey&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Mackey&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=John McCoy
state=pa
index=179189.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
---------------------------+
Summary
name0=Jacob Livergood
name1=Jacob Levergood
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Jacob_Livergood&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Jacob_Levergood&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172828.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+

---------------------------+
Summary
name0=James Hurton
name1=James Huston
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=James_Hurton&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=James_Huston&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180357.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=John Machey
name1=John Mackey
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Machey&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Mackey&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=John Mc Kay
state=pa
index=179189.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Jacob Livergood
name1=Jacob Levergood
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Jacob_Livergood&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Jacob_Levergood&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172828.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=James Harton
name1=James Hurton
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=James_Harton&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=James_Hurton&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180426.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
---------------------------+
Summary
name0=John Byard
name1=John Bayard
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Byard&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Bayard&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=John Bear
result1=John Bear
state=pa
index=172847.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
---------------------------+
Summary
name0=John Byard
name1=John Bayard
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Byard&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Bayard&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=John Byers
result1=John Byers
state=pa
index=172847.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
---------------------------+
Summary
name0=John Byard
name1=John Bayard
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Byard&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Bayard&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=John Bear
result1=John Bear
state=pa
index=172847.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=George Brey
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=George_Brey&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=George Bry
result1=George Powel
state=pa
index=172867.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
---------------------------+
Summary
name0=Stephen Gregory
name1=Steph Gregory
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Stephen_Gregory&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Steph_Gregory&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179200.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
---------------------------+
Summary
name0=James Harton
name1=James Hurton
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=James_Harton&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=James_Hurton&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180426.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
---------------------------+
Summary
name0=George Brey
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=George_Brey&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172867.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
---------------------------+
Summary
name0=Stephen Gregory
name1=Steph Gregory
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Stephen_Gregory&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Steph_Gregory&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179200.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
---------------------------+
Summary
name0=James Harton
name1=James Hurton
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=James_Harton&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=James_Hurton&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180426.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=George Brey
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=George_Brey&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172867.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Stephen Gregory
name1=Steph Gregory
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Stephen_Gregory&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Steph_Gregory&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179200.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=John Resher
name1=John Lesher
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Resher&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Lesher&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Jno Resher
result1=John Lesher
state=pa
index=179244.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+

---------------------------+
Summary
name0=David Corney
name1=David Correy
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=David_Corney&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=David_Correy&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=David Correy
state=pa
index=180444.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
---------------------------+
Summary
name0=David Corney
name1=David Correy
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=David_Corney&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=David_Correy&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=David Curry
state=pa
index=180444.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
---------------------------+
Summary
name0=nan Dumont
name1=nan nan
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=nan_Dumont&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=nan_nan&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172869.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
---------------------------+
Summary
name0=John Resher
name1=John Lesher
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Resher&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Lesher&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179244.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
---------------------------+
Summary
name0=David Corney
name1=David Correy
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=David_Corney&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=David_Correy&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180444.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Jacob Weed
name1=Jacob Leed
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Jacob_Weed&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Jacob_Leed&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Jacob White
result1=Jacob Leed
state=pa
index=180445.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
---------------------------+
Summary
name0=nan Dumont
name1=nan nan
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=nan_Dumont&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=nan_nan&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172869.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
---------------------------+
Summary
name0=John Resher
name1=John Lesher
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Resher&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Lesher&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179244.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=John Bisher
name1=John Fisher
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Bisher&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Fisher&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=John Bucher
result1=John Fisher
state=pa
index=179249.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
---------------------------+
Summary
name0=Jacob Weed
name1=Jacob Leed
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Jacob_Weed&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Jacob_Leed&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180445.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
---------------------------+
Summary
name0=nan Dumont
name1=nan nan
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=nan_Dumont&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=nan_nan&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172869.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Jacob Hooser
name1=Jacob Hoover
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Jacob_Hooser&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Jacob_Hoover&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Jacob Howser
result1=Jacob Hoover
state=pa
index=172872.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
---------------------------+
Summary
name0=John Bisher
name1=John Fisher
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Bisher&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Fisher&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179249.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
---------------------------+
Summary
name0=John Bisher
name1=John Fisher
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Bisher&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Fisher&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=John Fisher
state=pa
index=179249.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=John Bisher
name1=John Lisher
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Bisher&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Lisher&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=John Bucher
result1=John Lesher
state=pa
index=179249.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
---------------------------+
Summary
name0=Jacob Weed
name1=Jacob Leed
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Jacob_Weed&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Jacob_Leed&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180445.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
Stored 'checked' (list)

---------------------------+
Summary
name0=Jacob Weed
name1=Jacob Reed
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Jacob_Weed&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Jacob_Reed&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Jacob White
result1=Jacob Reed
state=pa
index=180445.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
---------------------------+
Summary
name0=Jacob Hooser
name1=Jacob Hoover
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Jacob_Hooser&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Jacob_Hoover&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172872.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
---------------------------+
Summary
name0=Jacob Hooser
name1=Jacob Hoover
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Jacob_Hooser&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Jacob_Hoover&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Jacob Houser
result1=Jacob Huver
state=pa
index=172872.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William Torr
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Torr&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William William
state=pa
index=172874.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
---------------------------+
Summary
name0=John Bisher
name1=John Lisher
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Bisher&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Lisher&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179249.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
---------------------------+
Summary
name0=Jacob Weed
name1=Jacob Reed
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Jacob_Weed&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Jacob_Reed&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180445.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
---------------------------+
Summary
name0=William Torr
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Torr&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172874.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
---------------------------+
Summary
name0=John Bisher
name1=John Lisher
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Bisher&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Lisher&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179249.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=George Thompson
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=George_Thompson&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=George Thompson
result1=George Powel
state=pa
index=179251.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
---------------------------+
Summary
name0=Jacob Weed
name1=Jacob Reed
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Jacob_Weed&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Jacob_Reed&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180445.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=James Houston
name1=James Huston
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=James_Houston&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=James_Huston&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=James Houston
result1=James Huston
state=pa
index=180470.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
---------------------------+
Summary
name0=William Torr
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Torr&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William Williams
state=pa
index=172874.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=James Houston
name1=James Huston
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=James_Houston&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=James_Huston&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=Jam's Huston
state=pa
index=180470.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
---------------------------+
Summary
name0=George Thompson
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=George_Thompson&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179251.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
---------------------------+
Summary
name0=Richard Townsend
name1=Richard Townshend
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Richard_Townsend&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Richard_Townshend&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172876.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
---------------------------+
Summary
name0=George Thompson
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=George_Thompson&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=George Thompson
result1=
state=pa
index=179251.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
Stored 'checked' (list)

---------------------------+
Summary
name0=Jacob Peper
name1=Jacob Pepper
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Jacob_Peper&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Jacob_Pepper&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Jacob Peiper
result1=Jacob Peiper
state=pa
index=179256.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
---------------------------+
Summary
name0=James Houston
name1=James Huston
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=James_Houston&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=James_Huston&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180470.0
rerun_rows length=24
name_changes length=2195
fixes length=2195
---------------------------+
Stored 'checked' (list)
---------------------------+
Stored 'ancestry_name_changes' (list)
Stored 'fixes' (list)
Summary
name0=Adam Schneider
name1=Adam Schnider
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Adam_Schneider&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Adam_Schnider&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Adam Schneider
result1=Adam Schneider
state=pa
index=180512.0
rerun_rows length=24
name_changes length=2196
fixes length=2196
---------------------------+
---------------------------+
Summary
name0=Richard Townsend
name1=Richard Townshend
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Richard_Townsend&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Richard_Townshend&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172876.0
rerun_rows length=24
name_changes length=2196
fixes length=2196
---------------------------+
---------------------------+
Summary
name0=Jacob Peper
name1=Jacob Pepper
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Jacob_Peper&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Jacob_Pepper&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179256.0
rerun_rows length=24
name_changes length=2196
fixes length=2196
---------------------------+
---------------------------+
Summary
name0=Adam Schneider
name1=Adam Schnider
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Adam_Schneider&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Adam_Schnider&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180512.0
rerun_rows length=24
name_changes length=2196
fixes length=2196
---------------------------+
---------------------------+
Stored 'ancestry_name_changes' (list)
Stored 'fixes' (list)
Summary
name0=Adam Schneider
name1=Adam Schnider
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Adam_Schneider&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Adam_Schnider&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Adam Schneider
result1=Adam Schneider
state=pa
index=180512.0
rerun_rows length=24
name_changes length=2197
fixes length=2197
---------------------------+
Stored 'checked' (list)
---------------------------+
Stored 'ancestry_name_changes' (list)
Stored 'fixes' (list)
Summary
name0=Adam Schneider
name1=Adam Schneyder
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Adam_Schneider&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Adam_Schneyder&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Adam Schneider
result1=Adam Schneider
state=pa
index=180512.0
rerun_rows length=24
name_changes length=2198
fixes length=2198
---------------------------+
---------------------------+
Summary
name0=Richard Townsend
name1=Richard Townshend
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Richard_Townsend&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Richard_Townshend&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172876.0
rerun_rows length=24
name_changes length=2198
fixes length=2198
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Jacob Peper
name1=Jacob Pepper
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Jacob_Peper&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Jacob_Pepper&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179256.0
rerun_rows length=24
name_changes length=2198
fixes length=2198
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=John Lester
name1=John Lesher
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Lester&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Lesher&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=John Lester
result1=John Lesher
state=pa
index=179273.0
rerun_rows length=24
name_changes length=2198
fixes length=2198
---------------------------+
---------------------------+
Summary
name0=Adam Schneider
name1=Adam Schneyder
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Adam_Schneider&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Adam_Schneyder&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180512.0
rerun_rows length=24
name_changes length=2198
fixes length=2198
---------------------------+
---------------------------+
Stored 'ancestry_name_changes' (list)
Stored 'fixes' (list)
Summary
name0=Adam Schneider
name1=Adam Schneyder
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Adam_Schneider&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Adam_Schneyder&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Adam Schneider
result1=Adam Schneider
state=pa
index=180512.0
rerun_rows length=24
name_changes length=2199
fixes length=2199
---------------------------+
Stored 'checked' (list)
---------------------------+
Stored 'ancestry_name_changes' (list)
Stored 'fixes' (list)
Summary
name0=Adam Schneider
name1=Adam Schnieder
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Adam_Schneider&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Adam_Schnieder&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Adam Schneider
result1=Adam Schneider
state=pa
index=180512.0
rerun_rows length=24
name_changes length=2200
fixes length=2200
---------------------------+
---------------------------+
Summary
name0=George Heringer
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=George_Heringer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=George Powel
state=pa
index=172880.0
rerun_rows length=24
name_changes length=2200
fixes length=2200
---------------------------+

---------------------------+
Summary
name0=John Lester
name1=John Lesher
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Lester&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Lesher&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179273.0
rerun_rows length=24
name_changes length=2200
fixes length=2200
---------------------------+
---------------------------+
Summary
name0=Adam Schneider
name1=Adam Schnieder
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Adam_Schneider&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Adam_Schnieder&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180512.0
rerun_rows length=24
name_changes length=2200
fixes length=2200
---------------------------+
---------------------------+
Stored 'ancestry_name_changes' (list)
Stored 'fixes' (list)
Summary
name0=Adam Schneider
name1=Adam Schnieder
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Adam_Schneider&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Adam_Schnieder&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Adam Schneider
result1=Adam Schneider
state=pa
index=180512.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=George Heringer
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=George_Heringer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172880.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=John Lester
name1=John Lesher
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Lester&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Lesher&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Ann Leister
result1=
state=pa
index=179273.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William Heare
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Heare&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=William Hair
result1=William William
state=pa
index=179286.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=Nicholas Kintger
name1=Nicholas Kinser
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Nicholas_Kintger&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Nicholas_Kinser&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=Nichs Kinser
state=pa
index=180525.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=George Heringer
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=George_Heringer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172880.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William Heare
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Heare&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179286.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=Nicholas Kintger
name1=Nicholas Kinser
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Nicholas_Kintger&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Nicholas_Kinser&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180525.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=William Mong
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Mong&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William William
state=pa
index=172883.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=William Heare
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Heare&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William Williams
state=pa
index=179286.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William Moris
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Moris&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=William Marrs
result1=William William
state=pa
index=179301.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=Nicholas Kintger
name1=Nicholas Kinser
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Nicholas_Kintger&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Nicholas_Kinser&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180525.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William Mong
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Mong&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172883.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=William Moris
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Moris&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179301.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+

---------------------------+
Summary
name0=William Mong
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Mong&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William Williams
state=pa
index=172883.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William Moris
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Moris&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William Williams
state=pa
index=179301.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Thomas Bristol
name1=Thomas Bristoll
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Thomas_Bristol&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Thomas_Bristoll&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180547.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=William Mong
name1=William Long
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Mong&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Long&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William Long
state=pa
index=172883.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=William Haaer
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Haaer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William William
state=pa
index=179303.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=William Mong
name1=William Long
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Mong&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Long&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William Long
state=pa
index=172883.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=Thomas Bristol
name1=Thomas Bristoll
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Thomas_Bristol&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Thomas_Bristoll&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180547.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=William Haaer
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Haaer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179303.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=William Mong
name1=William Long
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Mong&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Long&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172883.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Jacob Hoover
name1=Jacob Hover
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Jacob_Hoover&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Jacob_Hover&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Jacob Hoover
result1=Jacob Hover
state=pa
index=172894.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=William Haaer
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Haaer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William Williams
state=pa
index=179303.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Thomas Bristol
name1=Thomas Bristoll
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Thomas_Bristol&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Thomas_Bristoll&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180547.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William Haaer
name1=William Haver
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Haaer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Haver&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William Hoover
state=pa
index=179303.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=George Letter
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=George_Letter&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=George Powel
state=pa
index=180568.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=Jacob Hoover
name1=Jacob Hover
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Jacob_Hoover&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Jacob_Hover&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172894.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=Jacob Hoover
name1=Jacob Hover
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Jacob_Hoover&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Jacob_Hover&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Jacob Huver
result1=
state=pa
index=172894.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
Stored 'checked' (list)

---------------------------+
Summary
name0=Adam Schneyder
name1=Adam Schnieder
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Adam_Schneyder&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Adam_Schnieder&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Adam Schneider
result1=Adam Schneider
state=pa
index=172897.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=William Haaer
name1=William Haver
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Haaer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Haver&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179303.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=George Letter
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=George_Letter&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180568.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=Adam Schneyder
name1=Adam Schnieder
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Adam_Schneyder&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Adam_Schnieder&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172897.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=Adam Schneyder
name1=Adam Schnieder
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Adam_Schneyder&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Adam_Schnieder&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Adam Schneider
result1=Adam Schneider
state=pa
index=172897.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William Haaer
name1=William Haver
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Haaer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Haver&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179303.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William Haver
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Haver&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=William Hoover
result1=William William
state=pa
index=179308.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=George Letter
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=George_Letter&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180568.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=George Gessinger
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=George_Gessinger&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=George Gassinger
result1=George Powel
state=pa
index=180573.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=Rudolph Reverling
name1=Rudolph Heverling
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Rudolph_Reverling&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Rudolph_Heverling&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172900.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=William Haver
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Haver&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179308.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=George Gessinger
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=George_Gessinger&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180573.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=William Haver
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Haver&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William Williams
state=pa
index=179308.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Rudolph Reverling
name1=Rudolph Heverling
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Rudolph_Reverling&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Rudolph_Heverling&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172900.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=William C Bradford
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William C_Bradford&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William William
state=pa
index=179313.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=George Gessinger
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=George_Gessinger&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180573.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
Stored 'checked' (list)

---------------------------+
Summary
name0=Rudolph Reverling
name1=Rudolph Heverling
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Rudolph_Reverling&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Rudolph_Heverling&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172900.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William C Bradford
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William C_Bradford&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179313.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=Michael Findlay
name1=Michael Findley
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Michael_Findlay&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Michael_Findley&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180576.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=Andrew Reeder
name1=Andrew Reed
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Andrew_Reeder&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Andrew_Reed&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=Andrew Reed
state=pa
index=172906.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=William C Bradford
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William C_Bradford&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William Williams
state=pa
index=179313.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Andrew Reeder
name1=Andrew Reed
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Andrew_Reeder&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Andrew_Reed&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=Andrew Reed
state=pa
index=172906.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=Michael Findlay
name1=Michael Findley
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Michael_Findlay&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Michael_Findley&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180576.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=Elizabeth Riblot
name1=Elizabeth Riblet
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Elizabeth_Riblot&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Elizabeth_Riblet&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179328.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=Andrew Reeder
name1=Andrew Reed
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Andrew_Reeder&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Andrew_Reed&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172906.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Michael Findlay
name1=Michael Findley
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Michael_Findlay&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Michael_Findley&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180576.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=John Semers
name1=John Semer
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Semers&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Semer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=John Summer
state=pa
index=172910.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=Elizabeth Riblot
name1=Elizabeth Riblet
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Elizabeth_Riblot&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Elizabeth_Riblet&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179328.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=John Wallan
name1=John Wall
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Wallan&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Wall&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=John Wall
state=pa
index=180588.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=John Wallan
name1=John Wall
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Wallan&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Wall&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=John Waldon
result1=John Wall
state=pa
index=180588.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=John Wallan
name1=John Wall
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Wallan&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Wall&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=John Wall
state=pa
index=180588.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=George Haney
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=George_Haney&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=George Heany
result1=George Powel
state=pa
index=180590.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+

---------------------------+
Summary
name0=John Semers
name1=John Semer
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Semers&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Semer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172910.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=Elizabeth Riblot
name1=Elizabeth Riblet
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Elizabeth_Riblot&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Elizabeth_Riblet&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179328.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=John Semers
name1=John Semer
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Semers&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Semer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172910.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=George Haney
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=George_Haney&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180590.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=Isaac Markoe
name1=Isaac Marker
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Isaac_Markoe&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Isaac_Marker&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179334.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=George Haney
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=George_Haney&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180590.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=John Semers
name1=John Somers
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Semers&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Somers&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172910.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=William Storey
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Storey&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Wm Story
result1=William William
state=pa
index=193522.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=Isaac Markoe
name1=Isaac Marker
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Isaac_Markoe&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Isaac_Marker&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179334.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=John Semers
name1=John Somers
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Semers&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Somers&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172910.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=William Storey
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Storey&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=193522.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=Isaac Markoe
name1=Isaac Marker
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Isaac_Markoe&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Isaac_Marker&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179334.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Adam Schnieder
name1=Adam Schnider
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Adam_Schnieder&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Adam_Schnider&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Adam Schneider
result1=Adam Schneider
state=pa
index=179336.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
---------------------------+
Summary
name0=William Storey
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Storey&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William Williams
state=pa
index=193522.0
rerun_rows length=24
name_changes length=2201
fixes length=2201
---------------------------+
Stored 'checked' (list)
---------------------------+
Stored 'ancestry_name_changes' (list)
Stored 'fixes' (list)
Summary
name0=Jacob Wontz
name1=Jacob Wentz
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Jacob_Wontz&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Jacob_Wentz&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Jacob Wentz
result1=Jacob Wentz
state=pa
index=193534.0
rerun_rows length=24
name_changes length=2202
fixes length=2202
---------------------------+
---------------------------+
Summary
name0=John Semers
name1=John Somers
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Semers&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Somers&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172910.0
rerun_rows length=24
name_changes length=2202
fixes length=2202
---------------------------+
Stored 'checked' (list)

---------------------------+
Stored 'ancestry_name_changes' (list)
Stored 'fixes' (list)
Summary
name0=George B Baker
name1=George Baker
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=George B_Baker&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=George_Baker&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=George Baker
result1=George Baker
state=pa
index=172931.0
rerun_rows length=24
name_changes length=2203
fixes length=2203
---------------------------+
---------------------------+
Summary
name0=Adam Schnieder
name1=Adam Schnider
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Adam_Schnieder&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Adam_Schnider&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179336.0
rerun_rows length=24
name_changes length=2203
fixes length=2203
---------------------------+
---------------------------+
Summary
name0=Adam Schnieder
name1=Adam Schnider
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Adam_Schnieder&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Adam_Schnider&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Adam Schneider
result1=Adam Schneider
state=pa
index=179336.0
rerun_rows length=24
name_changes length=2203
fixes length=2203
---------------------------+
Stored 'checked' (list)
---------------------------+
Stored 'ancestry_name_changes' (list)
Stored 'fixes' (list)
Summary
name0=John Krawson
name1=John Krewson
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Krawson&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Krewson&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=John Krewson
result1=John Krewson
state=pa
index=179352.0
rerun_rows length=24
name_changes length=2204
fixes length=2204
---------------------------+
---------------------------+
Summary
name0=Jacob Wontz
name1=Jacob Wentz
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Jacob_Wontz&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Jacob_Wentz&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=193534.0
rerun_rows length=24
name_changes length=2204
fixes length=2204
---------------------------+
---------------------------+
Stored 'ancestry_name_changes' (list)
Stored 'fixes' (list)
Summary
name0=Jacob Wontz
name1=Jacob Wentz
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Jacob_Wontz&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Jacob_Wentz&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Jacob Wentz
result1=Jacob Wentz
state=pa
index=193534.0
rerun_rows length=24
name_changes length=2205
fixes length=2205
---------------------------+
Stored 'checked' (list)
---------------------------+
Stored 'ancestry_name_changes' (list)
Stored 'fixes' (list)
Summary
name0=John Luine
name1=John Line
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Luine&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Line&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=John Line
result1=John Line
state=pa
index=193560.0
rerun_rows length=24
name_changes length=2206
fixes length=2206
---------------------------+
---------------------------+
Summary
name0=George B Baker
name1=George Baker
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=George B_Baker&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=George_Baker&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172931.0
rerun_rows length=24
name_changes length=2206
fixes length=2206
---------------------------+
---------------------------+
Summary
name0=George B Baker
name1=George Baker
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=George B_Baker&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=George_Baker&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=George William Baker
result1=George William Baker
state=pa
index=172931.0
rerun_rows length=24
name_changes length=2206
fixes length=2206
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=George B Baker
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=George B_Baker&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=George Baker
result1=George Powel
state=pa
index=172931.0
rerun_rows length=24
name_changes length=2206
fixes length=2206
---------------------------+
---------------------------+
Summary
name0=John Krawson
name1=John Krewson
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Krawson&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Krewson&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179352.0
rerun_rows length=24
name_changes length=2206
fixes length=2206
---------------------------+
---------------------------+
Summary
name0=John Luine
name1=John Line
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Luine&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Line&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=193560.0
rerun_rows length=24
name_changes length=2206
fixes length=2206
---------------------------+
---------------------------+
Summary
name0=George B Baker
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=George B_Baker&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172931.0
rerun_rows length=24
name_changes length=2206
fixes length=2206
---------------------------+
---------------------------+
Summary
name0=John Krawson
name1=John Krewson
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Krawson&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Krewson&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179352.0
rerun_rows length=24
name_changes length=2206
fixes length=2206
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Arth McFarlan
name1=Arthur McFarlan
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Arth_McFarlan&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Arthur_McFarlan&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Arthur McFarland
result1=Arthur McFarland
state=pa
index=179371.0
rerun_rows length=24
name_changes length=2206
fixes length=2206
---------------------------+
---------------------------+
Summary
name0=George B Baker
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=George B_Baker&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=George William Baker
result1=
state=pa
index=172931.0
rerun_rows length=24
name_changes length=2206
fixes length=2206
---------------------------+
Stored 'checked' (list)

---------------------------+
Summary
name0=John Luine
name1=John Line
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Luine&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Line&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=193560.0
rerun_rows length=24
name_changes length=2206
fixes length=2206
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=John Palten
name1=John Patten
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Palten&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Patten&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=John Patten Senior
state=pa
index=172932.0
rerun_rows length=24
name_changes length=2206
fixes length=2206
---------------------------+
---------------------------+
Summary
name0=Arth McFarlan
name1=Arthur McFarlan
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Arth_McFarlan&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Arthur_McFarlan&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179371.0
rerun_rows length=24
name_changes length=2206
fixes length=2206
---------------------------+
---------------------------+
Summary
name0=Enoch Stellwell
name1=Enoch Stillwell
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Enoch_Stellwell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Enoch_Stillwell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=193567.0
rerun_rows length=24
name_changes length=2206
fixes length=2206
---------------------------+
---------------------------+
Summary
name0=John Palten
name1=John Patten
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Palten&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Patten&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172932.0
rerun_rows length=24
name_changes length=2206
fixes length=2206
---------------------------+
---------------------------+
Summary
name0=Arth McFarlan
name1=Arthur McFarlan
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Arth_McFarlan&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Arthur_McFarlan&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179371.0
rerun_rows length=24
name_changes length=2206
fixes length=2206
---------------------------+
Stored 'checked' (list)
---------------------------+
Stored 'ancestry_name_changes' (list)
Stored 'fixes' (list)
Summary
name0=Alexander Browne
name1=Alexander Brown
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Alexander_Browne&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Alexander_Brown&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Alexander Brown
result1=Alexander Brown
state=pa
index=179388.0
rerun_rows length=24
name_changes length=2207
fixes length=2207
---------------------------+
---------------------------+
Summary
name0=Enoch Stellwell
name1=Enoch Stillwell
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Enoch_Stellwell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Enoch_Stillwell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=193567.0
rerun_rows length=24
name_changes length=2207
fixes length=2207
---------------------------+
---------------------------+
Summary
name0=John Palten
name1=John Patten
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Palten&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Patten&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172932.0
rerun_rows length=24
name_changes length=2207
fixes length=2207
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Alexander Browne
name1=Alexander Brown
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Alexander_Browne&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Alexander_Brown&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179388.0
rerun_rows length=24
name_changes length=2207
fixes length=2207
---------------------------+
---------------------------+
Stored 'ancestry_name_changes' (list)
Stored 'fixes' (list)
Summary
name0=Alexander Browne
name1=Alexander Brown
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Alexander_Browne&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Alexander_Brown&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Alexander Brown
result1=Alexander Brown
state=pa
index=179388.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Enoch Stellwell
name1=Enoch Stillwell
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Enoch_Stellwell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Enoch_Stillwell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=193567.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William S
name1=William Sr. Kelly
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_S&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William Sr._Kelly&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William Kelly
state=pa
index=179423.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=Robert J Hooper
name1=Robert Hooper
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Robert J_Hooper&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Robert_Hooper&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172975.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=William Shultz
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Shultz&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William William
state=pa
index=193588.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=William S
name1=William Sr. Kelly
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_S&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William Sr._Kelly&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179423.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+

---------------------------+
Summary
name0=Robert J Hooper
name1=Robert Hooper
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Robert J_Hooper&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Robert_Hooper&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172975.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=William Shultz
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Shultz&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=193588.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=William S
name1=William Sr. Kelly
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_S&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William Sr._Kelly&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William Kelly
state=pa
index=179423.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William Shultz
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Shultz&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William Williams
state=pa
index=193588.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William S
name1=William Sample
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_S&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Sample&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William Sample
state=pa
index=179423.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=Robert J Hooper
name1=Robert Hooper
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Robert J_Hooper&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Robert_Hooper&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172975.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William Shultz
name1=William S
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Shultz&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_S&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=193588.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=William S
name1=William Sample
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_S&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Sample&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179423.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=Robert J Hooper
name1=Robert L Hooper
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Robert J_Hooper&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Robert L_Hooper&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172975.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=William S
name1=William Sample
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_S&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Sample&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William Semple
state=pa
index=179423.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William Shultz
name1=William S
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Shultz&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_S&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=193588.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=Robert J Hooper
name1=Robert L Hooper
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Robert J_Hooper&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Robert L_Hooper&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172975.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=Samuel Doeffield
name1=Samuel Duffield
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Samuel_Doeffield&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Samuel_Duffield&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179472.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=William Shultz
name1=William S
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Shultz&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_S&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=193588.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Timothy J. Green
name1=Timothy Green
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Timothy J._Green&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Timothy_Green&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Timothy Green Esquire
result1=Timothy Green Esquire
state=pa
index=193596.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=Robert J Hooper
name1=Robert L Hooper
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Robert J_Hooper&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Robert L_Hooper&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=172975.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
Stored 'checked' (list)

---------------------------+
Summary
name0=Samuel Doeffield
name1=Samuel Duffield
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Samuel_Doeffield&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Samuel_Duffield&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179472.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=George Chathan
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=George_Chathan&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=George Powel
state=pa
index=173148.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=Timothy J. Green
name1=Timothy Green
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Timothy J._Green&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Timothy_Green&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=193596.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=Samuel Doeffield
name1=Samuel Duffield
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Samuel_Doeffield&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Samuel_Duffield&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179472.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=George Chathan
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=George_Chathan&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173148.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=Elizabeth Gress
name1=Elizabeth Gross
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Elizabeth_Gress&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Elizabeth_Gross&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179477.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=George Chathan
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=George_Chathan&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173148.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Michael Killer
name1=Michael Miller
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Michael_Killer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Michael_Miller&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Michael Koller
result1=Michael Miller
state=pa
index=173151.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=Michael Killer
name1=Michael Miller
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Michael_Killer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Michael_Miller&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=Michael Miller
state=pa
index=173151.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=Timothy J. Green
name1=Timothy Green
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Timothy J._Green&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Timothy_Green&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=193596.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Elizabeth Gress
name1=Elizabeth Gross
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Elizabeth_Gress&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Elizabeth_Gross&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179477.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=Michael Killer
name1=Michael Miller
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Michael_Killer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Michael_Miller&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=Michael Miller
state=pa
index=173151.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William Savin
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Savin&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William William
state=pa
index=193627.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=William McInlin
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_McInlin&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William William
state=pa
index=173172.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=Elizabeth Gress
name1=Elizabeth Gross
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Elizabeth_Gress&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Elizabeth_Gross&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179477.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=John Mackay
name1=John Macky
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Mackay&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Macky&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=John Kay
result1=John McKee
state=pa
index=179496.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+

---------------------------+
Summary
name0=John Mackay
name1=John Macky
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Mackay&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Macky&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=John McCoy
result1=John McCoy
state=pa
index=179496.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=William Savin
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Savin&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=193627.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=John Mackay
name1=John Macky
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Mackay&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Macky&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=John Mc Kay
result1=
state=pa
index=179496.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William McInlin
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_McInlin&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173172.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=John Mackay
name1=John Mackey
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Mackay&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Mackey&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=John Kay
result1=John Malkey Esquire
state=pa
index=179496.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=William Savin
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Savin&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William Williams
state=pa
index=193627.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=John Mackay
name1=John Mackey
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Mackay&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Mackey&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=John McCoy
result1=John McCoy
state=pa
index=179496.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=John Mackay
name1=John Mackey
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Mackay&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Mackey&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=John Mc Kay
result1=John Mc Kay
state=pa
index=179496.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=John Mackay
name1=John Mackoy
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Mackay&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Mackoy&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=John Kay
result1=John McKee
state=pa
index=179496.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=John Mackay
name1=John Mackoy
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Mackay&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Mackoy&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=John McCoy
result1=John McCoy
state=pa
index=179496.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=William McInlin
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_McInlin&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William Williams
state=pa
index=173172.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=George Kuhn
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=George_Kuhn&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=George Coons
result1=George Powel
state=pa
index=173190.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=John Mackay
name1=John Mackoy
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Mackay&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Mackoy&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=John Mc Kay
result1=
state=pa
index=179496.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William Nelson
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Nelson&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=William Nelson
result1=William William
state=pa
index=179509.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=Matthew Erwin
name1=Matthew Irwin
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Matthew_Erwin&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Matthew_Irwin&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=193632.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=George Kuhn
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=George_Kuhn&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173190.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+

---------------------------+
Summary
name0=William Nelson
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Nelson&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179509.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=William Nelson
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Nelson&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Illiam Nelson
result1=William Williams
state=pa
index=179509.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William Rell
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Rell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=William Rail
result1=William William
state=pa
index=179519.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=Matthew Erwin
name1=Matthew Irwin
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Matthew_Erwin&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Matthew_Irwin&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=193632.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=Matthew Erwin
name1=Matthew Irwin
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Matthew_Erwin&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Matthew_Irwin&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Mathew Irwin
result1=Mathew Irwin
state=pa
index=193632.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William Eckhart
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Eckhart&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=William Eckard
result1=William William
state=pa
index=193651.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=George Kuhn
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=George_Kuhn&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173190.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William Rell
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Rell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179519.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=William Rell
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Rell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William Williams
state=pa
index=179519.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William Rell
name1=William Bell
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Rell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Bell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=William Rail
result1=William Bell
state=pa
index=179519.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=William Eckhart
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Eckhart&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=193651.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=William Eckhart
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Eckhart&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Johan Wilhelm Eckhardt
result1=William Williams
state=pa
index=193651.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William Eckhart
name1=William Eckhard
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Eckhart&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Eckhard&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=William Eckard
result1=William Eckard
state=pa
index=193651.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=Gerrard Clarkson
name1=Gerardus Clarkson
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Gerrard_Clarkson&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Gerardus_Clarkson&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173200.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=William Rell
name1=William Bell
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Rell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Bell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=Will'm Bell
state=pa
index=179519.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=William Eckhart
name1=William Eckhard
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Eckhart&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Eckhard&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=193651.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+

---------------------------+
Summary
name0=William Eckhart
name1=William Eckhard
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Eckhart&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Eckhard&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Johan Wilhelm Eckhardt
result1=Johan Wilhelm Eckhardt
state=pa
index=193651.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=George Lott
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=George_Lott&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=George Lute
result1=George Powel
state=pa
index=193664.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=Gerrard Clarkson
name1=Gerardus Clarkson
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Gerrard_Clarkson&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Gerardus_Clarkson&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173200.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=Gerrard Clarkson
name1=Gerardus Clarkson
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Gerrard_Clarkson&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Gerardus_Clarkson&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Gerardus Dr. Clarkson
result1=Gerardus Dr. Clarkson
state=pa
index=173200.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William Rowe
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Rowe&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=William Wrigh
result1=William William
state=pa
index=173206.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=William Rell
name1=William Bell
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Rell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Bell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179519.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=George Lott
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=George_Lott&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=George Lute
result1=
state=pa
index=193664.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=William Rowe
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Rowe&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Will'm Roe
result1=
state=pa
index=173206.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=William Rowe
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Rowe&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William Williams
state=pa
index=173206.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William Rowe
name1=William Lowe
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Rowe&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Lowe&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=William Wrigh
result1=William Law
state=pa
index=173206.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=Andrew Ten Eick
name1=Andrew TenEick
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Andrew_Ten Eick&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Andrew_TenEick&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179521.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=George Lott
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=George_Lott&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=193664.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William Rowe
name1=William Lowe
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Rowe&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Lowe&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Will'm Roe
result1=
state=pa
index=173206.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=George Tlliy
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=George_Tlliy&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=George Powel
state=pa
index=193697.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=Andrew Ten Eick
name1=Andrew TenEick
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Andrew_Ten Eick&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Andrew_TenEick&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179521.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=William Rowe
name1=William Lowe
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Rowe&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Lowe&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173206.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
Stored 'checked' (list)

---------------------------+
Summary
name0=William Rowe
name1=William Howe
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Rowe&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Howe&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=William Wrigh
result1=William How
state=pa
index=173206.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=George Tlliy
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=George_Tlliy&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=193697.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=William Rowe
name1=William Howe
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Rowe&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Howe&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Will'm Roe
result1=
state=pa
index=173206.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=Andrew Ten Eick
name1=Andrew TenEick
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Andrew_Ten Eick&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Andrew_TenEick&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179521.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William Attison
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Attison&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William William
state=pa
index=179545.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=George Tlliy
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=George_Tlliy&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=193697.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=George Illey
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=George_Illey&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=George Illy
result1=George Powel
state=pa
index=193698.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=William Rowe
name1=William Howe
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Rowe&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Howe&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173206.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Henry Shoffer
name1=Henry Shaffer
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Henry_Shoffer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Henry_Shaffer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Henry Sheffer
result1=Henry Sheffer
state=pa
index=173207.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=William Attison
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Attison&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179545.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=George Illey
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=George_Illey&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=193698.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=Henry Shoffer
name1=Henry Shaffer
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Henry_Shoffer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Henry_Shaffer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173207.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
---------------------------+
Summary
name0=William Attison
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Attison&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William Williams
state=pa
index=179545.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Henry Shoffer
name1=Henry Shaffer
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Henry_Shoffer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Henry_Shaffer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Henrich Schaffer
result1=Henrich Schaffer
state=pa
index=173207.0
rerun_rows length=24
name_changes length=2208
fixes length=2208
---------------------------+
Stored 'checked' (list)
---------------------------+
Stored 'ancestry_name_changes' (list)
Stored 'fixes' (list)
Summary
name0=Henry Shoffer
name1=Henry Sheffer
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Henry_Shoffer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Henry_Sheffer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Henry Sheffer
result1=Henry Sheffer
state=pa
index=173207.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=George Illey
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=George_Illey&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=193698.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
Stored 'checked' (list)

---------------------------+
Summary
name0=William Attison
name1=William Pattison
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Attison&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Pattison&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179545.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=Henry Shoffer
name1=Henry Sheffer
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Henry_Shoffer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Henry_Sheffer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173207.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=Henry Shoffer
name1=Henry Sheffer
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Henry_Shoffer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Henry_Sheffer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Henrich Schaffer
result1=Henrich Sheaffer
state=pa
index=173207.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William McDaniel
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_McDaniel&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=William Daniel
result1=William William
state=pa
index=173214.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=Jacob Winly
name1=Jacob Winey
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Jacob_Winly&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Jacob_Winey&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=Jacob Weiney
state=pa
index=193710.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=William Attison
name1=William Pattison
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Attison&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Pattison&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179545.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=William McDaniel
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_McDaniel&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173214.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=William McDaniel
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_McDaniel&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=William Mc Daniel
result1=William Williams
state=pa
index=173214.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Jacob Winly
name1=Jacob Winey
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Jacob_Winly&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Jacob_Winey&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=193710.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=William Attison
name1=William Pattison
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Attison&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Pattison&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179545.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Joseph nan
name1=nan nan
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Joseph_nan&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=nan_nan&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173278.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=Jacob Winly
name1=Jacob Winey
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Jacob_Winly&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Jacob_Winey&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=193710.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Harriet Lake
name1=Harriet Sake
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Harriet_Lake&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Harriet_Sake&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179559.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=Joseph nan
name1=nan nan
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Joseph_nan&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=nan_nan&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173278.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=Harriet Lake
name1=Harriet Sake
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Harriet_Lake&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Harriet_Sake&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179559.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=Joseph nan
name1=nan nan
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Joseph_nan&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=nan_nan&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173278.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
Stored 'checked' (list)

---------------------------+
Summary
name0=Harriet Lake
name1=Harriet Sake
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Harriet_Lake&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Harriet_Sake&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179559.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=John Nilson
name1=John Wilson
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Nilson&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Wilson&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=John Nelson
result1=John Wilson Junior
state=pa
index=179565.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=nan Jayber
name1=nan nan
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=nan_Jayber&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=nan_nan&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173311.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=John Nilson
name1=John Wilson
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Nilson&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Wilson&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=John Wilson
state=pa
index=179565.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=John Nilson
name1=John Wilson
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Nilson&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Wilson&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=John Wilson
state=pa
index=179565.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=John Lecher
name1=John Lesher
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Lecher&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Lesher&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=John Lecher
result1=John Lesher
state=pa
index=179583.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=nan Jayber
name1=nan nan
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=nan_Jayber&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=nan_nan&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173311.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=John Lecher
name1=John Lesher
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Lecher&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Lesher&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179583.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=nan Jayber
name1=nan nan
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=nan_Jayber&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=nan_nan&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173311.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William Britton
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Britton&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=William Briton
result1=William William
state=pa
index=173316.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=John Lecher
name1=John Lesher
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Lecher&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Lesher&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179583.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William Britton
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Britton&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173316.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=Jacob Reid
name1=Jacob Reed
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Jacob_Reid&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Jacob_Reed&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Jacob Read
result1=Jacob Reed
state=pa
index=179597.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=William Britton
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Britton&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William Williams
state=pa
index=173316.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=James Wilson administrator To Samuel Allen nan
name1=James Wilson
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=James Wilson administrator To Samuel Allen_nan&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=James_Wilson&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=James Wilson
state=pa
index=173329.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=Jacob Reid
name1=Jacob Reed
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Jacob_Reid&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Jacob_Reed&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179597.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+

---------------------------+
Summary
name0=James Wilson administrator To Samuel Allen nan
name1=James Wilson
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=James Wilson administrator To Samuel Allen_nan&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=James_Wilson&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=James Wilson
state=pa
index=173329.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=Jacob Reid
name1=Jacob Reed
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Jacob_Reid&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Jacob_Reed&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179597.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=James Wilson administrator To Samuel Allen nan
name1=James Wilson
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=James Wilson administrator To Samuel Allen_nan&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=James_Wilson&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=James Wilson
state=pa
index=173329.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Philip Kemble
name1=Phillip Kemble
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Philip_Kemble&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Phillip_Kemble&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Philip Kimble
result1=Philip Kimble
state=pa
index=173348.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=William Hollenstein
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Hollenstein&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William William
state=pa
index=179602.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=Philip Kemble
name1=Phillip Kemble
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Philip_Kemble&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Phillip_Kemble&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173348.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=William Hollenstein
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Hollenstein&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179602.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=William Hollenstein
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Hollenstein&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William Williams
state=pa
index=179602.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Philip Kemble
name1=Phillip Kemble
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Philip_Kemble&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Phillip_Kemble&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173348.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William McCreery
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_McCreery&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=William McCreary
result1=William William
state=pa
index=179660.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=Frederick Rahl
name1=Frederick Kahl
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Frederick_Rahl&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Frederick_Kahl&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Frederick Ral
result1=
state=pa
index=173366.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=William McCreery
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_McCreery&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179660.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=William McCreery
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_McCreery&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William Williams
state=pa
index=179660.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Frederick Rahl
name1=Frederick Kahl
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Frederick_Rahl&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Frederick_Kahl&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173366.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=William McCreery
name1=William McCrary
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_McCreery&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_McCrary&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=William McCreary
result1=William McCreary
state=pa
index=179660.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+

---------------------------+
Summary
name0=Frederick Rahl
name1=Frederick Kahl
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Frederick_Rahl&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Frederick_Kahl&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173366.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William McCreery
name1=William McCrary
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_McCreery&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_McCrary&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179660.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=John Harton
name1=John Garton
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Harton&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Garton&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=John Hardon
result1=
state=pa
index=173387.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=John Harton
name1=John Garton
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Harton&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Garton&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173387.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=John Harton
name1=John Garton
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Harton&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Garton&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173387.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William McCan
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_McCan&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=William McCain
result1=William William
state=pa
index=173402.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=William McCan
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_McCan&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173402.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=William McCan
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_McCan&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William Williams
state=pa
index=173402.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=George Emry
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=George_Emry&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=George Emery
result1=George Powel
state=pa
index=173408.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=George Emry
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=George_Emry&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=George Emery
result1=
state=pa
index=173408.0
rerun_rows length=24
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Error
Message: timeout: Timed out receiving message from renderer: 299.587
  (Session info: headless chrome=115.0.5790.171)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x00C0A813+48355]
	(No symbol) [0x00B9C4B1]
	(No symbol) [0x00AA5358]
	(No symbol) [0x00A9849F]
	(No symbol) [0x00A982EC]
	(No symbol) [0x00A96F26]
	(No symbol) [0x00A977AA]
	(No symbol) [0x00AA03E5]
	(No symbol) [0x00AAC668]
	(No symbol) [0x00AAF566]
	(No symbol) [0x00A97BC3]
	(No symbol) [0x00AAC539]
	(No symbol) [0x00AFCB1F]
	(No symbol) [0x00AEA536]
	(No symbol) [0x00AC82DC]
	(No symbol) [0x00AC93DD]
	GetHandleVerifier [0x00E6AABD+2539405]
	GetHandleVerifier [0x00EAA78F+2800735]
	GetHandleVerifier [0x00EA456C+2775612]
	GetHandleVerifier [0x00C951E0+616112]
	(No symbol) [0x00BA5F8C]
	(No symbol) [0x00BA2328]
	(No symbol) [0x00BA240B]
	(No symbol) [0x00B94FF7]
	BaseThreadInitThunk [0x76917D59+25]
	RtlInitializeExceptionChain [0x77A1B79B+107]
	RtlClearBits [0x77A1B71F+191]

---------------------------+
Stored 'rerun_rows' (list)
Stored 'checked' (list)
---------------------------+
Summary
name0=William McCreery
name1=William McCrury
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_McCreery&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_McCrury&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=William McCreary
result1=William McCreary
state=pa
index=179660.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=George Emry
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=George_Emry&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173408.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William McCreery
name1=William McCrury
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_McCreery&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_McCrury&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179660.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=Michael Furrer
name1=Michael Furner
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Michael_Furrer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Michael_Furner&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173420.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+

---------------------------+
Summary
name0=William McCreery
name1=William McCrury
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_McCreery&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_McCrury&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179660.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William McCrary
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_McCrary&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=William McCreary
result1=William William
state=pa
index=179664.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=Michael Furrer
name1=Michael Furner
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Michael_Furrer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Michael_Furner&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173420.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=William McCrary
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_McCrary&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179664.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=Michael Furrer
name1=Michael Furner
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Michael_Furrer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Michael_Furner&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173420.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William McCrary
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_McCrary&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William Williams
state=pa
index=179664.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William McCrary
name1=William McCrury
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_McCrary&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_McCrury&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=William McCreary
result1=William McCreary
state=pa
index=179664.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=Ebenezer Turrell
name1=Ebenezer Turell
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Ebenezer_Turrell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Ebenezer_Turell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173421.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=William McCrary
name1=William McCrury
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_McCrary&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_McCrury&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179664.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=Ebenezer Turrell
name1=Ebenezer Turell
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Ebenezer_Turrell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Ebenezer_Turell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173421.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=William McCrary
name1=William McCrury
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_McCrary&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_McCrury&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179664.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=John Hilton
name1=John Hamilton
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Hilton&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Hamilton&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=John Hilton
result1=John Hamilton
state=pa
index=179666.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=John Hilton
name1=John Hamilton
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Hilton&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Hamilton&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=John Hamilton
state=pa
index=179666.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=Ebenezer Turrell
name1=Ebenezer Turell
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Ebenezer_Turrell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Ebenezer_Turell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173421.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=John Hilton
name1=John Hamilton
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Hilton&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Hamilton&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=John Hamilton
state=pa
index=179666.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William MccReery
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_MccReery&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=William McCreary
result1=William William
state=pa
index=179681.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+

---------------------------+
Summary
name0=Ebenezer Turrell
name1=Ebenezer Truell
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Ebenezer_Turrell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Ebenezer_Truell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173421.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=William MccReery
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_MccReery&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179681.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=William MccReery
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_MccReery&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William Williams
state=pa
index=179681.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Ebenezer Turrell
name1=Ebenezer Truell
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Ebenezer_Turrell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Ebenezer_Truell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173421.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=William McCrury
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_McCrury&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=William McCreary
result1=William William
state=pa
index=179698.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=Ebenezer Turrell
name1=Ebenezer Truell
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Ebenezer_Turrell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Ebenezer_Truell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173421.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=George Holston
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=George_Holston&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=George Holstine
result1=George Powel
state=pa
index=173423.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=William McCrury
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_McCrury&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179698.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=William McCrury
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_McCrury&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William Williams
state=pa
index=179698.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=John Hilter
name1=John Hiller
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Hilter&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Hiller&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=John Holder
result1=John Hiller
state=pa
index=179700.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=George Holston
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=George_Holston&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173423.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=John Hilter
name1=John Hiller
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Hilter&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Hiller&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179700.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=George Holston
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=George_Holston&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173423.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=John Hilter
name1=John Hiller
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Hilter&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Hiller&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179700.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Ebenezer Turell
name1=Ebenezer Truell
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Ebenezer_Turell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Ebenezer_Truell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173425.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=Samuel Futhy
name1=Samuel Fulthey
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Samuel_Futhy&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Samuel_Fulthey&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Samuel Futhey
result1=
state=pa
index=179717.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+

---------------------------+
Summary
name0=Samuel Futhy
name1=Samuel Fulthey
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Samuel_Futhy&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Samuel_Fulthey&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Samuel Futhy
result1=
state=pa
index=179717.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=Ebenezer Turell
name1=Ebenezer Truell
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Ebenezer_Turell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Ebenezer_Truell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173425.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=Samuel Futhy
name1=Samuel Fulthey
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Samuel_Futhy&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Samuel_Fulthey&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179717.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=John Semer
name1=John Somer
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Semer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Somer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=John Summer
result1=John Summer
state=pa
index=179731.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=Ebenezer Turell
name1=Ebenezer Truell
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Ebenezer_Turell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Ebenezer_Truell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173425.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=John Semer
name1=John Somer
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Semer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Somer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179731.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=Chris Lowe
name1=Chris Lower
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Chris_Lowe&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Chris_Lower&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173426.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=John Semer
name1=John Somer
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Semer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Somer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179731.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Chris Lowe
name1=Chris Lower
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Chris_Lowe&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Chris_Lower&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173426.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=George Yeachle
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=George_Yeachle&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=George Powel
state=pa
index=179738.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=Chris Lowe
name1=Chris Lower
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Chris_Lowe&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Chris_Lower&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173426.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=George Yeachle
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=George_Yeachle&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179738.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=John Shamp
name1=John Sharp
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Shamp&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=John_Sharp&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=John Sharp Junior
state=pa
index=173431.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
---------------------------+
Summary
name0=George Yeachle
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=George_Yeachle&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=George Yeackel
result1=
state=pa
index=179738.0
rerun_rows length=25
name_changes length=2209
fixes length=2209
---------------------------+
Stored 'checked' (list)
---------------------------+
Stored 'ancestry_name_changes' (list)
Stored 'fixes' (list)
Summary
name0=Joseph Walkar
name1=Joseph Walker
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Joseph_Walkar&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Joseph_Walker&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Joseph Walker
result1=Joseph Walker
state=pa
index=179800.0
rerun_rows length=25
name_changes length=2210
fixes length=2210
---------------------------+
---------------------------+
Stored 'ancestry_name_changes' (list)
Stored 'fixes' (list)
Summary
name0=Joseph Walkar
name1=Joseph Walker
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Joseph_Walkar&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Joseph_Walker&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Joseph Walker
result1=Joseph Walker
state=pa
index=179800.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+

---------------------------+
Summary
name0=Joseph Walkar
name1=Joseph Walker
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Joseph_Walkar&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Joseph_Walker&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Joseph Walcker
result1=Joseph Walcker
state=pa
index=179800.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=John Shamp
name1=John Sharp
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Shamp&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=John_Sharp&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=John Sharp
state=pa
index=173431.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Philip Cooglee
name1=Philip Coogler
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Philip_Cooglee&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Philip_Coogler&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179807.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=John Shamp
name1=John Sharp
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Shamp&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=John_Sharp&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173431.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Philip Cooglee
name1=Philip Coogler
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Philip_Cooglee&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Philip_Coogler&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179807.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Casper Inker
name1=Caspar Inker
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Casper_Inker&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Caspar_Inker&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173433.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Philip Cooglee
name1=Philip Coogler
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Philip_Cooglee&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Philip_Coogler&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179807.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Casper Inker
name1=Caspar Inker
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Casper_Inker&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Caspar_Inker&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173433.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Henry Hottenstiene
name1=Henry Hottenstein
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Henry_Hottenstiene&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Henry_Hottenstein&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Henry Huttenstine
result1=
state=pa
index=179811.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Casper Inker
name1=Caspar Inker
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Casper_Inker&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Caspar_Inker&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173433.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Leonard Immell
name1=Leonard Immel
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Leonard_Immell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Leonard_Immel&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Leonhard Immel
result1=Leonhard Immel
state=pa
index=173442.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Henry Hottenstiene
name1=Henry Hottenstein
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Henry_Hottenstiene&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Henry_Hottenstein&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179811.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Leonard Immell
name1=Leonard Immel
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Leonard_Immell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Leonard_Immel&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173442.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Henry Hottenstiene
name1=Henry Hottenstein
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Henry_Hottenstiene&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Henry_Hottenstein&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179811.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William Pointell
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Pointell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William William
state=pa
index=179874.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Leonard Immell
name1=Leonard Immel
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Leonard_Immell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Leonard_Immel&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173442.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)

---------------------------+
Summary
name0=Peter Defenbach
name1=Peter Defenback
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Peter_Defenbach&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Peter_Defenback&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Peter Dieffenbach
result1=Peter Difenbach
state=pa
index=173444.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=William Pointell
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Pointell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=179874.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Peter Defenbach
name1=Peter Defenback
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Peter_Defenbach&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Peter_Defenback&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173444.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=William Pointell
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Pointell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William Williams
state=pa
index=179874.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Peter Defenbach
name1=Peter Defenback
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Peter_Defenbach&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Peter_Defenback&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173444.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Gurge McLauglin
name1=George McLauglin
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Gurge_McLauglin&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=George_McLauglin&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180052.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=George Siple
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=George_Siple&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=George Powel
state=pa
index=173457.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Gurge McLauglin
name1=George McLauglin
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Gurge_McLauglin&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=George_McLauglin&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180052.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=George Siple
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=George_Siple&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173457.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Gurge McLauglin
name1=George McLauglin
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Gurge_McLauglin&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=George_McLauglin&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180052.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=John McCreery
name1=John McCreary
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=John_McCreery&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=John_McCreary&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=John McCreery
result1=John McCreary
state=pa
index=180055.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=George Siple
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=George_Siple&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173457.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=George Sheive
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=George_Sheive&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=George Shive
result1=George Powel
state=pa
index=173458.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=John McCreery
name1=John McCreary
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=John_McCreery&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=John_McCreary&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180055.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=George Sheive
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=George_Sheive&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173458.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=John McCreery
name1=John McCreary
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=John_McCreery&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=John_McCreary&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180055.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)

---------------------------+
Summary
name0=George Sheive
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=George_Sheive&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173458.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William Demery
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Demery&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William William
state=pa
index=180061.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Joseph Sarkett
name1=Joseph Sackett
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Joseph_Sarkett&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Joseph_Sackett&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=Joseph Sackett
state=pa
index=173459.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=William Demery
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Demery&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180061.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Joseph Sarkett
name1=Joseph Sackett
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Joseph_Sarkett&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Joseph_Sackett&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173459.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=William Demery
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Demery&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William Williams
state=pa
index=180061.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Joseph Sarkett
name1=Joseph Sackett
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Joseph_Sarkett&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Joseph_Sackett&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173459.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Alexander Por
name1=Alexander Power
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Alexander_Por&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Alexander_Power&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180075.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Christian Low
name1=Christian Lowe
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Christian_Low&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Christian_Lowe&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Christian Ley
result1=
state=pa
index=173468.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Alexander Por
name1=Alexander Power
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Alexander_Por&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Alexander_Power&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180075.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Christian Low
name1=Christian Lowe
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Christian_Low&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Christian_Lowe&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173468.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Alexander Por
name1=Alexander Power
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Alexander_Por&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Alexander_Power&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180075.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=John McCrury
name1=John McCrery
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=John_McCrury&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=John_McCrery&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=John McCreery
result1=John McCreery
state=pa
index=180079.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Christian Low
name1=Christian Lowe
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Christian_Low&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Christian_Lowe&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173468.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Christian Low
name1=Christian Lower
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Christian_Low&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Christian_Lower&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Christian Ley
result1=Christn Lower
state=pa
index=173468.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=John McCrury
name1=John McCrery
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=John_McCrury&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=John_McCrery&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180079.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+

---------------------------+
Summary
name0=Christian Low
name1=Christian Lower
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Christian_Low&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Christian_Lower&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173468.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=John McCrury
name1=John McCrery
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=John_McCrury&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=John_McCrery&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180079.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Christian Low
name1=Christian Lower
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Christian_Low&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Christian_Lower&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173468.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Henry Greyer
name1=Henry Geiyer
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Henry_Greyer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Henry_Geiyer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Henry Greer
result1=Henry Guyer
state=pa
index=173469.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=William Remedy
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Remedy&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William William
state=pa
index=180096.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Henry Greyer
name1=Henry Geiyer
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Henry_Greyer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Henry_Geiyer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173469.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=William Remedy
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Remedy&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180096.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Henry Greyer
name1=Henry Geiyer
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Henry_Greyer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Henry_Geiyer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=Henrich Geyer
state=pa
index=173469.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=George Adam
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=George_Adam&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=George Adams
result1=George Powel
state=pa
index=173474.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=William Remedy
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Remedy&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William Williams
state=pa
index=180096.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=George Adam
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=George_Adam&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=George Adams
result1=
state=pa
index=173474.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=William Remedy
name1=William Reed
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Remedy&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Reed&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William Reed
state=pa
index=180096.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=William Remedy
name1=William Reed
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Remedy&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Reed&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=Will'm Reed
state=pa
index=180096.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=George Adam
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=George_Adam&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173474.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Ernest Clinger
name1=Ernest Klinger
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Ernest_Clinger&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Ernest_Klinger&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Earnst Klinger
result1=Earnst Klinger
state=pa
index=173477.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=William Remedy
name1=William Reed
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Remedy&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Reed&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180096.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)

---------------------------+
Summary
name0=Ernest Clinger
name1=Ernest Klinger
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Ernest_Clinger&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Ernest_Klinger&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173477.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Christian Lowe
name1=Christian Lower
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Christian_Lowe&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Christian_Lower&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=Christn Lower
state=pa
index=180120.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Ernest Clinger
name1=Ernest Klinger
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Ernest_Clinger&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Ernest_Klinger&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173477.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Christian Lowe
name1=Christian Lower
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Christian_Lowe&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Christian_Lower&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180120.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=George Sheder by
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=George_Sheder by&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=George Powel
state=pa
index=173491.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Christian Lowe
name1=Christian Lower
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Christian_Lowe&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Christian_Lower&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180120.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=George Oster
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=George_Oster&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=George Oyster
result1=George Powel
state=pa
index=180121.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=George Sheder by
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=George_Sheder by&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173491.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=George Oster
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=George_Oster&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180121.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=George Sheder by
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=George_Sheder by&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173491.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=George Oster
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=George_Oster&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180121.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Christian Lewer
name1=Christian Lower
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Christian_Lewer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Christian_Lower&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Christian Lawer
result1=Christn Lower
state=pa
index=180136.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Rudolph Schreiner
name1=Rudolph Schrine
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Rudolph_Schreiner&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Rudolph_Schrine&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173500.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Christian Lewer
name1=Christian Lower
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Christian_Lewer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Christian_Lower&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180136.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Rudolph Schreiner
name1=Rudolph Schrine
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Rudolph_Schreiner&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Rudolph_Schrine&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173500.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Christian Lewer
name1=Christian Lower
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Christian_Lewer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Christian_Lower&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180136.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)

---------------------------+
Summary
name0=Christian Lewer
name1=Christian Loeer
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Christian_Lewer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Christian_Loeer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Christian Lawer
result1=Christian Lawer
state=pa
index=180136.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Rudolph Schreiner
name1=Rudolph Schrine
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Rudolph_Schreiner&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Rudolph_Schrine&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173500.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Christian Lewer
name1=Christian Loeer
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Christian_Lewer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Christian_Loeer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180136.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Nicholas Wye
name1=Nicholas Wyn
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Nicholas_Wye&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Nicholas_Wyn&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173505.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Christian Lewer
name1=Christian Loeer
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Christian_Lewer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Christian_Loeer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180136.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Nicholas Wye
name1=Nicholas Wyn
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Nicholas_Wye&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Nicholas_Wyn&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173505.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=George Hotstein
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=George_Hotstein&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=George Powel
state=pa
index=180145.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Nicholas Wye
name1=Nicholas Wyn
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Nicholas_Wye&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Nicholas_Wyn&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173505.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=George Hotstein
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=George_Hotstein&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180145.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=George Farrer
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=George_Farrer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=George Powel
state=pa
index=173511.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=George Hotstein
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=George_Hotstein&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=180145.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=George Farrer
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=George_Farrer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173511.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=George Farrer
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=George_Farrer&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173511.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William Jal
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Jal&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William William
state=pa
index=173532.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=William Jal
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Jal&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173532.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=William Jal
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Jal&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William Williams
state=pa
index=173532.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)

---------------------------+
Summary
name0=Robert Steven
name1=Robert Stevens
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Robert_Steven&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Robert_Stevens&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Robert Stephens
result1=Robert Stephens
state=pa
index=173537.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Robert Steven
name1=Robert Stevens
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Robert_Steven&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Robert_Stevens&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Robert Stephen
result1=Robert Stephen
state=pa
index=173537.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Robert Steven
name1=Robert Stevens
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Robert_Steven&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Robert_Stevens&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173537.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Robert Steven
name1=Robert Cer Steven
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Robert_Steven&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Robert Cer_Steven&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Robert Stephens
result1=Robert Stephens
state=pa
index=173537.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Robert Steven
name1=Robert Cer Steven
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Robert_Steven&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Robert Cer_Steven&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Robert Stephen
result1=Robert Stephen
state=pa
index=173537.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Robert Steven
name1=Robert Cer Steven
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Robert_Steven&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Robert Cer_Steven&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173537.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William Clingan
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Clingan&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=William Clingan Esquire
result1=William William
state=pa
index=173549.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=William Clingan
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Clingan&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173549.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=William Clingan
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Clingan&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William Williams
state=pa
index=173549.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William Clingan
name1=William Clingham
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Clingan&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Clingham&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=William Clingan Esquire
result1=William Clingan Esquire
state=pa
index=173549.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=William Clingan
name1=William Clingham
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Clingan&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Clingham&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William Clingham Esquire
state=pa
index=173549.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=William Clingan
name1=William Clingham
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Clingan&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Clingham&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173549.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Henry Mower
name1=Henry Bower
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Henry_Mower&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Henry_Bower&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Henry Moyer
result1=Henry Bower
state=pa
index=173552.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Henry Mower
name1=Henry Bower
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Henry_Mower&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Henry_Bower&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173552.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Henry Mower
name1=Henry Bower
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Henry_Mower&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Henry_Bower&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Henry Meyer
result1=
state=pa
index=173552.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Henry Mower
name1=Henry Hower
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Henry_Mower&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Henry_Hower&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Henry Moyer
result1=Henry Howard
state=pa
index=173552.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+

---------------------------+
Summary
name0=Henry Mower
name1=Henry Hower
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Henry_Mower&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Henry_Hower&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173552.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Henry Mower
name1=Henry Hower
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Henry_Mower&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Henry_Hower&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Henry Meyer
result1=Henry Howard
state=pa
index=173552.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=William Iat
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=William_Iat&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William William
state=pa
index=173553.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=William Iat
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=William_Iat&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173553.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=William Iat
name1=William William
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=William_Iat&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=William_William&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=William Williams
state=pa
index=173553.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Jacob Suchler
name1=Jacob Sechler
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Jacob_Suchler&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Jacob_Sechler&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173554.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Jacob Suchler
name1=Jacob Sechler
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Jacob_Suchler&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Jacob_Sechler&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173554.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Jacob Suchler
name1=Jacob Sechler
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Jacob_Suchler&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Jacob_Sechler&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173554.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Benjamin Mantley
name1=Benjamin Mankley
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Benjamin_Mantley&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Benjamin_Mankley&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173580.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Benjamin Mantley
name1=Benjamin Mankley
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Benjamin_Mantley&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Benjamin_Mankley&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173580.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Benjamin Mantley
name1=Benjamin Mankley
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Benjamin_Mantley&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Benjamin_Mankley&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173580.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=George Hiff
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=George_Hiff&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=George Hoff
result1=George Powel
state=pa
index=173680.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=George Hiff
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=George_Hiff&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173680.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=George Hiff
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=George_Hiff&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=George Huff
result1=
state=pa
index=173680.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=Rem Cornel
name1=Rem Cornell
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=Rem_Cornel&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=Rem_Cornell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=Renn Cornell
result1=Renn Cornell
state=pa
index=173681.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=Rem Cornel
name1=Rem Cornell
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=Rem_Cornel&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=Rem_Cornell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173681.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+

---------------------------+
Summary
name0=Rem Cornel
name1=Rem Cornell
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=Rem_Cornel&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=Rem_Cornell&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173681.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)
---------------------------+
Summary
name0=George Lownes
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2702/?name=George_Lownes&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2702/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=George Lownes
result1=George Powel
state=pa
index=173693.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=George Lownes
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/2234/?name=George_Lownes&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/2234/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=George Lownes
result1=
state=pa
index=173693.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
---------------------------+
Summary
name0=George Lownes
name1=George George
url-0=https://www.ancestrylibrary.com/search/collections/3570/?name=George_Lownes&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
url-1=https://www.ancestrylibrary.com/search/collections/3570/?name=George_George&name_x=ps&residence=1780_pennsylvania-usa_41&residence_x=10-0-0_1-0
result0=
result1=
state=pa
index=173693.0
rerun_rows length=25
name_changes length=2211
fixes length=2211
---------------------------+
Stored 'checked' (list)

In [27]:
# Store the `ancestry_name_changes` list as a Pandas DataFrame
ancestry_df = pd.DataFrame(ancestry_name_changes)
# Store DataFrame as a .csv file 
ancestry_df.to_csv('data/fixes.csv')

## Cleaning Name Changes

In [33]:
# Remove duplicates
print(len(ancestry_name_changes))
res = []
checked = []
for row in ancestry_name_changes:
    if (row[2], row[3], row[4], row[5], row[9]) not in checked:
        res.append(row)
        checked.append((row[2], row[3], row[4], row[5], row[9]))

print(len(res))

2211
1946

In [50]:
# Remove metadata 
for row in res:
    if (type(row[0]) == pd.core.series.Series and type(row[1]) == pd.core.series.Series and type(row[7]) == pd.core.series.Series and
       type(row[8]) == pd.core.series.Series):
        row[0] = row[0].values[0]
        row[1] = row[1].values[0]
        row[7] = row[7].values[0]
        row[8] = row[8].values[0]

In [55]:
print(res[2])

['Rev', 'Rev', 'Thomas', 'Allyn', 'Thomas', 'Allen', 6, 'loan_office_certificates_9_states.xlsx', 18826.0, 'ct']

In [56]:
# Standardize datatypes for each row in each column
for row in res:
    row[2] = str(row[2])
    row[3] = str(row[3])
    row[4] = str(row[4])
    row[5] = str(row[5])
    row[6] = int(row[6])
    row[7] = str(row[7])
    row[8] = int(row[8])
    row[9] = str(row[9])

In [57]:
print(res[2])

['Rev', 'Rev', 'Thomas', 'Allyn', 'Thomas', 'Allen', 6, 'loan_office_certificates_9_states.xlsx', 18826, 'ct']

In [59]:
ancestry_name_changes = res
# Store the `fixes` dictionary as a Pandas DataFrame
ancestry_df = pd.DataFrame(ancestry_name_changes)
ancestry_df.columns = ['Old Title', 'New Title', 'Old First Name', 'Old Last Name', 'New First Name', 'New Last Name', 
                       'Obj. Num.', 'Original File', 'Original Index', 'State']
# Store DataFrame as a .csv file 
ancestry_df.to_csv('data/ancestry_name_changes_clean.csv')

## Add Ancestry Name Changes to the Name Changes Table

In [64]:
name_changes.drop(columns=['Unnamed: 0'], inplace=True)

In [65]:
name_changes.head()

,title_org,title_new,first_name_org,last_name_org,first_name_new,last_name_new,cleaning case,file_loc,org_index
0,NaN,NaN,Henry Wisner & Co,NaN,Henry,Wisner,2,liquidated_debt_certificates_NY.xlsx,491
1,NaN,NaN,Henry Wisner & Co,NaN,Henry,Wisner,2,liquidated_debt_certificates_NY.xlsx,492
2,NaN,NaN,Henry Wisner & Co,NaN,Henry,Wisner,2,liquidated_debt_certificates_NY.xlsx,493
3,NaN,NaN,Henry Wisner & Co,NaN,Henry,Wisner,2,liquidated_debt_certificates_NY.xlsx,494
4,NaN,NaN,Henry Wisner & Co,NaN,Henry,Wisner,2,liquidated_debt_certificates_NY.xlsx,495

In [66]:
# Add Ancestry name changes to name_changes file 
def add_changes(title_org, title_new, fn_org, ln_org, fn_new, ln_new, case, file, index):
    new_row = [title_org, title_new, fn_org, ln_org, fn_new, ln_new, case, file, index]
    name_changes.loc[len(name_changes.index)] = new_row

In [67]:
# Add Ancestry name changes to name_changes file 
for row in res:
    add_changes(row[0], row[1], row[2], row[3], row[4], row[5], row[6], row[7], row[8])

In [68]:
name_changes.tail()

,title_org,title_new,first_name_org,last_name_org,first_name_new,last_name_new,cleaning case,file_loc,org_index
3573,NaN,NaN,John,Krawson,John,Krewson,6,loan_office_certificates_9_states.xlsx,57961
3574,NaN,NaN,John,Luine,John,Line,6,loan_office_certificates_9_states.xlsx,72169
3575,Aug,Aug,Alexander,Browne,Alexander,Brown,6,loan_office_certificates_9_states.xlsx,57997
3576,NaN,NaN,Henry,Shoffer,Henry,Sheffer,6,loan_office_certificates_9_states.xlsx,51816
3577,Mr,Mr,Joseph,Walkar,Joseph,Walker,6,loan_office_certificates_9_states.xlsx,58409

In [69]:
# Save name_changes 
name_changes.to_csv('data/name_changes_david.csv')

## Create a Final Debt Table

In [90]:
def fix_names(row):
    search_res = ancestry_df.loc[(ancestry_df['Old First Name'] == row['to whom due | first name']) & (ancestry_df['Old Last Name'] == row['to whom due | last name']) & (ancestry_df['State'] == row['state'])]
    if len(search_res != 0): 
        print(row['to whom due | first name'])
        print(row['to whom due | last name'])
        row['to whom due | first name'] = search_res['New First Name']
        row['to whom due | last name'] = search_res['New Last Name']
        print('+------------------+')
        print(row['to whom due | first name'])
        print(row['to whom due | last name'])
    return row

In [91]:
agg_debt.head()

,Unnamed: 0,index,letter,date of the certificate | month,date of the certificate | day,date of the certificate | year,to whom due | first name,to whom due | last name,to whom due | title,time when the debt became due | month,...,amount | 10th,exchange,amount in specie | dollars,amount in specie | cents,amount | 8th,delivered | month,delivered | day,delivered | year,total dollars | notes,total dollars | notes.1
0,0,NaN,NaN,NaN,NaN,NaN,nan,nan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0.0,C,8.0,27.0,1783.0,Elizabeth,Lowell,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2.0,G,8.0,27.0,1783.0,Joshua,Brackett,Esq,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3.0,C,9.0,2.0,1783.0,Phillips,White,Esq,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4.0,B,9.0,2.0,1783.0,William,White,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
print(type(agg_debt))

<class 'pandas.core.frame.DataFrame'>

In [93]:
agg_debt = agg_debt.apply(lambda row: fix_names(row), axis=1)

Winthrop
Wiggins
+------------------+
20    Winthrop
Name: New First Name, dtype: object
20    Wiggin
Name: New Last Name, dtype: object
Stacey
Potts
+------------------+
4    Stacy
Name: New First Name, dtype: object
4    Potts
Name: New Last Name, dtype: object
Samuel
Coole
+------------------+
25    Samuel
Name: New First Name, dtype: object
25    Cole
Name: New Last Name, dtype: object
Samuel
Tuker
+------------------+
64    Samuel
Name: New First Name, dtype: object
64    Tucker
Name: New Last Name, dtype: object
David
Johnes
+------------------+
67    David
Name: New First Name, dtype: object
67    Jones
Name: New Last Name, dtype: object
Jonathan
Hatchinson
+------------------+
103    Jonathan
Name: New First Name, dtype: object
103    Hutchinson
Name: New Last Name, dtype: object
William
Seman
+------------------+
106    William
Name: New First Name, dtype: object
106    Seaman
Name: New Last Name, dtype: object
Isaac
Peirson
+------------------+
118    Isaac
Name: New First Name, dtype: object
118    Pearson
Name: New Last Name, dtype: object
Jacob
VanDorn
+------------------+
130    Jacob
Name: New First Name, dtype: object
130    Vandorn
Name: New Last Name, dtype: object
Barrns
Smock
+------------------+
148    Barns
Name: New First Name, dtype: object
148    Smock
Name: New Last Name, dtype: object
John
Chamberlain
+------------------+
151    John
Name: New First Name, dtype: object
151    Chamberlin
Name: New Last Name, dtype: object
Derrick
Lane
+------------------+
200    Derick
Name: New First Name, dtype: object
200    Lane
Name: New Last Name, dtype: object
Joseph
Hight
+------------------+
201    Joseph
Name: New First Name, dtype: object
201    Haight
Name: New Last Name, dtype: object
John
Hearth
+------------------+
171    John
Name: New First Name, dtype: object
171    Hart
Name: New Last Name, dtype: object
John
Armsbrong
+------------------+
209    John
Name: New First Name, dtype: object
209    Armstrong
Name: New Last Name, dtype: object
Guisbert
Sutfen
+------------------+
216    Guisbert
217    Guisbert
Name: New First Name, dtype: object
216     Sutfin
217    Sutphen
Name: New Last Name, dtype: object
Benjamin
Rossell
+------------------+
234    Benjamin
Name: New First Name, dtype: object
234    Rozell
Name: New Last Name, dtype: object
Joseph
Bloomfield
+------------------+
259    Jos
Name: New First Name, dtype: object
259    Bloomfield
Name: New Last Name, dtype: object
Peter
Stritch
+------------------+
265    Peter
Name: New First Name, dtype: object
265    Stretch
Name: New Last Name, dtype: object
William L
Smith
+------------------+
279    William
Name: New First Name, dtype: object
279    Smith
Name: New Last Name, dtype: object
John
Kills
+------------------+
280    John
Name: New First Name, dtype: object
280    Kille
Name: New Last Name, dtype: object
Daniel
Burnit
+------------------+
292    Daniel
Name: New First Name, dtype: object
292    Burnet
Name: New Last Name, dtype: object
John
Brookfeild
+------------------+
294    John
Name: New First Name, dtype: object
294    Brookfield
Name: New Last Name, dtype: object
Thomas
Pearson
+------------------+
304    Thomas
Name: New First Name, dtype: object
304    Pierson
Name: New Last Name, dtype: object
Thomas
Osbron
+------------------+
311    Thomas
Name: New First Name, dtype: object
311    Osborn
Name: New Last Name, dtype: object
Constanl
Cooper
+------------------+
288    Constant
Name: New First Name, dtype: object
288    Cooper
Name: New Last Name, dtype: object
Mathias
Woodruff
+------------------+
337    Matthias
Name: New First Name, dtype: object
337    Woodruff
Name: New Last Name, dtype: object
William
Johnes
+------------------+
169    William
Name: New First Name, dtype: object
169    Jones
Name: New Last Name, dtype: object
Samuel
Robert
+------------------+
360    Samuel
Name: New First Name, dtype: object
360    Roberts
Name: New Last Name, dtype: object
Joseph
Lindsly
+------------------+
362    Joseph
Name: New First Name, dtype: object
362    Lindsley
Name: New Last Name, dtype: object
Nathniel
Budd
+------------------+
372    Nathaniel
Name: New First Name, dtype: object
372    Budd
Name: New Last Name, dtype: object
Constanl
Cooper
+------------------+
288    Constant
Name: New First Name, dtype: object
288    Cooper
Name: New Last Name, dtype: object
John
Moores
+------------------+
71    John
Name: New First Name, dtype: object
71    Moore
Name: New Last Name, dtype: object
Joseph
Hallsy
+------------------+
379    Joseph
Name: New First Name, dtype: object
379    Hallsey
Name: New Last Name, dtype: object
Zabedee
Potter
+------------------+
285    Zebedee
Name: New First Name, dtype: object
285    Potter
Name: New Last Name, dtype: object
Nathaniel
Ayres
+------------------+
394    Nathaniel
Name: New First Name, dtype: object
394    Ayers
Name: New Last Name, dtype: object
Jeremiah
Corey
+------------------+
398    Jeremiah
Name: New First Name, dtype: object
398    Cory
Name: New Last Name, dtype: object
Abraham
Pryor
+------------------+
407    Abraham
Name: New First Name, dtype: object
407    Pryer
Name: New Last Name, dtype: object
William D
Hart
+------------------+
104    William
Name: New First Name, dtype: object
104    Hart
Name: New Last Name, dtype: object
Ephrm
Darby
+------------------+
112    Ephraim
Name: New First Name, dtype: object
112    Darby
Name: New Last Name, dtype: object
David
Ganoe
+------------------+
419    David
Name: New First Name, dtype: object
419    Gano
Name: New Last Name, dtype: object
Thomas
Dormus
+------------------+
364    Thomas
Name: New First Name, dtype: object
364    Doremus
Name: New Last Name, dtype: object
Jeremiah
Bruin
+------------------+
436    Jeremiah
Name: New First Name, dtype: object
436    Bruen
Name: New Last Name, dtype: object
Stephen
Fairechild
+------------------+
437    Stephen
Name: New First Name, dtype: object
437    Fairchild
Name: New Last Name, dtype: object
Kenith
Hankinson
+------------------+
445    Kenneth
Name: New First Name, dtype: object
445    Hankinson
Name: New Last Name, dtype: object
Guisbert
Satfin
+------------------+
446    Guisbert
Name: New First Name, dtype: object
446    Sutfin
Name: New Last Name, dtype: object
Nath
Miller
+------------------+
447    Nathan
Name: New First Name, dtype: object
447    Miller
Name: New Last Name, dtype: object
Joseph
Lindsley
+------------------+
361    Joseph
Name: New First Name, dtype: object
361    Lindsly
Name: New Last Name, dtype: object
Abraham
Pierson
+------------------+
417    Abraham
Name: New First Name, dtype: object
417    Peirson
Name: New Last Name, dtype: object
John
Brookfeild
+------------------+
294    John
Name: New First Name, dtype: object
294    Brookfield
Name: New Last Name, dtype: object
Jacob
Roome
+------------------+
474    Jacob
Name: New First Name, dtype: object
474    Rome
Name: New Last Name, dtype: object
Levi
Lindsley
+------------------+
426    Levi
Name: New First Name, dtype: object
426    Lindsly
Name: New Last Name, dtype: object
William
Fox Sunded D
+------------------+
478    William
Name: New First Name, dtype: object
478    Fox
Name: New Last Name, dtype: object
Robert
Potterson
+------------------+
493    Robert
Name: New First Name, dtype: object
493    Patterson
Name: New Last Name, dtype: object
Cath John
Potter
+------------------+
497    John
Name: New First Name, dtype: object
497    Potter
Name: New Last Name, dtype: object
Robert
Galass
+------------------+
376    Robert
Name: New First Name, dtype: object
376    Glass
Name: New Last Name, dtype: object
Joseph
Haught
+------------------+
501    Joseph
Name: New First Name, dtype: object
501    Haight
Name: New Last Name, dtype: object
Nath
Horton
+------------------+
350    Nathan
Name: New First Name, dtype: object
350    Horton
Name: New Last Name, dtype: object
Garret
Kipp
+------------------+
439    Garret
Name: New First Name, dtype: object
439    Kip
Name: New Last Name, dtype: object
Abraham
Pryor
+------------------+
407    Abraham
Name: New First Name, dtype: object
407    Pryer
Name: New Last Name, dtype: object
Robert
Maxwill
+------------------+
490    Robert
Name: New First Name, dtype: object
490    Maxwell
Name: New Last Name, dtype: object
Mark
Thompson
+------------------+
510    Mark
Name: New First Name, dtype: object
510    Thomson
Name: New Last Name, dtype: object
John
Dinman
+------------------+
427    John
Name: New First Name, dtype: object
427    Denman
Name: New Last Name, dtype: object
Isaac
VanDike
+------------------+
550    Isaac
Name: New First Name, dtype: object
550    Vandike
Name: New Last Name, dtype: object
John
VanDike
+------------------+
551    John
Name: New First Name, dtype: object
551    Vandike
Name: New Last Name, dtype: object
Samuel
Willet
+------------------+
566    Samuel
Name: New First Name, dtype: object
566    Willett
Name: New Last Name, dtype: object
Gershome
Lee
+------------------+
107    Gershom
Name: New First Name, dtype: object
107    Lee
Name: New Last Name, dtype: object
Cornelius
Tenbrock
+------------------+
573    Cornelius
Name: New First Name, dtype: object
573    Tenbrook
Name: New Last Name, dtype: object
Kennith
Hankinson
+------------------+
579    Kenneth
Name: New First Name, dtype: object
579    Hankinson
Name: New Last Name, dtype: object
Simon
VanDike
+------------------+
582    Simon
Name: New First Name, dtype: object
582    Vandike
Name: New Last Name, dtype: object
Archibald
VanNorden
+------------------+
255    Archibald
Name: New First Name, dtype: object
255    Vannorden
Name: New Last Name, dtype: object
Abram
Voorhees
+------------------+
604    Abraham
Name: New First Name, dtype: object
604    Voorhees
Name: New Last Name, dtype: object
Aaron D
Woodruff
+------------------+
517    Aaron
Name: New First Name, dtype: object
517    Woodruff
Name: New Last Name, dtype: object
Samuel
Deyton
+------------------+
611    Samuel
Name: New First Name, dtype: object
611    Dayton
Name: New Last Name, dtype: object
Honorable David
Brearley
+------------------+
618    David
Name: New First Name, dtype: object
618    Brearley
Name: New Last Name, dtype: object
Ephraim
Sucdder
+------------------+
518    Ephraim
Name: New First Name, dtype: object
518    Scudder
Name: New Last Name, dtype: object
Rueben
Runyan
+------------------+
621    Reuben
Name: New First Name, dtype: object
621    Runyan
Name: New Last Name, dtype: object
Jacob
VanDike
+------------------+
627    Jacob
Name: New First Name, dtype: object
627    Vandike
Name: New Last Name, dtype: object
John
VanDike
+------------------+
551    John
Name: New First Name, dtype: object
551    Vandike
Name: New Last Name, dtype: object
Cornelius
DeHart
+------------------+
638    Cornelius
Name: New First Name, dtype: object
638    Dehart
Name: New Last Name, dtype: object
John
TenBrook
+------------------+
188    John
Name: New First Name, dtype: object
188    Tenbrook
Name: New Last Name, dtype: object

Jacob
VanDike
+------------------+
627    Jacob
Name: New First Name, dtype: object
627    Vandike
Name: New Last Name, dtype: object
Rynier
Veghte
+------------------+
624    Reynier
Name: New First Name, dtype: object
624    Veghte
Name: New Last Name, dtype: object
Peter A
Dumont
+------------------+
643    Peter
Name: New First Name, dtype: object
643    Dumont
Name: New Last Name, dtype: object
William
VanDoren
+------------------+
646    William
Name: New First Name, dtype: object
646    Vandorn
Name: New Last Name, dtype: object
Moses
Scot
+------------------+
650    Moses
Name: New First Name, dtype: object
650    Scott
Name: New Last Name, dtype: object
William
Bladwin
+------------------+
457    William
Name: New First Name, dtype: object
457    Baldwin
Name: New Last Name, dtype: object
David
Hayes
+------------------+
659    David
Name: New First Name, dtype: object
659    Hays
Name: New Last Name, dtype: object
Rolph
Morsh
+------------------+
85    Rolph
Name: New First Name, dtype: object
85    Marsh
Name: New Last Name, dtype: object
Doct Timothy
Jones
+------------------+
298    Timothy
Name: New First Name, dtype: object
298    Jones
Name: New Last Name, dtype: object
Benjamin
William
+------------------+
670    Benjamin
Name: New First Name, dtype: object
670    Williams
Name: New Last Name, dtype: object
John T
Crane
+------------------+
653    John
Name: New First Name, dtype: object
653    Crane
Name: New Last Name, dtype: object
Thomas
Lowrey
+------------------+
68    Thomas
Name: New First Name, dtype: object
68    Lowry
Name: New Last Name, dtype: object
Isaac
Hallsey
+------------------+
675    Isaac
Name: New First Name, dtype: object
675    Halsey
Name: New Last Name, dtype: object
Henry B
Brown
+------------------+
232    Henry
Name: New First Name, dtype: object
232    Brown
Name: New Last Name, dtype: object
John D
Hart
+------------------+
170    John
Name: New First Name, dtype: object
170    Hart
Name: New Last Name, dtype: object
Isaac
Pierson
+------------------+
385    Isaac
Name: New First Name, dtype: object
385    Pearson
Name: New Last Name, dtype: object
Matthias
Hallsted
+------------------+
617    Matthias
Name: New First Name, dtype: object
617    Halsted
Name: New Last Name, dtype: object
David
Hayes
+------------------+
659    David
Name: New First Name, dtype: object
659    Hays
Name: New Last Name, dtype: object
Thomas
Lowrey
+------------------+
68    Thomas
Name: New First Name, dtype: object
68    Lowry
Name: New Last Name, dtype: object
Mark
Thompson
+------------------+
510    Mark
Name: New First Name, dtype: object
510    Thomson
Name: New Last Name, dtype: object
Abraham
Line
+------------------+
639    Abraham
Name: New First Name, dtype: object
639    Lane
Name: New Last Name, dtype: object
Abram
Terhune
+------------------+
686    Abraham
Name: New First Name, dtype: object
686    Terhune
Name: New Last Name, dtype: object
Albert
Voorheese
+------------------+
692    Albert
Name: New First Name, dtype: object
692    Voorhees
Name: New Last Name, dtype: object
Cornelius
Bogert
+------------------+
695    Cornelius
Name: New First Name, dtype: object
695    Bogart
Name: New Last Name, dtype: object
Cornelius L
Bogert
+------------------+
693    Cornelius
Name: New First Name, dtype: object
693    Bogert
Name: New Last Name, dtype: object
Derrick
Lane
+------------------+
200    Derick
Name: New First Name, dtype: object
200    Lane
Name: New Last Name, dtype: object
Thunis
Dey
+------------------+
697    Theunis
Name: New First Name, dtype: object
697    Dey
Name: New Last Name, dtype: object
Abraham
Van Voorhees
+------------------+
699    Abraham
Name: New First Name, dtype: object
699    Voorhees
Name: New Last Name, dtype: object
Albert P
Voorhes
+------------------+
701    Albert
Name: New First Name, dtype: object
701    Voorhees
Name: New Last Name, dtype: object
Garret I
Hopper
+------------------+
684    Garret
Name: New First Name, dtype: object
684    Hopper
Name: New Last Name, dtype: object
Abram
Ackerman
+------------------+
690    Abraham
Name: New First Name, dtype: object
690    Ackerman
Name: New Last Name, dtype: object
John G
Hopper
+------------------+
703    John
Name: New First Name, dtype: object
703    Hopper
Name: New Last Name, dtype: object
Cornelius
Horn
+------------------+
707    Cornelius
Name: New First Name, dtype: object
707    Van Horn
Name: New Last Name, dtype: object
Samuel P
Demarest
+------------------+
708    Samuel
Name: New First Name, dtype: object
708    Demarest
Name: New Last Name, dtype: object
Garret H
Hopper
+------------------+
685    Garret
Name: New First Name, dtype: object
685    Hopper
Name: New Last Name, dtype: object
Garret A
Hopper
+------------------+
714    Garret
Name: New First Name, dtype: object
714    Hopper
Name: New Last Name, dtype: object
Aaron
Chaw
+------------------+
715    Aaron
Name: New First Name, dtype: object
715    Chew
Name: New Last Name, dtype: object
John
Lloyd
+------------------+
520    John
Name: New First Name, dtype: object
520    Lloyd
Name: New Last Name, dtype: object
John
Lloyd
+------------------+
520    John
Name: New First Name, dtype: object
520    Lloyd
Name: New Last Name, dtype: object
Walter
Rutherfurd
+------------------+
469    Walter
Name: New First Name, dtype: object
469    Rutherford
Name: New Last Name, dtype: object
David
Hay
+------------------+
724    David
Name: New First Name, dtype: object
724    Hays
Name: New Last Name, dtype: object
John
Lloyd
+------------------+
520    John
Name: New First Name, dtype: object
520    Lloyd
Name: New Last Name, dtype: object
John
Dunlop
+------------------+
24    John
Name: New First Name, dtype: object
24    Dunlap
Name: New Last Name, dtype: object
Fruman
Yard
+------------------+
654    Furman
Name: New First Name, dtype: object
654    Yard
Name: New Last Name, dtype: object
Thomas
Lloyd
+------------------+
522    Thomas
Name: New First Name, dtype: object
522    Lloyd
Name: New Last Name, dtype: object
Francis C
Witt
+------------------+
132    Francis
Name: New First Name, dtype: object
132    Witt
Name: New Last Name, dtype: object
James
Fenemore
+------------------+
377    James
Name: New First Name, dtype: object
377    Fenimore
Name: New Last Name, dtype: object
Jacques
Voorhees
+------------------+
728    Jaques
Name: New First Name, dtype: object
728    Voorhees
Name: New Last Name, dtype: object
William
Cox Stephens
+------------------+
732    William
Name: New First Name, dtype: object
732    Cox
Name: New Last Name, dtype: object
Jonathan
Furman
+------------------+
150    Jonathan
Name: New First Name, dtype: object
150    Forman
Name: New Last Name, dtype: object
John
Myres
+------------------+
630    John
Name: New First Name, dtype: object
630    Myers
Name: New Last Name, dtype: object
Samuel
Furman
+------------------+
733    Samuel
Name: New First Name, dtype: object
733    Forman
Name: New Last Name, dtype: object
William
VanDorne
+------------------+
735    William
Name: New First Name, dtype: object
735    Vandorn
Name: New Last Name, dtype: object
John D
Terhune
+------------------+
738    John
Name: New First Name, dtype: object
738    Terhune
Name: New Last Name, dtype: object
Daniel
Harring
+------------------+
742    Daniel
Name: New First Name, dtype: object
742    Haring
Name: New Last Name, dtype: object
John
 Demarest
+------------------+
704    John
Name: New First Name, dtype: object
704    Demarest
Name: New Last Name, dtype: object
William
Christie
+------------------+
743    William
Name: New First Name, dtype: object
743    Christy
Name: New Last Name, dtype: object
John A.
Bogart
+------------------+
744    John
Name: New First Name, dtype: object
744    Bogart
Name: New Last Name, dtype: object
John C.
Bogart
+------------------+
745    John
Name: New First Name, dtype: object
745    Bogart
Name: New Last Name, dtype: object
Albert
Van Voorhees
+------------------+
746    Albert
Name: New First Name, dtype: object
746    Voorhees
Name: New Last Name, dtype: object
Garrett
Hopper
+------------------+
683    Garret
Name: New First Name, dtype: object
683    Hopper
Name: New Last Name, dtype: object
James
Gallaway
+------------------+
0    James
Name: New First Name, dtype: object
0    Galloway
Name: New Last Name, dtype: object
Anthony
Yalverton
+------------------+
5    Anthony
Name: New First Name, dtype: object
5    Yelverton
Name: New Last Name, dtype: object
Andrew Van
Oorden
+------------------+
21    Andrew Van
Name: New First Name, dtype: object
21    Orden
Name: New Last Name, dtype: object
John
Blauvelt
+------------------+
45    John
Name: New First Name, dtype: object
45    Blauvelt
Name: New Last Name, dtype: object
John I
Blauvelt
+------------------+
48    John
Name: New First Name, dtype: object
48    Blauvelt
Name: New Last Name, dtype: object
Cornelius c
Smith
+------------------+
50    Cornelius
Name: New First Name, dtype: object
50    Smith
Name: New Last Name, dtype: object
Cornelius c
Smith
+------------------+
50    Cornelius
Name: New First Name, dtype: object
50    Smith
Name: New Last Name, dtype: object

John
Fishear
+------------------+
70    John
Name: New First Name, dtype: object
70    Fisher
Name: New Last Name, dtype: object
Theunis
Cooper
+------------------+
36    Teunis
Name: New First Name, dtype: object
36    Cooper
Name: New Last Name, dtype: object
Josiah
Scely
+------------------+
86    Josiah
Name: New First Name, dtype: object
86    Seely
Name: New Last Name, dtype: object
Josiah
Scely
+------------------+
86    Josiah
Name: New First Name, dtype: object
86    Seely
Name: New Last Name, dtype: object
John L
Moffat
+------------------+
93    John
Name: New First Name, dtype: object
93    Moffat
Name: New Last Name, dtype: object
George
Thomson
+------------------+
98    George
Name: New First Name, dtype: object
98    Thompson
Name: New Last Name, dtype: object
Samson
Dyckman
+------------------+
102    Sampson
Name: New First Name, dtype: object
102    Dyckman
Name: New Last Name, dtype: object
Archabald
Stewart
+------------------+
105    Archibald
Name: New First Name, dtype: object
105    Stewart
Name: New Last Name, dtype: object
Henry H
Kipp
+------------------+
111    Henry
Name: New First Name, dtype: object
111    Kipp
Name: New Last Name, dtype: object
Thomas
Janson
+------------------+
1053    Thomas
Name: New First Name, dtype: object
1053    Jansen
Name: New Last Name, dtype: object
Cornelius
Shoonmaker
+------------------+
128    Cornelius
Name: New First Name, dtype: object
128    Schoonmaker
Name: New Last Name, dtype: object
Thomas
Janson
+------------------+
1053    Thomas
Name: New First Name, dtype: object
1053    Jansen
Name: New Last Name, dtype: object
John
Frier
+------------------+
136    John
Name: New First Name, dtype: object
136    Fryer
Name: New Last Name, dtype: object
Henry
Palmor
+------------------+
140    Henry
Name: New First Name, dtype: object
140    Palmer
Name: New Last Name, dtype: object
Isaac
Freer
+------------------+
142    Isaac
Name: New First Name, dtype: object
142    Fryer
Name: New Last Name, dtype: object
Alexander
Deniston
+------------------+
144    Alexander
Name: New First Name, dtype: object
144    Denniston
Name: New Last Name, dtype: object
Cornelius
Mastin
+------------------+
153    Cornelius
Name: New First Name, dtype: object
153    Masten
Name: New Last Name, dtype: object
Charles
Broadhead
+------------------+
157    Charles W
Name: New First Name, dtype: object
157    Broadhead
Name: New Last Name, dtype: object
Samuel
Arther
+------------------+
176    Samuel
Name: New First Name, dtype: object
176    Arthur
Name: New Last Name, dtype: object
Cornelius
Wyncoop
+------------------+
190    Cornelius
Name: New First Name, dtype: object
190    Wynkoop
Name: New Last Name, dtype: object
Cornelius C
Newkirk
+------------------+
199    Cornelius
Name: New First Name, dtype: object
199    Newkirk
Name: New Last Name, dtype: object
Peter
Wyncoop
+------------------+
204    Peter
Name: New First Name, dtype: object
204    Wynkoop
Name: New Last Name, dtype: object
Johanis
Bevier
+------------------+
205    Johannis
Name: New First Name, dtype: object
205    Bevier
Name: New Last Name, dtype: object
Cornelius
Wyncoop
+------------------+
190    Cornelius
Name: New First Name, dtype: object
190    Wynkoop
Name: New Last Name, dtype: object
Adrian
Wyncoop
+------------------+
206    Adrian
Name: New First Name, dtype: object
206    Wynkoop
Name: New Last Name, dtype: object
John
Frier
+------------------+
136    John
Name: New First Name, dtype: object
136    Fryer
Name: New Last Name, dtype: object
Jacob
Trimper
+------------------+
192    Jacob
Name: New First Name, dtype: object
192    Tremper
Name: New Last Name, dtype: object
William
Pick
+------------------+
213    William
Name: New First Name, dtype: object
213    Peck
Name: New Last Name, dtype: object
Mattew
Newkirk
+------------------+
191    Matthew
Name: New First Name, dtype: object
191    Newkirk
Name: New Last Name, dtype: object
Charles
Broadhead
+------------------+
157    Charles W
Name: New First Name, dtype: object
157    Broadhead
Name: New Last Name, dtype: object
Tobias
Wyncoop
+------------------+
218    Tobias
Name: New First Name, dtype: object
218    Wynkoop
Name: New Last Name, dtype: object
Jacob
Hoornbeck
+------------------+
193    Jacob
Name: New First Name, dtype: object
193    Hornbeck
Name: New Last Name, dtype: object
Thomas
Janson
+------------------+
1053    Thomas
Name: New First Name, dtype: object
1053    Jansen
Name: New Last Name, dtype: object
Cornelius
Wyncoop
+------------------+
190    Cornelius
Name: New First Name, dtype: object
190    Wynkoop
Name: New Last Name, dtype: object
John B
Van Eps
+------------------+
240    John
Name: New First Name, dtype: object
240    Van Eps
Name: New Last Name, dtype: object
John I
Van Vorst
+------------------+
241    John
Name: New First Name, dtype: object
241    Van Vorst
Name: New Last Name, dtype: object
Henry
Kuyser
+------------------+
246    Henry
Name: New First Name, dtype: object
246    Keyser
Name: New Last Name, dtype: object
Volkert
Veeder
+------------------+
358    Volkert S
Name: New First Name, dtype: object
358    Veeder
Name: New Last Name, dtype: object
Peter
Warmwood
+------------------+
258    Peter
Name: New First Name, dtype: object
258    Wormwood
Name: New Last Name, dtype: object
Garret I
Lansingh
+------------------+
870    Garret
Name: New First Name, dtype: object
870    Lansing
Name: New Last Name, dtype: object
John
Mailey
+------------------+
272    John
Name: New First Name, dtype: object
272    Maley
Name: New Last Name, dtype: object
Volkert
Veeder
+------------------+
358    Volkert S
Name: New First Name, dtype: object
358    Veeder
Name: New Last Name, dtype: object
Abraham
Ten Brook
+------------------+
274    Abraham
Name: New First Name, dtype: object
274    Ten Broeck
Name: New Last Name, dtype: object
William
Deitz
+------------------+
303    William
Name: New First Name, dtype: object
303    Dietz
Name: New Last Name, dtype: object
Charles
Broadhead
+------------------+
157    Charles W
Name: New First Name, dtype: object
157    Broadhead
Name: New Last Name, dtype: object
Christion
Nellis
+------------------+
331    Christian
Name: New First Name, dtype: object
331    Nellis
Name: New Last Name, dtype: object
Christion
Nellis
+------------------+
331    Christian
Name: New First Name, dtype: object
331    Nellis
Name: New Last Name, dtype: object
James
Raily
+------------------+
353    James
Name: New First Name, dtype: object
353    Riley
Name: New Last Name, dtype: object
Conrad
Friday
+------------------+
356    Conradt
Name: New First Name, dtype: object
356    Friday
Name: New Last Name, dtype: object
John Bap
Van Vorst
+------------------+
359    John
Name: New First Name, dtype: object
359    Van Vorst
Name: New Last Name, dtype: object
Christiam
Nellis
+------------------+
367    Christian
Name: New First Name, dtype: object
367    Nellis
Name: New Last Name, dtype: object
Stephen P
Schuyler
+------------------+
369    Stephen
Name: New First Name, dtype: object
369    Schuyler
Name: New Last Name, dtype: object
John R
Wemple
+------------------+
270    John
Name: New First Name, dtype: object
270    Wemple
Name: New Last Name, dtype: object
John
Evert
+------------------+
378    John
Name: New First Name, dtype: object
378    Everts
Name: New Last Name, dtype: object
Derick
Spoor
+------------------+
380    Dirick
Name: New First Name, dtype: object
380    Spoor
Name: New Last Name, dtype: object
Thomas
Belkanp
+------------------+
382    Thomas
Name: New First Name, dtype: object
382    Belknap
Name: New Last Name, dtype: object
Peter
Brunck
+------------------+
383    Peter
Name: New First Name, dtype: object
383    Brinck
Name: New Last Name, dtype: object
Garret
Cluet
+------------------+
395    Garret
Name: New First Name, dtype: object
395    Clute
Name: New Last Name, dtype: object
Nicholas
Van Alstyne
+------------------+
400    Nicholas
Name: New First Name, dtype: object
400    Van Alstine
Name: New Last Name, dtype: object
Nicholas
Van Vranken
+------------------+
243    Nicholas
Name: New First Name, dtype: object
243    Van Vrankin
Name: New Last Name, dtype: object
Volkert
Veeder
+------------------+
358    Volkert S
Name: New First Name, dtype: object
358    Veeder
Name: New Last Name, dtype: object
Ebenezar
Benjamin
+------------------+
410    Ebenezer
Name: New First Name, dtype: object
410    Benjamin
Name: New Last Name, dtype: object
Christion
Brown
+------------------+
325    Christian
Name: New First Name, dtype: object
325    Brown
Name: New Last Name, dtype: object
Myndert A
Wemple
+------------------+
271    Myndert
Name: New First Name, dtype: object
271    Wemple
Name: New Last Name, dtype: object
Abraham D
Fonda
+------------------+
414    Abraham
Name: New First Name, dtype: object
414    Fonda
Name: New Last Name, dtype: object
Aron
Bradt
+------------------+
344    Aaron
Name: New First Name, dtype: object
344    Bradt
Name: New Last Name, dtype: object
John W
Groosbeck
+------------------+
420    John W
Name: New First Name, dtype: object
420    Groesbeck
Name: New Last Name, dtype: object

Peter
Woormwood
+------------------+
422    Peter
Name: New First Name, dtype: object
422    Wormwood
Name: New Last Name, dtype: object
John
Sanderse
+------------------+
357    John
Name: New First Name, dtype: object
357    Sanders
Name: New Last Name, dtype: object
John
Sanderse
+------------------+
357    John
Name: New First Name, dtype: object
357    Sanders
Name: New Last Name, dtype: object
Nicholas
Veider
+------------------+
370    Nicholas
Name: New First Name, dtype: object
370    Veeder
Name: New Last Name, dtype: object
John
Fonda
+------------------+
321    John D
Name: New First Name, dtype: object
321    Fonda
Name: New Last Name, dtype: object
John
Wart
+------------------+
432    John
Name: New First Name, dtype: object
432    Van Wart
Name: New Last Name, dtype: object
John L
Schermerhorn
+------------------+
310    John
Name: New First Name, dtype: object
310    Schermerhorn
Name: New Last Name, dtype: object
John
Fonda
+------------------+
321    John D
Name: New First Name, dtype: object
321    Fonda
Name: New Last Name, dtype: object
Luther
Browne
+------------------+
401    Luther
Name: New First Name, dtype: object
401    Brown
Name: New Last Name, dtype: object
Stephen I
Schuyler
+------------------+
438    Stephen
Name: New First Name, dtype: object
438    Schuyler
Name: New Last Name, dtype: object
John
Fonda
+------------------+
321    John D
Name: New First Name, dtype: object
321    Fonda
Name: New Last Name, dtype: object
Hanyost
Fink
+------------------+
441    Honyost
Name: New First Name, dtype: object
441    Fink
Name: New Last Name, dtype: object
John
Honsen
+------------------+
442    John
Name: New First Name, dtype: object
442    Hansen
Name: New Last Name, dtype: object
George
Hutten
+------------------+
443    George
Name: New First Name, dtype: object
443    Hutton
Name: New Last Name, dtype: object
John I
Fort
+------------------+
444    John
Name: New First Name, dtype: object
444    Fort
Name: New Last Name, dtype: object
William
Clyne
+------------------+
275    William
Name: New First Name, dtype: object
275    Cline
Name: New Last Name, dtype: object
John
Fonda
+------------------+
321    John D
Name: New First Name, dtype: object
321    Fonda
Name: New Last Name, dtype: object
Isaac
Vedder
+------------------+
452    Isaac
Name: New First Name, dtype: object
452    Veeder
Name: New Last Name, dtype: object
Isaac
Belkanp
+------------------+
455    Isaac
Name: New First Name, dtype: object
455    Belknap
Name: New Last Name, dtype: object
James
Gorden
+------------------+
456    James
Name: New First Name, dtype: object
456    Gordon
Name: New Last Name, dtype: object
Fredrick
Smith
+------------------+
49    Frederick
Name: New First Name, dtype: object
49    Smith
Name: New Last Name, dtype: object
Philip
Van Alstyne
+------------------+
324    Philip
Name: New First Name, dtype: object
324    Van Alstine
Name: New Last Name, dtype: object
John W
Grosebeck
+------------------+
464    John W
Name: New First Name, dtype: object
464    Groesbeck
Name: New Last Name, dtype: object
Brinton
Payne
+------------------+
466    Brinton
Name: New First Name, dtype: object
466    Paine
Name: New Last Name, dtype: object
Aaron I
Bradt
+------------------+
345    Aaron
Name: New First Name, dtype: object
345    Bradt
Name: New Last Name, dtype: object
John
Frier
+------------------+
136    John
Name: New First Name, dtype: object
136    Fryer
Name: New Last Name, dtype: object
John
Van Ness
+------------------+
470    John
Name: New First Name, dtype: object
470    Van Ness
Name: New Last Name, dtype: object
Joseph
Eades
+------------------+
475    Joseph
Name: New First Name, dtype: object
475    Edes
Name: New Last Name, dtype: object
John D
Fort
+------------------+
476    John
Name: New First Name, dtype: object
476    Fort
Name: New Last Name, dtype: object
Stephen I
Schuyler
+------------------+
438    Stephen
Name: New First Name, dtype: object
438    Schuyler
Name: New Last Name, dtype: object
Volkert
Veeder
+------------------+
358    Volkert S
Name: New First Name, dtype: object
358    Veeder
Name: New Last Name, dtype: object
Joseph
Eades
+------------------+
475    Joseph
Name: New First Name, dtype: object
475    Edes
Name: New Last Name, dtype: object
Volkert
Veeder
+------------------+
358    Volkert S
Name: New First Name, dtype: object
358    Veeder
Name: New Last Name, dtype: object
Christion
Nellis
+------------------+
331    Christian
Name: New First Name, dtype: object
331    Nellis
Name: New Last Name, dtype: object
Alexander Litch
Miller
+------------------+
500    Alexander
Name: New First Name, dtype: object
500    Miller
Name: New Last Name, dtype: object
Asa
Douglas
+------------------+
504    Asa
Name: New First Name, dtype: object
504    Douglass
Name: New Last Name, dtype: object
William
Addams
+------------------+
492    William
Name: New First Name, dtype: object
492    Adams
Name: New Last Name, dtype: object
John D
Fort
+------------------+
476    John
Name: New First Name, dtype: object
476    Fort
Name: New Last Name, dtype: object
Justus
Nellson
+------------------+
507    Justus
Name: New First Name, dtype: object
507    Neilson
Name: New Last Name, dtype: object
Nicholas
Van Alstyne
+------------------+
400    Nicholas
Name: New First Name, dtype: object
400    Van Alstine
Name: New Last Name, dtype: object
Aron
Bradt
+------------------+
344    Aaron
Name: New First Name, dtype: object
344    Bradt
Name: New Last Name, dtype: object
John
Lawrance
+------------------+
416    John
Name: New First Name, dtype: object
416    Lawrence
Name: New Last Name, dtype: object
John
Lawrance
+------------------+
416    John
Name: New First Name, dtype: object
416    Lawrence
Name: New Last Name, dtype: object
John G
Brinkerhoff
+------------------+
525    John
Name: New First Name, dtype: object
525    Brinkerhoff
Name: New Last Name, dtype: object
John
Fraer
+------------------+
531    John
Name: New First Name, dtype: object
531    Fryer
Name: New Last Name, dtype: object
Andrew
Moorehouse
+------------------+
534    Andrew
Name: New First Name, dtype: object
534    Morehouse
Name: New Last Name, dtype: object
John
Lawrance
+------------------+
416    John
Name: New First Name, dtype: object
416    Lawrence
Name: New Last Name, dtype: object
Marten
Armstrong
+------------------+
543    Martin
Name: New First Name, dtype: object
543    Armstrong
Name: New Last Name, dtype: object
Jacob
Griffen
+------------------+
546    Jacob
Name: New First Name, dtype: object
546    Griffin
Name: New Last Name, dtype: object
David
Southerlin
+------------------+
556    David
Name: New First Name, dtype: object
556    Southerland
Name: New Last Name, dtype: object
Joshua
Nielson
+------------------+
558    Joshua
Name: New First Name, dtype: object
558    Neilson
Name: New Last Name, dtype: object
David
Collin
+------------------+
559    David
Name: New First Name, dtype: object
559    Collins
Name: New Last Name, dtype: object
Samuel
Brewster
+------------------+
167    Samuel
Name: New First Name, dtype: object
167    Brewster
Name: New Last Name, dtype: object
Jeremiah
Burges
+------------------+
569    Jeremiah
Name: New First Name, dtype: object
569    Burgess
Name: New Last Name, dtype: object
William
Van Wycke
+------------------+
552    William
Name: New First Name, dtype: object
552    Van Wyck
Name: New Last Name, dtype: object
John
Van Leuvan
+------------------+
221    John
Name: New First Name, dtype: object
221    Van Leuven
Name: New Last Name, dtype: object
John
Greene
+------------------+
415    John
Name: New First Name, dtype: object
415    Green
Name: New Last Name, dtype: object
John P
Brinckerhoff
+------------------+
581    John
Name: New First Name, dtype: object
581    Brinckerhoff
Name: New Last Name, dtype: object
Samuel
Bangs
+------------------+
584    Samuel
Name: New First Name, dtype: object
584    Banks
Name: New Last Name, dtype: object
David
Springsted
+------------------+
585    David
Name: New First Name, dtype: object
585    Springsteel
Name: New Last Name, dtype: object
Harman
Hoffman
+------------------+
589    Herman
Name: New First Name, dtype: object
589    Hoffman
Name: New Last Name, dtype: object
John I
Hansen
+------------------+
460    John
Name: New First Name, dtype: object
460    Hansen
Name: New Last Name, dtype: object
Thomas
Mitchel
+------------------+
553    Thomas
Name: New First Name, dtype: object
553    Mitchell
Name: New Last Name, dtype: object
John
Creig
+------------------+
335    John
Name: New First Name, dtype: object
335    Craig
Name: New Last Name, dtype: object
Jeremiah
Clerk
+------------------+
185    Jeremiah
Name: New First Name, dtype: object
185    Clark
Name: New Last Name, dtype: object
John S
Moffat
+------------------+
108    John
Name: New First Name, dtype: object
108    Moffat
Name: New Last Name, dtype: object
William
Pugsly
+------------------+
563    William
Name: New First Name, dtype: object
563    Pugsley
Name: New Last Name, dtype: object
Alexander L
Miller
+------------------+
606    Alexander
Name: New First Name, dtype: object
606    Miller
Name: New Last Name, dtype: object
John
Frier
+------------------+
136    John
Name: New First Name, dtype: object
136    Fryer
Name: New Last Name, dtype: object

Joseph
Owens
+------------------+
562    Joseph
Name: New First Name, dtype: object
562    Owen
Name: New Last Name, dtype: object
Philip
Jacob
+------------------+
615    Philip
Name: New First Name, dtype: object
615    Jacobs
Name: New Last Name, dtype: object
Joel
Harvey
+------------------+
601    Joel
Name: New First Name, dtype: object
601    Hervey
Name: New Last Name, dtype: object
Richard
Welch
+------------------+
622    Richard
Name: New First Name, dtype: object
622    Welsh
Name: New Last Name, dtype: object
Thomas
Janson
+------------------+
1053    Thomas
Name: New First Name, dtype: object
1053    Jansen
Name: New Last Name, dtype: object
John
Cluet
+------------------+
368    John
Name: New First Name, dtype: object
368    Clute
Name: New Last Name, dtype: object
John
Van allen
+------------------+
473    John
Name: New First Name, dtype: object
473    Van Allen
Name: New Last Name, dtype: object
John
Fonda
+------------------+
321    John D
Name: New First Name, dtype: object
321    Fonda
Name: New Last Name, dtype: object
James
Botts
+------------------+
631    James
Name: New First Name, dtype: object
631    Betts
Name: New Last Name, dtype: object
Anthony
Trip
+------------------+
632    Anthony
Name: New First Name, dtype: object
632    Tripp
Name: New Last Name, dtype: object
Philip
Lawrance
+------------------+
636    Philip
Name: New First Name, dtype: object
636    Lawrence
Name: New Last Name, dtype: object
William
Oakly
+------------------+
542    William
Name: New First Name, dtype: object
542    Oakley
Name: New Last Name, dtype: object
John
Compbell
+------------------+
312    John
Name: New First Name, dtype: object
312    Campbell
Name: New Last Name, dtype: object
John
Polhamus
+------------------+
73    John
Name: New First Name, dtype: object
73    Polhemus
Name: New Last Name, dtype: object
Joseph
Owens
+------------------+
562    Joseph
Name: New First Name, dtype: object
562    Owen
Name: New Last Name, dtype: object
John
Allen
+------------------+
472    John
Name: New First Name, dtype: object
472    Van Allen
Name: New Last Name, dtype: object
William
Deen
+------------------+
640    William
Name: New First Name, dtype: object
640    Dean
Name: New Last Name, dtype: object
John
Darke
+------------------+
539    John
Name: New First Name, dtype: object
539    Drake
Name: New Last Name, dtype: object
John
Devenport
+------------------+
222    John
Name: New First Name, dtype: object
222    Davenport
Name: New Last Name, dtype: object
Verdine
Elseworth
+------------------+
554    Verdine
Name: New First Name, dtype: object
554    Elsworth
Name: New Last Name, dtype: object
Isaac
Oakly
+------------------+
561    Isaac
Name: New First Name, dtype: object
561    Oakley
Name: New Last Name, dtype: object
Abel
Belkanap
+------------------+
159    Abel
Name: New First Name, dtype: object
159    Belknap
Name: New Last Name, dtype: object
Fredrick
Fox
+------------------+
319    Frederick
Name: New First Name, dtype: object
319    Fox
Name: New Last Name, dtype: object
Daniel
Greene
+------------------+
60    Daniel
Name: New First Name, dtype: object
60    Green
Name: New Last Name, dtype: object
Richard
Galdsmith
+------------------+
182    Richard
Name: New First Name, dtype: object
182    Goldsmith
Name: New Last Name, dtype: object
Andrew
Moorehouse
+------------------+
534    Andrew
Name: New First Name, dtype: object
534    Morehouse
Name: New Last Name, dtype: object
Cornelius T
Janson
+------------------+
652    Cornelius T
Name: New First Name, dtype: object
652    Jansen
Name: New Last Name, dtype: object
John
lewis
+------------------+
480    John
Name: New First Name, dtype: object
480    Lewis
Name: New Last Name, dtype: object
Jatham
Wright
+------------------+
580    Jotham
Name: New First Name, dtype: object
580    Wright
Name: New Last Name, dtype: object
Peter
Messier
+------------------+
320    Peter
Name: New First Name, dtype: object
320    Mesier
Name: New Last Name, dtype: object
Cornwell
Sands
+------------------+
174    Cornwall
Name: New First Name, dtype: object
174    Sands
Name: New Last Name, dtype: object
Cornwell
Sands
+------------------+
174    Cornwall
Name: New First Name, dtype: object
174    Sands
Name: New Last Name, dtype: object
Israel
Beals
+------------------+
7    Israel
Name: New First Name, dtype: object
7    Beal
Name: New Last Name, dtype: object
Coll Joseph
Webb
+------------------+
11    Joseph
Name: New First Name, dtype: object
11    Webb
Name: New Last Name, dtype: object
Coll Joseph
Webb
+------------------+
11    Joseph
Name: New First Name, dtype: object
11    Webb
Name: New Last Name, dtype: object
Oliver
Wisswall
+------------------+
17    Oliver
Name: New First Name, dtype: object
17    Wiswall
Name: New Last Name, dtype: object
Thomas
Osborn
+------------------+
32    Thomas
Name: New First Name, dtype: object
32    Osburn
Name: New Last Name, dtype: object
William
Gorden
+------------------+
33    William
Name: New First Name, dtype: object
33    Gordon
Name: New Last Name, dtype: object
Oliver
Wendall
+------------------+
1283    Oliver
Name: New First Name, dtype: object
1283    Wendell
Name: New Last Name, dtype: object
Joseph
Hendrerson
+------------------+
99    Joseph
Name: New First Name, dtype: object
99    Henderson
Name: New Last Name, dtype: object
Joseph
Newall
+------------------+
74    Joseph
Name: New First Name, dtype: object
74    Newhall
Name: New Last Name, dtype: object
Ebenezer
Clop
+------------------+
115    Ebenezer
Name: New First Name, dtype: object
115    Clap
Name: New Last Name, dtype: object
Luther
Hitchcook
+------------------+
119    Luther
Name: New First Name, dtype: object
119    Hitchcock
Name: New Last Name, dtype: object
Thomas
Stebbins
+------------------+
116    Thomas
Name: New First Name, dtype: object
116    Stebbins
Name: New Last Name, dtype: object
James
Baker
+------------------+
127    James
Name: New First Name, dtype: object
127    Baker
Name: New Last Name, dtype: object
James
Baker
+------------------+
127    James
Name: New First Name, dtype: object
127    Baker
Name: New Last Name, dtype: object
Issac
Sears
+------------------+
147    Isaac
Name: New First Name, dtype: object
147    Sears
Name: New Last Name, dtype: object
Samson
Reed
+------------------+
156    Sampson
Name: New First Name, dtype: object
156    Reed
Name: New Last Name, dtype: object
Joseph
Callinder
+------------------+
158    Joseph
Name: New First Name, dtype: object
158    Callender
Name: New Last Name, dtype: object
William
Bennet
+------------------+
161    William
Name: New First Name, dtype: object
161    Bennett
Name: New Last Name, dtype: object
Shubael
Pick
+------------------+
162    Shubael
Name: New First Name, dtype: object
162    Peck
Name: New Last Name, dtype: object
Jushua
Green
+------------------+
172    Joshua
Name: New First Name, dtype: object
172    Green
Name: New Last Name, dtype: object
John
Rogers
+------------------+
183    John
Name: New First Name, dtype: object
183    Rogers
Name: New Last Name, dtype: object
Joseph
Bennet
+------------------+
184    Joseph
Name: New First Name, dtype: object
184    Bennett
Name: New Last Name, dtype: object
Stephen
Harris
+------------------+
22    Stephen
Name: New First Name, dtype: object
22    Harris
Name: New Last Name, dtype: object
Samuel
Plummer
+------------------+
223    Samuel
Name: New First Name, dtype: object
223    Plumer
Name: New Last Name, dtype: object
Gideon
Walkir
+------------------+
229    Gideon
Name: New First Name, dtype: object
229    Walker
Name: New Last Name, dtype: object
Hodijah
Bailies
+------------------+
235    Hodijah
Name: New First Name, dtype: object
235    Baylies
Name: New Last Name, dtype: object
Timothy
Tuffts
+------------------+
160    Timothy
Name: New First Name, dtype: object
160    Tufts
Name: New Last Name, dtype: object
Samuel
Tuffts
+------------------+
254    Samuel
Name: New First Name, dtype: object
254    Tufts
Name: New Last Name, dtype: object
William
Seaver
+------------------+
65    William
Name: New First Name, dtype: object
65    Sever
Name: New Last Name, dtype: object
Henry H.
Williams
+------------------+
261    Henry H
Name: New First Name, dtype: object
261    Williams
Name: New Last Name, dtype: object
Rulph
Smith
+------------------+
263    Ralph
Name: New First Name, dtype: object
263    Smith
Name: New Last Name, dtype: object
William
Whitting
+------------------+
277    William
Name: New First Name, dtype: object
277    Whiting
Name: New Last Name, dtype: object
Henry K
Williams
+------------------+
194    Henry
Name: New First Name, dtype: object
194    Williams
Name: New Last Name, dtype: object
James
Parkins
+------------------+
154    James
Name: New First Name, dtype: object
154    Perkins
Name: New Last Name, dtype: object
Ebenezer
Bartlett
+------------------+
290    Ebenezer
Name: New First Name, dtype: object
290    Bartlet
Name: New Last Name, dtype: object
Jonas
Wyath
+------------------+
291    Jonas
Name: New First Name, dtype: object
291    Wyeth
Name: New Last Name, dtype: object
Henry H.
Williams
+------------------+
261    Henry H
Name: New First Name, dtype: object
261    Williams
Name: New Last Name, dtype: object
William
Manning
+------------------+
307    William T
Name: New First Name, dtype: object
307    Manning
Name: New Last Name, dtype: object
John
Andrew
+------------------+
314    John
Name: New First Name, dtype: object
314    Andrews
Name: New Last Name, dtype: object
Henry H.
Williams
+------------------+
261    Henry H
Name: New First Name, dtype: object
261    Williams
Name: New Last Name, dtype: object
John
Andrew
+------------------+
314    John
Name: New First Name, dtype: object
314    Andrews
Name: New Last Name, dtype: object
John
Goffs
+------------------+
327    John
Name: New First Name, dtype: object
327    Goff
Name: New Last Name, dtype: object
Banjamin
Gould
+------------------+
330    Benjamin
Name: New First Name, dtype: object
330    Gould
Name: New Last Name, dtype: object
Oliver
Wiswell
+------------------+
340    Oliver
Name: New First Name, dtype: object
340    Wiswall
Name: New Last Name, dtype: object
Samuel
Belcker
+------------------+
341    Samuel
Name: New First Name, dtype: object
341    Belcher
Name: New Last Name, dtype: object

John
Hawes
+------------------+
305    John
Name: New First Name, dtype: object
305    Hawes
Name: New Last Name, dtype: object
William
Seaver
+------------------+
65    William
Name: New First Name, dtype: object
65    Sever
Name: New Last Name, dtype: object
Nathaniel
davis
+------------------+
177    Nathaniel
Name: New First Name, dtype: object
177    Davis
Name: New Last Name, dtype: object
John M
Lane
+------------------+
23    John
Name: New First Name, dtype: object
23    Lane
Name: New Last Name, dtype: object
John
Mc Lane
+------------------+
228    John
Name: New First Name, dtype: object
228    McLane
Name: New Last Name, dtype: object
Joel
Hagar
+------------------+
238    Joel
Name: New First Name, dtype: object
238    Hager
Name: New Last Name, dtype: object
Henry H.
Williams
+------------------+
261    Henry H
Name: New First Name, dtype: object
261    Williams
Name: New Last Name, dtype: object
Beriah
Abbott
+------------------+
29    Beriah
Name: New First Name, dtype: object
29    Abbot
Name: New Last Name, dtype: object
David
Abbott
+------------------+
396    David
Name: New First Name, dtype: object
396    Abbot
Name: New Last Name, dtype: object
Jonas
Adam
+------------------+
31    Jonas
Name: New First Name, dtype: object
31    Adams
Name: New Last Name, dtype: object
Ebenezar
Adams
+------------------+
406    Ebenezer
Name: New First Name, dtype: object
406    Adams
Name: New Last Name, dtype: object
Samuel
Addams
+------------------+
6    Samuel
Name: New First Name, dtype: object
6    Adams
Name: New Last Name, dtype: object
Noah
Ailen
+------------------+
143    Noah
Name: New First Name, dtype: object
143    Allen
Name: New Last Name, dtype: object
John
Albertus
+------------------+
76    John
Name: New First Name, dtype: object
76    Albert
Name: New Last Name, dtype: object
John
Albright
+------------------+
680    John
Name: New First Name, dtype: object
680    Allbright
Name: New Last Name, dtype: object
Elij
Alden
+------------------+
423    Elijah
Name: New First Name, dtype: object
423    Alden
Name: New Last Name, dtype: object
James
Alien
+------------------+
10    James
Name: New First Name, dtype: object
10    Allen
Name: New Last Name, dtype: object
Ebenezer
Allin
+------------------+
424    Ebenezer
Name: New First Name, dtype: object
424    Allen
Name: New Last Name, dtype: object
Joseph I
Anderson
+------------------+
481    Joseph
Name: New First Name, dtype: object
481    Anderson
Name: New Last Name, dtype: object
Eneus
Andrews
+------------------+
440    Eneas
Name: New First Name, dtype: object
440    Andrews
Name: New Last Name, dtype: object
John
Andruss
+------------------+
8    John
Name: New First Name, dtype: object
8    Andrus
Name: New Last Name, dtype: object
Josiah
Andruss
+------------------+
9    Josiah
Name: New First Name, dtype: object
9    Andrus
Name: New Last Name, dtype: object
Archib
Armstrong
+------------------+
313    Archibald
Name: New First Name, dtype: object
313    Armstrong
Name: New Last Name, dtype: object
Joan
Atkinson
+------------------+
450    John
Name: New First Name, dtype: object
450    Atkinson
Name: New Last Name, dtype: object
Beniamin
Austin
+------------------+
77    Benjamin
Name: New First Name, dtype: object
77    Austin
Name: New Last Name, dtype: object
John
Ayer
+------------------+
14    John
Name: New First Name, dtype: object
14    Ayers
Name: New Last Name, dtype: object
Thomas
Ayers
+------------------+
37    Thomas
Name: New First Name, dtype: object
37    Ayres
Name: New Last Name, dtype: object
Henry
Badwell
+------------------+
465    Henry
Name: New First Name, dtype: object
465    Bodwell
Name: New Last Name, dtype: object
John 1st
Bailey
+------------------+
225    John
Name: New First Name, dtype: object
225    Bailey
Name: New Last Name, dtype: object
John 2d
Bailey
+------------------+
226    John
Name: New First Name, dtype: object
226    Bailey
Name: New Last Name, dtype: object
John Jr.
Bailey
+------------------+
227    John
Name: New First Name, dtype: object
227    Bailey
Name: New Last Name, dtype: object
John Sr.
Bailey
+------------------+
467    John
Name: New First Name, dtype: object
467    Bailey
Name: New Last Name, dtype: object
William Jr.
Bailey
+------------------+
15    William
Name: New First Name, dtype: object
15    Bailey
Name: New Last Name, dtype: object
Jacob
Baits
+------------------+
468    Jacob
Name: New First Name, dtype: object
468    Bates
Name: New Last Name, dtype: object
John F
Baker
+------------------+
471    John
Name: New First Name, dtype: object
471    Baker
Name: New Last Name, dtype: object
Keder
Ballard
+------------------+
84    Kedar
Name: New First Name, dtype: object
84    Ballard
Name: New Last Name, dtype: object
William H
Ballard
+------------------+
479    William
Name: New First Name, dtype: object
479    Ballard
Name: New Last Name, dtype: object
William
Barnett
+------------------+
88    William
Name: New First Name, dtype: object
88    Burnett
Name: New Last Name, dtype: object
Elijah
Barns
+------------------+
484    Elijah
Name: New First Name, dtype: object
484    Barnes
Name: New Last Name, dtype: object
Isaac
Barret
+------------------+
485    Isaac
Name: New First Name, dtype: object
485    Barrett
Name: New Last Name, dtype: object
John
Barret
+------------------+
63    John
Name: New First Name, dtype: object
63    Barrett
Name: New Last Name, dtype: object
Lemuel
Barret
+------------------+
486    Lemuel
Name: New First Name, dtype: object
486    Barrett
Name: New Last Name, dtype: object
Nathaniel
Barrot
+------------------+
44    Nathaniel
Name: New First Name, dtype: object
44    Barrett
Name: New Last Name, dtype: object
Ebenezer
Bartlett
+------------------+
290    Ebenezer
Name: New First Name, dtype: object
290    Bartlet
Name: New Last Name, dtype: object
Constant
Bashnell
+------------------+
39    Constant
Name: New First Name, dtype: object
39    Bushnell
Name: New Last Name, dtype: object
Cornelius
Basset
+------------------+
40    Cornelius
Name: New First Name, dtype: object
40    Bassett
Name: New Last Name, dtype: object
Stephen
Baterson
+------------------+
42    Stephen
Name: New First Name, dtype: object
42    Batterson
Name: New Last Name, dtype: object
James
Battles
+------------------+
503    James
Name: New First Name, dtype: object
503    Battle
Name: New Last Name, dtype: object
Sebastin
Bauman
+------------------+
189    Sebastian
Name: New First Name, dtype: object
189    Bauman
Name: New Last Name, dtype: object
Joseph
Beats
+------------------+
496    Joseph
Name: New First Name, dtype: object
496    Bates
Name: New Last Name, dtype: object
Humphrey
Becket
+------------------+
78    Humphrey
Name: New First Name, dtype: object
78    Beckett
Name: New Last Name, dtype: object
John
Beckman
+------------------+
730    John H
Name: New First Name, dtype: object
730    Beckman
Name: New Last Name, dtype: object
Nathaniel
Beech
+------------------+
43    Nathaniel
Name: New First Name, dtype: object
43    Beach
Name: New Last Name, dtype: object
John
Belfiela
+------------------+
56    John
Name: New First Name, dtype: object
56    Belfield
Name: New Last Name, dtype: object
Jesse
Bement
+------------------+
549    Jesse
Name: New First Name, dtype: object
549    Bemont
Name: New Last Name, dtype: object
James
Bennet
+------------------+
588    James
Name: New First Name, dtype: object
588    Bennett
Name: New Last Name, dtype: object
Nehemiah
Bennet
+------------------+
557    Nehemiah
Name: New First Name, dtype: object
557    Bennett
Name: New Last Name, dtype: object
John
Bennson
+------------------+
591    John
Name: New First Name, dtype: object
591    Benson
Name: New Last Name, dtype: object
John
Bever
+------------------+
514    John
Name: New First Name, dtype: object
514    Beaver
Name: New Last Name, dtype: object
William
Biggelow
+------------------+
577    William
Name: New First Name, dtype: object
577    Bigelow
Name: New Last Name, dtype: object
William
Biglow
+------------------+
578    William
Name: New First Name, dtype: object
578    Bigelow
Name: New Last Name, dtype: object
William
Bird
+------------------+
764    William
Name: New First Name, dtype: object
764    Baird
Name: New Last Name, dtype: object

John
Bleke
+------------------+
599    John
Name: New First Name, dtype: object
599    Blake
Name: New Last Name, dtype: object
Samuel
Blis
+------------------+
145    Samuel
Name: New First Name, dtype: object
145    Bliss
Name: New Last Name, dtype: object
James
Blodgett
+------------------+
605    James
Name: New First Name, dtype: object
605    Blodget
Name: New Last Name, dtype: object
Jacob
Bockus
+------------------+
709    Jacob
Name: New First Name, dtype: object
709    Backus
Name: New Last Name, dtype: object
James
Boice
+------------------+
741    James
Name: New First Name, dtype: object
741    Boyce
Name: New Last Name, dtype: object
John
Boody
+------------------+
117    John
Name: New First Name, dtype: object
117    Bowdy
Name: New Last Name, dtype: object
Lewis
Bookers
+------------------+
69    Lewis
Name: New First Name, dtype: object
69    Booker
Name: New Last Name, dtype: object
Samuel
Bookers
+------------------+
72    Samuel
Name: New First Name, dtype: object
72    Booker
Name: New Last Name, dtype: object
Moses
Boon
+------------------+
716    Moses
Name: New First Name, dtype: object
716    Boone
Name: New Last Name, dtype: object
John
Boons
+------------------+
725    John
Name: New First Name, dtype: object
725    Boon
Name: New Last Name, dtype: object
Moses
Boons
+------------------+
721    Moses
Name: New First Name, dtype: object
721    Boone
Name: New Last Name, dtype: object
Elijah
Bordman
+------------------+
66    Elijah
Name: New First Name, dtype: object
66    Boardman
Name: New Last Name, dtype: object
William
Bordman
+------------------+
614    William
Name: New First Name, dtype: object
614    Boardman
Name: New Last Name, dtype: object
John
Bound
+------------------+
80    John
Name: New First Name, dtype: object
80    Bond
Name: New Last Name, dtype: object
Jacob
Bowyer
+------------------+
760    Jacob
Name: New First Name, dtype: object
760    Bower
Name: New Last Name, dtype: object
Henry
Brag
+------------------+
651    Henry
Name: New First Name, dtype: object
651    Bragg
Name: New Last Name, dtype: object
Beniamin
Bragg
+------------------+
87    Benjamin
Name: New First Name, dtype: object
87    Bragg
Name: New Last Name, dtype: object
Daniel
Brewer
+------------------+
780    Daniel
Name: New First Name, dtype: object
780    Brower
Name: New Last Name, dtype: object
Hakaliah
Bridges
+------------------+
658    Hackaliah
Name: New First Name, dtype: object
658    Bridges
Name: New Last Name, dtype: object
John
Brigg
+------------------+
250    John
Name: New First Name, dtype: object
250    Briggs
Name: New Last Name, dtype: object
Benjam
Bristole
+------------------+
75    Benjamin
Name: New First Name, dtype: object
75    Bristol
Name: New Last Name, dtype: object
John
Brooke
+------------------+
96    John
Name: New First Name, dtype: object
96    Brooks
Name: New Last Name, dtype: object
John
Brookes
+------------------+
97    John
Name: New First Name, dtype: object
97    Brooks
Name: New Last Name, dtype: object
James 1st
Brown
+------------------+
665    James
Name: New First Name, dtype: object
665    Brown
Name: New Last Name, dtype: object
James 2d
Brown
+------------------+
666    James
Name: New First Name, dtype: object
666    Brown
Name: New Last Name, dtype: object
John A
Brown
+------------------+
757    John
Name: New First Name, dtype: object
757    Brown
Name: New Last Name, dtype: object
John Jr.
Brown
+------------------+
758    John
Name: New First Name, dtype: object
758    Brown
Name: New Last Name, dtype: object
John Sr.
Brown
+------------------+
759    John
Name: New First Name, dtype: object
759    Brown
Name: New Last Name, dtype: object
Joseph T
Brown
+------------------+
667    Joseph
Name: New First Name, dtype: object
667    Brown
Name: New Last Name, dtype: object
Obadiah
Brown
+------------------+
81    Obediah
Name: New First Name, dtype: object
81    Brown
Name: New Last Name, dtype: object
Thomas Jr.
Brown
+------------------+
794    Thomas
Name: New First Name, dtype: object
794    Brown
Name: New Last Name, dtype: object
Thomas Sr.
Brown
+------------------+
795    Thomas
Name: New First Name, dtype: object
795    Brown
Name: New Last Name, dtype: object
Edward
Bryans
+------------------+
803    Edward
Name: New First Name, dtype: object
803    Bryan
Name: New Last Name, dtype: object
Samuel Jr.
Bryant
+------------------+
668    Samuel
Name: New First Name, dtype: object
668    Bryant
Name: New Last Name, dtype: object
Thomas
Buckley
+------------------+
173    Thomas
Name: New First Name, dtype: object
173    Buckly
Name: New Last Name, dtype: object
David
Buel
+------------------+
82    David
Name: New First Name, dtype: object
82    Buell
Name: New Last Name, dtype: object
Uriah
Bullard
+------------------+
35    Uriah
Name: New First Name, dtype: object
35    Ballard
Name: New Last Name, dtype: object
David
Bullin
+------------------+
90    David
Name: New First Name, dtype: object
90    Bullen
Name: New Last Name, dtype: object
Samuel
Bunnell
+------------------+
785    Samuel
Name: New First Name, dtype: object
785    Bunnel
Name: New Last Name, dtype: object
Thomas
Burck
+------------------+
186    Thomas
Name: New First Name, dtype: object
186    Burk
Name: New Last Name, dtype: object
Joseph
Burd
+------------------+
328    Joseph
Name: New First Name, dtype: object
328    Bird
Name: New Last Name, dtype: object
Benjamin
Burech
+------------------+
175    Benjamin
Name: New First Name, dtype: object
175    Burch
Name: New Last Name, dtype: object
Edward
Burke
+------------------+
805    Edward
Name: New First Name, dtype: object
805    Burk
Name: New Last Name, dtype: object
Joseph
Burnam
+------------------+
687    Joseph
Name: New First Name, dtype: object
687    Burnham
Name: New Last Name, dtype: object
Moses
Burnam
+------------------+
688    Moses
Name: New First Name, dtype: object
688    Burnham
Name: New Last Name, dtype: object
Timothy
Burnam
+------------------+
94    Timothy
Name: New First Name, dtype: object
94    Burnham
Name: New Last Name, dtype: object
William
Burnam
+------------------+
763    William
Name: New First Name, dtype: object
763    Burnham
Name: New Last Name, dtype: object
William
Burnet
+------------------+
168    William
Name: New First Name, dtype: object
168    Burnett
Name: New Last Name, dtype: object
John
Burrows
+------------------+
786    John
Name: New First Name, dtype: object
786    Burrowes
Name: New Last Name, dtype: object
Joseph
Bussett
+------------------+
694    Joseph
Name: New First Name, dtype: object
694    Bassett
Name: New Last Name, dtype: object
William
Buttler
+------------------+
816    William
Name: New First Name, dtype: object
816    Butler
Name: New Last Name, dtype: object
James
Cadey
+------------------+
696    James
Name: New First Name, dtype: object
696    Cady
Name: New Last Name, dtype: object
Stephen
Cale
+------------------+
706    Stephen
Name: New First Name, dtype: object
706    Cole
Name: New Last Name, dtype: object
John
Cambbell
+------------------+
767    John
Name: New First Name, dtype: object
767    Campbell
Name: New Last Name, dtype: object
James
Camby
+------------------+
768    James
Name: New First Name, dtype: object
768    Cambey
Name: New Last Name, dtype: object
James
Carathers
+------------------+
832    James
Name: New First Name, dtype: object
832    Caruthers
Name: New Last Name, dtype: object
Moses
Carleton
+------------------+
727    Moses
Name: New First Name, dtype: object
727    Carlton
Name: New Last Name, dtype: object
Joseph
Carmin
+------------------+
772    Joseph
Name: New First Name, dtype: object
772    Carman
Name: New Last Name, dtype: object
Nehem
Carpenter
+------------------+
528    Nehemiah
Name: New First Name, dtype: object
528    Carpenter
Name: New Last Name, dtype: object
Nehemi
Carpenter
+------------------+
527    Nehemiah
Name: New First Name, dtype: object
527    Carpenter
Name: New Last Name, dtype: object
Nehemia
Carpenter
+------------------+
526    Nehemiah
Name: New First Name, dtype: object
526    Carpenter
Name: New Last Name, dtype: object
John
Carrol
+------------------+
207    John
Name: New First Name, dtype: object
207    Carroll
Name: New Last Name, dtype: object
Henry
Carroll
+------------------+
850    Henry
Name: New First Name, dtype: object
850    Croll
Name: New Last Name, dtype: object
James
Carruthers
+------------------+
852    James
Name: New First Name, dtype: object
852    Caruthers
Name: New Last Name, dtype: object
Michael
Casnor
+------------------+
211    Michael
Name: New First Name, dtype: object
211    Casner
Name: New Last Name, dtype: object
Edward
Cassedy
+------------------+
774    Edward
Name: New First Name, dtype: object
774    Cassady
Name: New Last Name, dtype: object
John
Caswel
+------------------+
739    John
Name: New First Name, dtype: object
739    Caswell
Name: New Last Name, dtype: object
Jonas
Chace
+------------------+
748    Jonas
Name: New First Name, dtype: object
748    Chase
Name: New Last Name, dtype: object

Thomas
Chamard
+------------------+
796    Thomas
Name: New First Name, dtype: object
796    Chumard
Name: New Last Name, dtype: object
Benja
Chamberlain
+------------------+
750    Benja
Name: New First Name, dtype: object
750    Chamberlin
Name: New Last Name, dtype: object
David
Chamberlain
+------------------+
751    David
Name: New First Name, dtype: object
751    Chamberlin
Name: New Last Name, dtype: object
Abel
Chamberlin
+------------------+
749    Abel
Name: New First Name, dtype: object
749    Chamberlain
Name: New Last Name, dtype: object
James
Chamberlin
+------------------+
92    James
Name: New First Name, dtype: object
92    Chamberlain
Name: New Last Name, dtype: object
Joseph
Chapen
+------------------+
753    Joseph
Name: New First Name, dtype: object
753    Chapin
Name: New Last Name, dtype: object
Aaron
Chase
+------------------+
747    Aaron
Name: New First Name, dtype: object
747    Chace
Name: New Last Name, dtype: object
Charles
Child
+------------------+
120    Charles
Name: New First Name, dtype: object
120    Childs
Name: New Last Name, dtype: object
William
Chipman
+------------------+
881    William
Name: New First Name, dtype: object
881    Chapman
Name: New Last Name, dtype: object
Roger
Clapp
+------------------+
306    Roger
Name: New First Name, dtype: object
306    Clap
Name: New Last Name, dtype: object
Thomas
Clapp
+------------------+
348    Thomas
Name: New First Name, dtype: object
348    Clap
Name: New Last Name, dtype: object
Jesse
Clark
+------------------+
101    Jesse
Name: New First Name, dtype: object
101    Clarke
Name: New Last Name, dtype: object
Rufus
Clark
+------------------+
762    Rufus
Name: New First Name, dtype: object
762    Clarke
Name: New Last Name, dtype: object
Samuel
Clarke
+------------------+
249    Samuel
Name: New First Name, dtype: object
249    Clark
Name: New Last Name, dtype: object
Thomas
Clarke
+------------------+
236    Thomas
Name: New First Name, dtype: object
236    Clark
Name: New Last Name, dtype: object
Philip
Cline
+------------------+
905    Philip
Name: New First Name, dtype: object
905    Kline
Name: New Last Name, dtype: object
Mallatiah
Cobb
+------------------+
778    Malatiah
Name: New First Name, dtype: object
778    Cobb
Name: New Last Name, dtype: object
Nathaniel
Cobourn
+------------------+
779    Nathaniel
Name: New First Name, dtype: object
779    Coburn
Name: New Last Name, dtype: object
Abner
Cockran
+------------------+
781    Abner
Name: New First Name, dtype: object
781    Cochran
Name: New Last Name, dtype: object
Joseph
Codey
+------------------+
783    Joseph
Name: New First Name, dtype: object
783    Cody
Name: New Last Name, dtype: object
John
Collin
+------------------+
273    John
Name: New First Name, dtype: object
273    Collins
Name: New Last Name, dtype: object
WillIam
Collins
+------------------+
929    William
Name: New First Name, dtype: object
929    Collins
Name: New Last Name, dtype: object
Israel
Colman
+------------------+
787    Israel
Name: New First Name, dtype: object
787    Coleman
Name: New Last Name, dtype: object
Elijah
Commins
+------------------+
800    Elijah
Name: New First Name, dtype: object
800    Cummins
Name: New Last Name, dtype: object
Patrick
Connely
+------------------+
947    Patrick
Name: New First Name, dtype: object
947    Connell
Name: New Last Name, dtype: object
John
Connor
+------------------+
948    John
Name: New First Name, dtype: object
948    Conner
Name: New Last Name, dtype: object
Jacob
Conrod
+------------------+
114    Jacob
Name: New First Name, dtype: object
114    Conrad
Name: New Last Name, dtype: object
John Jr.
Cook
+------------------+
523    John
Name: New First Name, dtype: object
523    Cook
Name: New Last Name, dtype: object
John Sr.
Cook
+------------------+
524    John
Name: New First Name, dtype: object
524    Cook
Name: New Last Name, dtype: object
Moses
Cooke
+------------------+
802    Moses
Name: New First Name, dtype: object
802    Cook
Name: New Last Name, dtype: object
Peter
Coomb
+------------------+
789    Peter
Name: New First Name, dtype: object
789    Coombs
Name: New Last Name, dtype: object
Simeon
Corey
+------------------+
726    Simeon
Name: New First Name, dtype: object
726    Carey
Name: New Last Name, dtype: object
Christopher
Coulson
+------------------+
793    Christopher
Name: New First Name, dtype: object
793    Colson
Name: New Last Name, dtype: object
Moses
Covender
+------------------+
775    Moses
Name: New First Name, dtype: object
775    Cavender
Name: New Last Name, dtype: object
Daniel
Cowan
+------------------+
798    Daniel
Name: New First Name, dtype: object
798    Cowen
Name: New Last Name, dtype: object
Abijah
Crab
+------------------+
801    Abijah
Name: New First Name, dtype: object
801    Crabb
Name: New Last Name, dtype: object
John
Cronck
+------------------+
804    John
Name: New First Name, dtype: object
804    Cronk
Name: New Last Name, dtype: object
James
Crook
+------------------+
126    James
Name: New First Name, dtype: object
126    Crooks
Name: New Last Name, dtype: object
Elijah
Cumings
+------------------+
813    Elijah
Name: New First Name, dtype: object
813    Cummings
Name: New Last Name, dtype: object
Serah
Curtis
+------------------+
195    Sarah
Name: New First Name, dtype: object
195    Curtis
Name: New Last Name, dtype: object
Joseph
Daget
+------------------+
819    Joseph
Name: New First Name, dtype: object
819    Dagget
Name: New Last Name, dtype: object
Dennis
Dailey
+------------------+
1000    Dennis
Name: New First Name, dtype: object
1000    Daily
Name: New Last Name, dtype: object
London
Daily
+------------------+
123    London
Name: New First Name, dtype: object
123    Dailey
Name: New Last Name, dtype: object
Amos
Dammon
+------------------+
821    Amos
Name: New First Name, dtype: object
821    Demmon
Name: New Last Name, dtype: object
Charles
Darbey
+------------------+
806    Charles
Name: New First Name, dtype: object
806    Darby
Name: New Last Name, dtype: object
James
Daugherty
+------------------+
1005    James
Name: New First Name, dtype: object
1005    Dougherty
Name: New Last Name, dtype: object
James
Dauglass
+------------------+
131    James
Name: New First Name, dtype: object
131    Douglass
Name: New Last Name, dtype: object
Joshua
Davies
+------------------+
807    Joshua
Name: New First Name, dtype: object
807    Davis
Name: New Last Name, dtype: object
Patrick
Davies
+------------------+
808    Patrick
Name: New First Name, dtype: object
808    Davis
Name: New Last Name, dtype: object
Richard
Davies
+------------------+
231    Richard
Name: New First Name, dtype: object
231    Davis
Name: New Last Name, dtype: object
Samuel
Davies
+------------------+
332    Samuel
Name: New First Name, dtype: object
332    Davis
Name: New Last Name, dtype: object
William
Davies
+------------------+
333    William
Name: New First Name, dtype: object
333    Davis
Name: New Last Name, dtype: object
Samuel
Daviess
+------------------+
110    Samuel
Name: New First Name, dtype: object
110    Davis
Name: New Last Name, dtype: object
John G
Davis
+------------------+
248    John
Name: New First Name, dtype: object
248    Davis
Name: New Last Name, dtype: object
Lewellyn
Davis
+------------------+
1014    Lewellin
Name: New First Name, dtype: object
1014    Davis
Name: New Last Name, dtype: object
Llewellyn
Davis
+------------------+
1011    Lewellyn
Name: New First Name, dtype: object
1011    Davis
Name: New Last Name, dtype: object
Llewllin
Davis
+------------------+
1016    Lewellin
Name: New First Name, dtype: object
1016    Davis
Name: New Last Name, dtype: object
Llewllyn
Davis
+------------------+
1013    Lewellyn
Name: New First Name, dtype: object
1013    Davis
Name: New Last Name, dtype: object
Samuel Jr.
Davis
+------------------+
334    Samuel
Name: New First Name, dtype: object
334    Davis
Name: New Last Name, dtype: object
Cato
Daws
+------------------+
823    Cato
Name: New First Name, dtype: object
823    Dawes
Name: New Last Name, dtype: object
Lewis
De Bois
+------------------+
571    Lewis
Name: New First Name, dtype: object
571    Du Bois
Name: New Last Name, dtype: object
John
De la Mater
+------------------+
809    John
Name: New First Name, dtype: object
809    De La Mater
Name: New Last Name, dtype: object
William
De Mott
+------------------+
567    William
Name: New First Name, dtype: object
567    Mott
Name: New Last Name, dtype: object
Isaac
Deane
+------------------+
532    Isaac
Name: New First Name, dtype: object
532    Dean
Name: New Last Name, dtype: object
John
Degroat
+------------------+
811    John
Name: New First Name, dtype: object
811    Degroot
Name: New Last Name, dtype: object
Henry
Dellingham
+------------------+
827    Henry
Name: New First Name, dtype: object
827    Dillingham
Name: New Last Name, dtype: object
John
Denise
+------------------+
421    John
Name: New First Name, dtype: object
421    Dennis
Name: New Last Name, dtype: object
James
Denison
+------------------+
1048    James
Name: New First Name, dtype: object
1048    Dennison
Name: New Last Name, dtype: object
John
Dennett
+------------------+
124    John
Name: New First Name, dtype: object
124    Dennet
Name: New Last Name, dtype: object
Peter
Denney
+------------------+
812    Peter
Name: New First Name, dtype: object
812    Denny
Name: New Last Name, dtype: object
Henry
Dergin
+------------------+
125    Henry
Name: New First Name, dtype: object
125    Durgin
Name: New Last Name, dtype: object
John S
Dexter
+------------------+
835    John
Name: New First Name, dtype: object
835    Dexter
Name: New Last Name, dtype: object

Joel
Dickenson
+------------------+
838    Joel
Name: New First Name, dtype: object
838    Dickinson
Name: New Last Name, dtype: object
Martin
Dicker
+------------------+
810    Martin
Name: New First Name, dtype: object
810    Decker
Name: New Last Name, dtype: object
Tilman
Dixon
+------------------+
268    Tilmon
Name: New First Name, dtype: object
268    Dixon
Name: New Last Name, dtype: object
Samuel Jr.
Dodge
+------------------+
814    Samuel
Name: New First Name, dtype: object
814    Dodge
Name: New Last Name, dtype: object
Samuel Sr.
Dodge
+------------------+
815    Samuel
Name: New First Name, dtype: object
815    Dodge
Name: New Last Name, dtype: object
Anthony
Dogherty
+------------------+
817    Anthony
Name: New First Name, dtype: object
817    Dougherty
Name: New Last Name, dtype: object
Charles
Dorithy
+------------------+
133    Charles
Name: New First Name, dtype: object
133    Dorothy
Name: New Last Name, dtype: object
John
Dotey
+------------------+
163    John
Name: New First Name, dtype: object
163    Doty
Name: New Last Name, dtype: object
John
Douty
+------------------+
164    John
Name: New First Name, dtype: object
164    Doty
Name: New Last Name, dtype: object
George
Dowlar
+------------------+
818    George
Name: New First Name, dtype: object
818    Dowler
Name: New Last Name, dtype: object
John
Dowty
+------------------+
165    John
Name: New First Name, dtype: object
165    Doty
Name: New Last Name, dtype: object
William
Duggans
+------------------+
853    William
Name: New First Name, dtype: object
853    Duggins
Name: New Last Name, dtype: object
Henry
Durgan
+------------------+
137    Henry
Name: New First Name, dtype: object
137    Durgin
Name: New Last Name, dtype: object
Moses
Duston
+------------------+
138    Moses
Name: New First Name, dtype: object
138    Dustin
Name: New Last Name, dtype: object
Joseph
Eades
+------------------+
475    Joseph
Name: New First Name, dtype: object
475    Edes
Name: New Last Name, dtype: object
Oliver
Eady
+------------------+
854    Oliver
Name: New First Name, dtype: object
854    Eddy
Name: New Last Name, dtype: object
Peasly
Eastman
+------------------+
139    Peasley
Name: New First Name, dtype: object
139    Eastman
Name: New Last Name, dtype: object
William
Edmunds
+------------------+
27    William
Name: New First Name, dtype: object
27    Edmonds
Name: New Last Name, dtype: object
Benjamin
Edy
+------------------+
859    Benjamin
Name: New First Name, dtype: object
859    Eddy
Name: New Last Name, dtype: object
Azariah
Eggleston
+------------------+
861    Azariah
Name: New First Name, dtype: object
861    Egleston
Name: New Last Name, dtype: object
Archibald
Elliot
+------------------+
822    Archibald
Name: New First Name, dtype: object
822    Elliott
Name: New Last Name, dtype: object
James
Elliot
+------------------+
1085    James
Name: New First Name, dtype: object
1085    Elliott
Name: New Last Name, dtype: object
Joseph
Elliot
+------------------+
387    Joseph
Name: New First Name, dtype: object
387    Elliott
Name: New Last Name, dtype: object
Robert
Elliott
+------------------+
1086    Robert
Name: New First Name, dtype: object
1086    Elliot
Name: New Last Name, dtype: object
Ephriam
Emery
+------------------+
863    Ephraim
Name: New First Name, dtype: object
863    Emery
Name: New Last Name, dtype: object
John
Ennes
+------------------+
392    John
Name: New First Name, dtype: object
392    Ennis
Name: New Last Name, dtype: object
William
Erwine
+------------------+
826    William
Name: New First Name, dtype: object
826    Erwin
Name: New Last Name, dtype: object
Leonard
Evens
+------------------+
864    Leonard
Name: New First Name, dtype: object
864    Evans
Name: New Last Name, dtype: object
Pelatiah
Everett
+------------------+
866    Peletiah
Name: New First Name, dtype: object
866    Everett
Name: New Last Name, dtype: object
John
Evileth
+------------------+
865    John
Name: New First Name, dtype: object
865    Eveleth
Name: New Last Name, dtype: object
Josiah
Evins
+------------------+
224    Josiah
Name: New First Name, dtype: object
224    Evans
Name: New Last Name, dtype: object
Daniel
Evitt
+------------------+
233    Daniel
Name: New First Name, dtype: object
233    Evett
Name: New Last Name, dtype: object
Isaac
Farewell
+------------------+
146    Isaac
Name: New First Name, dtype: object
146    Farwell
Name: New Last Name, dtype: object
William
Faribrother
+------------------+
872    William
Name: New First Name, dtype: object
872    Fairbrother
Name: New Last Name, dtype: object
William
Farrell
+------------------+
405    William
Name: New First Name, dtype: object
405    Farrel
Name: New Last Name, dtype: object
Charles
Farry
+------------------+
878    Charles
Name: New First Name, dtype: object
878    Ferry
Name: New Last Name, dtype: object
William
Faulkner
+------------------+
1091    William
Name: New First Name, dtype: object
1091    Falkner
Name: New Last Name, dtype: object
James
Fergeson
+------------------+
458    James
Name: New First Name, dtype: object
458    Ferguson
Name: New Last Name, dtype: object
Charles
Ferrey
+------------------+
880    Charles
Name: New First Name, dtype: object
880    Ferry
Name: New Last Name, dtype: object
Joseph
Finlay
+------------------+
1094    Joseph
Name: New First Name, dtype: object
1094    Finley
Name: New Last Name, dtype: object
Joseph L
Finley
+------------------+
1095    Joseph
Name: New First Name, dtype: object
1095    Finley
Name: New Last Name, dtype: object
Jonathan
Firman
+------------------+
829    Jonathan
Name: New First Name, dtype: object
829    Forman
Name: New Last Name, dtype: object
John A
Fisher
+------------------+
1096    John
Name: New First Name, dtype: object
1096    Fisher
Name: New Last Name, dtype: object
Benamin
Fisk
+------------------+
884    Benjamin
Name: New First Name, dtype: object
884    Fisk
Name: New Last Name, dtype: object
John Jr.
Fitzgerald
+------------------+
418    John
Name: New First Name, dtype: object
418    Fitzgerald
Name: New Last Name, dtype: object
James
Fitzsummons
+------------------+
1097    James
Name: New First Name, dtype: object
1097    Fitzsimmons
Name: New Last Name, dtype: object
Solomon
Flag
+------------------+
885    Solomon
Name: New First Name, dtype: object
885    Flagg
Name: New Last Name, dtype: object
Gersham
Flagg
+------------------+
886    Gershom
Name: New First Name, dtype: object
886    Flagg
Name: New Last Name, dtype: object
John
Flemming
+------------------+
202    John
Name: New First Name, dtype: object
202    Fleming
Name: New Last Name, dtype: object
Thomas
Flower
+------------------+
1098    Thomas
Name: New First Name, dtype: object
1098    Flowers
Name: New Last Name, dtype: object
John
Fonda
+------------------+
321    John D
Name: New First Name, dtype: object
321    Fonda
Name: New Last Name, dtype: object
John
Forbs
+------------------+
239    John
Name: New First Name, dtype: object
239    Forbes
Name: New Last Name, dtype: object
Jonathan
Foreman
+------------------+
149    Jonathan
Name: New First Name, dtype: object
149    Forman
Name: New Last Name, dtype: object
Benjamin
Fowle
+------------------+
889    Benjamin
Name: New First Name, dtype: object
889    Fowles
Name: New Last Name, dtype: object
John
Fowles
+------------------+
890    John
Name: New First Name, dtype: object
890    Fowle
Name: New Last Name, dtype: object
Fredrick
Fre
+------------------+
892    Frederick
Name: New First Name, dtype: object
892    Frye
Name: New Last Name, dtype: object
Thomas D
Freeman
+------------------+
893    Thomas
Name: New First Name, dtype: object
893    Freeman
Name: New Last Name, dtype: object
Conrad
Friday
+------------------+
356    Conradt
Name: New First Name, dtype: object
356    Friday
Name: New Last Name, dtype: object
John
Frits
+------------------+
1105    John
Name: New First Name, dtype: object
1105    Fritz
Name: New Last Name, dtype: object
Henry
Fritt
+------------------+
1106    Henry
Name: New First Name, dtype: object
1106    Fritz
Name: New Last Name, dtype: object
George P
Frost
+------------------+
28    George
Name: New First Name, dtype: object
28    Frost
Name: New Last Name, dtype: object
Benj
Frothingham
+------------------+
897    Benja
Name: New First Name, dtype: object
897    Frothingham
Name: New Last Name, dtype: object
Conradt
Fryday
+------------------+
828    Conradt
Name: New First Name, dtype: object
828    Friday
Name: New Last Name, dtype: object
Jonathan
Fulsom
+------------------+
152    Jonathan
Name: New First Name, dtype: object
152    Folsom
Name: New Last Name, dtype: object
George
Funks
+------------------+
1107    George
Name: New First Name, dtype: object
1107    Funk
Name: New Last Name, dtype: object
Jonathan
Furman
+------------------+
150    Jonathan
Name: New First Name, dtype: object
150    Forman
Name: New Last Name, dtype: object
John
Garnett
+------------------+
830    John
Name: New First Name, dtype: object
830    Garnet
Name: New Last Name, dtype: object

Reuben
Gearey
+------------------+
913    Reuben
Name: New First Name, dtype: object
913    Geary
Name: New Last Name, dtype: object
James
Geer
+------------------+
914    James
Name: New First Name, dtype: object
914    Geyer
Name: New Last Name, dtype: object
Henry
Germain
+------------------+
1135    Henry
Name: New First Name, dtype: object
1135    German
Name: New Last Name, dtype: object
John
German
+------------------+
453    John
Name: New First Name, dtype: object
453    Gorman
Name: New Last Name, dtype: object
John
Getzelman
+------------------+
1137    John
Name: New First Name, dtype: object
1137    Getselman
Name: New Last Name, dtype: object
William
Gibb
+------------------+
1139    William
Name: New First Name, dtype: object
1139    Gibbs
Name: New Last Name, dtype: object
Jonn
Giles
+------------------+
923    John
Name: New First Name, dtype: object
923    Giles
Name: New Last Name, dtype: object
John
Gilford
+------------------+
925    John
Name: New First Name, dtype: object
925    Guilford
Name: New Last Name, dtype: object
William
Gillchrist
+------------------+
831    William
Name: New First Name, dtype: object
831    Gilchrist
Name: New Last Name, dtype: object
Jonn
Gillis
+------------------+
927    John
Name: New First Name, dtype: object
927    Gillis
Name: New Last Name, dtype: object
James
Glinn
+------------------+
1150    James
Name: New First Name, dtype: object
1150    Glenn
Name: New Last Name, dtype: object
Moses
Godard
+------------------+
928    Moses
Name: New First Name, dtype: object
928    Goddard
Name: New Last Name, dtype: object
William
Gold
+------------------+
459    William
Name: New First Name, dtype: object
459    Gould
Name: New Last Name, dtype: object
Silas
Goldin
+------------------+
930    Silas
Name: New First Name, dtype: object
930    Golden
Name: New Last Name, dtype: object
John H
Goodrich
+------------------+
266    John
Name: New First Name, dtype: object
266    Goodrich
Name: New Last Name, dtype: object
John A
Goss
+------------------+
178    John
Name: New First Name, dtype: object
178    Goss
Name: New Last Name, dtype: object
Benjamin 2d
Gould
+------------------+
933    Benjamin
Name: New First Name, dtype: object
933    Gould
Name: New Last Name, dtype: object
Joseph
Gouldsmith
+------------------+
269    Joseph
Name: New First Name, dtype: object
269    Goldsmith
Name: New Last Name, dtype: object
Wiliam
Graham
+------------------+
1160    William
Name: New First Name, dtype: object
1160    Graham
Name: New Last Name, dtype: object
John
Grange
+------------------+
837    John
Name: New First Name, dtype: object
837    Granger
Name: New Last Name, dtype: object
John
Grayham
+------------------+
355    John
Name: New First Name, dtype: object
355    Graham
Name: New Last Name, dtype: object
Thomas
Gready
+------------------+
836    Thomas
Name: New First Name, dtype: object
836    Grady
Name: New Last Name, dtype: object
John
Greag
+------------------+
1161    John
Name: New First Name, dtype: object
1161    Gregg
Name: New Last Name, dtype: object
David
Greeley
+------------------+
180    David
Name: New First Name, dtype: object
180    Greely
Name: New Last Name, dtype: object
John
Greeloy
+------------------+
197    John
Name: New First Name, dtype: object
197    Greeley
Name: New Last Name, dtype: object
John
Greely
+------------------+
1434    John
Name: New First Name, dtype: object
1434    Greeley
Name: New Last Name, dtype: object
Taniel
Green
+------------------+
942    Daniel
Name: New First Name, dtype: object
942    Green
Name: New Last Name, dtype: object
John
Greene
+------------------+
1163    John
Name: New First Name, dtype: object
1163    Green
Name: New Last Name, dtype: object
Joshua
Greene
+------------------+
944    Joshua
Name: New First Name, dtype: object
944    Green
Name: New Last Name, dtype: object
James
Greer
+------------------+
1167    James
Name: New First Name, dtype: object
1167    Grier
Name: New Last Name, dtype: object
William
Greer
+------------------+
1168    William
Name: New First Name, dtype: object
1168    Grier
Name: New Last Name, dtype: object
William
Grey
+------------------+
945    William
Name: New First Name, dtype: object
945    Gray
Name: New Last Name, dtype: object
Thomas
Griffith
+------------------+
839    Thomas
Name: New First Name, dtype: object
839    Griffiths
Name: New Last Name, dtype: object
David
Griffiths
+------------------+
1174    David
Name: New First Name, dtype: object
1174    Griffith
Name: New Last Name, dtype: object
John
Griffiths
+------------------+
1175    John
Name: New First Name, dtype: object
1175    Griffith
Name: New Last Name, dtype: object
Joseph
Griffon
+------------------+
946    Joseph
Name: New First Name, dtype: object
946    Griffin
Name: New Last Name, dtype: object
Henry
Guiger
+------------------+
1177    Henry
Name: New First Name, dtype: object
1177    Geiger
Name: New Last Name, dtype: object
Ezra
Hadden
+------------------+
949    Ezra
Name: New First Name, dtype: object
949    Hayden
Name: New Last Name, dtype: object
Silas
Hadden
+------------------+
951    Silas
Name: New First Name, dtype: object
951    Hayden
Name: New Last Name, dtype: object
William
Haden
+------------------+
953    William
Name: New First Name, dtype: object
953    Hayden
Name: New Last Name, dtype: object
Jonathan
Hallett
+------------------+
840    Jonathan
Name: New First Name, dtype: object
840    Hallet
Name: New Last Name, dtype: object
Moses
Handmore
+------------------+
844    Moses
Name: New First Name, dtype: object
844    Hanmore
Name: New Last Name, dtype: object
Russel
Handy
+------------------+
958    Russell
Name: New First Name, dtype: object
958    Handy
Name: New Last Name, dtype: object
John
Hannah
+------------------+
1197    John
Name: New First Name, dtype: object
1197    Hanna
Name: New Last Name, dtype: object
Samuel,2d
Harding
+------------------+
963    Samuel
Name: New First Name, dtype: object
963    Harding
Name: New Last Name, dtype: object
Ebenezer
Harrick
+------------------+
964    Ebenezer
Name: New First Name, dtype: object
964    Herrick
Name: New Last Name, dtype: object
Richd
Harrington
+------------------+
491    Richard
Name: New First Name, dtype: object
491    Harrington
Name: New Last Name, dtype: object
Stephen
Harrington
+------------------+
281    Stephen
Name: New First Name, dtype: object
281    Herrington
Name: New Last Name, dtype: object
John 2d
Harris
+------------------+
967    John
Name: New First Name, dtype: object
967    Harris
Name: New Last Name, dtype: object
John Jr.
Harris
+------------------+
1216    John
Name: New First Name, dtype: object
1216    Harris
Name: New Last Name, dtype: object
Thom
Harris
+------------------+
495    Thomas
Name: New First Name, dtype: object
495    Harris
Name: New Last Name, dtype: object
John
Harwood
+------------------+
973    John
Name: New First Name, dtype: object
973    Herwood
Name: New Last Name, dtype: object
John C
Harwood
+------------------+
498    John
Name: New First Name, dtype: object
498    Harwood
Name: New Last Name, dtype: object
Andrew
Haskill
+------------------+
974    Andrew
Name: New First Name, dtype: object
974    Haskell
Name: New Last Name, dtype: object
Stephen
Haskill
+------------------+
975    Stephen
Name: New First Name, dtype: object
975    Haskell
Name: New Last Name, dtype: object
Joseph
Havins
+------------------+
846    Joseph
Name: New First Name, dtype: object
846    Havens
Name: New Last Name, dtype: object
Ezra
Haydon
+------------------+
980    Ezra
Name: New First Name, dtype: object
980    Hayden
Name: New Last Name, dtype: object
William
Haydon
+------------------+
981    William
Name: New First Name, dtype: object
981    Hayden
Name: New Last Name, dtype: object
Benjamin
Haywood
+------------------+
985    Benjamin
Name: New First Name, dtype: object
985    Heywood
Name: New Last Name, dtype: object
Lewis
Heart
+------------------+
282    Lewis
Name: New First Name, dtype: object
282    Hart
Name: New Last Name, dtype: object
Timothy
Heart
+------------------+
283    Timothy
Name: New First Name, dtype: object
283    Hart
Name: New Last Name, dtype: object
John
Hebbard
+------------------+
141    John
Name: New First Name, dtype: object
141    Hubbard
Name: New Last Name, dtype: object
William
Helmes
+------------------+
833    William
Name: New First Name, dtype: object
833    Holmes
Name: New Last Name, dtype: object

Samuel
Hendry
+------------------+
834    Samuel
Name: New First Name, dtype: object
834    Henry
Name: New Last Name, dtype: object
John G
Henry
+------------------+
1226    John
Name: New First Name, dtype: object
1226    Henry
Name: New Last Name, dtype: object
Beniamin
Herring
+------------------+
849    Benjamin
Name: New First Name, dtype: object
849    Herring
Name: New Last Name, dtype: object
Ebenezer
Herruck
+------------------+
989    Ebenezer
Name: New First Name, dtype: object
989    Herrick
Name: New Last Name, dtype: object
Jacob
Hervey
+------------------+
969    Jacob
Name: New First Name, dtype: object
969    Harvey
Name: New Last Name, dtype: object
William
Hervey
+------------------+
845    William
Name: New First Name, dtype: object
845    Harvey
Name: New Last Name, dtype: object
Caleb
Heyward
+------------------+
993    Caleb
Name: New First Name, dtype: object
993    Hayward
Name: New Last Name, dtype: object
Beniamin
Heywood
+------------------+
994    Benjamin
Name: New First Name, dtype: object
994    Heywood
Name: New Last Name, dtype: object
George
Hibbard
+------------------+
286    George
Name: New First Name, dtype: object
286    Hubbard
Name: New Last Name, dtype: object
George
Hills
+------------------+
1229    George
Name: New First Name, dtype: object
1229    Hill
Name: New Last Name, dtype: object
Phillip
Hills
+------------------+
289    Phillip
Name: New First Name, dtype: object
289    Hill
Name: New Last Name, dtype: object
John
Hinkley
+------------------+
1243    John
Name: New First Name, dtype: object
1243    Hinkle
Name: New Last Name, dtype: object
Joshua
Hinkley
+------------------+
851    Joshua
Name: New First Name, dtype: object
851    Hinckley
Name: New Last Name, dtype: object
John
Hoafman
+------------------+
1251    John
Name: New First Name, dtype: object
1251    Hoffman
Name: New Last Name, dtype: object
John
Hodgdoo
+------------------+
210    John
Name: New First Name, dtype: object
210    Hodgdon
Name: New Last Name, dtype: object
William
Hogeland
+------------------+
1265    William
Name: New First Name, dtype: object
1265    Hogland
Name: New Last Name, dtype: object
Samuel
Hoit
+------------------+
212    Samuel
Name: New First Name, dtype: object
212    Hoyt
Name: New Last Name, dtype: object
David
Holbrooke
+------------------+
198    David
Name: New First Name, dtype: object
198    Holbrook
Name: New Last Name, dtype: object
Elijah
Holcombe
+------------------+
296    Elijah
Name: New First Name, dtype: object
296    Holcomb
Name: New Last Name, dtype: object
Joseph
Holcombe
+------------------+
297    Joseph
Name: New First Name, dtype: object
297    Holcomb
Name: New Last Name, dtype: object
Jonathan
Hollet
+------------------+
841    Jonathan
Name: New First Name, dtype: object
841    Hallet
Name: New Last Name, dtype: object
Jonathan
Hollett
+------------------+
842    Jonathan
Name: New First Name, dtype: object
842    Hallet
Name: New Last Name, dtype: object
George
Holman
+------------------+
1269    George
Name: New First Name, dtype: object
1269    Hollman
Name: New Last Name, dtype: object
Silvester
Holmes
+------------------+
997    Sylvester
Name: New First Name, dtype: object
997    Holmes
Name: New Last Name, dtype: object
Willliam T
Holmes
+------------------+
999    William
Name: New First Name, dtype: object
999    Holmes
Name: New Last Name, dtype: object
James
Holms
+------------------+
508    James
Name: New First Name, dtype: object
508    Holmes
Name: New Last Name, dtype: object
Robert
Holms
+------------------+
996    Robert
Name: New First Name, dtype: object
996    Holmes
Name: New Last Name, dtype: object
Sylvester
Holms
+------------------+
998    Sylvester
Name: New First Name, dtype: object
998    Holmes
Name: New Last Name, dtype: object
Thomas
Holms
+------------------+
1272    Thomas
Name: New First Name, dtype: object
1272    Holmes
Name: New Last Name, dtype: object
Daniel
Horn
+------------------+
214    Daniel
Name: New First Name, dtype: object
214    Horne
Name: New Last Name, dtype: object
John
Horner
+------------------+
1622    John
Name: New First Name, dtype: object
1622    Herner
Name: New Last Name, dtype: object
Edmond
Horton
+------------------+
1001    Edmund
Name: New First Name, dtype: object
1001    Horton
Name: New Last Name, dtype: object
James
Houghes
+------------------+
1287    James
Name: New First Name, dtype: object
1287    Hughes
Name: New Last Name, dtype: object
John
Houlden
+------------------+
366    John
Name: New First Name, dtype: object
366    Holden
Name: New Last Name, dtype: object
John E
Howard
+------------------+
509    John
Name: New First Name, dtype: object
509    Howard
Name: New Last Name, dtype: object
John
Howel
+------------------+
843    John
Name: New First Name, dtype: object
843    Howell
Name: New Last Name, dtype: object
Lott
Howes
+------------------+
1006    Lot
Name: New First Name, dtype: object
1006    Howes
Name: New Last Name, dtype: object
David
Hoyet
+------------------+
1007    David
Name: New First Name, dtype: object
1007    Hoyt
Name: New Last Name, dtype: object
William
Hubbart
+------------------+
219    William
Name: New First Name, dtype: object
219    Hubbard
Name: New Last Name, dtype: object
Ebenezer
Hubberd
+------------------+
1008    Ebenezer
Name: New First Name, dtype: object
1008    Hubbard
Name: New Last Name, dtype: object
Samuel
Hubberd
+------------------+
1009    Samuel
Name: New First Name, dtype: object
1009    Hubbard
Name: New Last Name, dtype: object
Christian
Huffman
+------------------+
1297    Christian
Name: New First Name, dtype: object
1297    Hoffman
Name: New Last Name, dtype: object
John
Huffman
+------------------+
1300    John
Name: New First Name, dtype: object
1300    Hoffman
Name: New Last Name, dtype: object
James
Hughs
+------------------+
1301    James
Name: New First Name, dtype: object
1301    Hughes
Name: New Last Name, dtype: object
Jeremiah
Hull
+------------------+
315    Jeremiah
Name: New First Name, dtype: object
315    Hall
Name: New Last Name, dtype: object
Timothy
Humphreys
+------------------+
317    Timothy
Name: New First Name, dtype: object
317    Humphrey
Name: New Last Name, dtype: object
William
Hurly
+------------------+
513    William
Name: New First Name, dtype: object
513    Hurley
Name: New Last Name, dtype: object
John
Hurton
+------------------+
1017    John
Name: New First Name, dtype: object
1017    Horton
Name: New Last Name, dtype: object
William
Hutcheson
+------------------+
515    William
Name: New First Name, dtype: object
515    Hutchinson
Name: New Last Name, dtype: object
Thomas
Hutchinsen
+------------------+
1019    Thomas
Name: New First Name, dtype: object
1019    Hutchins
Name: New Last Name, dtype: object
Joseph
Ingalls
+------------------+
1021    Joseph
Name: New First Name, dtype: object
1021    Ingals
Name: New Last Name, dtype: object
Samuel
Ingersol
+------------------+
1022    Samuel
Name: New First Name, dtype: object
1022    Ingersoll
Name: New Last Name, dtype: object
Samuel
Ingersole
+------------------+
1023    Samuel
Name: New First Name, dtype: object
1023    Ingersoll
Name: New Last Name, dtype: object
James
Irwin
+------------------+
1088    James
Name: New First Name, dtype: object
1088    Erwin
Name: New Last Name, dtype: object
Nathaniel
Jackson
+------------------+
1024    Nathan
Name: New First Name, dtype: object
1024    Jackson
Name: New Last Name, dtype: object
Thomas J
Jackson
+------------------+
326    Thomas
Name: New First Name, dtype: object
326    Jackson
Name: New Last Name, dtype: object
John
Jamieson
+------------------+
1305    John
Name: New First Name, dtype: object
1305    Jameson
Name: New Last Name, dtype: object
David
Janes
+------------------+
1029    David
Name: New First Name, dtype: object
1029    Jones
Name: New Last Name, dtype: object
Thomas
Janes
+------------------+
1030    Thomas
Name: New First Name, dtype: object
1030    Jones
Name: New Last Name, dtype: object
Cornelius T
Janson
+------------------+
652    Cornelius T
Name: New First Name, dtype: object
652    Jansen
Name: New Last Name, dtype: object
William
Jefferds
+------------------+
1035    William
Name: New First Name, dtype: object
1035    Jeffords
Name: New Last Name, dtype: object
Enoch
Jenkkins
+------------------+
1037    Enoch
Name: New First Name, dtype: object
1037    Jenkins
Name: New Last Name, dtype: object
David
Jewitt
+------------------+
1043    David
Name: New First Name, dtype: object
1043    Jewett
Name: New Last Name, dtype: object
Samuel
Jiles
+------------------+
924    Samuel
Name: New First Name, dtype: object
924    Giles
Name: New Last Name, dtype: object
Thomas
Jinks
+------------------+
1045    Thomas
Name: New First Name, dtype: object
1045    Jenks
Name: New Last Name, dtype: object
John
Jinnings
+------------------+
1039    John
Name: New First Name, dtype: object
1039    Jennings
Name: New Last Name, dtype: object

Nathaniel
Johnson
+------------------+
1306    Nathan
Name: New First Name, dtype: object
1306    Johnson
Name: New Last Name, dtype: object
Robert Sr.
Johnson
+------------------+
1307    Robert
Name: New First Name, dtype: object
1307    Johnson
Name: New Last Name, dtype: object
Robert Sr.
Johnston
+------------------+
1308    Robert
Name: New First Name, dtype: object
1308    Johnston
Name: New Last Name, dtype: object
William Sr.
Johnston
+------------------+
1309    William
Name: New First Name, dtype: object
1309    Johnston
Name: New Last Name, dtype: object
William
Johnstone
+------------------+
1310    William
Name: New First Name, dtype: object
1310    Johnston
Name: New Last Name, dtype: object
John
Jonas
+------------------+
121    John
Name: New First Name, dtype: object
121    Jones
Name: New Last Name, dtype: object
Griffen
Jones
+------------------+
856    Griffin
Name: New First Name, dtype: object
856    Jones
Name: New Last Name, dtype: object
Jermiah
Keeler
+------------------+
346    Jeremiah
Name: New First Name, dtype: object
346    Keeler
Name: New Last Name, dtype: object
John
Keilan
+------------------+
1313    John
Name: New First Name, dtype: object
1313    Keelan
Name: New Last Name, dtype: object
Joshua
Kelley
+------------------+
858    Joshua
Name: New First Name, dtype: object
858    Kelly
Name: New Last Name, dtype: object
Thomas
Kelley
+------------------+
1314    Thomas
Name: New First Name, dtype: object
1314    Kelly
Name: New Last Name, dtype: object
Stephen
Kellog
+------------------+
347    Stephen
Name: New First Name, dtype: object
347    Kellogg
Name: New Last Name, dtype: object
William Jr.
Kelly
+------------------+
1315    William
Name: New First Name, dtype: object
1315    Kelly
Name: New Last Name, dtype: object
William Sr.
Kelly
+------------------+
1316    William
Name: New First Name, dtype: object
1316    Kelly
Name: New Last Name, dtype: object
Joseph
Kemball
+------------------+
1057    Joseph
Name: New First Name, dtype: object
1057    Kimball
Name: New Last Name, dtype: object
John
Kenneday
+------------------+
860    John
Name: New First Name, dtype: object
860    Kennedy
Name: New Last Name, dtype: object
Joseph
Kenneston
+------------------+
230    Joseph
Name: New First Name, dtype: object
230    Kenniston
Name: New Last Name, dtype: object
Isaac
Kieth
+------------------+
1055    Isaac
Name: New First Name, dtype: object
1055    Keith
Name: New Last Name, dtype: object
John
Kilburn
+------------------+
352    John
Name: New First Name, dtype: object
352    Kilborn
Name: New Last Name, dtype: object
John
Killer
+------------------+
857    John
Name: New First Name, dtype: object
857    Keller
Name: New Last Name, dtype: object
Amos
Kimbail
+------------------+
1065    Amos
Name: New First Name, dtype: object
1065    Kimball
Name: New Last Name, dtype: object
Thomas
Kimbell
+------------------+
1435    Thomas
Name: New First Name, dtype: object
1435    Kimball
Name: New Last Name, dtype: object
Oliver
Kindall
+------------------+
1058    Oliver
Name: New First Name, dtype: object
1058    Kendall
Name: New Last Name, dtype: object
Aaron
Kingsburg
+------------------+
1068    Aaron
Name: New First Name, dtype: object
1068    Kingsbury
Name: New Last Name, dtype: object
John
Kinkade
+------------------+
1317    John
Name: New First Name, dtype: object
1317    Kinkaid
Name: New Last Name, dtype: object
John
Kittle
+------------------+
1069    John
Name: New First Name, dtype: object
1069    Kettle
Name: New Last Name, dtype: object
George
Klaine
+------------------+
1319    George
Name: New First Name, dtype: object
1319    Kline
Name: New Last Name, dtype: object
John
Klinger
+------------------+
1320    John
Name: New First Name, dtype: object
1320    Clinger
Name: New Last Name, dtype: object
Philip
Klinger
+------------------+
906    Philip
Name: New First Name, dtype: object
906    Clinger
Name: New Last Name, dtype: object
Abijah
Knapp
+------------------+
1071    Abijah
Name: New First Name, dtype: object
1071    Knap
Name: New Last Name, dtype: object
Edward
Knapp
+------------------+
1072    Edward
Name: New First Name, dtype: object
1072    Knap
Name: New Last Name, dtype: object
Jonathan 1st
Knight
+------------------+
1073    Jonathan
Name: New First Name, dtype: object
1073    Knight
Name: New Last Name, dtype: object
John B
Knox
+------------------+
1321    John
Name: New First Name, dtype: object
1321    Knox
Name: New Last Name, dtype: object
Adam
Koach
+------------------+
1322    Adam
Name: New First Name, dtype: object
1322    Koch
Name: New Last Name, dtype: object
Abner
Lace
+------------------+
1074    Abner
Name: New First Name, dtype: object
1074    Luce
Name: New Last Name, dtype: object
Robert
Lackey
+------------------+
1323    Robert
Name: New First Name, dtype: object
1323    Luckey
Name: New Last Name, dtype: object
Eleazer
Lain
+------------------+
1075    Eleazer
Name: New First Name, dtype: object
1075    Lane
Name: New Last Name, dtype: object
Eleazer
Laine
+------------------+
1076    Eleazer
Name: New First Name, dtype: object
1076    Lane
Name: New Last Name, dtype: object
Oliver
Laken
+------------------+
1077    Oliver
Name: New First Name, dtype: object
1077    Lakin
Name: New Last Name, dtype: object
Nathan
Lampson
+------------------+
1079    Nathan
Name: New First Name, dtype: object
1079    Lamson
Name: New Last Name, dtype: object
Paul
Lampson
+------------------+
1080    Paul
Name: New First Name, dtype: object
1080    Lamson
Name: New Last Name, dtype: object
Abial
Lane
+------------------+
1081    Abiel
Name: New First Name, dtype: object
1081    Lane
Name: New Last Name, dtype: object
Eleazor
Lane
+------------------+
1082    Eleazer
Name: New First Name, dtype: object
1082    Lane
Name: New Last Name, dtype: object
Benjamin
Langden
+------------------+
867    Benjamin
Name: New First Name, dtype: object
867    Langdon
Name: New Last Name, dtype: object
Garret G
Lansing
+------------------+
869    Garret
Name: New First Name, dtype: object
869    Lansing
Name: New Last Name, dtype: object
Thomas
Larrymore
+------------------+
576    Thomas
Name: New First Name, dtype: object
576    Laramore
Name: New Last Name, dtype: object
Thomas
Larymore
+------------------+
575    Thomas
Name: New First Name, dtype: object
575    Laramore
Name: New Last Name, dtype: object
Benjamin
Laurence
+------------------+
873    Benjamin
Name: New First Name, dtype: object
873    Lawrence
Name: New Last Name, dtype: object
Jacob
Laurence
+------------------+
874    Jacob
Name: New First Name, dtype: object
874    Lawrence
Name: New Last Name, dtype: object
Calvin
Lazel
+------------------+
1087    Calvin
Name: New First Name, dtype: object
1087    Lazell
Name: New Last Name, dtype: object
James
Leach
+------------------+
1324    James
Name: New First Name, dtype: object
1324    Leech
Name: New Last Name, dtype: object
John
Leach
+------------------+
451    John
Name: New First Name, dtype: object
451    Leech
Name: New Last Name, dtype: object
William
Leach
+------------------+
1325    William
Name: New First Name, dtype: object
1325    Leech
Name: New Last Name, dtype: object
Simeon
Learned
+------------------+
1083    Simon
Name: New First Name, dtype: object
1083    Larned
Name: New Last Name, dtype: object
Henry
Lears
+------------------+
1326    Henry
Name: New First Name, dtype: object
1326    Lear
Name: New Last Name, dtype: object
George
Leaycraft
+------------------+
875    George
Name: New First Name, dtype: object
875    Leacraft
Name: New Last Name, dtype: object
Hezekiah
Leech
+------------------+
354    Hezekiah
Name: New First Name, dtype: object
354    Leach
Name: New Last Name, dtype: object
Jacob
Lekins
+------------------+
847    Jacob
Name: New First Name, dtype: object
847    Likins
Name: New Last Name, dtype: object
Simon
Lerned
+------------------+
1084    Simon
Name: New First Name, dtype: object
1084    Larned
Name: New Last Name, dtype: object
John
Lilley
+------------------+
1327    John
Name: New First Name, dtype: object
1327    Lilly
Name: New Last Name, dtype: object
Robert H
Livingston
+------------------+
876    Robert
Name: New First Name, dtype: object
876    Livingston
Name: New Last Name, dtype: object
Daniel
Loader
+------------------+
877    Daniel
Name: New First Name, dtype: object
877    Loder
Name: New Last Name, dtype: object
Samuel
Locke
+------------------+
260    Samuel
Name: New First Name, dtype: object
260    Lock
Name: New Last Name, dtype: object
John
Loveitt
+------------------+
879    John
Name: New First Name, dtype: object
879    Lovett
Name: New Last Name, dtype: object

William
Lowel
+------------------+
267    William
Name: New First Name, dtype: object
267    Lowell
Name: New Last Name, dtype: object
Bernard
Lowell
+------------------+
1090    Barnard
Name: New First Name, dtype: object
1090    Lowell
Name: New Last Name, dtype: object
John M
Ludwick
+------------------+
1330    John
Name: New First Name, dtype: object
1330    Ludwick
Name: New Last Name, dtype: object
Jacob
Lykins
+------------------+
848    Jacob
Name: New First Name, dtype: object
848    Likins
Name: New Last Name, dtype: object
Ebenezer
Lyons
+------------------+
1092    Ebenezer
Name: New First Name, dtype: object
1092    Lyon
Name: New Last Name, dtype: object
Andrew
Lyttle
+------------------+
1328    Andrew
Name: New First Name, dtype: object
1328    Little
Name: New Last Name, dtype: object
John
Maddin
+------------------+
1093    John
Name: New First Name, dtype: object
1093    Madden
Name: New Last Name, dtype: object
Thomas
Maddin
+------------------+
1331    Thomas
Name: New First Name, dtype: object
1331    Madden
Name: New Last Name, dtype: object
John
Maise
+------------------+
1332    John
Name: New First Name, dtype: object
1332    Mease
Name: New Last Name, dtype: object
William
Manly
+------------------+
596    William
Name: New First Name, dtype: object
596    Manley
Name: New Last Name, dtype: object
Dixon
Marshall
+------------------+
462    Dixon
Name: New First Name, dtype: object
462    Marshal
Name: New Last Name, dtype: object
James Sr.
Martin
+------------------+
1333    James
Name: New First Name, dtype: object
1333    Martin
Name: New Last Name, dtype: object
John A
Martin
+------------------+
506    John
Name: New First Name, dtype: object
506    Martin
Name: New Last Name, dtype: object
John Andr
Martin
+------------------+
883    John
Name: New First Name, dtype: object
883    Martin
Name: New Last Name, dtype: object
William
Marton
+------------------+
583    William
Name: New First Name, dtype: object
583    Martin
Name: New Last Name, dtype: object
William
McCowen
+------------------+
977    William
Name: New First Name, dtype: object
977    Cowen
Name: New Last Name, dtype: object
James
M'Culloch
+------------------+
1334    James
Name: New First Name, dtype: object
1334    McCulloch
Name: New Last Name, dtype: object
John
M'Culloch
+------------------+
1335    John
Name: New First Name, dtype: object
1335    McCulloch
Name: New Last Name, dtype: object
Samuel
M'Culloch
+------------------+
1336    Samuel
Name: New First Name, dtype: object
1336    McCulloch
Name: New Last Name, dtype: object
James
M'Cullough
+------------------+
1337    James
Name: New First Name, dtype: object
1337    McCullough
Name: New Last Name, dtype: object
John
Meiggs
+------------------+
373    John
Name: New First Name, dtype: object
373    Meigs
Name: New Last Name, dtype: object
Return J
Meigs
+------------------+
374    Return Jona
Name: New First Name, dtype: object
374    Meigs
Name: New Last Name, dtype: object
William
Merriot
+------------------+
887    William
Name: New First Name, dtype: object
887    Merrit
Name: New Last Name, dtype: object
John
Merrium
+------------------+
1101    John
Name: New First Name, dtype: object
1101    Merriam
Name: New Last Name, dtype: object
John
Michael
+------------------+
1338    John
Name: New First Name, dtype: object
1338    Mitchel
Name: New Last Name, dtype: object
Thomas
Mighills
+------------------+
1102    Thomas
Name: New First Name, dtype: object
1102    Mighill
Name: New Last Name, dtype: object
James
Millegan
+------------------+
1339    James
Name: New First Name, dtype: object
1339    Milligan
Name: New Last Name, dtype: object
Fredrick
Miller
+------------------+
1103    Frederick
Name: New First Name, dtype: object
1103    Miller
Name: New Last Name, dtype: object
John 1st
Miller
+------------------+
1341    John
Name: New First Name, dtype: object
1341    Miller
Name: New Last Name, dtype: object
John 2d
Miller
+------------------+
1342    John
Name: New First Name, dtype: object
1342    Miller
Name: New Last Name, dtype: object
Moses
Mingas
+------------------+
891    Moses
Name: New First Name, dtype: object
891    Mingus
Name: New Last Name, dtype: object
John M
Mitchell
+------------------+
1104    John
Name: New First Name, dtype: object
1104    Mitchell
Name: New Last Name, dtype: object
Richard
Moor
+------------------+
900    Richard
Name: New First Name, dtype: object
900    Moore
Name: New Last Name, dtype: object
James
Mooree
+------------------+
655    James
Name: New First Name, dtype: object
655    Moore
Name: New Last Name, dtype: object
David
Moorehouse
+------------------+
384    David
Name: New First Name, dtype: object
384    Morehouse
Name: New Last Name, dtype: object
Benjamin
Moores
+------------------+
3    Benjamin
Name: New First Name, dtype: object
3    Moore
Name: New Last Name, dtype: object
Thomas
Moot
+------------------+
901    Thomas
Name: New First Name, dtype: object
901    Mott
Name: New Last Name, dtype: object
John
More
+------------------+
388    John
Name: New First Name, dtype: object
388    Moore
Name: New Last Name, dtype: object
Daniel
Morgain
+------------------+
389    Daniel
Name: New First Name, dtype: object
389    Morgan
Name: New Last Name, dtype: object
Amos
Morril
+------------------+
18    Amos
Name: New First Name, dtype: object
18    Morrill
Name: New Last Name, dtype: object
Jacob
Moyer
+------------------+
1344    Jacob
Name: New First Name, dtype: object
1344    Myer
Name: New Last Name, dtype: object
Thomas
Mullet
+------------------+
1108    Thomas
Name: New First Name, dtype: object
1108    Mullett
Name: New Last Name, dtype: object
John
Murphey
+------------------+
253    John
Name: New First Name, dtype: object
253    Murphy
Name: New Last Name, dtype: object
Elijah
Murrey
+------------------+
1109    Elijah
Name: New First Name, dtype: object
1109    Murray
Name: New Last Name, dtype: object
John
Murry
+------------------+
1345    John
Name: New First Name, dtype: object
1345    Murray
Name: New Last Name, dtype: object
William
Mutt
+------------------+
568    William
Name: New First Name, dtype: object
568    Mott
Name: New Last Name, dtype: object
Joseph
Neal
+------------------+
662    Joseph
Name: New First Name, dtype: object
662    Neale
Name: New Last Name, dtype: object
Joseph
Nealy
+------------------+
295    Joseph
Name: New First Name, dtype: object
295    Nealey
Name: New Last Name, dtype: object
William
Neilson
+------------------+
1346    William
Name: New First Name, dtype: object
1346    Nelson
Name: New Last Name, dtype: object
Allen
Nelson
+------------------+
902    Allen
Name: New First Name, dtype: object
902    Neilson
Name: New Last Name, dtype: object
Joseph
Nesbit
+------------------+
904    Joseph
Name: New First Name, dtype: object
904    Nesbitt
Name: New Last Name, dtype: object
John
Newall
+------------------+
1347    John
Name: New First Name, dtype: object
1347    Newell
Name: New Last Name, dtype: object
John
Newcomb
+------------------+
1348    John
Name: New First Name, dtype: object
1348    Newcome
Name: New Last Name, dtype: object
Gorge
Nice
+------------------+
1349    George
Name: New First Name, dtype: object
1349    Nice
Name: New Last Name, dtype: object
William
Nice
+------------------+
1350    William
Name: New First Name, dtype: object
1350    Nyce
Name: New Last Name, dtype: object
Simeon
Nichols
+------------------+
1110    Simon
Name: New First Name, dtype: object
1110    Nichols
Name: New Last Name, dtype: object
William
Nichols
+------------------+
512    William
Name: New First Name, dtype: object
512    Nicholas
Name: New Last Name, dtype: object
John
Noland
+------------------+
1351    John
Name: New First Name, dtype: object
1351    Nowland
Name: New Last Name, dtype: object
Nathaniel
Norwood
+------------------+
1111    Nathan
Name: New First Name, dtype: object
1111    Norwood
Name: New Last Name, dtype: object
Thomas
Oakly
+------------------+
574    Thomas
Name: New First Name, dtype: object
574    Oakley
Name: New Last Name, dtype: object
John
O'Bryan
+------------------+
166    John
Name: New First Name, dtype: object
166    Bryan
Name: New Last Name, dtype: object
William
Ocherman
+------------------+
908    William
Name: New First Name, dtype: object
908    Ockerman
Name: New Last Name, dtype: object
Samuel
Odiorn
+------------------+
300    Samuel
Name: New First Name, dtype: object
300    Odiorne
Name: New Last Name, dtype: object
Daniel
Ogdon
+------------------+
909    Daniel
Name: New First Name, dtype: object
909    Ogden
Name: New Last Name, dtype: object
Thomas
Osborn
+------------------+
32    Thomas
Name: New First Name, dtype: object
32    Osburn
Name: New Last Name, dtype: object
Thomas
Osbourn
+------------------+
1112    Thomas
Name: New First Name, dtype: object
1112    Osburn
Name: New Last Name, dtype: object
William
Owens
+------------------+
1114    William
Name: New First Name, dtype: object
1114    Owen
Name: New Last Name, dtype: object
David
Ozborn
+------------------+
134    David
Name: New First Name, dtype: object
134    Osborn
Name: New Last Name, dtype: object
Elijah
Pachen
+------------------+
399    Elijah
Name: New First Name, dtype: object
399    Patchen
Name: New Last Name, dtype: object
Jonathan
Palmore
+------------------+
912    Jonathan
Name: New First Name, dtype: object
912    Palmer
Name: New Last Name, dtype: object
Daniel
Parcker
+------------------+
1116    Daniel
Name: New First Name, dtype: object
1116    Parker
Name: New Last Name, dtype: object

John
Patten
+------------------+
560    John
Name: New First Name, dtype: object
560    Patton
Name: New Last Name, dtype: object
James
Patton
+------------------+
1353    James
Name: New First Name, dtype: object
1353    Patten
Name: New Last Name, dtype: object
William
Paule
+------------------+
674    William
Name: New First Name, dtype: object
674    Paul
Name: New Last Name, dtype: object
David
Payne
+------------------+
1115    David
Name: New First Name, dtype: object
1115    Paine
Name: New Last Name, dtype: object
William
Payne
+------------------+
1352    William
Name: New First Name, dtype: object
1352    Paine
Name: New Last Name, dtype: object
Samuel
Pearce
+------------------+
413    Samuel
Name: New First Name, dtype: object
413    Pierce
Name: New Last Name, dtype: object
Shubal
Peck
+------------------+
1120    Shubael
Name: New First Name, dtype: object
1120    Peck
Name: New Last Name, dtype: object
Shuball
Peck
+------------------+
1121    Shubael
Name: New First Name, dtype: object
1121    Peck
Name: New Last Name, dtype: object
John
Peckett
+------------------+
1122    John
Name: New First Name, dtype: object
1122    Pickett
Name: New Last Name, dtype: object
Thomsa
Pemberton
+------------------+
299    Thomas
Name: New First Name, dtype: object
299    Pemberton
Name: New Last Name, dtype: object
Jonathan
Penney
+------------------+
916    Jonathan
Name: New First Name, dtype: object
916    Penny
Name: New Last Name, dtype: object
Will
Pennington
+------------------+
917    William
Name: New First Name, dtype: object
917    Pennington
Name: New Last Name, dtype: object
Jonathan
Peny
+------------------+
918    Jonathan
Name: New First Name, dtype: object
918    Penny
Name: New Last Name, dtype: object
John
Perkens
+------------------+
1123    John
Name: New First Name, dtype: object
1123    Perkins
Name: New Last Name, dtype: object
George
Persons
+------------------+
1117    George
Name: New First Name, dtype: object
1117    Parsons
Name: New Last Name, dtype: object
Job
Persons
+------------------+
1118    Job
Name: New First Name, dtype: object
1118    Parsons
Name: New Last Name, dtype: object
Jacob
Peters
+------------------+
1355    Jacob
Name: New First Name, dtype: object
1355    Peter
Name: New Last Name, dtype: object
John
Philip
+------------------+
1356    John
Name: New First Name, dtype: object
1356    Philips
Name: New Last Name, dtype: object
Anderson
Philips
+------------------+
1124    Anderson
Name: New First Name, dtype: object
1124    Phillips
Name: New Last Name, dtype: object
Charles
Philips
+------------------+
1125    Charles
Name: New First Name, dtype: object
1125    Phillips
Name: New Last Name, dtype: object
Elijah
Philips
+------------------+
1126    Elijah
Name: New First Name, dtype: object
1126    Phillips
Name: New Last Name, dtype: object
Nehemiah
Philips
+------------------+
308    Nehemiah
Name: New First Name, dtype: object
308    Phillips
Name: New Last Name, dtype: object
Samuel
Philips
+------------------+
390    Samuel
Name: New First Name, dtype: object
390    Phillips
Name: New Last Name, dtype: object
Benamin
Pierce
+------------------+
1127    Benjamin
Name: New First Name, dtype: object
1127    Pierce
Name: New Last Name, dtype: object
Joshua
Pierce
+------------------+
677    Joshua
Name: New First Name, dtype: object
677    Pearce
Name: New Last Name, dtype: object
James
Piercey
+------------------+
1357    James
Name: New First Name, dtype: object
1357    Pierce
Name: New Last Name, dtype: object
John Jr.
Pike
+------------------+
1128    John
Name: New First Name, dtype: object
1128    Pike
Name: New Last Name, dtype: object
Jonathan
Pinknay
+------------------+
921    Jonathan
Name: New First Name, dtype: object
921    Pinkney
Name: New Last Name, dtype: object
Samuel
Plummer
+------------------+
223    Samuel
Name: New First Name, dtype: object
223    Plumer
Name: New Last Name, dtype: object
John
Popkin
+------------------+
1129    John
Name: New First Name, dtype: object
1129    Popkins
Name: New Last Name, dtype: object
Benjamin J
Porter
+------------------+
1130    Benjamin
Name: New First Name, dtype: object
1130    Porter
Name: New Last Name, dtype: object
Thomas
Porters
+------------------+
681    Thomas
Name: New First Name, dtype: object
681    Porter
Name: New Last Name, dtype: object
Edmond
Potter
+------------------+
1131    Edmund
Name: New First Name, dtype: object
1131    Potter
Name: New Last Name, dtype: object
Willaim
Powell
+------------------+
682    William
Name: New First Name, dtype: object
682    Powell
Name: New Last Name, dtype: object
Levi
Prat
+------------------+
1132    Levi
Name: New First Name, dtype: object
1132    Pratt
Name: New Last Name, dtype: object
Aaron
Preast
+------------------+
1134    Aaron
Name: New First Name, dtype: object
1134    Priest
Name: New Last Name, dtype: object
Elijah
Procter
+------------------+
1136    Elijah
Name: New First Name, dtype: object
1136    Proctor
Name: New Last Name, dtype: object
John
Prutt
+------------------+
1138    John
Name: New First Name, dtype: object
1138    Pratt
Name: New Last Name, dtype: object
Levi
Prutt
+------------------+
1133    Levi
Name: New First Name, dtype: object
1133    Pratt
Name: New Last Name, dtype: object
John
Randal
+------------------+
1140    John
Name: New First Name, dtype: object
1140    Randall
Name: New Last Name, dtype: object
John
Randill
+------------------+
1141    John
Name: New First Name, dtype: object
1141    Randall
Name: New Last Name, dtype: object
John
Raymont
+------------------+
1142    John
Name: New First Name, dtype: object
1142    Raymond
Name: New Last Name, dtype: object
Nathaniel
Read
+------------------+
1143    Nathaniel
Name: New First Name, dtype: object
1143    Reed
Name: New Last Name, dtype: object
John
Reckman
+------------------+
541    John
Name: New First Name, dtype: object
541    Ryckman
Name: New Last Name, dtype: object
Joseph
Reid
+------------------+
1363    Joseph
Name: New First Name, dtype: object
1363    Reed
Name: New Last Name, dtype: object
Nathaniel
Reid
+------------------+
1144    Nathaniel
Name: New First Name, dtype: object
1144    Reed
Name: New Last Name, dtype: object
Samuel
Reid
+------------------+
1359    Samuel
Name: New First Name, dtype: object
1359    Read
Name: New Last Name, dtype: object
Patrick
Reiley
+------------------+
698    Patrick
Name: New First Name, dtype: object
698    Riley
Name: New Last Name, dtype: object
Philip
Remier
+------------------+
1361    Philip
Name: New First Name, dtype: object
1361    Reamer
Name: New Last Name, dtype: object
John
Rhoad
+------------------+
1365    John
Name: New First Name, dtype: object
1365    Rhoades
Name: New Last Name, dtype: object
Joseph
Rhoades
+------------------+
935    Joseph
Name: New First Name, dtype: object
935    Rhodes
Name: New Last Name, dtype: object
John
Rhode
+------------------+
1366    John
Name: New First Name, dtype: object
1366    Rhoades
Name: New Last Name, dtype: object
Joseph Tho
Rhodes
+------------------+
572    Joseph T
Name: New First Name, dtype: object
572    Rhodes
Name: New Last Name, dtype: object
Naum
Rice
+------------------+
1145    Nahum
Name: New First Name, dtype: object
1145    Rice
Name: New Last Name, dtype: object
Allin
Richardson
+------------------+
1146    Allen
Name: New First Name, dtype: object
1146    Richardson
Name: New Last Name, dtype: object
Ebenez
Richardson
+------------------+
1147    Ebenezer
Name: New First Name, dtype: object
1147    Richardson
Name: New Last Name, dtype: object
Eliezer
Richmond
+------------------+
1148    Eleazer
Name: New First Name, dtype: object
1148    Richmond
Name: New Last Name, dtype: object
John
Rickey
+------------------+
1367    John
Name: New First Name, dtype: object
1367    Richey
Name: New Last Name, dtype: object
Patrick
Rieley
+------------------+
700    Patrick
Name: New First Name, dtype: object
700    Riley
Name: New Last Name, dtype: object
Patrick
Riely
+------------------+
705    Patrick
Name: New First Name, dtype: object
705    Riley
Name: New Last Name, dtype: object
Jacob
Roase
+------------------+
937    Jacob
Name: New First Name, dtype: object
937    Rose
Name: New Last Name, dtype: object
John
Robbins
+------------------+
710    John
Name: New First Name, dtype: object
710    Robins
Name: New Last Name, dtype: object
Samuel
Robert
+------------------+
434    Samuel
Name: New First Name, dtype: object
434    Roberts
Name: New Last Name, dtype: object
Alexan
Robertson
+------------------+
1368    Alexander
Name: New First Name, dtype: object
1368    Robertson
Name: New Last Name, dtype: object
Charles
Robeson
+------------------+
711    Charles
Name: New First Name, dtype: object
711    Robinson
Name: New Last Name, dtype: object
William
Robeson
+------------------+
1369    William
Name: New First Name, dtype: object
1369    Robinson
Name: New Last Name, dtype: object
Daniel
Robins
+------------------+
1149    Daniel
Name: New First Name, dtype: object
1149    Robbins
Name: New Last Name, dtype: object
Joshua
Robins
+------------------+
433    Joshua
Name: New First Name, dtype: object
433    Robbins
Name: New Last Name, dtype: object
Alexan
Robinson
+------------------+
712    Alexander
Name: New First Name, dtype: object
712    Robinson
Name: New Last Name, dtype: object
Alexand
Robinson
+------------------+
713    Alexander
Name: New First Name, dtype: object
713    Robinson
Name: New Last Name, dtype: object
Eliezer
Robinson
+------------------+
435    Eleazer
Name: New First Name, dtype: object
435    Robinson
Name: New Last Name, dtype: object
Robert
Robison
+------------------+
938    Robert
Name: New First Name, dtype: object
938    Robinson
Name: New Last Name, dtype: object
Joseph
Roe
+------------------+
1372    Joseph
Name: New First Name, dtype: object
1372    Rowe
Name: New Last Name, dtype: object
John
Roger
+------------------+
1151    John
Name: New First Name, dtype: object
1151    Rogers
Name: New Last Name, dtype: object
Joseph
Rolinson
+------------------+
431    Joseph
Name: New First Name, dtype: object
431    Rawlinson
Name: New Last Name, dtype: object

John
Round
+------------------+
1152    John
Name: New First Name, dtype: object
1152    Rounds
Name: New Last Name, dtype: object
John
Rugar
+------------------+
940    John
Name: New First Name, dtype: object
940    Ruger
Name: New Last Name, dtype: object
James
Ryley
+------------------+
936    James
Name: New First Name, dtype: object
936    Riley
Name: New Last Name, dtype: object
Richard
Ryon
+------------------+
1153    Richard
Name: New First Name, dtype: object
1153    Ryan
Name: New Last Name, dtype: object
Robert
Ryon
+------------------+
941    Robert
Name: New First Name, dtype: object
941    Ryan
Name: New Last Name, dtype: object
John
Saddler
+------------------+
1154    John
Name: New First Name, dtype: object
1154    Sadler
Name: New Last Name, dtype: object
John
Sagor
+------------------+
943    John
Name: New First Name, dtype: object
943    Sager
Name: New Last Name, dtype: object
Daniel
Salady
+------------------+
1373    Daniel
Name: New First Name, dtype: object
1373    Sallady
Name: New Last Name, dtype: object
William
Salsbury
+------------------+
1155    William
Name: New First Name, dtype: object
1155    Salisbury
Name: New Last Name, dtype: object
William
Sample
+------------------+
1375    William
Name: New First Name, dtype: object
1375    Semple
Name: New Last Name, dtype: object
Samuel
Sampscn
+------------------+
83    Samuel
Name: New First Name, dtype: object
83    Sampson
Name: New Last Name, dtype: object
James
Sanburn
+------------------+
336    James
Name: New First Name, dtype: object
336    Sanborn
Name: New Last Name, dtype: object
Noah
Saunders
+------------------+
1156    Noah
Name: New First Name, dtype: object
1156    Sanders
Name: New Last Name, dtype: object
Isaac
Saunderson
+------------------+
1157    Isaac
Name: New First Name, dtype: object
1157    Sanderson
Name: New Last Name, dtype: object
Sylvanus
Scott
+------------------+
1158    Sylvenus
Name: New First Name, dtype: object
1158    Scott
Name: New Last Name, dtype: object
Caleb
Segar
+------------------+
1159    Caleb
Name: New First Name, dtype: object
1159    Seger
Name: New Last Name, dtype: object
Jacob
Serber
+------------------+
1376    Jacob
Name: New First Name, dtype: object
1376    Sorber
Name: New Last Name, dtype: object
Jacob
Shafer
+------------------+
882    Jacob
Name: New First Name, dtype: object
882    Shaver
Name: New Last Name, dtype: object
Whitney
Shamway
+------------------+
1162    Whitney
Name: New First Name, dtype: object
1162    Shumway
Name: New Last Name, dtype: object
John
Shavers
+------------------+
342    John
Name: New First Name, dtype: object
342    Shaver
Name: New Last Name, dtype: object
John R
Shaw
+------------------+
1379    John
Name: New First Name, dtype: object
1379    Shaw
Name: New Last Name, dtype: object
Benjamin
Shearman
+------------------+
1164    Benjamin
Name: New First Name, dtype: object
1164    Sherman
Name: New Last Name, dtype: object
IChabod
Sherlock
+------------------+
1166    Ichabod
Name: New First Name, dtype: object
1166    Sherlock
Name: New Last Name, dtype: object
Nehem
Sherwood
+------------------+
955    Nehemiah
Name: New First Name, dtype: object
955    Sherwood
Name: New Last Name, dtype: object
Samuel M
Shute
+------------------+
719    Samuel
Name: New First Name, dtype: object
719    Shute
Name: New Last Name, dtype: object
John
Simmonds
+------------------+
616    John
Name: New First Name, dtype: object
616    Simmons
Name: New Last Name, dtype: object
Joseph
Simmonds
+------------------+
1171    Joseph
Name: New First Name, dtype: object
1171    Simonds
Name: New Last Name, dtype: object
Robert
Simmonds
+------------------+
956    Robert
Name: New First Name, dtype: object
956    Simmons
Name: New Last Name, dtype: object
Thomas
Simmonds
+------------------+
1172    Thomas
Name: New First Name, dtype: object
1172    Simmons
Name: New Last Name, dtype: object
Isaac
Simmons
+------------------+
1169    Isaac
Name: New First Name, dtype: object
1169    Simmonds
Name: New Last Name, dtype: object
Williams
Simmons
+------------------+
343    William
Name: New First Name, dtype: object
343    Simmons
Name: New Last Name, dtype: object
Isaac
Simonds
+------------------+
1170    Isaac
Name: New First Name, dtype: object
1170    Simmonds
Name: New Last Name, dtype: object
William
Simonds
+------------------+
729    William
Name: New First Name, dtype: object
729    Simmonds
Name: New Last Name, dtype: object
John
Simons
+------------------+
619    John
Name: New First Name, dtype: object
619    Simmons
Name: New Last Name, dtype: object
Jona
Simons
+------------------+
1380    John
Name: New First Name, dtype: object
1380    Simons
Name: New Last Name, dtype: object
John
Sloan
+------------------+
1382    John
Name: New First Name, dtype: object
1382    Sloane
Name: New Last Name, dtype: object
James
Sloane
+------------------+
1176    James
Name: New First Name, dtype: object
1176    Sloan
Name: New Last Name, dtype: object
John
Sloane
+------------------+
1381    John
Name: New First Name, dtype: object
1381    Sloan
Name: New Last Name, dtype: object
Nicholas
Sluyter
+------------------+
957    Nicholas
Name: New First Name, dtype: object
957    Slyter
Name: New Last Name, dtype: object
John
Smallhood
+------------------+
731    John
Name: New First Name, dtype: object
731    Smallwood
Name: New Last Name, dtype: object
Benjamin 1st
Smith
+------------------+
91    Benjamin
Name: New First Name, dtype: object
91    Smith
Name: New Last Name, dtype: object
Christopher
smith
+------------------+
959    Christopher
Name: New First Name, dtype: object
959    Smith
Name: New Last Name, dtype: object
Fredrick
Smith
+------------------+
1383    Frederick
Name: New First Name, dtype: object
1383    Smith
Name: New Last Name, dtype: object
James 1st
Smith
+------------------+
1178    James
Name: New First Name, dtype: object
1178    Smith
Name: New Last Name, dtype: object
James 2d
Smith
+------------------+
1179    James
Name: New First Name, dtype: object
1179    Smith
Name: New Last Name, dtype: object
John 3d
Smith
+------------------+
1385    John
Name: New First Name, dtype: object
1385    Smith
Name: New Last Name, dtype: object
John Jr.
Smith
+------------------+
960    John
Name: New First Name, dtype: object
960    Smith
Name: New Last Name, dtype: object
John Sr.
Smith
+------------------+
1386    John
Name: New First Name, dtype: object
1386    Smith
Name: New Last Name, dtype: object
Samuel 2d
Smith
+------------------+
135    Samuel
Name: New First Name, dtype: object
135    Smith
Name: New Last Name, dtype: object
Waight
Smith
+------------------+
244    Wait
Name: New First Name, dtype: object
244    Smith
Name: New Last Name, dtype: object
Daniel
Sollady
+------------------+
1374    Daniel
Name: New First Name, dtype: object
1374    Sallady
Name: New Last Name, dtype: object
Joseph
Sothworth
+------------------+
1180    Joseph
Name: New First Name, dtype: object
1180    Southworth
Name: New Last Name, dtype: object
Edward
Spalding
+------------------+
1436    Edward
Name: New First Name, dtype: object
1436    Spaulding
Name: New Last Name, dtype: object
Joseph
Spalding
+------------------+
365    Joseph
Name: New First Name, dtype: object
365    Spaulding
Name: New Last Name, dtype: object
Nathan
Speake
+------------------+
734    Nathan
Name: New First Name, dtype: object
734    Speak
Name: New Last Name, dtype: object
Amos
Spofford
+------------------+
351    Amos
Name: New First Name, dtype: object
351    Spafford
Name: New Last Name, dtype: object
Lazaris
Sprague
+------------------+
970    Lazarus
Name: New First Name, dtype: object
970    Sprague
Name: New Last Name, dtype: object
Lazarus
Spraigue
+------------------+
971    Lazarus
Name: New First Name, dtype: object
971    Sprague
Name: New Last Name, dtype: object
John
Spur
+------------------+
62    John
Name: New First Name, dtype: object
62    Spurr
Name: New Last Name, dtype: object
Nathaniel
Stacey
+------------------+
1181    Nathaniel
Name: New First Name, dtype: object
1181    Stacy
Name: New Last Name, dtype: object
Pardon
Starke
+------------------+
1182    Pardon
Name: New First Name, dtype: object
1182    Stark
Name: New Last Name, dtype: object
Pardon
Starks
+------------------+
1183    Pardon
Name: New First Name, dtype: object
1183    Stark
Name: New Last Name, dtype: object
John
Starky
+------------------+
736    John
Name: New First Name, dtype: object
736    Starkey
Name: New Last Name, dtype: object
Joseph
Starns
+------------------+
1184    Joseph
Name: New First Name, dtype: object
1184    Stearns
Name: New Last Name, dtype: object
Joshua
Stearnes
+------------------+
1185    Joshua
Name: New First Name, dtype: object
1185    Stearns
Name: New Last Name, dtype: object
Daniel
Stebbens
+------------------+
1189    Daniel
Name: New First Name, dtype: object
1189    Stebbins
Name: New Last Name, dtype: object
John P
Steel
+------------------+
1387    John
Name: New First Name, dtype: object
1387    Steel
Name: New Last Name, dtype: object

John
Steitinger
+------------------+
1388    John
Name: New First Name, dtype: object
1388    Steidinger
Name: New Last Name, dtype: object
Jona
Stephens
+------------------+
1389    John
Name: New First Name, dtype: object
1389    Stephens
Name: New Last Name, dtype: object
Joseph
Sterns
+------------------+
1186    Joseph
Name: New First Name, dtype: object
1186    Stearns
Name: New Last Name, dtype: object
Joshua
Sterns
+------------------+
1187    Joshua
Name: New First Name, dtype: object
1187    Stearns
Name: New Last Name, dtype: object
Josiah
Sterns
+------------------+
220    Josiah
Name: New First Name, dtype: object
220    Stearns
Name: New Last Name, dtype: object
Stephen
Sterns
+------------------+
1188    Stephen
Name: New First Name, dtype: object
1188    Stearns
Name: New Last Name, dtype: object
Francis
Steward
+------------------+
1390    Francis
Name: New First Name, dtype: object
1390    Stewart
Name: New Last Name, dtype: object
Samuel
Steward
+------------------+
1391    Samuel
Name: New First Name, dtype: object
1391    Stewart
Name: New Last Name, dtype: object
William
Steward
+------------------+
737    William
Name: New First Name, dtype: object
737    Stewart
Name: New Last Name, dtype: object
Joseph
Stilwill
+------------------+
888    Joseph
Name: New First Name, dtype: object
888    Stillwell
Name: New Last Name, dtype: object
Moses
Stodard
+------------------+
454    Moses
Name: New First Name, dtype: object
454    Stoddard
Name: New Last Name, dtype: object
Simon
Stoddard
+------------------+
1190    Simeon
Name: New First Name, dtype: object
1190    Stoddard
Name: New Last Name, dtype: object
John
Stonner
+------------------+
979    John
Name: New First Name, dtype: object
979    Stoner
Name: New Last Name, dtype: object
Jonn
Storey
+------------------+
12    John
Name: New First Name, dtype: object
12    Storey
Name: New Last Name, dtype: object
John
Storms
+------------------+
529    John
Name: New First Name, dtype: object
529    Storm
Name: New Last Name, dtype: object
Jonathan
Straton
+------------------+
1191    Jonathan
Name: New First Name, dtype: object
1191    Stratton
Name: New Last Name, dtype: object
Isaac
Stratton
+------------------+
1192    Isaac
Name: New First Name, dtype: object
1192    Stratten
Name: New Last Name, dtype: object
Joseph Fry
Swan
+------------------+
1193    Joseph
Name: New First Name, dtype: object
1193    Swan
Name: New Last Name, dtype: object
Cornel
Swartwout
+------------------+
982    Cornelius
Name: New First Name, dtype: object
982    Swartwout
Name: New Last Name, dtype: object
James
Sykes
+------------------+
610    James
Name: New First Name, dtype: object
610    Sikes
Name: New Last Name, dtype: object
David
Talbott
+------------------+
1194    David
Name: New First Name, dtype: object
1194    Talbot
Name: New Last Name, dtype: object
David
Talbut
+------------------+
1195    David
Name: New First Name, dtype: object
1195    Talbot
Name: New Last Name, dtype: object
Peter
Tappin
+------------------+
986    Peter
Name: New First Name, dtype: object
986    Tappen
Name: New Last Name, dtype: object
Daniel
Taylor
+------------------+
129    Daniel
Name: New First Name, dtype: object
129    Taylor
Name: New Last Name, dtype: object
William
Taylor
+------------------+
740    William
Name: New First Name, dtype: object
740    Taylor
Name: New Last Name, dtype: object
Moses
Tenny
+------------------+
1198    Moses
Name: New First Name, dtype: object
1198    Tenney
Name: New Last Name, dtype: object
William
Tensley
+------------------+
349    William
Name: New First Name, dtype: object
349    Tinsley
Name: New Last Name, dtype: object
David
Terr
+------------------+
1196    David
Name: New First Name, dtype: object
1196    Tarr
Name: New Last Name, dtype: object
James
Theayer
+------------------+
1199    James
Name: New First Name, dtype: object
1199    Thayer
Name: New Last Name, dtype: object
Beniamin
Thomas
+------------------+
987    Benjamin
Name: New First Name, dtype: object
987    Thomas
Name: New Last Name, dtype: object
Matthew
Thompson
+------------------+
1394    Mathew
Name: New First Name, dtype: object
1394    Thompson
Name: New Last Name, dtype: object
David
Thoms
+------------------+
1200    David
Name: New First Name, dtype: object
1200    Thomas
Name: New Last Name, dtype: object
William
Thoms
+------------------+
1201    William
Name: New First Name, dtype: object
1201    Thomas
Name: New Last Name, dtype: object
Nathan
Thomson
+------------------+
1395    Nathan
Name: New First Name, dtype: object
1395    Thompson
Name: New Last Name, dtype: object
William
Thomson
+------------------+
1396    William
Name: New First Name, dtype: object
1396    Thompson
Name: New Last Name, dtype: object
Robert
Timpson
+------------------+
1202    Robert
Name: New First Name, dtype: object
1202    Timson
Name: New Last Name, dtype: object
Joseph
Tinckam
+------------------+
1203    Joseph
Name: New First Name, dtype: object
1203    Tinkham
Name: New Last Name, dtype: object
Joseph
Tinckham
+------------------+
1204    Joseph
Name: New First Name, dtype: object
1204    Tinkham
Name: New Last Name, dtype: object
John
Toory
+------------------+
1205    John
Name: New First Name, dtype: object
1205    Torry
Name: New Last Name, dtype: object
Thomas
Torree
+------------------+
1206    Thomas
Name: New First Name, dtype: object
1206    Torrey
Name: New Last Name, dtype: object
Elisha
Totingham
+------------------+
1207    Elisha
Name: New First Name, dtype: object
1207    Tottingham
Name: New Last Name, dtype: object
John
Trace
+------------------+
1208    John
Name: New First Name, dtype: object
1208    Tracy
Name: New Last Name, dtype: object
W illiam
Treadwell
+------------------+
1209    William
Name: New First Name, dtype: object
1209    Treadwell
Name: New Last Name, dtype: object
Joseph
Treet
+------------------+
477    Joseph
Name: New First Name, dtype: object
477    Treat
Name: New Last Name, dtype: object
James
Trobridge
+------------------+
1210    James
Name: New First Name, dtype: object
1210    Trowbridge
Name: New Last Name, dtype: object
Michael
Troutt
+------------------+
988    Michael
Name: New First Name, dtype: object
988    Trout
Name: New Last Name, dtype: object
Samuel
Tuffts
+------------------+
254    Samuel
Name: New First Name, dtype: object
254    Tufts
Name: New Last Name, dtype: object
Henry
Tummy
+------------------+
895    Henry
Name: New First Name, dtype: object
895    Tumy
Name: New Last Name, dtype: object
Asel
Twist
+------------------+
386    Asahel
Name: New First Name, dtype: object
386    Twist
Name: New Last Name, dtype: object
Jonathan
Tyler
+------------------+
1211    Jonathan
Name: New First Name, dtype: object
1211    Tylor
Name: New Last Name, dtype: object
John
Vickery
+------------------+
1212    John
Name: New First Name, dtype: object
1212    Vickory
Name: New Last Name, dtype: object
Garret
Voorheis
+------------------+
647    Garret
Name: New First Name, dtype: object
647    Voorhees
Name: New Last Name, dtype: object
Albert
Voorhes
+------------------+
898    Albert
Name: New First Name, dtype: object
898    Voorhees
Name: New Last Name, dtype: object
Garret
Voorhies
+------------------+
648    Garret
Name: New First Name, dtype: object
648    Voorhees
Name: New Last Name, dtype: object
Jacob
Waggoner
+------------------+
1398    Jacob
Name: New First Name, dtype: object
1398    Waggoner
Name: New Last Name, dtype: object
Jonathan
Waite
+------------------+
100    Jonathan
Name: New First Name, dtype: object
100    White
Name: New Last Name, dtype: object
Thomas
Waite
+------------------+
752    Thomas
Name: New First Name, dtype: object
752    White
Name: New Last Name, dtype: object
Peter Sr.
Walker
+------------------+
1214    Peter
Name: New First Name, dtype: object
1214    Walker
Name: New Last Name, dtype: object
Stuphen
Ward
+------------------+
1215    Stephen
Name: New First Name, dtype: object
1215    Ward
Name: New Last Name, dtype: object
John
Weason
+------------------+
1217    John
Name: New First Name, dtype: object
1217    Wesson
Name: New Last Name, dtype: object
Henry
Weaver
+------------------+
1399    Henry
Name: New First Name, dtype: object
1399    Weaver
Name: New Last Name, dtype: object
Jacob
Weaver
+------------------+
1400    Jacob
Name: New First Name, dtype: object
1400    Weaver
Name: New Last Name, dtype: object
John
Weavers
+------------------+
381    John
Name: New First Name, dtype: object
381    Weaver
Name: New Last Name, dtype: object
Ephraim
Wedd
+------------------+
494    Ephraim
Name: New First Name, dtype: object
494    Weed
Name: New Last Name, dtype: object
John 2d
Welch
+------------------+
755    John
Name: New First Name, dtype: object
755    Welch
Name: New Last Name, dtype: object
Richard
Welch
+------------------+
622    Richard
Name: New First Name, dtype: object
622    Welsh
Name: New Last Name, dtype: object
Jacob
Wellman
+------------------+
1218    Jacob
Name: New First Name, dtype: object
1218    Welman
Name: New Last Name, dtype: object
William
Welsh
+------------------+
669    William
Name: New First Name, dtype: object
669    Welch
Name: New Last Name, dtype: object
Joseph
Wenslow
+------------------+
1219    Joseph
Name: New First Name, dtype: object
1219    Winslow
Name: New Last Name, dtype: object
John
Wessells
+------------------+
1002    John
Name: New First Name, dtype: object
1002    Wessels
Name: New Last Name, dtype: object
John T
West
+------------------+
756    John
Name: New First Name, dtype: object
756    West
Name: New Last Name, dtype: object

Henny
Wheeler
+------------------+
1004    Henry
Name: New First Name, dtype: object
1004    Wheeler
Name: New Last Name, dtype: object
Moses
Wheelor
+------------------+
1220    Moses
Name: New First Name, dtype: object
1220    Wheeler
Name: New Last Name, dtype: object
Thomas
Wheelor
+------------------+
181    Thomas
Name: New First Name, dtype: object
181    Wheeler
Name: New Last Name, dtype: object
John
Wheler
+------------------+
657    John
Name: New First Name, dtype: object
657    Wheeler
Name: New Last Name, dtype: object
Thomas
Wheler
+------------------+
179    Thomas
Name: New First Name, dtype: object
179    Wheeler
Name: New Last Name, dtype: object
Levi
Whelock
+------------------+
1221    Levi
Name: New First Name, dtype: object
1221    Wheelock
Name: New Last Name, dtype: object
Ephraim
Whetlock
+------------------+
113    Ephraim
Name: New First Name, dtype: object
113    Whitlock
Name: New Last Name, dtype: object
Anthony W
White
+------------------+
1403    Anthony
Name: New First Name, dtype: object
1403    White
Name: New Last Name, dtype: object
David
White
+------------------+
1222    David
Name: New First Name, dtype: object
1222    White
Name: New Last Name, dtype: object
Nathan W
Whiting
+------------------+
502    Nathan H
Name: New First Name, dtype: object
502    Whiting
Name: New Last Name, dtype: object
Jonathan
Whright
+------------------+
1223    Jonathan
Name: New First Name, dtype: object
1223    Wright
Name: New Last Name, dtype: object
Winthrop
Wiggens
+------------------+
402    Winthrop
Name: New First Name, dtype: object
402    Wiggin
Name: New Last Name, dtype: object
Winthrop
Wiggins
+------------------+
20    Winthrop
Name: New First Name, dtype: object
20    Wiggin
Name: New Last Name, dtype: object
John
Wilkins
+------------------+
1405    John
Name: New First Name, dtype: object
1405    Wilkin
Name: New Last Name, dtype: object
Robert
Wilkins
+------------------+
1408    Robert
Name: New First Name, dtype: object
1408    Wilkin
Name: New Last Name, dtype: object
John 1st
Williams
+------------------+
1224    John
Name: New First Name, dtype: object
1224    Williams
Name: New Last Name, dtype: object
Benjamin
Willie
+------------------+
404    Benjamin
Name: New First Name, dtype: object
404    Willey
Name: New Last Name, dtype: object
Joseph
Wills
+------------------+
26    Joseph
Name: New First Name, dtype: object
26    Wells
Name: New Last Name, dtype: object
Henry
Willson
+------------------+
1411    Henry
Name: New First Name, dtype: object
1411    Willson
Name: New Last Name, dtype: object
Isaac
Willson
+------------------+
1225    Isaac
Name: New First Name, dtype: object
1225    Wilson
Name: New Last Name, dtype: object
Benjamin
Willy
+------------------+
403    Benjamin
Name: New First Name, dtype: object
403    Willey
Name: New Last Name, dtype: object
David
Wilson
+------------------+
761    David
Name: New First Name, dtype: object
761    Wilson
Name: New Last Name, dtype: object
Robert
Wilson
+------------------+
1412    Robert
Name: New First Name, dtype: object
1412    Willson
Name: New Last Name, dtype: object
Joel
Wilton
+------------------+
499    Joel
Name: New First Name, dtype: object
499    Welton
Name: New Last Name, dtype: object
Jonathan
Witt
+------------------+
1213    Jonathan
Name: New First Name, dtype: object
1213    Waitt
Name: New Last Name, dtype: object
Nicholas
Wolfe
+------------------+
1413    Nicholas
Name: New First Name, dtype: object
1413    Wolf
Name: New Last Name, dtype: object
David
Wood
+------------------+
278    David
Name: New First Name, dtype: object
278    Wood
Name: New Last Name, dtype: object
Joseph
Woodruffe
+------------------+
505    Joseph
Name: New First Name, dtype: object
505    Woodruff
Name: New Last Name, dtype: object
Richard
Woods
+------------------+
1227    Richard
Name: New First Name, dtype: object
1227    Wood
Name: New Last Name, dtype: object
Jacob
Wooly
+------------------+
907    Jacob
Name: New First Name, dtype: object
907    Woolley
Name: New Last Name, dtype: object
Peter
Woormwood
+------------------+
422    Peter
Name: New First Name, dtype: object
422    Wormwood
Name: New Last Name, dtype: object
Heman
Worthineton
+------------------+
1228    Heman
Name: New First Name, dtype: object
1228    Worthington
Name: New Last Name, dtype: object
Beniamin
Wright
+------------------+
1018    Benjamin
Name: New First Name, dtype: object
1018    Wright
Name: New Last Name, dtype: object
Jacob
Yong
+------------------+
1414    Jacob
Name: New First Name, dtype: object
1414    Young
Name: New Last Name, dtype: object
William
Glenney
+------------------+
257    William
Name: New First Name, dtype: object
257    Glenny
Name: New Last Name, dtype: object
Return J
Meigs
+------------------+
374    Return Jona
Name: New First Name, dtype: object
374    Meigs
Name: New Last Name, dtype: object
William
Mirris
+------------------+
538    William
Name: New First Name, dtype: object
538    Morris
Name: New Last Name, dtype: object
Phineas
Kendall
+------------------+
544    Phineas
Name: New First Name, dtype: object
544    Kendal
Name: New Last Name, dtype: object
Mathew
Sears
+------------------+
545    Matthew
Name: New First Name, dtype: object
545    Sears
Name: New Last Name, dtype: object
Jeddediah
Huntington
+------------------+
548    Jedediah
Name: New First Name, dtype: object
548    Huntington
Name: New Last Name, dtype: object
Mark
Willcox
+------------------+
1417    Mark
Name: New First Name, dtype: object
1417    Wilcox
Name: New Last Name, dtype: object
Samuel
Erwin
+------------------+
1418    Samuel
Name: New First Name, dtype: object
1418    Irwin
Name: New Last Name, dtype: object
Joseph
Calwell
+------------------+
1419    Joseph
Name: New First Name, dtype: object
1419    Caldwell
Name: New Last Name, dtype: object
Jacob
Schriver
+------------------+
1423    Jacob
Name: New First Name, dtype: object
1423    Shriver
Name: New Last Name, dtype: object
John
Ferringher
+------------------+
1424    John
Name: New First Name, dtype: object
1424    Ferringer
Name: New Last Name, dtype: object
George
Schall
+------------------+
1425    George
Name: New First Name, dtype: object
1425    Shall
Name: New Last Name, dtype: object
James
Thompson
+------------------+
1837    James
Name: New First Name, dtype: object
1837    Thomson
Name: New Last Name, dtype: object
James
Thompson
+------------------+
1837    James
Name: New First Name, dtype: object
1837    Thomson
Name: New Last Name, dtype: object
Wiliam
Jordan
+------------------+
1441    William
Name: New First Name, dtype: object
1441    Jordan
Name: New Last Name, dtype: object
John
Hoge
+------------------+
1446    John
Name: New First Name, dtype: object
1446    Hodge
Name: New Last Name, dtype: object
Joseph
Parks
+------------------+
1450    Joseph
Name: New First Name, dtype: object
1450    Park
Name: New Last Name, dtype: object
John
Connor
+------------------+
948    John
Name: New First Name, dtype: object
948    Conner
Name: New Last Name, dtype: object
James
Irwin
+------------------+
1088    James
Name: New First Name, dtype: object
1088    Erwin
Name: New Last Name, dtype: object
James
McCammant
+------------------+
1467    James
Name: New First Name, dtype: object
1467    McCammont
Name: New Last Name, dtype: object
William
Moor
+------------------+
1474    William
Name: New First Name, dtype: object
1474    Moore
Name: New Last Name, dtype: object
John
McClare
+------------------+
1482    John
Name: New First Name, dtype: object
1482    McClure
Name: New Last Name, dtype: object
William
Thompson
+------------------+
1397    William
Name: New First Name, dtype: object
1397    Thomson
Name: New Last Name, dtype: object
William
Sharp
+------------------+
1490    William
Name: New First Name, dtype: object
1490    Sharpe
Name: New Last Name, dtype: object
William
Campbell
+------------------+
1625    William
Name: New First Name, dtype: object
1625    Campble
Name: New Last Name, dtype: object
John
Moor
+------------------+
1493    John
Name: New First Name, dtype: object
1493    Moore
Name: New Last Name, dtype: object
Nicholas
Deihl
+------------------+
1499    Nicholas
Name: New First Name, dtype: object
1499    Diehl
Name: New Last Name, dtype: object
Robert
Bridge
+------------------+
1510    Robert
Name: New First Name, dtype: object
1510    Bridges
Name: New Last Name, dtype: object
John
Jarvis
+------------------+
1511    John
Name: New First Name, dtype: object
1511    Jervis
Name: New Last Name, dtype: object
Joseph
Davies
+------------------+
1524    Joseph
Name: New First Name, dtype: object
1524    Davis
Name: New Last Name, dtype: object
James
Irwin
+------------------+
1088    James
Name: New First Name, dtype: object
1088    Erwin
Name: New Last Name, dtype: object

John
Glen
+------------------+
1487    John
Name: New First Name, dtype: object
1487    Glenn
Name: New Last Name, dtype: object
William
Glen
+------------------+
1550    William
Name: New First Name, dtype: object
1550    Glenn
Name: New Last Name, dtype: object
John
Vandergift
+------------------+
1554    John
Name: New First Name, dtype: object
1554    Vandergrift
Name: New Last Name, dtype: object
William
McHenry
+------------------+
1558    William
Name: New First Name, dtype: object
1558    Henry
Name: New Last Name, dtype: object
John
Dunlop
+------------------+
1562    John
Name: New First Name, dtype: object
1562    Dunlap
Name: New Last Name, dtype: object
John
Hutchingson
+------------------+
1303    John
Name: New First Name, dtype: object
1303    Hutchinson
Name: New Last Name, dtype: object
John
Horner
+------------------+
1622    John
Name: New First Name, dtype: object
1622    Herner
Name: New Last Name, dtype: object
William
Erwin
+------------------+
1572    William
Name: New First Name, dtype: object
1572    Irwin
Name: New Last Name, dtype: object
Andrew
Kachline
+------------------+
1577    Andrew
Name: New First Name, dtype: object
1577    Kachlein
Name: New Last Name, dtype: object
Derick
Hageland
+------------------+
1543    Derrick
Name: New First Name, dtype: object
1543    Hogeland
Name: New Last Name, dtype: object
Robert
Wear
+------------------+
1592    Robert
Name: New First Name, dtype: object
1592    Weir
Name: New Last Name, dtype: object
Derick
Hogeland
+------------------+
1542    Derrick
Name: New First Name, dtype: object
1542    Hogeland
Name: New Last Name, dtype: object
Thomas
Reid
+------------------+
1535    Thomas
Name: New First Name, dtype: object
1535    Reed
Name: New Last Name, dtype: object
Andrew
Ladlie
+------------------+
1605    Andrew
Name: New First Name, dtype: object
1605    Ledlie
Name: New Last Name, dtype: object
John
Dowdnoy
+------------------+
1521    John
Name: New First Name, dtype: object
1521    Dowdney
Name: New Last Name, dtype: object
John
Mathew
+------------------+
1606    John
Name: New First Name, dtype: object
1606    Mathews
Name: New Last Name, dtype: object
Thomas
Backman
+------------------+
1573    Thomas
Name: New First Name, dtype: object
1573    Buckman
Name: New Last Name, dtype: object
William
Bennet
+------------------+
1617    William
Name: New First Name, dtype: object
1617    Bennett
Name: New Last Name, dtype: object
John
William
+------------------+
1618    John
Name: New First Name, dtype: object
1618    Williams
Name: New Last Name, dtype: object
Henry
Hover
+------------------+
1620    Henry
Name: New First Name, dtype: object
1620    Hoover
Name: New Last Name, dtype: object
Thomas
Storey
+------------------+
1612    Thomas
Name: New First Name, dtype: object
1612    Story
Name: New Last Name, dtype: object
Henry
Shellenberg
+------------------+
1587    Henry
Name: New First Name, dtype: object
1587    Shellenberger
Name: New Last Name, dtype: object
John
Mathew
+------------------+
1606    John
Name: New First Name, dtype: object
1606    Mathews
Name: New Last Name, dtype: object
Jacob
Larch
+------------------+
1633    Jacob
Name: New First Name, dtype: object
1633    Lerch
Name: New Last Name, dtype: object
Jacob
Weitzell
+------------------+
1401    Jacob
Name: New First Name, dtype: object
1401    Weitzel
Name: New Last Name, dtype: object
Thomas
Wilson
+------------------+
1641    Thomas
Name: New First Name, dtype: object
1641    Willson
Name: New Last Name, dtype: object
Daniel
Sneider
+------------------+
1648    Daniel
Name: New First Name, dtype: object
1648    Snider
Name: New Last Name, dtype: object
Jacob
Shaffer
+------------------+
1905    Jacob
Name: New First Name, dtype: object
1905    Schaffer
Name: New Last Name, dtype: object
John
Dungan
+------------------+
1078    John
Name: New First Name, dtype: object
1078    Duncan
Name: New Last Name, dtype: object
William
Moobery
+------------------+
1505    William
Name: New First Name, dtype: object
1505    Mooberry
Name: New Last Name, dtype: object
Abraham
Lovan
+------------------+
1656    Abraham
Name: New First Name, dtype: object
1656    Levan
Name: New Last Name, dtype: object
John
Connely
+------------------+
1663    John
Name: New First Name, dtype: object
1663    Connell
Name: New Last Name, dtype: object
Martin
Horter
+------------------+
1676    Martin
Name: New First Name, dtype: object
1676    Herter
Name: New Last Name, dtype: object
Peter
Kachline
+------------------+
1621    Peter
Name: New First Name, dtype: object
1621    Kachlein
Name: New Last Name, dtype: object
Peter
Kachline
+------------------+
1621    Peter
Name: New First Name, dtype: object
1621    Kachlein
Name: New Last Name, dtype: object
George
Krible
+------------------+
1682    George
Name: New First Name, dtype: object
1682    Krieble
Name: New Last Name, dtype: object
Adam
Mower
+------------------+
1343    Adam
Name: New First Name, dtype: object
1343    Moyer
Name: New Last Name, dtype: object
Jacob
Mayer
+------------------+
1689    Jacob
Name: New First Name, dtype: object
1689    Myer
Name: New Last Name, dtype: object
John
Merkel
+------------------+
1692    John
Name: New First Name, dtype: object
1692    Merkle
Name: New Last Name, dtype: object
Frederick
Kuhns
+------------------+
1698    Frederick
Name: New First Name, dtype: object
1698    Kuhn
Name: New Last Name, dtype: object
Jacob
Kuhler
+------------------+
1704    Jacob
Name: New First Name, dtype: object
1704    Kohler
Name: New Last Name, dtype: object
Peter
Kholer
+------------------+
1706    Peter
Name: New First Name, dtype: object
1706    Kohler
Name: New Last Name, dtype: object
Peter
Kholer
+------------------+
1706    Peter
Name: New First Name, dtype: object
1706    Kohler
Name: New Last Name, dtype: object
John
Rhoad
+------------------+
1365    John
Name: New First Name, dtype: object
1365    Rhoades
Name: New Last Name, dtype: object
Peter
Linn
+------------------+
1712    Peter
Name: New First Name, dtype: object
1712    Lynn
Name: New Last Name, dtype: object
Henry
Knowse
+------------------+
1661    Henry
Name: New First Name, dtype: object
1661    Knows
Name: New Last Name, dtype: object
John
Fogal
+------------------+
1717    John
1718    John
Name: New First Name, dtype: object
1717    Fogel
1718    Fogle
Name: New Last Name, dtype: object
John
Fogel
+------------------+
1720    John
Name: New First Name, dtype: object
1720    Fogle
Name: New Last Name, dtype: object
Conard
Mark
+------------------+
1723    Conrad
Name: New First Name, dtype: object
1723    Mark
Name: New Last Name, dtype: object
Jacob
Mayers
+------------------+
1688    Jacob
Name: New First Name, dtype: object
1688    Mayer
Name: New Last Name, dtype: object
John
Mosser
+------------------+
1628    John
Name: New First Name, dtype: object
1628    Moser
Name: New Last Name, dtype: object
Andrew
Roup
+------------------+
1742    Andrew
Name: New First Name, dtype: object
1742    Raup
Name: New Last Name, dtype: object
James
Clyde
+------------------+
1713    James
Name: New First Name, dtype: object
1713    Clyd
Name: New Last Name, dtype: object
William
Nice
+------------------+
1350    William
Name: New First Name, dtype: object
1350    Nyce
Name: New Last Name, dtype: object
Jacob
Stien
+------------------+
1756    Jacob
Name: New First Name, dtype: object
1756    Stein
Name: New Last Name, dtype: object
Bernard
Adams
+------------------+
1707    Bernard
Name: New First Name, dtype: object
1707    Adam
Name: New Last Name, dtype: object
John
Bollman
+------------------+
1768    John
Name: New First Name, dtype: object
1768    Bullman
Name: New Last Name, dtype: object
Daniel
Snyder
+------------------+
1772    Daniel
Name: New First Name, dtype: object
1772    Snider
Name: New Last Name, dtype: object
Jacob
Rohn
+------------------+
1630    Jacob
Name: New First Name, dtype: object
1630    Rahn
Name: New Last Name, dtype: object
Conrad
Kerschner
+------------------+
1448    Conrad
Name: New First Name, dtype: object
1448    Kershner
Name: New Last Name, dtype: object
John
Swatzer
+------------------+
1782    John
Name: New First Name, dtype: object
1782    Switzer
Name: New Last Name, dtype: object
John
Seigfried
+------------------+
1791    John
Name: New First Name, dtype: object
1791    Sigfried
Name: New Last Name, dtype: object

John
Anspack
+------------------+
1804    John
Name: New First Name, dtype: object
1804    Anspach
Name: New Last Name, dtype: object
John
Anspack
+------------------+
1804    John
Name: New First Name, dtype: object
1804    Anspach
Name: New Last Name, dtype: object
Peter
Wieser
+------------------+
1783    Peter
Name: New First Name, dtype: object
1783    Weiser
Name: New Last Name, dtype: object
John
Roads
+------------------+
1809    John
Name: New First Name, dtype: object
1809    Rhoades
Name: New Last Name, dtype: object
John
Weitzel
+------------------+
1811    John
Name: New First Name, dtype: object
1811    Wetzel
Name: New Last Name, dtype: object
John
Carnell
+------------------+
1598    John
Name: New First Name, dtype: object
1598    Cornell
Name: New Last Name, dtype: object
John
Weitzel
+------------------+
1811    John
Name: New First Name, dtype: object
1811    Wetzel
Name: New Last Name, dtype: object
Jacob
Bausman
+------------------+
1500    Jacob
Name: New First Name, dtype: object
1500    Bousman
Name: New Last Name, dtype: object
James
Willson
+------------------+
1681    James
Name: New First Name, dtype: object
1681    Wilson
Name: New Last Name, dtype: object
John
Rorer
+------------------+
1813    John
Name: New First Name, dtype: object
1813    Rohrer
Name: New Last Name, dtype: object
James
Jacks
+------------------+
1559    James
Name: New First Name, dtype: object
1559    Jack
Name: New Last Name, dtype: object
John
Bard
+------------------+
1759    John
Name: New First Name, dtype: object
1759    Beard
Name: New Last Name, dtype: object
Jacob
Kehler
+------------------+
1709    Jacob
Name: New First Name, dtype: object
1709    Kohler
Name: New Last Name, dtype: object
John
Willson
+------------------+
1754    John
Name: New First Name, dtype: object
1754    Wilson
Name: New Last Name, dtype: object
Jacob
Kehler
+------------------+
1709    Jacob
Name: New First Name, dtype: object
1709    Kohler
Name: New Last Name, dtype: object
William
Read
+------------------+
1818    William
Name: New First Name, dtype: object
1818    Reed
Name: New Last Name, dtype: object
David
Brubacker
+------------------+
1826    David
Name: New First Name, dtype: object
1826    Brubaker
Name: New Last Name, dtype: object
David
Brubacker
+------------------+
1826    David
Name: New First Name, dtype: object
1826    Brubaker
Name: New Last Name, dtype: object
Joseph
Hale
+------------------+
1827    Joseph
Name: New First Name, dtype: object
1827    Hall
Name: New Last Name, dtype: object
James
Bennet
+------------------+
588    James
Name: New First Name, dtype: object
588    Bennett
Name: New Last Name, dtype: object
John
Buyers
+------------------+
1680    John
Name: New First Name, dtype: object
1680    Byers
Name: New Last Name, dtype: object
John
Buyers
+------------------+
1680    John
Name: New First Name, dtype: object
1680    Byers
Name: New Last Name, dtype: object
Christian
Gerber
+------------------+
1433    Christian
Name: New First Name, dtype: object
1433    Garber
Name: New Last Name, dtype: object
Joseph
McClare
+------------------+
1534    Joseph
Name: New First Name, dtype: object
1534    McClure
Name: New Last Name, dtype: object
James
kean
+------------------+
1311    James
Name: New First Name, dtype: object
1311    Kean
Name: New Last Name, dtype: object
Jacob
Haffer
+------------------+
1838    Jacob
Name: New First Name, dtype: object
1838    Hoffer
Name: New Last Name, dtype: object
William
Greir
+------------------+
1714    William
Name: New First Name, dtype: object
1714    Grier
Name: New Last Name, dtype: object
Jacob
Mayer
+------------------+
1689    Jacob
Name: New First Name, dtype: object
1689    Myer
Name: New Last Name, dtype: object
John
Wholey
+------------------+
1850    John
Name: New First Name, dtype: object
1850    Wooley
Name: New Last Name, dtype: object
Jacob
Kartz
+------------------+
1795    Jacob
Name: New First Name, dtype: object
1795    Kurtz
Name: New Last Name, dtype: object
Robert
McClary
+------------------+
1854    Robert
Name: New First Name, dtype: object
1854    McCleary
Name: New Last Name, dtype: object
Gasper
Souder
+------------------+
1808    Casper
Name: New First Name, dtype: object
1808    Souder
Name: New Last Name, dtype: object
Peter
Ruit
+------------------+
1770    Peter
Name: New First Name, dtype: object
1770    Ruth
Name: New Last Name, dtype: object
John
Goheon
+------------------+
1860    John
Name: New First Name, dtype: object
1860    Goheen
Name: New Last Name, dtype: object
Benjamin
Clarke
+------------------+
1629    Benjamin
Name: New First Name, dtype: object
1629    Clark
Name: New Last Name, dtype: object
Jacob
Meyer
+------------------+
1867    Jacob
Name: New First Name, dtype: object
1867    Myer
Name: New Last Name, dtype: object
Frederick
Heise
+------------------+
1774    Frederick
Name: New First Name, dtype: object
1774    Hise
Name: New Last Name, dtype: object
Francis
Hager
+------------------+
1878    Francis
Name: New First Name, dtype: object
1878    Heger
Name: New Last Name, dtype: object
Martin
Frank
+------------------+
1883    Martin
Name: New First Name, dtype: object
1883    Franck
Name: New Last Name, dtype: object
Michael
Kline
+------------------+
1519    Michael
Name: New First Name, dtype: object
1519    Klein
Name: New Last Name, dtype: object
John
Hannah
+------------------+
1197    John
Name: New First Name, dtype: object
1197    Hanna
Name: New Last Name, dtype: object
John
Maxwell Nesbitt
+------------------+
1453    John
Name: New First Name, dtype: object
1453    Maxwell
Name: New Last Name, dtype: object
James
Thompson
+------------------+
1837    James
Name: New First Name, dtype: object
1837    Thomson
Name: New Last Name, dtype: object
Edward
Wills
+------------------+
1481    Edward
Name: New First Name, dtype: object
1481    Wells
Name: New Last Name, dtype: object
John
Buoyers
+------------------+
1494    John
Name: New First Name, dtype: object
1494    Buyers
Name: New Last Name, dtype: object
David
Mathews
+------------------+
1498    David
Name: New First Name, dtype: object
1498    Mathew
Name: New Last Name, dtype: object
Joseph
Speer
+------------------+
1523    Joseph
Name: New First Name, dtype: object
1523    Spear
Name: New Last Name, dtype: object
Peter
Hortman
+------------------+
1529    Peter
Name: New First Name, dtype: object
1529    Hartman
Name: New Last Name, dtype: object
Greffith
James
+------------------+
1478    Griffith
Name: New First Name, dtype: object
1478    James
Name: New Last Name, dtype: object
Jacob
Gribb
+------------------+
1544    Jacob
Name: New First Name, dtype: object
1544    Grubb
Name: New Last Name, dtype: object
James
Thompson
+------------------+
1837    James
Name: New First Name, dtype: object
1837    Thomson
Name: New Last Name, dtype: object
James
Armstorng
+------------------+
1547    James
Name: New First Name, dtype: object
1547    Armstrong
Name: New Last Name, dtype: object
John
Culbertron
+------------------+
1551    John
Name: New First Name, dtype: object
1551    Culbertson
Name: New Last Name, dtype: object
Robert
Purdey
+------------------+
1557    Robert
Name: New First Name, dtype: object
1557    Purdy
Name: New Last Name, dtype: object
James
Irwin
+------------------+
1088    James
Name: New First Name, dtype: object
1088    Erwin
Name: New Last Name, dtype: object
Jacob
Shnider
+------------------+
1561    Jacob
Name: New First Name, dtype: object
1561    Schneider
Name: New Last Name, dtype: object
Peter
Hortman
+------------------+
1529    Peter
Name: New First Name, dtype: object
1529    Hartman
Name: New Last Name, dtype: object
Thomas
Mc McCracken
+------------------+
1565    Thomas
Name: New First Name, dtype: object
1565    McCracken
Name: New Last Name, dtype: object
Joseph
Pennel
+------------------+
1566    Joseph
Name: New First Name, dtype: object
1566    Pennell
Name: New Last Name, dtype: object
Lewellin
Davis
+------------------+
1015    Lewellyn
Name: New First Name, dtype: object
1015    Davis
Name: New Last Name, dtype: object
Henry
Bennor
+------------------+
587    Henry
Name: New First Name, dtype: object
587    Benner
Name: New Last Name, dtype: object
Joseph
Read
+------------------+
1571    Joseph
Name: New First Name, dtype: object
1571    Reed
Name: New Last Name, dtype: object
Henry
Fink
+------------------+
1584    Henry
Name: New First Name, dtype: object
1584    Funk
Name: New Last Name, dtype: object
James
Davies
+------------------+
1585    James
Name: New First Name, dtype: object
1585    Davis
Name: New Last Name, dtype: object
John
Brubacker
+------------------+
1589    John
Name: New First Name, dtype: object
1589    Brubaker
Name: New Last Name, dtype: object
Michael
Lye
+------------------+
1591    Michael
Name: New First Name, dtype: object
1591    Ley
Name: New Last Name, dtype: object
Gabriel
Hester
+------------------+
1480    Gabriel
Name: New First Name, dtype: object
1480    Heister
Name: New Last Name, dtype: object
Frederick
Kahn
+------------------+
1596    Frederick
Name: New First Name, dtype: object
1596    Kuhn
Name: New Last Name, dtype: object
Jacob
Wisler
+------------------+
1402    Jacob
Name: New First Name, dtype: object
1402    Whistler
Name: New Last Name, dtype: object
John
Frankline
+------------------+
1506    John
Name: New First Name, dtype: object
1506    Franklin
Name: New Last Name, dtype: object
William
Gary
+------------------+
1614    William
Name: New First Name, dtype: object
1614    Gray
Name: New Last Name, dtype: object
William
Gary
+------------------+
1614    William
Name: New First Name, dtype: object
1614    Gray
Name: New Last Name, dtype: object
William
Radman
+------------------+
1619    William
Name: New First Name, dtype: object
1619    Redman
Name: New Last Name, dtype: object
Thomas
Robison
+------------------+
1504    Thomas
Name: New First Name, dtype: object
1504    Robinson
Name: New Last Name, dtype: object

John
Hegerman
+------------------+
1579    John
Name: New First Name, dtype: object
1579    Hagerman
Name: New Last Name, dtype: object
Wiiliam
Shaw
+------------------+
1643    William
Name: New First Name, dtype: object
1643    Shaw
Name: New Last Name, dtype: object
John
Cockran
+------------------+
1646    John
Name: New First Name, dtype: object
1646    Cochran
Name: New Last Name, dtype: object
John
Faulkner
+------------------+
1647    John
Name: New First Name, dtype: object
1647    Falkner
Name: New Last Name, dtype: object
Paul
Weitzell
+------------------+
1652    Paul
Name: New First Name, dtype: object
1652    Weitzel
Name: New Last Name, dtype: object
John
Glen
+------------------+
1487    John
Name: New First Name, dtype: object
1487    Glenn
Name: New Last Name, dtype: object
Smauel
Jackson
+------------------+
1304    Samuel
Name: New First Name, dtype: object
1304    Jackson
Name: New Last Name, dtype: object
John
Holmes
+------------------+
1640    John
Name: New First Name, dtype: object
1640    Holms
Name: New Last Name, dtype: object
James
Flemming
+------------------+
1454    James
Name: New First Name, dtype: object
1454    Fleming
Name: New Last Name, dtype: object
John
Rogers
+------------------+
1370    John
Name: New First Name, dtype: object
1370    Rodgers
Name: New Last Name, dtype: object
John
Cornely
+------------------+
1662    John
Name: New First Name, dtype: object
1662    Cornell
Name: New Last Name, dtype: object
John
Cornely
+------------------+
1662    John
Name: New First Name, dtype: object
1662    Cornell
Name: New Last Name, dtype: object
William
Woods
+------------------+
1653    William
Name: New First Name, dtype: object
1653    Wood
Name: New Last Name, dtype: object
Mark
Harden
+------------------+
1508    Mark
Name: New First Name, dtype: object
1508    Hardin
Name: New Last Name, dtype: object
George
Douglas
+------------------+
1665    George
Name: New First Name, dtype: object
1665    Douglass
Name: New Last Name, dtype: object
John
Danbar
+------------------+
1667    John
Name: New First Name, dtype: object
1667    Dunbar
Name: New Last Name, dtype: object
Joseph
Rhea
+------------------+
1610    Joseph
Name: New First Name, dtype: object
1610    Rea
Name: New Last Name, dtype: object
John
Woods
+------------------+
1670    John
Name: New First Name, dtype: object
1670    Wood
Name: New Last Name, dtype: object
William
Woods
+------------------+
1653    William
Name: New First Name, dtype: object
1653    Wood
Name: New Last Name, dtype: object
James
Cambell
+------------------+
1673    James
Name: New First Name, dtype: object
1673    Campbell
Name: New Last Name, dtype: object
William
Cambell
+------------------+
1492    William
Name: New First Name, dtype: object
1492    Campbell
Name: New Last Name, dtype: object
John
Waters
+------------------+
1675    John
Name: New First Name, dtype: object
1675    Watters
Name: New Last Name, dtype: object
John
Cambell
+------------------+
1677    John
Name: New First Name, dtype: object
1677    Campbell
Name: New Last Name, dtype: object
John
Dunbur
+------------------+
1679    John
Name: New First Name, dtype: object
1679    Dunbar
Name: New Last Name, dtype: object
James
Willson
+------------------+
1681    James
Name: New First Name, dtype: object
1681    Wilson
Name: New Last Name, dtype: object
Peter
Whitesides
+------------------+
1569    Peter
Name: New First Name, dtype: object
1569    Whiteside
Name: New Last Name, dtype: object
David
Hoge
+------------------+
1420    David
Name: New First Name, dtype: object
1420    Hogg
Name: New Last Name, dtype: object
Jacobe
Moore
+------------------+
1683    Jacob
Name: New First Name, dtype: object
1683    Moore
Name: New Last Name, dtype: object
William
Neilson
+------------------+
1346    William
Name: New First Name, dtype: object
1346    Nelson
Name: New Last Name, dtype: object
John
Porker
+------------------+
1684    John
Name: New First Name, dtype: object
1684    Parker
Name: New Last Name, dtype: object
William
Halmes
+------------------+
1690    William
Name: New First Name, dtype: object
1690    Holmes
Name: New Last Name, dtype: object
James
Leman
+------------------+
1694    James
Name: New First Name, dtype: object
1694    Lemon
Name: New Last Name, dtype: object
John
Holmes
+------------------+
1640    John
Name: New First Name, dtype: object
1640    Holms
Name: New Last Name, dtype: object
James
Lemmon
+------------------+
1695    James
Name: New First Name, dtype: object
1695    Lemon
Name: New Last Name, dtype: object
Robert
Elliott
+------------------+
1086    Robert
Name: New First Name, dtype: object
1086    Elliot
Name: New Last Name, dtype: object
Robert
Duncn
+------------------+
1427    Robert
Name: New First Name, dtype: object
1427    Duncan
Name: New Last Name, dtype: object
Robert
Duncn
+------------------+
1427    Robert
Name: New First Name, dtype: object
1427    Duncan
Name: New Last Name, dtype: object
John
Flemming
+------------------+
1483    John
Name: New First Name, dtype: object
1483    Fleming
Name: New Last Name, dtype: object
James
McClellard
+------------------+
1708    James
Name: New First Name, dtype: object
1708    McClelland
Name: New Last Name, dtype: object
John
Thomson
+------------------+
1710    John
Name: New First Name, dtype: object
1710    Thompson
Name: New Last Name, dtype: object
John
Fury
+------------------+
1496    John
Name: New First Name, dtype: object
1496    Fry
Name: New Last Name, dtype: object
William
Glen
+------------------+
1550    William
Name: New First Name, dtype: object
1550    Glenn
Name: New Last Name, dtype: object
James
Carothers
+------------------+
855    James
Name: New First Name, dtype: object
855    Caruthers
Name: New Last Name, dtype: object
James
Carothers
+------------------+
855    James
Name: New First Name, dtype: object
855    Caruthers
Name: New Last Name, dtype: object
Thomas
Willson
+------------------+
1642    Thomas
Name: New First Name, dtype: object
1642    Wilson
Name: New Last Name, dtype: object
James
Carothers
+------------------+
855    James
Name: New First Name, dtype: object
855    Caruthers
Name: New Last Name, dtype: object
William
Andreson
+------------------+
1716    William
Name: New First Name, dtype: object
1716    Anderson
Name: New Last Name, dtype: object
John
Robison
+------------------+
1721    John
Name: New First Name, dtype: object
1721    Robinson
Name: New Last Name, dtype: object
Frederick
Eickelberger
+------------------+
1728    Frederick
Name: New First Name, dtype: object
1728    Eichelberger
Name: New Last Name, dtype: object
Robert
Clarke
+------------------+
896    Robert
Name: New First Name, dtype: object
896    Clark
Name: New Last Name, dtype: object
Nicholas
Dehl
+------------------+
1733    Nicholas
Name: New First Name, dtype: object
1733    Diehl
Name: New Last Name, dtype: object
William
Campbell
+------------------+
1625    William
Name: New First Name, dtype: object
1625    Campble
Name: New Last Name, dtype: object
Adam
Eickelberger
+------------------+
1736    Adam
Name: New First Name, dtype: object
1736    Eichelberger
Name: New Last Name, dtype: object
John
Beyers
+------------------+
1744    John
Name: New First Name, dtype: object
1744    Byers
Name: New Last Name, dtype: object
James
Beggs
+------------------+
689    James
Name: New First Name, dtype: object
689    Boggs
Name: New Last Name, dtype: object
Mathew
Henderson
+------------------+
1747    Matthew
Name: New First Name, dtype: object
1747    Henderson
Name: New Last Name, dtype: object
Frederick
Aunspach
+------------------+
1590    Frederick
Name: New First Name, dtype: object
1590    Anspach
Name: New Last Name, dtype: object
Christian
Maller
+------------------+
1340    Christian
Name: New First Name, dtype: object
1340    Miller
Name: New Last Name, dtype: object
Adam
Sheffer
+------------------+
1604    Adam
Name: New First Name, dtype: object
1604    Shaffer
Name: New Last Name, dtype: object
George A.
Baker
+------------------+
1421    George
Name: New First Name, dtype: object
1421    Baker
Name: New Last Name, dtype: object
John
Willson
+------------------+
1754    John
Name: New First Name, dtype: object
1754    Wilson
Name: New Last Name, dtype: object
William
Thrap
+------------------+
1755    William
Name: New First Name, dtype: object
1755    Tharp
Name: New Last Name, dtype: object
William
Ball
+------------------+
1588    William
Name: New First Name, dtype: object
1588    Bale
Name: New Last Name, dtype: object
George A.
Baker
+------------------+
1421    George
Name: New First Name, dtype: object
1421    Baker
Name: New Last Name, dtype: object
Samuel
Dellap
+------------------+
1761    Samuel
Name: New First Name, dtype: object
1761    Delap
Name: New Last Name, dtype: object
James
Lang
+------------------+
1763    James
Name: New First Name, dtype: object
1763    Long
Name: New Last Name, dtype: object
John
Glen
+------------------+
1487    John
Name: New First Name, dtype: object
1487    Glenn
Name: New Last Name, dtype: object
Jonathn
Penrose
+------------------+
1765    Jonathan
Name: New First Name, dtype: object
1765    Penrose
Name: New Last Name, dtype: object
John
Yeagle
+------------------+
1553    John
Name: New First Name, dtype: object
1553    Yeakle
Name: New Last Name, dtype: object
Joseph
Willson
+------------------+
1767    Joseph
Name: New First Name, dtype: object
1767    Wilson
Name: New Last Name, dtype: object
John
Glen
+------------------+
1487    John
Name: New First Name, dtype: object
1487    Glenn
Name: New Last Name, dtype: object
James
Irwin
+------------------+
1088    James
Name: New First Name, dtype: object
1088    Erwin
Name: New Last Name, dtype: object
Benjamin
Bratholomew
+------------------+
1581    Benjamin
Name: New First Name, dtype: object
1581    Bartholomew
Name: New Last Name, dtype: object
Thomas
Willson
+------------------+
1642    Thomas
Name: New First Name, dtype: object
1642    Wilson
Name: New Last Name, dtype: object
John
Kid
+------------------+
1594    John
Name: New First Name, dtype: object
1594    Kidd
Name: New Last Name, dtype: object
James
Read
+------------------+
1447    James
Name: New First Name, dtype: object
1447    Reed
Name: New Last Name, dtype: object
Henry
Eberley
+------------------+
1776    Henry
Name: New First Name, dtype: object
1776    Eberly
Name: New Last Name, dtype: object
John
Brook
+------------------+
1729    John
Name: New First Name, dtype: object
1729    Brooks
Name: New Last Name, dtype: object
Isaac
Eyre
+------------------+
1779    Isaac
Name: New First Name, dtype: object
1779    Eyres
Name: New Last Name, dtype: object
John
Glen
+------------------+
1487    John
Name: New First Name, dtype: object
1487    Glenn
Name: New Last Name, dtype: object
James
Read
+------------------+
1447    James
Name: New First Name, dtype: object
1447    Reed
Name: New Last Name, dtype: object

William
William
+------------------+
1649    William
Name: New First Name, dtype: object
1649    Williams
Name: New Last Name, dtype: object
Henry
Hays
+------------------+
1785    Henry
Name: New First Name, dtype: object
1785    Hayes
Name: New Last Name, dtype: object
Henry
Hays
+------------------+
1785    Henry
Name: New First Name, dtype: object
1785    Hayes
Name: New Last Name, dtype: object
Michel
Meyer
+------------------+
1635    Michael
Name: New First Name, dtype: object
1635    Myer
Name: New Last Name, dtype: object
John
McDonnald
+------------------+
1796    John
Name: New First Name, dtype: object
1796    McDonald
Name: New Last Name, dtype: object
Isaac
Eyres
+------------------+
1778    Isaac
Name: New First Name, dtype: object
1778    Eyre
Name: New Last Name, dtype: object
James
Morris Jones
+------------------+
1801    James
Name: New First Name, dtype: object
1801    Morris
Name: New Last Name, dtype: object
Thomas
Wilson
+------------------+
1641    Thomas
Name: New First Name, dtype: object
1641    Willson
Name: New Last Name, dtype: object
William
Kern
+------------------+
1312    William
Name: New First Name, dtype: object
1312    Kearns
Name: New Last Name, dtype: object
William
Dysert
+------------------+
1516    William
Name: New First Name, dtype: object
1516    Dysart
Name: New Last Name, dtype: object
Robert
McAdams
+------------------+
38    Robert
Name: New First Name, dtype: object
38    Adams
Name: New Last Name, dtype: object
James
Chamber
+------------------+
1528    James
Name: New First Name, dtype: object
1528    Chambers
Name: New Last Name, dtype: object
John
Kid
+------------------+
1594    John
Name: New First Name, dtype: object
1594    Kidd
Name: New Last Name, dtype: object
John
Littla
+------------------+
1821    John
Name: New First Name, dtype: object
1821    Little
Name: New Last Name, dtype: object
John
Rickards
+------------------+
1825    John
Name: New First Name, dtype: object
1825    Richards
Name: New Last Name, dtype: object
James
Mathers
+------------------+
1509    James
Name: New First Name, dtype: object
1509    Mather
Name: New Last Name, dtype: object
James
Woodbourn
+------------------+
1472    James
Name: New First Name, dtype: object
1472    Woodburn
Name: New Last Name, dtype: object
Andrew
Crag
+------------------+
1831    Andrew
Name: New First Name, dtype: object
1831    Craig
Name: New Last Name, dtype: object
William
Camble
+------------------+
1624    William
Name: New First Name, dtype: object
1624    Campble
Name: New Last Name, dtype: object
Thomas
Farrest
+------------------+
1100    Thomas
Name: New First Name, dtype: object
1100    Forrest
Name: New Last Name, dtype: object
William
Ball
+------------------+
1588    William
Name: New First Name, dtype: object
1588    Bale
Name: New Last Name, dtype: object
Nicholas
Deihl
+------------------+
1499    Nicholas
Name: New First Name, dtype: object
1499    Diehl
Name: New Last Name, dtype: object
William
Moobery
+------------------+
1505    William
Name: New First Name, dtype: object
1505    Mooberry
Name: New Last Name, dtype: object
Allen
Jacks
+------------------+
1745    Allen
Name: New First Name, dtype: object
1745    Jack
Name: New Last Name, dtype: object
John
Willson
+------------------+
1754    John
Name: New First Name, dtype: object
1754    Wilson
Name: New Last Name, dtype: object
James
Thomson
+------------------+
1836    James
Name: New First Name, dtype: object
1836    Thompson
Name: New Last Name, dtype: object
Philip
Ling
+------------------+
1329    Philip
Name: New First Name, dtype: object
1329    Long
Name: New Last Name, dtype: object
William
Dolling
+------------------+
1070    William
Name: New First Name, dtype: object
1070    Dowling
Name: New Last Name, dtype: object
Willam
Bailey
+------------------+
1846    William
Name: New First Name, dtype: object
1846    Baily
Name: New Last Name, dtype: object
John
Glen
+------------------+
1487    John
Name: New First Name, dtype: object
1487    Glenn
Name: New Last Name, dtype: object
John
Willson
+------------------+
1754    John
Name: New First Name, dtype: object
1754    Wilson
Name: New Last Name, dtype: object
James
Armar
+------------------+
1442    James
Name: New First Name, dtype: object
1442    Armor
Name: New Last Name, dtype: object
Jonathan
Paugh
+------------------+
1358    Jonathan
Name: New First Name, dtype: object
1358    Pugh
Name: New Last Name, dtype: object
John
Woods
+------------------+
1670    John
Name: New First Name, dtype: object
1670    Wood
Name: New Last Name, dtype: object
Jonas
Phillips
+------------------+
1903    Jonas
Name: New First Name, dtype: object
1903    Philips
Name: New Last Name, dtype: object
Augustin
Willett
+------------------+
1599    Augustin
Name: New First Name, dtype: object
1599    Willet
Name: New Last Name, dtype: object
Jacob
Wagganer
+------------------+
1858    Jacob
Name: New First Name, dtype: object
1858    Waggoner
Name: New Last Name, dtype: object
John
Foulke
+------------------+
1538    John
Name: New First Name, dtype: object
1538    Foulk
Name: New Last Name, dtype: object
Benjamin
Branan
+------------------+
1426    Benjamin
Name: New First Name, dtype: object
1426    Brannan
Name: New Last Name, dtype: object
John
Parry
+------------------+
1354    John
Name: New First Name, dtype: object
1354    Perry
Name: New Last Name, dtype: object
Isaac
Perry
+------------------+
1439    Isaac
Name: New First Name, dtype: object
1439    Parry
Name: New Last Name, dtype: object
Jacob
Moyer
+------------------+
1344    Jacob
Name: New First Name, dtype: object
1344    Myer
Name: New Last Name, dtype: object
John
Holmes
+------------------+
1640    John
Name: New First Name, dtype: object
1640    Holms
Name: New Last Name, dtype: object
Joseph
Richart
+------------------+
1437    Joseph
Name: New First Name, dtype: object
1437    Richard
Name: New Last Name, dtype: object
Wiliam
Pollard
+------------------+
1862    William
Name: New First Name, dtype: object
1862    Pollard
Name: New Last Name, dtype: object
William
Pollerd
+------------------+
1864    William
Name: New First Name, dtype: object
1864    Pollard
Name: New Last Name, dtype: object
Benjamin
Day
+------------------+
1872    Benjamin
Name: New First Name, dtype: object
1872    Dye
Name: New Last Name, dtype: object
Samuel
McNeir
+------------------+
1877    Samuel
Name: New First Name, dtype: object
1877    McNair
Name: New Last Name, dtype: object
Alexander
Willson
+------------------+
1882    Alexander
Name: New First Name, dtype: object
1882    Wilson
Name: New Last Name, dtype: object
William
Laurence
+------------------+
1884    William
Name: New First Name, dtype: object
1884    Lawrence
Name: New Last Name, dtype: object
James
Thompson
+------------------+
1837    James
Name: New First Name, dtype: object
1837    Thomson
Name: New Last Name, dtype: object
Joseph
Michell
+------------------+
1671    Joseph
Name: New First Name, dtype: object
1671    Mitchell
Name: New Last Name, dtype: object
John
Roger
+------------------+
1371    John
Name: New First Name, dtype: object
1371    Rodgers
Name: New Last Name, dtype: object
Jacob
Boyer
+------------------+
1891    Jacob
Name: New First Name, dtype: object
1891    Bower
Name: New Last Name, dtype: object
James
Thompson
+------------------+
1837    James
Name: New First Name, dtype: object
1837    Thomson
Name: New Last Name, dtype: object
James
Irwin
+------------------+
1088    James
Name: New First Name, dtype: object
1088    Erwin
Name: New Last Name, dtype: object
Jacob
Stroal
+------------------+
1393    Jacob
Name: New First Name, dtype: object
1393    Stroll
Name: New Last Name, dtype: object
Jacob
Sarver
+------------------+
1674    Jacob
Name: New First Name, dtype: object
1674    Sorver
Name: New Last Name, dtype: object
James
McClellan
+------------------+
1855    James
Name: New First Name, dtype: object
1855    McClelland
Name: New Last Name, dtype: object
Robert
McThompson
+------------------+
1896    Robert
Name: New First Name, dtype: object
1896    Thompson
Name: New Last Name, dtype: object
John
Dennise
+------------------+
1760    John
Name: New First Name, dtype: object
1760    Dennis
Name: New Last Name, dtype: object
Joseph
Speer
+------------------+
1523    Joseph
Name: New First Name, dtype: object
1523    Spear
Name: New Last Name, dtype: object
Thomas
Falwell
+------------------+
1526    Thomas
Name: New First Name, dtype: object
1526    Folwell
Name: New Last Name, dtype: object
John
Cooke
+------------------+
1888    John
Name: New First Name, dtype: object
1888    Cook
Name: New Last Name, dtype: object
James
Willson
+------------------+
1681    James
Name: New First Name, dtype: object
1681    Wilson
Name: New Last Name, dtype: object
John
Lewis & Sons
+------------------+
1459    John
Name: New First Name, dtype: object
1459    Lewis
Name: New Last Name, dtype: object
Joseph
Hill
+------------------+
1892    Joseph
Name: New First Name, dtype: object
1892    Hall
Name: New Last Name, dtype: object
William
Houston
+------------------+
1302    William
Name: New First Name, dtype: object
1302    Huston
Name: New Last Name, dtype: object
William
Houston
+------------------+
1302    William
Name: New First Name, dtype: object
1302    Huston
Name: New Last Name, dtype: object
Jacob
Shaver
+------------------+
1907    Jacob
Name: New First Name, dtype: object
1907    Shafer
Name: New Last Name, dtype: object
John
Cliffort
+------------------+
1460    John
Name: New First Name, dtype: object
1460    Clifford
Name: New Last Name, dtype: object
William
Christy
+------------------+
1532    William
Name: New First Name, dtype: object
1532    Christie
Name: New Last Name, dtype: object
Joseph
Nichols
+------------------+
1533    Joseph
Name: New First Name, dtype: object
1533    Nicholas
Name: New Last Name, dtype: object
John
Carig
+------------------+
1911    John
Name: New First Name, dtype: object
1911    Craig
Name: New Last Name, dtype: object
James
Clarke
+------------------+
894    James
Name: New First Name, dtype: object
894    Clark
Name: New Last Name, dtype: object
Hugh
Wilson
+------------------+
1655    Hugh
Name: New First Name, dtype: object
1655    Willson
Name: New Last Name, dtype: object
James
Flaming
+------------------+
1455    James
Name: New First Name, dtype: object
1455    Fleming
Name: New Last Name, dtype: object
James
Elliot
+------------------+
1085    James
Name: New First Name, dtype: object
1085    Elliott
Name: New Last Name, dtype: object
Joseph
Nichols
+------------------+
1533    Joseph
Name: New First Name, dtype: object
1533    Nicholas
Name: New Last Name, dtype: object
Henry
Hall
+------------------+
1798    Henry
Name: New First Name, dtype: object
1798    Hill
Name: New Last Name, dtype: object
William
Neilson
+------------------+
1346    William
Name: New First Name, dtype: object
1346    Nelson
Name: New Last Name, dtype: object
James
Mcmullen
+------------------+
1530    James
Name: New First Name, dtype: object
1530    McMullen
Name: New Last Name, dtype: object
Hugh
Millon
+------------------+
1917    Hugh
Name: New First Name, dtype: object
1917    Mellon
Name: New Last Name, dtype: object
James
Gillespic
+------------------+
1918    James
Name: New First Name, dtype: object
1918    Gillespie
Name: New Last Name, dtype: object
John
Mccracken
+------------------+
1531    John
Name: New First Name, dtype: object
1531    McCracken
Name: New Last Name, dtype: object
James
Mcmullen
+------------------+
1530    James
Name: New First Name, dtype: object
1530    McMullen
Name: New Last Name, dtype: object
William
Christy
+------------------+
1532    William
Name: New First Name, dtype: object
1532    Christie
Name: New Last Name, dtype: object
John
Sampson
+------------------+
1865    John
Name: New First Name, dtype: object
1865    Simpson
Name: New Last Name, dtype: object
Jhon
Irwin
+------------------+
1923    John
Name: New First Name, dtype: object
1923    Irwin
Name: New Last Name, dtype: object
John
Hughs
+------------------+
1904    John
Name: New First Name, dtype: object
1904    Hughes
Name: New Last Name, dtype: object
Christean
Fisher
+------------------+
1443    Christian
Name: New First Name, dtype: object
1443    Fisher
Name: New Last Name, dtype: object
Matthew
Graham
+------------------+
1444    Mathew
Name: New First Name, dtype: object
1444    Graham
Name: New Last Name, dtype: object
William
McDowelle
+------------------+
1451    William
Name: New First Name, dtype: object
1451    McDowell
Name: New Last Name, dtype: object
John
Lochart
+------------------+
1464    John
Name: New First Name, dtype: object
1464    Lockhart
Name: New Last Name, dtype: object
John
Jacson
+------------------+
1470    John
Name: New First Name, dtype: object
1470    Jackson
Name: New Last Name, dtype: object
William
Elliot
+------------------+
1471    William
Name: New First Name, dtype: object
1471    Elliott
Name: New Last Name, dtype: object
Archibald
Mcbride
+------------------+
1473    Archibald
Name: New First Name, dtype: object
1473    McBride
Name: New Last Name, dtype: object
William
Halls
+------------------+
1476    William
Name: New First Name, dtype: object
1476    Hall
Name: New Last Name, dtype: object
James
Elliot
+------------------+
1085    James
Name: New First Name, dtype: object
1085    Elliott
Name: New Last Name, dtype: object
Joseph
Burton
+------------------+
1479    Joseph
Name: New First Name, dtype: object
1479    Barton
Name: New Last Name, dtype: object
John
Lochart
+------------------+
1464    John
Name: New First Name, dtype: object
1464    Lockhart
Name: New Last Name, dtype: object
John
Petterson
+------------------+
1486    John
Name: New First Name, dtype: object
1486    Patterson
Name: New Last Name, dtype: object
Charles
Bayley
+------------------+
1491    Charles
Name: New First Name, dtype: object
1491    Bailey
Name: New Last Name, dtype: object
William
kelly
+------------------+
1495    William
Name: New First Name, dtype: object
1495    Kelly
Name: New Last Name, dtype: object
James
Thompson
+------------------+
1837    James
Name: New First Name, dtype: object
1837    Thomson
Name: New Last Name, dtype: object
John
Connor
+------------------+
948    John
Name: New First Name, dtype: object
948    Conner
Name: New Last Name, dtype: object
Jacob
Grubbs
+------------------+
1503    Jacob
Name: New First Name, dtype: object
1503    Grubb
Name: New Last Name, dtype: object

James
Stephenson
+------------------+
1507    James
Name: New First Name, dtype: object
1507    Stevenson
Name: New Last Name, dtype: object
John
Lockart
+------------------+
1525    John
Name: New First Name, dtype: object
1525    Lockhart
Name: New Last Name, dtype: object
William
Christy
+------------------+
1532    William
Name: New First Name, dtype: object
1532    Christie
Name: New Last Name, dtype: object
Archibald
Read
+------------------+
1362    Archibald
Name: New First Name, dtype: object
1362    Reed
Name: New Last Name, dtype: object
Joseph
Nichols
+------------------+
1533    Joseph
Name: New First Name, dtype: object
1533    Nicholas
Name: New Last Name, dtype: object
John
Hannah
+------------------+
1197    John
Name: New First Name, dtype: object
1197    Hanna
Name: New Last Name, dtype: object
Robert
Carry
+------------------+
1536    Robert
Name: New First Name, dtype: object
1536    Curry
Name: New Last Name, dtype: object
William
Thompson
+------------------+
1397    William
Name: New First Name, dtype: object
1397    Thomson
Name: New Last Name, dtype: object
Robert
Wilson
+------------------+
1412    Robert
Name: New First Name, dtype: object
1412    Willson
Name: New Last Name, dtype: object
James
Thompson
+------------------+
1837    James
Name: New First Name, dtype: object
1837    Thomson
Name: New Last Name, dtype: object
Fredrick
Shimers
+------------------+
1527    Frederick
Name: New First Name, dtype: object
1527    Shimer
Name: New Last Name, dtype: object
John
Froy
+------------------+
1497    John
Name: New First Name, dtype: object
1497    Fry
Name: New Last Name, dtype: object
Samual
Sandford
+------------------+
46    Samuel
Name: New First Name, dtype: object
46    Sandford
Name: New Last Name, dtype: object
Nehemiah
Shelden
+------------------+
51    Nehemiah
Name: New First Name, dtype: object
51    Sheldon
Name: New Last Name, dtype: object
John
Jenckes
+------------------+
52    John
Name: New First Name, dtype: object
52    Jenckes
Name: New Last Name, dtype: object
John
Jenekes
+------------------+
53    John
Name: New First Name, dtype: object
53    Jenckes
Name: New Last Name, dtype: object
Joseph E.
Tillinghast
+------------------+
41    Joseph
Name: New First Name, dtype: object
41    Tillinghast
Name: New Last Name, dtype: object
Nicholas
Eston
+------------------+
54    Nicholas
Name: New First Name, dtype: object
54    Easton
Name: New Last Name, dtype: object
Stephen
Brownel
+------------------+
55    Stephen
Name: New First Name, dtype: object
55    Brownell
Name: New Last Name, dtype: object
Elkana
Watson
+------------------+
58    Elkanah
Name: New First Name, dtype: object
58    Watson
Name: New Last Name, dtype: object
Caleb
Gardne
+------------------+
57    Caleb
Name: New First Name, dtype: object
57    Gardner
Name: New Last Name, dtype: object
Wiliam
Langley
+------------------+
59    William
Name: New First Name, dtype: object
59    Langley
Name: New Last Name, dtype: object
John
Cooke
+------------------+
16    John
Name: New First Name, dtype: object
16    Cooke
Name: New Last Name, dtype: object
Benjamin
Bellow
+------------------+
408    Benjamin
Name: New First Name, dtype: object
408    Bellows
Name: New Last Name, dtype: object
Janathan
Chase
+------------------+
409    Jonathan
Name: New First Name, dtype: object
409    Chase
Name: New Last Name, dtype: object
Anne
Tucke
+------------------+
411    Anna
Name: New First Name, dtype: object
411    Tucke
Name: New Last Name, dtype: object
Anne
Tucke
+------------------+
411    Anna
Name: New First Name, dtype: object
411    Tucke
Name: New Last Name, dtype: object
Ebenzer
Thompson
+------------------+
19    Ebenezer
Name: New First Name, dtype: object
19    Thompson
Name: New Last Name, dtype: object
Cottn
Ward
+------------------+
412    Cotton
Name: New First Name, dtype: object
412    Ward
Name: New Last Name, dtype: object
Janathan
Chase
+------------------+
409    Jonathan
Name: New First Name, dtype: object
409    Chase
Name: New Last Name, dtype: object
Janathan
Chase
+------------------+
409    Jonathan
Name: New First Name, dtype: object
409    Chase
Name: New Last Name, dtype: object
Anne
Tucke
+------------------+
411    Anna
Name: New First Name, dtype: object
411    Tucke
Name: New Last Name, dtype: object
Benjamin
Bellow
+------------------+
408    Benjamin
Name: New First Name, dtype: object
408    Bellows
Name: New Last Name, dtype: object
Samuel
Grant & Son
+------------------+
939    Samuel
Name: New First Name, dtype: object
939    Grant
Name: New Last Name, dtype: object
Samuel
Grant & Son
+------------------+
939    Samuel
Name: New First Name, dtype: object
939    Grant
Name: New Last Name, dtype: object
Wiliam
Phillips
+------------------+
1231    William
Name: New First Name, dtype: object
1231    Phillips
Name: New Last Name, dtype: object
Phillips
White
+------------------+
1232    Phillip
Name: New First Name, dtype: object
1232    White
Name: New Last Name, dtype: object
William
Seaver
+------------------+
65    William
Name: New First Name, dtype: object
65    Sever
Name: New Last Name, dtype: object
Joseph
Jackson brookline
+------------------+
1234    Joseph
Name: New First Name, dtype: object
1234    Jackson
Name: New Last Name, dtype: object
William
Gordon Treasurer to the Convention of Ministers
+------------------+
1235    William
Name: New First Name, dtype: object
1235    Gordon
Name: New Last Name, dtype: object
Thomas
Chose
+------------------+
1237    Thomas
Name: New First Name, dtype: object
1237    Chase
Name: New Last Name, dtype: object
Thomas
Chose
+------------------+
1237    Thomas
Name: New First Name, dtype: object
1237    Chase
Name: New Last Name, dtype: object
Jonathan
Gole
+------------------+
903    Jonathan
Name: New First Name, dtype: object
903    Gale
Name: New Last Name, dtype: object
Daniel
Thurston Treas Church Wrentham
+------------------+
1238    Daniel
Name: New First Name, dtype: object
1238    Thurston
Name: New Last Name, dtype: object
William
Bread
+------------------+
1240    William
Name: New First Name, dtype: object
1240    Breed
Name: New Last Name, dtype: object
Edward
Holyoke
+------------------+
1239    Edward A
Name: New First Name, dtype: object
1239    Holyoke
Name: New Last Name, dtype: object
Jonathan
Golver
+------------------+
1241    Jonathan
Name: New First Name, dtype: object
1241    Glover
Name: New Last Name, dtype: object
William
Homes
+------------------+
1242    William
Name: New First Name, dtype: object
1242    Holmes
Name: New Last Name, dtype: object
Edward
Holyoke
+------------------+
1239    Edward A
Name: New First Name, dtype: object
1239    Holyoke
Name: New Last Name, dtype: object
Daniel D
Rogers
+------------------+
1244    Daniel
Name: New First Name, dtype: object
1244    Rogers
Name: New Last Name, dtype: object
David
Gilmore
+------------------+
1245    David
Name: New First Name, dtype: object
1245    Gillmore
Name: New Last Name, dtype: object
Daniel D
Rogers
+------------------+
1244    Daniel
Name: New First Name, dtype: object
1244    Rogers
Name: New Last Name, dtype: object
Samuel
Browne
+------------------+
1247    Samuel
Name: New First Name, dtype: object
1247    Brown
Name: New Last Name, dtype: object
William
Manning
+------------------+
307    William T
Name: New First Name, dtype: object
307    Manning
Name: New Last Name, dtype: object
William
Homes
+------------------+
1242    William
Name: New First Name, dtype: object
1242    Holmes
Name: New Last Name, dtype: object
William
Homes
+------------------+
1242    William
Name: New First Name, dtype: object
1242    Holmes
Name: New Last Name, dtype: object
Joseph
Miller Treas Westminster
+------------------+
1248    Joseph
Name: New First Name, dtype: object
1248    Miller
Name: New Last Name, dtype: object
Issac
Story
+------------------+
1249    Isaac
Name: New First Name, dtype: object
1249    Story
Name: New Last Name, dtype: object
Benjamin
Simonds
+------------------+
1173    Benjamin
Name: New First Name, dtype: object
1173    Simons
Name: New Last Name, dtype: object
Joshna
Howard
+------------------+
1250    Joshua
Name: New First Name, dtype: object
1250    Howard
Name: New Last Name, dtype: object
Joseph
Miller Treas Westminster
+------------------+
1248    Joseph
Name: New First Name, dtype: object
1248    Miller
Name: New Last Name, dtype: object
Enoch
Titcomb 3rd
+------------------+
1253    Enoch
Name: New First Name, dtype: object
1253    Titcomb
Name: New Last Name, dtype: object
Andrew
Kittle
+------------------+
1063    Andrew
Name: New First Name, dtype: object
1063    Kettle
Name: New Last Name, dtype: object
Moses
Satone
+------------------+
1254    Moses
Name: New First Name, dtype: object
1254    Stone
Name: New Last Name, dtype: object
John
Tracey
+------------------+
1255    John
Name: New First Name, dtype: object
1255    Tracy
Name: New Last Name, dtype: object
Elisha
Doan
+------------------+
339    Elisha
Name: New First Name, dtype: object
339    Doane
Name: New Last Name, dtype: object
Elisha
Doan
+------------------+
339    Elisha
Name: New First Name, dtype: object
339    Doane
Name: New Last Name, dtype: object

Mofes
Robbins
+------------------+
1256    Moses
Name: New First Name, dtype: object
1256    Robbins
Name: New Last Name, dtype: object
Moses
Robins
+------------------+
1257    Moses
Name: New First Name, dtype: object
1257    Robbins
Name: New Last Name, dtype: object
William
Gray 3rd
+------------------+
1258    William
Name: New First Name, dtype: object
1258    Gray
Name: New Last Name, dtype: object
William
Gray 3rd
+------------------+
1258    William
Name: New First Name, dtype: object
1258    Gray
Name: New Last Name, dtype: object
Jesse
Patnam
+------------------+
1246    Jesse
Name: New First Name, dtype: object
1246    Putnam
Name: New Last Name, dtype: object
Joseph
Hell
+------------------+
1259    Joseph
Name: New First Name, dtype: object
1259    Hall
Name: New Last Name, dtype: object
Josep
Grafton
+------------------+
1260    Joseph
Name: New First Name, dtype: object
1260    Grafton
Name: New Last Name, dtype: object
Daniel D
Rogers
+------------------+
1244    Daniel
Name: New First Name, dtype: object
1244    Rogers
Name: New Last Name, dtype: object
Daniel D
Rogers
+------------------+
1244    Daniel
Name: New First Name, dtype: object
1244    Rogers
Name: New Last Name, dtype: object
Stephen
Abbot
+------------------+
251    Stephen
Name: New First Name, dtype: object
251    Abbott
Name: New Last Name, dtype: object
Stephen
Abbot
+------------------+
251    Stephen
Name: New First Name, dtype: object
251    Abbott
Name: New Last Name, dtype: object
John
Hearde
+------------------+
1262    John
Name: New First Name, dtype: object
1262    Heard
Name: New Last Name, dtype: object
Caleb
Hayword
+------------------+
1263    Caleb
Name: New First Name, dtype: object
1263    Hayward
Name: New Last Name, dtype: object
Samuel P
Savage
+------------------+
247    Samuel
Name: New First Name, dtype: object
247    Savage
Name: New Last Name, dtype: object
Samuel P
Savage
+------------------+
247    Samuel
Name: New First Name, dtype: object
247    Savage
Name: New Last Name, dtype: object
Samuel P
Savage
+------------------+
247    Samuel
Name: New First Name, dtype: object
247    Savage
Name: New Last Name, dtype: object
Jospeh
Hill
+------------------+
1264    Joseph
Name: New First Name, dtype: object
1264    Hill
Name: New Last Name, dtype: object
Joseph
Miller Treas Westminster
+------------------+
1248    Joseph
Name: New First Name, dtype: object
1248    Miller
Name: New Last Name, dtype: object
Stephen
Abbot
+------------------+
251    Stephen
Name: New First Name, dtype: object
251    Abbott
Name: New Last Name, dtype: object
John
Tracey
+------------------+
1255    John
Name: New First Name, dtype: object
1255    Tracy
Name: New Last Name, dtype: object
John
Tracey
+------------------+
1255    John
Name: New First Name, dtype: object
1255    Tracy
Name: New Last Name, dtype: object
Alijah
Stone
+------------------+
1267    Elijah
Name: New First Name, dtype: object
1267    Stone
Name: New Last Name, dtype: object
John N
Everett
+------------------+
1268    John
Name: New First Name, dtype: object
1268    Everett
Name: New Last Name, dtype: object
David
Gilmore
+------------------+
1245    David
Name: New First Name, dtype: object
1245    Gillmore
Name: New Last Name, dtype: object
John
child
+------------------+
1270    John
Name: New First Name, dtype: object
1270    Child
Name: New Last Name, dtype: object
Josiah
Man
+------------------+
1271    Josiah
Name: New First Name, dtype: object
1271    Mann
Name: New Last Name, dtype: object
Elisha
Doan
+------------------+
339    Elisha
Name: New First Name, dtype: object
339    Doane
Name: New Last Name, dtype: object
Elisha
Doan
+------------------+
339    Elisha
Name: New First Name, dtype: object
339    Doane
Name: New Last Name, dtype: object
Elisha
Doan
+------------------+
339    Elisha
Name: New First Name, dtype: object
339    Doane
Name: New Last Name, dtype: object
Elisha
Doan
+------------------+
339    Elisha
Name: New First Name, dtype: object
339    Doane
Name: New Last Name, dtype: object
Benjamin
Bernard
+------------------+
1274    Benjamin
Name: New First Name, dtype: object
1274    Barnard
Name: New Last Name, dtype: object
Elisha
Doan
+------------------+
339    Elisha
Name: New First Name, dtype: object
339    Doane
Name: New Last Name, dtype: object
Elisha
Doan
+------------------+
339    Elisha
Name: New First Name, dtype: object
339    Doane
Name: New Last Name, dtype: object
Joseph
Heartwell
+------------------+
34    Joseph
Name: New First Name, dtype: object
34    Hartwell
Name: New Last Name, dtype: object
Elisha
Doan
+------------------+
339    Elisha
Name: New First Name, dtype: object
339    Doane
Name: New Last Name, dtype: object
George
Minot
+------------------+
1275    George
Name: New First Name, dtype: object
1275    Minott
Name: New Last Name, dtype: object
Stephen
Cooke
+------------------+
322    Stephen
Name: New First Name, dtype: object
322    Cook
Name: New Last Name, dtype: object
Elisha
Doan
+------------------+
339    Elisha
Name: New First Name, dtype: object
339    Doane
Name: New Last Name, dtype: object
Elisha
Doan
+------------------+
339    Elisha
Name: New First Name, dtype: object
339    Doane
Name: New Last Name, dtype: object
John Davis
Williams
+------------------+
1276    John
Name: New First Name, dtype: object
1276    Williams
Name: New Last Name, dtype: object
Elisha
Doan
+------------------+
339    Elisha
Name: New First Name, dtype: object
339    Doane
Name: New Last Name, dtype: object
Elisha
Doan
+------------------+
339    Elisha
Name: New First Name, dtype: object
339    Doane
Name: New Last Name, dtype: object
Elisha
Doan
+------------------+
339    Elisha
Name: New First Name, dtype: object
339    Doane
Name: New Last Name, dtype: object
Elisha
Doan
+------------------+
339    Elisha
Name: New First Name, dtype: object
339    Doane
Name: New Last Name, dtype: object
Samuel
Waite
+------------------+
1277    Samuel
Name: New First Name, dtype: object
1277    White
Name: New Last Name, dtype: object
Elisha
Doan
+------------------+
339    Elisha
Name: New First Name, dtype: object
339    Doane
Name: New Last Name, dtype: object
Israel
Hutchison
+------------------+
1278    Israel
Name: New First Name, dtype: object
1278    Hutchinson
Name: New Last Name, dtype: object
Phillips
White
+------------------+
1232    Phillip
Name: New First Name, dtype: object
1232    White
Name: New Last Name, dtype: object
Elisha
Doan
+------------------+
339    Elisha
Name: New First Name, dtype: object
339    Doane
Name: New Last Name, dtype: object
Phillips
White
+------------------+
1232    Phillip
Name: New First Name, dtype: object
1232    White
Name: New Last Name, dtype: object
David
Fullar
+------------------+
899    David
Name: New First Name, dtype: object
899    Fuller
Name: New Last Name, dtype: object
Phillips
White
+------------------+
1232    Phillip
Name: New First Name, dtype: object
1232    White
Name: New Last Name, dtype: object
Imerson
Cogswell
+------------------+
1266    Emerson
Name: New First Name, dtype: object
1266    Cogswell
Name: New Last Name, dtype: object
Joseph
Chaplain
+------------------+
754    Joseph
Name: New First Name, dtype: object
754    Chaplin
Name: New Last Name, dtype: object
David
Devans
+------------------+
1273    David
Name: New First Name, dtype: object
1273    Devens
Name: New Last Name, dtype: object
David
Devans
+------------------+
1273    David
Name: New First Name, dtype: object
1273    Devens
Name: New Last Name, dtype: object
Thomas
Deane
+------------------+
825    Thomas
Name: New First Name, dtype: object
825    Dean
Name: New Last Name, dtype: object
Elisha
Doan
+------------------+
339    Elisha
Name: New First Name, dtype: object
339    Doane
Name: New Last Name, dtype: object
Elisha
Doan
+------------------+
339    Elisha
Name: New First Name, dtype: object
339    Doane
Name: New Last Name, dtype: object
Daniel
More
+------------------+
391    Daniel
Name: New First Name, dtype: object
391    Moore
Name: New Last Name, dtype: object
Francis
Biglow
+------------------+
155    Francis
Name: New First Name, dtype: object
155    Bigelow
Name: New Last Name, dtype: object
Francis
Biglow
+------------------+
155    Francis
Name: New First Name, dtype: object
155    Bigelow
Name: New Last Name, dtype: object
Benjamin
Bernard
+------------------+
1274    Benjamin
Name: New First Name, dtype: object
1274    Barnard
Name: New Last Name, dtype: object
Thomas
Steevens
+------------------+
237    Thomas
Name: New First Name, dtype: object
237    Stevens
Name: New Last Name, dtype: object
Samuel W
Williams
+------------------+
256    Samuel
Name: New First Name, dtype: object
256    Williams
Name: New Last Name, dtype: object
Ebenezer
Clapp
+------------------+
1    Ebenezer
Name: New First Name, dtype: object
1    Clap
Name: New Last Name, dtype: object
Samuel P
Savage
+------------------+
247    Samuel
Name: New First Name, dtype: object
247    Savage
Name: New Last Name, dtype: object
Samuel P
Savage
+------------------+
247    Samuel
Name: New First Name, dtype: object
247    Savage
Name: New Last Name, dtype: object
Moses
Sargeant
+------------------+
1280    Moses
Name: New First Name, dtype: object
1280    Sargent
Name: New Last Name, dtype: object
Samuel
Browne
+------------------+
1247    Samuel
Name: New First Name, dtype: object
1247    Brown
Name: New Last Name, dtype: object

Benjamin
Bernard
+------------------+
1274    Benjamin
Name: New First Name, dtype: object
1274    Barnard
Name: New Last Name, dtype: object
Jonas
Wyth
+------------------+
371    Jonas
Name: New First Name, dtype: object
371    Wyeth
Name: New Last Name, dtype: object
M.G William
Heath
+------------------+
262    William
Name: New First Name, dtype: object
262    Heath
Name: New Last Name, dtype: object
Elisha
Doan
+------------------+
339    Elisha
Name: New First Name, dtype: object
339    Doane
Name: New Last Name, dtype: object
Joseph
Beale
+------------------+
329    Joseph
Name: New First Name, dtype: object
329    Beal
Name: New Last Name, dtype: object
Elisha
Doan
+------------------+
339    Elisha
Name: New First Name, dtype: object
339    Doane
Name: New Last Name, dtype: object
Joseph
Beale
+------------------+
329    Joseph
Name: New First Name, dtype: object
329    Beal
Name: New Last Name, dtype: object
Joseph
Doggett
+------------------+
820    Joseph
Name: New First Name, dtype: object
820    Daggett
Name: New Last Name, dtype: object
Joseph
Bernard
+------------------+
1281    Joseph
Name: New First Name, dtype: object
1281    Barnard
Name: New Last Name, dtype: object
Joseph
Bernard
+------------------+
1281    Joseph
Name: New First Name, dtype: object
1281    Barnard
Name: New Last Name, dtype: object
Joseph
Meriam
+------------------+
1282    Joseph
Name: New First Name, dtype: object
1282    Merriam
Name: New Last Name, dtype: object
William
Goodall
+------------------+
931    William
Name: New First Name, dtype: object
931    Goodale
Name: New Last Name, dtype: object
Moses
Sargeant
+------------------+
1280    Moses
Name: New First Name, dtype: object
1280    Sargent
Name: New Last Name, dtype: object
Oliver
Wendall
+------------------+
1283    Oliver
Name: New First Name, dtype: object
1283    Wendell
Name: New Last Name, dtype: object
Thomas
Bernard
+------------------+
1285    Thomas
Name: New First Name, dtype: object
1285    Barnard
Name: New Last Name, dtype: object
Oliver
Wendall
+------------------+
1283    Oliver
Name: New First Name, dtype: object
1283    Wendell
Name: New Last Name, dtype: object
James
Ingales
+------------------+
1020    James
Name: New First Name, dtype: object
1020    Ingalls
Name: New Last Name, dtype: object
Jonathan
William
+------------------+
1286    Jonathan
Name: New First Name, dtype: object
1286    Williams
Name: New Last Name, dtype: object
Tilley
Rice
+------------------+
323    Tilly
Name: New First Name, dtype: object
323    Rice
Name: New Last Name, dtype: object
Joseph
Roots
+------------------+
122    Joseph
Name: New First Name, dtype: object
122    Root
Name: New Last Name, dtype: object
William
Browne
+------------------+
95    William
Name: New First Name, dtype: object
95    Brown
Name: New Last Name, dtype: object
William
Homes
+------------------+
1242    William
Name: New First Name, dtype: object
1242    Holmes
Name: New Last Name, dtype: object
Stephen
Poole
+------------------+
1288    Stephen
Name: New First Name, dtype: object
1288    Pool
Name: New Last Name, dtype: object
Benjamin
Browne
+------------------+
1289    Benjamin
Name: New First Name, dtype: object
1289    Brown
Name: New Last Name, dtype: object
Johne
Green
+------------------+
1290    John
Name: New First Name, dtype: object
1290    Green
Name: New Last Name, dtype: object
John
Hinckley
+------------------+
1291    John
Name: New First Name, dtype: object
1291    Hinkley
Name: New Last Name, dtype: object
John
Minots
+------------------+
1236    John
Name: New First Name, dtype: object
1236    Minot
Name: New Last Name, dtype: object
Sylvanus
Lazell
+------------------+
1293    Silvanus
Name: New First Name, dtype: object
1293    Lazell
Name: New Last Name, dtype: object
Sylvanus
Lazell
+------------------+
1293    Silvanus
Name: New First Name, dtype: object
1293    Lazell
Name: New Last Name, dtype: object
Oliver
Wendall
+------------------+
1283    Oliver
Name: New First Name, dtype: object
1283    Wendell
Name: New Last Name, dtype: object
Stephen
Abbot
+------------------+
251    Stephen
Name: New First Name, dtype: object
251    Abbott
Name: New Last Name, dtype: object
Oliver
Wendall
+------------------+
1283    Oliver
Name: New First Name, dtype: object
1283    Wendell
Name: New Last Name, dtype: object
John
Browne
+------------------+
1294    John
Name: New First Name, dtype: object
1294    Brown
Name: New Last Name, dtype: object
Stephen
Cooke
+------------------+
322    Stephen
Name: New First Name, dtype: object
322    Cook
Name: New Last Name, dtype: object
Jacob
Haskins
+------------------+
1292    Jacob
Name: New First Name, dtype: object
1292    Hoskins
Name: New Last Name, dtype: object
Joseph
Allen Executor to B Winchester
+------------------+
1252    Joseph
Name: New First Name, dtype: object
1252    Allen
Name: New Last Name, dtype: object
David
Gilmore
+------------------+
1245    David
Name: New First Name, dtype: object
1245    Gillmore
Name: New Last Name, dtype: object
Thaddeus
Hunt
+------------------+
1284    Thadeus
Name: New First Name, dtype: object
1284    Hunt
Name: New Last Name, dtype: object
Thaddeus
Hunt
+------------------+
1284    Thadeus
Name: New First Name, dtype: object
1284    Hunt
Name: New Last Name, dtype: object
Orlando
Sargeant
+------------------+
1296    Orlando
Name: New First Name, dtype: object
1296    Sargent
Name: New Last Name, dtype: object
Joseph
Lering
+------------------+
1295    Joseph
Name: New First Name, dtype: object
1295    Loring
Name: New Last Name, dtype: object
David
Waite
+------------------+
1279    David
Name: New First Name, dtype: object
1279    White
Name: New Last Name, dtype: object
Thaddeus
Hunt
+------------------+
1284    Thadeus
Name: New First Name, dtype: object
1284    Hunt
Name: New Last Name, dtype: object
Jonn
Goddard
+------------------+
1298    John
Name: New First Name, dtype: object
1298    Goddard
Name: New Last Name, dtype: object
Ebenezer
Clapp
+------------------+
1    Ebenezer
Name: New First Name, dtype: object
1    Clap
Name: New Last Name, dtype: object
Ebenezer
Clapp
+------------------+
1    Ebenezer
Name: New First Name, dtype: object
1    Clap
Name: New Last Name, dtype: object
Asa
spaulding
+------------------+
1299    Asa
Name: New First Name, dtype: object
1299    Spaulding
Name: New Last Name, dtype: object
Elijah
Sargeant
+------------------+
1261    Elijah
Name: New First Name, dtype: object
1261    Sargent
Name: New Last Name, dtype: object
Orlando
Sargeant
+------------------+
1296    Orlando
Name: New First Name, dtype: object
1296    Sargent
Name: New Last Name, dtype: object
Moses
Robins
+------------------+
1257    Moses
Name: New First Name, dtype: object
1257    Robbins
Name: New Last Name, dtype: object
Moses
Robins
+------------------+
1257    Moses
Name: New First Name, dtype: object
1257    Robbins
Name: New Last Name, dtype: object
Daniel
Deane
+------------------+
1233    Daniel
Name: New First Name, dtype: object
1233    Dean
Name: New Last Name, dtype: object
Jonathan
Deane
+------------------+
1230    Jonathan
Name: New First Name, dtype: object
1230    Dean
Name: New Last Name, dtype: object
Oliver
Wendall
+------------------+
1283    Oliver
Name: New First Name, dtype: object
1283    Wendell
Name: New Last Name, dtype: object
Oliver
Wendall
+------------------+
1283    Oliver
Name: New First Name, dtype: object
1283    Wendell
Name: New Last Name, dtype: object
William F
Miller
+------------------+
555    William
Name: New First Name, dtype: object
555    Miller
Name: New Last Name, dtype: object
Jared
Hinckley
+------------------+
293    Jared
Name: New First Name, dtype: object
293    Hinkley
Name: New Last Name, dtype: object
William
Forrister
+------------------+
565    William
Name: New First Name, dtype: object
565    Forrester
Name: New Last Name, dtype: object
Samuel
Nettloton
+------------------+
393    Samuel
Name: New First Name, dtype: object
393    Nettleton
Name: New Last Name, dtype: object
Thomas
Allyn
+------------------+
2    Thomas
Name: New First Name, dtype: object
2    Allen
Name: New Last Name, dtype: object
John
Ayer
+------------------+
14    John
Name: New First Name, dtype: object
14    Ayers
Name: New Last Name, dtype: object
Amos
Shephard
+------------------+
449    Amos
Name: New First Name, dtype: object
449    Shepherd
Name: New Last Name, dtype: object
Amos
Shephard
+------------------+
449    Amos
Name: New First Name, dtype: object
449    Shepherd
Name: New Last Name, dtype: object
Samuel
Walson
+------------------+
570    Samuel
Name: New First Name, dtype: object
570    Wilson
Name: New Last Name, dtype: object

William
Welles
+------------------+
593    William
Name: New First Name, dtype: object
593    Wells
Name: New Last Name, dtype: object
Philip
White
+------------------+
595    Phillip
Name: New First Name, dtype: object
595    White
Name: New Last Name, dtype: object
Henry
Allyn
+------------------+
547    Henry
Name: New First Name, dtype: object
547    Allen
Name: New Last Name, dtype: object
Unni
Ribbins
+------------------+
607    Unni
Name: New First Name, dtype: object
607    Robbins
Name: New Last Name, dtype: object
Samuel
Harison
+------------------+
612    Samuel
Name: New First Name, dtype: object
612    Harrison
Name: New Last Name, dtype: object
William
Forester
+------------------+
564    William
Name: New First Name, dtype: object
564    Forrester
Name: New Last Name, dtype: object
Josuah
Ambler
+------------------+
620    Joshua
Name: New First Name, dtype: object
620    Ambler
Name: New Last Name, dtype: object
Ammos
Morris
+------------------+
626    Amos
Name: New First Name, dtype: object
626    Morris
Name: New Last Name, dtype: object
Japhed
Benham
+------------------+
628    Japhet
Name: New First Name, dtype: object
628    Benham
Name: New Last Name, dtype: object
John
Andruss
+------------------+
8    John
Name: New First Name, dtype: object
8    Andrus
Name: New Last Name, dtype: object
Elisha
Morrow
+------------------+
633    Elisha
Name: New First Name, dtype: object
633    Merrow
Name: New Last Name, dtype: object
Thomas T
Jackson
+------------------+
634    Thomas
Name: New First Name, dtype: object
634    Jackson
Name: New Last Name, dtype: object
Zalmond
Bradley
+------------------+
592    Zalmon
Name: New First Name, dtype: object
592    Bradley
Name: New Last Name, dtype: object
David
Collin
+------------------+
635    David
Name: New First Name, dtype: object
635    Collins
Name: New Last Name, dtype: object
David
Collin
+------------------+
635    David
Name: New First Name, dtype: object
635    Collins
Name: New Last Name, dtype: object
Levi
Hul
+------------------+
641    Levi
Name: New First Name, dtype: object
641    Hull
Name: New Last Name, dtype: object
John
Wiliams
+------------------+
645    John
Name: New First Name, dtype: object
645    Williams
Name: New Last Name, dtype: object
David
Collin
+------------------+
635    David
Name: New First Name, dtype: object
635    Collins
Name: New Last Name, dtype: object
Thomas T
Jackson
+------------------+
634    Thomas
Name: New First Name, dtype: object
634    Jackson
Name: New Last Name, dtype: object
Henry
Allyn
+------------------+
547    Henry
Name: New First Name, dtype: object
547    Allen
Name: New Last Name, dtype: object
Henry
Allyn
+------------------+
547    Henry
Name: New First Name, dtype: object
547    Allen
Name: New Last Name, dtype: object
Isac
Higley
+------------------+
287    Isaac
Name: New First Name, dtype: object
287    Higley
Name: New Last Name, dtype: object
George
Backwith
+------------------+
594    George
Name: New First Name, dtype: object
594    Beckwith
Name: New Last Name, dtype: object
Frances
Norton
+------------------+
660    Francis
Name: New First Name, dtype: object
660    Norton
Name: New Last Name, dtype: object
Thomas T
Jackson
+------------------+
634    Thomas
Name: New First Name, dtype: object
634    Jackson
Name: New Last Name, dtype: object
Elizabeth
Gold
+------------------+
663    Elizabeth
Name: New First Name, dtype: object
663    Gould
Name: New Last Name, dtype: object
Elizabeth
Gold
+------------------+
663    Elizabeth
Name: New First Name, dtype: object
663    Gould
Name: New Last Name, dtype: object
Levi
Andruss
+------------------+
597    Levi
Name: New First Name, dtype: object
597    Andrus
Name: New Last Name, dtype: object
Elisha
Tayler
+------------------+
664    Elisha
Name: New First Name, dtype: object
664    Taylor
Name: New Last Name, dtype: object
Timothy
Hawley
+------------------+
516    Timothy
Name: New First Name, dtype: object
516    Hale
Name: New Last Name, dtype: object
John
Wiliams
+------------------+
645    John
Name: New First Name, dtype: object
645    Williams
Name: New Last Name, dtype: object
Cornelius
Higgns
+------------------+
536    Cornelius
Name: New First Name, dtype: object
536    Higgins
Name: New Last Name, dtype: object
Joshua
Wills
+------------------+
671    Joshua
Name: New First Name, dtype: object
671    Willes
Name: New Last Name, dtype: object
James
Welles
+------------------+
672    James
Name: New First Name, dtype: object
672    Wells
Name: New Last Name, dtype: object
Henry
Allyn
+------------------+
547    Henry
Name: New First Name, dtype: object
547    Allen
Name: New Last Name, dtype: object
Henry
Allin
+------------------+
676    Henry
Name: New First Name, dtype: object
676    Allen
Name: New Last Name, dtype: object
James
Past
+------------------+
678    James
Name: New First Name, dtype: object
678    Post
Name: New Last Name, dtype: object
Timothy
Hawley
+------------------+
516    Timothy
Name: New First Name, dtype: object
516    Hale
Name: New Last Name, dtype: object
Joseph
Youngs
+------------------+
679    Joseph
Name: New First Name, dtype: object
679    Young
Name: New Last Name, dtype: object
James
Welles
+------------------+
672    James
Name: New First Name, dtype: object
672    Wells
Name: New Last Name, dtype: object
Elie
Mygatt
+------------------+
644    Eli
Name: New First Name, dtype: object
644    Mygatt
Name: New Last Name, dtype: object
Edward
Hullam
+------------------+
702    Edward
Name: New First Name, dtype: object
702    Hallam
Name: New Last Name, dtype: object
Henry
Allyn
+------------------+
547    Henry
Name: New First Name, dtype: object
547    Allen
Name: New Last Name, dtype: object
Jospeh
Banks
+------------------+
625    Joseph
Name: New First Name, dtype: object
625    Banks
Name: New Last Name, dtype: object
Joseph
Youngs
+------------------+
679    Joseph
Name: New First Name, dtype: object
679    Young
Name: New Last Name, dtype: object
James
Welles
+------------------+
672    James
Name: New First Name, dtype: object
672    Wells
Name: New Last Name, dtype: object
Josiah
Andruss
+------------------+
9    Josiah
Name: New First Name, dtype: object
9    Andrus
Name: New Last Name, dtype: object
Abner
Budger
+------------------+
511    Abner
Name: New First Name, dtype: object
511    Badger
Name: New Last Name, dtype: object
Nobel
Benedict
+------------------+
613    Noble
Name: New First Name, dtype: object
613    Benedict
Name: New Last Name, dtype: object
Gersham
Bulkley
+------------------+
718    Gershom
Name: New First Name, dtype: object
718    Bulkley
Name: New Last Name, dtype: object
Timothy
Greene
+------------------+
600    Timothy
Name: New First Name, dtype: object
600    Green
Name: New Last Name, dtype: object
Levi
Andruss
+------------------+
597    Levi
Name: New First Name, dtype: object
597    Andrus
Name: New Last Name, dtype: object
Levi
Andruss
+------------------+
597    Levi
Name: New First Name, dtype: object
597    Andrus
Name: New Last Name, dtype: object
Timothy
Greene
+------------------+
600    Timothy
Name: New First Name, dtype: object
600    Green
Name: New Last Name, dtype: object
Garret J
Lansingh
+------------------+
871    Garret
Name: New First Name, dtype: object
871    Lansing
Name: New Last Name, dtype: object
John H.
Beckman
+------------------+
1025    John H
Name: New First Name, dtype: object
1025    Beckman
Name: New Last Name, dtype: object
Arent
Van Schaack
+------------------+
1027    Arent
Name: New First Name, dtype: object
1027    Van Schaick
Name: New Last Name, dtype: object
Jacob C.
Ten Eyck
+------------------+
1031    Jacob C
Name: New First Name, dtype: object
1031    Ten Eyck
Name: New Last Name, dtype: object
Jacob C.
Ten Eyck
+------------------+
1031    Jacob C
Name: New First Name, dtype: object
1031    Ten Eyck
Name: New Last Name, dtype: object
Mary
Brinkerhoff
+------------------+
1034    Mary
Name: New First Name, dtype: object
1034    Brinckerhoff
Name: New Last Name, dtype: object
Johannis Jacob
Lansing
+------------------+
1036    John Jacob
Name: New First Name, dtype: object
1036    Lansing
Name: New Last Name, dtype: object
John H.
Beckman
+------------------+
1025    John H
Name: New First Name, dtype: object
1025    Beckman
Name: New Last Name, dtype: object
Jacob C.
Ten Eyck
+------------------+
1031    Jacob C
Name: New First Name, dtype: object
1031    Ten Eyck
Name: New Last Name, dtype: object
James
Coal
+------------------+
1040    James
Name: New First Name, dtype: object
1040    Cole
Name: New Last Name, dtype: object
Garret
Lansingh
+------------------+
868    Garret
Name: New First Name, dtype: object
868    Lansing
Name: New Last Name, dtype: object
Jacob C.
Ten Eyck
+------------------+
1031    Jacob C
Name: New First Name, dtype: object
1031    Ten Eyck
Name: New Last Name, dtype: object
Robert R.
Livingston
+------------------+
535    Robert R
Name: New First Name, dtype: object
535    Livingston
Name: New Last Name, dtype: object
John H.
Ten Eyck
+------------------+
284    John H
Name: New First Name, dtype: object
284    Ten Eyck
Name: New Last Name, dtype: object
Cornelius E.
Wynkoop
+------------------+
215    Cornelius E
Name: New First Name, dtype: object
215    Wynkoop
Name: New Last Name, dtype: object
Johannis Jacob
Lansing
+------------------+
1036    John Jacob
Name: New First Name, dtype: object
1036    Lansing
Name: New Last Name, dtype: object
Philip
Van Alstyne
+------------------+
324    Philip
Name: New First Name, dtype: object
324    Van Alstine
Name: New Last Name, dtype: object

John
Collin
+------------------+
590    John
Name: New First Name, dtype: object
590    Collins
Name: New Last Name, dtype: object
David
Collin
+------------------+
559    David
Name: New First Name, dtype: object
559    Collins
Name: New Last Name, dtype: object
Jacobus
Louw
+------------------+
1038    Jacobus
Name: New First Name, dtype: object
1038    Low
Name: New Last Name, dtype: object
Cornelius E.
Wynkoop
+------------------+
215    Cornelius E
Name: New First Name, dtype: object
215    Wynkoop
Name: New Last Name, dtype: object
John H.
Beckman
+------------------+
1025    John H
Name: New First Name, dtype: object
1025    Beckman
Name: New Last Name, dtype: object
John H.
Beckman
+------------------+
1025    John H
Name: New First Name, dtype: object
1025    Beckman
Name: New Last Name, dtype: object
John H.
Beckman
+------------------+
1025    John H
Name: New First Name, dtype: object
1025    Beckman
Name: New Last Name, dtype: object
Philip
Van Alstyne
+------------------+
324    Philip
Name: New First Name, dtype: object
324    Van Alstine
Name: New Last Name, dtype: object
Philip
Van Alstyne
+------------------+
324    Philip
Name: New First Name, dtype: object
324    Van Alstine
Name: New Last Name, dtype: object
Dirck
Spoor
+------------------+
1052    Dirick
Name: New First Name, dtype: object
1052    Spoor
Name: New Last Name, dtype: object
Cornelius D
Wynkoop
+------------------+
1054    Cornelius
Name: New First Name, dtype: object
1054    Wynkoop
Name: New Last Name, dtype: object
John Jacob
Lansingh
+------------------+
1032    John Jacob
Name: New First Name, dtype: object
1032    Lansing
Name: New Last Name, dtype: object
Cornelius D
Wynkoop
+------------------+
1054    Cornelius
Name: New First Name, dtype: object
1054    Wynkoop
Name: New Last Name, dtype: object
Cornelius D
Wynkoop
+------------------+
1054    Cornelius
Name: New First Name, dtype: object
1054    Wynkoop
Name: New Last Name, dtype: object
Peter
Van Vranken
+------------------+
242    Peter
Name: New First Name, dtype: object
242    Van Vrankin
Name: New Last Name, dtype: object
John N
Fort
+------------------+
540    John
Name: New First Name, dtype: object
540    Fort
Name: New Last Name, dtype: object
John P
Hansen
+------------------+
461    John
Name: New First Name, dtype: object
461    Hansen
Name: New Last Name, dtype: object
Cornelius C
Newkirk
+------------------+
199    Cornelius
Name: New First Name, dtype: object
199    Newkirk
Name: New Last Name, dtype: object
Philip
Van Alstyne
+------------------+
324    Philip
Name: New First Name, dtype: object
324    Van Alstine
Name: New Last Name, dtype: object
Abraham D
Fonda
+------------------+
414    Abraham
Name: New First Name, dtype: object
414    Fonda
Name: New Last Name, dtype: object
Jacobus
Louw
+------------------+
1038    Jacobus
Name: New First Name, dtype: object
1038    Low
Name: New Last Name, dtype: object
Egbert
Schoonamaker
+------------------+
203    Egbert
Name: New First Name, dtype: object
203    Schoonmaker
Name: New Last Name, dtype: object
Hendrick
Schoonamaker
+------------------+
208    Hendrick
Name: New First Name, dtype: object
208    Schoonmaker
Name: New Last Name, dtype: object
Daniel
Fort Sen
+------------------+
252    Daniel
Name: New First Name, dtype: object
252    Fort
Name: New Last Name, dtype: object
Gerardus
Cluet
+------------------+
309    Gerardus
Name: New First Name, dtype: object
309    Clute
Name: New Last Name, dtype: object
Arent
Van Schaack
+------------------+
1027    Arent
Name: New First Name, dtype: object
1027    Van Schaick
Name: New Last Name, dtype: object
Jonas
Haasbrook
+------------------+
196    Jonas
Name: New First Name, dtype: object
196    Hasbrook
Name: New Last Name, dtype: object
Johannis S
Jansen
+------------------+
1049    Johannis
Name: New First Name, dtype: object
1049    Jansen
Name: New Last Name, dtype: object
Cornelius I
Jansen
+------------------+
1050    Cornelius
Name: New First Name, dtype: object
1050    Jansen
Name: New Last Name, dtype: object
Moses
Philips
+------------------+
89    Moses
Name: New First Name, dtype: object
89    Phillips
Name: New Last Name, dtype: object
Thomas
Canon
+------------------+
770    Thomas
Name: New First Name, dtype: object
770    Cannon
Name: New Last Name, dtype: object
Alexander
Kid
+------------------+
862    Alexander
Name: New First Name, dtype: object
862    Kidd
Name: New Last Name, dtype: object
William
Moffatt
+------------------+
109    William
Name: New First Name, dtype: object
109    Moffat
Name: New Last Name, dtype: object
Stephen
Baits
+------------------+
1060    Stephen
Name: New First Name, dtype: object
1060    Bates
Name: New Last Name, dtype: object
John
Frear
+------------------+
1062    John
Name: New First Name, dtype: object
1062    Fryer
Name: New Last Name, dtype: object
John
Van Kleck
+------------------+
530    John
Name: New First Name, dtype: object
530    Van Kleeck
Name: New Last Name, dtype: object
Abraham I
Blauvelt
+------------------+
47    Abraham
Name: New First Name, dtype: object
47    Blauvelt
Name: New Last Name, dtype: object
John
Erckson
+------------------+
375    John
Name: New First Name, dtype: object
375    Erkson
Name: New Last Name, dtype: object
John
Meyers
+------------------+
488    John
Name: New First Name, dtype: object
488    Myers
Name: New Last Name, dtype: object
William
Weite
+------------------+
1056    William
Name: New First Name, dtype: object
1056    White
Name: New Last Name, dtype: object
Peter
Van Vranken
+------------------+
242    Peter
Name: New First Name, dtype: object
242    Van Vrankin
Name: New Last Name, dtype: object
Philip
Van Alstyne
+------------------+
324    Philip
Name: New First Name, dtype: object
324    Van Alstine
Name: New Last Name, dtype: object
Matthew I
Du Bois
+------------------+
602    Matthew
Name: New First Name, dtype: object
602    Du Bois
Name: New Last Name, dtype: object
William
Willes
+------------------+
302    William
Name: New First Name, dtype: object
302    Wills
Name: New Last Name, dtype: object
Philip
Van Alstyne
+------------------+
324    Philip
Name: New First Name, dtype: object
324    Van Alstine
Name: New Last Name, dtype: object
Joseph
Hous
+------------------+
397    Joseph
Name: New First Name, dtype: object
397    House
Name: New Last Name, dtype: object
David
Steenbergh
+------------------+
301    David
Name: New First Name, dtype: object
301    Sternbergh
Name: New Last Name, dtype: object
Wiliam
Allen
+------------------+
1064    William
Name: New First Name, dtype: object
1064    Allen
Name: New Last Name, dtype: object
Arent
Van Schaack
+------------------+
1027    Arent
Name: New First Name, dtype: object
1027    Van Schaick
Name: New Last Name, dtype: object
Matthew
Van Deusen
+------------------+
609    Matthew
Name: New First Name, dtype: object
609    Van Dusen
Name: New Last Name, dtype: object
David
Steenbergh
+------------------+
301    David
Name: New First Name, dtype: object
301    Sternbergh
Name: New Last Name, dtype: object
Hendricus
Hornbeck
+------------------+
1059    Hendrick
Name: New First Name, dtype: object
1059    Hornbeck
Name: New Last Name, dtype: object
Ezckiel
Masten
+------------------+
187    Ezekiel
Name: New First Name, dtype: object
187    Masten
Name: New Last Name, dtype: object
Jacobus
Louw
+------------------+
1038    Jacobus
Name: New First Name, dtype: object
1038    Low
Name: New Last Name, dtype: object
Evertt
Wynkoop
+------------------+
1051    Evert
Name: New First Name, dtype: object
1051    Wynkoop
Name: New Last Name, dtype: object
William
Moor
+------------------+
13    William
Name: New First Name, dtype: object
13    Moore
Name: New Last Name, dtype: object
Abraham I
Blauvelt
+------------------+
47    Abraham
Name: New First Name, dtype: object
47    Blauvelt
Name: New Last Name, dtype: object
John
Frear
+------------------+
1062    John
Name: New First Name, dtype: object
1062    Fryer
Name: New Last Name, dtype: object
Aaron
Brower
+------------------+
61    Aaron
Name: New First Name, dtype: object
61    Brewer
Name: New Last Name, dtype: object
Cornelius D
Wynkoop
+------------------+
1054    Cornelius
Name: New First Name, dtype: object
1054    Wynkoop
Name: New Last Name, dtype: object
John
Fry
+------------------+
463    John
Name: New First Name, dtype: object
463    Frey
Name: New Last Name, dtype: object
William
Deitz
+------------------+
303    William
Name: New First Name, dtype: object
303    Dietz
Name: New Last Name, dtype: object
Philip
Van Alstyne
+------------------+
324    Philip
Name: New First Name, dtype: object
324    Van Alstine
Name: New Last Name, dtype: object
Thomas
Deuglass
+------------------+
623    Thomas
Name: New First Name, dtype: object
623    Douglass
Name: New Last Name, dtype: object
Gersham
Woodworth
+------------------+
1061    Gershom
Name: New First Name, dtype: object
1061    Woodworth
Name: New Last Name, dtype: object
Jacobus
Lifferts
+------------------+
1033    Jacobus
Name: New First Name, dtype: object
1033    Lefferts
Name: New Last Name, dtype: object
John
M Williams
+------------------+
1066    John
Name: New First Name, dtype: object
1066    Williams
Name: New Last Name, dtype: object
John I
Myers
+------------------+
489    John
Name: New First Name, dtype: object
489    Myers
Name: New Last Name, dtype: object
Peter
Nevius
+------------------+
603    Peter D
Name: New First Name, dtype: object
603    Nevius
Name: New Last Name, dtype: object
Joseph
Bloomfield
+------------------+
259    Jos
Name: New First Name, dtype: object
259    Bloomfield
Name: New Last Name, dtype: object
Terrick
Tenbrook
+------------------+
910    Terick
Name: New First Name, dtype: object
910    Tenbrook
Name: New Last Name, dtype: object
John
Striker
+------------------+
586    John
Name: New First Name, dtype: object
586    Stryker
Name: New Last Name, dtype: object
Peter
Nevius
+------------------+
603    Peter D
Name: New First Name, dtype: object
603    Nevius
Name: New Last Name, dtype: object
Daniel
Moores
+------------------+
598    Daniel
Name: New First Name, dtype: object
598    Moore
Name: New Last Name, dtype: object
Daniel
Moores
+------------------+
598    Daniel
Name: New First Name, dtype: object
598    Moore
Name: New Last Name, dtype: object
Daniel
Moores
+------------------+
598    Daniel
Name: New First Name, dtype: object
598    Moore
Name: New Last Name, dtype: object
John
Polhamus
+------------------+
79    John
Name: New First Name, dtype: object
79    Polhemus
Name: New Last Name, dtype: object

Abraham
Striker
+------------------+
629    Abraham
Name: New First Name, dtype: object
629    Stryker
Name: New Last Name, dtype: object
John
Striker
+------------------+
586    John
Name: New First Name, dtype: object
586    Stryker
Name: New Last Name, dtype: object
Garrott
Covenhoven
+------------------+
717    Garret
Name: New First Name, dtype: object
717    Covenhoven
Name: New Last Name, dtype: object
Peter
Nevius
+------------------+
603    Peter D
Name: New First Name, dtype: object
603    Nevius
Name: New Last Name, dtype: object
Tirick
Tenbrook
+------------------+
934    Terick
Name: New First Name, dtype: object
934    Tenbrook
Name: New Last Name, dtype: object
John
Bayless
+------------------+
425    John
Name: New First Name, dtype: object
425    Bayles
Name: New Last Name, dtype: object
Garrott
Voorhees
+------------------+
649    Garret
Name: New First Name, dtype: object
649    Voorhees
Name: New Last Name, dtype: object
Abram
Striker
+------------------+
922    Abraham
Name: New First Name, dtype: object
922    Striker
Name: New Last Name, dtype: object
Garrott
Voorhees
+------------------+
649    Garret
Name: New First Name, dtype: object
649    Voorhees
Name: New Last Name, dtype: object
Joseph
Bloomfield
+------------------+
259    Jos
Name: New First Name, dtype: object
259    Bloomfield
Name: New Last Name, dtype: object
Isaac
Van Camp
+------------------+
673    Isaac
Name: New First Name, dtype: object
673    Camp
Name: New Last Name, dtype: object
Isaac
Van Camp
+------------------+
673    Isaac
Name: New First Name, dtype: object
673    Camp
Name: New Last Name, dtype: object
Isaac
Van Camp
+------------------+
673    Isaac
Name: New First Name, dtype: object
673    Camp
Name: New Last Name, dtype: object
John
Polhamus
+------------------+
79    John
Name: New First Name, dtype: object
79    Polhemus
Name: New Last Name, dtype: object
Christopher
Hogland
+------------------+
482    Christopher
Name: New First Name, dtype: object
482    Hoagland
Name: New Last Name, dtype: object
Joseph
Throcknorton
+------------------+
720    Joseph
Name: New First Name, dtype: object
720    Throckmorton
Name: New Last Name, dtype: object
Joseph
Throcknorton
+------------------+
720    Joseph
Name: New First Name, dtype: object
720    Throckmorton
Name: New Last Name, dtype: object
John
Striker
+------------------+
586    John
Name: New First Name, dtype: object
586    Stryker
Name: New Last Name, dtype: object
Samuel
Bayless
+------------------+
537    Samuel
Name: New First Name, dtype: object
537    Bayles
Name: New Last Name, dtype: object
Abram
Striker
+------------------+
922    Abraham
Name: New First Name, dtype: object
922    Striker
Name: New Last Name, dtype: object
Abraham
Striker
+------------------+
629    Abraham
Name: New First Name, dtype: object
629    Stryker
Name: New Last Name, dtype: object
Abram
Striker
+------------------+
922    Abraham
Name: New First Name, dtype: object
922    Striker
Name: New Last Name, dtype: object
Thomas
Furman
+------------------+
950    Thomas
Name: New First Name, dtype: object
950    Forman
Name: New Last Name, dtype: object
Thomas
Furman
+------------------+
950    Thomas
Name: New First Name, dtype: object
950    Forman
Name: New Last Name, dtype: object
Thomas
Furman
+------------------+
950    Thomas
Name: New First Name, dtype: object
950    Forman
Name: New Last Name, dtype: object
Peter
Nevius
+------------------+
603    Peter D
Name: New First Name, dtype: object
603    Nevius
Name: New Last Name, dtype: object
Peter
Nevius
+------------------+
603    Peter D
Name: New First Name, dtype: object
603    Nevius
Name: New Last Name, dtype: object
Samuel
Bayless
+------------------+
537    Samuel
Name: New First Name, dtype: object
537    Bayles
Name: New Last Name, dtype: object
Peter
Nevius
+------------------+
603    Peter D
Name: New First Name, dtype: object
603    Nevius
Name: New Last Name, dtype: object
Michael
Demot
+------------------+
954    Michal
Name: New First Name, dtype: object
954    Demott
Name: New Last Name, dtype: object
John
Bayless
+------------------+
425    John
Name: New First Name, dtype: object
425    Bayles
Name: New Last Name, dtype: object
John
Polhamus
+------------------+
79    John
Name: New First Name, dtype: object
79    Polhemus
Name: New Last Name, dtype: object
David
Hay
+------------------+
724    David
Name: New First Name, dtype: object
724    Hays
Name: New Last Name, dtype: object
John
Striker
+------------------+
586    John
Name: New First Name, dtype: object
586    Stryker
Name: New Last Name, dtype: object
Garrott
Covenhoven
+------------------+
717    Garret
Name: New First Name, dtype: object
717    Covenhoven
Name: New Last Name, dtype: object
Abraham M.
Haring
+------------------+
961    Abraham
Name: New First Name, dtype: object
961    Haring
Name: New Last Name, dtype: object
William
Hyers
+------------------+
966    William
Name: New First Name, dtype: object
966    Hyer
Name: New Last Name, dtype: object
Abraham M.
Haring
+------------------+
961    Abraham
Name: New First Name, dtype: object
961    Haring
Name: New Last Name, dtype: object
Garrott
Covenhoven
+------------------+
717    Garret
Name: New First Name, dtype: object
717    Covenhoven
Name: New Last Name, dtype: object
John
Vandorne
+------------------+
968    John
Name: New First Name, dtype: object
968    Vandorn
Name: New Last Name, dtype: object
Samuel
Bayless
+------------------+
537    Samuel
Name: New First Name, dtype: object
537    Bayles
Name: New Last Name, dtype: object
John
Striker
+------------------+
586    John
Name: New First Name, dtype: object
586    Stryker
Name: New Last Name, dtype: object
Nathaniel
Balwin
+------------------+
972    Nathaniel
Name: New First Name, dtype: object
972    Baldwin
Name: New Last Name, dtype: object
Cornelius
Vandorne
+------------------+
976    Cornelius
Name: New First Name, dtype: object
976    Vandorn
Name: New Last Name, dtype: object
Derrick
Law
+------------------+
978    Derrick
Name: New First Name, dtype: object
978    Low
Name: New Last Name, dtype: object
Thomas
Fenmore
+------------------+
276    Thomas
Name: New First Name, dtype: object
276    Fenimore
Name: New Last Name, dtype: object
Joseph
Pruden
+------------------+
430    Joseph
Name: New First Name, dtype: object
430    Prudden
Name: New Last Name, dtype: object
Joseph
Pruden
+------------------+
430    Joseph
Name: New First Name, dtype: object
430    Prudden
Name: New Last Name, dtype: object
Garrott
Voorhees
+------------------+
649    Garret
Name: New First Name, dtype: object
649    Voorhees
Name: New Last Name, dtype: object
Garrott
Voorhees
+------------------+
649    Garret
Name: New First Name, dtype: object
649    Voorhees
Name: New Last Name, dtype: object
Cornelius
Dehart
+------------------+
637    Cornelius
Name: New First Name, dtype: object
637    DeHart
Name: New Last Name, dtype: object
Keneth
Hankison
+------------------+
723    Kenneth
Name: New First Name, dtype: object
723    Hankinson
Name: New Last Name, dtype: object
Samuel
Waldrom
+------------------+
983    Samuel
Name: New First Name, dtype: object
983    Waldron
Name: New Last Name, dtype: object
Samuel
Waldrom
+------------------+
983    Samuel
Name: New First Name, dtype: object
983    Waldron
Name: New Last Name, dtype: object
Samuel
Waldrom
+------------------+
983    Samuel
Name: New First Name, dtype: object
983    Waldron
Name: New Last Name, dtype: object
Keneth
Hankison
+------------------+
723    Kenneth
Name: New First Name, dtype: object
723    Hankinson
Name: New Last Name, dtype: object
George
Langstaff
+------------------+
264    George
Name: New First Name, dtype: object
264    Longstaff
Name: New Last Name, dtype: object
Joseph
Lindslay
+------------------+
363    Joseph
448    Joseph
Name: New First Name, dtype: object
363     Lindsly
448    Lindsley
Name: New Last Name, dtype: object
Benjamin
Pearson
+------------------+
316    Benjamin
Name: New First Name, dtype: object
316    Pierson
Name: New Last Name, dtype: object
Trick
Tenbrook
+------------------+
919    Terick
Name: New First Name, dtype: object
919    Tenbrook
Name: New Last Name, dtype: object
Jacobus
Loke
+------------------+
245    Jacobus
Name: New First Name, dtype: object
245    Lake
Name: New Last Name, dtype: object
Jacobus
Loke
+------------------+
245    Jacobus
Name: New First Name, dtype: object
245    Lake
Name: New Last Name, dtype: object

Water
Smith
+------------------+
318    Walter
Name: New First Name, dtype: object
318    Smith
Name: New Last Name, dtype: object
Michael
Demott
+------------------+
991    Michal
Name: New First Name, dtype: object
991    Demott
Name: New Last Name, dtype: object
Michael
Demott
+------------------+
991    Michal
Name: New First Name, dtype: object
991    Demott
Name: New Last Name, dtype: object
Johannes J
Blauvelt
+------------------+
990    Johannes
Name: New First Name, dtype: object
990    Blauvelt
Name: New Last Name, dtype: object
Jacob
Sydam
+------------------+
992    Jacob
Name: New First Name, dtype: object
992    Suydam
Name: New Last Name, dtype: object
Jacob
Sydam
+------------------+
992    Jacob
Name: New First Name, dtype: object
992    Suydam
Name: New Last Name, dtype: object
William I
Elsworth
+------------------+
965    William
Name: New First Name, dtype: object
965    Elsworth
Name: New Last Name, dtype: object
William I
Elsworth
+------------------+
965    William
Name: New First Name, dtype: object
965    Elsworth
Name: New Last Name, dtype: object
Abraham D
Haring
+------------------+
962    Abraham
Name: New First Name, dtype: object
962    Haring
Name: New Last Name, dtype: object
Isaac
Morres
+------------------+
338    Isaac
Name: New First Name, dtype: object
338    Morris
Name: New Last Name, dtype: object
John
Striker
+------------------+
586    John
Name: New First Name, dtype: object
586    Stryker
Name: New Last Name, dtype: object
John
Loyd
+------------------+
521    John
Name: New First Name, dtype: object
521    Lloyd
Name: New Last Name, dtype: object
John
Striker
+------------------+
586    John
Name: New First Name, dtype: object
586    Stryker
Name: New Last Name, dtype: object
Corneluis
Tenbrook
+------------------+
995    Cornelius
Name: New First Name, dtype: object
995    Tenbrook
Name: New Last Name, dtype: object
Corneluis
Tenbrook
+------------------+
995    Cornelius
Name: New First Name, dtype: object
995    Tenbrook
Name: New Last Name, dtype: object
Thewnis
Dey
+------------------+
915    Theunis
Name: New First Name, dtype: object
915    Dey
Name: New Last Name, dtype: object
Stacey
Potts
+------------------+
4    Stacy
Name: New First Name, dtype: object
4    Potts
Name: New Last Name, dtype: object
Okey
Hogland
+------------------+
722    Okey
Name: New First Name, dtype: object
722    Hoagland
Name: New Last Name, dtype: object
John
Peatt
+------------------+
533    John
Name: New First Name, dtype: object
533    Piatt
Name: New Last Name, dtype: object
Christopher
Hogland
+------------------+
482    Christopher
Name: New First Name, dtype: object
482    Hoagland
Name: New Last Name, dtype: object
Christopher
Hogland
+------------------+
482    Christopher
Name: New First Name, dtype: object
482    Hoagland
Name: New Last Name, dtype: object
Garrott
Covenhoven
+------------------+
717    Garret
Name: New First Name, dtype: object
717    Covenhoven
Name: New Last Name, dtype: object
Christopher
Hogland
+------------------+
482    Christopher
Name: New First Name, dtype: object
482    Hoagland
Name: New Last Name, dtype: object
Mathias
Mount Jun
+------------------+
1003    Mathias
Name: New First Name, dtype: object
1003    Mount
Name: New Last Name, dtype: object
William
Vandern
+------------------+
926    William
Name: New First Name, dtype: object
926    Vandorn
Name: New Last Name, dtype: object
Tobias
Van Nurden
+------------------+
642    Tobias
Name: New First Name, dtype: object
642    Van Norden
Name: New Last Name, dtype: object
Mathias
Mount Jun
+------------------+
1003    Mathias
Name: New First Name, dtype: object
1003    Mount
Name: New Last Name, dtype: object
Christopher
Hogland
+------------------+
482    Christopher
Name: New First Name, dtype: object
482    Hoagland
Name: New Last Name, dtype: object
Coert
Voorhees
+------------------+
1010    Court
Name: New First Name, dtype: object
1010    Voorhees
Name: New Last Name, dtype: object
Joseph
Throcknorton
+------------------+
720    Joseph
Name: New First Name, dtype: object
720    Throckmorton
Name: New Last Name, dtype: object
Jacob
Vandron
+------------------+
1012    Jacob
Name: New First Name, dtype: object
1012    Vandorn
Name: New Last Name, dtype: object
Samuel
Jacques
+------------------+
519    Samuel
Name: New First Name, dtype: object
519    Jaques
Name: New Last Name, dtype: object
Michal
Field
+------------------+
911    Michael
Name: New First Name, dtype: object
911    Field
Name: New Last Name, dtype: object
Peter
Nevius
+------------------+
603    Peter D
Name: New First Name, dtype: object
603    Nevius
Name: New Last Name, dtype: object
Garrott
Voorhees
+------------------+
649    Garret
Name: New First Name, dtype: object
649    Voorhees
Name: New Last Name, dtype: object
Christopher
Hogland
+------------------+
482    Christopher
Name: New First Name, dtype: object
482    Hoagland
Name: New Last Name, dtype: object
Ichabid
Ross
+------------------+
429    Ichabod
Name: New First Name, dtype: object
429    Ross
Name: New Last Name, dtype: object
George
Langstaff
+------------------+
264    George
Name: New First Name, dtype: object
264    Longstaff
Name: New Last Name, dtype: object
Peter
Nevius
+------------------+
603    Peter D
Name: New First Name, dtype: object
603    Nevius
Name: New Last Name, dtype: object
Nicholas
Werrell
+------------------+
1028    Nicholas
Name: New First Name, dtype: object
1028    Worrell
Name: New Last Name, dtype: object
Henry
Moad
+------------------+
691    Henry
Name: New First Name, dtype: object
691    Mead
Name: New Last Name, dtype: object
John
Sagor
+------------------+
984    John
Name: New First Name, dtype: object
984    Sagar
Name: New Last Name, dtype: object
Alfred
Harriott
+------------------+
608    Alford
Name: New First Name, dtype: object
608    Harriott
Name: New Last Name, dtype: object
Mathias
Ludlum
+------------------+
428    Matthias
Name: New First Name, dtype: object
428    Ludlum
Name: New Last Name, dtype: object
Pheby
Camp
+------------------+
661    Phebe
Name: New First Name, dtype: object
661    Camp
Name: New Last Name, dtype: object
Pheby
Camp
+------------------+
661    Phebe
Name: New First Name, dtype: object
661    Camp
Name: New Last Name, dtype: object
Timothy
Jenes
+------------------+
1041    Timothy
Name: New First Name, dtype: object
1041    Jones
Name: New Last Name, dtype: object
Pheby
Camp
+------------------+
661    Phebe
Name: New First Name, dtype: object
661    Camp
Name: New Last Name, dtype: object
George
Langstaff
+------------------+
264    George
Name: New First Name, dtype: object
264    Longstaff
Name: New Last Name, dtype: object
George
Langstaff
+------------------+
264    George
Name: New First Name, dtype: object
264    Longstaff
Name: New Last Name, dtype: object
Barn
Smock
+------------------+
1042    Barns
Name: New First Name, dtype: object
1042    Smock
Name: New Last Name, dtype: object
Garrott
Covenhoven
+------------------+
717    Garret
Name: New First Name, dtype: object
717    Covenhoven
Name: New Last Name, dtype: object
Garrott
Covenhoven
+------------------+
717    Garret
Name: New First Name, dtype: object
717    Covenhoven
Name: New Last Name, dtype: object
Garrott
Covenhoven
+------------------+
717    Garret
Name: New First Name, dtype: object
717    Covenhoven
Name: New Last Name, dtype: object
Jacob
Vandorne
+------------------+
1044    Jacob
Name: New First Name, dtype: object
1044    Vandorn
Name: New Last Name, dtype: object
Joseph
Throcknorton
+------------------+
720    Joseph
Name: New First Name, dtype: object
720    Throckmorton
Name: New Last Name, dtype: object
Christopher
Hogland
+------------------+
482    Christopher
Name: New First Name, dtype: object
482    Hoagland
Name: New Last Name, dtype: object
John
Striker
+------------------+
586    John
Name: New First Name, dtype: object
586    Stryker
Name: New Last Name, dtype: object
John
Striker
+------------------+
586    John
Name: New First Name, dtype: object
586    Stryker
Name: New Last Name, dtype: object
John
Polhamus
+------------------+
79    John
Name: New First Name, dtype: object
79    Polhemus
Name: New Last Name, dtype: object
David
Hay
+------------------+
724    David
Name: New First Name, dtype: object
724    Hays
Name: New Last Name, dtype: object
David
Furman
+------------------+
1046    David
Name: New First Name, dtype: object
1046    Forman
Name: New Last Name, dtype: object
Rachael
Wells
+------------------+
932    Rachel
Name: New First Name, dtype: object
932    Wells
Name: New Last Name, dtype: object
Daniel
Sexton
+------------------+
1047    Daniel
Name: New First Name, dtype: object
1047    Saxton
Name: New Last Name, dtype: object
David
Furman
+------------------+
1046    David
Name: New First Name, dtype: object
1046    Forman
Name: New Last Name, dtype: object
John
VanSickle
+------------------+
483    John
Name: New First Name, dtype: object
483    Vansickle
Name: New Last Name, dtype: object
David
Furman
+------------------+
1046    David
Name: New First Name, dtype: object
1046    Forman
Name: New Last Name, dtype: object
Peter
Nevius
+------------------+
603    Peter D
Name: New First Name, dtype: object
603    Nevius
Name: New Last Name, dtype: object
John
Striker
+------------------+
586    John
Name: New First Name, dtype: object
586    Stryker
Name: New Last Name, dtype: object
Peter
Nevius
+------------------+
603    Peter D
Name: New First Name, dtype: object
603    Nevius
Name: New Last Name, dtype: object
Garrott
Voorhees
+------------------+
649    Garret
Name: New First Name, dtype: object
649    Voorhees
Name: New Last Name, dtype: object
Garrott
Covenhoven
+------------------+
717    Garret
Name: New First Name, dtype: object
717    Covenhoven
Name: New Last Name, dtype: object
Derrick
Law
+------------------+
978    Derrick
Name: New First Name, dtype: object
978    Low
Name: New Last Name, dtype: object
Abram
Striker
+------------------+
922    Abraham
Name: New First Name, dtype: object
922    Striker
Name: New Last Name, dtype: object
Christopher
Hogland
+------------------+
482    Christopher
Name: New First Name, dtype: object
482    Hoagland
Name: New Last Name, dtype: object
Christopher
Hogland
+------------------+
482    Christopher
Name: New First Name, dtype: object
482    Hoagland
Name: New Last Name, dtype: object

Samuel W
Stockton
+------------------+
920    Samuel
Name: New First Name, dtype: object
920    Stockton
Name: New Last Name, dtype: object
Christopher
Hogland
+------------------+
482    Christopher
Name: New First Name, dtype: object
482    Hoagland
Name: New Last Name, dtype: object
Rechard
Walker
+------------------+
1552    Richard
Name: New First Name, dtype: object
1552    Walker
Name: New Last Name, dtype: object
Charles
Lyon
+------------------+
1897    Charles
Name: New First Name, dtype: object
1897    Lynn
Name: New Last Name, dtype: object
Charles
Lyon
+------------------+
1897    Charles
Name: New First Name, dtype: object
1897    Lynn
Name: New Last Name, dtype: object
Matthew
Irwin
+------------------+
1893    Mathew
Name: New First Name, dtype: object
1893    Irwin
Name: New Last Name, dtype: object
Richards
Gibbs
+------------------+
1586    Richard
Name: New First Name, dtype: object
1586    Gibbs
Name: New Last Name, dtype: object
John
Willcock
+------------------+
1600    John
Name: New First Name, dtype: object
1600    Wilcocks
Name: New Last Name, dtype: object
John
Willcock
+------------------+
1600    John
Name: New First Name, dtype: object
1600    Wilcocks
Name: New Last Name, dtype: object
David
Shaffer
+------------------+
1568    David
Name: New First Name, dtype: object
1568    Schaffer
Name: New Last Name, dtype: object
William
Beennett
+------------------+
1626    William
Name: New First Name, dtype: object
1626    Bennett
Name: New Last Name, dtype: object
Matthew
Irwin
+------------------+
1893    Mathew
Name: New First Name, dtype: object
1893    Irwin
Name: New Last Name, dtype: object
Henry
Kipple
+------------------+
1651    Henry
Name: New First Name, dtype: object
1651    Kepple
Name: New Last Name, dtype: object
Benjamin
Rumsey
+------------------+
1431    Benjamin
Name: New First Name, dtype: object
1431    Ramsey
Name: New Last Name, dtype: object
Benjamin
Rumsey
+------------------+
1431    Benjamin
Name: New First Name, dtype: object
1431    Ramsey
Name: New Last Name, dtype: object
James
Finlay
+------------------+
1540    James
Name: New First Name, dtype: object
1540    Finley
Name: New Last Name, dtype: object
William
Simple
+------------------+
1660    William
Name: New First Name, dtype: object
1660    Semple
Name: New Last Name, dtype: object
Wiliam
Kerr
+------------------+
1664    William
Name: New First Name, dtype: object
1664    Kerr
Name: New Last Name, dtype: object
Robert
Wilkin
+------------------+
1407    Robert
Name: New First Name, dtype: object
1407    Wilkins
Name: New Last Name, dtype: object
Matthew
Irwin
+------------------+
1893    Mathew
Name: New First Name, dtype: object
1893    Irwin
Name: New Last Name, dtype: object
James
Finlay
+------------------+
1540    James
Name: New First Name, dtype: object
1540    Finley
Name: New Last Name, dtype: object
James
Finlay
+------------------+
1540    James
Name: New First Name, dtype: object
1540    Finley
Name: New Last Name, dtype: object
Matthew
Irwin
+------------------+
1893    Mathew
Name: New First Name, dtype: object
1893    Irwin
Name: New Last Name, dtype: object
James
Irwin
+------------------+
1088    James
Name: New First Name, dtype: object
1088    Erwin
Name: New Last Name, dtype: object
James
Irwin
+------------------+
1088    James
Name: New First Name, dtype: object
1088    Erwin
Name: New Last Name, dtype: object
David
Dunwoddy
+------------------+
1685    David
Name: New First Name, dtype: object
1685    Dunwoody
Name: New Last Name, dtype: object
Matthew
Irwin
+------------------+
1893    Mathew
Name: New First Name, dtype: object
1893    Irwin
Name: New Last Name, dtype: object
James
Mase
+------------------+
1687    James
1922    James
Name: New First Name, dtype: object
1687    Mease
1922     Mays
Name: New Last Name, dtype: object
John
McConnell
+------------------+
1574    John
Name: New First Name, dtype: object
1574    Connell
Name: New Last Name, dtype: object
James
Finlay
+------------------+
1540    James
Name: New First Name, dtype: object
1540    Finley
Name: New Last Name, dtype: object
Jacob
Shaffer
+------------------+
1905    Jacob
Name: New First Name, dtype: object
1905    Schaffer
Name: New Last Name, dtype: object
Frederick
Shaffor
+------------------+
1377    Frederick
Name: New First Name, dtype: object
1377    Shaffer
Name: New Last Name, dtype: object
Robert
Craigg
+------------------+
1696    Robert
Name: New First Name, dtype: object
1696    Craig
Name: New Last Name, dtype: object
John
McCalister
+------------------+
1697    John
Name: New First Name, dtype: object
1697    McCallister
Name: New Last Name, dtype: object
Robert
Carrey
+------------------+
1758    Robert
Name: New First Name, dtype: object
1758    Currey
Name: New Last Name, dtype: object
William
Richard
+------------------+
1719    William
Name: New First Name, dtype: object
1719    Richards
Name: New Last Name, dtype: object
Jacob
Wiess
+------------------+
1725    Jacob
Name: New First Name, dtype: object
1725    Weiss
Name: New Last Name, dtype: object
Mary
Browne
+------------------+
1727    Mary
Name: New First Name, dtype: object
1727    Brown
Name: New Last Name, dtype: object
John
Alden
+------------------+
1730    John
Name: New First Name, dtype: object
1730    Allen
Name: New Last Name, dtype: object
Alexander
Jonston
+------------------+
1537    Alexander
Name: New First Name, dtype: object
1537    Johnston
Name: New Last Name, dtype: object
Samuel
Meridith
+------------------+
1732    Samuel
Name: New First Name, dtype: object
1732    Meredith
Name: New Last Name, dtype: object
Samuel
Meridith
+------------------+
1732    Samuel
Name: New First Name, dtype: object
1732    Meredith
Name: New Last Name, dtype: object
Robert W
Laughlin
+------------------+
1541    Robert
Name: New First Name, dtype: object
1541    Laughlin
Name: New Last Name, dtype: object
Samuel
Man
+------------------+
1517    Samuel
Name: New First Name, dtype: object
1517    Mann
Name: New Last Name, dtype: object
William D
Smith
+------------------+
1743    William
Name: New First Name, dtype: object
1743    Smith
Name: New Last Name, dtype: object
John
McCrery
+------------------+
1746    John
Name: New First Name, dtype: object
1746    McCreery
Name: New Last Name, dtype: object
William
Blare
+------------------+
656    William
Name: New First Name, dtype: object
656    Blair
Name: New Last Name, dtype: object
William
Hazelwood
+------------------+
1750    William
Name: New First Name, dtype: object
1750    Hazlewood
Name: New Last Name, dtype: object
Robert
Carrey
+------------------+
1758    Robert
Name: New First Name, dtype: object
1758    Currey
Name: New Last Name, dtype: object
John
Coburne
+------------------+
1751    John
Name: New First Name, dtype: object
1751    Coburn
Name: New Last Name, dtype: object
Charles
Lyon
+------------------+
1897    Charles
Name: New First Name, dtype: object
1897    Lynn
Name: New Last Name, dtype: object
John
Kreson
+------------------+
1764    John
Name: New First Name, dtype: object
1764    Krewson
Name: New Last Name, dtype: object
Francis
Alison
+------------------+
1769    Francis
Name: New First Name, dtype: object
1769    Allison
Name: New Last Name, dtype: object
John
Finlay
+------------------+
1784    John
Name: New First Name, dtype: object
1784    Finley
Name: New Last Name, dtype: object
Joseph
Leacok
+------------------+
1780    Joseph
Name: New First Name, dtype: object
1780    Leacock
Name: New Last Name, dtype: object
William
Ball
+------------------+
1588    William
Name: New First Name, dtype: object
1588    Bale
Name: New Last Name, dtype: object
William
Ball
+------------------+
1588    William
Name: New First Name, dtype: object
1588    Bale
Name: New Last Name, dtype: object
Samuel
Robert
+------------------+
1701    Samuel
Name: New First Name, dtype: object
1701    Roberts
Name: New Last Name, dtype: object
Charles
Lyon
+------------------+
1897    Charles
Name: New First Name, dtype: object
1897    Lynn
Name: New Last Name, dtype: object
Charles
Lyon
+------------------+
1897    Charles
Name: New First Name, dtype: object
1897    Lynn
Name: New Last Name, dtype: object

John
M Nesbitt
+------------------+
1794    John
Name: New First Name, dtype: object
1794    Nesbitt
Name: New Last Name, dtype: object
Jacob
Weavor
+------------------+
1797    Jacob
Name: New First Name, dtype: object
1797    Weaver
Name: New Last Name, dtype: object
Joseph
Ker
+------------------+
1802    Joseph
Name: New First Name, dtype: object
1802    Kerr
Name: New Last Name, dtype: object
John
McGee
+------------------+
1715    John
Name: New First Name, dtype: object
1715    McKee
Name: New Last Name, dtype: object
John
Keane
+------------------+
1792    John
Name: New First Name, dtype: object
1792    Kean
Name: New Last Name, dtype: object
John
McGee
+------------------+
1715    John
Name: New First Name, dtype: object
1715    McKee
Name: New Last Name, dtype: object
Henry
Hagenbach
+------------------+
1575    Henry
Name: New First Name, dtype: object
1575    Hagenbuch
Name: New Last Name, dtype: object
Thomas
Water
+------------------+
1693    Thomas
Name: New First Name, dtype: object
1693    Waters
Name: New Last Name, dtype: object
Philip
Dick
+------------------+
1799    Philip
Name: New First Name, dtype: object
1799    Duck
Name: New Last Name, dtype: object
William D
Smith
+------------------+
1743    William
Name: New First Name, dtype: object
1743    Smith
Name: New Last Name, dtype: object
Philip
Dick
+------------------+
1799    Philip
Name: New First Name, dtype: object
1799    Duck
Name: New Last Name, dtype: object
Philip
Dick
+------------------+
1799    Philip
Name: New First Name, dtype: object
1799    Duck
Name: New Last Name, dtype: object
Samuel
Dale
+------------------+
1026    Samuel
Name: New First Name, dtype: object
1026    Deal
Name: New Last Name, dtype: object
Peter
Roads
+------------------+
1638    Peter
Name: New First Name, dtype: object
1638    Rhoades
Name: New Last Name, dtype: object
Jonathan D
Sargeant
+------------------+
1823    Jonathan D.
Name: New First Name, dtype: object
1823    Sergeant
Name: New Last Name, dtype: object
Frencis
Lee
+------------------+
1824    Francis
Name: New First Name, dtype: object
1824    Lee
Name: New Last Name, dtype: object
Peter
Knapp
+------------------+
1828    Peter
Name: New First Name, dtype: object
1828    Knap
Name: New Last Name, dtype: object
Samuel
Curson
+------------------+
1829    Samuel
Name: New First Name, dtype: object
1829    Carson
Name: New Last Name, dtype: object
George A
Baker
+------------------+
1422    George
Name: New First Name, dtype: object
1422    Baker
Name: New Last Name, dtype: object
David
Chamber
+------------------+
1833    David
Name: New First Name, dtype: object
1833    Chambers
Name: New Last Name, dtype: object
Samuel
Curson
+------------------+
1829    Samuel
Name: New First Name, dtype: object
1829    Carson
Name: New Last Name, dtype: object
John
McConnell
+------------------+
1574    John
Name: New First Name, dtype: object
1574    Connell
Name: New Last Name, dtype: object
John
Mccallister
+------------------+
1724    John
Name: New First Name, dtype: object
1724    McCallister
Name: New Last Name, dtype: object
John
Drenker
+------------------+
1841    John
Name: New First Name, dtype: object
1841    Drinker
Name: New Last Name, dtype: object
James
Pearce
+------------------+
1513    James
Name: New First Name, dtype: object
1513    Pierce
Name: New Last Name, dtype: object
James
Pearce
+------------------+
1513    James
Name: New First Name, dtype: object
1513    Pierce
Name: New Last Name, dtype: object
John
Hunts
+------------------+
1602    John
Name: New First Name, dtype: object
1602    Hunt
Name: New Last Name, dtype: object
Isaac
Moris
+------------------+
1845    Isaac
Name: New First Name, dtype: object
1845    Maris
Name: New Last Name, dtype: object
Daniel
Brewer
+------------------+
780    Daniel
Name: New First Name, dtype: object
780    Brower
Name: New Last Name, dtype: object
Samuel
Curson
+------------------+
1829    Samuel
Name: New First Name, dtype: object
1829    Carson
Name: New Last Name, dtype: object
Arthur
Parke
+------------------+
1848    Arthur
Name: New First Name, dtype: object
1848    Park
Name: New Last Name, dtype: object
James
Stirling
+------------------+
1851    James
Name: New First Name, dtype: object
1851    Sterling
Name: New Last Name, dtype: object
James
McClellan
+------------------+
1855    James
Name: New First Name, dtype: object
1855    McClelland
Name: New Last Name, dtype: object
John
Boyers
+------------------+
1632    John
Name: New First Name, dtype: object
1632    Boyer
Name: New Last Name, dtype: object
John
Fogle
+------------------+
1722    John
Name: New First Name, dtype: object
1722    Fogel
Name: New Last Name, dtype: object
Leonard
Jacoboy
+------------------+
1853    Leonard
Name: New First Name, dtype: object
1853    Jacoby
Name: New Last Name, dtype: object
Matthew
Miller
+------------------+
1484    Mathew
Name: New First Name, dtype: object
1484    Miller
Name: New Last Name, dtype: object
George A
Baker
+------------------+
1422    George
Name: New First Name, dtype: object
1422    Baker
Name: New Last Name, dtype: object
John
Reilly
+------------------+
1520    John
Name: New First Name, dtype: object
1520    Reily
Name: New Last Name, dtype: object
Philip
Dick
+------------------+
1799    Philip
Name: New First Name, dtype: object
1799    Duck
Name: New Last Name, dtype: object
Adam
Scheffer
+------------------+
1603    Adam
Name: New First Name, dtype: object
1603    Sheffer
Name: New Last Name, dtype: object
Peter
Roades
+------------------+
1636    Peter
Name: New First Name, dtype: object
1636    Rhoades
Name: New Last Name, dtype: object
John
Wilkins
+------------------+
1405    John
Name: New First Name, dtype: object
1405    Wilkin
Name: New Last Name, dtype: object
John
Riber
+------------------+
1868    John
Name: New First Name, dtype: object
1868    Reber
Name: New Last Name, dtype: object
John
Yaekle
+------------------+
1555    John
Name: New First Name, dtype: object
1555    Yeakle
Name: New Last Name, dtype: object
Felix
Crisman
+------------------+
1522    Felix
Name: New First Name, dtype: object
1522    Christman
Name: New Last Name, dtype: object
John
Campbel
+------------------+
1874    John
Name: New First Name, dtype: object
1874    Campbell
Name: New Last Name, dtype: object
James
Burnett
+------------------+
1816    James
Name: New First Name, dtype: object
1816    Barnett
Name: New Last Name, dtype: object
Samuel
Erwin
+------------------+
1418    Samuel
Name: New First Name, dtype: object
1418    Irwin
Name: New Last Name, dtype: object
Evan R
Evans
+------------------+
1089    Evan
Name: New First Name, dtype: object
1089    Evans
Name: New Last Name, dtype: object
John
Michael
+------------------+
1338    John
Name: New First Name, dtype: object
1338    Mitchel
Name: New Last Name, dtype: object
James
Burnett
+------------------+
1816    James
Name: New First Name, dtype: object
1816    Barnett
Name: New Last Name, dtype: object
John
Marphy
+------------------+
1889    John
Name: New First Name, dtype: object
1889    Murphy
Name: New Last Name, dtype: object
John
Willkin
+------------------+
1406    John
1887    John
Name: New First Name, dtype: object
1406    Wilkins
1887     Wilkin
Name: New Last Name, dtype: object
William
McCullogh
+------------------+
1873    William
Name: New First Name, dtype: object
1873    McCullough
Name: New Last Name, dtype: object
John
William
+------------------+
1618    John
Name: New First Name, dtype: object
1618    Williams
Name: New Last Name, dtype: object
William
Ball
+------------------+
1588    William
Name: New First Name, dtype: object
1588    Bale
Name: New Last Name, dtype: object
Jacob
Peters
+------------------+
1355    Jacob
Name: New First Name, dtype: object
1355    Peter
Name: New Last Name, dtype: object
Peter
Whiteside
+------------------+
1567    Peter
Name: New First Name, dtype: object
1567    Whitesides
Name: New Last Name, dtype: object
Peter
Whiteside
+------------------+
1567    Peter
Name: New First Name, dtype: object
1567    Whitesides
Name: New Last Name, dtype: object
Isaac
Bean
+------------------+
1456    Isaac
Name: New First Name, dtype: object
1456    Beans
Name: New Last Name, dtype: object
Frederick
Smith
+------------------+
1384    Fredrick
Name: New First Name, dtype: object
1384    Smith
Name: New Last Name, dtype: object
David
Dishler
+------------------+
1899    David
Name: New First Name, dtype: object
1899    Deshler
Name: New Last Name, dtype: object
Robert
Bradey
+------------------+
773    Robert
Name: New First Name, dtype: object
773    Brady
Name: New Last Name, dtype: object
Frederick
Smith
+------------------+
1384    Fredrick
Name: New First Name, dtype: object
1384    Smith
Name: New Last Name, dtype: object
Phillip
Sidler
+------------------+
1901    Philip
Name: New First Name, dtype: object
1901    Sidler
Name: New Last Name, dtype: object
Frederick
Smith
+------------------+
1384    Fredrick
Name: New First Name, dtype: object
1384    Smith
Name: New Last Name, dtype: object
Joseph
Deane
+------------------+
1849    Joseph
Name: New First Name, dtype: object
1849    Dean
Name: New Last Name, dtype: object
Jonathan D
Sergant
+------------------+
1822    Jonathan D.
Name: New First Name, dtype: object
1822    Sergeant
Name: New Last Name, dtype: object
John
Lisher
+------------------+
1906    John
Name: New First Name, dtype: object
1906    Lesher
Name: New Last Name, dtype: object
Peter
Deck
+------------------+
1886    Peter
Name: New First Name, dtype: object
1886    Dick
Name: New Last Name, dtype: object

Aaron
Levi
+------------------+
1578    Aaron
Name: New First Name, dtype: object
1578    Levy
Name: New Last Name, dtype: object
John
Heigh
+------------------+
1925    John
Name: New First Name, dtype: object
1925    High
Name: New Last Name, dtype: object
John
Hobson
+------------------+
1734    John
Name: New First Name, dtype: object
1734    Hopson
Name: New Last Name, dtype: object
Peter
Ulrick
+------------------+
1924    Peter
Name: New First Name, dtype: object
1924    Ulrich
Name: New Last Name, dtype: object
Joseph
Deane
+------------------+
1849    Joseph
Name: New First Name, dtype: object
1849    Dean
Name: New Last Name, dtype: object
John
Murphey
+------------------+
1926    John
Name: New First Name, dtype: object
1926    Murphy
Name: New Last Name, dtype: object
Poter
Jones
+------------------+
1927    Peter
Name: New First Name, dtype: object
1927    Jones
Name: New Last Name, dtype: object
George
Currey
+------------------+
1775    George
Name: New First Name, dtype: object
1775    Curry
Name: New Last Name, dtype: object
Jacob
Livergood
+------------------+
1935    Jacob
Name: New First Name, dtype: object
1935    Levergood
Name: New Last Name, dtype: object
Adam
Schneyder
+------------------+
1937    Adam
Name: New First Name, dtype: object
1937    Schneider
Name: New Last Name, dtype: object
George B
Baker
+------------------+
1940    George
Name: New First Name, dtype: object
1940    Baker
Name: New Last Name, dtype: object
Jonas
Eckhert
+------------------+
1928    Jonas
Name: New First Name, dtype: object
1928    Eckert
Name: New Last Name, dtype: object
John
Byer
+------------------+
1930    John
Name: New First Name, dtype: object
1930    Byers
Name: New Last Name, dtype: object
John
Steven
+------------------+
1931    John
Name: New First Name, dtype: object
1931    Stevens
Name: New Last Name, dtype: object
John
Byer
+------------------+
1930    John
Name: New First Name, dtype: object
1930    Byers
Name: New Last Name, dtype: object
Henry
Shoffer
+------------------+
1944    Henry
Name: New First Name, dtype: object
1944    Sheffer
Name: New Last Name, dtype: object
Tobias
Shall
+------------------+
1639    Tobias
Name: New First Name, dtype: object
1639    Shull
Name: New Last Name, dtype: object
Matthew
Irwin
+------------------+
1893    Mathew
Name: New First Name, dtype: object
1893    Irwin
Name: New Last Name, dtype: object
Matthew
Irwin
+------------------+
1893    Mathew
Name: New First Name, dtype: object
1893    Irwin
Name: New Last Name, dtype: object
Lewis
Stanart
+------------------+
1880    Lewis
Name: New First Name, dtype: object
1880    Stanert
Name: New Last Name, dtype: object
Peter
Defenbach
+------------------+
1549    Peter
Name: New First Name, dtype: object
1549    Dieffenbach
Name: New Last Name, dtype: object
John
Ciester
+------------------+
1666    John
Name: New First Name, dtype: object
1666    Chester
Name: New Last Name, dtype: object
George
Sheive
+------------------+
1415    George
Name: New First Name, dtype: object
1415    Shive
Name: New Last Name, dtype: object
John
Sharpe
+------------------+
1378    John
Name: New First Name, dtype: object
1378    Sharp
Name: New Last Name, dtype: object
Henry
Greyer
+------------------+
1165    Henry
Name: New First Name, dtype: object
1165    Greer
Name: New Last Name, dtype: object
George
Adam
+------------------+
30    George
Name: New First Name, dtype: object
30    Adams
Name: New Last Name, dtype: object
Michael
Lay
+------------------+
1749    Michael
Name: New First Name, dtype: object
1749    Ley
Name: New Last Name, dtype: object
James
Thompson
+------------------+
1837    James
Name: New First Name, dtype: object
1837    Thomson
Name: New Last Name, dtype: object
James
Thompson
+------------------+
1837    James
Name: New First Name, dtype: object
1837    Thomson
Name: New Last Name, dtype: object
Evan R
Evans
+------------------+
1089    Evan
Name: New First Name, dtype: object
1089    Evans
Name: New Last Name, dtype: object
David
Schultz
+------------------+
1452    David
Name: New First Name, dtype: object
1452    Shultz
Name: New Last Name, dtype: object
Poter
Schneider
+------------------+
1438    Peter
Name: New First Name, dtype: object
1438    Schneider
Name: New Last Name, dtype: object
Philip
Marsheller
+------------------+
1457    Philip
Name: New First Name, dtype: object
1457    Marsteller
Name: New Last Name, dtype: object
John Lee
Gibson
+------------------+
1468    John
Name: New First Name, dtype: object
1468    Gibson
Name: New Last Name, dtype: object
Christain
Eckstein
+------------------+
1475    Christian
Name: New First Name, dtype: object
1475    Eckstein
Name: New Last Name, dtype: object
William
Finlay
+------------------+
1477    William
Name: New First Name, dtype: object
1477    Finley
Name: New Last Name, dtype: object
Christian
Ecksteine
+------------------+
1485    Christian
Name: New First Name, dtype: object
1485    Eckstein
Name: New Last Name, dtype: object
Christian
Eakstein
+------------------+
1488    Christian
Name: New First Name, dtype: object
1488    Eckstein
Name: New Last Name, dtype: object
Philip
Marstiller
+------------------+
1501    Philip
Name: New First Name, dtype: object
1501    Marsteller
Name: New Last Name, dtype: object
John
Lines
+------------------+
1502    John
Name: New First Name, dtype: object
1502    Line
Name: New Last Name, dtype: object
James
Crauford
+------------------+
1514    James
Name: New First Name, dtype: object
1514    Crawford
Name: New Last Name, dtype: object
Michael
Kline
+------------------+
1519    Michael
Name: New First Name, dtype: object
1519    Klein
Name: New Last Name, dtype: object
Michael
Kline
+------------------+
1519    Michael
Name: New First Name, dtype: object
1519    Klein
Name: New Last Name, dtype: object
William
Fordy
+------------------+
1099    William
Name: New First Name, dtype: object
1099    Ford
Name: New Last Name, dtype: object
Richard
Whitton
+------------------+
1404    Richard
Name: New First Name, dtype: object
1404    Whitten
Name: New Last Name, dtype: object
Jacob
Colman
+------------------+
1570    Jacob
Name: New First Name, dtype: object
1570    Coleman
Name: New Last Name, dtype: object
Henry
Hagenbach
+------------------+
1575    Henry
Name: New First Name, dtype: object
1575    Hagenbuch
Name: New Last Name, dtype: object
John
Losher
+------------------+
1580    John
Name: New First Name, dtype: object
1580    Lesher
Name: New Last Name, dtype: object
John
Shoffer
+------------------+
1583    John
Name: New First Name, dtype: object
1583    Sheffer
Name: New Last Name, dtype: object
Isaac
Sedman
+------------------+
1593    Isaac
Name: New First Name, dtype: object
1593    Sidman
Name: New Last Name, dtype: object
Tobias
Stapleten
+------------------+
1601    Tobias
Name: New First Name, dtype: object
1601    Stapleton
Name: New Last Name, dtype: object
Adam
Sheffer
+------------------+
1604    Adam
Name: New First Name, dtype: object
1604    Shaffer
Name: New Last Name, dtype: object
John
Mitchele
+------------------+
1607    John
1608    John
Name: New First Name, dtype: object
1607     Mitchel
1608    Mitchell
Name: New Last Name, dtype: object
Matthew
Irwin
+------------------+
1893    Mathew
Name: New First Name, dtype: object
1893    Irwin
Name: New Last Name, dtype: object
Joseph
Rea
+------------------+
1611    Joseph
Name: New First Name, dtype: object
1611    Rhea
Name: New Last Name, dtype: object
Nicholas
Schneider
+------------------+
1613    Nicholas
Name: New First Name, dtype: object
1613    Sneider
Name: New Last Name, dtype: object
William
Hoster
+------------------+
1616    William
Name: New First Name, dtype: object
1616    Hester
Name: New Last Name, dtype: object
Thomas
Douglass
+------------------+
1067    Thomas
Name: New First Name, dtype: object
1067    Douglas
Name: New Last Name, dtype: object
Peter
Richard
+------------------+
1615    Peter
Name: New First Name, dtype: object
1615    Richards
Name: New Last Name, dtype: object
Frederick
Smith
+------------------+
1384    Fredrick
Name: New First Name, dtype: object
1384    Smith
Name: New Last Name, dtype: object
Richard
Steven
+------------------+
1627    Richard
Name: New First Name, dtype: object
1627    Stevens
Name: New Last Name, dtype: object
Peter
Rhoads
+------------------+
1637    Peter
Name: New First Name, dtype: object
1637    Rhoades
Name: New Last Name, dtype: object
John
Wiliams
+------------------+
1645    John
Name: New First Name, dtype: object
1645    Williams
Name: New Last Name, dtype: object
George A
Baker
+------------------+
1422    George
Name: New First Name, dtype: object
1422    Baker
Name: New Last Name, dtype: object
William
Moor
+------------------+
1474    William
Name: New First Name, dtype: object
1474    Moore
Name: New Last Name, dtype: object
John
McNesbitt
+------------------+
1650    John
Name: New First Name, dtype: object
1650    Nesbitt
Name: New Last Name, dtype: object
William
Moor
+------------------+
1474    William
Name: New First Name, dtype: object
1474    Moore
Name: New Last Name, dtype: object
Charles
Hill
+------------------+
1654    Charles
Name: New First Name, dtype: object
1654    Hall
Name: New Last Name, dtype: object
Charles
Dishler
+------------------+
1657    Charles
Name: New First Name, dtype: object
1657    Deshler
Name: New Last Name, dtype: object
James
Cooke
+------------------+
1659    James
Name: New First Name, dtype: object
1659    Cook
Name: New Last Name, dtype: object
Abram
Shultz
+------------------+
1702    Abraham
Name: New First Name, dtype: object
1702    Shultz
Name: New Last Name, dtype: object
George Mich
Graff
+------------------+
1703    George
Name: New First Name, dtype: object
1703    Graff
Name: New Last Name, dtype: object
William
Stemp
+------------------+
1705    William
Name: New First Name, dtype: object
1705    Stump
Name: New Last Name, dtype: object
Henry
Spiker
+------------------+
1711    Henry
Name: New First Name, dtype: object
1711    Spyker
Name: New Last Name, dtype: object
Thomas
Douglass
+------------------+
1067    Thomas
Name: New First Name, dtype: object
1067    Douglas
Name: New Last Name, dtype: object
John
Hobson
+------------------+
1734    John
Name: New First Name, dtype: object
1734    Hopson
Name: New Last Name, dtype: object
William
Thompson
+------------------+
1397    William
Name: New First Name, dtype: object
1397    Thomson
Name: New Last Name, dtype: object
Nicholas
Riem
+------------------+
1360    Nicholas
Name: New First Name, dtype: object
1360    Ream
Name: New Last Name, dtype: object
George
Cooke
+------------------+
952    George
Name: New First Name, dtype: object
952    Cook
Name: New Last Name, dtype: object
John
Hoge
+------------------+
1446    John
Name: New First Name, dtype: object
1446    Hodge
Name: New Last Name, dtype: object
William
Woad
+------------------+
1737    William
Name: New First Name, dtype: object
1737    Wood
Name: New Last Name, dtype: object
John
Stut
+------------------+
1392    John
Name: New First Name, dtype: object
1392    Stout
Name: New Last Name, dtype: object
William
Thompson
+------------------+
1397    William
Name: New First Name, dtype: object
1397    Thomson
Name: New Last Name, dtype: object
Adam
Sheffer
+------------------+
1604    Adam
Name: New First Name, dtype: object
1604    Shaffer
Name: New Last Name, dtype: object
Michael
Brandt
+------------------+
1757    Michael
Name: New First Name, dtype: object
1757    Brand
Name: New Last Name, dtype: object
Jonas
Eckart
+------------------+
1766    Jonas
Name: New First Name, dtype: object
1766    Eckert
Name: New Last Name, dtype: object
Michael
Brandt
+------------------+
1757    Michael
Name: New First Name, dtype: object
1757    Brand
Name: New Last Name, dtype: object
Daniel
Snider
+------------------+
1773    Daniel
Name: New First Name, dtype: object
1773    Snyder
Name: New Last Name, dtype: object
William
Morgen
+------------------+
1691    William
Name: New First Name, dtype: object
1691    Morgan
Name: New Last Name, dtype: object
William
Campbell
+------------------+
1625    William
Name: New First Name, dtype: object
1625    Campble
Name: New Last Name, dtype: object
William
Campbell
+------------------+
1625    William
Name: New First Name, dtype: object
1625    Campble
Name: New Last Name, dtype: object
John
Reilly
+------------------+
1520    John
Name: New First Name, dtype: object
1520    Reily
Name: New Last Name, dtype: object
John
Dixen
+------------------+
1786    John
Name: New First Name, dtype: object
1786    Dixon
Name: New Last Name, dtype: object
John
Brocks
+------------------+
1787    John
Name: New First Name, dtype: object
1787    Brooks
Name: New Last Name, dtype: object
Joseph
Barden
+------------------+
1556    Joseph
Name: New First Name, dtype: object
1556    Braden
Name: New Last Name, dtype: object
Adam
Whitman
+------------------+
1793    Adam
Name: New First Name, dtype: object
1793    Witman
Name: New Last Name, dtype: object

Joseph
Barden
+------------------+
1556    Joseph
Name: New First Name, dtype: object
1556    Braden
Name: New Last Name, dtype: object
John
McConnell
+------------------+
1574    John
Name: New First Name, dtype: object
1574    Connell
Name: New Last Name, dtype: object
Peter
Sisler
+------------------+
1800    Peter
Name: New First Name, dtype: object
1800    Seiler
Name: New Last Name, dtype: object
John
Kreamer
+------------------+
1595    John
Name: New First Name, dtype: object
1595    Creamer
Name: New Last Name, dtype: object
Michael
Defenderfer
+------------------+
1803    Michael
Name: New First Name, dtype: object
1803    Diffenderfer
Name: New Last Name, dtype: object
John
Sooder
+------------------+
1810    John
Name: New First Name, dtype: object
1810    Souder
Name: New Last Name, dtype: object
John
Leister
+------------------+
1815    John
Name: New First Name, dtype: object
1815    Lester
Name: New Last Name, dtype: object
Jacob
Weise
+------------------+
1819    Jacob
Name: New First Name, dtype: object
1819    Weiss
Name: New Last Name, dtype: object
Laurence
Johnson
+------------------+
1814    Lawrence
Name: New First Name, dtype: object
1814    Johnson
Name: New Last Name, dtype: object
Joseph
Woods
+------------------+
1820    Joseph
Name: New First Name, dtype: object
1820    Wood
Name: New Last Name, dtype: object
James
Thompson
+------------------+
1837    James
Name: New First Name, dtype: object
1837    Thomson
Name: New Last Name, dtype: object
Joseph
Woods
+------------------+
1820    Joseph
Name: New First Name, dtype: object
1820    Wood
Name: New Last Name, dtype: object
Joseph
Woods
+------------------+
1820    Joseph
Name: New First Name, dtype: object
1820    Wood
Name: New Last Name, dtype: object
Joseph
Woods
+------------------+
1820    Joseph
Name: New First Name, dtype: object
1820    Wood
Name: New Last Name, dtype: object
James
Thompson
+------------------+
1837    James
Name: New First Name, dtype: object
1837    Thomson
Name: New Last Name, dtype: object
Joseph
Woods
+------------------+
1820    Joseph
Name: New First Name, dtype: object
1820    Wood
Name: New Last Name, dtype: object
Henry
Hover
+------------------+
1620    Henry
Name: New First Name, dtype: object
1620    Hoover
Name: New Last Name, dtype: object
Michael
Strow
+------------------+
1834    Michael
Name: New First Name, dtype: object
1834    Straw
Name: New Last Name, dtype: object
John
Shoffer
+------------------+
1583    John
Name: New First Name, dtype: object
1583    Sheffer
Name: New Last Name, dtype: object
James
Thompson
+------------------+
1837    James
Name: New First Name, dtype: object
1837    Thomson
Name: New Last Name, dtype: object
James
Thompson
+------------------+
1837    James
Name: New First Name, dtype: object
1837    Thomson
Name: New Last Name, dtype: object
John
Jordon
+------------------+
1465    John
Name: New First Name, dtype: object
1465    Jordan
Name: New Last Name, dtype: object
John
JorDan
+------------------+
1852    John
Name: New First Name, dtype: object
1852    Jordan
Name: New Last Name, dtype: object
James
Thompson
+------------------+
1837    James
Name: New First Name, dtype: object
1837    Thomson
Name: New Last Name, dtype: object
John
Jinkins
+------------------+
1863    John
Name: New First Name, dtype: object
1863    Jenkins
Name: New Last Name, dtype: object
George
Browne
+------------------+
1871    George
Name: New First Name, dtype: object
1871    Brown
Name: New Last Name, dtype: object
Michel
Hahn
+------------------+
1726    Michael
Name: New First Name, dtype: object
1726    Hahn
Name: New Last Name, dtype: object
John
Jinkins
+------------------+
1863    John
Name: New First Name, dtype: object
1863    Jenkins
Name: New Last Name, dtype: object
Matthew
Irwin
+------------------+
1893    Mathew
Name: New First Name, dtype: object
1893    Irwin
Name: New Last Name, dtype: object
Myer
Soloman
+------------------+
1866    Myer
Name: New First Name, dtype: object
1866    Solomon
Name: New Last Name, dtype: object
James F
Armstrong
+------------------+
1564    James
Name: New First Name, dtype: object
1564    Armstrong
Name: New Last Name, dtype: object
James
Laughead
+------------------+
1875    James
Name: New First Name, dtype: object
1875    Loughead
Name: New Last Name, dtype: object
William
Thompson
+------------------+
1397    William
Name: New First Name, dtype: object
1397    Thomson
Name: New Last Name, dtype: object
Matthew
Irwin
+------------------+
1893    Mathew
Name: New First Name, dtype: object
1893    Irwin
Name: New Last Name, dtype: object
James
Jacks
+------------------+
1559    James
Name: New First Name, dtype: object
1559    Jack
Name: New Last Name, dtype: object
James
Galbraith
+------------------+
1113    James
Name: New First Name, dtype: object
1113    Galbreath
Name: New Last Name, dtype: object
William
Simson
+------------------+
1781    William
Name: New First Name, dtype: object
1781    Simpson
Name: New Last Name, dtype: object
William
Sharpe
+------------------+
1489    William
Name: New First Name, dtype: object
1489    Sharp
Name: New Last Name, dtype: object
John
Wilkins
+------------------+
1405    John
Name: New First Name, dtype: object
1405    Wilkin
Name: New Last Name, dtype: object
James
Jacks
+------------------+
1559    James
Name: New First Name, dtype: object
1559    Jack
Name: New Last Name, dtype: object
Henry
Gress
+------------------+
1735    Henry
Name: New First Name, dtype: object
1735    Gross
Name: New Last Name, dtype: object
Jacob
Renker
+------------------+
1890    Jacob
Name: New First Name, dtype: object
1890    Rinker
Name: New Last Name, dtype: object
William
Hadge
+------------------+
1576    William
Name: New First Name, dtype: object
1576    Hodge
Name: New Last Name, dtype: object
George
Browne
+------------------+
1871    George
Name: New First Name, dtype: object
1871    Brown
Name: New Last Name, dtype: object
Francis Jacob
Miller
+------------------+
1686    Francis
Name: New First Name, dtype: object
1686    Miller
Name: New Last Name, dtype: object
George
Shultz
+------------------+
1876    George
Name: New First Name, dtype: object
1876    Schultz
Name: New Last Name, dtype: object
William
Red
+------------------+
1539    William
Name: New First Name, dtype: object
1539    Reed
Name: New Last Name, dtype: object
Francis Jacob
Miller
+------------------+
1686    Francis
Name: New First Name, dtype: object
1686    Miller
Name: New Last Name, dtype: object
George
Shultz
+------------------+
1876    George
Name: New First Name, dtype: object
1876    Schultz
Name: New Last Name, dtype: object
Fra Jacob
Miller
+------------------+
1894    Jacob
Name: New First Name, dtype: object
1894    Miller
Name: New Last Name, dtype: object
Fred Jacob
Miller
+------------------+
1895    Jacob
Name: New First Name, dtype: object
1895    Miller
Name: New Last Name, dtype: object
George A
Baker
+------------------+
1422    George
Name: New First Name, dtype: object
1422    Baker
Name: New Last Name, dtype: object
William
Ball
+------------------+
1588    William
Name: New First Name, dtype: object
1588    Bale
Name: New Last Name, dtype: object
Peter
Rhoads
+------------------+
1637    Peter
Name: New First Name, dtype: object
1637    Rhoades
Name: New Last Name, dtype: object
John Noble
Cummings
+------------------+
1869    John
Name: New First Name, dtype: object
1869    Cummings
Name: New Last Name, dtype: object
James
Pery
+------------------+
1731    James
Name: New First Name, dtype: object
1731    Perry
Name: New Last Name, dtype: object
John Nic
Smith
+------------------+
1900    John
Name: New First Name, dtype: object
1900    Smith
Name: New Last Name, dtype: object
John
McWilliams
+------------------+
1458    John
Name: New First Name, dtype: object
1458    Williams
Name: New Last Name, dtype: object
John
Danlap
+------------------+
1902    John
Name: New First Name, dtype: object
1902    Dunlap
Name: New Last Name, dtype: object
John
Lendsay
+------------------+
1843    John
Name: New First Name, dtype: object
1843    Lindsay
Name: New Last Name, dtype: object
David
Romsey
+------------------+
1672    David
Name: New First Name, dtype: object
1672    Ramsey
Name: New Last Name, dtype: object

Adam
Whitman
+------------------+
1793    Adam
Name: New First Name, dtype: object
1793    Witman
Name: New Last Name, dtype: object
John Noble
Cummings
+------------------+
1869    John
Name: New First Name, dtype: object
1869    Cummings
Name: New Last Name, dtype: object
James
Thompson
+------------------+
1837    James
Name: New First Name, dtype: object
1837    Thomson
Name: New Last Name, dtype: object
Jonas
Phillips
+------------------+
1903    Jonas
Name: New First Name, dtype: object
1903    Philips
Name: New Last Name, dtype: object
Jonas
Phillips
+------------------+
1903    Jonas
Name: New First Name, dtype: object
1903    Philips
Name: New Last Name, dtype: object
Thomas
Wilson
+------------------+
1641    Thomas
Name: New First Name, dtype: object
1641    Willson
Name: New Last Name, dtype: object
Thomas
Wilson
+------------------+
1641    Thomas
Name: New First Name, dtype: object
1641    Willson
Name: New Last Name, dtype: object
Jonathan D
Sargeant
+------------------+
1823    Jonathan D.
Name: New First Name, dtype: object
1823    Sergeant
Name: New Last Name, dtype: object
Jonathan D
Sargeant
+------------------+
1823    Jonathan D.
Name: New First Name, dtype: object
1823    Sergeant
Name: New Last Name, dtype: object
Jonathan D
Sargeant
+------------------+
1823    Jonathan D.
Name: New First Name, dtype: object
1823    Sergeant
Name: New Last Name, dtype: object
Frederick
Smith
+------------------+
1384    Fredrick
Name: New First Name, dtype: object
1384    Smith
Name: New Last Name, dtype: object
Jonas
Phillips
+------------------+
1903    Jonas
Name: New First Name, dtype: object
1903    Philips
Name: New Last Name, dtype: object
John
Rhoads
+------------------+
1364    John
Name: New First Name, dtype: object
1364    Rhoades
Name: New Last Name, dtype: object
James
Thompson
+------------------+
1837    James
Name: New First Name, dtype: object
1837    Thomson
Name: New Last Name, dtype: object
James
Thompson
+------------------+
1837    James
Name: New First Name, dtype: object
1837    Thomson
Name: New Last Name, dtype: object
Matthew
Hinderson
+------------------+
1921    Matthew
Name: New First Name, dtype: object
1921    Henderson
Name: New Last Name, dtype: object
David
Wharry
+------------------+
1856    David
Name: New First Name, dtype: object
1856    Wherry
Name: New Last Name, dtype: object
John
McNeill
+------------------+
1861    John
Name: New First Name, dtype: object
1861    Neill
Name: New Last Name, dtype: object
John Nobel
Cummings
+------------------+
1870    John
Name: New First Name, dtype: object
1870    Cummings
Name: New Last Name, dtype: object
James
Thompson
+------------------+
1837    James
Name: New First Name, dtype: object
1837    Thomson
Name: New Last Name, dtype: object
James
Thompson
+------------------+
1837    James
Name: New First Name, dtype: object
1837    Thomson
Name: New Last Name, dtype: object
Joseph
Finlay
+------------------+
1094    Joseph
Name: New First Name, dtype: object
1094    Finley
Name: New Last Name, dtype: object
John
Copper
+------------------+
1929    John
Name: New First Name, dtype: object
1929    Cooper
Name: New Last Name, dtype: object
James
Mater
+------------------+
1512    James
Name: New First Name, dtype: object
1512    Mather
Name: New Last Name, dtype: object
Joseph
Deane
+------------------+
1849    Joseph
Name: New First Name, dtype: object
1849    Dean
Name: New Last Name, dtype: object
Adam
Schnieder
+------------------+
1938    Adam
Name: New First Name, dtype: object
1938    Schneider
Name: New Last Name, dtype: object
John
Krawson
+------------------+
1941    John
Name: New First Name, dtype: object
1941    Krewson
Name: New Last Name, dtype: object
Arthur
McFarlan
+------------------+
1919    Arthur
Name: New First Name, dtype: object
1919    McFarland
Name: New Last Name, dtype: object
Alexander
Browne
+------------------+
1943    Alexander
Name: New First Name, dtype: object
1943    Brown
Name: New Last Name, dtype: object
John
Nilson
+------------------+
1634    John
Name: New First Name, dtype: object
1634    Nelson
Name: New Last Name, dtype: object
Jaseph
Walker
+------------------+
1771    Joseph
Name: New First Name, dtype: object
1771    Walker
Name: New Last Name, dtype: object
Samuel
Futhy
+------------------+
1839    Samuel
Name: New First Name, dtype: object
1839    Futhey
Name: New Last Name, dtype: object
Matthew
Irwin
+------------------+
1893    Mathew
Name: New First Name, dtype: object
1893    Irwin
Name: New Last Name, dtype: object
Matthew
Irwin
+------------------+
1893    Mathew
Name: New First Name, dtype: object
1893    Irwin
Name: New Last Name, dtype: object
Matthew
Irwin
+------------------+
1893    Mathew
Name: New First Name, dtype: object
1893    Irwin
Name: New Last Name, dtype: object
Joseph
Walkar
+------------------+
1945    Joseph
Name: New First Name, dtype: object
1945    Walker
Name: New Last Name, dtype: object
Henry
Yager
+------------------+
1738    Henry
Name: New First Name, dtype: object
1738    Yeager
Name: New Last Name, dtype: object
William
Sharp
+------------------+
1490    William
Name: New First Name, dtype: object
1490    Sharpe
Name: New Last Name, dtype: object
John
Mongomery
+------------------+
1932    John
Name: New First Name, dtype: object
1932    Montgomery
Name: New Last Name, dtype: object
John
Mans
+------------------+
1933    John
Name: New First Name, dtype: object
1933    Man
Name: New Last Name, dtype: object
Peter
Leffertson
+------------------+
1462    Peter
Name: New First Name, dtype: object
1462    Lefferts
Name: New Last Name, dtype: object
James
Finlay
+------------------+
1540    James
Name: New First Name, dtype: object
1540    Finley
Name: New Last Name, dtype: object
Edward
Duffields
+------------------+
1934    Edward
Name: New First Name, dtype: object
1934    Duffield
Name: New Last Name, dtype: object
Gilliam
Cornwell
+------------------+
1440    Gilliam
Name: New First Name, dtype: object
1440    Cornell
Name: New Last Name, dtype: object
Andrew
Leng
+------------------+
1563    Andrew
Name: New First Name, dtype: object
1563    Long
Name: New Last Name, dtype: object
William
Leng
+------------------+
1857    William
Name: New First Name, dtype: object
1857    Long
Name: New Last Name, dtype: object
Andrew
Leng
+------------------+
1563    Andrew
Name: New First Name, dtype: object
1563    Long
Name: New Last Name, dtype: object
Thomas
Bears
+------------------+
1432    Thomas
Name: New First Name, dtype: object
1432    Byers
Name: New Last Name, dtype: object
Gilliam
Cornwell
+------------------+
1440    Gilliam
Name: New First Name, dtype: object
1440    Cornell
Name: New Last Name, dtype: object
Laurence
Johnson
+------------------+
1814    Lawrence
Name: New First Name, dtype: object
1814    Johnson
Name: New Last Name, dtype: object
John
Adam
+------------------+
1445    John
Name: New First Name, dtype: object
1445    Adams
Name: New Last Name, dtype: object
James
Read
+------------------+
1447    James
Name: New First Name, dtype: object
1447    Reed
Name: New Last Name, dtype: object
John
Adam
+------------------+
1445    John
Name: New First Name, dtype: object
1445    Adams
Name: New Last Name, dtype: object
Abraham
Brewer
+------------------+
1449    Abraham
Name: New First Name, dtype: object
1449    Brower
Name: New Last Name, dtype: object
Laurence
Johnson
+------------------+
1814    Lawrence
Name: New First Name, dtype: object
1814    Johnson
Name: New Last Name, dtype: object
Abraham
Brewer
+------------------+
1449    Abraham
Name: New First Name, dtype: object
1449    Brower
Name: New Last Name, dtype: object
John
McWilliams
+------------------+
1458    John
Name: New First Name, dtype: object
1458    Williams
Name: New Last Name, dtype: object
Peter
Leffertson
+------------------+
1462    Peter
Name: New First Name, dtype: object
1462    Lefferts
Name: New Last Name, dtype: object
Philip
Dick
+------------------+
1799    Philip
Name: New First Name, dtype: object
1799    Duck
Name: New Last Name, dtype: object
John
Wynkoop
+------------------+
1469    John
Name: New First Name, dtype: object
1469    Wyncoop
Name: New Last Name, dtype: object
Valentine
Venholt
+------------------+
1463    Valentine
Name: New First Name, dtype: object
1463    Vanholt
Name: New Last Name, dtype: object
Valentine
Vinholt
+------------------+
1466    Valentine
Name: New First Name, dtype: object
1466    Vanholt
Name: New Last Name, dtype: object
Henry
Houts
+------------------+
1461    Henry
Name: New First Name, dtype: object
1461    Houtz
Name: New Last Name, dtype: object

John
Robert
+------------------+
1515    John
Name: New First Name, dtype: object
1515    Roberts
Name: New Last Name, dtype: object
John
Rhoads
+------------------+
1364    John
Name: New First Name, dtype: object
1364    Rhoades
Name: New Last Name, dtype: object
Henry
Copper
+------------------+
1545    Henry
Name: New First Name, dtype: object
1545    Cooper
Name: New Last Name, dtype: object
John
Mcdonald
+------------------+
1546    John
Name: New First Name, dtype: object
1546    McDonald
Name: New Last Name, dtype: object
Philip
Marstetler
+------------------+
1548    Philip
Name: New First Name, dtype: object
1548    Marsteller
Name: New Last Name, dtype: object
Robert
McCluer
+------------------+
1560    Robert
Name: New First Name, dtype: object
1560    McClure
Name: New Last Name, dtype: object
James
Irwin
+------------------+
1088    James
Name: New First Name, dtype: object
1088    Erwin
Name: New Last Name, dtype: object
Peter
Whiteside
+------------------+
1567    Peter
Name: New First Name, dtype: object
1567    Whitesides
Name: New Last Name, dtype: object
Peter
Whiteside
+------------------+
1567    Peter
Name: New First Name, dtype: object
1567    Whitesides
Name: New Last Name, dtype: object
George A
Baker
+------------------+
1422    George
Name: New First Name, dtype: object
1422    Baker
Name: New Last Name, dtype: object
James
Connor
+------------------+
1582    James
Name: New First Name, dtype: object
1582    Conner
Name: New Last Name, dtype: object
Wiliam
Scott
+------------------+
1597    William
Name: New First Name, dtype: object
1597    Scott
Name: New Last Name, dtype: object
James
Galbraith
+------------------+
1113    James
Name: New First Name, dtype: object
1113    Galbreath
Name: New Last Name, dtype: object
William
Krikpatrick
+------------------+
1318    William
Name: New First Name, dtype: object
1318    Kirkpatrick
Name: New Last Name, dtype: object
John
Tompson
+------------------+
1609    John
Name: New First Name, dtype: object
1609    Thompson
Name: New Last Name, dtype: object
John
Mill
+------------------+
1807    John
Name: New First Name, dtype: object
1807    Mills
Name: New Last Name, dtype: object
James
Finlay
+------------------+
1540    James
Name: New First Name, dtype: object
1540    Finley
Name: New Last Name, dtype: object
John
Mill
+------------------+
1807    John
Name: New First Name, dtype: object
1807    Mills
Name: New Last Name, dtype: object
James
Thompson
+------------------+
1837    James
Name: New First Name, dtype: object
1837    Thomson
Name: New Last Name, dtype: object
James
Thompson
+------------------+
1837    James
Name: New First Name, dtype: object
1837    Thomson
Name: New Last Name, dtype: object
Peter
Kachline
+------------------+
1621    Peter
Name: New First Name, dtype: object
1621    Kachlein
Name: New Last Name, dtype: object
Andrew
Kachline
+------------------+
1577    Andrew
Name: New First Name, dtype: object
1577    Kachlein
Name: New Last Name, dtype: object
John
Horner
+------------------+
1622    John
Name: New First Name, dtype: object
1622    Herner
Name: New Last Name, dtype: object
John
Horner
+------------------+
1622    John
Name: New First Name, dtype: object
1622    Herner
Name: New Last Name, dtype: object
John
Horner
+------------------+
1622    John
Name: New First Name, dtype: object
1622    Herner
Name: New Last Name, dtype: object
David
Jenkin
+------------------+
1623    David
Name: New First Name, dtype: object
1623    Jenkins
Name: New Last Name, dtype: object
Matthew
Irwin
+------------------+
1893    Mathew
Name: New First Name, dtype: object
1893    Irwin
Name: New Last Name, dtype: object
Matthew
Irwin
+------------------+
1893    Mathew
Name: New First Name, dtype: object
1893    Irwin
Name: New Last Name, dtype: object
Matthew
Irwin
+------------------+
1893    Mathew
Name: New First Name, dtype: object
1893    Irwin
Name: New Last Name, dtype: object
Matthew
Irwin
+------------------+
1893    Mathew
Name: New First Name, dtype: object
1893    Irwin
Name: New Last Name, dtype: object
Radolph
Miller
+------------------+
1644    Rudolph
Name: New First Name, dtype: object
1644    Miller
Name: New Last Name, dtype: object
William
Deane
+------------------+
1518    William
Name: New First Name, dtype: object
1518    Dean
Name: New Last Name, dtype: object
William
Stadlerman
+------------------+
1658    William
Name: New First Name, dtype: object
1658    Stadleman
Name: New Last Name, dtype: object
William
Woods
+------------------+
1653    William
Name: New First Name, dtype: object
1653    Wood
Name: New Last Name, dtype: object
Jacob
Sarver
+------------------+
1674    Jacob
Name: New First Name, dtype: object
1674    Sorver
Name: New Last Name, dtype: object
John
Gallaher Esq
+------------------+
1119    John
Name: New First Name, dtype: object
1119    Gallaher
Name: New Last Name, dtype: object
Mark
Wilcox
+------------------+
1416    Mark
Name: New First Name, dtype: object
1416    Willcox
Name: New Last Name, dtype: object
Mark
Wilcox
+------------------+
1416    Mark
Name: New First Name, dtype: object
1416    Willcox
Name: New Last Name, dtype: object
Henry
Foox
+------------------+
1699    Henry
Name: New First Name, dtype: object
1699    Fox
Name: New Last Name, dtype: object
Jones
Ingham
+------------------+
1700    Jonas
Name: New First Name, dtype: object
1700    Ingham
Name: New Last Name, dtype: object
Laurence
Johnson
+------------------+
1814    Lawrence
Name: New First Name, dtype: object
1814    Johnson
Name: New Last Name, dtype: object
Patrick
Browne
+------------------+
791    Patrick
Name: New First Name, dtype: object
791    Brown
Name: New Last Name, dtype: object
John
Mill
+------------------+
1807    John
Name: New First Name, dtype: object
1807    Mills
Name: New Last Name, dtype: object
John
Mill
+------------------+
1807    John
Name: New First Name, dtype: object
1807    Mills
Name: New Last Name, dtype: object
Jonas
Phillips
+------------------+
1903    Jonas
Name: New First Name, dtype: object
1903    Philips
Name: New Last Name, dtype: object
Jonas
Phillips
+------------------+
1903    Jonas
Name: New First Name, dtype: object
1903    Philips
Name: New Last Name, dtype: object
Jonas
Phillips
+------------------+
1903    Jonas
Name: New First Name, dtype: object
1903    Philips
Name: New Last Name, dtype: object
John
Brook
+------------------+
1729    John
Name: New First Name, dtype: object
1729    Brooks
Name: New Last Name, dtype: object
James
Jacks
+------------------+
1559    James
Name: New First Name, dtype: object
1559    Jack
Name: New Last Name, dtype: object
Jonas
Phillips
+------------------+
1903    Jonas
Name: New First Name, dtype: object
1903    Philips
Name: New Last Name, dtype: object
Peter
Browne
+------------------+
1740    Peter
Name: New First Name, dtype: object
1740    Brown
Name: New Last Name, dtype: object
Peter
Browne
+------------------+
1740    Peter
Name: New First Name, dtype: object
1740    Brown
Name: New Last Name, dtype: object
Peter
Browne
+------------------+
1740    Peter
Name: New First Name, dtype: object
1740    Brown
Name: New Last Name, dtype: object
Allan
Jack
+------------------+
1741    Allen
Name: New First Name, dtype: object
1741    Jack
Name: New Last Name, dtype: object
Michael
Lay
+------------------+
1749    Michael
Name: New First Name, dtype: object
1749    Ley
Name: New Last Name, dtype: object
Peter
Leffert
+------------------+
1631    Peter
Name: New First Name, dtype: object
1631    Lefferts
Name: New Last Name, dtype: object
John
Simon
+------------------+
1762    John
Name: New First Name, dtype: object
1762    Simons
Name: New Last Name, dtype: object
Peter
Richard
+------------------+
1615    Peter
Name: New First Name, dtype: object
1615    Richards
Name: New Last Name, dtype: object
Robert W
Laughlin
+------------------+
1541    Robert
Name: New First Name, dtype: object
1541    Laughlin
Name: New Last Name, dtype: object
Peter
Dehaevn
+------------------+
1789    Peter
Name: New First Name, dtype: object
1789    Dehaven
Name: New Last Name, dtype: object
Thomas
Bill
+------------------+
1790    Thomas
Name: New First Name, dtype: object
1790    Bell
Name: New Last Name, dtype: object
James
Thompson
+------------------+
1837    James
Name: New First Name, dtype: object
1837    Thomson
Name: New Last Name, dtype: object
James
Thompson
+------------------+
1837    James
Name: New First Name, dtype: object
1837    Thomson
Name: New Last Name, dtype: object
Thomas
Lindsay
+------------------+
1752    Thomas
Name: New First Name, dtype: object
1752    Lindsey
Name: New Last Name, dtype: object
James
Thompson
+------------------+
1837    James
Name: New First Name, dtype: object
1837    Thomson
Name: New Last Name, dtype: object
William O.
Smith
+------------------+
1805    William
Name: New First Name, dtype: object
1805    Smith
Name: New Last Name, dtype: object
George W
Campbell
+------------------+
1806    George
Name: New First Name, dtype: object
1806    Campbell
Name: New Last Name, dtype: object
Jonas
Phillips
+------------------+
1903    Jonas
Name: New First Name, dtype: object
1903    Philips
Name: New Last Name, dtype: object
Henry
Zanick
+------------------+
1812    Henry
Name: New First Name, dtype: object
1812    Zanck
Name: New Last Name, dtype: object
Jonas
Phillips
+------------------+
1903    Jonas
Name: New First Name, dtype: object
1903    Philips
Name: New Last Name, dtype: object
James
Finlay
+------------------+
1540    James
Name: New First Name, dtype: object
1540    Finley
Name: New Last Name, dtype: object
David
Rumsey
+------------------+
1817    David
Name: New First Name, dtype: object
1817    Ramsey
Name: New Last Name, dtype: object
William
Sharp
+------------------+
1490    William
Name: New First Name, dtype: object
1490    Sharpe
Name: New Last Name, dtype: object
Peter
Leffertson
+------------------+
1462    Peter
Name: New First Name, dtype: object
1462    Lefferts
Name: New Last Name, dtype: object

William
Sharpe
+------------------+
1489    William
Name: New First Name, dtype: object
1489    Sharp
Name: New Last Name, dtype: object
Joseph
Ferre
+------------------+
1830    Joseph
Name: New First Name, dtype: object
1830    Ferree
Name: New Last Name, dtype: object
John
Coburne
+------------------+
1751    John
Name: New First Name, dtype: object
1751    Coburn
Name: New Last Name, dtype: object
William
Herper
+------------------+
1832    William
Name: New First Name, dtype: object
1832    Harper
Name: New Last Name, dtype: object
John Tin.
Brooke
+------------------+
1835    John
Name: New First Name, dtype: object
1835    Brooke
Name: New Last Name, dtype: object
Samuel
Futhey
+------------------+
1840    Samuel
Name: New First Name, dtype: object
1840    Futhy
Name: New Last Name, dtype: object
Jonas
Phillips
+------------------+
1903    Jonas
Name: New First Name, dtype: object
1903    Philips
Name: New Last Name, dtype: object
Philip
Dick
+------------------+
1799    Philip
Name: New First Name, dtype: object
1799    Duck
Name: New Last Name, dtype: object
ElIjah
Davis
+------------------+
1844    Elijah
Name: New First Name, dtype: object
1844    Davis
Name: New Last Name, dtype: object
Laurence
Johnson
+------------------+
1814    Lawrence
Name: New First Name, dtype: object
1814    Johnson
Name: New Last Name, dtype: object
Robert
Willkin
+------------------+
1409    Robert
1668    Robert
Name: New First Name, dtype: object
1409    Wilkins
1668     Wilkin
Name: New Last Name, dtype: object
Robert
Wilkin
+------------------+
1407    Robert
Name: New First Name, dtype: object
1407    Wilkins
Name: New Last Name, dtype: object
Robert
Wilking
+------------------+
1410    Robert
1669    Robert
Name: New First Name, dtype: object
1410    Wilkins
1669     Wilkin
Name: New Last Name, dtype: object
Joseph
Deane
+------------------+
1849    Joseph
Name: New First Name, dtype: object
1849    Dean
Name: New Last Name, dtype: object
Henry
Leinbacher
+------------------+
1777    Henry
Name: New First Name, dtype: object
1777    Leinbach
Name: New Last Name, dtype: object
Arth
McClure
+------------------+
1678    Arthur
Name: New First Name, dtype: object
1678    McClure
Name: New Last Name, dtype: object
Arth
McClure
+------------------+
1678    Arthur
Name: New First Name, dtype: object
1678    McClure
Name: New Last Name, dtype: object
William
Leng
+------------------+
1857    William
Name: New First Name, dtype: object
1857    Long
Name: New Last Name, dtype: object
Evan R
Evans
+------------------+
1089    Evan
Name: New First Name, dtype: object
1089    Evans
Name: New Last Name, dtype: object
John
Ronge
+------------------+
1842    John
Name: New First Name, dtype: object
1842    Range
Name: New Last Name, dtype: object
Robert L
Correy
+------------------+
1859    Robert
Name: New First Name, dtype: object
1859    Correy
Name: New Last Name, dtype: object
Philip
Tauner
+------------------+
1753    Philip
Name: New First Name, dtype: object
1753    Tanner
Name: New Last Name, dtype: object
Samuel
Groff
+------------------+
1788    Samuel
Name: New First Name, dtype: object
1788    Graff
Name: New Last Name, dtype: object
Samuel
Groff
+------------------+
1788    Samuel
Name: New First Name, dtype: object
1788    Graff
Name: New Last Name, dtype: object
Richard
Britton
+------------------+
1879    Richard
Name: New First Name, dtype: object
1879    Brittain
Name: New Last Name, dtype: object
John
Kreeson
+------------------+
1881    John
Name: New First Name, dtype: object
1881    Krewson
Name: New Last Name, dtype: object
John
Wynkoop
+------------------+
1469    John
Name: New First Name, dtype: object
1469    Wyncoop
Name: New Last Name, dtype: object
Peter
Duck
+------------------+
1885    Peter
Name: New First Name, dtype: object
1885    Dick
Name: New Last Name, dtype: object
John
Calhoun
+------------------+
824    John
Name: New First Name, dtype: object
824    Calhoon
Name: New Last Name, dtype: object
William
Benett
+------------------+
1739    William
Name: New First Name, dtype: object
1739    Bennett
Name: New Last Name, dtype: object
Geroge
Troutman
+------------------+
1898    George
Name: New First Name, dtype: object
1898    Troutman
Name: New Last Name, dtype: object
James
Jacks
+------------------+
1559    James
Name: New First Name, dtype: object
1559    Jack
Name: New Last Name, dtype: object
John
Mill
+------------------+
1807    John
Name: New First Name, dtype: object
1807    Mills
Name: New Last Name, dtype: object
John
Dunlop
+------------------+
1562    John
Name: New First Name, dtype: object
1562    Dunlap
Name: New Last Name, dtype: object
Robert
McMahan
+------------------+
1748    Robert
Name: New First Name, dtype: object
1748    Mahan
Name: New Last Name, dtype: object
Thomas
Sherer
+------------------+
1908    Thomas
Name: New First Name, dtype: object
1908    Shearer
Name: New Last Name, dtype: object
David
Chamber
+------------------+
1833    David
Name: New First Name, dtype: object
1833    Chambers
Name: New Last Name, dtype: object
Jacob
Niff
+------------------+
1909    Jacob
Name: New First Name, dtype: object
1909    Neff
Name: New Last Name, dtype: object
William
Roger
+------------------+
1910    William
Name: New First Name, dtype: object
1910    Rogers
Name: New Last Name, dtype: object
John
Kroesen
+------------------+
1912    John
Name: New First Name, dtype: object
1912    Kroeson
Name: New Last Name, dtype: object
John
Mitchel
+------------------+
1913    John
Name: New First Name, dtype: object
1913    Mitchell
Name: New Last Name, dtype: object
Adam
Shoffer
+------------------+
1914    Adam
1915    Adam
Name: New First Name, dtype: object
1914    Shaffer
1915    Sheffer
Name: New Last Name, dtype: object
John
Rhoads
+------------------+
1364    John
Name: New First Name, dtype: object
1364    Rhoades
Name: New Last Name, dtype: object
Robert
Carrey
+------------------+
1758    Robert
Name: New First Name, dtype: object
1758    Currey
Name: New Last Name, dtype: object
John
Fretz
+------------------+
1916    John
Name: New First Name, dtype: object
1916    Fritz
Name: New Last Name, dtype: object
John
Fretz
+------------------+
1916    John
Name: New First Name, dtype: object
1916    Fritz
Name: New Last Name, dtype: object
David
Fester
+------------------+
1847    David
Name: New First Name, dtype: object
1847    Foster
Name: New Last Name, dtype: object
John
Jordon
+------------------+
1465    John
Name: New First Name, dtype: object
1465    Jordan
Name: New Last Name, dtype: object
John
Jorden
+------------------+
1920    John
Name: New First Name, dtype: object
1920    Jordan
Name: New Last Name, dtype: object
Jonas
Phillips
+------------------+
1903    Jonas
Name: New First Name, dtype: object
1903    Philips
Name: New Last Name, dtype: object
Jonas
Phillips
+------------------+
1903    Jonas
Name: New First Name, dtype: object
1903    Philips
Name: New Last Name, dtype: object
Jacob
Wontz
+------------------+
1939    Jacob
Name: New First Name, dtype: object
1939    Wentz
Name: New Last Name, dtype: object
John
Luine
+------------------+
1942    John
Name: New First Name, dtype: object
1942    Line
Name: New Last Name, dtype: object
Adam
Schnider
+------------------+
1936    Adam
Name: New First Name, dtype: object
1936    Schneider
Name: New Last Name, dtype: object
Matthew
Irwin
+------------------+
1893    Mathew
Name: New First Name, dtype: object
1893    Irwin
Name: New Last Name, dtype: object
John
Dunlop
+------------------+
1562    John
Name: New First Name, dtype: object
1562    Dunlap
Name: New Last Name, dtype: object
William L
Weems
+------------------+
766    William
Name: New First Name, dtype: object
766    Weems
Name: New Last Name, dtype: object
Joseph
Dowson
+------------------+
788    Joseph
Name: New First Name, dtype: object
788    Dawson
Name: New Last Name, dtype: object
Williams
Johnson
+------------------+
769    William
Name: New First Name, dtype: object
769    Johnson
Name: New Last Name, dtype: object
Williams
Johnson
+------------------+
769    William
Name: New First Name, dtype: object
769    Johnson
Name: New Last Name, dtype: object
Thomas M
Williams
+------------------+
777    Thomas
Name: New First Name, dtype: object
777    Williams
Name: New Last Name, dtype: object
Richard
Bernes
+------------------+
765    Richard
Name: New First Name, dtype: object
765    Barnes
Name: New Last Name, dtype: object
John A
Thomas
+------------------+
782    John
Name: New First Name, dtype: object
782    Thomas
Name: New Last Name, dtype: object
Thomas
Witkins
+------------------+
784    Thomas
Name: New First Name, dtype: object
784    Watkins
Name: New Last Name, dtype: object
John A
Thomas
+------------------+
782    John
Name: New First Name, dtype: object
782    Thomas
Name: New Last Name, dtype: object
Sabrett
Sollars
+------------------+
790    Sabret
Name: New First Name, dtype: object
790    Sollars
Name: New Last Name, dtype: object

John G
Frazier
+------------------+
792    John
Name: New First Name, dtype: object
792    Frazier
Name: New Last Name, dtype: object
John G
Frazier
+------------------+
792    John
Name: New First Name, dtype: object
792    Frazier
Name: New Last Name, dtype: object
John G
Frazier
+------------------+
792    John
Name: New First Name, dtype: object
792    Frazier
Name: New Last Name, dtype: object
Richard B
Hall
+------------------+
487    Richard
Name: New First Name, dtype: object
487    Hall
Name: New Last Name, dtype: object
Richard B
Hall
+------------------+
487    Richard
Name: New First Name, dtype: object
487    Hall
Name: New Last Name, dtype: object
Richard B
Hall
+------------------+
487    Richard
Name: New First Name, dtype: object
487    Hall
Name: New Last Name, dtype: object
Joseph
Dowson
+------------------+
788    Joseph
Name: New First Name, dtype: object
788    Dawson
Name: New Last Name, dtype: object
Richard
Parther
+------------------+
797    Richard
Name: New First Name, dtype: object
797    Prather
Name: New Last Name, dtype: object
Richard B
Hall
+------------------+
487    Richard
Name: New First Name, dtype: object
487    Hall
Name: New Last Name, dtype: object
Hugh
Mcbride
+------------------+
799    Hugh
Name: New First Name, dtype: object
799    McBride
Name: New Last Name, dtype: object
Nicholas
Werthington
+------------------+
776    Nicholas
Name: New First Name, dtype: object
776    Worthington
Name: New Last Name, dtype: object
Joseph
Dowson
+------------------+
788    Joseph
Name: New First Name, dtype: object
788    Dawson
Name: New Last Name, dtype: object
Joseph
Dowson
+------------------+
788    Joseph
Name: New First Name, dtype: object
788    Dawson
Name: New Last Name, dtype: object
Joseph
Dowson
+------------------+
788    Joseph
Name: New First Name, dtype: object
788    Dawson
Name: New Last Name, dtype: object
Robert
Adam
+------------------+
771    Robert
Name: New First Name, dtype: object
771    Adams
Name: New Last Name, dtype: object
Robert
Adam
+------------------+
771    Robert
Name: New First Name, dtype: object
771    Adams
Name: New Last Name, dtype: object
Robert
Adam
+------------------+
771    Robert
Name: New First Name, dtype: object
771    Adams
Name: New Last Name, dtype: object
Richard B
Hall
+------------------+
487    Richard
Name: New First Name, dtype: object
487    Hall
Name: New Last Name, dtype: object

In [94]:
agg_debt.to_csv('data/final_agg_debt_cleaned.csv')