# CLEAN LOAN CERTIFICATES

In [1]:
import numpy as np
import pandas as pd
import math
import spacy
import re

In [2]:
delegates_og = pd.read_excel("Data/Delegates/constitutional_convention_1787.xlsx", header = 2)
delegates = delegates_og.copy()

In [3]:
#fix second last name in parentheses
#fitzsimons and fitzSimons are the same because we dont care abt caps

In [4]:
print("dimensions:", delegates.shape)
last_name_2 = delegates[delegates['last name'].apply(lambda x: "(" in x)].index
delegates[delegates['last name'].apply(lambda x: "(" in x)]

dimensions: (55, 4)

   first name                              last name          state sign?
2      Oliver                   Ellsworth (Elsworth)    Connecticut    no
24      David                     Brearly (Brearley)     New Jersey   yes
25    William                   Paterson (Patterson)     New Jersey   yes
40     Thomas   Fitzsimons (FitzSimons; Fitzsimmons)   Pennsylvania   yes

In [5]:
#cleaning parentheses
delegates['last name 2'] = pd.Series()
delegates['last name'].loc[40] = "Fitzsimons (Fitzsimmons)"
delegates['last name 2'].loc[last_name_2] = delegates['last name'][last_name_2].apply(lambda x: x[x.find("(")+1:x.find(")")])
delegates['last name 2'].loc[last_name_2]

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

2        Elsworth
24       Brearley
25      Patterson
40    Fitzsimmons
Name: last name 2, dtype: object

In [6]:
delegates = delegates[['first name', 'last name', 'last name 2', 'state', 'sign?']]
#delegates

## Handle Loan Office Certificates from the 9 States

In [7]:
loans_og = pd.read_excel("Data/Pre1790/loan_office_certificates_9_states.xlsx")
loans = loans_og.copy()

In [8]:
loans['Title 3'] = pd.Series()
loans['First Name 3'] = pd.Series()
loans['Last Name 3'] = pd.Series()

In [9]:
loans['notes'] = pd.Series()
loans['original text'] = pd.Series()

In [10]:
loans.columns

Index(['State', 'Year', 'Month', 'Day', 'Title 1', 'First Name 1 ',
       'Last Name 1 ', 'Title 2', 'First Name 2', 'Last Name 2', 'Face Value',
       'Specie Value ', 'Title 3', 'First Name 3', 'Last Name 3', 'notes',
       'original text'],
      dtype='object')

In [11]:
loans = loans[list(loans.columns[:10]) + list(loans.columns[12:15]) + list(loans.columns[10:12]) + ['notes','original text']]

In [12]:
def betterIsNan(x):
    try: 
        return math.isnan(x)
    except:
        return False

In [13]:
print("checking if there are any columns with valid last name 1 and first name 2")
any([betterIsNan(x) and betterIsNan(y) and not betterIsNan(w) and not betterIsNan(z) for w, x, y, z in zip(loans['First Name 1 '], loans['Last Name 1 '], loans['First Name 2'], loans['Last Name 2'])])

checking if there are any columns with valid last name 1 and first name 2

False

In [14]:
print("checking if there are any columns with valid last name 2 and first name 1")
any([betterIsNan(w) and betterIsNan(z) and not betterIsNan(x) and not betterIsNan(y) for w, x, y, z in zip(loans['First Name 1 '], loans['Last Name 1 '], loans['First Name 2'], loans['Last Name 2'])])

checking if there are any columns with valid last name 2 and first name 1

False

In [15]:
def replaceStrings(x):
    try:
        return x.replace("  ", " ")
    except:
        return x

In [16]:
loans['First Name 1 '] = loans['First Name 1 '].apply(lambda x: replaceStrings(x))

In [17]:
# get rid of entries where there is nothing for first name 1/2, last name 1/2

In [18]:
no_first_name = loans[loans['First Name 1 '].apply(betterIsNan)]
#no_first_name

In [19]:
remove_indices = dict()
remove_indices['no_first_name'] = no_first_name[no_first_name['Last Name 1 '].apply(betterIsNan)].index.tolist()
#no_first_name.loc[remove_indices['no_first_name']]

In [20]:
#last name column is null
no_last_name = loans[loans['Last Name 1 '].apply(betterIsNan)]
#removing overlaps with the no first name column
no_last_name = no_last_name.loc[[x not in set(no_last_name.index).intersection(no_first_name.index) for x in no_last_name.index]]
#no_last_name

In [21]:
def lenGreaterOne(x):
    try: 
        return len(x.split(" ")) > 1 
    except: 
        return False

In [22]:
#clean entries where last name 1 is missing, first name 1 is only one word

In [23]:
one_word_first = no_last_name[no_last_name['First Name 1 '].apply(lambda x: not lenGreaterOne(x))]
remove_indices['one_word_first'] = one_word_first.index.tolist()
#one_word_first.loc[remove_indices['one_word_first']]

In [24]:
# clean entries where there is no last name and the first name is more than one character - follow steps below

In [25]:
weird_first_names = no_last_name[no_last_name['First Name 1 '].apply(lambda x: lenGreaterOne(x))]

<h2> Handle Corrections of Executors </h2>

How do we want to consider executors? Are they irrelevant (ie: do we only care about the person who they are executing for, or do we also care about them - and just add a note saying "executor")? 

Empirically, what interest do the executors have? They probably don't have any direct financial interest in the debt but there could definitely be incentives for them to be interested in the stability of the debt, such as shared business interests, desire to properly help execute a will etc?

What do we do when we cannot properly identify executors? Or trustees?

In [26]:
#I use the title executor to generaly indicate someone keeping money for another - could also be trustee etc

In [27]:
#trend below - if its Executors just get Atkinsons
#if its David Mackey and Debt Executor just do David Mackey
#for jacob lentz and phillip fisher lentz I kept jacob fisher and removed philip lentz
#there are records for jacob fisher being a soldier but no records for philip lentz
#otherwise find the word "to" or "of" and get the name right after that

In [28]:
executor = weird_first_names[weird_first_names['First Name 1 '].apply(lambda x: "exec" in x.lower() or "executor" in x.lower() or "ex." in x.lower())]
executor.shape

(40, 17)

In [29]:
#executor['First Name 1 '].unique().tolist()

In [30]:
for x in executor.loc[[39712, 39713, 40030]]['First Name 1 ']:
    print(x)

Robert Morris and John Simon executor to the estate of
Robert Morris and John Simon executor to the estate of
Robert Morris and John Simon executor to the estate of R Gerraty

In [31]:
executor_names = executor['First Name 1 ']
#handle special cases
executor_names = executor_names.replace("Atkinsons Executors", "Atkinsons")
executor_names = executor_names.replace("David Mackey and Debt Executor", "David Mackey")
executor_names = executor_names.replace("Jacob Fisher Philip Lentz Ex.", "Jacob Fisher")
executor_names = executor_names.replace("Robert Morris and John Simon executor to the estate of", "Robert Morris and John Simon executor to the estate of R Gerraty")
spec_status_names = ("David Mackey", "Atkinsons", "Jacob Fisher", "Robert Morris") 
#find string after the words to or of
post_of = executor_names.apply(lambda x: x[x.lower().find(' to '):] if x not in spec_status_names else x)
post_to = executor_names.apply(lambda x: x[x.lower().find(' of '):] if x not in spec_status_names else x)
#merge results
pre_processing_executor_names = pd.Series(x if len(x) >= len(y) else y for x, y in zip(post_of, post_to))
#remove stop words
pre_processing_executor_names = pre_processing_executor_names.apply(lambda x: x.replace("to", "").replace("To", "").replace("of", "").replace("Of"," ").strip())
pre_processing_executor_names = pre_processing_executor_names.apply(lambda x: x.replace("the", "").replace("  ", " ").strip())
pre_processing_executor_names.unique()

array(['Sam Hasting', 'B Winchester', 'Will Thomas Hubbard Esq deceased',
       'Benj Winchester', 'estate R Gerraty',
       'estate Jacob Carver Deceased', 'Stephen Boyd', 'David Mackey',
       'Leon Ampach', 'Conaard Teulps', 'Estale Ju Eighter',
       'Jacob Fisher', 'Mat Mease and Co.', 'Jacob Calvert',
       'Christ V. Cross', 'Atkinsons'], dtype=object)

In [32]:
nlp = spacy.load("en_core_web_sm")
executor_names = dict()
for entity in set(pre_processing_executor_names):
    doc = nlp(entity)
    if len(doc.ents) == 1:
        ent = doc.ents[0]
        if ent.label_ == "PERSON":
            executor_names[entity] = ent.text
        elif ent.label == "ORG":
            executor_names[entity] = ent.text
        else:
            executor_names[entity] = entity
    else:
        executor_names[entity] = entity

        executor_names['estate Jacob Carver Deceased'] = 'Jacob Carver'

In [33]:
#executor_names

In [34]:
executor_names['estate R Gerraty'] = 'R Gerraty'
executor_names['Will Thomas Hubbard Esq deceased'] = 'Will Thomas Hubbard'
executor_names['Mat Mease and Co.'] = 'Mat Mease'
post_processing_executor_names = [executor_names[x] for x in pre_processing_executor_names]
post_processing_executor_index = executor['First Name 1 '].index
#post_processing_executor_names

In [35]:
#changing recipient of all the money
executor['original text'] = executor['First Name 1 '].copy()
executor['First Name 1 '] = post_processing_executor_names
executor['Last Name 1 '] = [x.split(" ")[-1] for x in executor['First Name 1 ']]
executor['First Name 1 '] = [" ".join(x.split(" ")[:-1]) for x in executor['First Name 1 ']]
#executor

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [36]:
executor_names = executor['original text']
#handle special cases
executor_names = executor_names.replace("Atkinsons Executors", "")
executor_names = executor_names.replace("David Mackey and Debt Executor", "David Mackey")
executor_names = executor_names.replace("Jacob Fisher Philip Lentz Ex.", "Philip Lentz")
executor_names = executor_names.replace("Robert Morris and John Simon executor to the estate of", "Robert Morris and John Simon")
executor_names = executor_names.replace("William Allison Ex. Of Mat Mease and Co.", "William Allison")
spec_status_names = ("David Mackey", "", "Philip Lentz", "Robert Morris and John Simon", "William Allison") 
#find string after the words to or of
post_exec = executor_names.apply(lambda x: x[:x.lower().find(' exec')] if x not in spec_status_names else x)
post_exec_to = executor_names.apply(lambda x: x[:x.lower().find(' to')] if x not in spec_status_names else x)
#merge results
pre_processing_executors = pd.Series(x if len(x) < len(y) else y for x, y in zip(post_exec, post_exec_to)).apply(lambda x: x.replace("Ex.", "").strip())
#remove stop words
#pre_processing_executors

In [37]:
names1 = []
names2 = []
for name in pre_processing_executors:
    names = name.split("and")
    if len(names) > 1:
        names1.append(names[0].strip())
        names2.append(names[1].strip())
    else:
        names2.append(np.nan)
        names1.append(name.strip())
print(names1)
print(names2)

['Sam Austin', 'Benj Allen', 'Joseph Allen', 'William B', 'William B', 'William B', 'William B', 'William B', 'William B', 'William B', 'William B', 'William B', 'William B', 'To Allen', 'To Allen', 'Robert Morris', 'Robert Morris', 'Robert Morris', 'Isaac Roush', 'John Edwards', 'David Mackey', 'David Mackey', 'George Liller', 'George Kelcher', 'George Kelcher', 'John Penny Cacker', 'Philip Lentz', 'Philip Lentz', 'Philip Lentz', 'William Allison', 'William Allison', 'Isaac Rauch', 'Jacob Fisher', 'John Edwards', '', '', '', '', '', '']
[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'John Simon', 'John Simon', 'John Simon', 'Mary Utrey', nan, nan, nan, nan, 'Peter Sherer', 'Peter Sherer', nan, nan, nan, nan, nan, nan, 'Mary Sallie', 'Chris Lentz', nan, nan, nan, nan, nan, nan, nan]

In [38]:
#changing recipient of all the money
executor['First Name 2'] = names1
executor['Last Name 2'] = [x.split(" ")[-1] if x != '' else x for x in executor['First Name 2'] ]
executor['First Name 2'] = [" ".join(x.split(" ")[:-1]) if x != '' else x for x in executor['First Name 2'] ]
executor['Title 2'] = ["executor" if x != '' else np.nan for x in executor['First Name 2']]

executor['First Name 3'] = names2
executor['Last Name 3'] = [x.split(" ")[-1]  if not pd.isnull(x) else x for x in executor['First Name 3']]
executor['First Name 3'] = [" ".join(x.split(" ")[:-1])  if not pd.isnull(x) else x for x in executor['First Name 3']]
executor['First Name 2'] = [" ".join(x.split(" ")[:-1]) if x != '' else x for x in executor['First Name 2'] ]
executor['Title 3'] = ["executor" if not pd.isnull(x) else np.nan for x in executor['First Name 3']]
#executor

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [39]:
executor['notes'][[x == "Jacob" and y == "Carver" for x, y in zip(executor['First Name 1 '], executor['Last Name 1 '])]] = "Deceased, Estate"
executor['notes'][[x == "R" and y == "Gerraty" for x, y in zip(executor['First Name 1 '], executor['Last Name 1 '])]] = "Estate"
executor['notes'][[x == "Will Thomas" and y == "Hubbard" for x, y in zip(executor['First Name 1 '], executor['Last Name 1 '])]] = "Deceased"

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:9114: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

<h3> Modify weird_first_names to include corrections </h3>

In [40]:
#make adjustments here
weird_first_names.loc[executor.index] = executor

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [41]:
executor_cleaned = weird_first_names.loc[executor.index]
filter_out_names = executor_cleaned.index.tolist()
#executor_cleaned

In [42]:
#trend below - if its two and's deal with first case below
#if its two &'s deal with second case below
#otherwise just split the names

In [43]:
two_names = weird_first_names[weird_first_names['First Name 1 '].apply(lambda x: ("&" in x or " and " in x.lower()))]
new_index = [x not in filter_out_names for x in two_names.index]
two_names = two_names.loc[new_index]
two_names.shape

(2261, 17)

<h2> Handle corrections of names with weird combinators </h2>

In [44]:
multiple_and = two_names[two_names['First Name 1 '].apply(lambda x: x.count('and') > 1)]
multiple_and['original text'] = multiple_and['First Name 1 ']
#multiple_and

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [45]:
#add sarah charman to name 3, executor
#add john cavott and jacob aivl as executors?? in name 3
#add oiriginal to the present string

In [46]:
multiple_and['First Name 1 '] = multiple_and['First Name 1 '].replace('Sarah Charman for the use of Gilbert Hammond and Cornelius Tommand', 
                                                                      'Gilbert Hammond and Cornelius Tommand')
multiple_and['First Name 1 '] = multiple_and['First Name 1 '].replace('John Cavott and Jacob Aivl for Moses Dichey and George Dukey', 
                                                                      'Moses Dichey and George Dukey')
multiple_and['First Name 1 '] = multiple_and['First Name 1 '].replace('Jn Nixon I M Nerbitt and Alexander Forster', 
                                                                      'Jn Nixon and I M Nerbitt and Alexander Forster')
multiple_and['First Name 1 '] = multiple_and['First Name 1 '].replace('Samuel Ely and Michael Gellington Esq and Co',
                                                                     'Samuel Ely and Michael Gellington Esq')

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [47]:
multiple_and[multiple_and['First Name 1 '].apply(lambda x: x == 'Gilbert Hammond and Cornelius Tommand')]

,State,Year,Month,Day,Title 1,First Name 1,Last Name 1,Title 2,First Name 2,Last Name 2,Title 3,First Name 3,Last Name 3,Face Value,Specie Value,notes,original text
40857,6,1777,6,23.0,NaN,Gilbert Hammond and Cornelius Tommand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,600,600.0,NaN,Sarah Charman for the use of Gilbert Hammond a...

In [48]:
tempindex = multiple_and[multiple_and['First Name 1 '].apply(lambda x: x == 'Gilbert Hammond and Cornelius Tommand')].index
multiple_and.loc[tempindex, ['First Name 3', 'Last Name 3', 'Title 3']] = ['Sarah', 'Charman', 'executor']
tempindex = multiple_and[multiple_and['First Name 1 '].apply(lambda x: x == 'John Cavott and Jacob Aivl')].index
multiple_and.loc[tempindex, ['First Name 3', 'Last Name 3', 'Title 3']] = ['John', 'Cavott', 'executor']
multiple_and.loc[tempindex, 'notes'] = ['Jacob Aivl executor']

<h3> Fix by replacing in two_names, not superior weird_first_names </h3>

In [49]:
two_names.loc[multiple_and.index] = multiple_and
multiple_and_cleaned = two_names.loc[multiple_and.index]
multiple_and_cleaned['original text'] = multiple_and_cleaned['First Name 1 ']
#multiple_and_cleaned

In [50]:
multiple_and_symbol = two_names[two_names['First Name 1 '].apply(lambda x: x.count('&') > 1)]
#executive decision made - nic jacobs is executor of peter brown
#add that nicholas jacobs is executor
multiple_and_symbol['original text'] = multiple_and_symbol['First Name 1 ']
multiple_and_symbol['First Name 1 '] = multiple_and_symbol['First Name 1 '].replace('Peter Brown & Nic Jacobs Ex & …….', 
                                                                                    'Peter Brown')
tempindex = multiple_and_symbol[multiple_and_symbol['First Name 1 '].apply(lambda x: x == 'Peter Brown')].index
multiple_and_symbol.loc[tempindex, ['First Name 2', 'Last Name 2', 'Title 2']] = ['Nic', 'Jacobs', 'executor']

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [51]:
two_names.loc[multiple_and_symbol.index] = multiple_and_symbol
two_names.loc[multiple_and_symbol.index]

,State,Year,Month,Day,Title 1,First Name 1,Last Name 1,Title 2,First Name 2,Last Name 2,Title 3,First Name 3,Last Name 3,Face Value,Specie Value,notes,original text
57469,6,1779,8,14.0,NaN,Hre Rest & Ch & St Pr Chumess,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500,29.41667,NaN,Hre Rest & Ch & St Pr Chumess
57680,6,1779,9,2.0,NaN,Peter Brown,NaN,executor,Nic,Jacobs,NaN,NaN,NaN,400,22.13333,NaN,Peter Brown & Nic Jacobs Ex & …….

In [52]:
#checking to make sure no string has both "and" and "&" as split symbol
two_names[(two_names['First Name 1 '].apply(lambda x: "&" in x and " and " in x))]

Empty DataFrame
Columns: [State, Year, Month, Day, Title 1, First Name 1 , Last Name 1 , Title 2, First Name 2, Last Name 2, Title 3, First Name 3, Last Name 3, Face Value, Specie Value , notes, original text]
Index: []

In [53]:
more_complicated = two_names[two_names['First Name 1 '].apply(lambda x: " in " in x or " of " in x or "to " in x or "for" in x)]
more_complicated_names = more_complicated['First Name 1 '].unique().tolist()

In [54]:
more_complicated['original text'] = more_complicated['First Name 1 ']

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [55]:
print(len(more_complicated_names))
print(more_complicated_names)

30
['John Gray &Tho Dawes Fws.to Sarah Green', 'Jn Gray & Thomas Dawes Trustees to Sach Green', 'Nathaniel Appleton and other trustees of Judah Monis Legasy', 'John Barrett & Sons Trustees to Creditors of John Elsworth', 'Society for Relief of Poor Masters of ships widows and children', 'Corporation for the Relief of Poor and Distressed Presbyterian Ministers', 'Jeremiah Halsey and Sarah Gaston for the Estate of Gaston Dec', 'Wm Allison & Sam Caldwell Ex to the est of David Caldwell for children', 'Jacob Brush & Mary Wroop to the est of Jacob Carver Ded', 'Mathew Greer & Mathew Greer for the heirs of Thomas Jones Deceased', 'Joseph Jacket and Anthany Jacket Trustees of Presbyterian Congregation N town', 'Isaac Roush & Mary Bldney of Jacob Carver', 'Samuel Johnston Inna Hanna and I Johnston in trust for the Hierrs of Phil Johnston', 'Michele Shubart For Corporation of Michelle & Zion Churches', 'Corporation for relief of poor and distressed presbyterian ministers', 'Ed Keasby & J Bilber by the Ers of J Dickinson', 'Gen. Kelehner and Pr. Sheser Esq. to State of Conrad Scheele', 'Andrew Hagenbach and Catherine Brobst Guardians of John Brobst', 'Robert Patterson Guardin for Sarah and Mary Stewart', 'Peter Knight & Sus Woodrow Ex to the Estate of H Woodrow', 'James Camble NO 7015 is not on file & in supposed to the number not delivered', 'The rector of christ and st. peters churches', 'Jere Kalbey & S Gaston to the Estate John Gaston de', 'Jer Hals by & I Gaston Ex for the Estate of Jn Gaster', 'John Smith and James McDonald Guardian of the Heirs of John Gibson', 'Ex of William Stadlerman and Pk Lickon Ex of William Stadlerman', 'Michael Schubert for St Michael and Zeus Corporation', 'John Steinmetz for Corperetion of F Mich & Lions Cer', 'A and J J Caldwell for EvMitchell', 'Jon Steinmetz for St Michaels and Zions Cerpreatere']

In [56]:
#add notes saying that its an organization
#add trustees/people for - label as executor
#create dictionary corresponding to object that dictates how cases are tobe handled

In [57]:
#this code will be very long because its manual

In [58]:
tempindex = more_complicated[more_complicated['First Name 1 '].apply(lambda x: x == 'John Gray &Tho Dawes Fws.to Sarah Green')].index
results = ['Sarah', 'Green', 'executor', 'John', 'Gray', 'executor', 'Tho', 'Dawes']
more_complicated.loc[tempindex, ['First Name 1 ', 'Last Name 1 ', 'Title 2', 'First Name 2', 'Last Name 2', 'Title 3', 'First Name 3', 'Last Name 3']] = results

tempindex = more_complicated[more_complicated['First Name 1 '].apply(lambda x: x == 'Jn Gray & Thomas Dawes Trustees to Sach Green')].index
results = ['Sarah', 'Green', 'executor', 'Jn', 'Gray', 'executor', 'Thomas', 'Dawes']
more_complicated.loc[tempindex, ['First Name 1 ', 'Last Name 1 ', 'Title 2', 'First Name 2', 'Last Name 2', 'Title 3', 'First Name 3', 'Last Name 3']] = results

tempindex = more_complicated[more_complicated['First Name 1 '].apply(lambda x: x ==  'Nathaniel Appleton and other trustees of Judah Monis Legasy')].index
results = ['Judah', 'Monis', 'legacy', 'executor', 'Nathaniel', 'Appleton']
more_complicated.loc[tempindex, ['First Name 1 ', 'Last Name 1 ', 'notes', 'Title 2', 'First Name 2', 'Last Name 2']] = results

tempindex = more_complicated[more_complicated['First Name 1 '].apply(lambda x: x ==  'John Barrett & Sons Trustees to Creditors of John Elsworth')].index
results = ['John', 'Elsworth', 'creditors', 'executor', 'John', 'Barrett']
more_complicated.loc[tempindex, ['First Name 1 ', 'Last Name 1 ', 'notes', 'Title 2', 'First Name 2', 'Last Name 2']] = results

tempindex = more_complicated[more_complicated['First Name 1 '].apply(lambda x: x ==  'Society for Relief of Poor Masters of ships widows and children')].index
results = ['organization', 'Society for Relief of Poor Masters of ships widows and children']
more_complicated.loc[tempindex, ['Title 1', 'First Name 1 ']] = results

tempindex = more_complicated[more_complicated['First Name 1 '].apply(lambda x: x ==  'Corporation for the Relief of Poor and Distressed Presbyterian Ministers')].index
results = ['organization', 'Corporation for the Relief of Poor and Distressed Presbyterian Ministers']
more_complicated.loc[tempindex, ['Title 1', 'First Name 1 ']] = results

tempindex = more_complicated[more_complicated['First Name 1 '].apply(lambda x: x == 'Jeremiah Halsey and Sarah Gaston for the Estate of Gaston Dec')].index
results = ['Gaston', 'Dec', 'estate', 'executor', 'Jeremiah', 'Halsey', 'executor', 'Sarah', ' ']
more_complicated.loc[tempindex, ['First Name 1 ', 'Last Name 1 ', 'notes', 'Title 2', 'First Name 2', 'Last Name 2', 'Title 3', 'First Name 3', 'Last Name 3']] = results

tempindex = more_complicated[more_complicated['First Name 1 '].apply(lambda x: x ==  'Wm Allison & Sam Caldwell Ex to the est of David Caldwell for children')].index
results = ['David', 'Caldwell', 'estate for children', 'executor', 'Sam', 'Caldwell', 'executor', 'Wm', 'Allison']
more_complicated.loc[tempindex, ['First Name 1 ', 'Last Name 1 ', 'notes', 'Title 2', 'First Name 2', 'Last Name 2', 'Title 3', 'First Name 3', 'Last Name 3']] = results

tempindex = more_complicated[more_complicated['First Name 1 '].apply(lambda x: x ==  'Jacob Brush & Mary Wroop to the est of Jacob Carver Ded')].index
results = ['Jacob', 'Carver', 'estate, deceased', 'executor', 'Jacob', 'Brush', 'executor', 'Mary', 'Wroop']
more_complicated.loc[tempindex, ['First Name 1 ', 'Last Name 1 ', 'notes', 'Title 2', 'First Name 2', 'Last Name 2', 'Title 3', 'First Name 3', 'Last Name 3']] = results

tempindex = more_complicated[more_complicated['First Name 1 '].apply(lambda x: x ==   'Mathew Greer & Mathew Greer for the heirs of Thomas Jones Deceased')].index
results = ['Thomas', 'Jones', 'heirs, deceased', 'executor', 'Mathew', 'Greer']
more_complicated.loc[tempindex, ['First Name 1 ', 'Last Name 1 ', 'notes', 'Title 2', 'First Name 2', 'Last Name 2']] = results

In [59]:
tempindex = more_complicated[more_complicated['First Name 1 '].apply(lambda x: x ==  'Joseph Jacket and Anthany Jacket Trustees of Presbyterian Congregation N town')].index
results = ['organization', 'Presbyterian Congregation N town', 'executor', 'Joseph', 'Jacket', 'executor', 'Anthany', 'Jacket']
more_complicated.loc[tempindex, ['Title 1', 'First Name 1 ', 'Title 2', 'First Name 2', 'Last Name 2', 'Title 3', 'First Name 3', 'Last Name 3']] = results

tempindex = more_complicated[more_complicated['First Name 1 '].apply(lambda x: x ==  'Isaac Roush & Mary Bldney of Jacob Carver')].index
results = ['Jacob', 'Carver', 'executor', 'Mary', 'Bldney', 'executor', 'Isaac', 'Roush']
more_complicated.loc[tempindex, ['First Name 1 ', 'Last Name 1 ', 'Title 2', 'First Name 2', 'Last Name 2', 'Title 3', 'First Name 3', 'Last Name 3']] = results

tempindex = more_complicated[more_complicated['First Name 1 '].apply(lambda x: x ==  'Samuel Johnston Inna Hanna and I Johnston in trust for the Hierrs of Phil Johnston')].index
results = ['Phil', 'Johnston', 'heirs', 'executor', 'Samuel', 'Johnston', 'executor', 'Inna Hanna', 'Johnston']
more_complicated.loc[tempindex, ['First Name 1 ', 'Last Name 1 ', 'notes', 'Title 2', 'First Name 2', 'Last Name 2', 'Title 3', 'First Name 3', 'Last Name 3']] = results

tempindex = more_complicated[more_complicated['First Name 1 '].apply(lambda x: x ==  'Michele Shubart For Corporation of Michelle & Zion Churches')].index
results = ['organization', 'Corporation of Michelle & Zion Churches', 'executor', 'Michele', 'Shubart']
more_complicated.loc[tempindex, ['Title 1', 'First Name 1 ', 'Title 2', 'First Name 2', 'Last Name 2']] = results

tempindex = more_complicated[more_complicated['First Name 1 '].apply(lambda x: x ==  'Corporation for relief of poor and distressed presbyterian ministers')].index
results = ['organization', 'Corporation for relief of poor and distressed presbyterian ministers']
more_complicated.loc[tempindex, ['Title 1', 'First Name 1 ']] = results

tempindex = more_complicated[more_complicated['First Name 1 '].apply(lambda x: x ==  'Ed Keasby & J Bilber by the Ers of J Dickinson')].index
results = ['J', 'Dickinson', 'executor', 'Ed', 'Keasby', 'executor', 'J', 'Bilber']
more_complicated.loc[tempindex, ['First Name 1 ', 'Last Name 1 ', 'Title 2', 'First Name 2', 'Last Name 2', 'Title 3', 'First Name 3', 'Last Name 3']] = results

tempindex = more_complicated[more_complicated['First Name 1 '].apply(lambda x: x ==  'Gen. Kelehner and Pr. Sheser Esq. to State of Conrad Scheele')].index
results = ['Conrad', 'Scheele', 'estate', 'executor', 'Gen.', 'Kelehner', 'executor', 'Pr. Sheser', 'Esq']
more_complicated.loc[tempindex, ['First Name 1 ', 'Last Name 1 ', 'notes', 'Title 2', 'First Name 2', 'Last Name 2', 'Title 3', 'First Name 3', 'Last Name 3']] = results

tempindex = more_complicated[more_complicated['First Name 1 '].apply(lambda x: x ==  'Andrew Hagenbach and Catherine Brobst Guardians of John Brobst')].index
results = ['John', 'Brobst', 'executor', 'Andrew', 'Hagenbach', 'executor', 'Catherine', 'Brobst']
more_complicated.loc[tempindex, ['First Name 1 ', 'Last Name 1 ', 'Title 2', 'First Name 2', 'Last Name 2', 'Title 3', 'First Name 3', 'Last Name 3']] = results

tempindex = more_complicated[more_complicated['First Name 1 '].apply(lambda x: x ==  'Robert Patterson Guardin for Sarah and Mary Stewart')].index
results = ['Sarah', 'Stewart', 'Mary', 'Stewart', 'executor', 'Robert', 'Patterson']
more_complicated.loc[tempindex, ['First Name 1 ', 'Last Name 1 ', 'First Name 2', 'Last Name 2', 'Title 3', 'First Name 3', 'Last Name 3']] = results

tempindex = more_complicated[more_complicated['First Name 1 '].apply(lambda x: x ==  'Peter Knight & Sus Woodrow Ex to the Estate of H Woodrow')].index
results = ['H', 'Woodrow', 'estate', 'executor', 'Peter', 'Knight', 'executor', 'Sus', 'Woodrow']
more_complicated.loc[tempindex, ['First Name 1 ', 'Last Name 1 ', 'notes', 'Title 2', 'First Name 2', 'Last Name 2', 'Title 3', 'First Name 3', 'Last Name 3']] = results

In [60]:
tempindex = more_complicated[more_complicated['First Name 1 '].apply(lambda x: x ==  'James Camble NO 7015 is not on file & in supposed to the number not delivered')].index
results = ['problem', 'James Camble NO 7015 is not on file & in supposed to the number not delivered']
more_complicated.loc[tempindex, ['Title 1', 'First Name 1 ']] = results

tempindex = more_complicated[more_complicated['First Name 1 '].apply(lambda x: x ==  'The rector of christ and st. peters churches')].index
results = ['organization', 'The rector of christ and st. peters churches']
more_complicated.loc[tempindex, ['Title 1', 'First Name 1 ']] = results

tempindex = more_complicated[more_complicated['First Name 1 '].apply(lambda x: x ==  'Jere Kalbey & S Gaston to the Estate John Gaston de')].index
results = ['John', 'Gaston de', 'estate', 'executor', 'Jere', 'Kalbey', 'executor', 'S', 'Gaston']
more_complicated.loc[tempindex, ['First Name 1 ', 'Last Name 1 ', 'notes', 'Title 2', 'First Name 2', 'Last Name 2', 'Title 3', 'First Name 3', 'Last Name 3']] = results

tempindex = more_complicated[more_complicated['First Name 1 '].apply(lambda x: x ==   'Jer Hals by & I Gaston Ex for the Estate of Jn Gaster')].index
results = ['Jn', 'Gaster', 'estate', 'executor', 'Jer', 'Hals', 'executor', 'I', 'Gaston']
more_complicated.loc[tempindex, ['First Name 1 ', 'Last Name 1 ', 'notes', 'Title 2', 'First Name 2', 'Last Name 2', 'Title 3', 'First Name 3', 'Last Name 3']] = results

tempindex = more_complicated[more_complicated['First Name 1 '].apply(lambda x: x ==  'John Smith and James McDonald Guardian of the Heirs of John Gibson')].index
results = ['John', 'Gibson', 'heirs', 'executor', 'John', 'Smith', 'executor', 'James', 'McDonald']
more_complicated.loc[tempindex, ['First Name 1 ', 'Last Name 1 ', 'notes', 'Title 2', 'First Name 2', 'Last Name 2', 'Title 3', 'First Name 3', 'Last Name 3']] = results

tempindex = more_complicated[more_complicated['First Name 1 '].apply(lambda x: x ==  'Ex of William Stadlerman and Pk Lickon Ex of William Stadlerman')].index
results = ['William', 'Stadlerman', 'executor', 'Pk', 'Lickon']
more_complicated.loc[tempindex, ['First Name 1 ', 'Last Name 1 ', 'Title 2', 'First Name 2', 'Last Name 2']] = results

tempindex = more_complicated[more_complicated['First Name 1 '].apply(lambda x: x ==  'Michael Schubert for St Michael and Zeus Corporation')].index
results = ['organization', 'St Michael and Zeus Corporation', 'executor', 'Michael', 'Schubert']
more_complicated.loc[tempindex, ['Title 1', 'First Name 1 ', 'Title 2', 'First Name 2', 'Last Name 2']] = results

tempindex = more_complicated[more_complicated['First Name 1 '].apply(lambda x: x == 'John Steinmetz for Corperetion of F Mich & Lions Cer')].index
results = ['organization', 'Corperetion of F Mich & Lions Cer', 'executor', 'John', 'Steinmetz']
more_complicated.loc[tempindex, ['Title 1', 'First Name 1 ', 'Title 2', 'First Name 2', 'Last Name 2']] = results

tempindex = more_complicated[more_complicated['First Name 1 '].apply(lambda x: x ==  'A and J J Caldwell for EvMitchell')].index
results = ['Ev', 'Mitchell', 'executor', 'A', 'Caldwell', 'executor', 'J J', 'Caldwell']
more_complicated.loc[tempindex, ['First Name 1 ', 'Last Name 1 ', 'Title 2', 'First Name 2', 'Last Name 2', 'Title 3', 'First Name 3', 'Last Name 3']] = results

tempindex = more_complicated[more_complicated['First Name 1 '].apply(lambda x: x == 'Jon Steinmetz for St Michaels and Zions Cerpreatere')].index
results = ['organization', 'St Michaels and Zions Cerpreatere', 'executor', 'Jon', 'Steinmetz']
more_complicated.loc[tempindex, ['Title 1', 'First Name 1 ', 'Title 2', 'First Name 2', 'Last Name 2']] = results

In [61]:
two_names.loc[more_complicated.index] = more_complicated
more_complicated_cleaned = two_names.loc[more_complicated.index]
#two_names.loc[more_complicated.index]

<h2> Handle corrections of and co. </h2>

In [62]:
has_co = two_names[two_names['First Name 1 '].apply(lambda x: x[-2:] == "Co" or "co." in x.lower() or " others " in x.lower() and not betterIsNan(x))]
has_co_names = pd.Series(has_co['First Name 1 '].unique())

In [63]:
has_co['original text'] = has_co['First Name 1 ']

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [64]:
capt_sam_filter = [x == 'Capt Samuel Wilman and Co.' for x in has_co['First Name 1 ']]
has_co['First Name 1 '][capt_sam_filter] = "Samuel"
has_co['Last Name 1 '][capt_sam_filter] = "Wilman"
has_co['Title 1'][capt_sam_filter] = "Capt"

paris_bro_filter = [x == 'Paris Brothers and co.' for x in has_co['First Name 1 ']]
has_co['First Name 1 '][paris_bro_filter] = math.nan
has_co['Last Name 1 '][paris_bro_filter] = "Paris"
has_co['notes'][paris_bro_filter] = "brothers"

gs_dewint_filter = [x == 'GS.Dewint & Co' for x in has_co['First Name 1 ']]
has_co['Last Name 1 '][gs_dewint_filter] = "Dewint"
has_co['First Name 1 '][gs_dewint_filter] = "GS."

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [65]:
spec_status_names = ['Capt Samuel Wilman and Co.', 'Paris Brothers and co.', 'GS.Dewint & Co']
spec_status_first_names = ['Samuel', math.nan, 'GS.']
post_and_sym = has_co_names.apply(lambda x: x[:x.lower().find('&')] if x not in spec_status_names else x)
post_and = has_co_names.apply(lambda x: x[:x.lower().find('and')] if x not in spec_status_names else x)
#merge results
pre_processing_co_names = pd.Series(y if len(x) >= len(y) else y for x, y in zip(post_and_sym, post_and))
#remove stop words
pre_processing_co_names = pre_processing_co_names.apply(lambda x: x.replace("&", "").replace("Co.", "").replace("co."," ").strip())
pre_processing_co_names = pre_processing_co_names.apply(lambda x: x.replace(" C", "").replace(" other", "").strip())

In [66]:
replace_co = dict(pd.Series(pre_processing_co_names.tolist(), index = has_co_names))
del replace_co[spec_status_names[0]]
del replace_co[spec_status_names[1]]
del replace_co[spec_status_names[2]]

In [67]:
change_names = [x not in spec_status_first_names for x in has_co['First Name 1 ']]

In [68]:
has_co.loc[change_names, 'First Name 1 '] = has_co['First Name 1 '][change_names].apply(lambda x: replace_co[x])
has_co.loc[change_names, 'Last Name 1 '] = [x.split(" ")[-1] for x in has_co['First Name 1 '][change_names]]
has_co.loc[change_names, 'First Name 1 '] = [" ".join(x.split(" ")[:-1]) for x in has_co['First Name 1 '][change_names]]

In [69]:
two_names.loc[has_co.index] = has_co
two_names.loc[has_co.index]

,State,Year,Month,Day,Title 1,First Name 1,Last Name 1,Title 2,First Name 2,Last Name 2,Title 3,First Name 3,Last Name 3,Face Value,Specie Value,notes,original text
6559,2,1778,2,14.0,NaN,James,Swan,NaN,NaN,NaN,NaN,NaN,NaN,500,299.2986,NaN,James Swan & Co
7119,2,1778,2,25.0,NaN,James,Swan,NaN,NaN,NaN,NaN,NaN,NaN,600,347.1167,NaN,James Swan & Co
7120,2,1778,2,25.0,NaN,James,Swan,NaN,NaN,NaN,NaN,NaN,NaN,600,347.1167,NaN,James Swan & Co
7878,2,1778,4,27.0,NaN,James,Swan,NaN,NaN,NaN,NaN,NaN,NaN,600,265.3917,NaN,James Swan & Co
7879,2,1778,4,27.0,NaN,James,Swan,NaN,NaN,NaN,NaN,NaN,NaN,600,265.3917,NaN,James Swan & Co
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80888,9,1779,8,1.0,NaN,Mark,Nephew,NaN,NaN,NaN,NaN,NaN,NaN,4000,245.3333,NaN,Mark Nephew & Co
80889,9,1779,8,1.0,NaN,Mark,Nephew,NaN,NaN,NaN,NaN,NaN,NaN,2400,147.2000,NaN,Mark Nephew & Co
80890,9,1779,8,1.0,NaN,Mark,Nephew,NaN,NaN,NaN,NaN,NaN,NaN,8500,521.3333,NaN,Mark Nephew & Co
80891,9,1780,7,18.0,NaN,Mark,Nephew,NaN,NaN,NaN,NaN,NaN,NaN,1600,40.0000,NaN,Mark Nephew & Co
80892,9,1780,7,18.0,NaN,Mark,Nephew,NaN,NaN,NaN,NaN,NaN,NaN,2600,65.0000,NaN,Mark Nephew & Co

<h2> Handling Heirs </h2>

In [70]:
def heirPresent(x):
    try:
        return "heir" in x.lower()
    except:
        return False

In [71]:
heirs = two_names[two_names['First Name 1 '].apply(lambda x: heirPresent(x))]
heirs_names = heirs['First Name 1 '].unique()

In [72]:
heirs

,State,Year,Month,Day,Title 1,First Name 1,Last Name 1,Title 2,First Name 2,Last Name 2,Title 3,First Name 3,Last Name 3,Face Value,Specie Value,notes,original text
40272,6,1777,5,8.0,NaN,Margarett Grant herself and heirs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500,500.0,NaN,NaN

In [73]:
heirs.loc[40272, 'First Name 1 '] = "Margaret"
heirs.loc[40272, 'Last Name 1 '] = "Grant"
heirs.loc[40272, 'notes'] = "heirs"

In [74]:
two_names.loc[heirs.index] = heirs
two_names.loc[heirs.index]

,State,Year,Month,Day,Title 1,First Name 1,Last Name 1,Title 2,First Name 2,Last Name 2,Title 3,First Name 3,Last Name 3,Face Value,Specie Value,notes,original text
40272,6,1777,5,8.0,NaN,Margaret,Grant,NaN,NaN,NaN,NaN,NaN,NaN,500,500.0,heirs,NaN

In [75]:
filter_out_names.extend(has_co.index.tolist())
filter_out_names.extend(heirs.index.tolist())
filter_out_names.extend(more_complicated.index.tolist())

In [76]:
filter_out_names = list(set(filter_out_names))

<h2> Handling names separated by & and "and" </h2>

In [77]:
and_sep_filter = [x not in filter_out_names for x in two_names.index]

In [78]:
def splitNames(x):
    x = x.replace(" And ", " and ")
    if "&" in x:
        return x.split("&")
    return x.split(" and ")

In [79]:
normal_join = two_names.loc[and_sep_filter]
normal_join['First Name 1 '].apply(lambda x: splitNames(x)).apply(lambda x: len(x)).value_counts()

2    1717
3       2
1       1
Name: First Name 1 , dtype: int64

In [80]:
normal_join['First Name 1 '].unique()

array(['Lee & Jones', 'Clark & Nightingale', 'Pitts & Call',
       'Bryant & Dennie', 'Hubbart & Greene', 'Hunt & Sherburne',
       'Jackson Tracy & Tracy', 'Otis & Andrews', 'Parker & Eustis',
       'Cushing & White', 'Riggs Dairs and Humphrey',
       'Henry McClellen and Henry', 'John Brinkerhoff & others',
       'Mercer and Skenk', 'John Stevens and William Burnett',
       'Forman & Hunt', 'Perrigrine & Van Ember', 'Ogden & Curti',
       'Stephen Ford and Canfield', 'Forman and Hunt',
       'Hendrick & Clears', 'Isaac & Peter Vandorn',
       'Hendrick & Jacob TenEyk', 'Prior & Joy', 'Benezet & Backman',
       'Gilbert Hammond and Cornelius Tommand', 'Simons & Henry',
       'Rotch and Jarvis', 'Moses Dichey and George Dukey',
       'Levy and Levy', 'Peter and Isaac Wikoff',
       'Peter And Isaac Wikoff', 'Milner and Haynes',
       'Michel and Zion Churches', 'Chalone and White', 'Charles & White',
       'Vance Caldwell and Vance', 'Jacob and Henry Geiger',
       'Letitea and Am Correy', 'Lelitia and Ann Correy',
       'Milner and Sherr', 'Craig & Cummins', 'Furman and Hunt',
       'Isaac Sears and R N Smith', 'Ilean and RN Smith',
       'William and H. Boyd', 'Furman & Yard', 'Sam and Havard',
       'Tramen and Hunt', 'Peter and Dumont', 'Michael and Hohn',
       'Hezekiah and Hooghtalm', 'Taylor & Alexander',
       'Jayber And Mesander', 'Robert and Cor. Steven', 'Keph and Doryea',
       'Isaac Hartman and Heeman Van Jul',
       'Jn Nixon and I M Nerbitt and Alexander Forster',
       'Sam Lightburne and I Harvey', 'Wood & Cuyler', 'Messer And Spark',
       'Mercer & Schenk', 'Hugh Samuel Jons and Neary Jackson',
       'Levi & Levi', 'VanUhsam & Clarks', 'John Mam and Dunbar',
       'Van Vrem And Clark', 'John Mann and Andrew Dunbar',
       'Christian Weedman & Samuel Harris Esq Mathia Birkly',
       'Michael & Cart', 'Rob and Corn Stevenson', 'Abraham Levi & son',
       'William Rigden and Edward Middleton',
       'Hre Rest & Ch & St Pr Chumess', 'Samuel and Rea', 'Peter Brown',
       'Dubois & Hutman', 'Guilliaume Sabatier Sits and Pierce Despres',
       'John Pringle Ve & Ex', 'In Peingle Harr Lake & John Nixon Ex',
       'Peter & Henry', 'Will Robinson and Sons', 'Meredith & Clymer',
       'Meredith and Plymir', 'Meredith and Clymer', 'Robert and Jn Will',
       'Rutter and Potts', 'Sam Ely and Jn Gallaher Esq',
       'Camble Cooper & Tapp', 'Sam Ely & Michel Gellinger',
       'Samuel Ely and Michael Gellington Esq',
       'Simon Dreisbach For Estates and John fox', 'Ferrason and Pocy',
       'Terrason and Pory', 'North & Trescott', 'Henry and Thomas Brown',
       'Foulke and Hameren', 'McCulloch and Peterson', 'Read and Gilpin',
       'Glan and McClay', 'Edward and Rebecca Armstrong',
       'Rogers and Cooke', 'Wallace and Davidson',
       'Massachusetts Milner and Haines', 'Harris Wood and Wainright',
       'Eastman and Neth', 'Arell Cooper and Arrel', 'Allison and Ramsey',
       'Wilkins and Gassaway', 'Hooe and Harrisons',
       'Russell and Gilmore', 'Richard and Jennings',
       'Kirsley and Monrow', 'Hec and Harrisons', 'McLure and Sterrett',
       'Polly and Harriet Sterrett', 'Russell and Gilmour',
       'Francis Fair Brother and Allen Luynn', 'SD George and Comp.',
       'Davis & Morris', 'Phripp & Bondoin', 'Newton & Kelly',
       'Jno & Henry Kuykendal', 'Ker & Lyon', 'Miss Early & Callaway',
       'Isaac & Thoroughgood Smith', 'Messrs Newton & Holly',
       'Keel & Roberts', 'Roulhac & Compy', 'Milner & Haynes',
       'Thomas & William Roane', 'Peter Conway & James Ball',
       'Mitchell & Graham', 'Mess Early & Callaway', 'Smith & Gatewood',
       'Baker Blow & Oldham', 'Thomas & William Varring',
       'Doerner & Mark', 'Mitchell & Oldham'], dtype=object)

In [81]:
normal_join['original text'] = normal_join['First Name 1 ']

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [82]:
joinedNames = normal_join['First Name 1 '].apply(lambda x: splitNames(x))

In [83]:
joinedNames[joinedNames.apply(lambda x: len(x)>2)]

53730    [Jn Nixon, I M Nerbitt, Alexander Forster]
57469             [Hre Rest ,  Ch ,  St Pr Chumess]
Name: First Name 1 , dtype: object

In [84]:
print(len(normal_join['First Name 1 '].unique()))
normal_join['First Name 1 '].unique()

139

array(['Lee & Jones', 'Clark & Nightingale', 'Pitts & Call',
       'Bryant & Dennie', 'Hubbart & Greene', 'Hunt & Sherburne',
       'Jackson Tracy & Tracy', 'Otis & Andrews', 'Parker & Eustis',
       'Cushing & White', 'Riggs Dairs and Humphrey',
       'Henry McClellen and Henry', 'John Brinkerhoff & others',
       'Mercer and Skenk', 'John Stevens and William Burnett',
       'Forman & Hunt', 'Perrigrine & Van Ember', 'Ogden & Curti',
       'Stephen Ford and Canfield', 'Forman and Hunt',
       'Hendrick & Clears', 'Isaac & Peter Vandorn',
       'Hendrick & Jacob TenEyk', 'Prior & Joy', 'Benezet & Backman',
       'Gilbert Hammond and Cornelius Tommand', 'Simons & Henry',
       'Rotch and Jarvis', 'Moses Dichey and George Dukey',
       'Levy and Levy', 'Peter and Isaac Wikoff',
       'Peter And Isaac Wikoff', 'Milner and Haynes',
       'Michel and Zion Churches', 'Chalone and White', 'Charles & White',
       'Vance Caldwell and Vance', 'Jacob and Henry Geiger',
       'Letitea and Am Correy', 'Lelitia and Ann Correy',
       'Milner and Sherr', 'Craig & Cummins', 'Furman and Hunt',
       'Isaac Sears and R N Smith', 'Ilean and RN Smith',
       'William and H. Boyd', 'Furman & Yard', 'Sam and Havard',
       'Tramen and Hunt', 'Peter and Dumont', 'Michael and Hohn',
       'Hezekiah and Hooghtalm', 'Taylor & Alexander',
       'Jayber And Mesander', 'Robert and Cor. Steven', 'Keph and Doryea',
       'Isaac Hartman and Heeman Van Jul',
       'Jn Nixon and I M Nerbitt and Alexander Forster',
       'Sam Lightburne and I Harvey', 'Wood & Cuyler', 'Messer And Spark',
       'Mercer & Schenk', 'Hugh Samuel Jons and Neary Jackson',
       'Levi & Levi', 'VanUhsam & Clarks', 'John Mam and Dunbar',
       'Van Vrem And Clark', 'John Mann and Andrew Dunbar',
       'Christian Weedman & Samuel Harris Esq Mathia Birkly',
       'Michael & Cart', 'Rob and Corn Stevenson', 'Abraham Levi & son',
       'William Rigden and Edward Middleton',
       'Hre Rest & Ch & St Pr Chumess', 'Samuel and Rea', 'Peter Brown',
       'Dubois & Hutman', 'Guilliaume Sabatier Sits and Pierce Despres',
       'John Pringle Ve & Ex', 'In Peingle Harr Lake & John Nixon Ex',
       'Peter & Henry', 'Will Robinson and Sons', 'Meredith & Clymer',
       'Meredith and Plymir', 'Meredith and Clymer', 'Robert and Jn Will',
       'Rutter and Potts', 'Sam Ely and Jn Gallaher Esq',
       'Camble Cooper & Tapp', 'Sam Ely & Michel Gellinger',
       'Samuel Ely and Michael Gellington Esq',
       'Simon Dreisbach For Estates and John fox', 'Ferrason and Pocy',
       'Terrason and Pory', 'North & Trescott', 'Henry and Thomas Brown',
       'Foulke and Hameren', 'McCulloch and Peterson', 'Read and Gilpin',
       'Glan and McClay', 'Edward and Rebecca Armstrong',
       'Rogers and Cooke', 'Wallace and Davidson',
       'Massachusetts Milner and Haines', 'Harris Wood and Wainright',
       'Eastman and Neth', 'Arell Cooper and Arrel', 'Allison and Ramsey',
       'Wilkins and Gassaway', 'Hooe and Harrisons',
       'Russell and Gilmore', 'Richard and Jennings',
       'Kirsley and Monrow', 'Hec and Harrisons', 'McLure and Sterrett',
       'Polly and Harriet Sterrett', 'Russell and Gilmour',
       'Francis Fair Brother and Allen Luynn', 'SD George and Comp.',
       'Davis & Morris', 'Phripp & Bondoin', 'Newton & Kelly',
       'Jno & Henry Kuykendal', 'Ker & Lyon', 'Miss Early & Callaway',
       'Isaac & Thoroughgood Smith', 'Messrs Newton & Holly',
       'Keel & Roberts', 'Roulhac & Compy', 'Milner & Haynes',
       'Thomas & William Roane', 'Peter Conway & James Ball',
       'Mitchell & Graham', 'Mess Early & Callaway', 'Smith & Gatewood',
       'Baker Blow & Oldham', 'Thomas & William Varring',
       'Doerner & Mark', 'Mitchell & Oldham'], dtype=object)

In [85]:
#length of one - then 

#length of two - then

#two one letter - two last names
#first one is one word, second is more than one word - attach last word onto 

#length of three/4 - manually handle

In [86]:
#40857 'Sarah Charman for the use of Gilbert Hammond' 1
#56384' Samuel Harris Esq Mathia Birkly' 2
#'Simon Dreisbach For Estates' 1
#61411 ['Will Robinson', 'Sons']

In [87]:
def parseNames(ind, val):
    #global added_data
    
    if len(val) == 1:
        val = val[0]
        normal_join.loc[ind, 'Last Name 1 '] = val.split(" ")[-1].strip()
        normal_join.loc[ind, 'First Name 1 '] = " ".join(val.split(" ")[:-1]).strip()
    elif len(val) == 2:
        name1 = val[0].strip().split(" ")
        name2 = val[1].strip().split(" ")
        #special cases
        if ind == 40857:
            name1 = 'Gilbert Hammond'
        if ind == 56384:
            name2 = 'Samuel Harris'
        if ind == 61411:
            normal_join.loc[ind, 'Last Name 1 '] = 'Robinson'
            normal_join.loc[ind, 'First Name 1 '] = 'Will'
            normal_join.loc[ind, 'notes'] = 'Sons'
            return
        
        #normal handling
        if len(name1) == 1 and len(name2) == 1:
            
            normal_join.loc[ind, 'notes'] = normal_join.loc[ind, 'First Name 1 ']
            
            normal_join.loc[ind, 'Last Name 1 '] = name1[0]
            normal_join.loc[ind, 'First Name 1 '] = math.nan

            normal_join.loc[ind, 'Last Name 2'] = name2[0]
            normal_join.loc[ind, 'First Name 2'] = math.nan
        elif len(name1) == 1:
            normal_join.loc[ind, 'notes'] = normal_join.loc[ind, 'First Name 1 ']
            
            normal_join.loc[ind, 'Last Name 1 '] = name2[-1].strip()
            normal_join.loc[ind, 'First Name 1 '] = name1[0]

            normal_join.loc[ind, 'Last Name 2'] = name2[-1].strip()
            normal_join.loc[ind, 'First Name 2'] = " ".join(name2[:-1])
        elif len(name2) == 1:
            normal_join.loc[ind, 'notes'] = normal_join.loc[ind, 'First Name 1 ']
            
            normal_join.loc[ind, 'Last Name 1 '] = name2[-1].strip()
            normal_join.loc[ind, 'First Name 1 '] = " ".join(name1)

            normal_join.loc[ind, 'Last Name 2'] = name2[0]
            normal_join.loc[ind, 'First Name 2'] = math.nan
        else:
            normal_join.loc[ind, 'Last Name 1 '] = name1[-1].strip()
            normal_join.loc[ind, 'First Name 1 '] = " ".join(name1[:-1])
            
            normal_join.loc[ind, 'Last Name 2'] = name2[-1].strip()
            normal_join.loc[ind, 'First Name 2'] = " ".join(name2[:-1])
    else:
        if ind == 53730:
            #53730 ['Jn Nixon, I M Nerbitt, Alexander Forster']
            normal_join.loc[ind, 'Last Name 1 '] = "Nixon"
            normal_join.loc[ind, 'First Name 1 '] = "Jn"
            
            normal_join.loc[ind, 'Last Name 2'] = "Nerbitt"
            normal_join.loc[ind, 'First Name 2'] = "I M"
                        
            normal_join.loc[ind, 'Last Name 3'] = "Forster"
            normal_join.loc[ind, 'First Name 3'] = "Alexander"
        elif ind == 57469:
            #57469 ['Hre Rest ', ' Ch ', ' St Pr Chumess']
            normal_join.loc[ind, 'Last Name 1 '] = "Rest"
            normal_join.loc[ind, 'First Name 1 '] = "Hre"
        
            normal_join.loc[ind, 'Last Name 2'] = "Chumess"
            normal_join.loc[ind, 'First Name 2'] = "St Pr"
            
            normal_join.loc[ind, 'Last Name 3'] = "Ch"

In [88]:
for ind, val in joinedNames.items():
    parseNames(ind, val)

In [89]:
two_names.loc[normal_join.index] = normal_join
normal_join_cleaned = two_names.loc[normal_join.index]
#two_names.loc[normal_join.index]

In [90]:
weird_first_names.loc[two_names.index] = two_names

In [91]:
filter_out_names.extend(normal_join.index)

In [92]:
filter_out_names.extend(two_names.index.tolist())
filter_out_names = list(set(filter_out_names))

<h3> Handling treasurers </h3>

In [93]:
#society's treasurer lyme - just society 
#get organization name from words after treasurer

In [94]:
def testString(string, match):
    try:
        return match in string.lower()
    except:
        return False

In [95]:
treasurer = weird_first_names[weird_first_names['First Name 1 '].apply(lambda x: testString(x, "treas") and x not in filter_out_names)]
treasurer.shape

(70, 17)

In [96]:
filter_out_names.extend(treasurer['First Name 1 '].unique().tolist())
treasurer['First Name 1 '].unique()

array(['Ebenezer Storer Treasurer H College',
       'Job Cushing Treasurer for Shrewsbury',
       'Jos Richards Treas 2nd Precinct Roxbury',
       'Dan Thurston Treasurer Church in Franklin',
       'Simeon Howard Treasurer Convention of Ministers',
       'Eli Root Treasurer of Pittsfield', "Society's Treasurer Lyme"],
      dtype=object)

In [97]:
treasurer['original text'] = treasurer['First Name 1 ']

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [98]:
#some long code handling treasurer replacements

In [99]:
tempindex = treasurer[treasurer['First Name 1 '].apply(lambda x: x ==  'Ebenezer Storer Treasurer H College')].index
results = ['organization', 'H College', 'treasurer', 'Ebenezer', 'Storer']
treasurer.loc[tempindex, ['Title 1', 'First Name 1 ', 'Title 2', 'First Name 2', 'Last Name 2']] = results

tempindex = treasurer[treasurer['First Name 1 '].apply(lambda x: x ==  'Job Cushing Treasurer for Shrewsbury')].index
results = ['organization', 'Shrewsbury', 'treasurer', 'Job', 'Cushing']
treasurer.loc[tempindex, ['Title 1', 'First Name 1 ', 'Title 2', 'First Name 2', 'Last Name 2']] = results

tempindex = treasurer[treasurer['First Name 1 '].apply(lambda x: x ==  'Jos Richards Treas 2nd Precinct Roxbury')].index
results = ['organization', '2nd Precinct Roxbury', 'treasurer', 'Jos', 'Richards']
treasurer.loc[tempindex, ['Title 1', 'First Name 1 ', 'Title 2', 'First Name 2', 'Last Name 2']] = results

tempindex = treasurer[treasurer['First Name 1 '].apply(lambda x: x ==  'Dan Thurston Treasurer Church in Franklin')].index
results = ['organization', 'Church in Franklin', 'treasurer', 'Dan', 'Thurston']
treasurer.loc[tempindex, ['Title 1', 'First Name 1 ', 'Title 2', 'First Name 2', 'Last Name 2']] = results

tempindex = treasurer[treasurer['First Name 1 '].apply(lambda x: x ==  'Simeon Howard Treasurer Convention of Ministers')].index
results = ['organization', 'Convention of Ministers', 'treasurer', 'Simeon', 'Howard']
treasurer.loc[tempindex, ['Title 1', 'First Name 1 ', 'Title 2', 'First Name 2', 'Last Name 2']] = results

tempindex = treasurer[treasurer['First Name 1 '].apply(lambda x: x ==  'Eli Root Treasurer of Pittsfield')].index
results = ['organization', 'Pittsfield', 'treasurer', 'Eli', 'Root']
treasurer.loc[tempindex, ['Title 1', 'First Name 1 ', 'Title 2', 'First Name 2', 'Last Name 2']] = results

tempindex = treasurer[treasurer['First Name 1 '].apply(lambda x: x ==  "Society's Treasurer Lyme")].index
results = ['organization', 'Society', 'treasurer', 'Lyme']
treasurer.loc[tempindex, ['Title 1', 'First Name 1 ', 'Title 2', 'Last Name 2']] = results

In [100]:
weird_first_names.loc[treasurer.index] = treasurer
treasurer_cleaned = weird_first_names.loc[treasurer.index]
#weird_first_names.loc[treasurer.index]

In [101]:
filter_out_names.extend(treasurer_cleaned.index.tolist())

<h2> Handling everything else </h2>

In [102]:
other_cases = weird_first_names[pd.Series(weird_first_names.index).apply(lambda x: x not in filter_out_names).values]
other_cases.shape

(1662, 17)

In [103]:
nlp = spacy.load("en_core_web_sm")
other_fixed_names = []
for entity in other_cases['First Name 1 ']:
    doc = nlp(entity)
    if len(doc.ents) == 1:
        ent = doc.ents[0]
        if ent.label_ == "PERSON" and ent.text == entity:
            other_fixed_names.append(ent.text)
        elif ent.label == "ORG" and ent.text == entity:
            other_fixed_names.append(ent.text)
        else:
            other_fixed_names.append(False)
    elif len(doc.ents) == 2:
        ent = doc.ents[0]
        ent2 = doc.ents[1]
        if ent.label_ == "Person" and ent2.label_ == "Person" and (ent.text + " " + ent2.text) == entity:
            other_fixed_names.append(ent.text + " " + ent2.text)
        else:
            other_fixed_names.append(False)
    else:
        other_fixed_names.append(False)

In [104]:
other_cases

,State,Year,Month,Day,Title 1,First Name 1,Last Name 1,Title 2,First Name 2,Last Name 2,Title 3,First Name 3,Last Name 3,Face Value,Specie Value,notes,original text
5804,2,1778,1,1.0,NaN,The Navy Board Eastern Department,NaN,NaN,NaN,NaN,NaN,NaN,NaN,600,411.466700,NaN,NaN
5805,2,1778,1,1.0,NaN,The Navy Board Eastern Department,NaN,NaN,NaN,NaN,NaN,NaN,NaN,600,411.466700,NaN,NaN
5806,2,1778,1,1.0,NaN,The Navy Board Eastern Department,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500,342.888900,NaN,NaN
5807,2,1778,1,1.0,NaN,The Navy Board Eastern Department,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500,342.888900,NaN,NaN
5808,2,1778,1,1.0,NaN,The Navy Board Eastern Department,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500,342.888900,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80895,9,1780,2,1.0,NaN,Jesse Taylor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,300,9.020833,NaN,NaN
80906,9,1779,3,19.0,NaN,William Bradley,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000,94.402780,NaN,NaN
80907,9,1779,3,19.0,NaN,Samuel Oldham,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000,94.402780,NaN,NaN
80908,9,1780,1,1.0,NaN,John Hay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,400,13.616670,NaN,NaN
80911,9,1779,3,13.0,NaN,Samuel Oldham,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500,48.118060,NaN,NaN

In [105]:
#what is william thomas exos james ecum
print(sum([1 if x is False else 0 for x in other_fixed_names]))
#set(other_fixed_names)

435

<h3> Proper names that are just misplaced </h3>

In [106]:
indices = [not x if x is False else False for x in other_fixed_names]
indices_neg = [not x for x in indices]

In [107]:
swap_names = pd.Series(other_fixed_names)[indices_neg]

In [108]:
other_cases.loc[indices_neg, 'First Name 1 '] = swap_names
other_cases.loc[indices_neg, 'Last Name 1 '] = [x.split(" ")[-1] for x in swap_names]
other_cases.loc[indices_neg, 'First Name 1 '] = [" ".join(x.split(" ")[:-1]) for x in swap_names]

In [109]:
weird_first_names.loc[other_cases[indices_neg].index] = other_cases.loc[indices_neg]
weird_first_names.loc[other_cases[indices_neg].index]

,State,Year,Month,Day,Title 1,First Name 1,Last Name 1,Title 2,First Name 2,Last Name 2,Title 3,First Name 3,Last Name 3,Face Value,Specie Value,notes,original text
10301,2,1779,1,28.0,NaN,John Davis,Williams,NaN,NaN,NaN,NaN,NaN,NaN,500,58.791670,NaN,NaN
34954,5,1779,3,31.0,NaN,John Treat,Crane,NaN,NaN,NaN,NaN,NaN,NaN,500,45.423610,NaN,NaN
35442,5,1779,4,21.0,NaN,Samuel Wright,Hortsham,NaN,NaN,NaN,NaN,NaN,NaN,400,33.983330,NaN,NaN
35798,5,1779,5,4.0,NaN,Abraham Abraham,Haring,NaN,NaN,NaN,NaN,NaN,NaN,400,32.600000,NaN,NaN
35805,5,1779,5,4.0,NaN,Abraham Abraham,Haring,NaN,NaN,NaN,NaN,NaN,NaN,300,24.450000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80895,9,1780,2,1.0,NaN,Jesse,Taylor,NaN,NaN,NaN,NaN,NaN,NaN,300,9.020833,NaN,NaN
80906,9,1779,3,19.0,NaN,William,Bradley,NaN,NaN,NaN,NaN,NaN,NaN,1000,94.402780,NaN,NaN
80907,9,1779,3,19.0,NaN,Samuel,Oldham,NaN,NaN,NaN,NaN,NaN,NaN,1000,94.402780,NaN,NaN
80908,9,1780,1,1.0,NaN,John,Hay,NaN,NaN,NaN,NaN,NaN,NaN,400,13.616670,NaN,NaN
80911,9,1779,3,13.0,NaN,Samuel,Oldham,NaN,NaN,NaN,NaN,NaN,NaN,500,48.118060,NaN,NaN

<h2> Handling other weird names/organizations </h2>

In [110]:
other_cases_fixed = pd.read_csv('Data/export_weird_names.csv')

In [111]:
index_indices = other_cases[indices].index

In [112]:
for ind in index_indices:
    fname = other_cases.loc[ind, 'First Name 1 ']
    series = other_cases_fixed[other_cases_fixed['original name'].apply(lambda x: x == fname)].drop('original name', axis = 1).values.flatten().tolist()
    other_cases.loc[ind, ['Title 1','First Name 1 ','Last Name 1 ','Title 2','First Name 2','Last Name 2',
                          'Title 3','First Name 3','Last Name 3','notes','original text']] = series

In [113]:
other_cases[indices]

,State,Year,Month,Day,Title 1,First Name 1,Last Name 1,Title 2,First Name 2,Last Name 2,Title 3,First Name 3,Last Name 3,Face Value,Specie Value,notes,original text
5804,2,1778,1,1.0,organization,The Navy Board Eastern Department,NaN,NaN,NaN,NaN,NaN,NaN,NaN,600,411.466700,NaN,The Navy Board Eastern Department
5805,2,1778,1,1.0,organization,The Navy Board Eastern Department,NaN,NaN,NaN,NaN,NaN,NaN,NaN,600,411.466700,NaN,The Navy Board Eastern Department
5806,2,1778,1,1.0,organization,The Navy Board Eastern Department,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500,342.888900,NaN,The Navy Board Eastern Department
5807,2,1778,1,1.0,organization,The Navy Board Eastern Department,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500,342.888900,NaN,The Navy Board Eastern Department
5808,2,1778,1,1.0,organization,The Navy Board Eastern Department,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500,342.888900,NaN,The Navy Board Eastern Department
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80855,9,1779,3,29.0,NaN,Michl,Stump,NaN,NaN,NaN,NaN,NaN,NaN,300,27.429170,NaN,Michl Stump
80856,9,1779,3,29.0,NaN,Michl,Stump,NaN,NaN,NaN,NaN,NaN,NaN,800,73.144440,NaN,Michl Stump
80858,9,1779,5,16.0,NaN,Captn C,Mossby,NaN,NaN,NaN,NaN,NaN,NaN,49,3.843097,NaN,Captn C Mossby
80860,9,1779,3,9.0,NaN,Fras,Hobday,NaN,NaN,NaN,NaN,NaN,NaN,140,13.646110,NaN,Fras Hobday
80861,9,1779,3,10.0,NaN,Peter B,Whiting,NaN,NaN,NaN,NaN,NaN,NaN,113,10.978260,NaN,Peter B Whiting

In [114]:
weird_first_names.loc[other_cases.index] = other_cases
other_cases_cleaned = weird_first_names.loc[other_cases.index]

## Move weird_first_names back to laons

In [115]:
loans.loc[weird_first_names.index] = weird_first_names

In [116]:
#add additional row that is the same as the first when last name 2 applies
#add index indicating shared

In [117]:
(loans[[not x for x in loans['Last Name 2'].apply(betterIsNan)]][['First Name 1 ', 'Last Name 1 ', 'First Name 2', 'Last Name 2']].drop_duplicates()).shape

(375, 4)

In [118]:
loans[[not x for x in loans['Last Name 2'].apply(betterIsNan)]][['First Name 1 ', 'Last Name 1 ', 'First Name 2', 'Last Name 2']].shape

(3178, 4)

In [119]:
#checking if there are any names in first name column that are two first names
#check confirmed - also shows that there are no NA first name or last name columns
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    display(loans[[not x for x in loans['Last Name 2'].apply(betterIsNan)]][['First Name 1 ', 'Last Name 1 ', 'First Name 2', 'Last Name 2']].drop_duplicates())

,First Name 1,Last Name 1,First Name 2,Last Name 2
2253,Abraham,Livingston,William,Turnbull
2428,NaN,Lee,NaN,Jones
2759,NaN,Clark,NaN,Nightingale
2822,NaN,Pitts,NaN,Call
3644,NaN,Bryant,NaN,Dennie
3749,Sam,Hasting,,Austin
3807,NaN,Hubbart,NaN,Greene
4000,Sarah,Green,John,Gray
4017,John,Gray,Thomas,Dawes
4233,NaN,Hunt,NaN,Sherburne
4987,B,Winchester,,Allen
5173,Mary,Butler,Abigail,Belknap
5362,H College,NaN,Ebenezer,Storer
5564,Sarah,Green,Jn,Gray
6505,William,Molineaux,John,Molineaux
7396,Jackson Tracy,Tracy,NaN,Tracy
7447,NaN,Otis,NaN,Andrews
7539,Shrewsbury,NaN,Job,Cushing
8196,Will Thomas,Hubbard,,B
8247,Samuel,Colburn,Nathaniel,Deane
8455,Judah,Monis,Nathaniel,Appleton
8937,Benj,Winchester,,Allen
9107,Isaac,Smith,S,Hooper
9176,2nd Precinct Roxbury,NaN,Jos,Richards
9939,NaN,Parker,NaN,Eustis
11969,Asa,Waterman,John,Waterman
12876,Samuel,Salisbury,Stephen,Salisbury
13102,NaN,Cushing,NaN,White
13574,John,Elsworth,John,Barrett
13584,Sarah,White,Mary,Thayer
13838,Peter,Wikoff,Isaac,Wikoff
13970,Daniel,Tucker,Robert,Tucker
14248,Church in Franklin,NaN,Dan,Thurston
14296,Convention of Ministers,NaN,Simeon,Howard
14312,Pittsfield,NaN,Eli,Root
14342,J,Smith,S,Hooper
16240,William,Dunscomb,William,Somersall
17885,Daniel,Lathrop,Joshua,Lathrop
18694,Cubil,Bishop,Lucy,Bishop
19036,Hannah B,Lord,Mary B,Lord
19163,Petty,Pelvine,Sarah,Pelvine
19188,Eunice,Wadsworth,Belsey,Wadsworth
19319,S,Griffin,Daniel,Dickson
19373,Hezekiah,Sanford,Samuel,Sanford
19553,Caleb,May,Thomas,May
19567,Joseph,Kingsbury,Ebenezer,Kinsbury
19693,Christopher,Thompson,P,Cock
19900,John,Ripley,Jeremiah,Ripley
20170,Society,NaN,NaN,Lyme
20784,Encas,Munson,Eunice,Atwater
21327,Isaac,Beers,Elias,Beers
21489,Nehemiah,Hubbard,Lay Saul,Alvord
22082,Hezekiah,Odell,Mery,Odell
22084,Hezekiah,Odell,Mary,Odell
22494,David,Clason,Enoch,Clason
22511,Benjamin,Bassett,Joseph,Bassett
22523,Elez,Minot,Martha,Minot
22610,Jacob,Weed,Israel,Weed
23024,Joseph,Kingsman,Nehemiah,Laurence
23072,Riggs Dairs,Humphrey,NaN,Humphrey
23548,David,Perrin,Jedediah,Morse
23582,Jonathan,Wright,Mary,Wight
23605,Sioncon,Burnham,Timothy,Burnham
23659,Abraham,Stevens,Samuel,Stevens
23908,Daniel,Lathrop,Joseph,Lathrop
24152,John,Pierce,Joshua,Pierce
24240,Mary,Loomer,Anne,Loomer
24375,Judith,Damon,Nathaniel,Damon
24399,Silas,Holly,Jonah,Holly
24507,Silas,Holly,Jonas,Holly
24631,Jonah,Tredd,Tim,Tredd
26451,Susanna,Miles,Mary,Miles
26586,John H.,Beckman,Martin,Beekman
26752,Henry McClellen,Henry,NaN,Henry
26817,Catherine,Douer,Rachel,Douer
26822,John Brinkerhoff,others,NaN,others
26995,Adam,Sternbergh,Jacob,Sternbergh
27094,Charles,Dickenson,Cornelius,Ray
27438,John,Van Renselaer,David,Van Renselaer
28794,Killiam,Van Renselaer,Peter,Van Renselaer
28873,Robert,Totten,James,Totten
29188,Johannis,Becker,Jost,Becker
29348,Johanis,Baal,Getruy,Baal
29366,Daniel,Gross,Catharine,Paris
29383,Gerrard,Beckman,William,Beekman
29400,Casparus,Conyne,Henry,Van Renselaer
29679,Levinus,Lansing,Jacob F,Lansing
29682,Robert,Van Den Bergh,Hendrick,Van Den Bergh
29794,Archibald,Mercer,John P,Schenck
29804,Gerretic,Gerrit,Abraham,Van Keuren
29851,James,Bourd,David,Bourd
29865,Peter,John,William,Van Leuven
29949,Abiel,Fry,Abel,Gale
30072,William,Morice,William,Green
30435,Gerrite,Garret,Abraham,Van Keuren
30564,John,Meyers,Hendrick,Myer
30575,Apalona,Meyers,George,Snell
31041,Catharine,Douw,Rachel,Douw
32085,Solomon,Hasbrook,John,Hasbrook
32489,John,Inhout,Peter,Snyder
32591,Catherine,Stevens,Waters,Smith
32913,NaN,Mercer,NaN,Skenk
33053,Edward,Keasly,Charles,Bilderback
33567,John,Stevens,William,Burnett
33670,Archibald,Mercer,J.P.,Skenk
33749,Waters,Smith,Catherine,Stevens
33984,NaN,Forman,NaN,Hunt
34089,Perrigrine,Ember,Van,Ember
35278,NaN,Ogden,NaN,Curti
35285,Stephen Ford,Canfield,NaN,Canfield
35816,NaN,Hendrick,NaN,Clears
36071,Theo,Covenhoven,William,Covenhoven
36094,Samuel,Evertt,William,Evertt
36193,Isaac,Vandorn,Peter,Vandorn
36232,Hendrick,Smock,George,Smock
36554,David,Williamson,William,Willamson
36815,John,Vankirk,Josiah,Vankrik
37423,William,Covenhoven,Theo,Covenhoven
39232,Hendrick,TenEyk,Jacob,TenEyk
39418,Thomas,Mifflin,Jonathan,Miffin
39431,Thomas,Mifflin,John,Miffin
39594,Jo,Bonfield,Acklam,Bonfield
39596,John,Bonfield,Acklam,Bonfield
39712,R,Gerraty,,Morris
39769,NaN,Prior,NaN,Joy
39822,Geu,Walker,Mc,Shulert
39838,James,Scarle,Thomas,Hopkinson
39847,Anthony,Hocker,Thomas,Wharton
39853,Archibald,Mercer,John P,Schenk
39858,Archibald,Mereer,Jp,Shink
39867,John,Templeton,Brenda,Hall
39942,Mary Abraham,Charles,Elizabeth,Clinton
39954,John,Chevalier,Peter,Chevalier
40053,Francis,Hopkinson,James,Scarle
40054,William,Heysham,Frac,Hopkinson
40216,Anna,Cunningham,George,Cunningham
40229,Anna Dav,Cunningham,George,Cunningham
40284,Peter,Wikoff,Isaac,Wiloff
40373,Anthony,Stocker,Thomas,Wharton
40380,Anthony,Strother,Thomas,Thorton
40474,Gaston,Dec,Jeremiah,Halsey
40503,Sam,Morton,John,Morton
40518,David,Caldwell,Sam,Caldwell
40523,William,Allison,Samuel,Caldwell
40600,Jacob,Carver,Jacob,Brush
40611,Jacob,Carver,,Roush
40646,NaN,Benezet,NaN,Backman
40713,Samuel,Vernon,William,Vernon
40857,G i l b e r t H a m m o n,d,Cornelius,Tommand
40901,Samuel,Verner,W,Verner
40959,William,Allison,John,Bleakley
40967,William,Allison,Margarett,Wilkins
40977,John,Blackley,William,Allison
41000,Peter,Wilkoff,Isaac,Wilkoff
41176,Townsand,White,John,White
41198,Matthew,Allen,William,Allison
41393,NaN,Simons,NaN,Henry
41418,John,Ewing,Smith,Sergeant
41428,John,Ewing,Jonathan,Sergant
41450,NaN,Rotch,NaN,Jarvis
41514,J,Gleen,Mark,Glenn
41668,Jonathan,Sargeant,John,Erwin
41857,Andrew,Caldwell,James,Caldwell
42567,Rich,Walker,Wile,Ramsey
42845,Thomas,Jones,Mathew,Greer
42885,John,Green,Matthew,Green
42937,Joseph,Boyd,Ann,Roan
42973,Moses,Dichey,George,Dukey
44405,Elizabeth,Latima,Jane,Latima
44427,Elizabeth,Latimer,Jane,Latimer
44558,NaN,Levy,NaN,Levy
45198,Thestah Off,Fummingham,Nathan,Donnell
45624,Mary,Roberts,Ann,Roberts
45701,Archibald,Mercer,J P,Schenk
45745,Presbyterian Congregation N town,NaN,Joseph,Jacket
46924,Jacob,Carver,Mary,Bldney
46941,John,Lilly,W,Withrow
46952,Joseph,Clarke,W,Withrow
46966,Hal,Turnby,Johan,Cook
47060,Cath,McWater,John,Walles
47173,Jer,Halsey,Saiah,Gaston
47293,NaN,Milner,NaN,Haynes
47454,Andrew,Caldwell,Samuel,Coldwell
47466,Andrew,Caldwell,Isaac,Coldwell
47552,Phil,Johnston,Samuel,Johnston
47734,Michel,Churches,Zion,Churches
47758,Corporation of Michelle & Zion Churches,NaN,Michele,Shubart
48237,NaN,Chalone,NaN,White
48243,NaN,Charles,NaN,White
48274,Vance Caldwell,Vance,NaN,Vance
48314,Josiah,Moore,William,Rigdense
48594,Jacob,Geiger,Henry,Geiger
48596,Letitea,Correy,Am,Correy
48605,Lelitia,Correy,Ann,Correy
48660,NaN,Milner,NaN,Sherr
48661,NaN,Craig,NaN,Cummins
48749,Timothy,Wood,Abraham,Cuyler
48767,John,Wood,Abraham,Caylor
48824,Anna,Painter,George Young,Gerardia
49145,NaN,Furman,NaN,Hunt
49428,I,Sears,P N,Smith
49433,Isaac,Sears,R N,Smith
49440,Ilean,Smith,RN,Smith
49581,Stephen,Boyd,,Edwards
49582,David,Mackey,,Mackey
49611,William,Boyd,H.,Boyd
50185,NaN,Furman,NaN,Yard
50297,J,Dickinson,Ed,Keasby
50478,NaN,Sam,NaN,Havard
50644,NaN,Tramen,NaN,Hunt
51099,Leon,Ampach,,Liller
51130,Leon,Anshach,Geo,Seller
51262,Nexon,Nesbitt,Forster,Nesbitt
51268,Nixon,Nisbitt,Foster,Nisbitt
51340,Mac,Croken,William,Munns
51345,Conaard,Teulps,,Kelcher
51363,NaN,Lambson,William,Meeum
51367,Conrad,Scheele,Gen.,Kelehner
51478,NaN,Peter,NaN,Dumont
51546,Robert,Paisley,Sar,Clinlow
51730,NaN,Michael,NaN,Hohn
51742,NaN,Hezekiah,NaN,Hooghtalm
51894,NaN,Taylor,NaN,Alexander
51920,NaN,Jayber,NaN,Mesander
51938,Samuel,Allen,James,Wilson
52146,Robert,Steven,Cor.,Steven
52167,Dewald,Ent,Geo,Miller
52176,Robert,Stevens,Corns,Stevens
52556,Thomas,Hutchins,Daniel,Smith
52809,John Pingel,Herlake,J,Nickson
52934,NaN,Keph,NaN,Doryea
52957,J,Hartman,Herman,Fil
52968,Isaac,Hartman,Heeman Van,Jul
53038,John,Brobst,Andrew,Hagenbach
53479,Jacob,Bilman,Philip,Sidler
53566,NaN,the Craig,Ja Gamiel,Dowdel
53602,Thomas,Craig,James Ganeal,Davidal
53690,Sarah,Stewart,Mary,Stewart
53730,Jn,Nixon,I M,Nerbitt
53731,Sam,Lightburne,I,Harvey
53762,NaN,Wood,NaN,Cuyler
54408,Richard,jarvill,Thomas,Haslip
54455,Philip,Fox,Simeon,Dreisback
54473,Emannet,Shultze,John,Pennybacker
54495,Estale Ju,Eighter,John,Cacker
54837,Andrew,Caldwell,Jabez,Caldwell
54845,John Isaac,Kline,George,Klein
54921,Peter,Breenner,Jn,Trappagan
55195,Hachinach Church,NaN,Jun,Abraham
55258,NaN,Messer,NaN,Spark
55262,German Society,NaN,Michele,Shubert
55273,NaN,Mercer,NaN,Schenk
55410,Samuel,Jones,Margaret,Jackson
55432,Hugh Samuel,Jons,Neary,Jackson
55521,H,Woodrow,Peter,Knight
55674,Detrik,Pecse,Michael,Shubert
55780,Dutrich,Reese,Michele,Shubart
55831,NaN,Levi,NaN,Levi
56020,NaN,VanUhsam,NaN,Clarks
56038,John Mam,Dunbar,NaN,Dunbar
56093,Van Vrem,Clark,NaN,Clark
56095,John,Mann,Andrew,Dunbar
56384,Christian,Weedman,S a m u e l H a r r i,s
56802,NaN,Michael,NaN,Cart
57004,Robert,Stevenson,Christopher,Stevenson
57005,Rob,Stevenson,Corn,Stevenson
57010,Robert,Stevenson,Coss,Stevenson
57146,Abraham Levi,son,NaN,son
57191,Fred,Fearing,Sebastian,Miller
57291,William,Rigden,Edward,Middleton
57367,Herman Van,Tiel,I,Hartman
57469,Hre,Rest,St Pr,Chumess
57473,Jacob,Fisher,,Lentz
57476,Ed,Keasby,Ch,Bilderback
57634,Mat,Mease,,Allison
57653,NaN,Samuel,NaN,Rea
57674,Peter,Brown,N,Jacoobs
57680,Peter,Brown,Nic,Jacobs
57702,NaN,Dubois,NaN,Hutman
57944,John,Gaston de,Jere,Kalbey
57951,Jn,Gaster,Jer,Hals
58213,Samuel,Delap,John Hans,Delap
58246,Guilliaume Sabatier,Sits,Pierce,Despres
59227,German Society,NaN,Michael,Shutart
59863,John,Gibson,John,Smith
60005,John Pringle Ve,Ex,NaN,Ex
60010,In Peingle Harr,Lake,John Nixon,Ex
60120,Jn,Klinger,Ernest,Klinger
60132,John,Klinger,Ernest,Klinger
60205,NaN,Peter,NaN,Henry
60775,Will,Rigden jr,Joshua,Moore
61546,NaN,Meredith,NaN,Clymer
61570,NaN,Meredith,NaN,Plymir
61724,Robert,Weis,John,Weis
61726,Robert,Will,Jn,Will
61970,William,Stadlerman,Pk,Lickon
61973,NaN,Rutter,NaN,Potts
62583,Sam,Ely,Jn Gallaher,Esq
62594,Camble Cooper,Tapp,NaN,Tapp
62693,Sam,Ely,Michel,Gellinger
62770,Samuel,Ely,Michael Gellington,Esq
67543,Simon Dreisbach For,Estates,John,fox
68296,NaN,Ferrason,NaN,Pocy
68299,NaN,Terrason,NaN,Pory
68314,NaN,North,NaN,Trescott
69124,John,Man,Andrew,Dunham
69185,Samuel,Purviance,Robert,Purviance
69187,Samuel,Purseyaner,Robert,Purseyaner
69200,Jeremiah,Halsey,Sarah,Gaster
69231,Henry,Brown,Thomas,Brown
69327,St Michael and Zeus Corporation,NaN,Michael,Schubert
69634,Doc,Russ,Mich,Shubart
69638,Detrick,Ruser,Michael,Shabach
69823,Peter,Wilson,Isaac,Wikoff
70033,William,Alexander,Earl,Sterling
70077,Jacob,Calvert,,Rauch
70110,NaN,Foulke,NaN,Hameren
70133,Christ V.,Cross,,Fisher
70246,Corperetion of F Mich & Lions Cer,NaN,John,Steinmetz
70305,William,Haztelon,John,Wilhinson
70335,German Society,NaN,M,Shubart
71032,Ev,Mitchell,A,Caldwell
71933,NaN,McCulloch,NaN,Peterson
72125,St Michaels and Zions Cerpreatere,NaN,Jon,Steinmetz
72367,NaN,Read,NaN,Gilpin
72803,NaN,Glan,NaN,McClay
72811,Edward,Armstrong,Rebecca,Armstrong
73066,John,Rogers,Richard,Cooke
73095,NaN,Rogers,NaN,Cooke
73117,William,Horsey,Isaac,Horsey
73122,NaN,Wallace,NaN,Davidson
73475,Massachusetts Milner,Haines,NaN,Haines
73787,Harris Wood,Wainright,NaN,Wainright
73840,NaN,Eastman,NaN,Neth
73892,Arell Cooper,Arrel,NaN,Arrel
74092,NaN,Allison,NaN,Ramsey
74162,NaN,Wilkins,NaN,Gassaway
74275,NaN,Hooe,NaN,Harrisons
74396,NaN,Russell,NaN,Gilmore
74474,NaN,Richard,NaN,Jennings
75535,George,Vande,Robert,Nielson
75562,Thomas,Coppinger,John,Denmese
75958,NaN,Kirsley,NaN,Monrow
76300,Eleanor,Lansdale,Thomas,Lansdale
76730,NaN,Hec,NaN,Harrisons
76774,Robert,Finley,Mark,Kerwan
77028,NaN,McLure,NaN,Sterrett
77048,Polly,Sterrett,Harriet,Sterrett
77205,John,Hall,John,Crunbury
77446,NaN,Russell,NaN,Gilmour
77900,Francis Fair,Brother,Allen,Luynn
78659,George,Vance,Robert,Nielson
78681,William,Hammond,Robert,Moose
79149,SD George,Comp.,NaN,Comp.
79496,NaN,Davis,NaN,Morris
79509,NaN,Phripp,NaN,Bondoin
79576,William,Ruffin,Jno H,Cocke
79672,NaN,Newton,NaN,Kelly
79677,Jno,Kuykendal,Henry,Kuykendal
79916,NaN,Ker,NaN,Lyon
79939,Miss Early,Callaway,NaN,Callaway
79960,Isaac,Smith,Thoroughgood,Smith
79978,Messrs Newton,Holly,NaN,Holly
79983,,Atkinsons,,
80024,NaN,Keel,NaN,Roberts
80068,NaN,Roulhac,NaN,Compy
80279,Thomas,Roane,William,Roane
80516,Peter,Conway,James,Ball
80636,NaN,Mitchell,NaN,Graham
80662,Mess Early,Callaway,NaN,Callaway
80775,NaN,Smith,NaN,Gatewood
80799,Baker Blow,Oldham,NaN,Oldham
80831,Thomas,Varring,William,Varring
80896,NaN,Doerner,NaN,Mark
80904,NaN,Mitchell,NaN,Oldham

## Final Manual Replacement

In [120]:
repl_index = loans[loans['First Name 1 '].apply(lambda x: not pd.isnull(x) and x == 'Peter & Anna Maricha')].index
loans.loc[repl_index, 'original text'] = 'Peter & Anna Maricha'
loans.loc[repl_index, ['First Name 1 ', 'Last Name 1 ', 'First Name 2', 'Last Name 2']] = ['Peter', 'Maricha', 'Anna', 'Maricha']
repl_index = loans[loans['First Name 1 '].apply(lambda x: not pd.isnull(x) and x == 'Myndert & Mary')].index
loans.loc[repl_index, 'original text'] = 'Myndert & Mary Van Schaick'
loans.loc[repl_index, ['First Name 1 ', 'Last Name 1 ', 'First Name 2', 'Last Name 2']] = ['Myndert', 'Van Schaick', 'Mary', 'Van Schaick']

In [121]:
repl_index = loans[[not pd.isnull(x) and '&' in x and pd.isnull(y) for x, y in zip(loans['First Name 1 '], loans['Title 1'])]].index
loans.loc[repl_index, 'original text'] = [x + " " + y for x, y in zip(loans.loc[repl_index, 'First Name 1 '], loans.loc[repl_index, 'Last Name 1 '])]
loans.loc[repl_index, ['Last Name 2']] = loans.loc[repl_index, 'Last Name 1 ']
loans.loc[repl_index, ['Last Name 1 ']] = loans.loc[repl_index, 'First Name 1 '].apply(lambda x: x.replace("&", "")).tolist()
loans.loc[repl_index, ['First Name 1 ']] = [np.nan] * len(repl_index)

In [122]:
repl_index = loans[loans['Last Name 1 '].apply(lambda x: not pd.isnull(x) and '&' in x)].index
loans.loc[repl_index, 'original text'] = [x + " " + y for x, y in zip(loans.loc[repl_index, 'First Name 1 '], loans.loc[repl_index, 'Last Name 1 '])]
loans.loc[repl_index, ['First Name 1 ']] = 'Samuel'
loans.loc[repl_index, ['Last Name 1 ']] = 'Samuel'
loans.loc[repl_index, ['notes']] = 'son'

In [123]:
repl_index = loans[loans['original text'].apply(lambda x: x == 'Sam Austin exec to Sam Hasting')].index 
loans.loc[repl_index, ['First Name 2']] = 'Sam'

In [124]:
repl_index = loans[loans['Last Name 1 '].apply(lambda x: x == 'Gordon Treasurer to the Convention of Ministers')].index
loans.loc[repl_index, ['Title 1', 'Last Name 1 ', 'notes', 'original text']] = ['Treasurer', 'Gordon', 'Convention of Ministers', 
                                                                               'William Gordon Treasurer to the Convention of Ministers']
repl_index = loans[loans['Last Name 1 '].apply(lambda x: x == 'Thurston Treas Church Wrentham')].index
loans.loc[repl_index, ['Title 1', 'Last Name 1 ', 'notes', 'original text']] = ['Treasurer', 'Thurston', 'Church Wrentham', 
                                                                                'Daniel Thurston Treas Church Wrentham']
repl_index = loans[loans['Last Name 1 '].apply(lambda x: x == 'Biglow Guardian to her Children')].index
loans.loc[repl_index, ['Title 1', 'Last Name 1 ', 'notes', 'original text']] = ['Guardian', 'Biglow', 'children', 
                                                                                'Anna Biglow Guardian to her Children']
repl_index = loans[loans['Last Name 1 '].apply(lambda x: x == 'Miller Treas Westminster')].index
loans.loc[repl_index, ['Title 1', 'Last Name 1 ', 'notes', 'original text']] = ['Treas', 'Miller', 'Westminster', 
                                                                                'Joseph Miller Treas Westminster']
repl_index = loans[loans['Last Name 1 '].apply(lambda x: x == 'Allen Executor to B Winchester')].index
loans.loc[repl_index, ['Title 1', 'Last Name 1 ', 'First Name 2', 'Last Name 2', 'original text']] = ['Executor', 'Allen', 'B', 'Winchester', 
                                                                                                      'Joseph Allen Executor to B Winchester']
repl_index = loans[loans['Last Name 1 '].apply(lambda x: x == 'Estates')].index 
loans.loc[repl_index, ['First Name 1 ', 'Last Name 1 ', 'notes']] = ['Simon', 'Dreisbach', 'Estates']
repl_index = loans[loans['Last Name 1 '].apply(lambda x: x == 'Comp.')].index 
loans.loc[repl_index, ['First Name 1 ', 'Last Name 1 ', 'notes']] = ['SD', 'George', 'Comp.']

In [133]:
temp = loans[[pd.isnull(x) and pd.isnull(y) and pd.isnull(z) for x, y, z in zip(loans['First Name 1 '], loans['First Name 2'], loans['First Name 3'])]]

In [183]:
temp['original text'].apply(lambda x: x.replace(' and ', ' & ') if not pd.isnull(x) else x)

374                    NaN
414                    NaN
492                    NaN
523                    NaN
524                    NaN
               ...
80900       Doerner & Mark
80901       Doerner & Mark
80902       Doerner & Mark
80903       Doerner & Mark
80904    Mitchell & Oldham
Name: original text, Length: 1385, dtype: object

In [ ]:
#swamp blake & homans and homans & blake

In [180]:
temp[['original text', 'State']].drop_duplicates().to_csv("state_companies.csv")

In [178]:
loans[loans['Last Name 1 '].apply(lambda x: not pd.isnull(x) and 'blackman' == x.lower())][['First Name 1 ','Last Name 1 ']].drop_duplicates()

      First Name 1  Last Name 1
20532     Lachariah     Blackman
21239      Ebenezer     Blackman
56041        Andrew     Blackman

In [135]:
loans.to_csv('Data/Pre1790/cleaned/loan_office_certificates_9_states_cleaned.csv')