In [1]:
#Import libraries.
import pandas as pd
import rapidfuzz
from nltk.corpus import stopwords
import numpy as np
from yake import KeywordExtractor

In [2]:
Stops = stopwords.words('english') #Returns all stopwords in the English language. 
print(Stops)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [3]:
# final manual dict
datadict = {'adm':'administrator', 'administer':'administrator', 'administratrix estate joshua brown':'administrator',
            'adminastrator':'administrator',
 'ah.vat':'lawyer', 'asse john b':'executor', 'behalf':'executor', 'black':'blacksmith',
 'blacks':'blacksmith', 'book':'book binder', 'chaise':'chaise maker', 'charleston':'merchant',
 'christopher':'executor', 'cordwainder':'cordwainer', 'esq':'esquire', 'esquier':'esquire',
 'ex':'executor', 'excuetor':'executor', 'executers':'executor', 'executor michael de mott deceased':'executor', 'executrix':'executor',
 'extors late jn jenckes': 'executor', 'extors late nicholas brown':'executor','frderick':'soldier',
 'general treasurer state rhode island suceessors':'treasurer','hair':'hair dresser','in trust jacobus van eis somerset county new jersey':'executor',
 'inn':'inn keeper', 'innholder':'inn keeper', 'law':'lawyer', 'leather':'leather dresser', 'penniston': np.nan, 'pennsylvania': np.nan, 'post':'post master',
 'property':'executor','school':'school master', 'ship':'ship wright','shop':'shop keeper', 'society':'treasurer', 'south':np.nan,
 'the state':np.nan,'vendue':'vendue master', 'treasurer baptist benevolent':'treasurer', 'treasurer charitable baptist':'treasurer',
 'treasurer congregational benevolent':'treasurer', 'treasurer society cincinnati state':'treasurer', 'treasurer st johns ledge no 1 tree accepted':'treasurer',
 'treasurer state rhode island':'treasurer', 'tresurer catholic':'treasurer', 'trust':'trustee','baird':'executor',
            'cabinet':'cabinet maker', 'asse john b ashe exe' : 'executors', 'trust' : 'assignee', 'pennsylvania' : 'no occupation', 'co' : 'no occupation', 'penniston' : 'no occupation',
'committee':'committee member', 'controller':'customs controller',
            'occupation':'no occupation'
 }

# Conneticut

In [4]:
State = 'CT'
AllOccs = pd.read_csv('../../../Data/Post1790/Aggregated/aggregated_CD.csv') #Returns aggregated CSV file.
AllOccs.loc[AllOccs[AllOccs['occupation'].apply(lambda x: pd.isnull(x))].index, 'occupation'] = 'No Occupation'
AllOccs.drop(columns=['Unnamed: 0'], inplace=True) #Drop duplicate index column which appears.
AllOccsCT = AllOccs[AllOccs['state'] == State] #Separate rows by state
AllOccsCT = AllOccsCT.dropna(subset=['occupation']).reset_index(drop=True) #Drop any rows w/o an occupation listed. 
print(AllOccsCT)

     6p_Dollar  6p_Cents  6p_def_Dollar  6p_def_Cents  3p_Dollar  3p_Cents  \
0       1064.0      75.0          532.0          37.0      508.0      51.0
1        449.0      96.0          224.0          97.0      232.0      10.0
2        196.0      75.0           98.0          37.0      172.0      24.0
3         53.0      58.0           26.0          79.0       67.0       6.0
4        345.0      50.0          172.0          75.0      248.0      76.0
..         ...       ...            ...           ...        ...       ...
910       39.0      11.0           19.0          55.0       14.0       7.0
911       13.0      21.0            6.0          61.0        4.0      74.0
912      533.0      34.0          266.0          66.0      446.0      66.0
913      658.0      47.0          329.0          23.0      558.0      50.0
914       12.0      22.0            6.0          11.0       11.0       NaN

             town state     occupation                   Name  \
0        Hartford    CT       Merchant   ['Samuel W Pomeroy']
1          Bolton    CT         Farmer  ['Benjamin Trumbull']
2        Hartford    CT       Merchant     ['Thomas Hopkins']
3        Hartford    CT       Merchant        ['John Morgan']
4    Wethersfield    CT  No Occupation         ['John Lewis']
..            ...   ...            ...                    ...
910    Middletown    CT         Yeoman  ['Thomas Coggeshall']
911    Middletown    CT         Yeoman        ['Peleg Brown']
912       Norwich    CT       Merchant     ['Joseph Howland']
913       Norwich    CT       Merchant      ['Lynde McCurdy']
914       Ashford    CT         Yeoman        ['David Brown']

                county name_type  6p_total
0      Hartford County      town   1064.75
1       Tolland County      town    449.96
2      Hartford County      town    196.75
3      Hartford County      town     53.58
4      Hartford County      town    345.50
..                 ...       ...       ...
910   Middlesex County      town     39.11
911   Middlesex County      town     13.21
912  New London County      town    533.34
913  New London County      town    658.47
914     Windham County      town     12.22

[915 rows x 13 columns]

In [5]:
OccsTotalsCT = AllOccsCT.groupby('occupation')['6p_total'].apply(sum).reset_index() #Combine duplicate occupations.
OccsTotalsCT['# of people'] = OccsTotalsCT['occupation'].map(AllOccsCT['occupation'].value_counts(dropna=False)) #Map # of people that belong to each occupation.
ogoccs = OccsTotalsCT[['occupation']]
print(OccsTotalsCT.to_string())

                                                           occupation   6p_total  # of people
0                                   Adminastrator of the Asa Waterman     218.47            1
1                                      Adminastrator to David Fellows       0.00            1
2   Adminastrator to the Estate of Epaphras Bull of Hartford Deceased      61.30            1
3                        Adminastrator to the Estate of Samuel Tilley      94.67            1
4            Adminastrator to the estate of Uriah Loomis Jun Deceased      73.50            1
5                                          Administrator to J McCurdy    3413.72            2
6                         Administrator to the estate of Daniel Unkus      54.05            1
7                Adminstrator to the Estate of Ezekiel Carey Deceased      77.61            1
8                  Adminstrator to the Estate of Ruth Skiffe Deceased      87.74            1
9                                                          Apothecary       7.72            1
10                                                           Attorney    4863.67            3
11                                                    Attorney at Law    6250.93           17
12                                                         Blacksmith     724.71            3
13                                                             Broker     208.55            3
14                                                          Carpenter     175.34            1
15                                           Cashier of Hartford Bank      85.30            2
16                                                           Clothier      53.33            1
17                           Committee of the 1st Ecclestical Society     306.28            1
18                         Committee of the 1st Society of Plainville     220.49            1
19                                                             Cooper     124.76            1
20                                                             Doctor     647.09            1
21                                                            Esquire   13020.09           13
22                           Executor to Ezra Selden of Lyme Deceased    1963.62            1
23                               Executor to Stephen Johnson Deceased       6.02            1
24                                 Executor to Stephen Keyes Deceased     266.67            1
25                               Executor to William Nichols Deceased       4.70            1
26                      Executor to the Estate of Tim Mather Deceased    1573.33            1
27                 Executor to the Estate of Uriah Loomis is Deceased     614.19            1
28                   Executors to the Estate of Jabez Hamlin Deceased     129.72            1
29                                                             Farmer   36715.82          167
30                                                          Gentleman   16624.32           32
31                                                          Goldsmith       6.82            1
32                                            Guardian to Betsey Coit    1020.45            1
33                                                 Guardian to J Neff      58.11            1
34                                           Guardian to Sally Morgan     167.06            1
35                                                             Hatter     242.99            1
36                                                         Inn Keeper     201.53            3
37                                                             Joiner      53.33            1
38                                                    Leather Dresser     666.67            1
39                                                            Mariner    3831.05           13
40                                                           Merchant   63745.92           62
41                                                          Merchents      19.08            1
42                                                             Miller      18.99            1
43                                                            Molster     211.38            1
44                                                      No Occupation  673180.80          432
45                                                          Physician    1303.46            3
46                                                         Post Rider     676.91            3
47                                                            Printer     204.78            2
48                                                        Proprietors     276.90            1
49                                                             Sadler    3524.74            1
50                                                   School Committee     305.49            4
51                                       School Committee 1st Society     426.04            1
52                                      School Committee North Parish     108.79            1
53                                     School Committee North Society     231.33            1
54                                                      School Master    2213.75            2
55                                                   Sherriffs Deputy     512.45            3
56                                                         Shipwright     533.33            1
57                                                          Shoemaker    1345.46            6
58                                                  Society Committee     336.64            1
59                                                  Society Treasurer     303.27            3
60                                                            Soldier      78.48            1
61                                                           Spinster    1731.58            6
62                                                             Tanner     713.06            1
63                                                             Taylor     209.81            1
64                                                             Trader    9192.98           43
65                                                            Traders     261.15            3
66                                                          Treasurer    4523.35            4
67                                  Treasurer 1st Society in Cornwall     175.27            1
68                                          Treasurer Stepney Society     164.31            1
69                                           Treasurer in 1st Society     282.37            1
70                                       Treasurer of Preston Society    1447.26            1
71                                          Treasurer of Yale College    2697.98            1
72              Treasurer to the Society of Cincinnati in Connecticut    5793.34            2
73                                                              Widow    6488.11           28
74                                         Wife of Eliphalet Williams      63.64            1
75                                                             Yeoman      64.54            3

In [6]:
#Function that returns the same dataframe, but with all stopwords removed from the occupation titles. 
def RemoveStopwords(OccsTotals):
    OccsTotals['occupation'] = OccsTotals['occupation'].apply(lambda OccName: ' '.join(word.lower() for word in OccName.split() if word not in Stops))
    return OccsTotals

In [7]:
OccsTotalsCT = RemoveStopwords(OccsTotalsCT) #Call 
print(OccsTotalsCT.to_string())
ogoccs['new occupation'] = OccsTotalsCT['occupation']

                                              occupation   6p_total  # of people
0                             adminastrator asa waterman     218.47            1
1                            adminastrator david fellows       0.00            1
2   adminastrator estate epaphras bull hartford deceased      61.30            1
3                     adminastrator estate samuel tilley      94.67            1
4         adminastrator estate uriah loomis jun deceased      73.50            1
5                                administrator j mccurdy    3413.72            2
6                      administrator estate daniel unkus      54.05            1
7             adminstrator estate ezekiel carey deceased      77.61            1
8               adminstrator estate ruth skiffe deceased      87.74            1
9                                             apothecary       7.72            1
10                                              attorney    4863.67            3
11                                          attorney law    6250.93           17
12                                            blacksmith     724.71            3
13                                                broker     208.55            3
14                                             carpenter     175.34            1
15                                 cashier hartford bank      85.30            2
16                                              clothier      53.33            1
17                     committee 1st ecclestical society     306.28            1
18                      committee 1st society plainville     220.49            1
19                                                cooper     124.76            1
20                                                doctor     647.09            1
21                                               esquire   13020.09           13
22                    executor ezra selden lyme deceased    1963.62            1
23                     executor stephen johnson deceased       6.02            1
24                       executor stephen keyes deceased     266.67            1
25                     executor william nichols deceased       4.70            1
26                   executor estate tim mather deceased    1573.33            1
27                 executor estate uriah loomis deceased     614.19            1
28                executors estate jabez hamlin deceased     129.72            1
29                                                farmer   36715.82          167
30                                             gentleman   16624.32           32
31                                             goldsmith       6.82            1
32                                  guardian betsey coit    1020.45            1
33                                       guardian j neff      58.11            1
34                                 guardian sally morgan     167.06            1
35                                                hatter     242.99            1
36                                            inn keeper     201.53            3
37                                                joiner      53.33            1
38                                       leather dresser     666.67            1
39                                               mariner    3831.05           13
40                                              merchant   63745.92           62
41                                             merchents      19.08            1
42                                                miller      18.99            1
43                                               molster     211.38            1
44                                         no occupation  673180.80          432
45                                             physician    1303.46            3
46                                            post rider     676.91            3
47                                               printer     204.78            2
48                                           proprietors     276.90            1
49                                                sadler    3524.74            1
50                                      school committee     305.49            4
51                          school committee 1st society     426.04            1
52                         school committee north parish     108.79            1
53                        school committee north society     231.33            1
54                                         school master    2213.75            2
55                                      sherriffs deputy     512.45            3
56                                            shipwright     533.33            1
57                                             shoemaker    1345.46            6
58                                     society committee     336.64            1
59                                     society treasurer     303.27            3
60                                               soldier      78.48            1
61                                              spinster    1731.58            6
62                                                tanner     713.06            1
63                                                taylor     209.81            1
64                                                trader    9192.98           43
65                                               traders     261.15            3
66                                             treasurer    4523.35            4
67                        treasurer 1st society cornwall     175.27            1
68                             treasurer stepney society     164.31            1
69                                 treasurer 1st society     282.37            1
70                             treasurer preston society    1447.26            1
71                                treasurer yale college    2697.98            1
72              treasurer society cincinnati connecticut    5793.34            2
73                                                 widow    6488.11           28
74                               wife eliphalet williams      63.64            1
75                                                yeoman      64.54            3

/var/folders/5s/dvrxt95949x1pm_sjxm85lj00000gn/T/ipykernel_60320/1356372720.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ogoccs['new occupation'] = OccsTotalsCT['occupation']

In [8]:
Remove = 2 #Define remove constant.

In [9]:
#This function will help determine how many words we can acceptably cut off from the end. 
def FindRemoveConst(Occupations):
    TempMaxLength = 2
    
    print('Occupation Before --> Occupation After')
    print('--------------------------------------')
    print('\n')

    retdict = dict()

    for Occupation in Occupations:
        if (len(Occupation.split()) > TempMaxLength): #If occupation has more than two words, remove last two words.
            OccupationAfter = Occupation.rsplit(' ', Remove)[0] 
        else:
            OccupationAfter = Occupation #Else, set them both equal to each other; nothing changes. 
        retdict[Occupation] = OccupationAfter
        print(Occupation + ' --> ' + OccupationAfter)
    return retdict

In [10]:
retdict = FindRemoveConst(OccsTotalsCT['occupation'].tolist())
ogoccs['new occupation'] = ogoccs['new occupation'].apply(lambda x: retdict[x])

Occupation Before --> Occupation After
--------------------------------------


adminastrator asa waterman --> adminastrator
adminastrator david fellows --> adminastrator
adminastrator estate epaphras bull hartford deceased --> adminastrator estate epaphras bull
adminastrator estate samuel tilley --> adminastrator estate
adminastrator estate uriah loomis jun deceased --> adminastrator estate uriah loomis
administrator j mccurdy --> administrator
administrator estate daniel unkus --> administrator estate
adminstrator estate ezekiel carey deceased --> adminstrator estate ezekiel
adminstrator estate ruth skiffe deceased --> adminstrator estate ruth
apothecary --> apothecary
attorney --> attorney
attorney law --> attorney law
blacksmith --> blacksmith
broker --> broker
carpenter --> carpenter
cashier hartford bank --> cashier
clothier --> clothier
committee 1st ecclestical society --> committee 1st
committee 1st society plainville --> committee 1st
cooper --> cooper
doctor --> doctor
esquire --> esquire
executor ezra selden lyme deceased --> executor ezra selden
executor stephen johnson deceased --> executor stephen
executor stephen keyes deceased --> executor stephen
executor william nichols deceased --> executor william
executor estate tim mather deceased --> executor estate tim
executor estate uriah loomis deceased --> executor estate uriah
executors estate jabez hamlin deceased --> executors estate jabez
farmer --> farmer
gentleman --> gentleman
goldsmith --> goldsmith
guardian betsey coit --> guardian
guardian j neff --> guardian
guardian sally morgan --> guardian
hatter --> hatter
inn keeper --> inn keeper
joiner --> joiner
leather dresser --> leather dresser
mariner --> mariner
merchant --> merchant
merchents --> merchents
miller --> miller
molster --> molster
no occupation --> no occupation
physician --> physician
post rider --> post rider
printer --> printer
proprietors --> proprietors
sadler --> sadler
school committee --> school committee
school committee 1st society --> school committee
school committee north parish --> school committee
school committee north society --> school committee
school master --> school master
sherriffs deputy --> sherriffs deputy
shipwright --> shipwright
shoemaker --> shoemaker
society committee --> society committee
society treasurer --> society treasurer
soldier --> soldier
spinster --> spinster
tanner --> tanner
taylor --> taylor
trader --> trader
traders --> traders
treasurer --> treasurer
treasurer 1st society cornwall --> treasurer 1st
treasurer stepney society --> treasurer
treasurer 1st society --> treasurer
treasurer preston society --> treasurer
treasurer yale college --> treasurer
treasurer society cincinnati connecticut --> treasurer society
widow --> widow
wife eliphalet williams --> wife
yeoman --> yeoman

/var/folders/5s/dvrxt95949x1pm_sjxm85lj00000gn/T/ipykernel_60320/3165089881.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ogoccs['new occupation'] = ogoccs['new occupation'].apply(lambda x: retdict[x])

In [11]:
#Declare necessary parameters for KeywordExtractor() function.
MaxLength = 2
language = 'en' #Set language to English.
MaxSize = 1  #Each keyword can only be a max. length of 1.
DupThres = 0.5 #Words can not be used repeatedly in keywords. Treat each word separately. 
KeyExtractor = KeywordExtractor(lan=language, n=MaxSize, dedupLim=DupThres, features=None) #Create KeywordExtractor object.
NoMerge = []

In [12]:
# Manually clean items. 
Exceptions = {'inn keeper': 'inn keeper', 'leather dresser': 'leather dresser', 'post rider': 'post rider', 
              'school committee': 'school committee', 'school master': 'school master', 'society committee': 'committee', 
              'society treasurer': 'treasurer', 'frederick company': 'frederick company', 'the state north carolina': None,
              'the state of north carolina' : 'the state of north carolina','in trust jacobus van eis somerset county': 'assignee', 
              'ah.vat law': 'attorney', 'black smith': 'blacksmith','book binder': 'book binder', 'ex estate john baird': 'executors', 
              'ex': 'executors', 'junior broker': 'broker', 'post master': 'post master', 'ship wright': 'ship wright', 'shop keeper': 'shopkeeper', 
              'christopher mary': 'individual', 'law': 'attorney', 'lawyer': 'attorney', 
              'adm alexander mccaraher late chester': 'administer', 
              'general treasurer state rhode island suceessors said': 'treasurer', 'behalf proprietors': 'proprietors', 
              'chaise maker': 'chaise maker', 'executrix william': 'executor', 'blacks smith': 'blacksmith', 
              'cabinet maker': 'cabinet maker', 'charleston merchants': 'merchants', 'hair dresser': 'hair dresser', 
              'south carolina': 'south carolina', 'vendue master': 'auctioneer', 'physician' : 'doctor', 'administer' : 'adminastrator',
                'esquier' : 'esq', 'excuters' : 'excuetor', 'extors' : 'excuetor', 'esquire' : 'esq', 'executers' : 'excuetor',
             'yeoman' : 'farmer', 'cordwainer' : 'shoemaker', 'joiner' : 'carpenter', 'innholder' : 'inn keeper', 'factor' : 'trader',
             'asse john b ashe exe' : 'executors', 'trust' : 'assignee', 'pennsylvania' : None, 'co' : None, 'penniston' : None,
              'committee':'committee member', 'controller':'customs controller'}

In [13]:
#Print alphabetized version of 'Exceptions'.
for Name in sorted(Exceptions):
    print("%s: %s" % (Name, Exceptions[Name]))

adm alexander mccaraher late chester: administer
administer: adminastrator
ah.vat law: attorney
asse john b ashe exe: executors
behalf proprietors: proprietors
black smith: blacksmith
blacks smith: blacksmith
book binder: book binder
cabinet maker: cabinet maker
chaise maker: chaise maker
charleston merchants: merchants
christopher mary: individual
co: None
committee: committee member
controller: customs controller
cordwainer: shoemaker
esquier: esq
esquire: esq
ex: executors
ex estate john baird: executors
excuters: excuetor
executers: excuetor
executrix william: executor
extors: excuetor
factor: trader
frederick company: frederick company
general treasurer state rhode island suceessors said: treasurer
hair dresser: hair dresser
in trust jacobus van eis somerset county: assignee
inn keeper: inn keeper
innholder: inn keeper
joiner: carpenter
junior broker: broker
law: attorney
lawyer: attorney
leather dresser: leather dresser
penniston: None
pennsylvania: None
physician: doctor
post master: post master
post rider: post rider
school committee: school committee
school master: school master
ship wright: ship wright
shop keeper: shopkeeper
society committee: committee
society treasurer: treasurer
south carolina: south carolina
the state north carolina: None
the state of north carolina: the state of north carolina
trust: assignee
vendue master: auctioneer
yeoman: farmer

In [14]:
#Print what the merged occupations will look like. This will help us find any exceptions. 
def PrintFutureOccupations(Occupations):    
    print('Occupations --> Potential Cleaned Occupations')
    print('---------------------------------------------')
    print('\n')

    retdict = dict()
    for Occupation in Occupations:
        if (len(Occupation.split()) > MaxLength): #If occupation has more than two words in it, remove last two words. Depends on constant. Might change. 
            Occupation = Occupation.rsplit(' ', Remove)[0]
            
        Keywords = KeyExtractor.extract_keywords(Occupation) #Retrieve list of keywords. 
        
        if (len(Keywords) == 0):
            Keywords.append((Occupation, ' '))
        retdict[Occupation] = str(Keywords[0][0])
        print(Occupation + ' --> ' + str(Keywords[0][0])) #Print current occupation title to hypothetical cleaned occupation title.
    return retdict

In [15]:
retdict = PrintFutureOccupations(OccsTotalsCT['occupation'].tolist())
ogoccs['new occupation'] = ogoccs['new occupation'].apply(lambda x: retdict[x])

Occupations --> Potential Cleaned Occupations
---------------------------------------------


adminastrator --> adminastrator
adminastrator --> adminastrator
adminastrator estate epaphras bull --> adminastrator
adminastrator estate --> adminastrator
adminastrator estate uriah loomis --> adminastrator
administrator --> administrator
administrator estate --> administrator
adminstrator estate ezekiel --> adminstrator
adminstrator estate ruth --> adminstrator
apothecary --> apothecary
attorney --> attorney
attorney law --> attorney
blacksmith --> blacksmith
broker --> broker
carpenter --> carpenter
cashier --> cashier
clothier --> clothier
committee 1st --> committee
committee 1st --> committee
cooper --> cooper
doctor --> doctor
esquire --> esquire
executor ezra selden --> executor
executor stephen --> executor
executor stephen --> executor
executor william --> executor
executor estate tim --> executor
executor estate uriah --> executor
executors estate jabez --> executors
farmer --> farmer
gentleman --> gentleman
goldsmith --> goldsmith
guardian --> guardian
guardian --> guardian
guardian --> guardian
hatter --> hatter
inn keeper --> inn
joiner --> joiner
leather dresser --> leather
mariner --> mariner
merchant --> merchant
merchents --> merchents
miller --> miller
molster --> molster
no occupation --> occupation
physician --> physician
post rider --> post
printer --> printer
proprietors --> proprietors
sadler --> sadler
school committee --> school
school committee --> school
school committee --> school
school committee --> school
school master --> school
sherriffs deputy --> sherriffs
shipwright --> shipwright
shoemaker --> shoemaker
society committee --> society
society treasurer --> society
soldier --> soldier
spinster --> spinster
tanner --> tanner
taylor --> taylor
trader --> trader
traders --> traders
treasurer --> treasurer
treasurer 1st --> treasurer
treasurer --> treasurer
treasurer --> treasurer
treasurer --> treasurer
treasurer --> treasurer
treasurer society --> treasurer
widow --> widow
wife --> wife
yeoman --> yeoman

/var/folders/5s/dvrxt95949x1pm_sjxm85lj00000gn/T/ipykernel_60320/355176414.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ogoccs['new occupation'] = ogoccs['new occupation'].apply(lambda x: retdict[x])

In [16]:
#Handle duplicate occupations that are spelled differently. Pass in 'occupation' column as a list. Pass in function which will do a manual check for each state (differs w/ each state). 
def MergeOccupations(OccsTotals):
    OccsTotals['% of total people'] = None #Add a percent of total population column.
    Occupations = OccsTotals['occupation'].tolist() #Returns 'occupation' column as a list.    
    Index = 0 #Keep track of index. 
    
    for Occupation in Occupations:
        if (len(Occupation.split()) > MaxLength): #If occupation has more than two words in it, remove last two words. Depends on constant. Might change. 
            Occupation = Occupation.rsplit(' ', Remove)[0]
            
        Keywords = KeyExtractor.extract_keywords(Occupation) #Retrieve list of keywords. 
        
        if (len(Keywords) == 0):
            Keywords.append((Occupation, ' '))
        
        NewOccupation = Keywords[0][0] #Get new occupation from list of keywords. Based on which keyword has the highest rating.
                
        if (Occupation in Exceptions): #If occupation is an exception, set new occupation. 
            NewOccupation = Exceptions[Occupation]
    
        OccsTotals.loc[Index, 'occupation'] = NewOccupation #Replace occupation with new occupation in dataframe.
        
        Index += 1 #Increment. 
    
    print('After Cleaning')
    print('--------------')
    print('\n')
    print(OccsTotals.to_string()) #Check
    print('\n')
    
    OccsTotals = OccsTotals.groupby('occupation')[['6p_total', '# of people', '% of total people']].apply(sum).reset_index() #Combine duplicate occupations, reset index. 
    OccsTotals['# of people'] = OccsTotals['# of people'].astype(int) #Convert values in '# of people' column to all ints. 
    
    print('After Removing Duplicates and Summing')
    print('-------------------------------------')
    print('\n')
    print(OccsTotals.to_string()) #Check
    print('\n')
    retdict = dict()
    Occupations = OccsTotals['occupation'].tolist() #Reinstantiate Occupations after changing OccsTotals
    i = 0 #Declare new index.
    while (i < len(Occupations)): 
        j = 0 #Declare new index.
        while (j < len(Occupations)):                
            if (rapidfuzz.fuzz.ratio(Occupations[i], Occupations[j]) > 80) and (Occupations[i] != Occupations[j]) and ((Occupations[j] not in NoMerge) and (Occupations[i] not in NoMerge))  : #Use fuzzy string matching to determine whether two occupations are the same or not.               
                Total = float(OccsTotals.loc[j, '6p_total']) #Get total from duplicate occupation.
                OccsTotals.loc[i, '6p_total'] += Total #Merge totals together.
                
                NumOfPeople = OccsTotals.loc[j, '# of people'] #Get number of people in row j.
                OccsTotals.loc[i, '# of people'] += NumOfPeople #Add that number to row i.
                
                OccsTotals.drop(j, inplace=True) #Remove duplicate occupation.
                OccsTotals = OccsTotals.reset_index(drop=True) #Reset index.

                retdict[Occupations[j]] = Occupations[i]
                print('Removed: ' + Occupations[j] + ' --> ' + Occupations[i])

                Occupations.remove(Occupations[j]) #Remove from list of occupations so loop will not iterate over it again.
            else:
                j += 1
                
        i += 1
        
    OccsTotals['average debt per person'] = OccsTotals['6p_total'] / OccsTotals['# of people'] #Add an average column.
    OccsTotals['% of total people'] = (OccsTotals['# of people'] / OccsTotals['# of people'].sum()) * 100 #Assign values to '# of people column'.
    OccsTotals = OccsTotals.sort_values('6p_total', ascending=False).reset_index(drop=True)
    
    print('\n')
    print('After Using Fuzzy String Matching')
    print('---------------------------------')
    print('\n')
    print(OccsTotals.to_string())
    print('\n')
    
    return retdict, OccsTotals

In [17]:
retdict, OccsTotalsCT = MergeOccupations(OccsTotalsCT)
ogoccs['new occupation'] = ogoccs['new occupation'].apply(lambda x: retdict.get(x, x))

After Cleaning
--------------


          occupation   6p_total  # of people % of total people
0      adminastrator     218.47            1              None
1      adminastrator       0.00            1              None
2      adminastrator      61.30            1              None
3      adminastrator      94.67            1              None
4      adminastrator      73.50            1              None
5      administrator    3413.72            2              None
6      administrator      54.05            1              None
7       adminstrator      77.61            1              None
8       adminstrator      87.74            1              None
9         apothecary       7.72            1              None
10          attorney    4863.67            3              None
11          attorney    6250.93           17              None
12        blacksmith     724.71            3              None
13            broker     208.55            3              None
14         carpenter     175.34            1              None
15           cashier      85.30            2              None
16          clothier      53.33            1              None
17         committee     306.28            1              None
18         committee     220.49            1              None
19            cooper     124.76            1              None
20            doctor     647.09            1              None
21               esq   13020.09           13              None
22          executor    1963.62            1              None
23          executor       6.02            1              None
24          executor     266.67            1              None
25          executor       4.70            1              None
26          executor    1573.33            1              None
27          executor     614.19            1              None
28         executors     129.72            1              None
29            farmer   36715.82          167              None
30         gentleman   16624.32           32              None
31         goldsmith       6.82            1              None
32          guardian    1020.45            1              None
33          guardian      58.11            1              None
34          guardian     167.06            1              None
35            hatter     242.99            1              None
36        inn keeper     201.53            3              None
37         carpenter      53.33            1              None
38   leather dresser     666.67            1              None
39           mariner    3831.05           13              None
40          merchant   63745.92           62              None
41         merchents      19.08            1              None
42            miller      18.99            1              None
43           molster     211.38            1              None
44        occupation  673180.80          432              None
45            doctor    1303.46            3              None
46        post rider     676.91            3              None
47           printer     204.78            2              None
48       proprietors     276.90            1              None
49            sadler    3524.74            1              None
50  school committee     305.49            4              None
51  school committee     426.04            1              None
52  school committee     108.79            1              None
53  school committee     231.33            1              None
54     school master    2213.75            2              None
55         sherriffs     512.45            3              None
56        shipwright     533.33            1              None
57         shoemaker    1345.46            6              None
58         committee     336.64            1              None
59         treasurer     303.27            3              None
60           soldier      78.48            1              None
61          spinster    1731.58            6              None
62            tanner     713.06            1              None
63            taylor     209.81            1              None
64            trader    9192.98           43              None
65           traders     261.15            3              None
66         treasurer    4523.35            4              None
67         treasurer     175.27            1              None
68         treasurer     164.31            1              None
69         treasurer     282.37            1              None
70         treasurer    1447.26            1              None
71         treasurer    2697.98            1              None
72         treasurer    5793.34            2              None
73             widow    6488.11           28              None
74              wife      63.64            1              None
75            farmer      64.54            3              None


After Removing Duplicates and Summing
-------------------------------------


          occupation   6p_total  # of people  % of total people
0      adminastrator     447.94            5                  0
1      administrator    3467.77            3                  0
2       adminstrator     165.35            2                  0
3         apothecary       7.72            1                  0
4           attorney   11114.60           20                  0
5         blacksmith     724.71            3                  0
6             broker     208.55            3                  0
7          carpenter     228.67            2                  0
8            cashier      85.30            2                  0
9           clothier      53.33            1                  0
10         committee     863.41            3                  0
11            cooper     124.76            1                  0
12            doctor    1950.55            4                  0
13               esq   13020.09           13                  0
14          executor    4428.53            6                  0
15         executors     129.72            1                  0
16            farmer   36780.36          170                  0
17         gentleman   16624.32           32                  0
18         goldsmith       6.82            1                  0
19          guardian    1245.62            3                  0
20            hatter     242.99            1                  0
21        inn keeper     201.53            3                  0
22   leather dresser     666.67            1                  0
23           mariner    3831.05           13                  0
24          merchant   63745.92           62                  0
25         merchents      19.08            1                  0
26            miller      18.99            1                  0
27           molster     211.38            1                  0
28        occupation  673180.80          432                  0
29        post rider     676.91            3                  0
30           printer     204.78            2                  0
31       proprietors     276.90            1                  0
32            sadler    3524.74            1                  0
33  school committee    1071.65            7                  0
34     school master    2213.75            2                  0
35         sherriffs     512.45            3                  0
36        shipwright     533.33            1                  0
37         shoemaker    1345.46            6                  0
38           soldier      78.48            1                  0
39          spinster    1731.58            6                  0
40            tanner     713.06            1                  0
41            taylor     209.81            1                  0
42            trader    9192.98           43                  0
43           traders     261.15            3                  0
44         treasurer   15387.15           14                  0
45             widow    6488.11           28                  0
46              wife      63.64            1                  0


Removed: administrator --> adminastrator
Removed: adminstrator --> adminastrator
Removed: executors --> executor
Removed: merchents --> merchant
Removed: traders --> trader


After Using Fuzzy String Matching
---------------------------------


          occupation   6p_total  # of people  % of total people  average debt per person
0         occupation  673180.80          432          47.213115              1558.288889
1           merchant   63765.00           63           6.885246              1012.142857
2             farmer   36780.36          170          18.579235               216.355059
3          gentleman   16624.32           32           3.497268               519.510000
4          treasurer   15387.15           14           1.530055              1099.082143
5                esq   13020.09           13           1.420765              1001.545385
6           attorney   11114.60           20           2.185792               555.730000
7             trader    9454.13           46           5.027322               205.524565
8              widow    6488.11           28           3.060109               231.718214
9           executor    4558.25            7           0.765027               651.178571
10     adminastrator    4081.06           10           1.092896               408.106000
11           mariner    3831.05           13           1.420765               294.696154
12            sadler    3524.74            1           0.109290              3524.740000
13     school master    2213.75            2           0.218579              1106.875000
14            doctor    1950.55            4           0.437158               487.637500
15          spinster    1731.58            6           0.655738               288.596667
16         shoemaker    1345.46            6           0.655738               224.243333
17          guardian    1245.62            3           0.327869               415.206667
18  school committee    1071.65            7           0.765027               153.092857
19         committee     863.41            3           0.327869               287.803333
20        blacksmith     724.71            3           0.327869               241.570000
21            tanner     713.06            1           0.109290               713.060000
22        post rider     676.91            3           0.327869               225.636667
23   leather dresser     666.67            1           0.109290               666.670000
24        shipwright     533.33            1           0.109290               533.330000
25         sherriffs     512.45            3           0.327869               170.816667
26       proprietors     276.90            1           0.109290               276.900000
27            hatter     242.99            1           0.109290               242.990000
28         carpenter     228.67            2           0.218579               114.335000
29           molster     211.38            1           0.109290               211.380000
30            taylor     209.81            1           0.109290               209.810000
31            broker     208.55            3           0.327869                69.516667
32           printer     204.78            2           0.218579               102.390000
33        inn keeper     201.53            3           0.327869                67.176667
34            cooper     124.76            1           0.109290               124.760000
35           cashier      85.30            2           0.218579                42.650000
36           soldier      78.48            1           0.109290                78.480000
37              wife      63.64            1           0.109290                63.640000
38          clothier      53.33            1           0.109290                53.330000
39            miller      18.99            1           0.109290                18.990000
40        apothecary       7.72            1           0.109290                 7.720000
41         goldsmith       6.82            1           0.109290                 6.820000

In [18]:
def TurnToExcel(DF, State):
    DF['occupation'] = DF['occupation'].apply(lambda x: datadict.get(x, x))
    DF.to_excel('./FinishedSpreadsheets/Occupations' + State + '.xlsx')

In [19]:
TurnToExcel(OccsTotalsCT, State)

# Georgia

In [20]:
State = 'GA'
AllOccsGA = AllOccs[AllOccs['state'] == State] #Separate rows by state
AllOccsGA = AllOccsGA.dropna(subset=['occupation']).reset_index(drop=True) #Drop any rows w/o an occupation listed. 
print(AllOccsGA)

    6p_Dollar    6p_Cents  6p_def_Dollar  6p_def_Cents  3p_Dollar  3p_Cents  \
0      4586.0     66.0000         2293.0       33.0000     3026.0     11.00
1         1.0     95.1133            1.0       47.5567        NaN      0.00
2         1.0    890.0000            1.0      445.0000        1.0    570.70
3         1.0     90.3000            1.0       45.1000        1.0     93.50
4         1.0    249.7700            1.0      124.8900        1.0    273.65
5         1.0    114.6000            1.0       57.3000        1.0    123.94
6         1.0    227.5133            1.0      113.7533        NaN       NaN
7         1.0    129.6533            1.0       64.8233        1.0    144.96
8         1.0    209.8633            1.0      104.9333        1.0    241.38
9         1.0  10108.9033            1.0     5054.4533        1.0   2729.40
10        1.0    114.7330            1.0       57.3330        1.0    124.45
11       17.0    107.8000           13.0       53.9000       14.0    124.14
12       17.0    106.8233           13.0       53.4133       14.0    122.92
13       17.0    140.3200           13.0       70.1600       14.0    127.93
14       17.0   1349.0733           13.0      674.5333       14.0   1538.21
15       17.0   4857.6600           13.0     2428.8300       14.0   1748.76
16       20.0     26.1200           16.0       13.0600        NaN       NaN
17       37.0     18.2000           18.0        9.0900        NaN      0.00
18       37.0  13325.3300           18.0     6662.6700       17.0   3997.60
19       33.0     33.0000           16.0       66.0000       30.0     73.00

                town state     occupation  \
0   State of Georgia    GA      Gentleman
1           Savannah    GA       Merchant
2                NaN    GA  No Occupation
3           Savannah    GA       Merchant
4           Savannah    GA  No Occupation
5           Savannah    GA  No Occupation
6   Effingham County    GA  No Occupation
7           Savannah    GA      Merchants
8           Savannah    GA       Merchant
9            Augusta    GA            Esq
10          Savannah    GA       Merchant
11          Savannah    GA  No Occupation
12   Columbia County    GA  No Occupation
13          Savannah    GA  No Occupation
14           Georgia    GA  No Occupation
15  Effingham County    GA  No Occupation
16          Savannah    GA       Merchant
17           Augusta    GA      Merchants
18               NaN    GA  No Occupation
19           Georgia    GA  No Occupation

                                                 Name            county  \
0                                  ['Phineas Miller']               NaN
1                               ['Mordecai Sheftall']    Chatham County
2   ['Treasurer of the Cincinnati Society of Georg...               NaN
3                          ['Speirs McLeod and Co  ']    Chatham County
4                                  ['William Hunter']    Chatham County
5                            ['Noble Wimberly Jones']    Chatham County
6                                     ['James Smith']  Effingham County
7                               ['Lamb and Chukley ']    Chatham County
8                                ['Ebenezer Jackson']    Chatham County
9                                      ['John Meals']   Richmond County
10                                 ['William Hunter']    Chatham County
11                                 ['John Robertson']    Chatham County
12                                   ['William Ives']   Richmond County
13                                 ['Joseph Dacosta']    Chatham County
14                                ['Samuel Lawrence']               NaN
15                                    ['James Smith']  Effingham County
16                                  ['William Ewing']    Chatham County
17                        ['Jackson and Nightingale']   Richmond County
18                           ['The State of Georgia']               NaN
19                                    ['James Moore']               NaN

   name_type     6p_total
0      state  4586.660000
1       town     1.951133
2      state     9.900000
3       town     1.903000
4       town     3.497700
5       town     2.146000
6     county     3.275133
7       town     2.296533
8       town     3.098633
9       town   102.089033
10      town     2.147330
11      town    18.078000
12    county    18.068233
13      town    18.403200
14     state    30.490733
15    county    65.576600
16      town    20.261200
17      town    37.182000
18     state   170.253300
19     state    33.330000

In [21]:
OccsTotalsGA = AllOccsGA.groupby('occupation')['6p_total'].apply(sum).reset_index() #Combine duplicate occupations.
OccsTotalsGA['# of people'] = OccsTotalsGA['occupation'].map(AllOccsGA['occupation'].value_counts(dropna=False)) #Map # of people that belong to each occupation.
print(OccsTotalsGA.to_string())

temp_df = OccsTotalsGA[['occupation']]

      occupation     6p_total  # of people
0            Esq   102.089033            1
1      Gentleman  4586.660000            1
2       Merchant    29.361296            5
3      Merchants    39.478533            2
4  No Occupation   373.018899           11

In [22]:
OccsTotalsGA = RemoveStopwords(OccsTotalsGA) 
print(OccsTotalsGA.to_string())

temp_df['new occupation'] = OccsTotalsGA['occupation']
ogoccs = pd.concat([ogoccs, temp_df])

      occupation     6p_total  # of people
0            esq   102.089033            1
1      gentleman  4586.660000            1
2       merchant    29.361296            5
3      merchants    39.478533            2
4  no occupation   373.018899           11

/var/folders/5s/dvrxt95949x1pm_sjxm85lj00000gn/T/ipykernel_60320/925087446.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['new occupation'] = OccsTotalsGA['occupation']

In [23]:
retdict = FindRemoveConst(OccsTotalsGA['occupation'].tolist())
ogoccs['new occupation'] = ogoccs['new occupation'].apply(lambda x: retdict.get(x, x))

Occupation Before --> Occupation After
--------------------------------------


esq --> esq
gentleman --> gentleman
merchant --> merchant
merchants --> merchants
no occupation --> no occupation

In [24]:
retdict, OccsTotalsGA = MergeOccupations(OccsTotalsGA)
ogoccs['new occupation'] = ogoccs['new occupation'].apply(lambda x: retdict.get(x, x))

After Cleaning
--------------


   occupation     6p_total  # of people % of total people
0         esq   102.089033            1              None
1   gentleman  4586.660000            1              None
2    merchant    29.361296            5              None
3   merchants    39.478533            2              None
4  occupation   373.018899           11              None


After Removing Duplicates and Summing
-------------------------------------


   occupation     6p_total  # of people  % of total people
0         esq   102.089033            1                  0
1   gentleman  4586.660000            1                  0
2    merchant    29.361296            5                  0
3   merchants    39.478533            2                  0
4  occupation   373.018899           11                  0


Removed: merchants --> merchant


After Using Fuzzy String Matching
---------------------------------


   occupation     6p_total  # of people  % of total people  average debt per person
0   gentleman  4586.660000            1                5.0              4586.660000
1  occupation   373.018899           11               55.0                33.910809
2         esq   102.089033            1                5.0               102.089033
3    merchant    68.839829            7               35.0                 9.834261

In [25]:
TurnToExcel(OccsTotalsGA, State)

# Maryland

In [26]:
State = 'MD'
AllOccsMD = AllOccs[AllOccs['state'] == State] #Separate rows by state
AllOccsMD = AllOccsMD.dropna(subset=['occupation']).reset_index(drop=True) #Drop any rows w/o an occupation listed. 
print(AllOccsMD)

     6p_Dollar  6p_Cents  6p_def_Dollar  6p_def_Cents  3p_Dollar  3p_Cents  \
0          1.0   58.7600            1.0       29.3800        1.0     64.17
1         17.0   66.5733           13.0       33.2833       14.0     76.40
2      26745.0   77.0000        13372.0       88.0000    50000.0     51.00
3       2049.0   84.0000         1024.0       91.0000     1470.0     48.00
4       1215.0   45.0000          607.0       72.0000     1292.0     90.00
..         ...       ...            ...           ...        ...       ...
517      303.0   12.0000          151.0       56.0000      275.0     32.00
518      587.0   63.0000          293.0       82.0000      437.0     41.00
519      283.0   33.0000          141.0       66.0000      261.0     59.00
520       33.0   33.0000           16.0       67.0000       31.0     67.00
521      124.0   33.0000           62.0       17.0000      118.0     41.00

                      town state     occupation  \
0                 Maryland    MD  No Occupation
1                Baltimore    MD            Esq
2              George Town    MD      Merchants
3    Prince Georges County    MD  No Occupation
4           Harford County    MD  No Occupation
..                     ...   ...            ...
517              Baltimore    MD  No Occupation
518               Maryland    MD  No Occupation
519               Maryland    MD  No Occupation
520               Maryland    MD     Shopkeeper
521               Maryland    MD       Merchant

                                        Name                 county name_type  \
0                          ['William Potts']                    NaN     state
1                        ['Samuel Sterrett']       Baltimore County      town
2    ['Uriah Forrest and Benjamin Stoddert']           Cecil County      town
3                        ['James Somervell']  Prince Georges County    county
4                            ['John Weston']         Harford County    county
..                                       ...                    ...       ...
517                       ['Richard Curson']       Baltimore County      town
518                          ['Thomas Hall']                    NaN     state
519                      ['Samuel Stirrett']                    NaN     state
520                        ['George Parker']                    NaN     state
521                       ['Edward Ireland']                    NaN     state

         6p_total
0        1.587600
1       17.665733
2    26745.770000
3     2049.840000
4     1215.450000
..            ...
517    303.120000
518    587.630000
519    283.330000
520     33.330000
521    124.330000

[522 rows x 13 columns]

In [27]:
OccsTotalsMD = AllOccsMD.groupby('occupation')['6p_total'].apply(sum).reset_index() #Combine duplicate occupations.
OccsTotalsMD['# of people'] = OccsTotalsMD['occupation'].map(AllOccsMD['occupation'].value_counts(dropna=False)) #Map # of people that belong to each occupation.
print(OccsTotalsMD.to_string())

temp_df = OccsTotalsMD[['occupation']]

                         occupation       6p_total  # of people
0     Administrator of John Johnson      22.500000            1
1   Adminstrator of Robert Whitaker       0.000000            1
2                               Esq      17.665733            1
3            Executor of Moses Ruth      44.840000            1
4        Executor of Sabret Sollars     141.030000            1
5        Executor of Thomas Sollars     117.900000            1
6                 Frederick Company     206.670000            1
7                          Merchant   48636.870000           45
8                         Merchants   29874.070000            2
9                     No Occupation  767788.357600          465
10                        Shoemaker    1237.070000            2
11                       Shopkeeper      33.330000            1

In [28]:
OccsTotalsMD = RemoveStopwords(OccsTotalsMD)
temp_df['new occupation'] = OccsTotalsMD['occupation']
ogoccs = pd.concat([ogoccs, temp_df])
print(OccsTotalsMD.to_string())

                      occupation       6p_total  # of people
0     administrator john johnson      22.500000            1
1   adminstrator robert whitaker       0.000000            1
2                            esq      17.665733            1
3            executor moses ruth      44.840000            1
4        executor sabret sollars     141.030000            1
5        executor thomas sollars     117.900000            1
6              frederick company     206.670000            1
7                       merchant   48636.870000           45
8                      merchants   29874.070000            2
9                  no occupation  767788.357600          465
10                     shoemaker    1237.070000            2
11                    shopkeeper      33.330000            1

/var/folders/5s/dvrxt95949x1pm_sjxm85lj00000gn/T/ipykernel_60320/646621115.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['new occupation'] = OccsTotalsMD['occupation']

In [29]:
retdict = FindRemoveConst(OccsTotalsMD['occupation'].tolist())
ogoccs['new occupation'] = ogoccs['new occupation'].apply(lambda x: retdict.get(x, x))

Occupation Before --> Occupation After
--------------------------------------


administrator john johnson --> administrator
adminstrator robert whitaker --> adminstrator
esq --> esq
executor moses ruth --> executor
executor sabret sollars --> executor
executor thomas sollars --> executor
frederick company --> frederick company
merchant --> merchant
merchants --> merchants
no occupation --> no occupation
shoemaker --> shoemaker
shopkeeper --> shopkeeper

In [30]:
retdict = PrintFutureOccupations(OccsTotalsMD['occupation'].tolist())
ogoccs['new occupation'] = ogoccs['new occupation'].apply(lambda x: retdict.get(x, x))

Occupations --> Potential Cleaned Occupations
---------------------------------------------


administrator --> administrator
adminstrator --> adminstrator
esq --> esq
executor --> executor
executor --> executor
executor --> executor
frederick company --> frederick
merchant --> merchant
merchants --> merchants
no occupation --> occupation
shoemaker --> shoemaker
shopkeeper --> shopkeeper

In [31]:
retdict, OccsTotalsMD = MergeOccupations(OccsTotalsMD)
ogoccs['new occupation'] = ogoccs['new occupation'].apply(lambda x: retdict.get(x, x))

After Cleaning
--------------


           occupation       6p_total  # of people % of total people
0       administrator      22.500000            1              None
1        adminstrator       0.000000            1              None
2                 esq      17.665733            1              None
3            executor      44.840000            1              None
4            executor     141.030000            1              None
5            executor     117.900000            1              None
6   frederick company     206.670000            1              None
7            merchant   48636.870000           45              None
8           merchants   29874.070000            2              None
9          occupation  767788.357600          465              None
10          shoemaker    1237.070000            2              None
11         shopkeeper      33.330000            1              None


After Removing Duplicates and Summing
-------------------------------------


          occupation       6p_total  # of people  % of total people
0      administrator      22.500000            1                  0
1       adminstrator       0.000000            1                  0
2                esq      17.665733            1                  0
3           executor     303.770000            3                  0
4  frederick company     206.670000            1                  0
5           merchant   48636.870000           45                  0
6          merchants   29874.070000            2                  0
7         occupation  767788.357600          465                  0
8          shoemaker    1237.070000            2                  0
9         shopkeeper      33.330000            1                  0


Removed: adminstrator --> administrator
Removed: merchants --> merchant


After Using Fuzzy String Matching
---------------------------------


          occupation       6p_total  # of people  % of total people  average debt per person
0         occupation  767788.357600          465          89.080460              1651.157758
1           merchant   78510.940000           47           9.003831              1670.445532
2          shoemaker    1237.070000            2           0.383142               618.535000
3           executor     303.770000            3           0.574713               101.256667
4  frederick company     206.670000            1           0.191571               206.670000
5         shopkeeper      33.330000            1           0.191571                33.330000
6      administrator      22.500000            2           0.383142                11.250000
7                esq      17.665733            1           0.191571                17.665733

In [32]:
TurnToExcel(OccsTotalsMD, State)

# North Carolina

In [33]:
State = 'NC'
AllOccsNC = AllOccs[AllOccs['state'] == State] #Separate rows by state
AllOccsNC = AllOccsNC.dropna(subset=['occupation']).reset_index(drop=True) #Drop any rows w/o an occupation listed. 
print(AllOccsNC)

    6p_Dollar  6p_Cents  6p_def_Dollar  6p_def_Cents  3p_Dollar  3p_Cents  \
0      1865.0     58.00          932.0         74.00     1950.0      61.0
1        85.0     25.00           42.0         62.00       41.0      82.0
2       989.0     88.00          494.0         94.00     1006.0      12.0
3       335.0     50.00          167.0         75.00      155.0      96.0
4       174.0     32.00           87.0         16.00        NaN       NaN
5        53.0      2.00           26.0         51.00        NaN       NaN
6        30.0     81.00           15.0         40.00        NaN       NaN
7         4.0       NaN            2.0           NaN        NaN       NaN
8         5.0     59.00            2.0         79.00        NaN       NaN
9       116.0     76.00           58.0         38.00        NaN       NaN
10     1330.0     16.00          665.0          8.00      873.0      78.0
11     1577.0     20.00          788.0         60.00     1748.0      70.0
12     1380.0       NaN          690.0           NaN      885.0       5.0
13       15.0     30.00            7.0         65.00        NaN       NaN
14       21.0      4.00           10.0         52.00        NaN       NaN
15       10.0     52.00            5.0         26.00        NaN       NaN
16       81.0     80.00           40.0         89.00        NaN       NaN
17       14.0     94.00            7.0         47.00        NaN       NaN
18      458.0     54.00          229.0         26.00      512.0      50.0
19       19.0     56.00            9.0         77.00       20.0      78.0
20       98.0     66.00           49.0         33.00        NaN       NaN
21      442.0     53.00          221.0         26.00      296.0       5.0
22     1003.0     57.00          501.0         78.00      199.0      63.0
23       22.0     33.00           11.0         14.00        NaN       NaN
24       98.0     66.00           49.0         34.00       71.0       3.0
25      698.0     59.00          349.0         29.00      486.0      79.0
26      254.0     73.00          127.0         36.00      179.0      20.0
27       71.0     11.00           35.0         55.00       51.0      20.0
28     2008.0     37.00         1004.0         18.00     1324.0      76.0
29       19.0     64.00            9.0         81.00        NaN      72.0
30       48.0     50.00           24.0         25.00        NaN       NaN
31      176.0       NaN           88.0           NaN      150.0      67.0
32       32.0     62.00           16.0         31.00       32.0      63.0
33    12283.0     44.00         6141.0         71.00    10781.0      94.0
34       38.0     67.00           19.0         33.00        NaN       NaN
35      574.0     62.00          287.0         31.00       10.0      53.0
36      169.0      2.00           84.0         52.00      178.0      28.0
37      670.0     29.00          335.0         15.00      707.0       5.0
38       43.0     90.00           21.0         96.00       46.0      55.0
39      304.0     10.00          152.0         10.00      177.0      72.0
40       41.0     26.00           20.0         64.00       15.0      83.0
41       38.0     83.00           19.0         41.00       43.0      41.0
42       37.0      3.00           18.0         52.00       26.0      66.0
43       77.0     10.00           38.0         55.00       79.0      82.0
44      206.0      8.00          103.0          5.00       50.0      69.0
45       37.0     63.00           18.0         82.00       27.0      20.0
46       17.0     60.00            8.0         80.00       17.0      42.0
47      228.0     12.00          114.0          6.00      157.0      80.0
48      252.0     32.00          126.0         16.00        NaN       NaN
49     4780.0     84.00         2390.0         41.00     4998.0      96.0
50        0.0      0.00          892.0         66.00     1339.0       NaN
51      149.0     98.00           75.0           NaN        6.0       NaN
52     1123.0     84.00          561.0         93.00      356.0      34.0
53       62.0     51.00           31.0         26.00        NaN       NaN
54       16.0     66.67            8.0         33.33       71.0       2.0
55       78.0     50.00           39.0         25.00       22.0      50.0
56      333.0     33.00          166.0         66.00      301.0      62.0
57      123.0     38.00           61.0         69.00        NaN       NaN
58       26.0     21.00           13.0         11.00        NaN       NaN

                  town state                   occupation  \
0              Edenton    NC                No Occupation
1         Wayne County    NC                     Merchant
2              Edenton    NC                No Occupation
3              Edenton    NC                No Occupation
4              Newbern    NC                No Occupation
5         Rowan County    NC                No Occupation
6         Rowan County    NC                No Occupation
7         Rowan County    NC                No Occupation
8         Rowan County    NC                No Occupation
9        Warren County    NC                No Occupation
10           Tarborugh    NC                No Occupation
11             Newbern    NC                No Occupation
12    Murfrees Borough    NC                No Occupation
13   Perquimans County    NC                No Occupation
14  Mecklenburg County    NC                No Occupation
15       Warren County    NC                No Occupation
16        Fayetteville    NC                No Occupation
17          Wilmington    NC                No Occupation
18    Edgecombe County    NC                No Occupation
19         Pitt County    NC                No Occupation
20           Salisbury    NC                No Occupation
21             Newbern    NC                No Occupation
22             Edenton    NC                No Occupation
23             Halifax    NC                No Occupation
24             Halifax    NC                No Occupation
25             Newbern    NC                No Occupation
26          Washington    NC                No Occupation
27    Murfrees Borough    NC                No Occupation
28             Newbern    NC            Doctors of Physic
29             Newbern    NC                No Occupation
30            Halifax     NC                    Merchants
31             Edenton    NC                    Merchants
32             Newbern    NC                No Occupation
33      North Carolina    NC                    Treasurer
34    Currituck County    NC                No Occupation
35          Wilmington    NC                No Occupation
36             Edenton    NC                No Occupation
37             Edenton    NC                No Occupation
38             Edenton    NC                No Occupation
39             Edenton    NC                No Occupation
40        Hillsborough    NC                     Merchant
41   Rockingham County    NC                No Occupation
42             Edenton    NC                No Occupation
43             Edenton    NC                No Occupation
44             Newbern    NC                     Merchant
45        Hillsborough    NC                No Occupation
46             Edenton    NC                No Occupation
47             Newbern    NC                     Merchant
48             Newbern    NC                     Merchant
49                 NaN    NC  The State of North Carolina
50      North Carolina    NC      Asse of John B Ashe Exe
51      North Carolina    NC                No Occupation
52      North Carolina    NC                No Occupation
53      North Carolina    NC                       Farmer
54      North Carolina    NC                No Occupation
55      North Carolina    NC                No Occupation
56      North Carolina    NC                No Occupation
57      North Carolina    NC                No Occupation
58      North Carolina    NC                No Occupation

                                       Name              county name_type  \
0                       ['Nathaniel Allen']       Chowan County      town
1                          ['Joseph Green']        Wayne County    county
2                        ['Josiah Collins']       Chowan County      town
3                        ['Josiah Collins']       Chowan County      town
4                    ['John Council Bryan']       Craven County      town
5                         ['John Lowrance']        Rowan County    county
6                        ['Richard Graham']        Rowan County    county
7                       ['William Brandon']        Rowan County    county
8                       ['William Wallace']        Rowan County    county
9    ['Philemon Hawkins (son of Philemon)']       Warren County    county
10                         ['John  Ingles']    Edgecombe County      town
11                      ['Margaret Gaston']       Craven County      town
12                        ['Hardy Murfree']     Hertford County      town
13                       ['Robert Reddick']   Perquimans County    county
14                     ['Alexander Nelson']  Mecklenburg County    county
15  ['Philemon Hawkins ( Son of John Jun)']       Warren County    county
16                          ['John Ingram']   Cumberland County      town
17                        ['John Campbell']  New Hanover County      town
18                        ['Elnathan Tart']    Edgecombe County    county
19                           ['John Euson']         Pitt County    county
20                          ['Lewis Beard']        Rowan County      town
21                           ['Isaac Cole']       Craven County      town
22                       ['Josiah Collins']       Chowan County      town
23                        ['Bassett Stith']      Halifax County      town
24                        ['Bassett Stith']      Halifax County      town
25                           ['Isaac Cole']       Craven County      town
26                        ['Thomas Blount']     Beaufort County      town
27                        ['Hardy Murfree']     Hertford County      town
28                      ['William McClure']       Craven County      town
29                           ['Isaac Cole']       Craven County      town
30                       ['Amis and Burt ']      Halifax County      town
31                   ['William Littlejohn']       Chowan County      town
32                         ['Betty Wright']       Craven County      town
33                         ['John Haywood']                 NaN     state
34                       ['John Humphries']    Currituck County    county
35                          ['John Walker']  New Hanover County      town
36                      ['Nathaniel Allen']       Chowan County      town
37                      ['Nathaniel Allen']       Chowan County      town
38                      ['Nathaniel Allen']       Chowan County      town
39                       ['Josiah Collins']       Chowan County      town
40                            ['John Hogg']       Orange County      town
41                           ['John Linox']   Rockingham County    county
42                         ['Jacob Blount']       Chowan County      town
43                       ['Josiah Collins']       Chowan County      town
44                        ['Joseph Tagert']       Craven County      town
45                           ['John Casey']       Orange County      town
46                     ['Samuel Dickenson']       Chowan County      town
47                           ['Isaac Cole']       Craven County      town
48                           ['Isaac Cole']       Craven County      town
49                         ['John Haywood']                 NaN     state
50                 ['Thomas Edward Sumner']                 NaN     state
51                      ['Hugh Williamson']                 NaN     state
52                            ['Adam Hope']                 NaN     state
53                          ['George Idol']                 NaN     state
54                    ['Benjamin Leacraft']                 NaN     state
55                          ['John Nesbit']                 NaN     state
56                          ['John Walker']                 NaN     state
57                          ['John Nesbit']                 NaN     state
58                          ['John Nesbit']                 NaN     state

      6p_total
0    1865.5800
1      85.2500
2     989.8800
3     335.5000
4     174.3200
5      53.0200
6      30.8100
7          NaN
8       5.5900
9     116.7600
10   1330.1600
11   1577.2000
12         NaN
13     15.3000
14     21.0400
15     10.5200
16     81.8000
17     14.9400
18    458.5400
19     19.5600
20     98.6600
21    442.5300
22   1003.5700
23     22.3300
24     98.6600
25    698.5900
26    254.7300
27     71.1100
28   2008.3700
29     19.6400
30     48.5000
31         NaN
32     32.6200
33  12283.4400
34     38.6700
35    574.6200
36    169.0200
37    670.2900
38     43.9000
39    304.1000
40     41.2600
41     38.8300
42     37.0300
43     77.1000
44    206.0800
45     37.6300
46     17.6000
47    228.1200
48    252.3200
49   4780.8400
50      0.0000
51    149.9800
52   1123.8400
53     62.5100
54     16.6667
55     78.5000
56    333.3300
57    123.3800
58     26.2100

In [34]:
OccsTotalsNC = AllOccsNC.groupby('occupation')['6p_total'].apply(sum).reset_index() #Combine duplicate occupations.
OccsTotalsNC['# of people'] = OccsTotalsNC['occupation'].map(AllOccsNC['occupation'].value_counts(dropna=False)) #Map # of people that belong to each occupation.
print(OccsTotalsNC.to_string())

temp_df = OccsTotalsNC[['occupation']]

                    occupation    6p_total  # of people
0      Asse of John B Ashe Exe      0.0000            1
1            Doctors of Physic   2008.3700            1
2                       Farmer     62.5100            1
3                     Merchant    813.0300            5
4                    Merchants     48.5000            2
5                No Occupation  13703.6567           47
6  The State of North Carolina   4780.8400            1
7                    Treasurer  12283.4400            1

In [35]:
OccsTotalsNC = RemoveStopwords(OccsTotalsNC) 
print(OccsTotalsNC.to_string())

temp_df['new occupation'] = OccsTotalsNC['occupation']
ogoccs = pd.concat([ogoccs, temp_df])

                 occupation    6p_total  # of people
0      asse john b ashe exe      0.0000            1
1            doctors physic   2008.3700            1
2                    farmer     62.5100            1
3                  merchant    813.0300            5
4                 merchants     48.5000            2
5             no occupation  13703.6567           47
6  the state north carolina   4780.8400            1
7                 treasurer  12283.4400            1

/var/folders/5s/dvrxt95949x1pm_sjxm85lj00000gn/T/ipykernel_60320/3990776363.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['new occupation'] = OccsTotalsNC['occupation']

In [36]:
retdict = FindRemoveConst(OccsTotalsNC['occupation'].tolist())
ogoccs['new occupation'] = ogoccs['new occupation'].apply(lambda x: retdict.get(x, x))

Occupation Before --> Occupation After
--------------------------------------


asse john b ashe exe --> asse john b
doctors physic --> doctors physic
farmer --> farmer
merchant --> merchant
merchants --> merchants
no occupation --> no occupation
the state north carolina --> the state
treasurer --> treasurer

In [37]:
Remove = 0

In [38]:
retdict = PrintFutureOccupations(OccsTotalsNC['occupation'].tolist())
ogoccs['new occupation'] = ogoccs['new occupation'].apply(lambda x: retdict.get(x, x))

Occupations --> Potential Cleaned Occupations
---------------------------------------------


asse john b ashe exe --> asse
doctors physic --> doctors
farmer --> farmer
merchant --> merchant
merchants --> merchants
no occupation --> occupation
the state north carolina --> carolina
treasurer --> treasurer

In [39]:
retdict, OccsTotalsNC = MergeOccupations(OccsTotalsNC)
ogoccs['new occupation'] = ogoccs['new occupation'].apply(lambda x: retdict.get(x, x))

After Cleaning
--------------


   occupation    6p_total  # of people % of total people
0   executors      0.0000            1              None
1     doctors   2008.3700            1              None
2      farmer     62.5100            1              None
3    merchant    813.0300            5              None
4   merchants     48.5000            2              None
5  occupation  13703.6567           47              None
6        None   4780.8400            1              None
7   treasurer  12283.4400            1              None


After Removing Duplicates and Summing
-------------------------------------


   occupation    6p_total  # of people  % of total people
0     doctors   2008.3700            1                  0
1   executors      0.0000            1                  0
2      farmer     62.5100            1                  0
3    merchant    813.0300            5                  0
4   merchants     48.5000            2                  0
5  occupation  13703.6567           47                  0
6   treasurer  12283.4400            1                  0


Removed: merchants --> merchant


After Using Fuzzy String Matching
---------------------------------


   occupation    6p_total  # of people  % of total people  average debt per person
0  occupation  13703.6567           47          81.034483               291.567164
1   treasurer  12283.4400            1           1.724138             12283.440000
2     doctors   2008.3700            1           1.724138              2008.370000
3    merchant    861.5300            7          12.068966               123.075714
4      farmer     62.5100            1           1.724138                62.510000
5   executors      0.0000            1           1.724138                 0.000000

In [40]:
TurnToExcel(OccsTotalsNC, State)

# New Hampshire

In [41]:
State = 'NH'
AllOccsNH = AllOccs[AllOccs['state'] == State] #Separate rows by state
AllOccsNH = AllOccsNH.dropna(subset=['occupation']).reset_index(drop=True) #Drop any rows w/o an occupation listed. 
print(AllOccsNH)

     6p_Dollar  6p_Cents  6p_def_Dollar  6p_def_Cents  3p_Dollar  3p_Cents  \
0        371.0      45.0          185.0          72.0      141.0      71.0
1        200.0       NaN          100.0           NaN       54.0       NaN
2        778.0       4.0          389.0           2.0      288.0       NaN
3        222.0      78.0          111.0          40.0        NaN       NaN
4         68.0      72.0           34.0          36.0       73.0      24.0
..         ...       ...            ...           ...        ...       ...
169      187.0       2.0           93.0          51.0      146.0      70.0
170       12.0      73.0            6.0          37.0        0.0       0.0
171        9.0      16.0            4.0          58.0       10.0      16.0
172      168.0      28.0           84.0          13.0       60.0      54.0
173       40.0      67.0           20.0          33.0       25.0      96.0

                                  town state     occupation  \
0    Charleston State of New Hampshire    NH  No Occupation
1                           Portsmouth    NH          Widow
2                      North Hampshire    NH         Farmer
3             Portsmouth New Hampshire    NH  No Occupation
4               State of New Hampshire    NH  No Occupation
..                                 ...   ...            ...
169                         Portsmouth    NH      Physician
170                         Portsmouth    NH        Esquire
171                         Portsmouth    NH         Trader
172           Newport in New Hampshire    NH  No Occupation
173                         Alexandria    NH       Merchant

                                              Name             county  \
0                                 ['James Rogers']    Cheshire County
1    ['Elizabeth Sherburne', 'Elizabeth Sherburn']  Rockingham County
2                ['Amos Shephard', 'Amos Shepard']                NaN
3                               ['Samuel Gerrish']  Rockingham County
4                              ['Constant Storrs']                NaN
..                                             ...                ...
169                          ['Nathaniel A Haven']  Rockingham County
170                         ['Edward L Livermore']  Rockingham County
171                           ['Richard Billings']  Rockingham County
172                           ['Jeremiah Jenckes']    Cheshire County
173                 ['John Munray', 'John Murray']     Grafton County

      name_type  6p_total
0         state    371.45
1          town       NaN
2    state_flag    778.04
3          town    222.78
4         state     68.72
..          ...       ...
169        town    187.02
170        town     12.73
171        town      9.16
172        town    168.28
173        town     40.67

[174 rows x 13 columns]

In [42]:
OccsTotalsNH = AllOccsNH.groupby('occupation')['6p_total'].apply(sum).reset_index() #Combine duplicate occupations.
OccsTotalsNH['# of people'] = OccsTotalsNH['occupation'].map(AllOccsNH['occupation'].value_counts(dropna=False)) #Map # of people that belong to each occupation.
print(OccsTotalsNH.to_string())

temp_df = OccsTotalsNH[['occupation']]

       occupation  6p_total  # of people
0           Baker   2159.04            1
1      Blacksmith     54.88            1
2           Clerk    715.60            7
3      Cordwainer    742.05            2
4         Esquire  61539.89           66
5          Farmer    778.04            1
6       Gentleman   3603.06            6
7       Goldsmith    871.32            1
8          Joiner    106.61            2
9        Marniner    785.62            2
10       Merchant  29715.41           26
11  No Occupation  48957.43            8
12        Painter     48.61            1
13      Physician   7111.43           18
14       Spinster     89.13            1
15         Trader   2807.27            8
16      Treasurer    149.62            1
17          Widow   8790.45           10
18         Yeoman   3397.94           12

In [43]:
OccsTotalsNH = RemoveStopwords(OccsTotalsNH) 
print(OccsTotalsNH.to_string())

temp_df['new occupation'] = OccsTotalsNH['occupation']
ogoccs = pd.concat([ogoccs, temp_df])

       occupation  6p_total  # of people
0           baker   2159.04            1
1      blacksmith     54.88            1
2           clerk    715.60            7
3      cordwainer    742.05            2
4         esquire  61539.89           66
5          farmer    778.04            1
6       gentleman   3603.06            6
7       goldsmith    871.32            1
8          joiner    106.61            2
9        marniner    785.62            2
10       merchant  29715.41           26
11  no occupation  48957.43            8
12        painter     48.61            1
13      physician   7111.43           18
14       spinster     89.13            1
15         trader   2807.27            8
16      treasurer    149.62            1
17          widow   8790.45           10
18         yeoman   3397.94           12

/var/folders/5s/dvrxt95949x1pm_sjxm85lj00000gn/T/ipykernel_60320/1513769828.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['new occupation'] = OccsTotalsNH['occupation']

In [44]:
retdict = FindRemoveConst(OccsTotalsNH['occupation'].tolist())
ogoccs['new occupation'] = ogoccs['new occupation'].apply(lambda x: retdict.get(x, x))

Occupation Before --> Occupation After
--------------------------------------


baker --> baker
blacksmith --> blacksmith
clerk --> clerk
cordwainer --> cordwainer
esquire --> esquire
farmer --> farmer
gentleman --> gentleman
goldsmith --> goldsmith
joiner --> joiner
marniner --> marniner
merchant --> merchant
no occupation --> no occupation
painter --> painter
physician --> physician
spinster --> spinster
trader --> trader
treasurer --> treasurer
widow --> widow
yeoman --> yeoman

In [45]:
retdict = PrintFutureOccupations(OccsTotalsNH['occupation'].tolist())
ogoccs['new occupation'] = ogoccs['new occupation'].apply(lambda x: retdict.get(x, x))

Occupations --> Potential Cleaned Occupations
---------------------------------------------


baker --> baker
blacksmith --> blacksmith
clerk --> clerk
cordwainer --> cordwainer
esquire --> esquire
farmer --> farmer
gentleman --> gentleman
goldsmith --> goldsmith
joiner --> joiner
marniner --> marniner
merchant --> merchant
no occupation --> occupation
painter --> painter
physician --> physician
spinster --> spinster
trader --> trader
treasurer --> treasurer
widow --> widow
yeoman --> yeoman

In [46]:
retdict, OccsTotalsNH = MergeOccupations(OccsTotalsNH)
ogoccs['new occupation'] = ogoccs['new occupation'].apply(lambda x: retdict.get(x, x))

After Cleaning
--------------


    occupation  6p_total  # of people % of total people
0        baker   2159.04            1              None
1   blacksmith     54.88            1              None
2        clerk    715.60            7              None
3    shoemaker    742.05            2              None
4          esq  61539.89           66              None
5       farmer    778.04            1              None
6    gentleman   3603.06            6              None
7    goldsmith    871.32            1              None
8    carpenter    106.61            2              None
9     marniner    785.62            2              None
10    merchant  29715.41           26              None
11  occupation  48957.43            8              None
12     painter     48.61            1              None
13      doctor   7111.43           18              None
14    spinster     89.13            1              None
15      trader   2807.27            8              None
16   treasurer    149.62            1              None
17       widow   8790.45           10              None
18      farmer   3397.94           12              None


After Removing Duplicates and Summing
-------------------------------------


    occupation  6p_total  # of people  % of total people
0        baker   2159.04            1                  0
1   blacksmith     54.88            1                  0
2    carpenter    106.61            2                  0
3        clerk    715.60            7                  0
4       doctor   7111.43           18                  0
5          esq  61539.89           66                  0
6       farmer   4175.98           13                  0
7    gentleman   3603.06            6                  0
8    goldsmith    871.32            1                  0
9     marniner    785.62            2                  0
10    merchant  29715.41           26                  0
11  occupation  48957.43            8                  0
12     painter     48.61            1                  0
13   shoemaker    742.05            2                  0
14    spinster     89.13            1                  0
15      trader   2807.27            8                  0
16   treasurer    149.62            1                  0
17       widow   8790.45           10                  0




After Using Fuzzy String Matching
---------------------------------


    occupation  6p_total  # of people  % of total people  average debt per person
0          esq  61539.89           66          37.931034               932.422576
1   occupation  48957.43            8           4.597701              6119.678750
2     merchant  29715.41           26          14.942529              1142.900385
3        widow   8790.45           10           5.747126               879.045000
4       doctor   7111.43           18          10.344828               395.079444
5       farmer   4175.98           13           7.471264               321.229231
6    gentleman   3603.06            6           3.448276               600.510000
7       trader   2807.27            8           4.597701               350.908750
8        baker   2159.04            1           0.574713              2159.040000
9    goldsmith    871.32            1           0.574713               871.320000
10    marniner    785.62            2           1.149425               392.810000
11   shoemaker    742.05            2           1.149425               371.025000
12       clerk    715.60            7           4.022989               102.228571
13   treasurer    149.62            1           0.574713               149.620000
14   carpenter    106.61            2           1.149425                53.305000
15    spinster     89.13            1           0.574713                89.130000
16  blacksmith     54.88            1           0.574713                54.880000
17     painter     48.61            1           0.574713                48.610000

In [47]:
TurnToExcel(OccsTotalsNH, State)

# New Jersey

In [48]:
State = 'NJ'
AllOccsNJ = AllOccs[AllOccs['state'] == State] #Separate rows by state
AllOccsNJ = AllOccsNJ.dropna(subset=['occupation']).reset_index(drop=True) #Drop any rows w/o an occupation listed. 
print(AllOccsNJ)

    6p_Dollar  6p_Cents  6p_def_Dollar  6p_def_Cents  3p_Dollar  3p_Cents  \
0       575.0      62.0          287.0          81.0      155.0      41.0
1       151.0      40.0           75.0          70.0      119.0       8.0
2       188.0      14.0           94.0           7.0      210.0       2.0
3      3676.0      44.0         1838.0          22.0     2106.0      11.0
4       124.0      21.0           62.0          11.0       56.0      20.0
5      1324.0      81.0          662.0          41.0      675.0      52.0
6       844.0      44.0          422.0          23.0      527.0      57.0
7       161.0      74.0           80.0          87.0       72.0      83.0
8        91.0      66.0           45.0          84.0       44.0       5.0
9       750.0      82.0          375.0          42.0      407.0      55.0
10      524.0      11.0          262.0           6.0      278.0      48.0
11      131.0      66.0           65.0          84.0       62.0      95.0
12      448.0      33.0          224.0          17.0      193.0      31.0
13     4326.0      79.0         2163.0          39.0     1945.0      97.0
14       29.0      56.0           14.0          78.0       15.0      63.0
15      110.0      10.0           55.0           6.0       59.0      32.0
16      239.0      62.0          119.0          81.0      159.0      41.0
17     1104.0      78.0          552.0          40.0     1071.0      62.0
18     1325.0      68.0          662.0          85.0      714.0      50.0
19       59.0      55.0           29.0          78.0        NaN       NaN
20      700.0      38.0          350.0          20.0      398.0      40.0
21      578.0       9.0          289.0           5.0      333.0      68.0
22     1168.0      56.0          584.0          29.0      543.0      23.0
23      190.0      71.0           95.0          36.0       58.0      96.0
24      537.0      86.0          268.0          94.0      299.0      53.0
25      384.0      34.0          192.0          65.0      156.0      34.0
26       74.0      88.0           37.0          45.0       39.0      55.0
27      331.0      96.0          165.0          99.0      167.0      55.0
28     1183.0      71.0          591.0           NaN      319.0      60.0
29      238.0      15.0          119.0           7.0      126.0      26.0
30       20.0       NaN           10.0           NaN       17.0       6.0
31      303.0      89.0          151.0          95.0      198.0      80.0
32     5017.0       5.0         2508.0          52.0     2053.0      54.0
33     1046.0      10.0          523.0           5.0      297.0      74.0
34      235.0       1.0          117.0          51.0      139.0      10.0
35      311.0      99.0          155.0          99.0      248.0      12.0
36        3.0      34.0            1.0          66.0        2.0      90.0
37      184.0       NaN           92.0           NaN      437.0       6.0
38       16.0      67.0            8.0          33.0        8.0      57.0
39       36.0       2.0           18.0           1.0       21.0      42.0

                          town state  \
0                   New Jersey    NJ
1        Huntington New Jersey    NJ
2                   New Jersey    NJ
3                   New Jersey    NJ
4                   New Jersey    NJ
5                   New Jersey    NJ
6                   New Jersey    NJ
7         Brunswick New Jersey    NJ
8                   New Jersey    NJ
9                   New Jersey    NJ
10                  New Jersey    NJ
11                  New Jersey    NJ
12                  New Jersey    NJ
13                  New Jersey    NJ
14                  New Jersey    NJ
15                  New Jersey    NJ
16                  New Jersey    NJ
17                  New Jersey    NJ
18                  New Jersey    NJ
19         Cape May New Jersey    NJ
20                  New Jersey    NJ
21          Trenton New Jersey    NJ
22    New Brunswick New Jersey    NJ
23     Mount Holley New Jersey    NJ
24          Trenton New Jersey    NJ
25                  New Jersey    NJ
26        Middlesex New Jersey    NJ
27                  New Jersey    NJ
28        Princeton New Jersey    NJ
29                  New Jersey    NJ
30       Berlington New Jersey    NJ
31                  New Jersey    NJ
32                  New Jersey    NJ
33                  New Jersey    NJ
34  Monmouth County New Jersey    NJ
35  Newton Township New Jersey    NJ
36                    Cape May    NJ
37                  New Jersey    NJ
38  Somerset County New Jersey    NJ
39                  New Jersey    NJ

                                           occupation  \
0                                       No Occupation
1                                       No Occupation
2                                       No Occupation
3                                       No Occupation
4                                       No Occupation
5                Executor of Michael De Mott deceased
6                                       No Occupation
7                                       No Occupation
8                                       No Occupation
9                                       No Occupation
10                                      No Occupation
11                                      No Occupation
12                                      No Occupation
13                                      No Occupation
14                                      No Occupation
15                                      No Occupation
16                                      No Occupation
17                                      No Occupation
18                                    Attorney at law
19                                      No Occupation
20                                      No Occupation
21                                      No Occupation
22                                      No Occupation
23                                      No Occupation
24                                      No Occupation
25                                          Physician
26                                      No Occupation
27                                      No Occupation
28                                      No Occupation
29                                      No Occupation
30                                      No Occupation
31                                      No Occupation
32                                          Gentleman
33                                          Gentleman
34                                           Merchant
35                                      No Occupation
36                                             Farmer
37                                            Esquire
38  In trust for Jacobus Van Eis of Somerset Count...
39                                      No Occupation

                                                 Name             county  \
0                                   ['Joseph Borden']                NaN
1           ['John Chamberlaine', 'John Chamberlain']                NaN
2                                    ['Aaron Malich']                NaN
3                                ['Archibald Mercer']                NaN
4   ['Derrick DeMott', 'Derrick De Mott', 'Derrick...                NaN
5        ['Derrick De Mott and Cornelius Williamson']                NaN
6                               ['William Applegate']                NaN
7                                    ['John D Alvey']   Middlesex County
8   ['Jaques Voorhess', 'Jaques Voorhees', 'Jaquee...                NaN
9   ['Jaques Voorhess', 'Jaques Voorhees', 'Jaquee...                NaN
10  ['Jaques Voorhess', 'Jaques Voorhees', 'Jaquee...                NaN
11  ['Jaques Voorhess', 'Jaques Voorhees', 'Jaquee...                NaN
12  ['Jaques Voorhess', 'Jaques Voorhees', 'Jaquee...                NaN
13  ['Jaques Voorhess', 'Jaques Voorhees', 'Jaquee...                NaN
14                               ['Rebecca Carlisle']                NaN
15                                     ['John Merns']                NaN
16                ['John Plehemous', 'John Plehemus']                NaN
17                                ['George Browning']                NaN
18                                    ['Aaron Ogden']                NaN
19                               ['Nathaniel Holmes']    Cape May County
20                                  ['John Woodhull']                NaN
21                               ['Pontius D Stelle']   Hunterdon County
22                                    ['Moses Scott']   Middlesex County
23                                   ['Peter Shiras']  Burlington County
24                               ['Pontius D Stelle']   Hunterdon County
25                                   ['Samuel Treat']                NaN
26                    ['John Bennet', 'John Bennett']   Middlesex County
27                                ['Philip Stockton']                NaN
28                                   ['Henry Piercy']   Middlesex County
29                                   ['John D Alvey']                NaN
30                                    ['Jacob Myers']  Burlington County
31                 ['Jebediah Swan', 'Jedediah Swan']                NaN
32                                   ['Isaac Wikoff']                NaN
33                                   ['Isaac Wikoff']                NaN
34                                 ['William Wikoff']    Monmouth County
35             ['Samuel S Cooper', 'Samuel S Copper']      Sussex County
36                                 ['David Whitaker']    Cape May County
37                                  ['Aaron Kitchel']                NaN
38  ['Peter Vanderveer in trust for Jacobus Van Ei...    Somerset County
39             ['William Speneer', 'William Spencer']                NaN

   name_type  6p_total
0      state    575.62
1      other    151.40
2      state    188.14
3      state   3676.44
4      state    124.21
5      state   1324.81
6      state    844.44
7       town    161.74
8      state     91.66
9      state    750.82
10     state    524.11
11     state    131.66
12     state    448.33
13     state   4326.79
14     state     29.56
15     state    110.10
16     state    239.62
17     state   1104.78
18     state   1325.68
19      town     59.55
20     state    700.38
21      town    578.09
22      town   1168.56
23      town    190.71
24      town    537.86
25     state    384.34
26      town     74.88
27     state    331.96
28      town   1183.71
29     state    238.15
30      town       NaN
31     state    303.89
32     state   5017.05
33     state   1046.10
34    county    235.01
35      town    311.99
36      town      3.34
37     state       NaN
38    county     16.67
39     state     36.02

In [49]:
OccsTotalsNJ = AllOccsNJ.groupby('occupation')['6p_total'].apply(sum).reset_index() #Combine duplicate occupations.
OccsTotalsNJ['# of people'] = OccsTotalsNJ['occupation'].map(AllOccsNJ['occupation'].value_counts(dropna=False)) #Map # of people that belong to each occupation.
print(OccsTotalsNJ.to_string())

temp_df = OccsTotalsNJ[['occupation']]

                                                   occupation  6p_total  # of people
0                                             Attorney at law   1325.68            1
1                                                     Esquire      0.00            1
2                        Executor of Michael De Mott deceased   1324.81            1
3                                                      Farmer      3.34            1
4                                                   Gentleman   6063.15            2
5  In trust for Jacobus Van Eis of Somerset County New Jersey     16.67            1
6                                                    Merchant    235.01            1
7                                               No Occupation  19195.17           31
8                                                   Physician    384.34            1

In [50]:
OccsTotalsNJ = RemoveStopwords(OccsTotalsNJ)
print(OccsTotalsNJ.to_string())

temp_df['new occupation'] = OccsTotalsNJ['occupation']
ogoccs = pd.concat([ogoccs, temp_df])

                                            occupation  6p_total  # of people
0                                         attorney law   1325.68            1
1                                              esquire      0.00            1
2                    executor michael de mott deceased   1324.81            1
3                                               farmer      3.34            1
4                                            gentleman   6063.15            2
5  in trust jacobus van eis somerset county new jersey     16.67            1
6                                             merchant    235.01            1
7                                        no occupation  19195.17           31
8                                            physician    384.34            1

/var/folders/5s/dvrxt95949x1pm_sjxm85lj00000gn/T/ipykernel_60320/1264834632.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['new occupation'] = OccsTotalsNJ['occupation']

In [51]:
retdict = FindRemoveConst(OccsTotalsNJ['occupation'].tolist())
ogoccs['new occupation'] = ogoccs['new occupation'].apply(lambda x: retdict.get(x, x))

Occupation Before --> Occupation After
--------------------------------------


attorney law --> attorney law
esquire --> esquire
executor michael de mott deceased --> executor michael de mott deceased
farmer --> farmer
gentleman --> gentleman
in trust jacobus van eis somerset county new jersey --> in trust jacobus van eis somerset county new jersey
merchant --> merchant
no occupation --> no occupation
physician --> physician

In [52]:
Remove = 2

In [53]:
retdict = PrintFutureOccupations(OccsTotalsNJ['occupation'].tolist())
ogoccs['new occupation'] = ogoccs['new occupation'].apply(lambda x: retdict.get(x, x))

Occupations --> Potential Cleaned Occupations
---------------------------------------------


attorney law --> attorney
esquire --> esquire
executor michael de --> executor
farmer --> farmer
gentleman --> gentleman
in trust jacobus van eis somerset county --> county
merchant --> merchant
no occupation --> occupation
physician --> physician

In [54]:
retdict, OccsTotalsNJ = MergeOccupations(OccsTotalsNJ)
ogoccs['new occupation'] = ogoccs['new occupation'].apply(lambda x: retdict.get(x, x))

After Cleaning
--------------


   occupation  6p_total  # of people % of total people
0    attorney   1325.68            1              None
1         esq      0.00            1              None
2    executor   1324.81            1              None
3      farmer      3.34            1              None
4   gentleman   6063.15            2              None
5    assignee     16.67            1              None
6    merchant    235.01            1              None
7  occupation  19195.17           31              None
8      doctor    384.34            1              None


After Removing Duplicates and Summing
-------------------------------------


   occupation  6p_total  # of people  % of total people
0    assignee     16.67            1                  0
1    attorney   1325.68            1                  0
2      doctor    384.34            1                  0
3         esq      0.00            1                  0
4    executor   1324.81            1                  0
5      farmer      3.34            1                  0
6   gentleman   6063.15            2                  0
7    merchant    235.01            1                  0
8  occupation  19195.17           31                  0




After Using Fuzzy String Matching
---------------------------------


   occupation  6p_total  # of people  % of total people  average debt per person
0  occupation  19195.17           31               77.5               619.199032
1   gentleman   6063.15            2                5.0              3031.575000
2    attorney   1325.68            1                2.5              1325.680000
3    executor   1324.81            1                2.5              1324.810000
4      doctor    384.34            1                2.5               384.340000
5    merchant    235.01            1                2.5               235.010000
6    assignee     16.67            1                2.5                16.670000
7      farmer      3.34            1                2.5                 3.340000
8         esq      0.00            1                2.5                 0.000000

In [55]:
TurnToExcel(OccsTotalsNJ, State)

# New York

In [56]:
State = 'NY'
AllOccsNY = AllOccs[AllOccs['state'] == State] #Separate rows by state
AllOccsNY = AllOccsNY.dropna(subset=['occupation']).reset_index(drop=True) #Drop any rows w/o an occupation listed. 
print(AllOccsNY)

    6p_Dollar  6p_Cents  6p_def_Dollar  6p_def_Cents  3p_Dollar  3p_Cents  \
0       248.0   46.0000          124.0       23.0000      144.0       NaN
1       738.0   43.0000          369.0       22.0000      708.0     13.00
2       433.0   28.0000          216.0       64.0000      355.0      8.00
3        47.0   38.0000           23.0       69.0000       49.0     98.00
4       131.0   15.0000           65.0       57.0000      146.0     69.00
5       118.0   45.0000           59.0       23.0000      124.0     94.00
6        23.0   69.0000           11.0       84.0000       24.0     99.00
7       261.0   31.0000          130.0       65.0000      340.0     53.00
8       144.0   55.0000           72.0       28.0000       54.0       NaN
9       933.0   33.0000          466.0       67.0000      781.0     67.00
10      555.0   86.0000          277.0       93.0000      637.0     27.00
11      230.0   90.0000          115.0       45.0000      179.0     91.00
12      377.0   49.0000          188.0       75.0000      385.0     98.00
13       14.0   94.0000            7.0       48.0000       15.0     58.00
14       29.0   87.0000           14.0       94.0000        NaN       NaN
15      286.0   43.0000          143.0       22.0000      248.0     68.00
16       16.0   61.0000            8.0       31.0000      191.0     15.00
17        NaN    1.0000            NaN           NaN        NaN       NaN
18        NaN       NaN            NaN           NaN     1601.0     94.00
19        NaN       NaN            NaN           NaN       20.0       NaN
20        1.0   50.0000            1.0       25.0000        1.0     43.32
21        1.0  249.7733            1.0      124.8833        1.0    273.65
22        1.0   46.7633            1.0       23.3833        1.0     63.34
23       20.0   34.5500           16.0       17.2700       15.0     37.71
24      127.0   24.0000           63.0       62.0000        NaN       NaN
25       64.0   44.0000           32.0       22.0000       42.0     36.00
26       16.0   53.0000            8.0       27.0000       16.0     58.00
27     1147.0   82.0000          573.0       91.0000     2488.0       NaN
28     1776.0   12.0000          888.0        6.0000     1553.0     33.00
29      509.0   97.0000          254.0       98.0000      298.0     53.00
30      685.0   93.0000          342.0       97.0000      203.0     67.00
31       22.0   70.0000           11.0       36.0000       23.0     51.00
32      334.0   70.0000          167.0       35.0000      340.0     68.00
33        NaN       NaN            NaN        1.0000        NaN       NaN
34      609.0   42.0000          304.0       71.0000      432.0       NaN
35     1867.0   88.0000          933.0       93.0000      517.0     20.00
36      690.0   96.0000          345.0       48.0000      665.0     28.00
37      222.0    5.0000          111.0        3.0000      351.0     21.00
38     1335.0   12.0000          667.0       56.0000      757.0     44.00
39       88.0   60.0000           44.0       30.0000       62.0     43.00
40      408.0   11.0000          204.0        6.0000      306.0      8.00
41      396.0   20.0000          198.0       10.0000      360.0     33.00
42      100.0       NaN           50.0           NaN      600.0     62.00
43      129.0   72.0000           64.0       68.0000      812.0     45.00
44      138.0   58.0000           69.0       29.0000       60.0     12.00
45      174.0   62.0000           87.0       31.0000        NaN       NaN
46      581.0   48.0000          290.0       74.0000      545.0     12.00
47      255.0   94.0000          127.0       97.0000      369.0     52.00
48       55.0   71.0000           27.0       86.0000       31.0     25.00
49      407.0   50.0000          203.0       75.0000      381.0      1.00
50       29.0   93.0000           14.0       96.0000        NaN       NaN
51       61.0   63.0000            NaN           NaN        NaN       NaN
52      361.0   11.0000          180.0       55.0000      315.0     27.00
53      120.0   25.0000           60.0       12.0000       97.0     70.00

                 town state     occupation  \
0   State of New York    NY  No Occupation
1   State of New York    NY  No Occupation
2   State of New York    NY  No Occupation
3   State of New York    NY  No Occupation
4   State of New York    NY   Schoolmaster
5   State of New York    NY         Farmer
6   State of New York    NY       Merchant
7    City of New York    NY       Merchant
8            New York    NY  No Occupation
9   State of New York    NY      Physician
10           New York    NY         Farmer
11   City of New York    NY       Merchant
12  State of New York    NY        Mariner
13  State of New York    NY  No Occupation
14  State of New York    NY  No Occupation
15           New York    NY       Merchant
16        Long Island    NY  No Occupation
17   City of New York    NY       Merchant
18   City of New York    NY       Merchant
19           New York    NY  No Occupation
20           New York    NY  No Occupation
21           New York    NY  No Occupation
22           New York    NY      Merchants
23           New York    NY       Merchant
24           New York    NY  No Occupation
25           New York    NY  No Occupation
26           New York    NY  No Occupation
27           New York    NY  No Occupation
28           New York    NY         Broker
29           New York    NY  No Occupation
30           New York    NY       Merchant
31             Albany    NY  No Occupation
32           New York    NY       Merchant
33           New York    NY  No Occupation
34           New York    NY       Merchant
35           New York    NY      Merchants
36           New York    NY       Merchant
37           New York    NY       Merchant
38           New York    NY  No Occupation
39           New York    NY       Merchant
40           New York    NY  No Occupation
41           New York    NY  No Occupation
42           New York    NY  No Occupation
43           New York    NY  No Occupation
44           New York    NY       Merchant
45           New York    NY       Merchant
46           New York    NY      Merchants
47           New York    NY       Merchant
48           New York    NY       Merchant
49           New York    NY       Merchant
50           New York    NY       Merchant
51           New York    NY  No Occupation
52           New York    NY       Merchant
53           New York    NY       Merchant

                                                 Name           county  \
0                                  ['Stephen Potter']              NaN
1                                    ['Edmund Wells']              NaN
2                                   ['Benjamin Wood']              NaN
3                                ['Joseph Carpenter']              NaN
4                                 ['Martin McDonald']              NaN
5                                   ['Stephen Field']              NaN
6                                   ['Josiah Quinby']              NaN
7                                     ['John Mowatt']  New York County
8                                  ['Ammi R Robbins']              NaN
9                                     ['Samuel Gale']              NaN
10                                   ['Daniel Paine']              NaN
11                                    ['John Mowatt']  New York County
12                                ['Jeremiah Rogers']              NaN
13                                  ['Thomas Vailes']              NaN
14                                   ['Edmund Wells']              NaN
15                                 ['Solomon Simson']              NaN
16                                  ['William Jones']              NaN
17                                    ['John Mowatt']  New York County
18                                  ['Daniel Ludlow']  New York County
19                                    ['John Mowatt']              NaN
20                                 ['Ananias Cooper']              NaN
21                                   ['Seth Johnson']              NaN
22                             ['Peter Schermerhorn']              NaN
23                            ['Robert Ross Waddell']              NaN
24                                   ['William Boyd']              NaN
25                                 ['William Steele']              NaN
26                                 ['William Steele']              NaN
27                                 ['John Delafield']              NaN
28                  ['Isaac Whippoo', 'Isaac Whipoo']              NaN
29                               ['Susan Livingston']              NaN
30                                  ['Henry Chapman']              NaN
31                             ['Leonard Gansevoort']    Albany County
32                                    ['John Murray']              NaN
33                              ['William Patterson']              NaN
34                                ['Robert Robinson']              NaN
35  ['Theodosius Fowler in Co', 'Theodosius Fowler...              NaN
36                                   ['George Lewis']              NaN
37                                  ['Samuel Wilcox']              NaN
38                                   ['Seth Johnson']              NaN
39                               ['Robert Gilchrist']              NaN
40                                 ['Ananias Cooper']              NaN
41                                 ['Andrew Craigie']              NaN
42                                   ['Seth Johnson']              NaN
43                                   ['Seth Johnson']              NaN
44                               ['Robert Gilchrist']              NaN
45                                    ['John Motley']              NaN
46          ['Nicholas Low and Horace and S Johnson']              NaN
47                                    ['John Motley']              NaN
48                               ['Alexander Fowler']              NaN
49                                   ['George Lewis']              NaN
50                                    ['John Motley']              NaN
51                                ['Daniel Penfield']              NaN
52                               ['Robert Gilchrist']              NaN
53                            ['Robert Ross Waddell']              NaN

   name_type     6p_total
0      state   248.460000
1      state   738.430000
2      state   433.280000
3      state    47.380000
4      state   131.150000
5      state   118.450000
6      state    23.690000
7       town   261.310000
8      state   144.550000
9      state   933.330000
10     state   555.860000
11      town   230.900000
12     state   377.490000
13     state    14.940000
14     state    29.870000
15     state   286.430000
16     state    16.610000
17      town          NaN
18      town          NaN
19     state          NaN
20     state     1.500000
21     state     3.497733
22     state     1.467633
23     state    20.345500
24     state   127.240000
25     state    64.440000
26     state    16.530000
27     state  1147.820000
28     state  1776.120000
29     state   509.970000
30     state   685.930000
31      town    22.700000
32     state   334.700000
33     state          NaN
34     state   609.420000
35     state  1867.880000
36     state   690.960000
37     state   222.050000
38     state  1335.120000
39     state    88.600000
40     state   408.110000
41     state   396.200000
42     state          NaN
43     state   129.720000
44     state   138.580000
45     state   174.620000
46     state   581.480000
47     state   255.940000
48     state    55.710000
49     state   407.500000
50     state    29.930000
51     state    61.630000
52     state   361.110000
53     state   120.250000

In [57]:
OccsTotalsNY = AllOccsNY.groupby('occupation')['6p_total'].apply(sum).reset_index() #Combine duplicate occupations.
OccsTotalsNY['# of people'] = OccsTotalsNY['occupation'].map(AllOccsNY['occupation'].value_counts(dropna=False)) #Map # of people that belong to each occupation.
print(OccsTotalsNY.to_string())

temp_df = OccsTotalsNY[['occupation']]

      occupation     6p_total  # of people
0         Broker  1776.120000            1
1         Farmer   674.310000            2
2        Mariner   377.490000            1
3       Merchant  4997.975500           21
4      Merchants  2450.827633            3
5  No Occupation  5897.997733           24
6      Physician   933.330000            1
7   Schoolmaster   131.150000            1

In [58]:
OccsTotalsNY = RemoveStopwords(OccsTotalsNY) 
print(OccsTotalsNY.to_string())

temp_df['new occupation'] = OccsTotalsNY['occupation']
ogoccs = pd.concat([ogoccs, temp_df])

      occupation     6p_total  # of people
0         broker  1776.120000            1
1         farmer   674.310000            2
2        mariner   377.490000            1
3       merchant  4997.975500           21
4      merchants  2450.827633            3
5  no occupation  5897.997733           24
6      physician   933.330000            1
7   schoolmaster   131.150000            1

/var/folders/5s/dvrxt95949x1pm_sjxm85lj00000gn/T/ipykernel_60320/1653663519.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['new occupation'] = OccsTotalsNY['occupation']

In [59]:
retdict = PrintFutureOccupations(OccsTotalsNY['occupation'].tolist())
ogoccs['new occupation'] = ogoccs['new occupation'].apply(lambda x: retdict.get(x, x))

Occupations --> Potential Cleaned Occupations
---------------------------------------------


broker --> broker
farmer --> farmer
mariner --> mariner
merchant --> merchant
merchants --> merchants
no occupation --> occupation
physician --> physician
schoolmaster --> schoolmaster

In [60]:
retdict, OccsTotalsNY = MergeOccupations(OccsTotalsNY)
ogoccs['new occupation'] = ogoccs['new occupation'].apply(lambda x: retdict.get(x, x))

After Cleaning
--------------


     occupation     6p_total  # of people % of total people
0        broker  1776.120000            1              None
1        farmer   674.310000            2              None
2       mariner   377.490000            1              None
3      merchant  4997.975500           21              None
4     merchants  2450.827633            3              None
5    occupation  5897.997733           24              None
6        doctor   933.330000            1              None
7  schoolmaster   131.150000            1              None


After Removing Duplicates and Summing
-------------------------------------


     occupation     6p_total  # of people  % of total people
0        broker  1776.120000            1                  0
1        doctor   933.330000            1                  0
2        farmer   674.310000            2                  0
3       mariner   377.490000            1                  0
4      merchant  4997.975500           21                  0
5     merchants  2450.827633            3                  0
6    occupation  5897.997733           24                  0
7  schoolmaster   131.150000            1                  0


Removed: merchants --> merchant


After Using Fuzzy String Matching
---------------------------------


     occupation     6p_total  # of people  % of total people  average debt per person
0      merchant  7448.803133           24          44.444444               310.366797
1    occupation  5897.997733           24          44.444444               245.749906
2        broker  1776.120000            1           1.851852              1776.120000
3        doctor   933.330000            1           1.851852               933.330000
4        farmer   674.310000            2           3.703704               337.155000
5       mariner   377.490000            1           1.851852               377.490000
6  schoolmaster   131.150000            1           1.851852               131.150000

In [61]:
TurnToExcel(OccsTotalsNY, State)

# Pennsylvania

In [62]:
State = 'PA'
AllOccsPA = AllOccs[AllOccs['state'] == State] #Separate rows by state
AllOccsPA = AllOccsPA.dropna(subset=['occupation']).reset_index(drop=True) #Drop any rows w/o an occupation listed. 
print(AllOccsPA)

     6p_Dollar  6p_Cents  6p_def_Dollar  6p_def_Cents  3p_Dollar  3p_Cents  \
0          1.0    965.91            1.0        482.95        1.0   1110.37
1          1.0    102.14            1.0         51.07        1.0    117.34
2        158.0      1.00           79.0           NaN      158.0     10.00
3       3212.0     38.00         1606.0         19.00     1400.0     66.00
4       9601.0     24.00         4800.0         62.00     3079.0     84.00
..         ...       ...            ...           ...        ...       ...
937      582.0     52.00          291.0         26.00       92.0     84.00
938      150.0       NaN           75.0           NaN      138.0     90.00
939      526.0     95.00          263.0         47.00      281.0     74.00
940      143.0     33.00           71.0         66.00      107.0     51.00
941        NaN       NaN          423.0         14.00        NaN       NaN

             town state     occupation                   Name  \
0    Philadelphia    PA  No Occupation      ['Daniel W Cose']
1    Philadelphia    PA        Mariner     ['Edward Burrows']
2    Pennsylvania    PA  No Occupation  ['Christian Lybrant']
3    Philadelphia    PA       Merchant    ['Stephen Collins']
4       Lancaster    PA  No Occupation        ['Edward Hand']
..            ...   ...            ...                    ...
937  Philadelphia    PA  No Occupation   ['Mathew McConnell']
938  Philadelphia    PA       Merchant         ['Thomas Lea']
939  Philadelphia    PA  No Occupation   ['Mathew McConnell']
940  Philadelphia    PA  No Occupation  ['Samuel Allen Otis']
941  Philadelphia    PA  No Occupation  ['Cornelius Comegys']

                  county name_type   6p_total
0    Philadelphia County      town    10.6591
1    Philadelphia County      town     2.0214
2                    NaN     state   158.0100
3    Philadelphia County      town  3212.3800
4       Lancaster County      town  9601.2400
..                   ...       ...        ...
937  Philadelphia County      town   582.5200
938  Philadelphia County      town        NaN
939  Philadelphia County      town   526.9500
940  Philadelphia County      town   143.3300
941  Philadelphia County      town        NaN

[942 rows x 13 columns]

In [63]:
OccsTotalsPA = AllOccsPA.groupby('occupation')['6p_total'].apply(sum).reset_index() #Combine duplicate occupations.
OccsTotalsPA['# of people'] = OccsTotalsPA['occupation'].map(AllOccsPA['occupation'].value_counts(dropna=False)) #Map # of people that belong to each occupation.
print(OccsTotalsPA.to_string())

temp_df = OccsTotalsPA[['occupation']]

                                                         occupation     6p_total  # of people
0                                                        AH.Vat Law      58.0500            1
1        Adm of Alexander McCaraher late of Chester County Deceased     799.5100            1
2                            Administer of the estate of Job Vernon    1865.4400            1
3                                  Administor to the Est of J James      27.5300            1
4                                                   Attorney at Law    1223.6200            1
5                                                       Black Smith     692.2500            1
6                                                       Book Binder     783.0700            1
7                                                            Broker   64008.8400           60
8                                                             Clerk    1855.5800            4
9                                                                Co    2898.8600            4
10                                                      Conveyancer     108.4000            1
11                                                      Cordwainder     281.2500            1
12                                                         Druggist    4922.4300            2
13                                                          Esquier   20672.0700            6
14                                                          Esquire   20770.1700           15
15                                     Estate John Benezet Deceased       0.0000            1
16                                                        Estate of    1979.6000            1
17                                           Ex Philadelphia County    1802.9600            1
18                                           Ex of William Honeyman     668.9600            1
19                          Ex to the Estate of John Baird Bucks Co     115.9400            1
20                              Executers of David Grierlate Y Town    5658.3600            1
21                     Executor to the Estate Abraham Hull deceased      47.9100            1
22                      Executor to the Estate Mathias Londenberger     493.8300            1
23      Executor to the Estate of Doctor Benjamin Franklin deceased       0.0000            1
24                                                           Farmer    1685.8100            5
25                                                          Furrier    3107.1800            1
26                                                        Gentleman    7540.6600            6
27                                                        Goldsmith     142.2200            1
28                                           Guardian to Adam Grier    1605.8000            1
29                                        Guardian to Maria Benezet    2267.5000            1
30                                    Guardian to William Chevalier     666.6600            1
31                                                           Hatter    2291.7600            3
32                                                       Inn Keeper    1668.6800            3
33                                                    Junior Broker   10691.1200            3
34                                                              Law    3942.1100            2
35                                                           Lawyer    3472.9000            1
36                                                         Marchant    1133.2500            2
37                                                          Mariner    3906.5714            5
38                                                         Merchant  554945.2200          227
39  Merchant Executer to the Estate of John Schweig Hauser deceased    5333.3300            1
40                                                        Merchants   54042.2900            7
41                                                    No Occupation  597445.0891          527
42                                                     Pennsylvania     856.5600            1
43                                                        Physician    1769.0100            1
44                                                      Post Master    7083.5300            1
45                                                          Printer    7423.7300            5
46                             Printer in Trust for Jennet Thompson     294.0100            1
47                                          Property of Mathematics     461.1100            1
48                                                         Reverend     224.1200            1
49                                                          Sheriff      56.2100            1
50                                                      Ship Wright    1241.7600            1
51                                                      Shop Keeper      41.4700            1
52                                                       Shopkeeper     547.4800            2
53                                                      Silversmith    1917.6500            2
54                                                         Spinster     528.3300            1
55                                                           Tanner    1192.2500            2
56                                                           Taylor    2137.3900            4
57                       Treasurer of the first Presbyterian Church     714.8100            1
58                                             Trust By David Cloyd     618.1400            1
59                                                            Widow    5576.5300            5
60                                                           Yeoman    1136.0600            2
61                         for Christopher Mary and Charity Pyrleus     846.2300            1
62                           in trust for the Estate of Robert Dill    1436.5000            1

In [64]:
OccsTotalsPA = RemoveStopwords(OccsTotalsPA) 
print(OccsTotalsPA.to_string())

temp_df['new occupation'] = OccsTotalsPA['occupation']
ogoccs = pd.concat([ogoccs, temp_df])

                                               occupation     6p_total  # of people
0                                              ah.vat law      58.0500            1
1    adm alexander mccaraher late chester county deceased     799.5100            1
2                            administer estate job vernon    1865.4400            1
3                                  administor est j james      27.5300            1
4                                            attorney law    1223.6200            1
5                                             black smith     692.2500            1
6                                             book binder     783.0700            1
7                                                  broker   64008.8400           60
8                                                   clerk    1855.5800            4
9                                                      co    2898.8600            4
10                                            conveyancer     108.4000            1
11                                            cordwainder     281.2500            1
12                                               druggist    4922.4300            2
13                                                esquier   20672.0700            6
14                                                esquire   20770.1700           15
15                           estate john benezet deceased       0.0000            1
16                                                 estate    1979.6000            1
17                                 ex philadelphia county    1802.9600            1
18                                    ex william honeyman     668.9600            1
19                          ex estate john baird bucks co     115.9400            1
20                       executers david grierlate y town    5658.3600            1
21                  executor estate abraham hull deceased      47.9100            1
22                   executor estate mathias londenberger     493.8300            1
23      executor estate doctor benjamin franklin deceased       0.0000            1
24                                                 farmer    1685.8100            5
25                                                furrier    3107.1800            1
26                                              gentleman    7540.6600            6
27                                              goldsmith     142.2200            1
28                                    guardian adam grier    1605.8000            1
29                                 guardian maria benezet    2267.5000            1
30                             guardian william chevalier     666.6600            1
31                                                 hatter    2291.7600            3
32                                             inn keeper    1668.6800            3
33                                          junior broker   10691.1200            3
34                                                    law    3942.1100            2
35                                                 lawyer    3472.9000            1
36                                               marchant    1133.2500            2
37                                                mariner    3906.5714            5
38                                               merchant  554945.2200          227
39  merchant executer estate john schweig hauser deceased    5333.3300            1
40                                              merchants   54042.2900            7
41                                          no occupation  597445.0891          527
42                                           pennsylvania     856.5600            1
43                                              physician    1769.0100            1
44                                            post master    7083.5300            1
45                                                printer    7423.7300            5
46                          printer trust jennet thompson     294.0100            1
47                                   property mathematics     461.1100            1
48                                               reverend     224.1200            1
49                                                sheriff      56.2100            1
50                                            ship wright    1241.7600            1
51                                            shop keeper      41.4700            1
52                                             shopkeeper     547.4800            2
53                                            silversmith    1917.6500            2
54                                               spinster     528.3300            1
55                                                 tanner    1192.2500            2
56                                                 taylor    2137.3900            4
57                    treasurer first presbyterian church     714.8100            1
58                                   trust by david cloyd     618.1400            1
59                                                  widow    5576.5300            5
60                                                 yeoman    1136.0600            2
61                       christopher mary charity pyrleus     846.2300            1
62                               trust estate robert dill    1436.5000            1

/var/folders/5s/dvrxt95949x1pm_sjxm85lj00000gn/T/ipykernel_60320/177176644.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['new occupation'] = OccsTotalsPA['occupation']

In [65]:
retdict = FindRemoveConst(OccsTotalsPA['occupation'].tolist())
ogoccs['new occupation'] = ogoccs['new occupation'].apply(lambda x: retdict.get(x, x))

Occupation Before --> Occupation After
--------------------------------------


ah.vat law --> ah.vat law
adm alexander mccaraher late chester county deceased --> adm alexander mccaraher late chester
administer estate job vernon --> administer estate
administor est j james --> administor est
attorney law --> attorney law
black smith --> black smith
book binder --> book binder
broker --> broker
clerk --> clerk
co --> co
conveyancer --> conveyancer
cordwainder --> cordwainder
druggist --> druggist
esquier --> esquier
esquire --> esquire
estate john benezet deceased --> estate john
estate --> estate
ex philadelphia county --> ex
ex william honeyman --> ex
ex estate john baird bucks co --> ex estate john baird
executers david grierlate y town --> executers david grierlate
executor estate abraham hull deceased --> executor estate abraham
executor estate mathias londenberger --> executor estate
executor estate doctor benjamin franklin deceased --> executor estate doctor benjamin
farmer --> farmer
furrier --> furrier
gentleman --> gentleman
goldsmith --> goldsmith
guardian adam grier --> guardian
guardian maria benezet --> guardian
guardian william chevalier --> guardian
hatter --> hatter
inn keeper --> inn keeper
junior broker --> junior broker
law --> law
lawyer --> lawyer
marchant --> marchant
mariner --> mariner
merchant --> merchant
merchant executer estate john schweig hauser deceased --> merchant executer estate john schweig
merchants --> merchants
no occupation --> no occupation
pennsylvania --> pennsylvania
physician --> physician
post master --> post master
printer --> printer
printer trust jennet thompson --> printer trust
property mathematics --> property mathematics
reverend --> reverend
sheriff --> sheriff
ship wright --> ship wright
shop keeper --> shop keeper
shopkeeper --> shopkeeper
silversmith --> silversmith
spinster --> spinster
tanner --> tanner
taylor --> taylor
treasurer first presbyterian church --> treasurer first
trust by david cloyd --> trust by
widow --> widow
yeoman --> yeoman
christopher mary charity pyrleus --> christopher mary
trust estate robert dill --> trust estate

In [66]:
retdict = PrintFutureOccupations(OccsTotalsPA['occupation'].tolist())
ogoccs['new occupation'] = ogoccs['new occupation'].apply(lambda x: retdict.get(x, x))

Occupations --> Potential Cleaned Occupations
---------------------------------------------


ah.vat law --> ah.vat
adm alexander mccaraher late chester --> adm
administer estate --> administer
administor est --> administor
attorney law --> attorney
black smith --> black
book binder --> book
broker --> broker
clerk --> clerk
co --> co
conveyancer --> conveyancer
cordwainder --> cordwainder
druggist --> druggist
esquier --> esquier
esquire --> esquire
estate john --> estate
estate --> estate
ex --> ex
ex --> ex
ex estate john baird --> baird
executers david grierlate --> executers
executor estate abraham --> executor
executor estate --> executor
executor estate doctor benjamin --> executor
farmer --> farmer
furrier --> furrier
gentleman --> gentleman
goldsmith --> goldsmith
guardian --> guardian
guardian --> guardian
guardian --> guardian
hatter --> hatter
inn keeper --> inn
junior broker --> junior
law --> law
lawyer --> lawyer
marchant --> marchant
mariner --> mariner
merchant --> merchant
merchant executer estate john schweig --> merchant
merchants --> merchants
no occupation --> occupation
pennsylvania --> pennsylvania
physician --> physician
post master --> post
printer --> printer
printer trust --> printer
property mathematics --> property
reverend --> reverend
sheriff --> sheriff
ship wright --> ship
shop keeper --> shop
shopkeeper --> shopkeeper
silversmith --> silversmith
spinster --> spinster
tanner --> tanner
taylor --> taylor
treasurer first --> treasurer
trust by --> trust
widow --> widow
yeoman --> yeoman
christopher mary --> christopher
trust estate --> trust

In [67]:
retdict, OccsTotalsPA = MergeOccupations(OccsTotalsPA)
ogoccs['new occupation'] = ogoccs['new occupation'].apply(lambda x: retdict.get(x, x))

After Cleaning
--------------


     occupation     6p_total  # of people % of total people
0      attorney      58.0500            1              None
1    administer     799.5100            1              None
2    administer    1865.4400            1              None
3    administor      27.5300            1              None
4      attorney    1223.6200            1              None
5    blacksmith     692.2500            1              None
6   book binder     783.0700            1              None
7        broker   64008.8400           60              None
8         clerk    1855.5800            4              None
9          None    2898.8600            4              None
10  conveyancer     108.4000            1              None
11  cordwainder     281.2500            1              None
12     druggist    4922.4300            2              None
13          esq   20672.0700            6              None
14          esq   20770.1700           15              None
15       estate       0.0000            1              None
16       estate    1979.6000            1              None
17    executors    1802.9600            1              None
18    executors     668.9600            1              None
19    executors     115.9400            1              None
20    executers    5658.3600            1              None
21     executor      47.9100            1              None
22     executor     493.8300            1              None
23     executor       0.0000            1              None
24       farmer    1685.8100            5              None
25      furrier    3107.1800            1              None
26    gentleman    7540.6600            6              None
27    goldsmith     142.2200            1              None
28     guardian    1605.8000            1              None
29     guardian    2267.5000            1              None
30     guardian     666.6600            1              None
31       hatter    2291.7600            3              None
32   inn keeper    1668.6800            3              None
33       broker   10691.1200            3              None
34     attorney    3942.1100            2              None
35     attorney    3472.9000            1              None
36     marchant    1133.2500            2              None
37      mariner    3906.5714            5              None
38     merchant  554945.2200          227              None
39     merchant    5333.3300            1              None
40    merchants   54042.2900            7              None
41   occupation  597445.0891          527              None
42         None     856.5600            1              None
43       doctor    1769.0100            1              None
44  post master    7083.5300            1              None
45      printer    7423.7300            5              None
46      printer     294.0100            1              None
47     property     461.1100            1              None
48     reverend     224.1200            1              None
49      sheriff      56.2100            1              None
50  ship wright    1241.7600            1              None
51   shopkeeper      41.4700            1              None
52   shopkeeper     547.4800            2              None
53  silversmith    1917.6500            2              None
54     spinster     528.3300            1              None
55       tanner    1192.2500            2              None
56       taylor    2137.3900            4              None
57    treasurer     714.8100            1              None
58        trust     618.1400            1              None
59        widow    5576.5300            5              None
60       farmer    1136.0600            2              None
61   individual     846.2300            1              None
62        trust    1436.5000            1              None


After Removing Duplicates and Summing
-------------------------------------


     occupation     6p_total  # of people  % of total people
0    administer    2664.9500            2                  0
1    administor      27.5300            1                  0
2      attorney    8696.6800            5                  0
3    blacksmith     692.2500            1                  0
4   book binder     783.0700            1                  0
5        broker   74699.9600           63                  0
6         clerk    1855.5800            4                  0
7   conveyancer     108.4000            1                  0
8   cordwainder     281.2500            1                  0
9        doctor    1769.0100            1                  0
10     druggist    4922.4300            2                  0
11          esq   41442.2400           21                  0
12       estate    1979.6000            2                  0
13    executers    5658.3600            1                  0
14     executor     541.7400            3                  0
15    executors    2587.8600            3                  0
16       farmer    2821.8700            7                  0
17      furrier    3107.1800            1                  0
18    gentleman    7540.6600            6                  0
19    goldsmith     142.2200            1                  0
20     guardian    4539.9600            3                  0
21       hatter    2291.7600            3                  0
22   individual     846.2300            1                  0
23   inn keeper    1668.6800            3                  0
24     marchant    1133.2500            2                  0
25      mariner    3906.5714            5                  0
26     merchant  560278.5500          228                  0
27    merchants   54042.2900            7                  0
28   occupation  597445.0891          527                  0
29  post master    7083.5300            1                  0
30      printer    7717.7400            6                  0
31     property     461.1100            1                  0
32     reverend     224.1200            1                  0
33      sheriff      56.2100            1                  0
34  ship wright    1241.7600            1                  0
35   shopkeeper     588.9500            3                  0
36  silversmith    1917.6500            2                  0
37     spinster     528.3300            1                  0
38       tanner    1192.2500            2                  0
39       taylor    2137.3900            4                  0
40    treasurer     714.8100            1                  0
41        trust    2054.6400            2                  0
42        widow    5576.5300            5                  0


Removed: administor --> administer
Removed: executor --> executers
Removed: executors --> executers
Removed: merchant --> marchant
Removed: merchants --> marchant


After Using Fuzzy String Matching
---------------------------------


     occupation     6p_total  # of people  % of total people  average debt per person
0      marchant  615454.0900          237          25.293490              2596.852700
1    occupation  597445.0891          527          56.243330              1133.671896
2        broker   74699.9600           63           6.723586              1185.713651
3           esq   41442.2400           21           2.241195              1973.440000
4     executers    8787.9600            7           0.747065              1255.422857
5      attorney    8696.6800            5           0.533618              1739.336000
6       printer    7717.7400            6           0.640342              1286.290000
7     gentleman    7540.6600            6           0.640342              1256.776667
8   post master    7083.5300            1           0.106724              7083.530000
9         widow    5576.5300            5           0.533618              1115.306000
10     druggist    4922.4300            2           0.213447              2461.215000
11     guardian    4539.9600            3           0.320171              1513.320000
12      mariner    3906.5714            5           0.533618               781.314280
13      furrier    3107.1800            1           0.106724              3107.180000
14       farmer    2821.8700            7           0.747065               403.124286
15   administer    2692.4800            3           0.320171               897.493333
16       hatter    2291.7600            3           0.320171               763.920000
17       taylor    2137.3900            4           0.426894               534.347500
18        trust    2054.6400            2           0.213447              1027.320000
19       estate    1979.6000            2           0.213447               989.800000
20  silversmith    1917.6500            2           0.213447               958.825000
21        clerk    1855.5800            4           0.426894               463.895000
22       doctor    1769.0100            1           0.106724              1769.010000
23   inn keeper    1668.6800            3           0.320171               556.226667
24  ship wright    1241.7600            1           0.106724              1241.760000
25       tanner    1192.2500            2           0.213447               596.125000
26   individual     846.2300            1           0.106724               846.230000
27  book binder     783.0700            1           0.106724               783.070000
28    treasurer     714.8100            1           0.106724               714.810000
29   blacksmith     692.2500            1           0.106724               692.250000
30   shopkeeper     588.9500            3           0.320171               196.316667
31     spinster     528.3300            1           0.106724               528.330000
32     property     461.1100            1           0.106724               461.110000
33  cordwainder     281.2500            1           0.106724               281.250000
34     reverend     224.1200            1           0.106724               224.120000
35    goldsmith     142.2200            1           0.106724               142.220000
36  conveyancer     108.4000            1           0.106724               108.400000
37      sheriff      56.2100            1           0.106724                56.210000

In [68]:
TurnToExcel(OccsTotalsPA, State)

# Rhode Island

In [69]:
State = 'RI'
AllOccsRI = AllOccs[AllOccs['state'] == State] #Separate rows by state
AllOccsRI = AllOccsRI.dropna(subset=['occupation']).reset_index(drop=True) #Drop any rows w/o an occupation listed. 
print(AllOccsRI)

     6p_Dollar  6p_Cents  6p_def_Dollar  6p_def_Cents  3p_Dollar  3p_Cents  \
0        154.0      20.0           77.0          10.0      192.0       NaN
1         60.0      37.0           30.0          18.0       63.0      83.0
2        342.0      70.0          171.0          35.0      231.0       NaN
3        194.0      54.0           97.0          27.0      222.0       1.0
4        130.0      93.0           65.0          47.0       54.0       NaN
..         ...       ...            ...           ...        ...       ...
461       28.0      44.0           14.0          22.0       29.0      70.0
462      142.0      44.0           71.0          22.0      132.0      43.0
463      183.0      33.0           91.0          67.0      175.0      60.0
464       83.0      33.0           41.0          67.0       79.0      75.0
465       33.0      33.0           17.0          39.0       31.0      94.0

                              town state     occupation  \
0                     Rhode Island    RI         Farmer
1                     Rhode Island    RI  No Occupation
2    Newport State of Rhode Island    RI  No Occupation
3                       Providence    RI       Merchant
4                       Providence    RI  No Occupation
..                             ...   ...            ...
461                       Cranston    RI         Yeoman
462                     Providence    RI       Merchant
463                   Rhode Island    RI  No Occupation
464                   Rhode Island    RI  No Occupation
465                   Rhode Island    RI       Merchant

                                                  Name             county  \
0                                    ['Richard Green']                NaN
1                                  ['Timothy Peckham']                NaN
2                                  ['Elizabeth Brown']     Newport County
3                            ['Clark and Nightingale']  Providence County
4                                   ['Welcome Arnold']  Providence County
..                                                 ...                ...
461  ['Nehemiah Rhodes', 'Nehemiah Rhodes Transferr...  Providence County
462  ['Clark and Nightingale transfer from register...  Providence County
463                                 ['Nicholas Brown']                NaN
464                                ['Elizabeth Brown']                NaN
465                                    ['John Updike']                NaN

    name_type  6p_total
0       state    154.20
1       state     60.37
2       state    342.70
3        town    194.54
4        town    130.93
..        ...       ...
461      town     28.44
462      town    142.44
463     state    183.33
464     state     83.33
465     state     33.33

[466 rows x 13 columns]

In [70]:
OccsTotalsRI = AllOccsRI.groupby('occupation')['6p_total'].apply(sum).reset_index() #Combine duplicate occupations.
OccsTotalsRI['# of people'] = OccsTotalsRI['occupation'].map(AllOccsRI['occupation'].value_counts(dropna=False)) #Map # of people that belong to each occupation.
print(OccsTotalsRI.to_string())

temp_df = OccsTotalsRI[['occupation']]

                                                                          occupation   6p_total  # of people
0                      Administratrix to the Estate of Joshua Brown Esquire Deceased       0.00            1
1                                                                        Auctioneers     460.77            3
2                                                                              Baker     206.37            1
3                                                                         Blacksmith     540.68            3
4                                                                         Blockmaker       4.43            1
5                                                                             Broker     171.50            2
6                                                                            Butcher     235.70            1
7                                                                          Carpenter       0.00            1
8                                                                       Chaise Maker      47.57            1
9                                                                             Cooper    1596.15            3
10                                                                        Cordwainer     417.48            1
11                                                                            Deacon      16.35            1
12                                                                         Distiller     466.25            3
13                                                                            Doctor     445.45            1
14                                                                           Esquier      13.08            1
15                                                                           Esquire   68388.42          129
16                                        Extors to the Late Jn Jenckes Esq Deceased     124.50            1
17                                    Extors to the Late Nicholas Brown Esq Deceased       0.00            1
18                                                                            Farmer    1487.53            2
19  General Treasurer of the state of Rhode Island and his suceessors in said office  199740.67            1
20                                                                         Gentleman    2396.70           10
21                                                                           Glazier     982.35            1
22                                                                         Goldsmith       0.00            1
23                                                                            Hatter     828.66            2
24                                                                       Housewright     266.67            1
25                                                                         Innholder    1430.29            8
26                                                                          Labourer      67.16            2
27                                                                           Mariner    4857.32           25
28                                                                             Mason    1152.50            3
29                                                                          Merchant   99957.63           97
30                                                                         Merchants       4.29            1
31                                                                     No Occupation    2758.50           18
32                                                                         Physician    2676.24            7
33                                                                          Reverend    2054.38            2
34                                                                        Shipwright      89.72            2
35                                                                         Shoemaker     114.88            1
36                                                                          Spinster     721.33            3
37                                                                            Taylor    1297.73            4
38                                                                            Trader     436.34            5
39                                                                Traders In Company      43.79            1
40                                                             Treasurer Town Foster     131.11            1
41                                                             Treasurer of Scituate     181.80            1
42           Treasurer of St Johns Ledge No 1 of Tree and accepted Masons Providence     616.67            1
43                             Treasurer of the Baptist Benevolent Society in Warren     120.83            1
44                  Treasurer of the Congregational Benevolent Society in Providence     152.46            1
45               Treasurer of the Society of Cincinnati in the State of Rhode Island    1432.30            1
46                                 Treasurer of the State of Rhode Island Of Newport    2990.01            2
47                         Treasurer of the State of Rhode Island Of Newport Esquire   16830.22            1
48                         Treasurer to the Charitable Baptist Society in Providence     329.16            1
49                                       Tresurer of the Catholic Society at Bristol      48.72            1
50                                                                             Widow    6182.06           23
51                                                                            Yeoman   13137.70           78
52                                          in behalf of the Proprietors of Tiverton      58.64            1
53                                               treasurer of the Town of Providence      73.71            1

In [71]:
OccsTotalsRI = RemoveStopwords(OccsTotalsRI) 
print(OccsTotalsRI.to_string())

temp_df['new occupation'] = OccsTotalsRI['occupation']
ogoccs = pd.concat([ogoccs, temp_df])

                                                       occupation   6p_total  # of people
0             administratrix estate joshua brown esquire deceased       0.00            1
1                                                     auctioneers     460.77            3
2                                                           baker     206.37            1
3                                                      blacksmith     540.68            3
4                                                      blockmaker       4.43            1
5                                                          broker     171.50            2
6                                                         butcher     235.70            1
7                                                       carpenter       0.00            1
8                                                    chaise maker      47.57            1
9                                                          cooper    1596.15            3
10                                                     cordwainer     417.48            1
11                                                         deacon      16.35            1
12                                                      distiller     466.25            3
13                                                         doctor     445.45            1
14                                                        esquier      13.08            1
15                                                        esquire   68388.42          129
16                            extors late jn jenckes esq deceased     124.50            1
17                        extors late nicholas brown esq deceased       0.00            1
18                                                         farmer    1487.53            2
19    general treasurer state rhode island suceessors said office  199740.67            1
20                                                      gentleman    2396.70           10
21                                                        glazier     982.35            1
22                                                      goldsmith       0.00            1
23                                                         hatter     828.66            2
24                                                    housewright     266.67            1
25                                                      innholder    1430.29            8
26                                                       labourer      67.16            2
27                                                        mariner    4857.32           25
28                                                          mason    1152.50            3
29                                                       merchant   99957.63           97
30                                                      merchants       4.29            1
31                                                  no occupation    2758.50           18
32                                                      physician    2676.24            7
33                                                       reverend    2054.38            2
34                                                     shipwright      89.72            2
35                                                      shoemaker     114.88            1
36                                                       spinster     721.33            3
37                                                         taylor    1297.73            4
38                                                         trader     436.34            5
39                                             traders in company      43.79            1
40                                          treasurer town foster     131.11            1
41                                             treasurer scituate     181.80            1
42  treasurer st johns ledge no 1 tree accepted masons providence     616.67            1
43                    treasurer baptist benevolent society warren     120.83            1
44         treasurer congregational benevolent society providence     152.46            1
45                treasurer society cincinnati state rhode island    1432.30            1
46                        treasurer state rhode island of newport    2990.01            2
47                treasurer state rhode island of newport esquire   16830.22            1
48                treasurer charitable baptist society providence     329.16            1
49                              tresurer catholic society bristol      48.72            1
50                                                          widow    6182.06           23
51                                                         yeoman   13137.70           78
52                                    behalf proprietors tiverton      58.64            1
53                                      treasurer town providence      73.71            1

/var/folders/5s/dvrxt95949x1pm_sjxm85lj00000gn/T/ipykernel_60320/3545872157.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['new occupation'] = OccsTotalsRI['occupation']

In [72]:
retdict = FindRemoveConst(OccsTotalsRI['occupation'].tolist())
ogoccs['new occupation'] = ogoccs['new occupation'].apply(lambda x: retdict.get(x, x))

Occupation Before --> Occupation After
--------------------------------------


administratrix estate joshua brown esquire deceased --> administratrix estate joshua brown
auctioneers --> auctioneers
baker --> baker
blacksmith --> blacksmith
blockmaker --> blockmaker
broker --> broker
butcher --> butcher
carpenter --> carpenter
chaise maker --> chaise maker
cooper --> cooper
cordwainer --> cordwainer
deacon --> deacon
distiller --> distiller
doctor --> doctor
esquier --> esquier
esquire --> esquire
extors late jn jenckes esq deceased --> extors late jn jenckes
extors late nicholas brown esq deceased --> extors late nicholas brown
farmer --> farmer
general treasurer state rhode island suceessors said office --> general treasurer state rhode island suceessors
gentleman --> gentleman
glazier --> glazier
goldsmith --> goldsmith
hatter --> hatter
housewright --> housewright
innholder --> innholder
labourer --> labourer
mariner --> mariner
mason --> mason
merchant --> merchant
merchants --> merchants
no occupation --> no occupation
physician --> physician
reverend --> reverend
shipwright --> shipwright
shoemaker --> shoemaker
spinster --> spinster
taylor --> taylor
trader --> trader
traders in company --> traders
treasurer town foster --> treasurer
treasurer scituate --> treasurer scituate
treasurer st johns ledge no 1 tree accepted masons providence --> treasurer st johns ledge no 1 tree accepted
treasurer baptist benevolent society warren --> treasurer baptist benevolent
treasurer congregational benevolent society providence --> treasurer congregational benevolent
treasurer society cincinnati state rhode island --> treasurer society cincinnati state
treasurer state rhode island of newport --> treasurer state rhode island
treasurer state rhode island of newport esquire --> treasurer state rhode island of
treasurer charitable baptist society providence --> treasurer charitable baptist
tresurer catholic society bristol --> tresurer catholic
widow --> widow
yeoman --> yeoman
behalf proprietors tiverton --> behalf
treasurer town providence --> treasurer

In [73]:
Remove = 1

In [74]:
retdict = PrintFutureOccupations(OccsTotalsRI['occupation'].tolist())
ogoccs['new occupation'] = ogoccs['new occupation'].apply(lambda x: retdict.get(x, x))

Occupations --> Potential Cleaned Occupations
---------------------------------------------


administratrix estate joshua brown esquire --> administratrix
auctioneers --> auctioneers
baker --> baker
blacksmith --> blacksmith
blockmaker --> blockmaker
broker --> broker
butcher --> butcher
carpenter --> carpenter
chaise maker --> chaise
cooper --> cooper
cordwainer --> cordwainer
deacon --> deacon
distiller --> distiller
doctor --> doctor
esquier --> esquier
esquire --> esquire
extors late jn jenckes esq --> extors
extors late nicholas brown esq --> extors
farmer --> farmer
general treasurer state rhode island suceessors said --> general
gentleman --> gentleman
glazier --> glazier
goldsmith --> goldsmith
hatter --> hatter
housewright --> housewright
innholder --> innholder
labourer --> labourer
mariner --> mariner
mason --> mason
merchant --> merchant
merchants --> merchants
no occupation --> occupation
physician --> physician
reverend --> reverend
shipwright --> shipwright
shoemaker --> shoemaker
spinster --> spinster
taylor --> taylor
trader --> trader
traders in --> traders
treasurer town --> treasurer
treasurer scituate --> treasurer
treasurer st johns ledge no 1 tree accepted masons --> treasurer
treasurer baptist benevolent society --> treasurer
treasurer congregational benevolent society --> treasurer
treasurer society cincinnati state rhode --> treasurer
treasurer state rhode island of --> treasurer
treasurer state rhode island of newport --> treasurer
treasurer charitable baptist society --> treasurer
tresurer catholic society --> tresurer
widow --> widow
yeoman --> yeoman
behalf proprietors --> behalf
treasurer town --> treasurer

In [75]:
retdict, OccsTotalsRI = MergeOccupations(OccsTotalsRI)
ogoccs['new occupation'] = ogoccs['new occupation'].apply(lambda x: retdict.get(x, x))

After Cleaning
--------------


        occupation   6p_total  # of people % of total people
0   administratrix       0.00            1              None
1      auctioneers     460.77            3              None
2            baker     206.37            1              None
3       blacksmith     540.68            3              None
4       blockmaker       4.43            1              None
5           broker     171.50            2              None
6          butcher     235.70            1              None
7        carpenter       0.00            1              None
8     chaise maker      47.57            1              None
9           cooper    1596.15            3              None
10       shoemaker     417.48            1              None
11          deacon      16.35            1              None
12       distiller     466.25            3              None
13          doctor     445.45            1              None
14             esq      13.08            1              None
15             esq   68388.42          129              None
16          extors     124.50            1              None
17          extors       0.00            1              None
18          farmer    1487.53            2              None
19       treasurer  199740.67            1              None
20       gentleman    2396.70           10              None
21         glazier     982.35            1              None
22       goldsmith       0.00            1              None
23          hatter     828.66            2              None
24     housewright     266.67            1              None
25      inn keeper    1430.29            8              None
26        labourer      67.16            2              None
27         mariner    4857.32           25              None
28           mason    1152.50            3              None
29        merchant   99957.63           97              None
30       merchants       4.29            1              None
31      occupation    2758.50           18              None
32          doctor    2676.24            7              None
33        reverend    2054.38            2              None
34      shipwright      89.72            2              None
35       shoemaker     114.88            1              None
36        spinster     721.33            3              None
37          taylor    1297.73            4              None
38          trader     436.34            5              None
39         traders      43.79            1              None
40       treasurer     131.11            1              None
41       treasurer     181.80            1              None
42       treasurer     616.67            1              None
43       treasurer     120.83            1              None
44       treasurer     152.46            1              None
45       treasurer    1432.30            1              None
46       treasurer    2990.01            2              None
47       treasurer   16830.22            1              None
48       treasurer     329.16            1              None
49        tresurer      48.72            1              None
50           widow    6182.06           23              None
51          farmer   13137.70           78              None
52     proprietors      58.64            1              None
53       treasurer      73.71            1              None


After Removing Duplicates and Summing
-------------------------------------


        occupation   6p_total  # of people  % of total people
0   administratrix       0.00            1                  0
1      auctioneers     460.77            3                  0
2            baker     206.37            1                  0
3       blacksmith     540.68            3                  0
4       blockmaker       4.43            1                  0
5           broker     171.50            2                  0
6          butcher     235.70            1                  0
7        carpenter       0.00            1                  0
8     chaise maker      47.57            1                  0
9           cooper    1596.15            3                  0
10          deacon      16.35            1                  0
11       distiller     466.25            3                  0
12          doctor    3121.69            8                  0
13             esq   68401.50          130                  0
14          extors     124.50            2                  0
15          farmer   14625.23           80                  0
16       gentleman    2396.70           10                  0
17         glazier     982.35            1                  0
18       goldsmith       0.00            1                  0
19          hatter     828.66            2                  0
20     housewright     266.67            1                  0
21      inn keeper    1430.29            8                  0
22        labourer      67.16            2                  0
23         mariner    4857.32           25                  0
24           mason    1152.50            3                  0
25        merchant   99957.63           97                  0
26       merchants       4.29            1                  0
27      occupation    2758.50           18                  0
28     proprietors      58.64            1                  0
29        reverend    2054.38            2                  0
30      shipwright      89.72            2                  0
31       shoemaker     532.36            2                  0
32        spinster     721.33            3                  0
33          taylor    1297.73            4                  0
34          trader     436.34            5                  0
35         traders      43.79            1                  0
36       treasurer  222598.94           12                  0
37        tresurer      48.72            1                  0
38           widow    6182.06           23                  0


Removed: merchants --> merchant
Removed: traders --> trader
Removed: tresurer --> treasurer


After Using Fuzzy String Matching
---------------------------------


        occupation   6p_total  # of people  % of total people  average debt per person
0        treasurer  222647.66           13           2.789700             17126.743077
1         merchant   99961.92           98          21.030043              1020.019592
2              esq   68401.50          130          27.896996               526.165385
3           farmer   14625.23           80          17.167382               182.815375
4            widow    6182.06           23           4.935622               268.785217
5          mariner    4857.32           25           5.364807               194.292800
6           doctor    3121.69            8           1.716738               390.211250
7       occupation    2758.50           18           3.862661               153.250000
8        gentleman    2396.70           10           2.145923               239.670000
9         reverend    2054.38            2           0.429185              1027.190000
10          cooper    1596.15            3           0.643777               532.050000
11      inn keeper    1430.29            8           1.716738               178.786250
12          taylor    1297.73            4           0.858369               324.432500
13           mason    1152.50            3           0.643777               384.166667
14         glazier     982.35            1           0.214592               982.350000
15          hatter     828.66            2           0.429185               414.330000
16        spinster     721.33            3           0.643777               240.443333
17      blacksmith     540.68            3           0.643777               180.226667
18       shoemaker     532.36            2           0.429185               266.180000
19          trader     480.13            6           1.287554                80.021667
20       distiller     466.25            3           0.643777               155.416667
21     auctioneers     460.77            3           0.643777               153.590000
22     housewright     266.67            1           0.214592               266.670000
23         butcher     235.70            1           0.214592               235.700000
24           baker     206.37            1           0.214592               206.370000
25          broker     171.50            2           0.429185                85.750000
26          extors     124.50            2           0.429185                62.250000
27      shipwright      89.72            2           0.429185                44.860000
28        labourer      67.16            2           0.429185                33.580000
29     proprietors      58.64            1           0.214592                58.640000
30    chaise maker      47.57            1           0.214592                47.570000
31          deacon      16.35            1           0.214592                16.350000
32      blockmaker       4.43            1           0.214592                 4.430000
33  administratrix       0.00            1           0.214592                 0.000000
34       carpenter       0.00            1           0.214592                 0.000000
35       goldsmith       0.00            1           0.214592                 0.000000

In [76]:
TurnToExcel(OccsTotalsRI, State)

# South Carolina

In [77]:
State = 'SC'
AllOccsSC = AllOccs[AllOccs['state'] == State] #Separate rows by state
AllOccsSC = AllOccsSC.dropna(subset=['occupation']).reset_index(drop=True) #Drop any rows w/o an occupation listed. 
print(AllOccsSC)

     6p_Dollar   6p_Cents  6p_def_Dollar  6p_def_Cents  3p_Dollar  3p_Cents  \
0          1.0  1580.6300            1.0      790.3100        1.0   1818.62
1          1.0    47.4800            1.0       23.7500        1.0     51.90
2          1.0   824.4133            1.0      412.2033        1.0    941.54
3          1.0   322.7433            1.0      161.3733        1.0    349.98
4          1.0   333.0800            1.0      166.5400        1.0    359.55
..         ...        ...            ...           ...        ...       ...
357        NaN        NaN            NaN           NaN      167.0     77.00
358        NaN        NaN            NaN           NaN     3600.0       NaN
359       84.0    13.0000           42.0        7.0000       88.0     48.00
360      242.0    67.0000          121.0       33.0000       79.0     52.00
361      180.0    47.0000           90.0       24.0000      207.0     93.00

                           town state       occupation  \
0                    Charleston    SC    No Occupation
1                    Charleston    SC    No Occupation
2                South Carolina    SC              Esq
3    Charleston  South Carolina    SC    No Occupation
4    Charleston  South Carolina    SC    No Occupation
..                          ...   ...              ...
357                  Charleston    SC  Attorney at Law
358                  Charleston    SC         Merchant
359                  Charleston    SC    No Occupation
360                  Charleston    SC    No Occupation
361              South Carolina    SC         Marriner

                                    Name             county name_type  \
0                   ['John Paul Grimke']  Charleston County      town
1                         ['Jacob Read']  Charleston County      town
2                      ['Henry Laurens']                NaN     state
3    ['The Elders of the Congregation ']  Charleston County      town
4                     ['Alexander Bose']  Charleston County      town
..                                   ...                ...       ...
357                      ['Joshua Ward']  Charleston County      town
358                     ['Hugh Bethune']  Charleston County      town
359                   ['William Graham']  Charleston County      town
360                     ['Simeon Theus']  Charleston County      town
361                      ['Thomas Ross']                NaN     state

       6p_total
0     16.806300
1      1.474800
2      9.244133
3      4.227433
4      4.330800
..          ...
357         NaN
358         NaN
359   84.130000
360  242.670000
361  180.470000

[362 rows x 13 columns]

In [78]:
OccsTotalsSC = AllOccsSC.groupby('occupation')['6p_total'].apply(sum).reset_index() #Combine duplicate occupations.
OccsTotalsSC['# of people'] = OccsTotalsSC['occupation'].map(AllOccsSC['occupation'].value_counts(dropna=False)) #Map # of people that belong to each occupation.
print(OccsTotalsSC.to_string())

temp_df = OccsTotalsSC[['occupation']]

                                      occupation       6p_total  # of people
0            Administrator to John Harleston Jun      33.330000            1
1                 Administrator to Joseph Warley    1671.440000            1
2                       Assignee of James Simons     345.020000            1
3                                Attorney at Law    3690.940000            9
4                                      Autioneer      10.650000            1
5                                   Blacks smith    1423.480000            1
6                                     Blockmaker    5264.230000            2
7                                     Bricklayer      37.350000            1
8                                         Broker    2334.890000           11
9                                  Cabinet Maker      74.460000            1
10                                     Carpenter     449.020000            5
11                          Charleston Merchants      26.670000            2
12                           Clerk of the Senate    1425.820000            2
13                     Comtroller of the Customs      53.740000            1
14                                           Esq      50.123166            2
15                                      Excuetor      18.950200            1
16                       Executor Philip Hawkins     239.100000            1
17                   Executor of Benjamin Tucker     834.860000            2
18                      Executor of Jacob Smiser      69.020000            1
19                       Executor of James Peart      12.110000            1
20                    Executor of Samuel Bonneau      23.720000            1
21                   Executor of Sarah Lampriere      68.260000            1
22                     Executor of William Gibbs      66.660000            1
23                    Executor of William Parker     685.770000            1
24                     Executor to Richard Mason    1024.910000            1
25                   Executrix of William Savage      76.700000            1
26                                        Factor    2961.480000            3
27                                     Gentleman     474.430000            2
28                                  Hair Dresser       0.000000            1
29                                       Mariner     183.534700            3
30                                      Marriner     180.470000            1
31                                      Merchant   78643.324200          150
32       Merchant as Executor to Benjamin Garden     234.960000            1
33                                     Merchants     163.312700            2
34                                 No Occupation  833354.266395           71
35                   One of Judges of the Courts    2257.180000            1
36                                     Penniston     914.240000            1
37                                     Physician    7971.000000           10
38                                       Planter   12438.706667           31
39               Planter as Executor Ely Kershaw     883.330000            1
40                                       Printer     132.720000            2
41                                       Sheriff    2133.326667            2
42                                    Shipwright     153.540000            1
43                                    Shopkeeper     190.660000            4
44                                South Carolina       0.000000            1
45                                      Spinster     364.590000            1
46                                        Tanner     377.490000            1
47  Trustee for the Cincinnati of South Carolina    2439.020000            1
48                                 Vendue Master     112.540000            1
49                                         Widow    4910.700000           14
50         as Guardian to Mary Deborah L. Gowdey      17.150000            1
51   as treasurer of the State of south carolina     262.140000            2

In [79]:
OccsTotalsSC = RemoveStopwords(OccsTotalsSC) 
print(OccsTotalsSC.to_string())

temp_df['new occupation'] = OccsTotalsSC['occupation']
ogoccs = pd.concat([ogoccs, temp_df])

                           occupation       6p_total  # of people
0    administrator john harleston jun      33.330000            1
1         administrator joseph warley    1671.440000            1
2               assignee james simons     345.020000            1
3                        attorney law    3690.940000            9
4                           autioneer      10.650000            1
5                        blacks smith    1423.480000            1
6                          blockmaker    5264.230000            2
7                          bricklayer      37.350000            1
8                              broker    2334.890000           11
9                       cabinet maker      74.460000            1
10                          carpenter     449.020000            5
11               charleston merchants      26.670000            2
12                       clerk senate    1425.820000            2
13                 comtroller customs      53.740000            1
14                                esq      50.123166            2
15                           excuetor      18.950200            1
16            executor philip hawkins     239.100000            1
17           executor benjamin tucker     834.860000            2
18              executor jacob smiser      69.020000            1
19               executor james peart      12.110000            1
20            executor samuel bonneau      23.720000            1
21           executor sarah lampriere      68.260000            1
22             executor william gibbs      66.660000            1
23            executor william parker     685.770000            1
24             executor richard mason    1024.910000            1
25           executrix william savage      76.700000            1
26                             factor    2961.480000            3
27                          gentleman     474.430000            2
28                       hair dresser       0.000000            1
29                            mariner     183.534700            3
30                           marriner     180.470000            1
31                           merchant   78643.324200          150
32  merchant executor benjamin garden     234.960000            1
33                          merchants     163.312700            2
34                      no occupation  833354.266395           71
35                  one judges courts    2257.180000            1
36                          penniston     914.240000            1
37                          physician    7971.000000           10
38                            planter   12438.706667           31
39       planter executor ely kershaw     883.330000            1
40                            printer     132.720000            2
41                            sheriff    2133.326667            2
42                         shipwright     153.540000            1
43                         shopkeeper     190.660000            4
44                     south carolina       0.000000            1
45                           spinster     364.590000            1
46                             tanner     377.490000            1
47  trustee cincinnati south carolina    2439.020000            1
48                      vendue master     112.540000            1
49                              widow    4910.700000           14
50    guardian mary deborah l. gowdey      17.150000            1
51     treasurer state south carolina     262.140000            2

/var/folders/5s/dvrxt95949x1pm_sjxm85lj00000gn/T/ipykernel_60320/2747012364.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['new occupation'] = OccsTotalsSC['occupation']

In [80]:
retdict = FindRemoveConst(OccsTotalsSC['occupation'].tolist())
ogoccs['new occupation'] = ogoccs['new occupation'].apply(lambda x: retdict.get(x, x))

Occupation Before --> Occupation After
--------------------------------------


administrator john harleston jun --> administrator john harleston
administrator joseph warley --> administrator joseph
assignee james simons --> assignee james
attorney law --> attorney law
autioneer --> autioneer
blacks smith --> blacks smith
blockmaker --> blockmaker
bricklayer --> bricklayer
broker --> broker
cabinet maker --> cabinet maker
carpenter --> carpenter
charleston merchants --> charleston merchants
clerk senate --> clerk senate
comtroller customs --> comtroller customs
esq --> esq
excuetor --> excuetor
executor philip hawkins --> executor philip
executor benjamin tucker --> executor benjamin
executor jacob smiser --> executor jacob
executor james peart --> executor james
executor samuel bonneau --> executor samuel
executor sarah lampriere --> executor sarah
executor william gibbs --> executor william
executor william parker --> executor william
executor richard mason --> executor richard
executrix william savage --> executrix william
factor --> factor
gentleman --> gentleman
hair dresser --> hair dresser
mariner --> mariner
marriner --> marriner
merchant --> merchant
merchant executor benjamin garden --> merchant executor benjamin
merchants --> merchants
no occupation --> no occupation
one judges courts --> one judges
penniston --> penniston
physician --> physician
planter --> planter
planter executor ely kershaw --> planter executor ely
printer --> printer
sheriff --> sheriff
shipwright --> shipwright
shopkeeper --> shopkeeper
south carolina --> south carolina
spinster --> spinster
tanner --> tanner
trustee cincinnati south carolina --> trustee cincinnati south
vendue master --> vendue master
widow --> widow
guardian mary deborah l. gowdey --> guardian mary deborah l.
treasurer state south carolina --> treasurer state south

In [81]:
Remove = 1

In [82]:
retdict = PrintFutureOccupations(OccsTotalsSC['occupation'].tolist())
ogoccs['new occupation'] = ogoccs['new occupation'].apply(lambda x: retdict.get(x, x))

Occupations --> Potential Cleaned Occupations
---------------------------------------------


administrator john harleston --> administrator
administrator joseph --> administrator
assignee james --> assignee
attorney law --> attorney
autioneer --> autioneer
blacks smith --> blacks
blockmaker --> blockmaker
bricklayer --> bricklayer
broker --> broker
cabinet maker --> cabinet
carpenter --> carpenter
charleston merchants --> charleston
clerk senate --> clerk
comtroller customs --> comtroller
esq --> esq
excuetor --> excuetor
executor philip --> executor
executor benjamin --> executor
executor jacob --> executor
executor james --> executor
executor samuel --> executor
executor sarah --> executor
executor william --> executor
executor william --> executor
executor richard --> executor
executrix william --> executrix
factor --> factor
gentleman --> gentleman
hair dresser --> hair
mariner --> mariner
marriner --> marriner
merchant --> merchant
merchant executor benjamin --> merchant
merchants --> merchants
no occupation --> occupation
one judges --> judges
penniston --> penniston
physician --> physician
planter --> planter
planter executor ely --> planter
printer --> printer
sheriff --> sheriff
shipwright --> shipwright
shopkeeper --> shopkeeper
south carolina --> south
spinster --> spinster
tanner --> tanner
trustee cincinnati south --> trustee
vendue master --> vendue
widow --> widow
guardian mary deborah l. --> guardian
treasurer state south --> treasurer

In [83]:
retdict, OccsTotalsSC = MergeOccupations(OccsTotalsSC)
ogoccs['new occupation'] = ogoccs['new occupation'].apply(lambda x: retdict.get(x, x))

After Cleaning
--------------


        occupation       6p_total  # of people % of total people
0    administrator      33.330000            1              None
1    administrator    1671.440000            1              None
2         assignee     345.020000            1              None
3         attorney    3690.940000            9              None
4        autioneer      10.650000            1              None
5       blacksmith    1423.480000            1              None
6       blockmaker    5264.230000            2              None
7       bricklayer      37.350000            1              None
8           broker    2334.890000           11              None
9    cabinet maker      74.460000            1              None
10       carpenter     449.020000            5              None
11       merchants      26.670000            2              None
12           clerk    1425.820000            2              None
13      comtroller      53.740000            1              None
14             esq      50.123166            2              None
15        excuetor      18.950200            1              None
16        executor     239.100000            1              None
17        executor     834.860000            2              None
18        executor      69.020000            1              None
19        executor      12.110000            1              None
20        executor      23.720000            1              None
21        executor      68.260000            1              None
22        executor      66.660000            1              None
23        executor     685.770000            1              None
24        executor    1024.910000            1              None
25        executor      76.700000            1              None
26          trader    2961.480000            3              None
27       gentleman     474.430000            2              None
28    hair dresser       0.000000            1              None
29         mariner     183.534700            3              None
30        marriner     180.470000            1              None
31        merchant   78643.324200          150              None
32        merchant     234.960000            1              None
33       merchants     163.312700            2              None
34      occupation  833354.266395           71              None
35          judges    2257.180000            1              None
36            None     914.240000            1              None
37          doctor    7971.000000           10              None
38         planter   12438.706667           31              None
39         planter     883.330000            1              None
40         printer     132.720000            2              None
41         sheriff    2133.326667            2              None
42      shipwright     153.540000            1              None
43      shopkeeper     190.660000            4              None
44  south carolina       0.000000            1              None
45        spinster     364.590000            1              None
46          tanner     377.490000            1              None
47         trustee    2439.020000            1              None
48      auctioneer     112.540000            1              None
49           widow    4910.700000           14              None
50        guardian      17.150000            1              None
51       treasurer     262.140000            2              None


After Removing Duplicates and Summing
-------------------------------------


        occupation       6p_total  # of people  % of total people
0    administrator    1704.770000            2                  0
1         assignee     345.020000            1                  0
2         attorney    3690.940000            9                  0
3       auctioneer     112.540000            1                  0
4        autioneer      10.650000            1                  0
5       blacksmith    1423.480000            1                  0
6       blockmaker    5264.230000            2                  0
7       bricklayer      37.350000            1                  0
8           broker    2334.890000           11                  0
9    cabinet maker      74.460000            1                  0
10       carpenter     449.020000            5                  0
11           clerk    1425.820000            2                  0
12      comtroller      53.740000            1                  0
13          doctor    7971.000000           10                  0
14             esq      50.123166            2                  0
15        excuetor      18.950200            1                  0
16        executor    3101.110000           11                  0
17       gentleman     474.430000            2                  0
18        guardian      17.150000            1                  0
19    hair dresser       0.000000            1                  0
20          judges    2257.180000            1                  0
21         mariner     183.534700            3                  0
22        marriner     180.470000            1                  0
23        merchant   78878.284200          151                  0
24       merchants     189.982700            4                  0
25      occupation  833354.266395           71                  0
26         planter   13322.036667           32                  0
27         printer     132.720000            2                  0
28         sheriff    2133.326667            2                  0
29      shipwright     153.540000            1                  0
30      shopkeeper     190.660000            4                  0
31  south carolina       0.000000            1                  0
32        spinster     364.590000            1                  0
33          tanner     377.490000            1                  0
34          trader    2961.480000            3                  0
35       treasurer     262.140000            2                  0
36         trustee    2439.020000            1                  0
37           widow    4910.700000           14                  0


Removed: autioneer --> auctioneer
Removed: executor --> excuetor
Removed: marriner --> mariner
Removed: merchants --> merchant


After Using Fuzzy String Matching
---------------------------------


        occupation       6p_total  # of people  % of total people  average debt per person
0       occupation  833354.266395           71          19.667590             11737.384034
1         merchant   79068.266900          155          42.936288               510.117851
2          planter   13322.036667           32           8.864266               416.313646
3           doctor    7971.000000           10           2.770083               797.100000
4       blockmaker    5264.230000            2           0.554017              2632.115000
5            widow    4910.700000           14           3.878116               350.764286
6         attorney    3690.940000            9           2.493075               410.104444
7         excuetor    3120.060200           12           3.324100               260.005017
8           trader    2961.480000            3           0.831025               987.160000
9          trustee    2439.020000            1           0.277008              2439.020000
10          broker    2334.890000           11           3.047091               212.262727
11          judges    2257.180000            1           0.277008              2257.180000
12         sheriff    2133.326667            2           0.554017              1066.663333
13   administrator    1704.770000            2           0.554017               852.385000
14           clerk    1425.820000            2           0.554017               712.910000
15      blacksmith    1423.480000            1           0.277008              1423.480000
16       gentleman     474.430000            2           0.554017               237.215000
17       carpenter     449.020000            5           1.385042                89.804000
18          tanner     377.490000            1           0.277008               377.490000
19        spinster     364.590000            1           0.277008               364.590000
20         mariner     364.004700            4           1.108033                91.001175
21        assignee     345.020000            1           0.277008               345.020000
22       treasurer     262.140000            2           0.554017               131.070000
23      shopkeeper     190.660000            4           1.108033                47.665000
24      shipwright     153.540000            1           0.277008               153.540000
25         printer     132.720000            2           0.554017                66.360000
26      auctioneer     123.190000            2           0.554017                61.595000
27   cabinet maker      74.460000            1           0.277008                74.460000
28      comtroller      53.740000            1           0.277008                53.740000
29             esq      50.123166            2           0.554017                25.061583
30      bricklayer      37.350000            1           0.277008                37.350000
31        guardian      17.150000            1           0.277008                17.150000
32  south carolina       0.000000            1           0.277008                 0.000000
33    hair dresser       0.000000            1           0.277008                 0.000000

In [84]:
TurnToExcel(OccsTotalsSC, State)

# Virginia

In [85]:
State = 'VA'
AllOccsVA = AllOccs[AllOccs['state'] == State] #Separate rows by state
AllOccsVA = AllOccsVA.dropna(subset=['occupation']).reset_index(drop=True) #Drop any rows w/o an occupation listed. 
print(AllOccsVA)

    6p_Dollar  6p_Cents  6p_def_Dollar  6p_def_Cents  3p_Dollar  3p_Cents  \
0        17.0  351.6233           13.0      175.8133       14.0    384.09
1       910.0   50.0000          455.0       25.0000      962.0     84.00
2       834.0   18.0000          417.0        8.0000      895.0     10.00
3      1936.0   28.0000          968.0       14.0000        NaN       NaN
4       243.0   94.0000          121.0       96.0000       65.0     85.00
5      1034.0   12.0000          517.0        6.0000      558.0     42.00
6       165.0   92.0000           82.0       96.0000      176.0     23.00
7       369.0   70.0000          184.0       84.0000      360.0     94.00
8      1468.0   80.0000          734.0       40.0000     1807.0     86.00
9      2363.0   94.0000         1181.0       97.0000     1804.0     50.00
10      309.0   60.0000          154.0       80.0000      167.0     17.00
11      165.0   89.0000           82.0       94.0000      666.0     21.00
12      100.0   88.0000           50.0       43.0000      105.0     65.00
13      295.0    5.0000          147.0       52.0000      154.0     82.00
14      465.0   74.0000          232.0       87.0000      780.0     81.00
15       49.0   56.0000           24.0       78.0000       50.0     87.00
16       39.0   13.0000           19.0       56.0000        NaN       NaN
17       84.0   51.0000           42.0       25.0000       85.0     67.00
18     2654.0   36.0000         1327.0       18.0000     1954.0     93.00
19      467.0   18.0000          233.0       59.0000      252.0     26.00
20      226.0   39.0000          113.0       19.0000       61.0     12.00
21      109.0   50.0000           54.0       76.0000       29.0     55.00
22      435.0    7.0000          217.0       53.0000      235.0     15.00
23      550.0    6.0000          275.0        4.0000      336.0       NaN
24     2206.0   72.0000         1103.0       36.0000      595.0     81.00
25       78.0   33.0000           39.0       17.0000       42.0     30.00
26      319.0   17.0000          159.0       59.0000      292.0     80.00
27       76.0   76.0000           38.0       39.0000       80.0     58.00
28        NaN       NaN            NaN           NaN      361.0     55.00
29       66.0   66.0000           33.0       33.0000       63.0     24.00
30        3.0   82.0000            1.0       92.0000        3.0     74.00
31       66.0   66.0000           33.0       33.0000       62.0     86.00
32       46.0    2.0000           23.0        1.0000       44.0     89.00

                            town state     occupation  \
0            Portsmouth Virginia    VA      Merchants
1                       Virginia    VA  No Occupation
2                        Virgina    VA  No Occupation
3                        Virgina    VA  No Occupation
4   Alexandria State of Virginia    VA  No Occupation
5                       Virginia    VA  No Occupation
6                       Virginia    VA  No Occupation
7                       Virginia    VA  No Occupation
8                       Virginia    VA  No Occupation
9                       Virginia    VA  No Occupation
10                      Virginia    VA  No Occupation
11                      Virginia    VA  No Occupation
12                      Virginia    VA  No Occupation
13                      Virginia    VA  No Occupation
14             Richmond Virginia    VA  No Occupation
15             Richmond Virginia    VA  No Occupation
16           Petersburg Virginia    VA  No Occupation
17             Richmond Virginia    VA  No Occupation
18           Petersburg Virginia    VA  No Occupation
19           Alexandria Virginia    VA  No Occupation
20                           NaN    VA  No Occupation
21        Louden County Virginia    VA  No Occupation
22                      Virginia    VA  No Occupation
23       Fredericksburg Virginia    VA  No Occupation
24          Ohio County Virginia    VA  No Occupation
25      Accomack County Virginia    VA      Gentleman
26       King George Co Virginia    VA  No Occupation
27    James City County Virginia    VA  No Occupation
28                      Virginia    VA  No Occupation
29     Virginia and Philadelphia    VA       Merchant
30     Virginia and Philadelphia    VA       Merchant
31                      Virginia    VA  No Occupation
32                 Williamsburgh    VA         Weaver

                                                 Name               county  \
0                                     ['John Casper']    Rockingham County
1      ['Thomas Thornton', 'The Rev Thomas Thornton']                  NaN
2                                     ['John Hunter']                  NaN
3                               ['Gerrard Alexander']                  NaN
4                                 ['William Hodgson']       Fairfax County
5   ['Daniel Carroll Brent', 'Daniel Carroll Brant...                  NaN
6   ['Charles Lee Virginia', 'Charles Lee', 'Richa...                  NaN
7                                  ['William Carlin']                  NaN
8   ['William Wilson and Co', 'William Wilson and ...                  NaN
9   ['Josiah Watson and Company', 'Josiah Watson a...                  NaN
10                                      ['Jacob Cox']                  NaN
11                                 ['Richard Conway']                  NaN
12                                   ['Samuel Beall']                  NaN
13  ['Josiah Watson and Companey', 'Josiah Watson ...                  NaN
14                                 ['George Pickett']       Henrico County
15                                   ['Robert Means']       Henrico County
16                               ['Archibald Gracie']     Hampshire County
17                        ['Hartshorne and Lindley ']       Henrico County
18                                  ['Michael Burke']     Hampshire County
19                               ['McCrea and Mease']       Fairfax County
20                              ['George Washington']                  NaN
21                                   ['David Thomas']       Loudoun County
22                                    ['James Craig']                  NaN
23                 ['George Weldon', 'George Weedon']  Spotsylvania County
24                                 ['David Chambers']          Ohio County
25                                  ['George Corbin']      Accomack County
26                                 ['William Stuart']   King George County
27   ['Samuel Beall', 'Smauel Beall', 'Samuel Beatt']    James City County
28                                   ['Joseph Latil']                  NaN
29           ['Martinus Huizinga', 'Martin Huizinga']                  NaN
30           ['Martinus Huizinga', 'Martin Huizinga']                  NaN
31                               ['Ebenezer Macnair']                  NaN
32                                  ['Samuel Paxton']    Greenbrier County

   name_type     6p_total
0       town    20.516233
1      state   910.500000
2      state   834.180000
3      state  1936.280000
4      state   243.940000
5      state  1034.120000
6      state   165.920000
7      state   369.700000
8      state  1468.800000
9      state  2363.940000
10     state   309.600000
11     state   165.890000
12     state   100.880000
13     state   295.050000
14      town   465.740000
15      town    49.560000
16      town    39.130000
17      town    84.510000
18      town  2654.360000
19      town   467.180000
20     state   226.390000
21    county   109.500000
22     state   435.070000
23      town   550.060000
24    county  2206.720000
25    county    78.330000
26    county   319.170000
27    county    76.760000
28     state          NaN
29     state    66.660000
30     state     3.820000
31     state    66.660000
32      town    46.020000

In [86]:
OccsTotalsVA = AllOccsVA.groupby('occupation')['6p_total'].apply(sum).reset_index() #Combine duplicate occupations.
OccsTotalsVA['# of people'] = OccsTotalsVA['occupation'].map(AllOccsVA['occupation'].value_counts(dropna=False)) #Map # of people that belong to each occupation.
print(OccsTotalsVA.to_string())

temp_df = OccsTotalsVA[['occupation']]

      occupation      6p_total  # of people
0      Gentleman     78.330000            1
1       Merchant     70.480000            2
2      Merchants     20.516233            1
3  No Occupation  17949.610000           28
4         Weaver     46.020000            1

In [87]:
OccsTotalsVA = RemoveStopwords(OccsTotalsVA) 
print(OccsTotalsVA.to_string())

temp_df['new occupation'] = OccsTotalsVA['occupation']
ogoccs = pd.concat([ogoccs, temp_df])

      occupation      6p_total  # of people
0      gentleman     78.330000            1
1       merchant     70.480000            2
2      merchants     20.516233            1
3  no occupation  17949.610000           28
4         weaver     46.020000            1

/var/folders/5s/dvrxt95949x1pm_sjxm85lj00000gn/T/ipykernel_60320/3576601614.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['new occupation'] = OccsTotalsVA['occupation']

In [88]:
retdict = FindRemoveConst(OccsTotalsVA['occupation'].tolist())
ogoccs['new occupation'] = ogoccs['new occupation'].apply(lambda x: retdict.get(x, x))

Occupation Before --> Occupation After
--------------------------------------


gentleman --> gentleman
merchant --> merchant
merchants --> merchants
no occupation --> no occupation
weaver --> weaver

In [89]:
retdict = PrintFutureOccupations(OccsTotalsVA['occupation'].tolist())
ogoccs['new occupation'] = ogoccs['new occupation'].apply(lambda x: retdict.get(x, x))

Occupations --> Potential Cleaned Occupations
---------------------------------------------


gentleman --> gentleman
merchant --> merchant
merchants --> merchants
no occupation --> occupation
weaver --> weaver

In [90]:
retdict, OccsTotalsVA = MergeOccupations(OccsTotalsVA)
ogoccs['new occupation'] = ogoccs['new occupation'].apply(lambda x: retdict.get(x, x))

After Cleaning
--------------


   occupation      6p_total  # of people % of total people
0   gentleman     78.330000            1              None
1    merchant     70.480000            2              None
2   merchants     20.516233            1              None
3  occupation  17949.610000           28              None
4      weaver     46.020000            1              None


After Removing Duplicates and Summing
-------------------------------------


   occupation      6p_total  # of people  % of total people
0   gentleman     78.330000            1                  0
1    merchant     70.480000            2                  0
2   merchants     20.516233            1                  0
3  occupation  17949.610000           28                  0
4      weaver     46.020000            1                  0


Removed: merchants --> merchant


After Using Fuzzy String Matching
---------------------------------


   occupation      6p_total  # of people  % of total people  average debt per person
0  occupation  17949.610000           28          84.848485               641.057500
1    merchant     90.996233            3           9.090909                30.332078
2   gentleman     78.330000            1           3.030303                78.330000
3      weaver     46.020000            1           3.030303                46.020000

In [91]:
TurnToExcel(OccsTotalsVA, State)

# All States

In [92]:
#Append each states occupation + totals dataframes to the end of each other. 
OccsTotalsAll = pd.concat([OccsTotalsCT, OccsTotalsGA, OccsTotalsMD, OccsTotalsNC, OccsTotalsNH, OccsTotalsNJ,
                          OccsTotalsNY, OccsTotalsPA, OccsTotalsRI, OccsTotalsSC, OccsTotalsVA]).reset_index(drop=True)
print(OccsTotalsAll.to_string())

            occupation       6p_total  # of people  % of total people  average debt per person
0        no occupation  673180.800000          432          47.213115              1558.288889
1             merchant   63765.000000           63           6.885246              1012.142857
2               farmer   36780.360000          170          18.579235               216.355059
3            gentleman   16624.320000           32           3.497268               519.510000
4            treasurer   15387.150000           14           1.530055              1099.082143
5              esquire   13020.090000           13           1.420765              1001.545385
6             attorney   11114.600000           20           2.185792               555.730000
7               trader    9454.130000           46           5.027322               205.524565
8                widow    6488.110000           28           3.060109               231.718214
9             executor    4558.250000            7           0.765027               651.178571
10       administrator    4081.060000           10           1.092896               408.106000
11             mariner    3831.050000           13           1.420765               294.696154
12              sadler    3524.740000            1           0.109290              3524.740000
13       school master    2213.750000            2           0.218579              1106.875000
14              doctor    1950.550000            4           0.437158               487.637500
15            spinster    1731.580000            6           0.655738               288.596667
16           shoemaker    1345.460000            6           0.655738               224.243333
17            guardian    1245.620000            3           0.327869               415.206667
18    school committee    1071.650000            7           0.765027               153.092857
19    committee member     863.410000            3           0.327869               287.803333
20          blacksmith     724.710000            3           0.327869               241.570000
21              tanner     713.060000            1           0.109290               713.060000
22          post rider     676.910000            3           0.327869               225.636667
23     leather dresser     666.670000            1           0.109290               666.670000
24          shipwright     533.330000            1           0.109290               533.330000
25           sherriffs     512.450000            3           0.327869               170.816667
26         proprietors     276.900000            1           0.109290               276.900000
27              hatter     242.990000            1           0.109290               242.990000
28           carpenter     228.670000            2           0.218579               114.335000
29             molster     211.380000            1           0.109290               211.380000
30              taylor     209.810000            1           0.109290               209.810000
31              broker     208.550000            3           0.327869                69.516667
32             printer     204.780000            2           0.218579               102.390000
33          inn keeper     201.530000            3           0.327869                67.176667
34              cooper     124.760000            1           0.109290               124.760000
35             cashier      85.300000            2           0.218579                42.650000
36             soldier      78.480000            1           0.109290                78.480000
37                wife      63.640000            1           0.109290                63.640000
38            clothier      53.330000            1           0.109290                53.330000
39              miller      18.990000            1           0.109290                18.990000
40          apothecary       7.720000            1           0.109290                 7.720000
41           goldsmith       6.820000            1           0.109290                 6.820000
42           gentleman    4586.660000            1           5.000000              4586.660000
43       no occupation     373.018899           11          55.000000                33.910809
44             esquire     102.089033            1           5.000000               102.089033
45            merchant      68.839829            7          35.000000                 9.834261
46       no occupation  767788.357600          465          89.080460              1651.157758
47            merchant   78510.940000           47           9.003831              1670.445532
48           shoemaker    1237.070000            2           0.383142               618.535000
49            executor     303.770000            3           0.574713               101.256667
50   frederick company     206.670000            1           0.191571               206.670000
51          shopkeeper      33.330000            1           0.191571                33.330000
52       administrator      22.500000            2           0.383142                11.250000
53             esquire      17.665733            1           0.191571                17.665733
54       no occupation   13703.656700           47          81.034483               291.567164
55           treasurer   12283.440000            1           1.724138             12283.440000
56             doctors    2008.370000            1           1.724138              2008.370000
57            merchant     861.530000            7          12.068966               123.075714
58              farmer      62.510000            1           1.724138                62.510000
59           executors       0.000000            1           1.724138                 0.000000
60             esquire   61539.890000           66          37.931034               932.422576
61       no occupation   48957.430000            8           4.597701              6119.678750
62            merchant   29715.410000           26          14.942529              1142.900385
63               widow    8790.450000           10           5.747126               879.045000
64              doctor    7111.430000           18          10.344828               395.079444
65              farmer    4175.980000           13           7.471264               321.229231
66           gentleman    3603.060000            6           3.448276               600.510000
67              trader    2807.270000            8           4.597701               350.908750
68               baker    2159.040000            1           0.574713              2159.040000
69           goldsmith     871.320000            1           0.574713               871.320000
70            marniner     785.620000            2           1.149425               392.810000
71           shoemaker     742.050000            2           1.149425               371.025000
72               clerk     715.600000            7           4.022989               102.228571
73           treasurer     149.620000            1           0.574713               149.620000
74           carpenter     106.610000            2           1.149425                53.305000
75            spinster      89.130000            1           0.574713                89.130000
76          blacksmith      54.880000            1           0.574713                54.880000
77             painter      48.610000            1           0.574713                48.610000
78       no occupation   19195.170000           31          77.500000               619.199032
79           gentleman    6063.150000            2           5.000000              3031.575000
80            attorney    1325.680000            1           2.500000              1325.680000
81            executor    1324.810000            1           2.500000              1324.810000
82              doctor     384.340000            1           2.500000               384.340000
83            merchant     235.010000            1           2.500000               235.010000
84            assignee      16.670000            1           2.500000                16.670000
85              farmer       3.340000            1           2.500000                 3.340000
86             esquire       0.000000            1           2.500000                 0.000000
87            merchant    7448.803133           24          44.444444               310.366797
88       no occupation    5897.997733           24          44.444444               245.749906
89              broker    1776.120000            1           1.851852              1776.120000
90              doctor     933.330000            1           1.851852               933.330000
91              farmer     674.310000            2           3.703704               337.155000
92             mariner     377.490000            1           1.851852               377.490000
93        schoolmaster     131.150000            1           1.851852               131.150000
94            marchant  615454.090000          237          25.293490              2596.852700
95       no occupation  597445.089100          527          56.243330              1133.671896
96              broker   74699.960000           63           6.723586              1185.713651
97             esquire   41442.240000           21           2.241195              1973.440000
98            executor    8787.960000            7           0.747065              1255.422857
99            attorney    8696.680000            5           0.533618              1739.336000
100            printer    7717.740000            6           0.640342              1286.290000
101          gentleman    7540.660000            6           0.640342              1256.776667
102        post master    7083.530000            1           0.106724              7083.530000
103              widow    5576.530000            5           0.533618              1115.306000
104           druggist    4922.430000            2           0.213447              2461.215000
105           guardian    4539.960000            3           0.320171              1513.320000
106            mariner    3906.571400            5           0.533618               781.314280
107            furrier    3107.180000            1           0.106724              3107.180000
108             farmer    2821.870000            7           0.747065               403.124286
109      administrator    2692.480000            3           0.320171               897.493333
110             hatter    2291.760000            3           0.320171               763.920000
111             taylor    2137.390000            4           0.426894               534.347500
112           assignee    2054.640000            2           0.213447              1027.320000
113             estate    1979.600000            2           0.213447               989.800000
114        silversmith    1917.650000            2           0.213447               958.825000
115              clerk    1855.580000            4           0.426894               463.895000
116             doctor    1769.010000            1           0.106724              1769.010000
117         inn keeper    1668.680000            3           0.320171               556.226667
118        ship wright    1241.760000            1           0.106724              1241.760000
119             tanner    1192.250000            2           0.213447               596.125000
120         individual     846.230000            1           0.106724               846.230000
121        book binder     783.070000            1           0.106724               783.070000
122          treasurer     714.810000            1           0.106724               714.810000
123         blacksmith     692.250000            1           0.106724               692.250000
124         shopkeeper     588.950000            3           0.320171               196.316667
125           spinster     528.330000            1           0.106724               528.330000
126           executor     461.110000            1           0.106724               461.110000
127         cordwainer     281.250000            1           0.106724               281.250000
128           reverend     224.120000            1           0.106724               224.120000
129          goldsmith     142.220000            1           0.106724               142.220000
130        conveyancer     108.400000            1           0.106724               108.400000
131            sheriff      56.210000            1           0.106724                56.210000
132          treasurer  222647.660000           13           2.789700             17126.743077
133           merchant   99961.920000           98          21.030043              1020.019592
134            esquire   68401.500000          130          27.896996               526.165385
135             farmer   14625.230000           80          17.167382               182.815375
136              widow    6182.060000           23           4.935622               268.785217
137            mariner    4857.320000           25           5.364807               194.292800
138             doctor    3121.690000            8           1.716738               390.211250
139      no occupation    2758.500000           18           3.862661               153.250000
140          gentleman    2396.700000           10           2.145923               239.670000
141           reverend    2054.380000            2           0.429185              1027.190000
142             cooper    1596.150000            3           0.643777               532.050000
143         inn keeper    1430.290000            8           1.716738               178.786250
144             taylor    1297.730000            4           0.858369               324.432500
145              mason    1152.500000            3           0.643777               384.166667
146            glazier     982.350000            1           0.214592               982.350000
147             hatter     828.660000            2           0.429185               414.330000
148           spinster     721.330000            3           0.643777               240.443333
149         blacksmith     540.680000            3           0.643777               180.226667
150          shoemaker     532.360000            2           0.429185               266.180000
151             trader     480.130000            6           1.287554                80.021667
152          distiller     466.250000            3           0.643777               155.416667
153        auctioneers     460.770000            3           0.643777               153.590000
154        housewright     266.670000            1           0.214592               266.670000
155            butcher     235.700000            1           0.214592               235.700000
156              baker     206.370000            1           0.214592               206.370000
157             broker     171.500000            2           0.429185                85.750000
158             extors     124.500000            2           0.429185                62.250000
159         shipwright      89.720000            2           0.429185                44.860000
160           labourer      67.160000            2           0.429185                33.580000
161        proprietors      58.640000            1           0.214592                58.640000
162       chaise maker      47.570000            1           0.214592                47.570000
163             deacon      16.350000            1           0.214592                16.350000
164         blockmaker       4.430000            1           0.214592                 4.430000
165     administratrix       0.000000            1           0.214592                 0.000000
166          carpenter       0.000000            1           0.214592                 0.000000
167          goldsmith       0.000000            1           0.214592                 0.000000
168      no occupation  833354.266395           71          19.667590             11737.384034
169           merchant   79068.266900          155          42.936288               510.117851
170            planter   13322.036667           32           8.864266               416.313646
171             doctor    7971.000000           10           2.770083               797.100000
172         blockmaker    5264.230000            2           0.554017              2632.115000
173              widow    4910.700000           14           3.878116               350.764286
174           attorney    3690.940000            9           2.493075               410.104444
175           executor    3120.060200           12           3.324100               260.005017
176             trader    2961.480000            3           0.831025               987.160000
177            trustee    2439.020000            1           0.277008              2439.020000
178             broker    2334.890000           11           3.047091               212.262727
179             judges    2257.180000            1           0.277008              2257.180000
180            sheriff    2133.326667            2           0.554017              1066.663333
181      administrator    1704.770000            2           0.554017               852.385000
182              clerk    1425.820000            2           0.554017               712.910000
183         blacksmith    1423.480000            1           0.277008              1423.480000
184          gentleman     474.430000            2           0.554017               237.215000
185          carpenter     449.020000            5           1.385042                89.804000
186             tanner     377.490000            1           0.277008               377.490000
187           spinster     364.590000            1           0.277008               364.590000
188            mariner     364.004700            4           1.108033                91.001175
189           assignee     345.020000            1           0.277008               345.020000
190          treasurer     262.140000            2           0.554017               131.070000
191         shopkeeper     190.660000            4           1.108033                47.665000
192         shipwright     153.540000            1           0.277008               153.540000
193            printer     132.720000            2           0.554017                66.360000
194         auctioneer     123.190000            2           0.554017                61.595000
195      cabinet maker      74.460000            1           0.277008                74.460000
196         comtroller      53.740000            1           0.277008                53.740000
197            esquire      50.123166            2           0.554017                25.061583
198         bricklayer      37.350000            1           0.277008                37.350000
199           guardian      17.150000            1           0.277008                17.150000
200     south carolina       0.000000            1           0.277008                 0.000000
201       hair dresser       0.000000            1           0.277008                 0.000000
202      no occupation   17949.610000           28          84.848485               641.057500
203           merchant      90.996233            3           9.090909                30.332078
204          gentleman      78.330000            1           3.030303                78.330000
205             weaver      46.020000            1           3.030303                46.020000

In [93]:
OccsTotalsAll = OccsTotalsAll.groupby('occupation')[['6p_total', '# of people']].apply(sum).reset_index() #Combine duplicate occupations.
print(OccsTotalsAll.to_string())

           occupation      6p_total  # of people
0       administrator  8.500810e+03         17.0
1      administratrix  0.000000e+00          1.0
2          apothecary  7.720000e+00          1.0
3            assignee  2.416330e+03          4.0
4            attorney  2.482790e+04         35.0
5          auctioneer  1.231900e+02          2.0
6         auctioneers  4.607700e+02          3.0
7               baker  2.365410e+03          2.0
8          blacksmith  3.436000e+03          9.0
9          blockmaker  5.268660e+03          3.0
10        book binder  7.830700e+02          1.0
11         bricklayer  3.735000e+01          1.0
12             broker  7.919102e+04         80.0
13            butcher  2.357000e+02          1.0
14      cabinet maker  7.446000e+01          1.0
15          carpenter  7.843000e+02         10.0
16            cashier  8.530000e+01          2.0
17       chaise maker  4.757000e+01          1.0
18              clerk  3.997000e+03         13.0
19           clothier  5.333000e+01          1.0
20   committee member  8.634100e+02          3.0
21         comtroller  5.374000e+01          1.0
22        conveyancer  1.084000e+02          1.0
23             cooper  1.720910e+03          4.0
24         cordwainer  2.812500e+02          1.0
25             deacon  1.635000e+01          1.0
26          distiller  4.662500e+02          3.0
27             doctor  2.324135e+04         43.0
28            doctors  2.008370e+03          1.0
29           druggist  4.922430e+03          2.0
30            esquire  1.845736e+05        235.0
31             estate  1.979600e+03          2.0
32           executor  1.855596e+04         31.0
33          executors  0.000000e+00          1.0
34             extors  1.245000e+02          2.0
35             farmer  5.914360e+04        274.0
36  frederick company  2.066700e+02          1.0
37            furrier  3.107180e+03          1.0
38          gentleman  4.136731e+04         60.0
39            glazier  9.823500e+02          1.0
40          goldsmith  1.020360e+03          4.0
41           guardian  5.802730e+03          7.0
42       hair dresser  0.000000e+00          1.0
43             hatter  3.363410e+03          6.0
44        housewright  2.666700e+02          1.0
45         individual  8.462300e+02          1.0
46         inn keeper  3.300500e+03         14.0
47             judges  2.257180e+03          1.0
48           labourer  6.716000e+01          2.0
49    leather dresser  6.666700e+02          1.0
50           marchant  6.154541e+05        237.0
51            mariner  1.333644e+04         48.0
52           marniner  7.856200e+02          2.0
53              mason  1.152500e+03          3.0
54           merchant  3.597267e+05        431.0
55             miller  1.899000e+01          1.0
56            molster  2.113800e+02          1.0
57      no occupation  2.980604e+06       1662.0
58            painter  4.861000e+01          1.0
59            planter  1.332204e+04         32.0
60        post master  7.083530e+03          1.0
61         post rider  6.769100e+02          3.0
62            printer  8.055240e+03         10.0
63        proprietors  3.355400e+02          2.0
64           reverend  2.278500e+03          3.0
65             sadler  3.524740e+03          1.0
66   school committee  1.071650e+03          7.0
67      school master  2.213750e+03          2.0
68       schoolmaster  1.311500e+02          1.0
69            sheriff  2.189537e+03          3.0
70          sherriffs  5.124500e+02          3.0
71        ship wright  1.241760e+03          1.0
72         shipwright  7.765900e+02          4.0
73          shoemaker  3.856940e+03         12.0
74         shopkeeper  8.129400e+02          8.0
75        silversmith  1.917650e+03          2.0
76            soldier  7.848000e+01          1.0
77     south carolina  0.000000e+00          1.0
78           spinster  3.434960e+03         12.0
79             tanner  2.282800e+03          4.0
80             taylor  3.644930e+03          9.0
81             trader  1.570301e+04         63.0
82          treasurer  2.514448e+05         32.0
83            trustee  2.439020e+03          1.0
84             weaver  4.602000e+01          1.0
85              widow  3.194785e+04         80.0
86               wife  6.364000e+01          1.0

In [94]:
retdict = PrintFutureOccupations(OccsTotalsAll['occupation'].tolist())
ogoccs['new occupation'] = ogoccs['new occupation'].apply(lambda x: retdict.get(x, x))

Occupations --> Potential Cleaned Occupations
---------------------------------------------


administrator --> administrator
administratrix --> administratrix
apothecary --> apothecary
assignee --> assignee
attorney --> attorney
auctioneer --> auctioneer
auctioneers --> auctioneers
baker --> baker
blacksmith --> blacksmith
blockmaker --> blockmaker
book binder --> book
bricklayer --> bricklayer
broker --> broker
butcher --> butcher
cabinet maker --> cabinet
carpenter --> carpenter
cashier --> cashier
chaise maker --> chaise
clerk --> clerk
clothier --> clothier
committee member --> committee
comtroller --> comtroller
conveyancer --> conveyancer
cooper --> cooper
cordwainer --> cordwainer
deacon --> deacon
distiller --> distiller
doctor --> doctor
doctors --> doctors
druggist --> druggist
esquire --> esquire
estate --> estate
executor --> executor
executors --> executors
extors --> extors
farmer --> farmer
frederick company --> frederick
furrier --> furrier
gentleman --> gentleman
glazier --> glazier
goldsmith --> goldsmith
guardian --> guardian
hair dresser --> hair
hatter --> hatter
housewright --> housewright
individual --> individual
inn keeper --> inn
judges --> judges
labourer --> labourer
leather dresser --> leather
marchant --> marchant
mariner --> mariner
marniner --> marniner
mason --> mason
merchant --> merchant
miller --> miller
molster --> molster
no occupation --> occupation
painter --> painter
planter --> planter
post master --> post
post rider --> post
printer --> printer
proprietors --> proprietors
reverend --> reverend
sadler --> sadler
school committee --> school
school master --> school
schoolmaster --> schoolmaster
sheriff --> sheriff
sherriffs --> sherriffs
ship wright --> ship
shipwright --> shipwright
shoemaker --> shoemaker
shopkeeper --> shopkeeper
silversmith --> silversmith
soldier --> soldier
south carolina --> south
spinster --> spinster
tanner --> tanner
taylor --> taylor
trader --> trader
treasurer --> treasurer
trustee --> trustee
weaver --> weaver
widow --> widow
wife --> wife

In [95]:
#Exclude these wors from any fuzzy string matching. Causes errors. 
NoMerge.append('planter')
NoMerge.append('printer')

In [96]:
retdict, OccsTotalsAll = MergeOccupations(OccsTotalsAll)
ogoccs['new occupation'] = ogoccs['new occupation'].apply(lambda x: retdict.get(x, x))

After Cleaning
--------------


           occupation      6p_total  # of people % of total people
0       administrator  8.500810e+03         17.0              None
1      administratrix  0.000000e+00          1.0              None
2          apothecary  7.720000e+00          1.0              None
3            assignee  2.416330e+03          4.0              None
4            attorney  2.482790e+04         35.0              None
5          auctioneer  1.231900e+02          2.0              None
6         auctioneers  4.607700e+02          3.0              None
7               baker  2.365410e+03          2.0              None
8          blacksmith  3.436000e+03          9.0              None
9          blockmaker  5.268660e+03          3.0              None
10        book binder  7.830700e+02          1.0              None
11         bricklayer  3.735000e+01          1.0              None
12             broker  7.919102e+04         80.0              None
13            butcher  2.357000e+02          1.0              None
14      cabinet maker  7.446000e+01          1.0              None
15          carpenter  7.843000e+02         10.0              None
16            cashier  8.530000e+01          2.0              None
17       chaise maker  4.757000e+01          1.0              None
18              clerk  3.997000e+03         13.0              None
19           clothier  5.333000e+01          1.0              None
20          committee  8.634100e+02          3.0              None
21         comtroller  5.374000e+01          1.0              None
22        conveyancer  1.084000e+02          1.0              None
23             cooper  1.720910e+03          4.0              None
24          shoemaker  2.812500e+02          1.0              None
25             deacon  1.635000e+01          1.0              None
26          distiller  4.662500e+02          3.0              None
27             doctor  2.324135e+04         43.0              None
28            doctors  2.008370e+03          1.0              None
29           druggist  4.922430e+03          2.0              None
30                esq  1.845736e+05        235.0              None
31             estate  1.979600e+03          2.0              None
32           executor  1.855596e+04         31.0              None
33          executors  0.000000e+00          1.0              None
34           excuetor  1.245000e+02          2.0              None
35             farmer  5.914360e+04        274.0              None
36  frederick company  2.066700e+02          1.0              None
37            furrier  3.107180e+03          1.0              None
38          gentleman  4.136731e+04         60.0              None
39            glazier  9.823500e+02          1.0              None
40          goldsmith  1.020360e+03          4.0              None
41           guardian  5.802730e+03          7.0              None
42       hair dresser  0.000000e+00          1.0              None
43             hatter  3.363410e+03          6.0              None
44        housewright  2.666700e+02          1.0              None
45         individual  8.462300e+02          1.0              None
46         inn keeper  3.300500e+03         14.0              None
47             judges  2.257180e+03          1.0              None
48           labourer  6.716000e+01          2.0              None
49    leather dresser  6.666700e+02          1.0              None
50           marchant  6.154541e+05        237.0              None
51            mariner  1.333644e+04         48.0              None
52           marniner  7.856200e+02          2.0              None
53              mason  1.152500e+03          3.0              None
54           merchant  3.597267e+05        431.0              None
55             miller  1.899000e+01          1.0              None
56            molster  2.113800e+02          1.0              None
57         occupation  2.980604e+06       1662.0              None
58            painter  4.861000e+01          1.0              None
59            planter  1.332204e+04         32.0              None
60        post master  7.083530e+03          1.0              None
61         post rider  6.769100e+02          3.0              None
62            printer  8.055240e+03         10.0              None
63        proprietors  3.355400e+02          2.0              None
64           reverend  2.278500e+03          3.0              None
65             sadler  3.524740e+03          1.0              None
66   school committee  1.071650e+03          7.0              None
67      school master  2.213750e+03          2.0              None
68       schoolmaster  1.311500e+02          1.0              None
69            sheriff  2.189537e+03          3.0              None
70          sherriffs  5.124500e+02          3.0              None
71        ship wright  1.241760e+03          1.0              None
72         shipwright  7.765900e+02          4.0              None
73          shoemaker  3.856940e+03         12.0              None
74         shopkeeper  8.129400e+02          8.0              None
75        silversmith  1.917650e+03          2.0              None
76            soldier  7.848000e+01          1.0              None
77     south carolina  0.000000e+00          1.0              None
78           spinster  3.434960e+03         12.0              None
79             tanner  2.282800e+03          4.0              None
80             taylor  3.644930e+03          9.0              None
81             trader  1.570301e+04         63.0              None
82          treasurer  2.514448e+05         32.0              None
83            trustee  2.439020e+03          1.0              None
84             weaver  4.602000e+01          1.0              None
85              widow  3.194785e+04         80.0              None
86               wife  6.364000e+01          1.0              None


After Removing Duplicates and Summing
-------------------------------------


           occupation      6p_total  # of people  % of total people
0       administrator  8.500810e+03           17                  0
1      administratrix  0.000000e+00            1                  0
2          apothecary  7.720000e+00            1                  0
3            assignee  2.416330e+03            4                  0
4            attorney  2.482790e+04           35                  0
5          auctioneer  1.231900e+02            2                  0
6         auctioneers  4.607700e+02            3                  0
7               baker  2.365410e+03            2                  0
8          blacksmith  3.436000e+03            9                  0
9          blockmaker  5.268660e+03            3                  0
10        book binder  7.830700e+02            1                  0
11         bricklayer  3.735000e+01            1                  0
12             broker  7.919102e+04           80                  0
13            butcher  2.357000e+02            1                  0
14      cabinet maker  7.446000e+01            1                  0
15          carpenter  7.843000e+02           10                  0
16            cashier  8.530000e+01            2                  0
17       chaise maker  4.757000e+01            1                  0
18              clerk  3.997000e+03           13                  0
19           clothier  5.333000e+01            1                  0
20          committee  8.634100e+02            3                  0
21         comtroller  5.374000e+01            1                  0
22        conveyancer  1.084000e+02            1                  0
23             cooper  1.720910e+03            4                  0
24             deacon  1.635000e+01            1                  0
25          distiller  4.662500e+02            3                  0
26             doctor  2.324135e+04           43                  0
27            doctors  2.008370e+03            1                  0
28           druggist  4.922430e+03            2                  0
29                esq  1.845736e+05          235                  0
30             estate  1.979600e+03            2                  0
31           excuetor  1.245000e+02            2                  0
32           executor  1.855596e+04           31                  0
33          executors  0.000000e+00            1                  0
34             farmer  5.914360e+04          274                  0
35  frederick company  2.066700e+02            1                  0
36            furrier  3.107180e+03            1                  0
37          gentleman  4.136731e+04           60                  0
38            glazier  9.823500e+02            1                  0
39          goldsmith  1.020360e+03            4                  0
40           guardian  5.802730e+03            7                  0
41       hair dresser  0.000000e+00            1                  0
42             hatter  3.363410e+03            6                  0
43        housewright  2.666700e+02            1                  0
44         individual  8.462300e+02            1                  0
45         inn keeper  3.300500e+03           14                  0
46             judges  2.257180e+03            1                  0
47           labourer  6.716000e+01            2                  0
48    leather dresser  6.666700e+02            1                  0
49           marchant  6.154541e+05          237                  0
50            mariner  1.333644e+04           48                  0
51           marniner  7.856200e+02            2                  0
52              mason  1.152500e+03            3                  0
53           merchant  3.597267e+05          431                  0
54             miller  1.899000e+01            1                  0
55            molster  2.113800e+02            1                  0
56         occupation  2.980604e+06         1662                  0
57            painter  4.861000e+01            1                  0
58            planter  1.332204e+04           32                  0
59        post master  7.083530e+03            1                  0
60         post rider  6.769100e+02            3                  0
61            printer  8.055240e+03           10                  0
62        proprietors  3.355400e+02            2                  0
63           reverend  2.278500e+03            3                  0
64             sadler  3.524740e+03            1                  0
65   school committee  1.071650e+03            7                  0
66      school master  2.213750e+03            2                  0
67       schoolmaster  1.311500e+02            1                  0
68            sheriff  2.189537e+03            3                  0
69          sherriffs  5.124500e+02            3                  0
70        ship wright  1.241760e+03            1                  0
71         shipwright  7.765900e+02            4                  0
72          shoemaker  4.138190e+03           13                  0
73         shopkeeper  8.129400e+02            8                  0
74        silversmith  1.917650e+03            2                  0
75            soldier  7.848000e+01            1                  0
76     south carolina  0.000000e+00            1                  0
77           spinster  3.434960e+03           12                  0
78             tanner  2.282800e+03            4                  0
79             taylor  3.644930e+03            9                  0
80             trader  1.570301e+04           63                  0
81          treasurer  2.514448e+05           32                  0
82            trustee  2.439020e+03            1                  0
83             weaver  4.602000e+01            1                  0
84              widow  3.194785e+04           80                  0
85               wife  6.364000e+01            1                  0


Removed: administratrix --> administrator
Removed: auctioneers --> auctioneer
Removed: doctors --> doctor
Removed: executor --> excuetor
Removed: executors --> excuetor
Removed: merchant --> marchant
Removed: marniner --> mariner
Removed: schoolmaster --> school master
Removed: sherriffs --> sheriff
Removed: shipwright --> ship wright


After Using Fuzzy String Matching
---------------------------------


           occupation      6p_total  # of people  % of total people  average debt per person
0          occupation  2.980604e+06         1662          46.424581              1793.383813
1            marchant  9.751808e+05          668          18.659218              1459.851506
2           treasurer  2.514448e+05           32           0.893855              7857.650625
3                 esq  1.845736e+05          235           6.564246               785.419566
4              broker  7.919102e+04           80           2.234637               989.887750
5              farmer  5.914360e+04          274           7.653631               215.852555
6           gentleman  4.136731e+04           60           1.675978               689.455167
7               widow  3.194785e+04           80           2.234637               399.348125
8              doctor  2.524972e+04           44           1.229050               573.857273
9            attorney  2.482790e+04           35           0.977654               709.368571
10           excuetor  1.868046e+04           34           0.949721               549.425300
11             trader  1.570301e+04           63           1.759777               249.254127
12            mariner  1.412206e+04           50           1.396648               282.441122
13            planter  1.332204e+04           32           0.893855               416.313646
14      administrator  8.500810e+03           18           0.502793               472.267222
15            printer  8.055240e+03           10           0.279330               805.524000
16        post master  7.083530e+03            1           0.027933              7083.530000
17           guardian  5.802730e+03            7           0.195531               828.961429
18         blockmaker  5.268660e+03            3           0.083799              1756.220000
19           druggist  4.922430e+03            2           0.055866              2461.215000
20          shoemaker  4.138190e+03           13           0.363128               318.322308
21              clerk  3.997000e+03           13           0.363128               307.461538
22             taylor  3.644930e+03            9           0.251397               404.992222
23             sadler  3.524740e+03            1           0.027933              3524.740000
24         blacksmith  3.436000e+03            9           0.251397               381.777778
25           spinster  3.434960e+03           12           0.335196               286.246667
26             hatter  3.363410e+03            6           0.167598               560.568333
27         inn keeper  3.300500e+03           14           0.391061               235.750000
28            furrier  3.107180e+03            1           0.027933              3107.180000
29            sheriff  2.701987e+03            6           0.167598               450.331111
30            trustee  2.439020e+03            1           0.027933              2439.020000
31           assignee  2.416330e+03            4           0.111732               604.082500
32              baker  2.365410e+03            2           0.055866              1182.705000
33      school master  2.344900e+03            3           0.083799               781.633333
34             tanner  2.282800e+03            4           0.111732               570.700000
35           reverend  2.278500e+03            3           0.083799               759.500000
36             judges  2.257180e+03            1           0.027933              2257.180000
37        ship wright  2.018350e+03            5           0.139665               403.670000
38             estate  1.979600e+03            2           0.055866               989.800000
39        silversmith  1.917650e+03            2           0.055866               958.825000
40             cooper  1.720910e+03            4           0.111732               430.227500
41              mason  1.152500e+03            3           0.083799               384.166667
42   school committee  1.071650e+03            7           0.195531               153.092857
43          goldsmith  1.020360e+03            4           0.111732               255.090000
44            glazier  9.823500e+02            1           0.027933               982.350000
45          committee  8.634100e+02            3           0.083799               287.803333
46         individual  8.462300e+02            1           0.027933               846.230000
47         shopkeeper  8.129400e+02            8           0.223464               101.617500
48          carpenter  7.843000e+02           10           0.279330                78.430000
49        book binder  7.830700e+02            1           0.027933               783.070000
50         post rider  6.769100e+02            3           0.083799               225.636667
51    leather dresser  6.666700e+02            1           0.027933               666.670000
52         auctioneer  5.839600e+02            5           0.139665               116.792000
53          distiller  4.662500e+02            3           0.083799               155.416667
54        proprietors  3.355400e+02            2           0.055866               167.770000
55        housewright  2.666700e+02            1           0.027933               266.670000
56            butcher  2.357000e+02            1           0.027933               235.700000
57            molster  2.113800e+02            1           0.027933               211.380000
58  frederick company  2.066700e+02            1           0.027933               206.670000
59        conveyancer  1.084000e+02            1           0.027933               108.400000
60            cashier  8.530000e+01            2           0.055866                42.650000
61            soldier  7.848000e+01            1           0.027933                78.480000
62      cabinet maker  7.446000e+01            1           0.027933                74.460000
63           labourer  6.716000e+01            2           0.055866                33.580000
64               wife  6.364000e+01            1           0.027933                63.640000
65         comtroller  5.374000e+01            1           0.027933                53.740000
66           clothier  5.333000e+01            1           0.027933                53.330000
67            painter  4.861000e+01            1           0.027933                48.610000
68       chaise maker  4.757000e+01            1           0.027933                47.570000
69             weaver  4.602000e+01            1           0.027933                46.020000
70         bricklayer  3.735000e+01            1           0.027933                37.350000
71             miller  1.899000e+01            1           0.027933                18.990000
72             deacon  1.635000e+01            1           0.027933                16.350000
73         apothecary  7.720000e+00            1           0.027933                 7.720000
74       hair dresser  0.000000e+00            1           0.027933                 0.000000
75     south carolina  0.000000e+00            1           0.027933                 0.000000

In [97]:
#Remove any occupatins will a total of '0'
OccsTotalsAll = OccsTotalsAll[OccsTotalsAll['6p_total'] != 0].reset_index(drop=True)
OccsTotalsAll['% of total people'] = (OccsTotalsAll['# of people'] / OccsTotalsAll['# of people'].sum()) * 100 #Recalculate the '% of total people'.
print(OccsTotalsAll.to_string())

           occupation      6p_total  # of people  % of total people  average debt per person
0          occupation  2.980604e+06         1662          46.450531              1793.383813
1            marchant  9.751808e+05          668          18.669648              1459.851506
2           treasurer  2.514448e+05           32           0.894354              7857.650625
3                 esq  1.845736e+05          235           6.567915               785.419566
4              broker  7.919102e+04           80           2.235886               989.887750
5              farmer  5.914360e+04          274           7.657909               215.852555
6           gentleman  4.136731e+04           60           1.676914               689.455167
7               widow  3.194785e+04           80           2.235886               399.348125
8              doctor  2.524972e+04           44           1.229737               573.857273
9            attorney  2.482790e+04           35           0.978200               709.368571
10           excuetor  1.868046e+04           34           0.950252               549.425300
11             trader  1.570301e+04           63           1.760760               249.254127
12            mariner  1.412206e+04           50           1.397429               282.441122
13            planter  1.332204e+04           32           0.894354               416.313646
14      administrator  8.500810e+03           18           0.503074               472.267222
15            printer  8.055240e+03           10           0.279486               805.524000
16        post master  7.083530e+03            1           0.027949              7083.530000
17           guardian  5.802730e+03            7           0.195640               828.961429
18         blockmaker  5.268660e+03            3           0.083846              1756.220000
19           druggist  4.922430e+03            2           0.055897              2461.215000
20          shoemaker  4.138190e+03           13           0.363331               318.322308
21              clerk  3.997000e+03           13           0.363331               307.461538
22             taylor  3.644930e+03            9           0.251537               404.992222
23             sadler  3.524740e+03            1           0.027949              3524.740000
24         blacksmith  3.436000e+03            9           0.251537               381.777778
25           spinster  3.434960e+03           12           0.335383               286.246667
26             hatter  3.363410e+03            6           0.167691               560.568333
27         inn keeper  3.300500e+03           14           0.391280               235.750000
28            furrier  3.107180e+03            1           0.027949              3107.180000
29            sheriff  2.701987e+03            6           0.167691               450.331111
30            trustee  2.439020e+03            1           0.027949              2439.020000
31           assignee  2.416330e+03            4           0.111794               604.082500
32              baker  2.365410e+03            2           0.055897              1182.705000
33      school master  2.344900e+03            3           0.083846               781.633333
34             tanner  2.282800e+03            4           0.111794               570.700000
35           reverend  2.278500e+03            3           0.083846               759.500000
36             judges  2.257180e+03            1           0.027949              2257.180000
37        ship wright  2.018350e+03            5           0.139743               403.670000
38             estate  1.979600e+03            2           0.055897               989.800000
39        silversmith  1.917650e+03            2           0.055897               958.825000
40             cooper  1.720910e+03            4           0.111794               430.227500
41              mason  1.152500e+03            3           0.083846               384.166667
42   school committee  1.071650e+03            7           0.195640               153.092857
43          goldsmith  1.020360e+03            4           0.111794               255.090000
44            glazier  9.823500e+02            1           0.027949               982.350000
45          committee  8.634100e+02            3           0.083846               287.803333
46         individual  8.462300e+02            1           0.027949               846.230000
47         shopkeeper  8.129400e+02            8           0.223589               101.617500
48          carpenter  7.843000e+02           10           0.279486                78.430000
49        book binder  7.830700e+02            1           0.027949               783.070000
50         post rider  6.769100e+02            3           0.083846               225.636667
51    leather dresser  6.666700e+02            1           0.027949               666.670000
52         auctioneer  5.839600e+02            5           0.139743               116.792000
53          distiller  4.662500e+02            3           0.083846               155.416667
54        proprietors  3.355400e+02            2           0.055897               167.770000
55        housewright  2.666700e+02            1           0.027949               266.670000
56            butcher  2.357000e+02            1           0.027949               235.700000
57            molster  2.113800e+02            1           0.027949               211.380000
58  frederick company  2.066700e+02            1           0.027949               206.670000
59        conveyancer  1.084000e+02            1           0.027949               108.400000
60            cashier  8.530000e+01            2           0.055897                42.650000
61            soldier  7.848000e+01            1           0.027949                78.480000
62      cabinet maker  7.446000e+01            1           0.027949                74.460000
63           labourer  6.716000e+01            2           0.055897                33.580000
64               wife  6.364000e+01            1           0.027949                63.640000
65         comtroller  5.374000e+01            1           0.027949                53.740000
66           clothier  5.333000e+01            1           0.027949                53.330000
67            painter  4.861000e+01            1           0.027949                48.610000
68       chaise maker  4.757000e+01            1           0.027949                47.570000
69             weaver  4.602000e+01            1           0.027949                46.020000
70         bricklayer  3.735000e+01            1           0.027949                37.350000
71             miller  1.899000e+01            1           0.027949                18.990000
72             deacon  1.635000e+01            1           0.027949                16.350000
73         apothecary  7.720000e+00            1           0.027949                 7.720000

In [98]:
TurnToExcel(OccsTotalsAll, 'AllStates')

In [99]:
ogoccs['new occupation'] = ogoccs['new occupation'].apply(lambda x: datadict.get(x, x))
ogoccs.drop_duplicates().to_csv('occupation_crosswalk.csv')