In [1364]:
#Import libraries.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import rapidfuzz
import difflib
from nltk.corpus import stopwords
from yake import KeywordExtractor

In [1365]:
Stops = stopwords.words('english') #Returns all stopwords in the English language. 
print(Stops)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

# Conneticut

In [1366]:
State = 'CT'
AllOccs = pd.read_csv('../../../Data/Post1790/aggregated_CD_noname.csv') #Returns aggregated CSV file. 
AllOccs.drop(columns=['Unnamed: 0'], inplace=True) #Drop duplicate index column which appears.
AllOccsCT = AllOccs[AllOccs['state'] == State] #Separate rows by state
AllOccsCT = AllOccsCT.dropna(subset=['occupation']).reset_index(drop=True) #Drop any rows w/o an occupation listed. 
print(AllOccsCT)

     6p_Dollar  6p_Cents  6p_def_Dollar  6p_def_Cents  3p_Dollar  3p_Cents  \
0       1064.0      75.0          532.0          37.0      508.0      51.0
1        449.0      96.0          224.0          97.0      232.0      10.0
2        196.0      75.0           98.0          37.0      172.0      24.0
3         53.0      58.0           26.0          79.0       67.0       6.0
4        121.0      22.0           60.0          61.0       32.0      72.0
..         ...       ...            ...           ...        ...       ...
478       39.0      11.0           19.0          55.0       14.0       7.0
479       13.0      21.0            6.0          61.0        4.0      74.0
480      533.0      34.0          266.0          66.0      446.0      66.0
481      658.0      47.0          329.0          23.0      558.0      50.0
482       12.0      22.0            6.0          11.0       11.0       NaN

           town state occupation             county name_type  6p_total
0      Hartford    CT   Merchant    Hartford County      town   1064.75
1        Bolton    CT     Farmer     Tolland County      town    449.96
2      Hartford    CT   Merchant    Hartford County      town    196.75
3      Hartford    CT   Merchant    Hartford County      town     53.58
4          Lyme    CT     Farmer  New London County      town    121.22
..          ...   ...        ...                ...       ...       ...
478  Middletown    CT     Yeoman   Middlesex County      town     39.11
479  Middletown    CT     Yeoman   Middlesex County      town     13.21
480     Norwich    CT   Merchant  New London County      town    533.34
481     Norwich    CT   Merchant  New London County      town    658.47
482     Ashford    CT     Yeoman     Windham County      town     12.22

[483 rows x 12 columns]

In [1367]:
OccsTotalsCT = AllOccsCT.groupby('occupation')['6p_total'].apply(sum).reset_index() #Combine duplicate occupations.
OccsTotalsCT['# of people'] = OccsTotalsCT['occupation'].map(AllOccsCT['occupation'].value_counts(dropna=False)) #Map # of people that belong to each occupation.
print(OccsTotalsCT.to_string())

                                                           occupation  6p_total  # of people
0                                   Adminastrator of the Asa Waterman    218.47            1
1                                      Adminastrator to David Fellows      0.00            1
2   Adminastrator to the Estate of Epaphras Bull of Hartford Deceased     61.30            1
3                        Adminastrator to the Estate of Samuel Tilley     94.67            1
4            Adminastrator to the estate of Uriah Loomis Jun Deceased     73.50            1
5                                          Administrator to J McCurdy   3413.72            2
6                         Administrator to the estate of Daniel Unkus     54.05            1
7                Adminstrator to the Estate of Ezekiel Carey Deceased     77.61            1
8                  Adminstrator to the Estate of Ruth Skiffe Deceased     87.74            1
9                                                          Apothecary      7.72            1
10                                                           Attorney   4863.67            3
11                                                    Attorney at Law   6250.93           17
12                                                         Blacksmith    724.71            3
13                                                             Broker    208.55            3
14                                                          Carpenter    175.34            1
15                                           Cashier of Hartford Bank     85.30            2
16                                                           Clothier     53.33            1
17                           Committee of the 1st Ecclestical Society    306.28            1
18                         Committee of the 1st Society of Plainville    220.49            1
19                                                             Cooper    124.76            1
20                                                             Doctor    647.09            1
21                                                            Esquire  13020.09           13
22                           Executor to Ezra Selden of Lyme Deceased   1963.62            1
23                               Executor to Stephen Johnson Deceased      6.02            1
24                                 Executor to Stephen Keyes Deceased    266.67            1
25                               Executor to William Nichols Deceased      4.70            1
26                      Executor to the Estate of Tim Mather Deceased   1573.33            1
27                 Executor to the Estate of Uriah Loomis is Deceased    614.19            1
28                   Executors to the Estate of Jabez Hamlin Deceased    129.72            1
29                                                             Farmer  36715.82          167
30                                                          Gentleman  16624.32           32
31                                                          Goldsmith      6.82            1
32                                            Guardian to Betsey Coit   1020.45            1
33                                                 Guardian to J Neff     58.11            1
34                                           Guardian to Sally Morgan    167.06            1
35                                                             Hatter    242.99            1
36                                                         Inn Keeper    201.53            3
37                                                             Joiner     53.33            1
38                                                    Leather Dresser    666.67            1
39                                                            Mariner   3831.05           13
40                                                           Merchant  63745.92           62
41                                                          Merchents     19.08            1
42                                                             Miller     18.99            1
43                                                            Molster    211.38            1
44                                                          Physician   1303.46            3
45                                                         Post Rider    676.91            3
46                                                            Printer    204.78            2
47                                                        Proprietors    276.90            1
48                                                             Sadler   3524.74            1
49                                                   School Committee    305.49            4
50                                       School Committee 1st Society    426.04            1
51                                      School Committee North Parish    108.79            1
52                                     School Committee North Society    231.33            1
53                                                      School Master   2213.75            2
54                                                   Sherriffs Deputy    512.45            3
55                                                         Shipwright    533.33            1
56                                                          Shoemaker   1345.46            6
57                                                  Society Committee    336.64            1
58                                                  Society Treasurer    303.27            3
59                                                            Soldier     78.48            1
60                                                           Spinster   1731.58            6
61                                                             Tanner    713.06            1
62                                                             Taylor    209.81            1
63                                                             Trader   9192.98           43
64                                                            Traders    261.15            3
65                                                          Treasurer   4523.35            4
66                                  Treasurer 1st Society in Cornwall    175.27            1
67                                          Treasurer Stepney Society    164.31            1
68                                           Treasurer in 1st Society    282.37            1
69                                       Treasurer of Preston Society   1447.26            1
70                                          Treasurer of Yale College   2697.98            1
71              Treasurer to the Society of Cincinnati in Connecticut   5793.34            2
72                                                              Widow   6488.11           28
73                                         Wife of Eliphalet Williams     63.64            1
74                                                             Yeoman     64.54            3

In [1368]:
#Function that returns the same dataframe, but with all stopwords removed from the occupation titles. 
def RemoveStopwords(OccsTotals):
    OccsTotals['occupation'] = OccsTotals['occupation'].apply(lambda OccName: ' '.join(word.lower() for word in OccName.split() if word not in Stops))
    return OccsTotals

In [1369]:
OccsTotalsCT = RemoveStopwords(OccsTotalsCT) #Call 
print(OccsTotalsCT.to_string())

                                              occupation  6p_total  # of people
0                             adminastrator asa waterman    218.47            1
1                            adminastrator david fellows      0.00            1
2   adminastrator estate epaphras bull hartford deceased     61.30            1
3                     adminastrator estate samuel tilley     94.67            1
4         adminastrator estate uriah loomis jun deceased     73.50            1
5                                administrator j mccurdy   3413.72            2
6                      administrator estate daniel unkus     54.05            1
7             adminstrator estate ezekiel carey deceased     77.61            1
8               adminstrator estate ruth skiffe deceased     87.74            1
9                                             apothecary      7.72            1
10                                              attorney   4863.67            3
11                                          attorney law   6250.93           17
12                                            blacksmith    724.71            3
13                                                broker    208.55            3
14                                             carpenter    175.34            1
15                                 cashier hartford bank     85.30            2
16                                              clothier     53.33            1
17                     committee 1st ecclestical society    306.28            1
18                      committee 1st society plainville    220.49            1
19                                                cooper    124.76            1
20                                                doctor    647.09            1
21                                               esquire  13020.09           13
22                    executor ezra selden lyme deceased   1963.62            1
23                     executor stephen johnson deceased      6.02            1
24                       executor stephen keyes deceased    266.67            1
25                     executor william nichols deceased      4.70            1
26                   executor estate tim mather deceased   1573.33            1
27                 executor estate uriah loomis deceased    614.19            1
28                executors estate jabez hamlin deceased    129.72            1
29                                                farmer  36715.82          167
30                                             gentleman  16624.32           32
31                                             goldsmith      6.82            1
32                                  guardian betsey coit   1020.45            1
33                                       guardian j neff     58.11            1
34                                 guardian sally morgan    167.06            1
35                                                hatter    242.99            1
36                                            inn keeper    201.53            3
37                                                joiner     53.33            1
38                                       leather dresser    666.67            1
39                                               mariner   3831.05           13
40                                              merchant  63745.92           62
41                                             merchents     19.08            1
42                                                miller     18.99            1
43                                               molster    211.38            1
44                                             physician   1303.46            3
45                                            post rider    676.91            3
46                                               printer    204.78            2
47                                           proprietors    276.90            1
48                                                sadler   3524.74            1
49                                      school committee    305.49            4
50                          school committee 1st society    426.04            1
51                         school committee north parish    108.79            1
52                        school committee north society    231.33            1
53                                         school master   2213.75            2
54                                      sherriffs deputy    512.45            3
55                                            shipwright    533.33            1
56                                             shoemaker   1345.46            6
57                                     society committee    336.64            1
58                                     society treasurer    303.27            3
59                                               soldier     78.48            1
60                                              spinster   1731.58            6
61                                                tanner    713.06            1
62                                                taylor    209.81            1
63                                                trader   9192.98           43
64                                               traders    261.15            3
65                                             treasurer   4523.35            4
66                        treasurer 1st society cornwall    175.27            1
67                             treasurer stepney society    164.31            1
68                                 treasurer 1st society    282.37            1
69                             treasurer preston society   1447.26            1
70                                treasurer yale college   2697.98            1
71              treasurer society cincinnati connecticut   5793.34            2
72                                                 widow   6488.11           28
73                               wife eliphalet williams     63.64            1
74                                                yeoman     64.54            3

In [1370]:
Remove = 2 #Define remove constant.

In [1371]:
#This function will help determine how many words we can acceptably cut off from the end. 
def FindRemoveConst(Occupations):
    TempMaxLength = 2
    
    print('Occupation Before --> Occupation After')
    print('--------------------------------------')
    print('\n')
    
    for Occupation in Occupations:
        if (len(Occupation.split()) > TempMaxLength): #If occupation has more than two words, remove last two words.
            OccupationAfter = Occupation.rsplit(' ', Remove)[0] 
        else:
            OccupationAfter = Occupation #Else, set them both equal to each other; nothing changes. 
        
        print(Occupation + ' --> ' + OccupationAfter)

In [1372]:
FindRemoveConst(OccsTotalsCT['occupation'].tolist())

Occupation Before --> Occupation After
--------------------------------------


adminastrator asa waterman --> adminastrator
adminastrator david fellows --> adminastrator
adminastrator estate epaphras bull hartford deceased --> adminastrator estate epaphras bull
adminastrator estate samuel tilley --> adminastrator estate
adminastrator estate uriah loomis jun deceased --> adminastrator estate uriah loomis
administrator j mccurdy --> administrator
administrator estate daniel unkus --> administrator estate
adminstrator estate ezekiel carey deceased --> adminstrator estate ezekiel
adminstrator estate ruth skiffe deceased --> adminstrator estate ruth
apothecary --> apothecary
attorney --> attorney
attorney law --> attorney law
blacksmith --> blacksmith
broker --> broker
carpenter --> carpenter
cashier hartford bank --> cashier
clothier --> clothier
committee 1st ecclestical society --> committee 1st
committee 1st society plainville --> committee 1st
cooper --> cooper
doctor --> doctor
esquire --> esquire
executor ezra selden lyme deceased --> executor ezra selden
executor stephen johnson deceased --> executor stephen
executor stephen keyes deceased --> executor stephen
executor william nichols deceased --> executor william
executor estate tim mather deceased --> executor estate tim
executor estate uriah loomis deceased --> executor estate uriah
executors estate jabez hamlin deceased --> executors estate jabez
farmer --> farmer
gentleman --> gentleman
goldsmith --> goldsmith
guardian betsey coit --> guardian
guardian j neff --> guardian
guardian sally morgan --> guardian
hatter --> hatter
inn keeper --> inn keeper
joiner --> joiner
leather dresser --> leather dresser
mariner --> mariner
merchant --> merchant
merchents --> merchents
miller --> miller
molster --> molster
physician --> physician
post rider --> post rider
printer --> printer
proprietors --> proprietors
sadler --> sadler
school committee --> school committee
school committee 1st society --> school committee
school committee north parish --> school committee
school committee north society --> school committee
school master --> school master
sherriffs deputy --> sherriffs deputy
shipwright --> shipwright
shoemaker --> shoemaker
society committee --> society committee
society treasurer --> society treasurer
soldier --> soldier
spinster --> spinster
tanner --> tanner
taylor --> taylor
trader --> trader
traders --> traders
treasurer --> treasurer
treasurer 1st society cornwall --> treasurer 1st
treasurer stepney society --> treasurer
treasurer 1st society --> treasurer
treasurer preston society --> treasurer
treasurer yale college --> treasurer
treasurer society cincinnati connecticut --> treasurer society
widow --> widow
wife eliphalet williams --> wife
yeoman --> yeoman

In [1373]:
#Declare necessary parameters for KeywordExtractor() function.
MaxLength = 2
language = 'en' #Set language to English.
MaxSize = 1  #Each keyword can only be a max. length of 1.
DupThres = 0.5 #Words can not be used repeatedly in keywords. Treat each word separately. 
KeyExtractor = KeywordExtractor(lan=language, n=MaxSize, dedupLim=DupThres, features=None) #Create KeywordExtractor object.
NoMerge = []

In [1374]:
# Manually clean items. 
Exceptions = {'inn keeper': 'inn keeper', 'leather dresser': 'leather dresser', 'post rider': 'post rider', 
              'school committee': 'school committee', 'school master': 'school master', 'society committee': 'committee', 
              'society treasurer': 'treasurer', 'frederick company': 'frederick company', 'the state north carolina': None,
              'the state of north carolina' : 'the state of north carolina','in trust jacobus van eis somerset county': 'assignee', 
              'ah.vat law': 'attorney', 'black smith': 'blacksmith','book binder': 'book binder', 'ex estate john baird': 'executors', 
              'ex': 'executors', 'junior broker': 'broker', 'post master': 'post master', 'ship wright': 'ship wright', 'shop keeper': 'shopkeeper', 
              'christopher mary': 'individual', 'law': 'attorney', 'lawyer': 'attorney', 
              'adm alexander mccaraher late chester': 'administer', 
              'general treasurer state rhode island suceessors said': 'treasurer', 'behalf proprietors': 'proprietors', 
              'chaise maker': 'chaise maker', 'executrix william': 'executor', 'blacks smith': 'blacksmith', 
              'cabinet maker': 'cabinet maker', 'charleston merchants': 'merchants', 'hair dresser': 'hair dresser', 
              'south carolina': 'south carolina', 'vendue master': 'auctioneer', 'physician' : 'doctor', 'administer' : 'adminastrator',
                'esquier' : 'esq', 'excuters' : 'excuetor', 'extors' : 'excuetor', 'esquire' : 'esq', 'executers' : 'excuetor',
             'yeoman' : 'farmer', 'cordwainer' : 'shoemaker', 'joiner' : 'carpenter', 'innholder' : 'inn keeper', 'factor' : 'trader',
             'asse john b ashe exe' : 'executors', 'trust' : 'assignee', 'pennsylvania' : None, 'co' : None, 'penniston' : None}

In [1375]:
#Print alphabetized version of 'Exceptions'.
for Name in sorted(Exceptions):
    print("%s: %s" % (Name, Exceptions[Name]))

adm alexander mccaraher late chester: administer
administer: adminastrator
ah.vat law: attorney
asse john b ashe exe: executors
behalf proprietors: proprietors
black smith: blacksmith
blacks smith: blacksmith
book binder: book binder
cabinet maker: cabinet maker
chaise maker: chaise maker
charleston merchants: merchants
christopher mary: individual
co: None
cordwainer: shoemaker
esquier: esq
esquire: esq
ex: executors
ex estate john baird: executors
excuters: excuetor
executers: excuetor
executrix william: executor
extors: excuetor
factor: trader
frederick company: frederick company
general treasurer state rhode island suceessors said: treasurer
hair dresser: hair dresser
in trust jacobus van eis somerset county: assignee
inn keeper: inn keeper
innholder: inn keeper
joiner: carpenter
junior broker: broker
law: attorney
lawyer: attorney
leather dresser: leather dresser
penniston: None
pennsylvania: None
physician: doctor
post master: post master
post rider: post rider
school committee: school committee
school master: school master
ship wright: ship wright
shop keeper: shopkeeper
society committee: committee
society treasurer: treasurer
south carolina: south carolina
the state north carolina: None
the state of north carolina: the state of north carolina
trust: assignee
vendue master: auctioneer
yeoman: farmer

In [1376]:
#Search for an item in 'Exceptions' dictionary. Uncomment when necessary.
"""
Item = input()
if (Item in Exceptions) or (Item in Exceptions.values()): #Check keys and values of the dictionary. 
    print(True)
else:
    print(False)
"""

'\nItem = input()\nif (Item in Exceptions) or (Item in Exceptions.values()): #Check keys and values of the dictionary. \n    print(True)\nelse:\n    print(False)\n'

In [1377]:
#Print what the merged occupations will look like. This will help us find any exceptions. 
def PrintFutureOccupations(Occupations):    
    print('Occupations --> Potential Cleaned Occupations')
    print('---------------------------------------------')
    print('\n')
        
    for Occupation in Occupations:
        if (len(Occupation.split()) > MaxLength): #If occupation has more than two words in it, remove last two words. Depends on constant. Might change. 
            Occupation = Occupation.rsplit(' ', Remove)[0]
            
        Keywords = KeyExtractor.extract_keywords(Occupation) #Retrieve list of keywords. 
        
        if (len(Keywords) == 0):
            Keywords.append((Occupation, ' '))
                    
        print(Occupation + ' --> ' + str(Keywords[0][0])) #Print current occupation title to hypothetical cleaned occupation title.

In [1378]:
PrintFutureOccupations(OccsTotalsCT['occupation'].tolist())

Occupations --> Potential Cleaned Occupations
---------------------------------------------


adminastrator --> adminastrator
adminastrator --> adminastrator
adminastrator estate epaphras bull --> adminastrator
adminastrator estate --> adminastrator
adminastrator estate uriah loomis --> adminastrator
administrator --> administrator
administrator estate --> administrator
adminstrator estate ezekiel --> adminstrator
adminstrator estate ruth --> adminstrator
apothecary --> apothecary
attorney --> attorney
attorney law --> attorney
blacksmith --> blacksmith
broker --> broker
carpenter --> carpenter
cashier --> cashier
clothier --> clothier
committee 1st --> committee
committee 1st --> committee
cooper --> cooper
doctor --> doctor
esquire --> esquire
executor ezra selden --> executor
executor stephen --> executor
executor stephen --> executor
executor william --> executor
executor estate tim --> executor
executor estate uriah --> executor
executors estate jabez --> executors
farmer --> farmer
gentleman --> gentleman
goldsmith --> goldsmith
guardian --> guardian
guardian --> guardian
guardian --> guardian
hatter --> hatter
inn keeper --> inn
joiner --> joiner
leather dresser --> leather
mariner --> mariner
merchant --> merchant
merchents --> merchents
miller --> miller
molster --> molster
physician --> physician
post rider --> post
printer --> printer
proprietors --> proprietors
sadler --> sadler
school committee --> school
school committee --> school
school committee --> school
school committee --> school
school master --> school
sherriffs deputy --> sherriffs
shipwright --> shipwright
shoemaker --> shoemaker
society committee --> society
society treasurer --> society
soldier --> soldier
spinster --> spinster
tanner --> tanner
taylor --> taylor
trader --> trader
traders --> traders
treasurer --> treasurer
treasurer 1st --> treasurer
treasurer --> treasurer
treasurer --> treasurer
treasurer --> treasurer
treasurer --> treasurer
treasurer society --> treasurer
widow --> widow
wife --> wife
yeoman --> yeoman

In [1379]:
#Handle duplicate occupations that are spelled differently. Pass in 'occupation' column as a list. Pass in function which will do a manual check for each state (differs w/ each state). 
def MergeOccupations(OccsTotals):
    OccsTotals['% of total people'] = None #Add a percent of total population column.
    Occupations = OccsTotals['occupation'].tolist() #Returns 'occupation' column as a list.    
    Index = 0 #Keep track of index. 
    
    for Occupation in Occupations:
        if (len(Occupation.split()) > MaxLength): #If occupation has more than two words in it, remove last two words. Depends on constant. Might change. 
            Occupation = Occupation.rsplit(' ', Remove)[0]
            
        Keywords = KeyExtractor.extract_keywords(Occupation) #Retrieve list of keywords. 
        
        if (len(Keywords) == 0):
            Keywords.append((Occupation, ' '))
        
        NewOccupation = Keywords[0][0] #Get new occupation from list of keywords. Based on which keyword has the highest rating.
                
        if (Occupation in Exceptions): #If occupation is an exception, set new occupation. 
            NewOccupation = Exceptions[Occupation]
    
        OccsTotals.loc[Index, 'occupation'] = NewOccupation #Replace occupation with new occupation in dataframe.
        
        Index += 1 #Increment. 
    
    print('After Cleaning')
    print('--------------')
    print('\n')
    print(OccsTotals.to_string()) #Check
    print('\n')
    
    OccsTotals = OccsTotals.groupby('occupation')[['6p_total', '# of people', '% of total people']].apply(sum).reset_index() #Combine duplicate occupations, reset index. 
    OccsTotals['# of people'] = OccsTotals['# of people'].astype(int) #Convert values in '# of people' column to all ints. 
    
    print('After Removing Duplicates and Summing')
    print('-------------------------------------')
    print('\n')
    print(OccsTotals.to_string()) #Check
    print('\n')
    
    Occupations = OccsTotals['occupation'].tolist() #Reinstantiate Occupations after changing OccsTotals
    i = 0 #Declare new index.
    while (i < len(Occupations)): 
        j = 0 #Declare new index.
        while (j < len(Occupations)):                
            if (rapidfuzz.fuzz.ratio(Occupations[i], Occupations[j]) > 80) and (Occupations[i] != Occupations[j]) and ((Occupations[j] not in NoMerge) and (Occupations[i] not in NoMerge))  : #Use fuzzy string matching to determine whether two occupations are the same or not.               
                Total = float(OccsTotals.loc[j, '6p_total']) #Get total from duplicate occupation.
                OccsTotals.loc[i, '6p_total'] += Total #Merge totals together.
                
                NumOfPeople = OccsTotals.loc[j, '# of people'] #Get number of people in row j.
                OccsTotals.loc[i, '# of people'] += NumOfPeople #Add that number to row i.
                
                OccsTotals.drop(j, inplace=True) #Remove duplicate occupation.
                OccsTotals = OccsTotals.reset_index(drop=True) #Reset index.
                
                print('Removed: ' + Occupations[j] + ' --> ' + Occupations[i])
                
                Occupations.remove(Occupations[j]) #Remove from list of occupations so loop will not iterate over it again.
            else:
                j += 1
                
        i += 1
        
    OccsTotals['average debt per person'] = OccsTotals['6p_total'] / OccsTotals['# of people'] #Add an average column.
    OccsTotals['% of total people'] = (OccsTotals['# of people'] / OccsTotals['# of people'].sum()) * 100 #Assign values to '# of people column'.
    OccsTotals = OccsTotals.sort_values('6p_total', ascending=False).reset_index(drop=True)
    
    print('\n')
    print('After Using Fuzzy String Matching')
    print('---------------------------------')
    print('\n')
    print(OccsTotals.to_string())
    print('\n')
    
    return OccsTotals

In [1380]:
OccsTotalsCT = MergeOccupations(OccsTotalsCT)

After Cleaning
--------------


          occupation  6p_total  # of people % of total people
0      adminastrator    218.47            1              None
1      adminastrator      0.00            1              None
2      adminastrator     61.30            1              None
3      adminastrator     94.67            1              None
4      adminastrator     73.50            1              None
5      administrator   3413.72            2              None
6      administrator     54.05            1              None
7       adminstrator     77.61            1              None
8       adminstrator     87.74            1              None
9         apothecary      7.72            1              None
10          attorney   4863.67            3              None
11          attorney   6250.93           17              None
12        blacksmith    724.71            3              None
13            broker    208.55            3              None
14         carpenter    175.34            1              None
15           cashier     85.30            2              None
16          clothier     53.33            1              None
17         committee    306.28            1              None
18         committee    220.49            1              None
19            cooper    124.76            1              None
20            doctor    647.09            1              None
21               esq  13020.09           13              None
22          executor   1963.62            1              None
23          executor      6.02            1              None
24          executor    266.67            1              None
25          executor      4.70            1              None
26          executor   1573.33            1              None
27          executor    614.19            1              None
28         executors    129.72            1              None
29            farmer  36715.82          167              None
30         gentleman  16624.32           32              None
31         goldsmith      6.82            1              None
32          guardian   1020.45            1              None
33          guardian     58.11            1              None
34          guardian    167.06            1              None
35            hatter    242.99            1              None
36        inn keeper    201.53            3              None
37         carpenter     53.33            1              None
38   leather dresser    666.67            1              None
39           mariner   3831.05           13              None
40          merchant  63745.92           62              None
41         merchents     19.08            1              None
42            miller     18.99            1              None
43           molster    211.38            1              None
44            doctor   1303.46            3              None
45        post rider    676.91            3              None
46           printer    204.78            2              None
47       proprietors    276.90            1              None
48            sadler   3524.74            1              None
49  school committee    305.49            4              None
50  school committee    426.04            1              None
51  school committee    108.79            1              None
52  school committee    231.33            1              None
53     school master   2213.75            2              None
54         sherriffs    512.45            3              None
55        shipwright    533.33            1              None
56         shoemaker   1345.46            6              None
57         committee    336.64            1              None
58         treasurer    303.27            3              None
59           soldier     78.48            1              None
60          spinster   1731.58            6              None
61            tanner    713.06            1              None
62            taylor    209.81            1              None
63            trader   9192.98           43              None
64           traders    261.15            3              None
65         treasurer   4523.35            4              None
66         treasurer    175.27            1              None
67         treasurer    164.31            1              None
68         treasurer    282.37            1              None
69         treasurer   1447.26            1              None
70         treasurer   2697.98            1              None
71         treasurer   5793.34            2              None
72             widow   6488.11           28              None
73              wife     63.64            1              None
74            farmer     64.54            3              None


After Removing Duplicates and Summing
-------------------------------------


          occupation  6p_total  # of people  % of total people
0      adminastrator    447.94            5                  0
1      administrator   3467.77            3                  0
2       adminstrator    165.35            2                  0
3         apothecary      7.72            1                  0
4           attorney  11114.60           20                  0
5         blacksmith    724.71            3                  0
6             broker    208.55            3                  0
7          carpenter    228.67            2                  0
8            cashier     85.30            2                  0
9           clothier     53.33            1                  0
10         committee    863.41            3                  0
11            cooper    124.76            1                  0
12            doctor   1950.55            4                  0
13               esq  13020.09           13                  0
14          executor   4428.53            6                  0
15         executors    129.72            1                  0
16            farmer  36780.36          170                  0
17         gentleman  16624.32           32                  0
18         goldsmith      6.82            1                  0
19          guardian   1245.62            3                  0
20            hatter    242.99            1                  0
21        inn keeper    201.53            3                  0
22   leather dresser    666.67            1                  0
23           mariner   3831.05           13                  0
24          merchant  63745.92           62                  0
25         merchents     19.08            1                  0
26            miller     18.99            1                  0
27           molster    211.38            1                  0
28        post rider    676.91            3                  0
29           printer    204.78            2                  0
30       proprietors    276.90            1                  0
31            sadler   3524.74            1                  0
32  school committee   1071.65            7                  0
33     school master   2213.75            2                  0
34         sherriffs    512.45            3                  0
35        shipwright    533.33            1                  0
36         shoemaker   1345.46            6                  0
37           soldier     78.48            1                  0
38          spinster   1731.58            6                  0
39            tanner    713.06            1                  0
40            taylor    209.81            1                  0
41            trader   9192.98           43                  0
42           traders    261.15            3                  0
43         treasurer  15387.15           14                  0
44             widow   6488.11           28                  0
45              wife     63.64            1                  0


Removed: administrator --> adminastrator
Removed: adminstrator --> adminastrator
Removed: executors --> executor
Removed: merchents --> merchant
Removed: traders --> trader


After Using Fuzzy String Matching
---------------------------------


          occupation  6p_total  # of people  % of total people  average debt per person
0           merchant  63765.00           63          13.043478              1012.142857
1             farmer  36780.36          170          35.196687               216.355059
2          gentleman  16624.32           32           6.625259               519.510000
3          treasurer  15387.15           14           2.898551              1099.082143
4                esq  13020.09           13           2.691511              1001.545385
5           attorney  11114.60           20           4.140787               555.730000
6             trader   9454.13           46           9.523810               205.524565
7              widow   6488.11           28           5.797101               231.718214
8           executor   4558.25            7           1.449275               651.178571
9      adminastrator   4081.06           10           2.070393               408.106000
10           mariner   3831.05           13           2.691511               294.696154
11            sadler   3524.74            1           0.207039              3524.740000
12     school master   2213.75            2           0.414079              1106.875000
13            doctor   1950.55            4           0.828157               487.637500
14          spinster   1731.58            6           1.242236               288.596667
15         shoemaker   1345.46            6           1.242236               224.243333
16          guardian   1245.62            3           0.621118               415.206667
17  school committee   1071.65            7           1.449275               153.092857
18         committee    863.41            3           0.621118               287.803333
19        blacksmith    724.71            3           0.621118               241.570000
20            tanner    713.06            1           0.207039               713.060000
21        post rider    676.91            3           0.621118               225.636667
22   leather dresser    666.67            1           0.207039               666.670000
23        shipwright    533.33            1           0.207039               533.330000
24         sherriffs    512.45            3           0.621118               170.816667
25       proprietors    276.90            1           0.207039               276.900000
26            hatter    242.99            1           0.207039               242.990000
27         carpenter    228.67            2           0.414079               114.335000
28           molster    211.38            1           0.207039               211.380000
29            taylor    209.81            1           0.207039               209.810000
30            broker    208.55            3           0.621118                69.516667
31           printer    204.78            2           0.414079               102.390000
32        inn keeper    201.53            3           0.621118                67.176667
33            cooper    124.76            1           0.207039               124.760000
34           cashier     85.30            2           0.414079                42.650000
35           soldier     78.48            1           0.207039                78.480000
36              wife     63.64            1           0.207039                63.640000
37          clothier     53.33            1           0.207039                53.330000
38            miller     18.99            1           0.207039                18.990000
39        apothecary      7.72            1           0.207039                 7.720000
40         goldsmith      6.82            1           0.207039                 6.820000

In [1381]:
def TurnToExcel(DF, State):
    DF.to_excel('./FinishedSpreadsheets/Occupations' + State + '.xlsx')

In [1382]:
TurnToExcel(OccsTotalsCT, State)

# Georgia

In [1383]:
State = 'GA'
AllOccsGA = AllOccs[AllOccs['state'] == State] #Separate rows by state
AllOccsGA = AllOccsGA.dropna(subset=['occupation']).reset_index(drop=True) #Drop any rows w/o an occupation listed. 
print(AllOccsGA)

   6p_Dollar    6p_Cents  6p_def_Dollar  6p_def_Cents  3p_Dollar  3p_Cents  \
0     4586.0     66.0000         2293.0       33.0000     3026.0     11.00
1        1.0     95.1133            1.0       47.5567        NaN      0.00
2        1.0     90.3000            1.0       45.1000        1.0     93.50
3        1.0    129.6533            1.0       64.8233        1.0    144.96
4        1.0    209.8633            1.0      104.9333        1.0    241.38
5        1.0  10108.9033            1.0     5054.4533        1.0   2729.40
6        1.0    114.7330            1.0       57.3330        1.0    124.45
7       20.0     26.1200           16.0       13.0600        NaN       NaN
8       37.0     18.2000           18.0        9.0900        NaN      0.00
9    10508.0     90.0000            NaN           NaN        NaN       NaN

               town state occupation           county name_type      6p_total
0  State of Georgia    GA  Gentleman              NaN     state   4586.660000
1          Savannah    GA   Merchant   Chatham County      town      1.951133
2          Savannah    GA   Merchant   Chatham County      town      1.903000
3          Savannah    GA  Merchants   Chatham County      town      2.296533
4          Savannah    GA   Merchant   Chatham County      town      3.098633
5           Augusta    GA        Esq  Richmond County      town    102.089033
6          Savannah    GA   Merchant   Chatham County      town      2.147330
7          Savannah    GA   Merchant   Chatham County      town     20.261200
8           Augusta    GA  Merchants  Richmond County      town     37.182000
9          Savannah    GA   Merchant   Chatham County      town  10508.900000

In [1384]:
OccsTotalsGA = AllOccsGA.groupby('occupation')['6p_total'].apply(sum).reset_index() #Combine duplicate occupations.
OccsTotalsGA['# of people'] = OccsTotalsGA['occupation'].map(AllOccsGA['occupation'].value_counts(dropna=False)) #Map # of people that belong to each occupation.
print(OccsTotalsGA.to_string())

  occupation      6p_total  # of people
0        Esq    102.089033            1
1  Gentleman   4586.660000            1
2   Merchant  10538.261296            6
3  Merchants     39.478533            2

In [1385]:
OccsTotalsGA = RemoveStopwords(OccsTotalsGA) 
print(OccsTotalsGA.to_string())

  occupation      6p_total  # of people
0        esq    102.089033            1
1  gentleman   4586.660000            1
2   merchant  10538.261296            6
3  merchants     39.478533            2

In [1386]:
FindRemoveConst(OccsTotalsGA['occupation'].tolist())

Occupation Before --> Occupation After
--------------------------------------


esq --> esq
gentleman --> gentleman
merchant --> merchant
merchants --> merchants

In [1387]:
OccsTotalsGA = MergeOccupations(OccsTotalsGA)

After Cleaning
--------------


  occupation      6p_total  # of people % of total people
0        esq    102.089033            1              None
1  gentleman   4586.660000            1              None
2   merchant  10538.261296            6              None
3  merchants     39.478533            2              None


After Removing Duplicates and Summing
-------------------------------------


  occupation      6p_total  # of people  % of total people
0        esq    102.089033            1                  0
1  gentleman   4586.660000            1                  0
2   merchant  10538.261296            6                  0
3  merchants     39.478533            2                  0


Removed: merchants --> merchant


After Using Fuzzy String Matching
---------------------------------


  occupation      6p_total  # of people  % of total people  average debt per person
0   merchant  10577.739829            8               80.0              1322.217479
1  gentleman   4586.660000            1               10.0              4586.660000
2        esq    102.089033            1               10.0               102.089033

In [1388]:
TurnToExcel(OccsTotalsGA, State)

# Maryland

In [1389]:
State = 'MD'
AllOccsMD = AllOccs[AllOccs['state'] == State] #Separate rows by state
AllOccsMD = AllOccsMD.dropna(subset=['occupation']).reset_index(drop=True) #Drop any rows w/o an occupation listed. 
print(AllOccsMD)

    6p_Dollar  6p_Cents  6p_def_Dollar  6p_def_Cents  3p_Dollar  3p_Cents  \
0        17.0   66.5733           13.0       33.2833       14.0      76.4
1     26745.0   77.0000        13372.0       88.0000    50000.0      51.0
2      1243.0   42.0000          621.0       71.0000     1796.0      44.0
3       117.0   90.0000           58.0       94.0000      113.0      53.0
4       141.0    3.0000           70.0       51.0000      375.0      32.0
5        40.0   81.0000           20.0       40.0000       40.0      79.0
6       789.0   24.0000          394.0       61.0000        NaN       NaN
7       812.0   33.0000          406.0       16.0000      999.0      45.0
8       341.0    8.0000          170.0       53.0000      265.0      47.0
9      1122.0   48.0000          561.0       24.0000      761.0      65.0
10     1926.0   70.0000          963.0       35.0000      696.0      98.0
11     3120.0   91.0000         1560.0       45.0000     2499.0      70.0
12       61.0   94.0000           30.0       97.0000        NaN       NaN
13      946.0   41.0000          473.0       20.0000      816.0       4.0
14      114.0   59.0000           57.0       29.0000      113.0       1.0
15     6565.0   31.0000         3282.0       65.0000     1775.0      40.0
16      208.0   81.0000          104.0       40.0000        NaN       NaN
17     2300.0       NaN         1150.0           NaN     5607.0      90.0
18       22.0   50.0000           11.0       24.0000       17.0      62.0
19      504.0   28.0000          252.0       13.0000      554.0       6.0
20      230.0   65.0000          115.0       32.0000      239.0      30.0
21    21854.0   30.0000        10927.0       14.0000    25213.0      72.0
22      272.0   48.0000          136.0       24.0000      278.0      11.0
23      221.0   46.0000          110.0       72.0000      114.0      73.0
24     1503.0   32.0000            NaN           NaN     1119.0      53.0
25     3128.0   30.0000         1564.0       15.0000     1605.0      60.0
26     1085.0   24.0000          542.0       62.0000     1321.0      25.0
27      362.0   91.0000          181.0       43.0000      225.0      10.0
28       82.0   55.0000           41.0       28.0000       22.0      28.0
29       95.0   62.0000           47.0       81.0000       62.0      44.0
30        NaN       NaN            NaN           NaN       66.0      34.0
31      233.0   70.0000          116.0       85.0000      347.0      33.0
32      184.0   89.0000           92.0       44.0000      131.0       7.0
33       44.0   84.0000           22.0       42.0000       43.0      95.0
34      902.0   47.0000          451.0       23.0000      164.0      61.0
35        NaN       NaN            NaN           NaN      934.0      28.0
36        NaN       NaN            NaN           NaN      407.0      85.0
37        NaN       NaN            NaN           NaN     5849.0       6.0
38        NaN       NaN            NaN           NaN      168.0      52.0
39       75.0       NaN           37.0       50.0000       71.0      52.0
40      139.0   42.0000           69.0       71.0000       48.0      96.0
41     2138.0   94.0000         1069.0       47.0000     1418.0      11.0
42      206.0   66.0000            NaN           NaN      145.0      69.0
43        NaN       NaN            NaN           NaN    15000.0       NaN
44      715.0       NaN          357.0       51.0000      135.0      74.0
45        NaN       NaN            NaN           NaN     6973.0      81.0
46      102.0   74.0000           51.0       37.0000       78.0      33.0
47      511.0   78.0000          255.0       89.0000      314.0      45.0
48      214.0   40.0000          107.0       20.0000       63.0      50.0
49       25.0   28.0000           12.0       65.0000       88.0       NaN
50      193.0   57.0000           96.0       78.0000      181.0       NaN
51        NaN       NaN            NaN           NaN     5758.0      26.0
52     1330.0   16.0000            NaN           NaN        NaN       NaN
53       58.0   76.0000           29.0       38.0000       64.0      17.0
54      206.0   67.0000          103.0       33.0000       55.0      80.0
55       33.0   33.0000           16.0       67.0000       31.0      67.0
56      124.0   33.0000           62.0       17.0000      118.0      41.0

                     town state                       occupation  \
0               Baltimore    MD                              Esq
1             George Town    MD                        Merchants
2               Baltimore    MD                         Merchant
3               Baltimore    MD       Executor of Thomas Sollars
4        Baltimore County    MD       Executor of Sabret Sollars
5          Baltimore Town    MD                         Merchant
6               Baltimore    MD                         Merchant
7               Baltimore    MD                         Merchant
8             Bladensburg    MD                         Merchant
9               Annapolis    MD                        Shoemaker
10              Baltimore    MD                         Merchant
11            George Town    MD                         Merchant
12              Baltimore    MD                         Merchant
13       Baltimore County    MD                         Merchant
14              Annapolis    MD                        Shoemaker
15         Baltimore Town    MD                         Merchant
16              Baltimore    MD                         Merchant
17              Annapolis    MD                         Merchant
18              Annapolis    MD    Administrator of John Johnson
19              Annapolis    MD                         Merchant
20              Annapolis    MD                         Merchant
21            George Town    MD                         Merchant
22              Baltimore    MD                         Merchant
23              Baltimore    MD                         Merchant
24              Baltimore    MD                         Merchant
25            George Town    MD                        Merchants
26         Baltimore Town    MD                         Merchant
27       Baltimore County    MD                         Merchant
28              Annapolis    MD                         Merchant
29              Annapolis    MD                         Merchant
30              Annapolis    MD                         Merchant
31              Baltimore    MD                         Merchant
32              Baltimore    MD                         Merchant
33         Harford County    MD           Executor of Moses Ruth
34              Baltimore    MD                         Merchant
35            George Town    MD                         Merchant
36       Baltimore County    MD                         Merchant
37       Baltimore County    MD                         Merchant
38              Baltimore    MD                         Merchant
39  Prince Georges County    MD  Adminstrator of Robert Whitaker
40              Baltimore    MD                         Merchant
41              Baltimore    MD                         Merchant
42              Annapolis    MD                         Merchant
43              Baltimore    MD                         Merchant
44              Baltimore    MD                         Merchant
45              Baltimore    MD                         Merchant
46              Annapolis    MD                         Merchant
47              Baltimore    MD                         Merchant
48              Baltimore    MD                         Merchant
49              Baltimore    MD                         Merchant
50              Annapolis    MD                         Merchant
51              Annapolis    MD                         Merchant
52              Baltimore    MD                         Merchant
53         Baltimore Town    MD                         Merchant
54   Fredrick Co Maryland    MD                Frederick Company
55               Maryland    MD                       Shopkeeper
56               Maryland    MD                         Merchant

                   county name_type      6p_total
0        Baltimore County      town     17.665733
1            Cecil County      town  26745.770000
2        Baltimore County      town   1243.420000
3        Baltimore County      town    117.900000
4        Baltimore County    county    141.030000
5        Baltimore County      town     40.810000
6        Baltimore County      town    789.240000
7        Baltimore County      town    812.330000
8   Prince Georges County      town    341.080000
9     Anne Arundel County      town   1122.480000
10       Baltimore County      town   1926.700000
11           Cecil County      town   3120.910000
12       Baltimore County      town     61.940000
13       Baltimore County    county    946.410000
14    Anne Arundel County      town    114.590000
15       Baltimore County      town   6565.310000
16       Baltimore County      town    208.810000
17    Anne Arundel County      town           NaN
18    Anne Arundel County      town     22.500000
19    Anne Arundel County      town    504.280000
20    Anne Arundel County      town    230.650000
21           Cecil County      town  21854.300000
22       Baltimore County      town    272.480000
23       Baltimore County      town    221.460000
24       Baltimore County      town   1503.320000
25           Cecil County      town   3128.300000
26       Baltimore County      town   1085.240000
27       Baltimore County    county    362.910000
28    Anne Arundel County      town     82.550000
29    Anne Arundel County      town     95.620000
30    Anne Arundel County      town           NaN
31       Baltimore County      town    233.700000
32       Baltimore County      town    184.890000
33         Harford County    county     44.840000
34       Baltimore County      town    902.470000
35           Cecil County      town           NaN
36       Baltimore County    county           NaN
37       Baltimore County    county           NaN
38       Baltimore County      town           NaN
39  Prince Georges County    county           NaN
40       Baltimore County      town    139.420000
41       Baltimore County      town   2138.940000
42    Anne Arundel County      town    206.660000
43       Baltimore County      town           NaN
44       Baltimore County      town           NaN
45       Baltimore County      town           NaN
46    Anne Arundel County      town    102.740000
47       Baltimore County      town    511.780000
48       Baltimore County      town    214.400000
49       Baltimore County      town     25.280000
50    Anne Arundel County      town    193.570000
51    Anne Arundel County      town           NaN
52       Baltimore County      town   1330.160000
53       Baltimore County      town     58.760000
54       Frederick County    county    206.670000
55                    NaN     state     33.330000
56                    NaN     state    124.330000

In [1390]:
OccsTotalsMD = AllOccsMD.groupby('occupation')['6p_total'].apply(sum).reset_index() #Combine duplicate occupations.
OccsTotalsMD['# of people'] = OccsTotalsMD['occupation'].map(AllOccsMD['occupation'].value_counts(dropna=False)) #Map # of people that belong to each occupation.
print(OccsTotalsMD.to_string())

                         occupation      6p_total  # of people
0     Administrator of John Johnson     22.500000            1
1   Adminstrator of Robert Whitaker      0.000000            1
2                               Esq     17.665733            1
3            Executor of Moses Ruth     44.840000            1
4        Executor of Sabret Sollars    141.030000            1
5        Executor of Thomas Sollars    117.900000            1
6                 Frederick Company    206.670000            1
7                          Merchant  48636.870000           45
8                         Merchants  29874.070000            2
9                         Shoemaker   1237.070000            2
10                       Shopkeeper     33.330000            1

In [1391]:
OccsTotalsMD = RemoveStopwords(OccsTotalsMD) 
print(OccsTotalsMD.to_string())

                      occupation      6p_total  # of people
0     administrator john johnson     22.500000            1
1   adminstrator robert whitaker      0.000000            1
2                            esq     17.665733            1
3            executor moses ruth     44.840000            1
4        executor sabret sollars    141.030000            1
5        executor thomas sollars    117.900000            1
6              frederick company    206.670000            1
7                       merchant  48636.870000           45
8                      merchants  29874.070000            2
9                      shoemaker   1237.070000            2
10                    shopkeeper     33.330000            1

In [1392]:
FindRemoveConst(OccsTotalsMD['occupation'].tolist())

Occupation Before --> Occupation After
--------------------------------------


administrator john johnson --> administrator
adminstrator robert whitaker --> adminstrator
esq --> esq
executor moses ruth --> executor
executor sabret sollars --> executor
executor thomas sollars --> executor
frederick company --> frederick company
merchant --> merchant
merchants --> merchants
shoemaker --> shoemaker
shopkeeper --> shopkeeper

In [1393]:
PrintFutureOccupations(OccsTotalsMD['occupation'].tolist())

Occupations --> Potential Cleaned Occupations
---------------------------------------------


administrator --> administrator
adminstrator --> adminstrator
esq --> esq
executor --> executor
executor --> executor
executor --> executor
frederick company --> frederick
merchant --> merchant
merchants --> merchants
shoemaker --> shoemaker
shopkeeper --> shopkeeper

In [1394]:
OccsTotalsMD = MergeOccupations(OccsTotalsMD)

After Cleaning
--------------


           occupation      6p_total  # of people % of total people
0       administrator     22.500000            1              None
1        adminstrator      0.000000            1              None
2                 esq     17.665733            1              None
3            executor     44.840000            1              None
4            executor    141.030000            1              None
5            executor    117.900000            1              None
6   frederick company    206.670000            1              None
7            merchant  48636.870000           45              None
8           merchants  29874.070000            2              None
9           shoemaker   1237.070000            2              None
10         shopkeeper     33.330000            1              None


After Removing Duplicates and Summing
-------------------------------------


          occupation      6p_total  # of people  % of total people
0      administrator     22.500000            1                  0
1       adminstrator      0.000000            1                  0
2                esq     17.665733            1                  0
3           executor    303.770000            3                  0
4  frederick company    206.670000            1                  0
5           merchant  48636.870000           45                  0
6          merchants  29874.070000            2                  0
7          shoemaker   1237.070000            2                  0
8         shopkeeper     33.330000            1                  0


Removed: adminstrator --> administrator
Removed: merchants --> merchant


After Using Fuzzy String Matching
---------------------------------


          occupation      6p_total  # of people  % of total people  average debt per person
0           merchant  78510.940000           47          82.456140              1670.445532
1          shoemaker   1237.070000            2           3.508772               618.535000
2           executor    303.770000            3           5.263158               101.256667
3  frederick company    206.670000            1           1.754386               206.670000
4         shopkeeper     33.330000            1           1.754386                33.330000
5      administrator     22.500000            2           3.508772                11.250000
6                esq     17.665733            1           1.754386                17.665733

In [1395]:
TurnToExcel(OccsTotalsMD, State)

# North Carolina

In [1396]:
State = 'NC'
AllOccsNC = AllOccs[AllOccs['state'] == State] #Separate rows by state
AllOccsNC = AllOccsNC.dropna(subset=['occupation']).reset_index(drop=True) #Drop any rows w/o an occupation listed. 
print(AllOccsNC)

    6p_Dollar  6p_Cents  6p_def_Dollar  6p_def_Cents  3p_Dollar  3p_Cents  \
0        85.0      25.0           42.0          62.0       41.0      82.0
1      2008.0      37.0         1004.0          18.0     1324.0      76.0
2        48.0      50.0           24.0          25.0        NaN       NaN
3       176.0       NaN           88.0           NaN      150.0      67.0
4     12283.0      44.0         6141.0          71.0    10781.0      94.0
5        41.0      26.0           20.0          64.0       15.0      83.0
6       206.0       8.0          103.0           5.0       50.0      69.0
7       228.0      12.0          114.0           6.0      157.0      80.0
8       252.0      32.0          126.0          16.0        NaN       NaN
9      4780.0      84.0         2390.0          41.0     4998.0      96.0
10        0.0       0.0          892.0          66.0     1339.0       NaN
11       62.0      51.0           31.0          26.0        NaN       NaN

              town state                   occupation          county  \
0     Wayne County    NC                     Merchant    Wayne County
1          Newbern    NC            Doctors of Physic   Craven County
2         Halifax     NC                    Merchants  Halifax County
3          Edenton    NC                    Merchants   Chowan County
4   North Carolina    NC                    Treasurer             NaN
5     Hillsborough    NC                     Merchant   Orange County
6          Newbern    NC                     Merchant   Craven County
7          Newbern    NC                     Merchant   Craven County
8          Newbern    NC                     Merchant   Craven County
9              NaN    NC  The State of North Carolina             NaN
10  North Carolina    NC      Asse of John B Ashe Exe             NaN
11  North Carolina    NC                       Farmer             NaN

   name_type  6p_total
0     county     85.25
1       town   2008.37
2       town     48.50
3       town       NaN
4      state  12283.44
5       town     41.26
6       town    206.08
7       town    228.12
8       town    252.32
9      state   4780.84
10     state      0.00
11     state     62.51

In [1397]:
OccsTotalsNC = AllOccsNC.groupby('occupation')['6p_total'].apply(sum).reset_index() #Combine duplicate occupations.
OccsTotalsNC['# of people'] = OccsTotalsNC['occupation'].map(AllOccsNC['occupation'].value_counts(dropna=False)) #Map # of people that belong to each occupation.
print(OccsTotalsNC.to_string())

                    occupation  6p_total  # of people
0      Asse of John B Ashe Exe      0.00            1
1            Doctors of Physic   2008.37            1
2                       Farmer     62.51            1
3                     Merchant    813.03            5
4                    Merchants     48.50            2
5  The State of North Carolina   4780.84            1
6                    Treasurer  12283.44            1

In [1398]:
OccsTotalsNC = RemoveStopwords(OccsTotalsNC) 
print(OccsTotalsNC.to_string())

                 occupation  6p_total  # of people
0      asse john b ashe exe      0.00            1
1            doctors physic   2008.37            1
2                    farmer     62.51            1
3                  merchant    813.03            5
4                 merchants     48.50            2
5  the state north carolina   4780.84            1
6                 treasurer  12283.44            1

In [1399]:
FindRemoveConst(OccsTotalsNC['occupation'].tolist())

Occupation Before --> Occupation After
--------------------------------------


asse john b ashe exe --> asse john b
doctors physic --> doctors physic
farmer --> farmer
merchant --> merchant
merchants --> merchants
the state north carolina --> the state
treasurer --> treasurer

In [1400]:
Remove = 0

In [1401]:
PrintFutureOccupations(OccsTotalsNC['occupation'].tolist())

Occupations --> Potential Cleaned Occupations
---------------------------------------------


asse john b ashe exe --> asse
doctors physic --> doctors
farmer --> farmer
merchant --> merchant
merchants --> merchants
the state north carolina --> carolina
treasurer --> treasurer

In [1402]:
OccsTotalsNC = MergeOccupations(OccsTotalsNC)

After Cleaning
--------------


  occupation  6p_total  # of people % of total people
0  executors      0.00            1              None
1    doctors   2008.37            1              None
2     farmer     62.51            1              None
3   merchant    813.03            5              None
4  merchants     48.50            2              None
5       None   4780.84            1              None
6  treasurer  12283.44            1              None


After Removing Duplicates and Summing
-------------------------------------


  occupation  6p_total  # of people  % of total people
0    doctors   2008.37            1                  0
1  executors      0.00            1                  0
2     farmer     62.51            1                  0
3   merchant    813.03            5                  0
4  merchants     48.50            2                  0
5  treasurer  12283.44            1                  0


Removed: merchants --> merchant


After Using Fuzzy String Matching
---------------------------------


  occupation  6p_total  # of people  % of total people  average debt per person
0  treasurer  12283.44            1           9.090909             12283.440000
1    doctors   2008.37            1           9.090909              2008.370000
2   merchant    861.53            7          63.636364               123.075714
3     farmer     62.51            1           9.090909                62.510000
4  executors      0.00            1           9.090909                 0.000000

In [1403]:
TurnToExcel(OccsTotalsNC, State)

# New Hampshire

In [1404]:
State = 'NH'
AllOccsNH = AllOccs[AllOccs['state'] == State] #Separate rows by state
AllOccsNH = AllOccsNH.dropna(subset=['occupation']).reset_index(drop=True) #Drop any rows w/o an occupation listed. 
print(AllOccsNH)

     6p_Dollar  6p_Cents  6p_def_Dollar  6p_def_Cents  3p_Dollar  3p_Cents  \
0        200.0       NaN          100.0           NaN       54.0       NaN
1        778.0       4.0          389.0           2.0      288.0       NaN
2       1490.0      73.0          745.0          37.0      436.0      77.0
3       2100.0      48.0         1050.0          23.0      928.0      46.0
4        149.0      62.0           74.0          81.0        NaN       NaN
..         ...       ...            ...           ...        ...       ...
161       81.0      69.0           40.0          84.0      741.0      54.0
162      187.0       2.0           93.0          51.0      146.0      70.0
163       12.0      73.0            6.0          37.0        0.0       0.0
164        9.0      16.0            4.0          58.0       10.0      16.0
165       40.0      67.0           20.0          33.0       25.0      96.0

                town state occupation             county name_type  6p_total
0         Portsmouth    NH      Widow  Rockingham County      town       NaN
1    North Hampshire    NH     Farmer                NaN     other    778.04
2         Portsmouth    NH  Physician  Rockingham County      town   1490.73
3             Exeter    NH      Widow  Rockingham County      town   2100.48
4         Rockingham    NH  Treasurer  Rockingham County    county    149.62
..               ...   ...        ...                ...       ...       ...
161           Exeter    NH   Merchant  Rockingham County      town     81.69
162       Portsmouth    NH  Physician  Rockingham County      town    187.02
163       Portsmouth    NH    Esquire  Rockingham County      town     12.73
164       Portsmouth    NH     Trader  Rockingham County      town      9.16
165       Alexandria    NH   Merchant     Grafton County      town     40.67

[166 rows x 12 columns]

In [1405]:
OccsTotalsNH = AllOccsNH.groupby('occupation')['6p_total'].apply(sum).reset_index() #Combine duplicate occupations.
OccsTotalsNH['# of people'] = OccsTotalsNH['occupation'].map(AllOccsNH['occupation'].value_counts(dropna=False)) #Map # of people that belong to each occupation.
print(OccsTotalsNH.to_string())

    occupation  6p_total  # of people
0        Baker   2159.04            1
1   Blacksmith     54.88            1
2        Clerk    715.60            7
3   Cordwainer    742.05            2
4      Esquire  61539.89           66
5       Farmer    778.04            1
6    Gentleman   3603.06            6
7    Goldsmith    871.32            1
8       Joiner    106.61            2
9     Marniner    785.62            2
10    Merchant  29715.41           26
11     Painter     48.61            1
12   Physician   7111.43           18
13    Spinster     89.13            1
14      Trader   2807.27            8
15   Treasurer    149.62            1
16       Widow   8790.45           10
17      Yeoman   3397.94           12

In [1406]:
OccsTotalsNH = RemoveStopwords(OccsTotalsNH) 
print(OccsTotalsNH.to_string())

    occupation  6p_total  # of people
0        baker   2159.04            1
1   blacksmith     54.88            1
2        clerk    715.60            7
3   cordwainer    742.05            2
4      esquire  61539.89           66
5       farmer    778.04            1
6    gentleman   3603.06            6
7    goldsmith    871.32            1
8       joiner    106.61            2
9     marniner    785.62            2
10    merchant  29715.41           26
11     painter     48.61            1
12   physician   7111.43           18
13    spinster     89.13            1
14      trader   2807.27            8
15   treasurer    149.62            1
16       widow   8790.45           10
17      yeoman   3397.94           12

In [1407]:
FindRemoveConst(OccsTotalsNH['occupation'].tolist())

Occupation Before --> Occupation After
--------------------------------------


baker --> baker
blacksmith --> blacksmith
clerk --> clerk
cordwainer --> cordwainer
esquire --> esquire
farmer --> farmer
gentleman --> gentleman
goldsmith --> goldsmith
joiner --> joiner
marniner --> marniner
merchant --> merchant
painter --> painter
physician --> physician
spinster --> spinster
trader --> trader
treasurer --> treasurer
widow --> widow
yeoman --> yeoman

In [1408]:
PrintFutureOccupations(OccsTotalsNH['occupation'].tolist())

Occupations --> Potential Cleaned Occupations
---------------------------------------------


baker --> baker
blacksmith --> blacksmith
clerk --> clerk
cordwainer --> cordwainer
esquire --> esquire
farmer --> farmer
gentleman --> gentleman
goldsmith --> goldsmith
joiner --> joiner
marniner --> marniner
merchant --> merchant
painter --> painter
physician --> physician
spinster --> spinster
trader --> trader
treasurer --> treasurer
widow --> widow
yeoman --> yeoman

In [1409]:
OccsTotalsNH = MergeOccupations(OccsTotalsNH)

After Cleaning
--------------


    occupation  6p_total  # of people % of total people
0        baker   2159.04            1              None
1   blacksmith     54.88            1              None
2        clerk    715.60            7              None
3    shoemaker    742.05            2              None
4          esq  61539.89           66              None
5       farmer    778.04            1              None
6    gentleman   3603.06            6              None
7    goldsmith    871.32            1              None
8    carpenter    106.61            2              None
9     marniner    785.62            2              None
10    merchant  29715.41           26              None
11     painter     48.61            1              None
12      doctor   7111.43           18              None
13    spinster     89.13            1              None
14      trader   2807.27            8              None
15   treasurer    149.62            1              None
16       widow   8790.45           10              None
17      farmer   3397.94           12              None


After Removing Duplicates and Summing
-------------------------------------


    occupation  6p_total  # of people  % of total people
0        baker   2159.04            1                  0
1   blacksmith     54.88            1                  0
2    carpenter    106.61            2                  0
3        clerk    715.60            7                  0
4       doctor   7111.43           18                  0
5          esq  61539.89           66                  0
6       farmer   4175.98           13                  0
7    gentleman   3603.06            6                  0
8    goldsmith    871.32            1                  0
9     marniner    785.62            2                  0
10    merchant  29715.41           26                  0
11     painter     48.61            1                  0
12   shoemaker    742.05            2                  0
13    spinster     89.13            1                  0
14      trader   2807.27            8                  0
15   treasurer    149.62            1                  0
16       widow   8790.45           10                  0




After Using Fuzzy String Matching
---------------------------------


    occupation  6p_total  # of people  % of total people  average debt per person
0          esq  61539.89           66          39.759036               932.422576
1     merchant  29715.41           26          15.662651              1142.900385
2        widow   8790.45           10           6.024096               879.045000
3       doctor   7111.43           18          10.843373               395.079444
4       farmer   4175.98           13           7.831325               321.229231
5    gentleman   3603.06            6           3.614458               600.510000
6       trader   2807.27            8           4.819277               350.908750
7        baker   2159.04            1           0.602410              2159.040000
8    goldsmith    871.32            1           0.602410               871.320000
9     marniner    785.62            2           1.204819               392.810000
10   shoemaker    742.05            2           1.204819               371.025000
11       clerk    715.60            7           4.216867               102.228571
12   treasurer    149.62            1           0.602410               149.620000
13   carpenter    106.61            2           1.204819                53.305000
14    spinster     89.13            1           0.602410                89.130000
15  blacksmith     54.88            1           0.602410                54.880000
16     painter     48.61            1           0.602410                48.610000

In [1410]:
TurnToExcel(OccsTotalsNH, State)

# New Jersey

In [1411]:
State = 'NJ'
AllOccsNJ = AllOccs[AllOccs['state'] == State] #Separate rows by state
AllOccsNJ = AllOccsNJ.dropna(subset=['occupation']).reset_index(drop=True) #Drop any rows w/o an occupation listed. 
print(AllOccsNJ)

   6p_Dollar  6p_Cents  6p_def_Dollar  6p_def_Cents  3p_Dollar  3p_Cents  \
0     1324.0      81.0          662.0          41.0      675.0      52.0
1     1325.0      68.0          662.0          85.0      714.0      50.0
2      384.0      34.0          192.0          65.0      156.0      34.0
3     5017.0       5.0         2508.0          52.0     2053.0      54.0
4     1046.0      10.0          523.0           5.0      297.0      74.0
5      235.0       1.0          117.0          51.0      139.0      10.0
6        3.0      34.0            1.0          66.0        2.0      90.0
7      184.0       NaN           92.0           NaN      437.0       6.0
8       16.0      67.0            8.0          33.0        8.0      57.0

                         town state  \
0                  New Jersey    NJ
1                  New Jersey    NJ
2                  New Jersey    NJ
3                  New Jersey    NJ
4                  New Jersey    NJ
5  Monmouth County New Jersey    NJ
6                    Cape May    NJ
7                  New Jersey    NJ
8  Somerset County New Jersey    NJ

                                          occupation           county  \
0               Executor of Michael De Mott deceased              NaN
1                                    Attorney at law              NaN
2                                          Physician              NaN
3                                          Gentleman              NaN
4                                          Gentleman              NaN
5                                           Merchant  Monmouth County
6                                             Farmer  Cape May County
7                                            Esquire              NaN
8  In trust for Jacobus Van Eis of Somerset Count...  Somerset County

  name_type  6p_total
0     state   1324.81
1     state   1325.68
2     state    384.34
3     state   5017.05
4     state   1046.10
5    county    235.01
6      town      3.34
7     state       NaN
8    county     16.67

In [1412]:
OccsTotalsNJ = AllOccsNJ.groupby('occupation')['6p_total'].apply(sum).reset_index() #Combine duplicate occupations.
OccsTotalsNJ['# of people'] = OccsTotalsNJ['occupation'].map(AllOccsNJ['occupation'].value_counts(dropna=False)) #Map # of people that belong to each occupation.
print(OccsTotalsNJ.to_string())

                                                   occupation  6p_total  # of people
0                                             Attorney at law   1325.68            1
1                                                     Esquire      0.00            1
2                        Executor of Michael De Mott deceased   1324.81            1
3                                                      Farmer      3.34            1
4                                                   Gentleman   6063.15            2
5  In trust for Jacobus Van Eis of Somerset County New Jersey     16.67            1
6                                                    Merchant    235.01            1
7                                                   Physician    384.34            1

In [1413]:
OccsTotalsNJ = RemoveStopwords(OccsTotalsNJ) 
print(OccsTotalsNJ.to_string())

                                            occupation  6p_total  # of people
0                                         attorney law   1325.68            1
1                                              esquire      0.00            1
2                    executor michael de mott deceased   1324.81            1
3                                               farmer      3.34            1
4                                            gentleman   6063.15            2
5  in trust jacobus van eis somerset county new jersey     16.67            1
6                                             merchant    235.01            1
7                                            physician    384.34            1

In [1414]:
FindRemoveConst(OccsTotalsNJ['occupation'].tolist())

Occupation Before --> Occupation After
--------------------------------------


attorney law --> attorney law
esquire --> esquire
executor michael de mott deceased --> executor michael de mott deceased
farmer --> farmer
gentleman --> gentleman
in trust jacobus van eis somerset county new jersey --> in trust jacobus van eis somerset county new jersey
merchant --> merchant
physician --> physician

In [1415]:
Remove = 2

In [1416]:
PrintFutureOccupations(OccsTotalsNJ['occupation'].tolist())

Occupations --> Potential Cleaned Occupations
---------------------------------------------


attorney law --> attorney
esquire --> esquire
executor michael de --> executor
farmer --> farmer
gentleman --> gentleman
in trust jacobus van eis somerset county --> county
merchant --> merchant
physician --> physician

In [1417]:
OccsTotalsNJ = MergeOccupations(OccsTotalsNJ)

After Cleaning
--------------


  occupation  6p_total  # of people % of total people
0   attorney   1325.68            1              None
1        esq      0.00            1              None
2   executor   1324.81            1              None
3     farmer      3.34            1              None
4  gentleman   6063.15            2              None
5   assignee     16.67            1              None
6   merchant    235.01            1              None
7     doctor    384.34            1              None


After Removing Duplicates and Summing
-------------------------------------


  occupation  6p_total  # of people  % of total people
0   assignee     16.67            1                  0
1   attorney   1325.68            1                  0
2     doctor    384.34            1                  0
3        esq      0.00            1                  0
4   executor   1324.81            1                  0
5     farmer      3.34            1                  0
6  gentleman   6063.15            2                  0
7   merchant    235.01            1                  0




After Using Fuzzy String Matching
---------------------------------


  occupation  6p_total  # of people  % of total people  average debt per person
0  gentleman   6063.15            2          22.222222                 3031.575
1   attorney   1325.68            1          11.111111                 1325.680
2   executor   1324.81            1          11.111111                 1324.810
3     doctor    384.34            1          11.111111                  384.340
4   merchant    235.01            1          11.111111                  235.010
5   assignee     16.67            1          11.111111                   16.670
6     farmer      3.34            1          11.111111                    3.340
7        esq      0.00            1          11.111111                    0.000

In [1418]:
TurnToExcel(OccsTotalsNJ, State)

# New York

In [1419]:
State = 'NY'
AllOccsNY = AllOccs[AllOccs['state'] == State] #Separate rows by state
AllOccsNY = AllOccsNY.dropna(subset=['occupation']).reset_index(drop=True) #Drop any rows w/o an occupation listed. 
print(AllOccsNY)

    6p_Dollar  6p_Cents  6p_def_Dollar  6p_def_Cents  3p_Dollar  3p_Cents  \
0       131.0   15.0000           65.0       57.0000      146.0     69.00
1       118.0   45.0000           59.0       23.0000      124.0     94.00
2        23.0   69.0000           11.0       84.0000       24.0     99.00
3       261.0   31.0000          130.0       65.0000      340.0     53.00
4       933.0   33.0000          466.0       67.0000      781.0     67.00
5       555.0   86.0000          277.0       93.0000      637.0     27.00
6       230.0   90.0000          115.0       45.0000      179.0     91.00
7       377.0   49.0000          188.0       75.0000      385.0     98.00
8       286.0   43.0000          143.0       22.0000      248.0     68.00
9         NaN    1.0000            NaN           NaN        NaN       NaN
10        NaN       NaN            NaN           NaN     1601.0     94.00
11        1.0   46.7633            1.0       23.3833        1.0     63.34
12       20.0   34.5500           16.0       17.2700       15.0     37.71
13     1776.0   12.0000          888.0        6.0000     1553.0     33.00
14      685.0   93.0000          342.0       97.0000      203.0     67.00
15      334.0   70.0000          167.0       35.0000      340.0     68.00
16      609.0   42.0000          304.0       71.0000      432.0       NaN
17     1867.0   88.0000          933.0       93.0000      517.0     20.00
18      690.0   96.0000          345.0       48.0000      665.0     28.00
19      222.0    5.0000          111.0        3.0000      351.0     21.00
20       88.0   60.0000           44.0       30.0000       62.0     43.00
21      138.0   58.0000           69.0       29.0000       60.0     12.00
22      174.0   62.0000           87.0       31.0000        NaN       NaN
23      581.0   48.0000          290.0       74.0000      545.0     12.00
24      255.0   94.0000          127.0       97.0000      369.0     52.00
25       55.0   71.0000           27.0       86.0000       31.0     25.00
26      407.0   50.0000          203.0       75.0000      381.0      1.00
27       29.0   93.0000           14.0       96.0000        NaN       NaN
28      361.0   11.0000          180.0       55.0000      315.0     27.00
29      120.0   25.0000           60.0       12.0000       97.0     70.00

                 town state    occupation           county name_type  \
0   State of New York    NY  Schoolmaster              NaN     state
1   State of New York    NY        Farmer              NaN     state
2   State of New York    NY      Merchant              NaN     state
3    City of New York    NY      Merchant  New York County      town
4   State of New York    NY     Physician              NaN     state
5            New York    NY        Farmer              NaN     state
6    City of New York    NY      Merchant  New York County      town
7   State of New York    NY       Mariner              NaN     state
8            New York    NY      Merchant              NaN     state
9    City of New York    NY      Merchant  New York County      town
10   City of New York    NY      Merchant  New York County      town
11           New York    NY     Merchants              NaN     state
12           New York    NY      Merchant              NaN     state
13           New York    NY        Broker              NaN     state
14           New York    NY      Merchant              NaN     state
15           New York    NY      Merchant              NaN     state
16           New York    NY      Merchant              NaN     state
17           New York    NY     Merchants              NaN     state
18           New York    NY      Merchant              NaN     state
19           New York    NY      Merchant              NaN     state
20           New York    NY      Merchant              NaN     state
21           New York    NY      Merchant              NaN     state
22           New York    NY      Merchant              NaN     state
23           New York    NY     Merchants              NaN     state
24           New York    NY      Merchant              NaN     state
25           New York    NY      Merchant              NaN     state
26           New York    NY      Merchant              NaN     state
27           New York    NY      Merchant              NaN     state
28           New York    NY      Merchant              NaN     state
29           New York    NY      Merchant              NaN     state

       6p_total
0    131.150000
1    118.450000
2     23.690000
3    261.310000
4    933.330000
5    555.860000
6    230.900000
7    377.490000
8    286.430000
9           NaN
10          NaN
11     1.467633
12    20.345500
13  1776.120000
14   685.930000
15   334.700000
16   609.420000
17  1867.880000
18   690.960000
19   222.050000
20    88.600000
21   138.580000
22   174.620000
23   581.480000
24   255.940000
25    55.710000
26   407.500000
27    29.930000
28   361.110000
29   120.250000

In [1420]:
OccsTotalsNY = AllOccsNY.groupby('occupation')['6p_total'].apply(sum).reset_index() #Combine duplicate occupations.
OccsTotalsNY['# of people'] = OccsTotalsNY['occupation'].map(AllOccsNY['occupation'].value_counts(dropna=False)) #Map # of people that belong to each occupation.
print(OccsTotalsNY.to_string())

     occupation     6p_total  # of people
0        Broker  1776.120000            1
1        Farmer   674.310000            2
2       Mariner   377.490000            1
3      Merchant  4997.975500           21
4     Merchants  2450.827633            3
5     Physician   933.330000            1
6  Schoolmaster   131.150000            1

In [1421]:
OccsTotalsNY = RemoveStopwords(OccsTotalsNY) 
print(OccsTotalsNY.to_string())

     occupation     6p_total  # of people
0        broker  1776.120000            1
1        farmer   674.310000            2
2       mariner   377.490000            1
3      merchant  4997.975500           21
4     merchants  2450.827633            3
5     physician   933.330000            1
6  schoolmaster   131.150000            1

In [1422]:
PrintFutureOccupations(OccsTotalsNY['occupation'].tolist())

Occupations --> Potential Cleaned Occupations
---------------------------------------------


broker --> broker
farmer --> farmer
mariner --> mariner
merchant --> merchant
merchants --> merchants
physician --> physician
schoolmaster --> schoolmaster

In [1423]:
OccsTotalsNY = MergeOccupations(OccsTotalsNY)

After Cleaning
--------------


     occupation     6p_total  # of people % of total people
0        broker  1776.120000            1              None
1        farmer   674.310000            2              None
2       mariner   377.490000            1              None
3      merchant  4997.975500           21              None
4     merchants  2450.827633            3              None
5        doctor   933.330000            1              None
6  schoolmaster   131.150000            1              None


After Removing Duplicates and Summing
-------------------------------------


     occupation     6p_total  # of people  % of total people
0        broker  1776.120000            1                  0
1        doctor   933.330000            1                  0
2        farmer   674.310000            2                  0
3       mariner   377.490000            1                  0
4      merchant  4997.975500           21                  0
5     merchants  2450.827633            3                  0
6  schoolmaster   131.150000            1                  0


Removed: merchants --> merchant


After Using Fuzzy String Matching
---------------------------------


     occupation     6p_total  # of people  % of total people  average debt per person
0      merchant  7448.803133           24          80.000000               310.366797
1        broker  1776.120000            1           3.333333              1776.120000
2        doctor   933.330000            1           3.333333               933.330000
3        farmer   674.310000            2           6.666667               337.155000
4       mariner   377.490000            1           3.333333               377.490000
5  schoolmaster   131.150000            1           3.333333               131.150000

In [1424]:
TurnToExcel(OccsTotalsNY, State)

# Pennsylvania

In [1425]:
State = 'PA'
AllOccsPA = AllOccs[AllOccs['state'] == State] #Separate rows by state
AllOccsPA = AllOccsPA.dropna(subset=['occupation']).reset_index(drop=True) #Drop any rows w/o an occupation listed. 
print(AllOccsPA)

     6p_Dollar  6p_Cents  6p_def_Dollar  6p_def_Cents  3p_Dollar  3p_Cents  \
0          1.0    102.14            1.0         51.07        1.0    117.34
1       3212.0     38.00         1606.0         19.00     1400.0     66.00
2       4529.0     96.00         2264.0         98.00     3312.0     47.00
3        607.0      8.00          303.0         54.00      146.0     51.00
4       2050.0     74.00         1025.0         37.00      745.0     57.00
..         ...       ...            ...           ...        ...       ...
410     9544.0     97.00         4772.0         48.00     8590.0     46.00
411      880.0     75.00          440.0         38.00      753.0     91.00
412       20.0     25.00           10.0         13.00        NaN       NaN
413       43.0     60.00           21.0         80.00        NaN       NaN
414      150.0       NaN           75.0           NaN      138.0     90.00

                         town state occupation               county name_type  \
0                Philadelphia    PA    Mariner  Philadelphia County      town
1                Philadelphia    PA   Merchant  Philadelphia County      town
2                Philadelphia    PA   Merchant  Philadelphia County      town
3                Philadelphia    PA   Merchant  Philadelphia County      town
4       Carlisle Pennsylvania    PA   Merchant    Cumberland County      town
..                        ...   ...        ...                  ...       ...
410              Philadelphia    PA    Esquire  Philadelphia County      town
411              Philadelphia    PA    Esquire  Philadelphia County      town
412  York County Pennsylvania    PA    Esquire          York County    county
413                 York Town    PA     Taylor          York County      town
414              Philadelphia    PA   Merchant  Philadelphia County      town

      6p_total
0       2.0214
1    3212.3800
2    4529.9600
3     607.0800
4    2050.7400
..         ...
410  9544.9700
411   880.7500
412    20.2500
413    43.6000
414        NaN

[415 rows x 12 columns]

In [1426]:
OccsTotalsPA = AllOccsPA.groupby('occupation')['6p_total'].apply(sum).reset_index() #Combine duplicate occupations.
OccsTotalsPA['# of people'] = OccsTotalsPA['occupation'].map(AllOccsPA['occupation'].value_counts(dropna=False)) #Map # of people that belong to each occupation.
print(OccsTotalsPA.to_string())

                                                         occupation     6p_total  # of people
0                                                        AH.Vat Law      58.0500            1
1        Adm of Alexander McCaraher late of Chester County Deceased     799.5100            1
2                            Administer of the estate of Job Vernon    1865.4400            1
3                                  Administor to the Est of J James      27.5300            1
4                                                   Attorney at Law    1223.6200            1
5                                                       Black Smith     692.2500            1
6                                                       Book Binder     783.0700            1
7                                                            Broker   64008.8400           60
8                                                             Clerk    1855.5800            4
9                                                                Co    2898.8600            4
10                                                      Conveyancer     108.4000            1
11                                                      Cordwainder     281.2500            1
12                                                         Druggist    4922.4300            2
13                                                          Esquier   20672.0700            6
14                                                          Esquire   20770.1700           15
15                                     Estate John Benezet Deceased       0.0000            1
16                                                        Estate of    1979.6000            1
17                                           Ex Philadelphia County    1802.9600            1
18                                           Ex of William Honeyman     668.9600            1
19                          Ex to the Estate of John Baird Bucks Co     115.9400            1
20                              Executers of David Grierlate Y Town    5658.3600            1
21                     Executor to the Estate Abraham Hull deceased      47.9100            1
22                      Executor to the Estate Mathias Londenberger     493.8300            1
23      Executor to the Estate of Doctor Benjamin Franklin deceased       0.0000            1
24                                                           Farmer    1685.8100            5
25                                                          Furrier    3107.1800            1
26                                                        Gentleman    7540.6600            6
27                                                        Goldsmith     142.2200            1
28                                           Guardian to Adam Grier    1605.8000            1
29                                        Guardian to Maria Benezet    2267.5000            1
30                                    Guardian to William Chevalier     666.6600            1
31                                                           Hatter    2291.7600            3
32                                                       Inn Keeper    1668.6800            3
33                                                    Junior Broker   10691.1200            3
34                                                              Law    3942.1100            2
35                                                           Lawyer    3472.9000            1
36                                                          Mariner    3906.5714            5
37                                                         Merchant  553198.9900          229
38  Merchant Executer to the Estate of John Schweig Hauser deceased    5333.3300            1
39                                                        Merchants   54042.2900            7
40                                                     Pennsylvania     856.5600            1
41                                                        Physician    1769.0100            1
42                                                      Post Master    7083.5300            1
43                                                          Printer    7423.7300            5
44                             Printer in Trust for Jennet Thompson     294.0100            1
45                                          Property of Mathematics     461.1100            1
46                                                         Reverend     224.1200            1
47                                                          Sheriff      56.2100            1
48                                                      Ship Wright    1241.7600            1
49                                                      Shop Keeper      41.4700            1
50                                                       Shopkeeper     547.4800            2
51                                                      Silversmith    1917.6500            2
52                                                         Spinster     528.3300            1
53                                                           Tanner    1192.2500            2
54                                                           Taylor    2137.3900            4
55                       Treasurer of the first Presbyterian Church     714.8100            1
56                                             Trust By David Cloyd     618.1400            1
57                                                            Widow    5576.5300            5
58                                                           Yeoman    1136.0600            2
59                         for Christopher Mary and Charity Pyrleus     846.2300            1
60                           in trust for the Estate of Robert Dill    1436.5000            1

In [1427]:
OccsTotalsPA = RemoveStopwords(OccsTotalsPA) 
print(OccsTotalsPA.to_string())

                                               occupation     6p_total  # of people
0                                              ah.vat law      58.0500            1
1    adm alexander mccaraher late chester county deceased     799.5100            1
2                            administer estate job vernon    1865.4400            1
3                                  administor est j james      27.5300            1
4                                            attorney law    1223.6200            1
5                                             black smith     692.2500            1
6                                             book binder     783.0700            1
7                                                  broker   64008.8400           60
8                                                   clerk    1855.5800            4
9                                                      co    2898.8600            4
10                                            conveyancer     108.4000            1
11                                            cordwainder     281.2500            1
12                                               druggist    4922.4300            2
13                                                esquier   20672.0700            6
14                                                esquire   20770.1700           15
15                           estate john benezet deceased       0.0000            1
16                                                 estate    1979.6000            1
17                                 ex philadelphia county    1802.9600            1
18                                    ex william honeyman     668.9600            1
19                          ex estate john baird bucks co     115.9400            1
20                       executers david grierlate y town    5658.3600            1
21                  executor estate abraham hull deceased      47.9100            1
22                   executor estate mathias londenberger     493.8300            1
23      executor estate doctor benjamin franklin deceased       0.0000            1
24                                                 farmer    1685.8100            5
25                                                furrier    3107.1800            1
26                                              gentleman    7540.6600            6
27                                              goldsmith     142.2200            1
28                                    guardian adam grier    1605.8000            1
29                                 guardian maria benezet    2267.5000            1
30                             guardian william chevalier     666.6600            1
31                                                 hatter    2291.7600            3
32                                             inn keeper    1668.6800            3
33                                          junior broker   10691.1200            3
34                                                    law    3942.1100            2
35                                                 lawyer    3472.9000            1
36                                                mariner    3906.5714            5
37                                               merchant  553198.9900          229
38  merchant executer estate john schweig hauser deceased    5333.3300            1
39                                              merchants   54042.2900            7
40                                           pennsylvania     856.5600            1
41                                              physician    1769.0100            1
42                                            post master    7083.5300            1
43                                                printer    7423.7300            5
44                          printer trust jennet thompson     294.0100            1
45                                   property mathematics     461.1100            1
46                                               reverend     224.1200            1
47                                                sheriff      56.2100            1
48                                            ship wright    1241.7600            1
49                                            shop keeper      41.4700            1
50                                             shopkeeper     547.4800            2
51                                            silversmith    1917.6500            2
52                                               spinster     528.3300            1
53                                                 tanner    1192.2500            2
54                                                 taylor    2137.3900            4
55                    treasurer first presbyterian church     714.8100            1
56                                   trust by david cloyd     618.1400            1
57                                                  widow    5576.5300            5
58                                                 yeoman    1136.0600            2
59                       christopher mary charity pyrleus     846.2300            1
60                               trust estate robert dill    1436.5000            1

In [1428]:
FindRemoveConst(OccsTotalsPA['occupation'].tolist())

Occupation Before --> Occupation After
--------------------------------------


ah.vat law --> ah.vat law
adm alexander mccaraher late chester county deceased --> adm alexander mccaraher late chester
administer estate job vernon --> administer estate
administor est j james --> administor est
attorney law --> attorney law
black smith --> black smith
book binder --> book binder
broker --> broker
clerk --> clerk
co --> co
conveyancer --> conveyancer
cordwainder --> cordwainder
druggist --> druggist
esquier --> esquier
esquire --> esquire
estate john benezet deceased --> estate john
estate --> estate
ex philadelphia county --> ex
ex william honeyman --> ex
ex estate john baird bucks co --> ex estate john baird
executers david grierlate y town --> executers david grierlate
executor estate abraham hull deceased --> executor estate abraham
executor estate mathias londenberger --> executor estate
executor estate doctor benjamin franklin deceased --> executor estate doctor benjamin
farmer --> farmer
furrier --> furrier
gentleman --> gentleman
goldsmith --> goldsmith
guardian adam grier --> guardian
guardian maria benezet --> guardian
guardian william chevalier --> guardian
hatter --> hatter
inn keeper --> inn keeper
junior broker --> junior broker
law --> law
lawyer --> lawyer
mariner --> mariner
merchant --> merchant
merchant executer estate john schweig hauser deceased --> merchant executer estate john schweig
merchants --> merchants
pennsylvania --> pennsylvania
physician --> physician
post master --> post master
printer --> printer
printer trust jennet thompson --> printer trust
property mathematics --> property mathematics
reverend --> reverend
sheriff --> sheriff
ship wright --> ship wright
shop keeper --> shop keeper
shopkeeper --> shopkeeper
silversmith --> silversmith
spinster --> spinster
tanner --> tanner
taylor --> taylor
treasurer first presbyterian church --> treasurer first
trust by david cloyd --> trust by
widow --> widow
yeoman --> yeoman
christopher mary charity pyrleus --> christopher mary
trust estate robert dill --> trust estate

In [1429]:
PrintFutureOccupations(OccsTotalsPA['occupation'].tolist())

Occupations --> Potential Cleaned Occupations
---------------------------------------------


ah.vat law --> ah.vat
adm alexander mccaraher late chester --> adm
administer estate --> administer
administor est --> administor
attorney law --> attorney
black smith --> black
book binder --> book
broker --> broker
clerk --> clerk
co --> co
conveyancer --> conveyancer
cordwainder --> cordwainder
druggist --> druggist
esquier --> esquier
esquire --> esquire
estate john --> estate
estate --> estate
ex --> ex
ex --> ex
ex estate john baird --> baird
executers david grierlate --> executers
executor estate abraham --> executor
executor estate --> executor
executor estate doctor benjamin --> executor
farmer --> farmer
furrier --> furrier
gentleman --> gentleman
goldsmith --> goldsmith
guardian --> guardian
guardian --> guardian
guardian --> guardian
hatter --> hatter
inn keeper --> inn
junior broker --> junior
law --> law
lawyer --> lawyer
mariner --> mariner
merchant --> merchant
merchant executer estate john schweig --> merchant
merchants --> merchants
pennsylvania --> pennsylvania
physician --> physician
post master --> post
printer --> printer
printer trust --> printer
property mathematics --> property
reverend --> reverend
sheriff --> sheriff
ship wright --> ship
shop keeper --> shop
shopkeeper --> shopkeeper
silversmith --> silversmith
spinster --> spinster
tanner --> tanner
taylor --> taylor
treasurer first --> treasurer
trust by --> trust
widow --> widow
yeoman --> yeoman
christopher mary --> christopher
trust estate --> trust

In [1430]:
OccsTotalsPA = MergeOccupations(OccsTotalsPA)

After Cleaning
--------------


     occupation     6p_total  # of people % of total people
0      attorney      58.0500            1              None
1    administer     799.5100            1              None
2    administer    1865.4400            1              None
3    administor      27.5300            1              None
4      attorney    1223.6200            1              None
5    blacksmith     692.2500            1              None
6   book binder     783.0700            1              None
7        broker   64008.8400           60              None
8         clerk    1855.5800            4              None
9          None    2898.8600            4              None
10  conveyancer     108.4000            1              None
11  cordwainder     281.2500            1              None
12     druggist    4922.4300            2              None
13          esq   20672.0700            6              None
14          esq   20770.1700           15              None
15       estate       0.0000            1              None
16       estate    1979.6000            1              None
17    executors    1802.9600            1              None
18    executors     668.9600            1              None
19    executors     115.9400            1              None
20    executers    5658.3600            1              None
21     executor      47.9100            1              None
22     executor     493.8300            1              None
23     executor       0.0000            1              None
24       farmer    1685.8100            5              None
25      furrier    3107.1800            1              None
26    gentleman    7540.6600            6              None
27    goldsmith     142.2200            1              None
28     guardian    1605.8000            1              None
29     guardian    2267.5000            1              None
30     guardian     666.6600            1              None
31       hatter    2291.7600            3              None
32   inn keeper    1668.6800            3              None
33       broker   10691.1200            3              None
34     attorney    3942.1100            2              None
35     attorney    3472.9000            1              None
36      mariner    3906.5714            5              None
37     merchant  553198.9900          229              None
38     merchant    5333.3300            1              None
39    merchants   54042.2900            7              None
40         None     856.5600            1              None
41       doctor    1769.0100            1              None
42  post master    7083.5300            1              None
43      printer    7423.7300            5              None
44      printer     294.0100            1              None
45     property     461.1100            1              None
46     reverend     224.1200            1              None
47      sheriff      56.2100            1              None
48  ship wright    1241.7600            1              None
49   shopkeeper      41.4700            1              None
50   shopkeeper     547.4800            2              None
51  silversmith    1917.6500            2              None
52     spinster     528.3300            1              None
53       tanner    1192.2500            2              None
54       taylor    2137.3900            4              None
55    treasurer     714.8100            1              None
56        trust     618.1400            1              None
57        widow    5576.5300            5              None
58       farmer    1136.0600            2              None
59   individual     846.2300            1              None
60        trust    1436.5000            1              None


After Removing Duplicates and Summing
-------------------------------------


     occupation     6p_total  # of people  % of total people
0    administer    2664.9500            2                  0
1    administor      27.5300            1                  0
2      attorney    8696.6800            5                  0
3    blacksmith     692.2500            1                  0
4   book binder     783.0700            1                  0
5        broker   74699.9600           63                  0
6         clerk    1855.5800            4                  0
7   conveyancer     108.4000            1                  0
8   cordwainder     281.2500            1                  0
9        doctor    1769.0100            1                  0
10     druggist    4922.4300            2                  0
11          esq   41442.2400           21                  0
12       estate    1979.6000            2                  0
13    executers    5658.3600            1                  0
14     executor     541.7400            3                  0
15    executors    2587.8600            3                  0
16       farmer    2821.8700            7                  0
17      furrier    3107.1800            1                  0
18    gentleman    7540.6600            6                  0
19    goldsmith     142.2200            1                  0
20     guardian    4539.9600            3                  0
21       hatter    2291.7600            3                  0
22   individual     846.2300            1                  0
23   inn keeper    1668.6800            3                  0
24      mariner    3906.5714            5                  0
25     merchant  558532.3200          230                  0
26    merchants   54042.2900            7                  0
27  post master    7083.5300            1                  0
28      printer    7717.7400            6                  0
29     property     461.1100            1                  0
30     reverend     224.1200            1                  0
31      sheriff      56.2100            1                  0
32  ship wright    1241.7600            1                  0
33   shopkeeper     588.9500            3                  0
34  silversmith    1917.6500            2                  0
35     spinster     528.3300            1                  0
36       tanner    1192.2500            2                  0
37       taylor    2137.3900            4                  0
38    treasurer     714.8100            1                  0
39        trust    2054.6400            2                  0
40        widow    5576.5300            5                  0


Removed: administor --> administer
Removed: executor --> executers
Removed: executors --> executers
Removed: merchants --> merchant


After Using Fuzzy String Matching
---------------------------------


     occupation     6p_total  # of people  % of total people  average debt per person
0      merchant  612574.6100          237          57.804878              2584.702996
1        broker   74699.9600           63          15.365854              1185.713651
2           esq   41442.2400           21           5.121951              1973.440000
3     executers    8787.9600            7           1.707317              1255.422857
4      attorney    8696.6800            5           1.219512              1739.336000
5       printer    7717.7400            6           1.463415              1286.290000
6     gentleman    7540.6600            6           1.463415              1256.776667
7   post master    7083.5300            1           0.243902              7083.530000
8         widow    5576.5300            5           1.219512              1115.306000
9      druggist    4922.4300            2           0.487805              2461.215000
10     guardian    4539.9600            3           0.731707              1513.320000
11      mariner    3906.5714            5           1.219512               781.314280
12      furrier    3107.1800            1           0.243902              3107.180000
13       farmer    2821.8700            7           1.707317               403.124286
14   administer    2692.4800            3           0.731707               897.493333
15       hatter    2291.7600            3           0.731707               763.920000
16       taylor    2137.3900            4           0.975610               534.347500
17        trust    2054.6400            2           0.487805              1027.320000
18       estate    1979.6000            2           0.487805               989.800000
19  silversmith    1917.6500            2           0.487805               958.825000
20        clerk    1855.5800            4           0.975610               463.895000
21       doctor    1769.0100            1           0.243902              1769.010000
22   inn keeper    1668.6800            3           0.731707               556.226667
23  ship wright    1241.7600            1           0.243902              1241.760000
24       tanner    1192.2500            2           0.487805               596.125000
25   individual     846.2300            1           0.243902               846.230000
26  book binder     783.0700            1           0.243902               783.070000
27    treasurer     714.8100            1           0.243902               714.810000
28   blacksmith     692.2500            1           0.243902               692.250000
29   shopkeeper     588.9500            3           0.731707               196.316667
30     spinster     528.3300            1           0.243902               528.330000
31     property     461.1100            1           0.243902               461.110000
32  cordwainder     281.2500            1           0.243902               281.250000
33     reverend     224.1200            1           0.243902               224.120000
34    goldsmith     142.2200            1           0.243902               142.220000
35  conveyancer     108.4000            1           0.243902               108.400000
36      sheriff      56.2100            1           0.243902                56.210000

In [1431]:
TurnToExcel(OccsTotalsPA, State)

# Rhode Island

In [1432]:
State = 'RI'
AllOccsRI = AllOccs[AllOccs['state'] == State] #Separate rows by state
AllOccsRI = AllOccsRI.dropna(subset=['occupation']).reset_index(drop=True) #Drop any rows w/o an occupation listed. 
print(AllOccsRI)

     6p_Dollar  6p_Cents  6p_def_Dollar  6p_def_Cents  3p_Dollar  3p_Cents  \
0        154.0      20.0           77.0          10.0      192.0       NaN
1        194.0      54.0           97.0          27.0      222.0       1.0
2        359.0      50.0          179.0          76.0      254.0      21.0
3          7.0      16.0            3.0          58.0       55.0      82.0
4         35.0       2.0           17.0          51.0       38.0      94.0
..         ...       ...            ...           ...        ...       ...
443      164.0      96.0          165.0          27.0      100.0      22.0
444       59.0      90.0           29.0          95.0       70.0       8.0
445       28.0      44.0           14.0          22.0       29.0      70.0
446      142.0      44.0           71.0          22.0      132.0      43.0
447       33.0      33.0           17.0          39.0       31.0      94.0

             town state occupation             county name_type  6p_total
0    Rhode Island    RI     Farmer                NaN     state    154.20
1      Providence    RI   Merchant  Providence County      town    194.54
2      Providence    RI   Merchant  Providence County      town    359.50
3      Providence    RI   Merchant  Providence County      town      7.16
4      Providence    RI    Mariner  Providence County      town     35.02
..            ...   ...        ...                ...       ...       ...
443    Providence    RI   Merchant  Providence County      town    164.96
444       Johnson    RI    Esquire  Providence County      town     59.90
445      Cranston    RI     Yeoman  Providence County      town     28.44
446    Providence    RI   Merchant  Providence County      town    142.44
447  Rhode Island    RI   Merchant                NaN     state     33.33

[448 rows x 12 columns]

In [1433]:
OccsTotalsRI = AllOccsRI.groupby('occupation')['6p_total'].apply(sum).reset_index() #Combine duplicate occupations.
OccsTotalsRI['# of people'] = OccsTotalsRI['occupation'].map(AllOccsRI['occupation'].value_counts(dropna=False)) #Map # of people that belong to each occupation.
print(OccsTotalsRI.to_string())

                                                                          occupation   6p_total  # of people
0                      Administratrix to the Estate of Joshua Brown Esquire Deceased       0.00            1
1                                                                        Auctioneers     460.77            3
2                                                                              Baker     206.37            1
3                                                                         Blacksmith     540.68            3
4                                                                         Blockmaker       4.43            1
5                                                                             Broker     171.50            2
6                                                                            Butcher     235.70            1
7                                                                          Carpenter       0.00            1
8                                                                       Chaise Maker      47.57            1
9                                                                             Cooper    1596.15            3
10                                                                        Cordwainer     417.48            1
11                                                                            Deacon      16.35            1
12                                                                         Distiller     466.25            3
13                                                                            Doctor     445.45            1
14                                                                           Esquier      13.08            1
15                                                                           Esquire   68388.42          129
16                                        Extors to the Late Jn Jenckes Esq Deceased     124.50            1
17                                    Extors to the Late Nicholas Brown Esq Deceased       0.00            1
18                                                                            Farmer    1487.53            2
19  General Treasurer of the state of Rhode Island and his suceessors in said office  199740.67            1
20                                                                         Gentleman    2396.70           10
21                                                                           Glazier     982.35            1
22                                                                         Goldsmith       0.00            1
23                                                                            Hatter     828.66            2
24                                                                       Housewright     266.67            1
25                                                                         Innholder    1430.29            8
26                                                                          Labourer      67.16            2
27                                                                           Mariner    4857.32           25
28                                                                             Mason    1152.50            3
29                                                                          Merchant   99957.63           97
30                                                                         Merchants       4.29            1
31                                                                         Physician    2676.24            7
32                                                                          Reverend    2054.38            2
33                                                                        Shipwright      89.72            2
34                                                                         Shoemaker     114.88            1
35                                                                          Spinster     721.33            3
36                                                                            Taylor    1297.73            4
37                                                                            Trader     436.34            5
38                                                                Traders In Company      43.79            1
39                                                             Treasurer Town Foster     131.11            1
40                                                             Treasurer of Scituate     181.80            1
41           Treasurer of St Johns Ledge No 1 of Tree and accepted Masons Providence     616.67            1
42                             Treasurer of the Baptist Benevolent Society in Warren     120.83            1
43                  Treasurer of the Congregational Benevolent Society in Providence     152.46            1
44               Treasurer of the Society of Cincinnati in the State of Rhode Island    1432.30            1
45                                 Treasurer of the State of Rhode Island Of Newport    2990.01            2
46                         Treasurer of the State of Rhode Island Of Newport Esquire   16830.22            1
47                         Treasurer to the Charitable Baptist Society in Providence     329.16            1
48                                       Tresurer of the Catholic Society at Bristol      48.72            1
49                                                                             Widow    6182.06           23
50                                                                            Yeoman   13137.70           78
51                                          in behalf of the Proprietors of Tiverton      58.64            1
52                                               treasurer of the Town of Providence      73.71            1

In [1434]:
OccsTotalsRI = RemoveStopwords(OccsTotalsRI) 
print(OccsTotalsRI.to_string())

                                                       occupation   6p_total  # of people
0             administratrix estate joshua brown esquire deceased       0.00            1
1                                                     auctioneers     460.77            3
2                                                           baker     206.37            1
3                                                      blacksmith     540.68            3
4                                                      blockmaker       4.43            1
5                                                          broker     171.50            2
6                                                         butcher     235.70            1
7                                                       carpenter       0.00            1
8                                                    chaise maker      47.57            1
9                                                          cooper    1596.15            3
10                                                     cordwainer     417.48            1
11                                                         deacon      16.35            1
12                                                      distiller     466.25            3
13                                                         doctor     445.45            1
14                                                        esquier      13.08            1
15                                                        esquire   68388.42          129
16                            extors late jn jenckes esq deceased     124.50            1
17                        extors late nicholas brown esq deceased       0.00            1
18                                                         farmer    1487.53            2
19    general treasurer state rhode island suceessors said office  199740.67            1
20                                                      gentleman    2396.70           10
21                                                        glazier     982.35            1
22                                                      goldsmith       0.00            1
23                                                         hatter     828.66            2
24                                                    housewright     266.67            1
25                                                      innholder    1430.29            8
26                                                       labourer      67.16            2
27                                                        mariner    4857.32           25
28                                                          mason    1152.50            3
29                                                       merchant   99957.63           97
30                                                      merchants       4.29            1
31                                                      physician    2676.24            7
32                                                       reverend    2054.38            2
33                                                     shipwright      89.72            2
34                                                      shoemaker     114.88            1
35                                                       spinster     721.33            3
36                                                         taylor    1297.73            4
37                                                         trader     436.34            5
38                                             traders in company      43.79            1
39                                          treasurer town foster     131.11            1
40                                             treasurer scituate     181.80            1
41  treasurer st johns ledge no 1 tree accepted masons providence     616.67            1
42                    treasurer baptist benevolent society warren     120.83            1
43         treasurer congregational benevolent society providence     152.46            1
44                treasurer society cincinnati state rhode island    1432.30            1
45                        treasurer state rhode island of newport    2990.01            2
46                treasurer state rhode island of newport esquire   16830.22            1
47                treasurer charitable baptist society providence     329.16            1
48                              tresurer catholic society bristol      48.72            1
49                                                          widow    6182.06           23
50                                                         yeoman   13137.70           78
51                                    behalf proprietors tiverton      58.64            1
52                                      treasurer town providence      73.71            1

In [1435]:
FindRemoveConst(OccsTotalsRI['occupation'].tolist())

Occupation Before --> Occupation After
--------------------------------------


administratrix estate joshua brown esquire deceased --> administratrix estate joshua brown
auctioneers --> auctioneers
baker --> baker
blacksmith --> blacksmith
blockmaker --> blockmaker
broker --> broker
butcher --> butcher
carpenter --> carpenter
chaise maker --> chaise maker
cooper --> cooper
cordwainer --> cordwainer
deacon --> deacon
distiller --> distiller
doctor --> doctor
esquier --> esquier
esquire --> esquire
extors late jn jenckes esq deceased --> extors late jn jenckes
extors late nicholas brown esq deceased --> extors late nicholas brown
farmer --> farmer
general treasurer state rhode island suceessors said office --> general treasurer state rhode island suceessors
gentleman --> gentleman
glazier --> glazier
goldsmith --> goldsmith
hatter --> hatter
housewright --> housewright
innholder --> innholder
labourer --> labourer
mariner --> mariner
mason --> mason
merchant --> merchant
merchants --> merchants
physician --> physician
reverend --> reverend
shipwright --> shipwright
shoemaker --> shoemaker
spinster --> spinster
taylor --> taylor
trader --> trader
traders in company --> traders
treasurer town foster --> treasurer
treasurer scituate --> treasurer scituate
treasurer st johns ledge no 1 tree accepted masons providence --> treasurer st johns ledge no 1 tree accepted
treasurer baptist benevolent society warren --> treasurer baptist benevolent
treasurer congregational benevolent society providence --> treasurer congregational benevolent
treasurer society cincinnati state rhode island --> treasurer society cincinnati state
treasurer state rhode island of newport --> treasurer state rhode island
treasurer state rhode island of newport esquire --> treasurer state rhode island of
treasurer charitable baptist society providence --> treasurer charitable baptist
tresurer catholic society bristol --> tresurer catholic
widow --> widow
yeoman --> yeoman
behalf proprietors tiverton --> behalf
treasurer town providence --> treasurer

In [1436]:
Remove = 1

In [1437]:
PrintFutureOccupations(OccsTotalsRI['occupation'].tolist())

Occupations --> Potential Cleaned Occupations
---------------------------------------------


administratrix estate joshua brown esquire --> administratrix
auctioneers --> auctioneers
baker --> baker
blacksmith --> blacksmith
blockmaker --> blockmaker
broker --> broker
butcher --> butcher
carpenter --> carpenter
chaise maker --> chaise
cooper --> cooper
cordwainer --> cordwainer
deacon --> deacon
distiller --> distiller
doctor --> doctor
esquier --> esquier
esquire --> esquire
extors late jn jenckes esq --> extors
extors late nicholas brown esq --> extors
farmer --> farmer
general treasurer state rhode island suceessors said --> general
gentleman --> gentleman
glazier --> glazier
goldsmith --> goldsmith
hatter --> hatter
housewright --> housewright
innholder --> innholder
labourer --> labourer
mariner --> mariner
mason --> mason
merchant --> merchant
merchants --> merchants
physician --> physician
reverend --> reverend
shipwright --> shipwright
shoemaker --> shoemaker
spinster --> spinster
taylor --> taylor
trader --> trader
traders in --> traders
treasurer town --> treasurer
treasurer scituate --> treasurer
treasurer st johns ledge no 1 tree accepted masons --> treasurer
treasurer baptist benevolent society --> treasurer
treasurer congregational benevolent society --> treasurer
treasurer society cincinnati state rhode --> treasurer
treasurer state rhode island of --> treasurer
treasurer state rhode island of newport --> treasurer
treasurer charitable baptist society --> treasurer
tresurer catholic society --> tresurer
widow --> widow
yeoman --> yeoman
behalf proprietors --> behalf
treasurer town --> treasurer

In [1438]:
OccsTotalsRI = MergeOccupations(OccsTotalsRI)

After Cleaning
--------------


        occupation   6p_total  # of people % of total people
0   administratrix       0.00            1              None
1      auctioneers     460.77            3              None
2            baker     206.37            1              None
3       blacksmith     540.68            3              None
4       blockmaker       4.43            1              None
5           broker     171.50            2              None
6          butcher     235.70            1              None
7        carpenter       0.00            1              None
8     chaise maker      47.57            1              None
9           cooper    1596.15            3              None
10       shoemaker     417.48            1              None
11          deacon      16.35            1              None
12       distiller     466.25            3              None
13          doctor     445.45            1              None
14             esq      13.08            1              None
15             esq   68388.42          129              None
16          extors     124.50            1              None
17          extors       0.00            1              None
18          farmer    1487.53            2              None
19       treasurer  199740.67            1              None
20       gentleman    2396.70           10              None
21         glazier     982.35            1              None
22       goldsmith       0.00            1              None
23          hatter     828.66            2              None
24     housewright     266.67            1              None
25      inn keeper    1430.29            8              None
26        labourer      67.16            2              None
27         mariner    4857.32           25              None
28           mason    1152.50            3              None
29        merchant   99957.63           97              None
30       merchants       4.29            1              None
31          doctor    2676.24            7              None
32        reverend    2054.38            2              None
33      shipwright      89.72            2              None
34       shoemaker     114.88            1              None
35        spinster     721.33            3              None
36          taylor    1297.73            4              None
37          trader     436.34            5              None
38         traders      43.79            1              None
39       treasurer     131.11            1              None
40       treasurer     181.80            1              None
41       treasurer     616.67            1              None
42       treasurer     120.83            1              None
43       treasurer     152.46            1              None
44       treasurer    1432.30            1              None
45       treasurer    2990.01            2              None
46       treasurer   16830.22            1              None
47       treasurer     329.16            1              None
48        tresurer      48.72            1              None
49           widow    6182.06           23              None
50          farmer   13137.70           78              None
51     proprietors      58.64            1              None
52       treasurer      73.71            1              None


After Removing Duplicates and Summing
-------------------------------------


        occupation   6p_total  # of people  % of total people
0   administratrix       0.00            1                  0
1      auctioneers     460.77            3                  0
2            baker     206.37            1                  0
3       blacksmith     540.68            3                  0
4       blockmaker       4.43            1                  0
5           broker     171.50            2                  0
6          butcher     235.70            1                  0
7        carpenter       0.00            1                  0
8     chaise maker      47.57            1                  0
9           cooper    1596.15            3                  0
10          deacon      16.35            1                  0
11       distiller     466.25            3                  0
12          doctor    3121.69            8                  0
13             esq   68401.50          130                  0
14          extors     124.50            2                  0
15          farmer   14625.23           80                  0
16       gentleman    2396.70           10                  0
17         glazier     982.35            1                  0
18       goldsmith       0.00            1                  0
19          hatter     828.66            2                  0
20     housewright     266.67            1                  0
21      inn keeper    1430.29            8                  0
22        labourer      67.16            2                  0
23         mariner    4857.32           25                  0
24           mason    1152.50            3                  0
25        merchant   99957.63           97                  0
26       merchants       4.29            1                  0
27     proprietors      58.64            1                  0
28        reverend    2054.38            2                  0
29      shipwright      89.72            2                  0
30       shoemaker     532.36            2                  0
31        spinster     721.33            3                  0
32          taylor    1297.73            4                  0
33          trader     436.34            5                  0
34         traders      43.79            1                  0
35       treasurer  222598.94           12                  0
36        tresurer      48.72            1                  0
37           widow    6182.06           23                  0


Removed: merchants --> merchant
Removed: traders --> trader
Removed: tresurer --> treasurer


After Using Fuzzy String Matching
---------------------------------


        occupation   6p_total  # of people  % of total people  average debt per person
0        treasurer  222647.66           13           2.901786             17126.743077
1         merchant   99961.92           98          21.875000              1020.019592
2              esq   68401.50          130          29.017857               526.165385
3           farmer   14625.23           80          17.857143               182.815375
4            widow    6182.06           23           5.133929               268.785217
5          mariner    4857.32           25           5.580357               194.292800
6           doctor    3121.69            8           1.785714               390.211250
7        gentleman    2396.70           10           2.232143               239.670000
8         reverend    2054.38            2           0.446429              1027.190000
9           cooper    1596.15            3           0.669643               532.050000
10      inn keeper    1430.29            8           1.785714               178.786250
11          taylor    1297.73            4           0.892857               324.432500
12           mason    1152.50            3           0.669643               384.166667
13         glazier     982.35            1           0.223214               982.350000
14          hatter     828.66            2           0.446429               414.330000
15        spinster     721.33            3           0.669643               240.443333
16      blacksmith     540.68            3           0.669643               180.226667
17       shoemaker     532.36            2           0.446429               266.180000
18          trader     480.13            6           1.339286                80.021667
19       distiller     466.25            3           0.669643               155.416667
20     auctioneers     460.77            3           0.669643               153.590000
21     housewright     266.67            1           0.223214               266.670000
22         butcher     235.70            1           0.223214               235.700000
23           baker     206.37            1           0.223214               206.370000
24          broker     171.50            2           0.446429                85.750000
25          extors     124.50            2           0.446429                62.250000
26      shipwright      89.72            2           0.446429                44.860000
27        labourer      67.16            2           0.446429                33.580000
28     proprietors      58.64            1           0.223214                58.640000
29    chaise maker      47.57            1           0.223214                47.570000
30          deacon      16.35            1           0.223214                16.350000
31      blockmaker       4.43            1           0.223214                 4.430000
32       carpenter       0.00            1           0.223214                 0.000000
33       goldsmith       0.00            1           0.223214                 0.000000
34  administratrix       0.00            1           0.223214                 0.000000

In [1439]:
TurnToExcel(OccsTotalsRI, State)

# South Carolina

In [1440]:
State = 'SC'
AllOccsSC = AllOccs[AllOccs['state'] == State] #Separate rows by state
AllOccsSC = AllOccsSC.dropna(subset=['occupation']).reset_index(drop=True) #Drop any rows w/o an occupation listed. 
print(AllOccsSC)

     6p_Dollar   6p_Cents  6p_def_Dollar  6p_def_Cents  3p_Dollar  3p_Cents  \
0          1.0   824.4133            1.0      412.2033        1.0    941.54
1          1.0  3987.9033            1.0     1993.9533        1.0   3625.67
2         17.0   150.0000           13.0       75.0000       14.0    129.10
3         17.0  1067.9200           13.0      533.9600       14.0   1165.92
4         17.0   195.0200           13.0       97.5100       14.0    212.82
..         ...        ...            ...           ...        ...       ...
286        NaN        NaN            NaN           NaN      651.0     53.00
287        NaN        NaN            NaN           NaN      140.0     77.00
288        NaN        NaN            NaN           NaN      167.0     77.00
289        NaN        NaN            NaN           NaN     3600.0       NaN
290      180.0    47.0000           90.0       24.0000      207.0     93.00

               town state       occupation             county name_type  \
0    South Carolina    SC              Esq                NaN     state
1    South Carolina    SC              Esq                NaN     state
2        Charleston    SC         Merchant  Charleston County      town
3        Charleston    SC         Merchant  Charleston County      town
4          Carolina    SC         Excuetor                NaN     other
..              ...   ...              ...                ...       ...
286      Charleston    SC         Merchant  Charleston County      town
287      Charleston    SC         Merchant  Charleston County      town
288      Charleston    SC  Attorney at Law  Charleston County      town
289      Charleston    SC         Merchant  Charleston County      town
290  South Carolina    SC         Marriner                NaN     state

       6p_total
0      9.244133
1     40.879033
2     18.500000
3     27.679200
4     18.950200
..          ...
286         NaN
287         NaN
288         NaN
289         NaN
290  180.470000

[291 rows x 12 columns]

In [1441]:
OccsTotalsSC = AllOccsSC.groupby('occupation')['6p_total'].apply(sum).reset_index() #Combine duplicate occupations.
OccsTotalsSC['# of people'] = OccsTotalsSC['occupation'].map(AllOccsSC['occupation'].value_counts(dropna=False)) #Map # of people that belong to each occupation.
print(OccsTotalsSC.to_string())

                                      occupation      6p_total  # of people
0            Administrator to John Harleston Jun     33.330000            1
1                 Administrator to Joseph Warley   1671.440000            1
2                       Assignee of James Simons    345.020000            1
3                                Attorney at Law   3690.940000            9
4                                      Autioneer     10.650000            1
5                                   Blacks smith   1423.480000            1
6                                     Blockmaker   5264.230000            2
7                                     Bricklayer     37.350000            1
8                                         Broker   2334.890000           11
9                                  Cabinet Maker     74.460000            1
10                                     Carpenter    449.020000            5
11                          Charleston Merchants     26.670000            2
12                           Clerk of the Senate   1425.820000            2
13                     Comtroller of the Customs     53.740000            1
14                                           Esq     50.123166            2
15                                      Excuetor     18.950200            1
16                       Executor Philip Hawkins    239.100000            1
17                   Executor of Benjamin Tucker    834.860000            2
18                      Executor of Jacob Smiser     69.020000            1
19                       Executor of James Peart     12.110000            1
20                    Executor of Samuel Bonneau     23.720000            1
21                   Executor of Sarah Lampriere     68.260000            1
22                     Executor of William Gibbs     66.660000            1
23                    Executor of William Parker    685.770000            1
24                     Executor to Richard Mason   1024.910000            1
25                   Executrix of William Savage     76.700000            1
26                                        Factor   2961.480000            3
27                                     Gentleman    474.430000            2
28                                  Hair Dresser      0.000000            1
29                                       Mariner    183.534700            3
30                                      Marriner    180.470000            1
31                                      Merchant  71013.904200          150
32       Merchant as Executor to Benjamin Garden    234.960000            1
33                                     Merchants    163.312700            2
34                   One of Judges of the Courts   2257.180000            1
35                                     Penniston    914.240000            1
36                                     Physician   7971.000000           10
37                                       Planter  12438.706667           31
38               Planter as Executor Ely Kershaw    883.330000            1
39                                       Printer    132.720000            2
40                                       Sheriff   2133.326667            2
41                                    Shipwright    153.540000            1
42                                    Shopkeeper    190.660000            4
43                                South Carolina      0.000000            1
44                                      Spinster    364.590000            1
45                                        Tanner    377.490000            1
46  Trustee for the Cincinnati of South Carolina   2439.020000            1
47                                 Vendue Master    112.540000            1
48                                         Widow   4910.700000           14
49         as Guardian to Mary Deborah L. Gowdey     17.150000            1
50   as treasurer of the State of south carolina    262.140000            2

In [1442]:
OccsTotalsSC = RemoveStopwords(OccsTotalsSC) 
print(OccsTotalsSC.to_string())

                           occupation      6p_total  # of people
0    administrator john harleston jun     33.330000            1
1         administrator joseph warley   1671.440000            1
2               assignee james simons    345.020000            1
3                        attorney law   3690.940000            9
4                           autioneer     10.650000            1
5                        blacks smith   1423.480000            1
6                          blockmaker   5264.230000            2
7                          bricklayer     37.350000            1
8                              broker   2334.890000           11
9                       cabinet maker     74.460000            1
10                          carpenter    449.020000            5
11               charleston merchants     26.670000            2
12                       clerk senate   1425.820000            2
13                 comtroller customs     53.740000            1
14                                esq     50.123166            2
15                           excuetor     18.950200            1
16            executor philip hawkins    239.100000            1
17           executor benjamin tucker    834.860000            2
18              executor jacob smiser     69.020000            1
19               executor james peart     12.110000            1
20            executor samuel bonneau     23.720000            1
21           executor sarah lampriere     68.260000            1
22             executor william gibbs     66.660000            1
23            executor william parker    685.770000            1
24             executor richard mason   1024.910000            1
25           executrix william savage     76.700000            1
26                             factor   2961.480000            3
27                          gentleman    474.430000            2
28                       hair dresser      0.000000            1
29                            mariner    183.534700            3
30                           marriner    180.470000            1
31                           merchant  71013.904200          150
32  merchant executor benjamin garden    234.960000            1
33                          merchants    163.312700            2
34                  one judges courts   2257.180000            1
35                          penniston    914.240000            1
36                          physician   7971.000000           10
37                            planter  12438.706667           31
38       planter executor ely kershaw    883.330000            1
39                            printer    132.720000            2
40                            sheriff   2133.326667            2
41                         shipwright    153.540000            1
42                         shopkeeper    190.660000            4
43                     south carolina      0.000000            1
44                           spinster    364.590000            1
45                             tanner    377.490000            1
46  trustee cincinnati south carolina   2439.020000            1
47                      vendue master    112.540000            1
48                              widow   4910.700000           14
49    guardian mary deborah l. gowdey     17.150000            1
50     treasurer state south carolina    262.140000            2

In [1443]:
FindRemoveConst(OccsTotalsSC['occupation'].tolist())

Occupation Before --> Occupation After
--------------------------------------


administrator john harleston jun --> administrator john harleston
administrator joseph warley --> administrator joseph
assignee james simons --> assignee james
attorney law --> attorney law
autioneer --> autioneer
blacks smith --> blacks smith
blockmaker --> blockmaker
bricklayer --> bricklayer
broker --> broker
cabinet maker --> cabinet maker
carpenter --> carpenter
charleston merchants --> charleston merchants
clerk senate --> clerk senate
comtroller customs --> comtroller customs
esq --> esq
excuetor --> excuetor
executor philip hawkins --> executor philip
executor benjamin tucker --> executor benjamin
executor jacob smiser --> executor jacob
executor james peart --> executor james
executor samuel bonneau --> executor samuel
executor sarah lampriere --> executor sarah
executor william gibbs --> executor william
executor william parker --> executor william
executor richard mason --> executor richard
executrix william savage --> executrix william
factor --> factor
gentleman --> gentleman
hair dresser --> hair dresser
mariner --> mariner
marriner --> marriner
merchant --> merchant
merchant executor benjamin garden --> merchant executor benjamin
merchants --> merchants
one judges courts --> one judges
penniston --> penniston
physician --> physician
planter --> planter
planter executor ely kershaw --> planter executor ely
printer --> printer
sheriff --> sheriff
shipwright --> shipwright
shopkeeper --> shopkeeper
south carolina --> south carolina
spinster --> spinster
tanner --> tanner
trustee cincinnati south carolina --> trustee cincinnati south
vendue master --> vendue master
widow --> widow
guardian mary deborah l. gowdey --> guardian mary deborah l.
treasurer state south carolina --> treasurer state south

In [1444]:
Remove = 1

In [1445]:
PrintFutureOccupations(OccsTotalsSC['occupation'].tolist())

Occupations --> Potential Cleaned Occupations
---------------------------------------------


administrator john harleston --> administrator
administrator joseph --> administrator
assignee james --> assignee
attorney law --> attorney
autioneer --> autioneer
blacks smith --> blacks
blockmaker --> blockmaker
bricklayer --> bricklayer
broker --> broker
cabinet maker --> cabinet
carpenter --> carpenter
charleston merchants --> charleston
clerk senate --> clerk
comtroller customs --> comtroller
esq --> esq
excuetor --> excuetor
executor philip --> executor
executor benjamin --> executor
executor jacob --> executor
executor james --> executor
executor samuel --> executor
executor sarah --> executor
executor william --> executor
executor william --> executor
executor richard --> executor
executrix william --> executrix
factor --> factor
gentleman --> gentleman
hair dresser --> hair
mariner --> mariner
marriner --> marriner
merchant --> merchant
merchant executor benjamin --> merchant
merchants --> merchants
one judges --> judges
penniston --> penniston
physician --> physician
planter --> planter
planter executor ely --> planter
printer --> printer
sheriff --> sheriff
shipwright --> shipwright
shopkeeper --> shopkeeper
south carolina --> south
spinster --> spinster
tanner --> tanner
trustee cincinnati south --> trustee
vendue master --> vendue
widow --> widow
guardian mary deborah l. --> guardian
treasurer state south --> treasurer

In [1446]:
OccsTotalsSC = MergeOccupations(OccsTotalsSC)

After Cleaning
--------------


        occupation      6p_total  # of people % of total people
0    administrator     33.330000            1              None
1    administrator   1671.440000            1              None
2         assignee    345.020000            1              None
3         attorney   3690.940000            9              None
4        autioneer     10.650000            1              None
5       blacksmith   1423.480000            1              None
6       blockmaker   5264.230000            2              None
7       bricklayer     37.350000            1              None
8           broker   2334.890000           11              None
9    cabinet maker     74.460000            1              None
10       carpenter    449.020000            5              None
11       merchants     26.670000            2              None
12           clerk   1425.820000            2              None
13      comtroller     53.740000            1              None
14             esq     50.123166            2              None
15        excuetor     18.950200            1              None
16        executor    239.100000            1              None
17        executor    834.860000            2              None
18        executor     69.020000            1              None
19        executor     12.110000            1              None
20        executor     23.720000            1              None
21        executor     68.260000            1              None
22        executor     66.660000            1              None
23        executor    685.770000            1              None
24        executor   1024.910000            1              None
25        executor     76.700000            1              None
26          trader   2961.480000            3              None
27       gentleman    474.430000            2              None
28    hair dresser      0.000000            1              None
29         mariner    183.534700            3              None
30        marriner    180.470000            1              None
31        merchant  71013.904200          150              None
32        merchant    234.960000            1              None
33       merchants    163.312700            2              None
34          judges   2257.180000            1              None
35            None    914.240000            1              None
36          doctor   7971.000000           10              None
37         planter  12438.706667           31              None
38         planter    883.330000            1              None
39         printer    132.720000            2              None
40         sheriff   2133.326667            2              None
41      shipwright    153.540000            1              None
42      shopkeeper    190.660000            4              None
43  south carolina      0.000000            1              None
44        spinster    364.590000            1              None
45          tanner    377.490000            1              None
46         trustee   2439.020000            1              None
47      auctioneer    112.540000            1              None
48           widow   4910.700000           14              None
49        guardian     17.150000            1              None
50       treasurer    262.140000            2              None


After Removing Duplicates and Summing
-------------------------------------


        occupation      6p_total  # of people  % of total people
0    administrator   1704.770000            2                  0
1         assignee    345.020000            1                  0
2         attorney   3690.940000            9                  0
3       auctioneer    112.540000            1                  0
4        autioneer     10.650000            1                  0
5       blacksmith   1423.480000            1                  0
6       blockmaker   5264.230000            2                  0
7       bricklayer     37.350000            1                  0
8           broker   2334.890000           11                  0
9    cabinet maker     74.460000            1                  0
10       carpenter    449.020000            5                  0
11           clerk   1425.820000            2                  0
12      comtroller     53.740000            1                  0
13          doctor   7971.000000           10                  0
14             esq     50.123166            2                  0
15        excuetor     18.950200            1                  0
16        executor   3101.110000           11                  0
17       gentleman    474.430000            2                  0
18        guardian     17.150000            1                  0
19    hair dresser      0.000000            1                  0
20          judges   2257.180000            1                  0
21         mariner    183.534700            3                  0
22        marriner    180.470000            1                  0
23        merchant  71248.864200          151                  0
24       merchants    189.982700            4                  0
25         planter  13322.036667           32                  0
26         printer    132.720000            2                  0
27         sheriff   2133.326667            2                  0
28      shipwright    153.540000            1                  0
29      shopkeeper    190.660000            4                  0
30  south carolina      0.000000            1                  0
31        spinster    364.590000            1                  0
32          tanner    377.490000            1                  0
33          trader   2961.480000            3                  0
34       treasurer    262.140000            2                  0
35         trustee   2439.020000            1                  0
36           widow   4910.700000           14                  0


Removed: autioneer --> auctioneer
Removed: executor --> excuetor
Removed: marriner --> mariner
Removed: merchants --> merchant


After Using Fuzzy String Matching
---------------------------------


        occupation      6p_total  # of people  % of total people  average debt per person
0         merchant  71438.846900          155          53.448276               460.895786
1          planter  13322.036667           32          11.034483               416.313646
2           doctor   7971.000000           10           3.448276               797.100000
3       blockmaker   5264.230000            2           0.689655              2632.115000
4            widow   4910.700000           14           4.827586               350.764286
5         attorney   3690.940000            9           3.103448               410.104444
6         excuetor   3120.060200           12           4.137931               260.005017
7           trader   2961.480000            3           1.034483               987.160000
8          trustee   2439.020000            1           0.344828              2439.020000
9           broker   2334.890000           11           3.793103               212.262727
10          judges   2257.180000            1           0.344828              2257.180000
11         sheriff   2133.326667            2           0.689655              1066.663333
12   administrator   1704.770000            2           0.689655               852.385000
13           clerk   1425.820000            2           0.689655               712.910000
14      blacksmith   1423.480000            1           0.344828              1423.480000
15       gentleman    474.430000            2           0.689655               237.215000
16       carpenter    449.020000            5           1.724138                89.804000
17          tanner    377.490000            1           0.344828               377.490000
18        spinster    364.590000            1           0.344828               364.590000
19         mariner    364.004700            4           1.379310                91.001175
20        assignee    345.020000            1           0.344828               345.020000
21       treasurer    262.140000            2           0.689655               131.070000
22      shopkeeper    190.660000            4           1.379310                47.665000
23      shipwright    153.540000            1           0.344828               153.540000
24         printer    132.720000            2           0.689655                66.360000
25      auctioneer    123.190000            2           0.689655                61.595000
26   cabinet maker     74.460000            1           0.344828                74.460000
27      comtroller     53.740000            1           0.344828                53.740000
28             esq     50.123166            2           0.689655                25.061583
29      bricklayer     37.350000            1           0.344828                37.350000
30        guardian     17.150000            1           0.344828                17.150000
31  south carolina      0.000000            1           0.344828                 0.000000
32    hair dresser      0.000000            1           0.344828                 0.000000

In [1447]:
TurnToExcel(OccsTotalsSC, State)

# Virginia

In [1448]:
State = 'VA'
AllOccsVA = AllOccs[AllOccs['state'] == State] #Separate rows by state
AllOccsVA = AllOccsVA.dropna(subset=['occupation']).reset_index(drop=True) #Drop any rows w/o an occupation listed. 
print(AllOccsVA)

   6p_Dollar  6p_Cents  6p_def_Dollar  6p_def_Cents  3p_Dollar  3p_Cents  \
0       17.0  351.6233           13.0      175.8133       14.0    384.09
1       78.0   33.0000           39.0       17.0000       42.0     30.00
2       66.0   66.0000           33.0       33.0000       63.0     24.00
3        3.0   82.0000            1.0       92.0000        3.0     74.00
4       46.0    2.0000           23.0        1.0000       44.0     89.00

                        town state occupation             county name_type  \
0        Portsmouth Virginia    VA  Merchants  Rockingham County      town
1   Accomack County Virginia    VA  Gentleman    Accomack County    county
2  Virginia and Philadelphia    VA   Merchant                NaN     state
3  Virginia and Philadelphia    VA   Merchant                NaN     state
4              Williamsburgh    VA     Weaver  Greenbrier County      town

    6p_total
0  20.516233
1  78.330000
2  66.660000
3   3.820000
4  46.020000

In [1449]:
OccsTotalsVA = AllOccsVA.groupby('occupation')['6p_total'].apply(sum).reset_index() #Combine duplicate occupations.
OccsTotalsVA['# of people'] = OccsTotalsVA['occupation'].map(AllOccsVA['occupation'].value_counts(dropna=False)) #Map # of people that belong to each occupation.
print(OccsTotalsVA.to_string())

  occupation   6p_total  # of people
0  Gentleman  78.330000            1
1   Merchant  70.480000            2
2  Merchants  20.516233            1
3     Weaver  46.020000            1

In [1450]:
OccsTotalsVA = RemoveStopwords(OccsTotalsVA) 
print(OccsTotalsVA.to_string())

  occupation   6p_total  # of people
0  gentleman  78.330000            1
1   merchant  70.480000            2
2  merchants  20.516233            1
3     weaver  46.020000            1

In [1451]:
FindRemoveConst(OccsTotalsVA['occupation'].tolist())

Occupation Before --> Occupation After
--------------------------------------


gentleman --> gentleman
merchant --> merchant
merchants --> merchants
weaver --> weaver

In [1452]:
PrintFutureOccupations(OccsTotalsVA['occupation'].tolist())

Occupations --> Potential Cleaned Occupations
---------------------------------------------


gentleman --> gentleman
merchant --> merchant
merchants --> merchants
weaver --> weaver

In [1453]:
OccsTotalsVA = MergeOccupations(OccsTotalsVA)

After Cleaning
--------------


  occupation   6p_total  # of people % of total people
0  gentleman  78.330000            1              None
1   merchant  70.480000            2              None
2  merchants  20.516233            1              None
3     weaver  46.020000            1              None


After Removing Duplicates and Summing
-------------------------------------


  occupation   6p_total  # of people  % of total people
0  gentleman  78.330000            1                  0
1   merchant  70.480000            2                  0
2  merchants  20.516233            1                  0
3     weaver  46.020000            1                  0


Removed: merchants --> merchant


After Using Fuzzy String Matching
---------------------------------


  occupation   6p_total  # of people  % of total people  average debt per person
0   merchant  90.996233            3               60.0                30.332078
1  gentleman  78.330000            1               20.0                78.330000
2     weaver  46.020000            1               20.0                46.020000

In [1454]:
TurnToExcel(OccsTotalsVA, State)

# All States

In [1455]:
#Append each states occupation + totals dataframes to the end of each other. 
OccsTotalsAll = pd.concat([OccsTotalsCT, OccsTotalsGA, OccsTotalsMD, OccsTotalsNC, OccsTotalsNH, OccsTotalsNJ,
                          OccsTotalsNY, OccsTotalsPA, OccsTotalsRI, OccsTotalsSC, OccsTotalsVA]).reset_index(drop=True)
print(OccsTotalsAll.to_string())

            occupation       6p_total  # of people  % of total people  average debt per person
0             merchant   63765.000000           63          13.043478              1012.142857
1               farmer   36780.360000          170          35.196687               216.355059
2            gentleman   16624.320000           32           6.625259               519.510000
3            treasurer   15387.150000           14           2.898551              1099.082143
4                  esq   13020.090000           13           2.691511              1001.545385
5             attorney   11114.600000           20           4.140787               555.730000
6               trader    9454.130000           46           9.523810               205.524565
7                widow    6488.110000           28           5.797101               231.718214
8             executor    4558.250000            7           1.449275               651.178571
9        adminastrator    4081.060000           10           2.070393               408.106000
10             mariner    3831.050000           13           2.691511               294.696154
11              sadler    3524.740000            1           0.207039              3524.740000
12       school master    2213.750000            2           0.414079              1106.875000
13              doctor    1950.550000            4           0.828157               487.637500
14            spinster    1731.580000            6           1.242236               288.596667
15           shoemaker    1345.460000            6           1.242236               224.243333
16            guardian    1245.620000            3           0.621118               415.206667
17    school committee    1071.650000            7           1.449275               153.092857
18           committee     863.410000            3           0.621118               287.803333
19          blacksmith     724.710000            3           0.621118               241.570000
20              tanner     713.060000            1           0.207039               713.060000
21          post rider     676.910000            3           0.621118               225.636667
22     leather dresser     666.670000            1           0.207039               666.670000
23          shipwright     533.330000            1           0.207039               533.330000
24           sherriffs     512.450000            3           0.621118               170.816667
25         proprietors     276.900000            1           0.207039               276.900000
26              hatter     242.990000            1           0.207039               242.990000
27           carpenter     228.670000            2           0.414079               114.335000
28             molster     211.380000            1           0.207039               211.380000
29              taylor     209.810000            1           0.207039               209.810000
30              broker     208.550000            3           0.621118                69.516667
31             printer     204.780000            2           0.414079               102.390000
32          inn keeper     201.530000            3           0.621118                67.176667
33              cooper     124.760000            1           0.207039               124.760000
34             cashier      85.300000            2           0.414079                42.650000
35             soldier      78.480000            1           0.207039                78.480000
36                wife      63.640000            1           0.207039                63.640000
37            clothier      53.330000            1           0.207039                53.330000
38              miller      18.990000            1           0.207039                18.990000
39          apothecary       7.720000            1           0.207039                 7.720000
40           goldsmith       6.820000            1           0.207039                 6.820000
41            merchant   10577.739829            8          80.000000              1322.217479
42           gentleman    4586.660000            1          10.000000              4586.660000
43                 esq     102.089033            1          10.000000               102.089033
44            merchant   78510.940000           47          82.456140              1670.445532
45           shoemaker    1237.070000            2           3.508772               618.535000
46            executor     303.770000            3           5.263158               101.256667
47   frederick company     206.670000            1           1.754386               206.670000
48          shopkeeper      33.330000            1           1.754386                33.330000
49       administrator      22.500000            2           3.508772                11.250000
50                 esq      17.665733            1           1.754386                17.665733
51           treasurer   12283.440000            1           9.090909             12283.440000
52             doctors    2008.370000            1           9.090909              2008.370000
53            merchant     861.530000            7          63.636364               123.075714
54              farmer      62.510000            1           9.090909                62.510000
55           executors       0.000000            1           9.090909                 0.000000
56                 esq   61539.890000           66          39.759036               932.422576
57            merchant   29715.410000           26          15.662651              1142.900385
58               widow    8790.450000           10           6.024096               879.045000
59              doctor    7111.430000           18          10.843373               395.079444
60              farmer    4175.980000           13           7.831325               321.229231
61           gentleman    3603.060000            6           3.614458               600.510000
62              trader    2807.270000            8           4.819277               350.908750
63               baker    2159.040000            1           0.602410              2159.040000
64           goldsmith     871.320000            1           0.602410               871.320000
65            marniner     785.620000            2           1.204819               392.810000
66           shoemaker     742.050000            2           1.204819               371.025000
67               clerk     715.600000            7           4.216867               102.228571
68           treasurer     149.620000            1           0.602410               149.620000
69           carpenter     106.610000            2           1.204819                53.305000
70            spinster      89.130000            1           0.602410                89.130000
71          blacksmith      54.880000            1           0.602410                54.880000
72             painter      48.610000            1           0.602410                48.610000
73           gentleman    6063.150000            2          22.222222              3031.575000
74            attorney    1325.680000            1          11.111111              1325.680000
75            executor    1324.810000            1          11.111111              1324.810000
76              doctor     384.340000            1          11.111111               384.340000
77            merchant     235.010000            1          11.111111               235.010000
78            assignee      16.670000            1          11.111111                16.670000
79              farmer       3.340000            1          11.111111                 3.340000
80                 esq       0.000000            1          11.111111                 0.000000
81            merchant    7448.803133           24          80.000000               310.366797
82              broker    1776.120000            1           3.333333              1776.120000
83              doctor     933.330000            1           3.333333               933.330000
84              farmer     674.310000            2           6.666667               337.155000
85             mariner     377.490000            1           3.333333               377.490000
86        schoolmaster     131.150000            1           3.333333               131.150000
87            merchant  612574.610000          237          57.804878              2584.702996
88              broker   74699.960000           63          15.365854              1185.713651
89                 esq   41442.240000           21           5.121951              1973.440000
90           executers    8787.960000            7           1.707317              1255.422857
91            attorney    8696.680000            5           1.219512              1739.336000
92             printer    7717.740000            6           1.463415              1286.290000
93           gentleman    7540.660000            6           1.463415              1256.776667
94         post master    7083.530000            1           0.243902              7083.530000
95               widow    5576.530000            5           1.219512              1115.306000
96            druggist    4922.430000            2           0.487805              2461.215000
97            guardian    4539.960000            3           0.731707              1513.320000
98             mariner    3906.571400            5           1.219512               781.314280
99             furrier    3107.180000            1           0.243902              3107.180000
100             farmer    2821.870000            7           1.707317               403.124286
101         administer    2692.480000            3           0.731707               897.493333
102             hatter    2291.760000            3           0.731707               763.920000
103             taylor    2137.390000            4           0.975610               534.347500
104              trust    2054.640000            2           0.487805              1027.320000
105             estate    1979.600000            2           0.487805               989.800000
106        silversmith    1917.650000            2           0.487805               958.825000
107              clerk    1855.580000            4           0.975610               463.895000
108             doctor    1769.010000            1           0.243902              1769.010000
109         inn keeper    1668.680000            3           0.731707               556.226667
110        ship wright    1241.760000            1           0.243902              1241.760000
111             tanner    1192.250000            2           0.487805               596.125000
112         individual     846.230000            1           0.243902               846.230000
113        book binder     783.070000            1           0.243902               783.070000
114          treasurer     714.810000            1           0.243902               714.810000
115         blacksmith     692.250000            1           0.243902               692.250000
116         shopkeeper     588.950000            3           0.731707               196.316667
117           spinster     528.330000            1           0.243902               528.330000
118           property     461.110000            1           0.243902               461.110000
119        cordwainder     281.250000            1           0.243902               281.250000
120           reverend     224.120000            1           0.243902               224.120000
121          goldsmith     142.220000            1           0.243902               142.220000
122        conveyancer     108.400000            1           0.243902               108.400000
123            sheriff      56.210000            1           0.243902                56.210000
124          treasurer  222647.660000           13           2.901786             17126.743077
125           merchant   99961.920000           98          21.875000              1020.019592
126                esq   68401.500000          130          29.017857               526.165385
127             farmer   14625.230000           80          17.857143               182.815375
128              widow    6182.060000           23           5.133929               268.785217
129            mariner    4857.320000           25           5.580357               194.292800
130             doctor    3121.690000            8           1.785714               390.211250
131          gentleman    2396.700000           10           2.232143               239.670000
132           reverend    2054.380000            2           0.446429              1027.190000
133             cooper    1596.150000            3           0.669643               532.050000
134         inn keeper    1430.290000            8           1.785714               178.786250
135             taylor    1297.730000            4           0.892857               324.432500
136              mason    1152.500000            3           0.669643               384.166667
137            glazier     982.350000            1           0.223214               982.350000
138             hatter     828.660000            2           0.446429               414.330000
139           spinster     721.330000            3           0.669643               240.443333
140         blacksmith     540.680000            3           0.669643               180.226667
141          shoemaker     532.360000            2           0.446429               266.180000
142             trader     480.130000            6           1.339286                80.021667
143          distiller     466.250000            3           0.669643               155.416667
144        auctioneers     460.770000            3           0.669643               153.590000
145        housewright     266.670000            1           0.223214               266.670000
146            butcher     235.700000            1           0.223214               235.700000
147              baker     206.370000            1           0.223214               206.370000
148             broker     171.500000            2           0.446429                85.750000
149             extors     124.500000            2           0.446429                62.250000
150         shipwright      89.720000            2           0.446429                44.860000
151           labourer      67.160000            2           0.446429                33.580000
152        proprietors      58.640000            1           0.223214                58.640000
153       chaise maker      47.570000            1           0.223214                47.570000
154             deacon      16.350000            1           0.223214                16.350000
155         blockmaker       4.430000            1           0.223214                 4.430000
156          carpenter       0.000000            1           0.223214                 0.000000
157          goldsmith       0.000000            1           0.223214                 0.000000
158     administratrix       0.000000            1           0.223214                 0.000000
159           merchant   71438.846900          155          53.448276               460.895786
160            planter   13322.036667           32          11.034483               416.313646
161             doctor    7971.000000           10           3.448276               797.100000
162         blockmaker    5264.230000            2           0.689655              2632.115000
163              widow    4910.700000           14           4.827586               350.764286
164           attorney    3690.940000            9           3.103448               410.104444
165           excuetor    3120.060200           12           4.137931               260.005017
166             trader    2961.480000            3           1.034483               987.160000
167            trustee    2439.020000            1           0.344828              2439.020000
168             broker    2334.890000           11           3.793103               212.262727
169             judges    2257.180000            1           0.344828              2257.180000
170            sheriff    2133.326667            2           0.689655              1066.663333
171      administrator    1704.770000            2           0.689655               852.385000
172              clerk    1425.820000            2           0.689655               712.910000
173         blacksmith    1423.480000            1           0.344828              1423.480000
174          gentleman     474.430000            2           0.689655               237.215000
175          carpenter     449.020000            5           1.724138                89.804000
176             tanner     377.490000            1           0.344828               377.490000
177           spinster     364.590000            1           0.344828               364.590000
178            mariner     364.004700            4           1.379310                91.001175
179           assignee     345.020000            1           0.344828               345.020000
180          treasurer     262.140000            2           0.689655               131.070000
181         shopkeeper     190.660000            4           1.379310                47.665000
182         shipwright     153.540000            1           0.344828               153.540000
183            printer     132.720000            2           0.689655                66.360000
184         auctioneer     123.190000            2           0.689655                61.595000
185      cabinet maker      74.460000            1           0.344828                74.460000
186         comtroller      53.740000            1           0.344828                53.740000
187                esq      50.123166            2           0.689655                25.061583
188         bricklayer      37.350000            1           0.344828                37.350000
189           guardian      17.150000            1           0.344828                17.150000
190     south carolina       0.000000            1           0.344828                 0.000000
191       hair dresser       0.000000            1           0.344828                 0.000000
192           merchant      90.996233            3          60.000000                30.332078
193          gentleman      78.330000            1          20.000000                78.330000
194             weaver      46.020000            1          20.000000                46.020000

In [1456]:
OccsTotalsAll = OccsTotalsAll.groupby('occupation')[['6p_total', '# of people']].apply(sum).reset_index() #Combine duplicate occupations.
print(OccsTotalsAll.to_string())

           occupation       6p_total  # of people
0       adminastrator    4081.060000         10.0
1          administer    2692.480000          3.0
2       administrator    1727.270000          4.0
3      administratrix       0.000000          1.0
4          apothecary       7.720000          1.0
5            assignee     361.690000          2.0
6            attorney   24827.900000         35.0
7          auctioneer     123.190000          2.0
8         auctioneers     460.770000          3.0
9               baker    2365.410000          2.0
10         blacksmith    3436.000000          9.0
11         blockmaker    5268.660000          3.0
12        book binder     783.070000          1.0
13         bricklayer      37.350000          1.0
14             broker   79191.020000         80.0
15            butcher     235.700000          1.0
16      cabinet maker      74.460000          1.0
17          carpenter     784.300000         10.0
18            cashier      85.300000          2.0
19       chaise maker      47.570000          1.0
20              clerk    3997.000000         13.0
21           clothier      53.330000          1.0
22          committee     863.410000          3.0
23         comtroller      53.740000          1.0
24        conveyancer     108.400000          1.0
25             cooper    1720.910000          4.0
26        cordwainder     281.250000          1.0
27             deacon      16.350000          1.0
28          distiller     466.250000          3.0
29             doctor   23241.350000         43.0
30            doctors    2008.370000          1.0
31           druggist    4922.430000          2.0
32                esq  184573.597932        235.0
33             estate    1979.600000          2.0
34           excuetor    3120.060200         12.0
35          executers    8787.960000          7.0
36           executor    6186.830000         11.0
37          executors       0.000000          1.0
38             extors     124.500000          2.0
39             farmer   59143.600000        274.0
40  frederick company     206.670000          1.0
41            furrier    3107.180000          1.0
42          gentleman   41367.310000         60.0
43            glazier     982.350000          1.0
44          goldsmith    1020.360000          4.0
45           guardian    5802.730000          7.0
46       hair dresser       0.000000          1.0
47             hatter    3363.410000          6.0
48        housewright     266.670000          1.0
49         individual     846.230000          1.0
50         inn keeper    3300.500000         14.0
51             judges    2257.180000          1.0
52           labourer      67.160000          2.0
53    leather dresser     666.670000          1.0
54            mariner   13336.436100         48.0
55           marniner     785.620000          2.0
56              mason    1152.500000          3.0
57           merchant  975180.806095        669.0
58             miller      18.990000          1.0
59            molster     211.380000          1.0
60            painter      48.610000          1.0
61            planter   13322.036667         32.0
62        post master    7083.530000          1.0
63         post rider     676.910000          3.0
64            printer    8055.240000         10.0
65           property     461.110000          1.0
66        proprietors     335.540000          2.0
67           reverend    2278.500000          3.0
68             sadler    3524.740000          1.0
69   school committee    1071.650000          7.0
70      school master    2213.750000          2.0
71       schoolmaster     131.150000          1.0
72            sheriff    2189.536667          3.0
73          sherriffs     512.450000          3.0
74        ship wright    1241.760000          1.0
75         shipwright     776.590000          4.0
76          shoemaker    3856.940000         12.0
77         shopkeeper     812.940000          8.0
78        silversmith    1917.650000          2.0
79            soldier      78.480000          1.0
80     south carolina       0.000000          1.0
81           spinster    3434.960000         12.0
82             tanner    2282.800000          4.0
83             taylor    3644.930000          9.0
84             trader   15703.010000         63.0
85          treasurer  251444.820000         32.0
86              trust    2054.640000          2.0
87            trustee    2439.020000          1.0
88             weaver      46.020000          1.0
89              widow   31947.850000         80.0
90               wife      63.640000          1.0

In [1457]:
PrintFutureOccupations(OccsTotalsAll['occupation'].tolist())

Occupations --> Potential Cleaned Occupations
---------------------------------------------


adminastrator --> adminastrator
administer --> administer
administrator --> administrator
administratrix --> administratrix
apothecary --> apothecary
assignee --> assignee
attorney --> attorney
auctioneer --> auctioneer
auctioneers --> auctioneers
baker --> baker
blacksmith --> blacksmith
blockmaker --> blockmaker
book binder --> book
bricklayer --> bricklayer
broker --> broker
butcher --> butcher
cabinet maker --> cabinet
carpenter --> carpenter
cashier --> cashier
chaise maker --> chaise
clerk --> clerk
clothier --> clothier
committee --> committee
comtroller --> comtroller
conveyancer --> conveyancer
cooper --> cooper
cordwainder --> cordwainder
deacon --> deacon
distiller --> distiller
doctor --> doctor
doctors --> doctors
druggist --> druggist
esq --> esq
estate --> estate
excuetor --> excuetor
executers --> executers
executor --> executor
executors --> executors
extors --> extors
farmer --> farmer
frederick company --> frederick
furrier --> furrier
gentleman --> gentleman
glazier --> glazier
goldsmith --> goldsmith
guardian --> guardian
hair dresser --> hair
hatter --> hatter
housewright --> housewright
individual --> individual
inn keeper --> inn
judges --> judges
labourer --> labourer
leather dresser --> leather
mariner --> mariner
marniner --> marniner
mason --> mason
merchant --> merchant
miller --> miller
molster --> molster
painter --> painter
planter --> planter
post master --> post
post rider --> post
printer --> printer
property --> property
proprietors --> proprietors
reverend --> reverend
sadler --> sadler
school committee --> school
school master --> school
schoolmaster --> schoolmaster
sheriff --> sheriff
sherriffs --> sherriffs
ship wright --> ship
shipwright --> shipwright
shoemaker --> shoemaker
shopkeeper --> shopkeeper
silversmith --> silversmith
soldier --> soldier
south carolina --> south
spinster --> spinster
tanner --> tanner
taylor --> taylor
trader --> trader
treasurer --> treasurer
trust --> trust
trustee --> trustee
weaver --> weaver
widow --> widow
wife --> wife

In [1458]:
#Exclude these wors from any fuzzy string matching. Causes errors. 
NoMerge.append('planter')
NoMerge.append('printer')

In [1459]:
OccsTotalsAll = MergeOccupations(OccsTotalsAll)

After Cleaning
--------------


           occupation       6p_total  # of people % of total people
0       adminastrator    4081.060000         10.0              None
1       adminastrator    2692.480000          3.0              None
2       administrator    1727.270000          4.0              None
3      administratrix       0.000000          1.0              None
4          apothecary       7.720000          1.0              None
5            assignee     361.690000          2.0              None
6            attorney   24827.900000         35.0              None
7          auctioneer     123.190000          2.0              None
8         auctioneers     460.770000          3.0              None
9               baker    2365.410000          2.0              None
10         blacksmith    3436.000000          9.0              None
11         blockmaker    5268.660000          3.0              None
12        book binder     783.070000          1.0              None
13         bricklayer      37.350000          1.0              None
14             broker   79191.020000         80.0              None
15            butcher     235.700000          1.0              None
16      cabinet maker      74.460000          1.0              None
17          carpenter     784.300000         10.0              None
18            cashier      85.300000          2.0              None
19       chaise maker      47.570000          1.0              None
20              clerk    3997.000000         13.0              None
21           clothier      53.330000          1.0              None
22          committee     863.410000          3.0              None
23         comtroller      53.740000          1.0              None
24        conveyancer     108.400000          1.0              None
25             cooper    1720.910000          4.0              None
26        cordwainder     281.250000          1.0              None
27             deacon      16.350000          1.0              None
28          distiller     466.250000          3.0              None
29             doctor   23241.350000         43.0              None
30            doctors    2008.370000          1.0              None
31           druggist    4922.430000          2.0              None
32                esq  184573.597932        235.0              None
33             estate    1979.600000          2.0              None
34           excuetor    3120.060200         12.0              None
35           excuetor    8787.960000          7.0              None
36           executor    6186.830000         11.0              None
37          executors       0.000000          1.0              None
38           excuetor     124.500000          2.0              None
39             farmer   59143.600000        274.0              None
40  frederick company     206.670000          1.0              None
41            furrier    3107.180000          1.0              None
42          gentleman   41367.310000         60.0              None
43            glazier     982.350000          1.0              None
44          goldsmith    1020.360000          4.0              None
45           guardian    5802.730000          7.0              None
46       hair dresser       0.000000          1.0              None
47             hatter    3363.410000          6.0              None
48        housewright     266.670000          1.0              None
49         individual     846.230000          1.0              None
50         inn keeper    3300.500000         14.0              None
51             judges    2257.180000          1.0              None
52           labourer      67.160000          2.0              None
53    leather dresser     666.670000          1.0              None
54            mariner   13336.436100         48.0              None
55           marniner     785.620000          2.0              None
56              mason    1152.500000          3.0              None
57           merchant  975180.806095        669.0              None
58             miller      18.990000          1.0              None
59            molster     211.380000          1.0              None
60            painter      48.610000          1.0              None
61            planter   13322.036667         32.0              None
62        post master    7083.530000          1.0              None
63         post rider     676.910000          3.0              None
64            printer    8055.240000         10.0              None
65           property     461.110000          1.0              None
66        proprietors     335.540000          2.0              None
67           reverend    2278.500000          3.0              None
68             sadler    3524.740000          1.0              None
69   school committee    1071.650000          7.0              None
70      school master    2213.750000          2.0              None
71       schoolmaster     131.150000          1.0              None
72            sheriff    2189.536667          3.0              None
73          sherriffs     512.450000          3.0              None
74        ship wright    1241.760000          1.0              None
75         shipwright     776.590000          4.0              None
76          shoemaker    3856.940000         12.0              None
77         shopkeeper     812.940000          8.0              None
78        silversmith    1917.650000          2.0              None
79            soldier      78.480000          1.0              None
80     south carolina       0.000000          1.0              None
81           spinster    3434.960000         12.0              None
82             tanner    2282.800000          4.0              None
83             taylor    3644.930000          9.0              None
84             trader   15703.010000         63.0              None
85          treasurer  251444.820000         32.0              None
86           assignee    2054.640000          2.0              None
87            trustee    2439.020000          1.0              None
88             weaver      46.020000          1.0              None
89              widow   31947.850000         80.0              None
90               wife      63.640000          1.0              None


After Removing Duplicates and Summing
-------------------------------------


           occupation       6p_total  # of people  % of total people
0       adminastrator    6773.540000           13                  0
1       administrator    1727.270000            4                  0
2      administratrix       0.000000            1                  0
3          apothecary       7.720000            1                  0
4            assignee    2416.330000            4                  0
5            attorney   24827.900000           35                  0
6          auctioneer     123.190000            2                  0
7         auctioneers     460.770000            3                  0
8               baker    2365.410000            2                  0
9          blacksmith    3436.000000            9                  0
10         blockmaker    5268.660000            3                  0
11        book binder     783.070000            1                  0
12         bricklayer      37.350000            1                  0
13             broker   79191.020000           80                  0
14            butcher     235.700000            1                  0
15      cabinet maker      74.460000            1                  0
16          carpenter     784.300000           10                  0
17            cashier      85.300000            2                  0
18       chaise maker      47.570000            1                  0
19              clerk    3997.000000           13                  0
20           clothier      53.330000            1                  0
21          committee     863.410000            3                  0
22         comtroller      53.740000            1                  0
23        conveyancer     108.400000            1                  0
24             cooper    1720.910000            4                  0
25        cordwainder     281.250000            1                  0
26             deacon      16.350000            1                  0
27          distiller     466.250000            3                  0
28             doctor   23241.350000           43                  0
29            doctors    2008.370000            1                  0
30           druggist    4922.430000            2                  0
31                esq  184573.597932          235                  0
32             estate    1979.600000            2                  0
33           excuetor   12032.520200           21                  0
34           executor    6186.830000           11                  0
35          executors       0.000000            1                  0
36             farmer   59143.600000          274                  0
37  frederick company     206.670000            1                  0
38            furrier    3107.180000            1                  0
39          gentleman   41367.310000           60                  0
40            glazier     982.350000            1                  0
41          goldsmith    1020.360000            4                  0
42           guardian    5802.730000            7                  0
43       hair dresser       0.000000            1                  0
44             hatter    3363.410000            6                  0
45        housewright     266.670000            1                  0
46         individual     846.230000            1                  0
47         inn keeper    3300.500000           14                  0
48             judges    2257.180000            1                  0
49           labourer      67.160000            2                  0
50    leather dresser     666.670000            1                  0
51            mariner   13336.436100           48                  0
52           marniner     785.620000            2                  0
53              mason    1152.500000            3                  0
54           merchant  975180.806095          669                  0
55             miller      18.990000            1                  0
56            molster     211.380000            1                  0
57            painter      48.610000            1                  0
58            planter   13322.036667           32                  0
59        post master    7083.530000            1                  0
60         post rider     676.910000            3                  0
61            printer    8055.240000           10                  0
62           property     461.110000            1                  0
63        proprietors     335.540000            2                  0
64           reverend    2278.500000            3                  0
65             sadler    3524.740000            1                  0
66   school committee    1071.650000            7                  0
67      school master    2213.750000            2                  0
68       schoolmaster     131.150000            1                  0
69            sheriff    2189.536667            3                  0
70          sherriffs     512.450000            3                  0
71        ship wright    1241.760000            1                  0
72         shipwright     776.590000            4                  0
73          shoemaker    3856.940000           12                  0
74         shopkeeper     812.940000            8                  0
75        silversmith    1917.650000            2                  0
76            soldier      78.480000            1                  0
77     south carolina       0.000000            1                  0
78           spinster    3434.960000           12                  0
79             tanner    2282.800000            4                  0
80             taylor    3644.930000            9                  0
81             trader   15703.010000           63                  0
82          treasurer  251444.820000           32                  0
83            trustee    2439.020000            1                  0
84             weaver      46.020000            1                  0
85              widow   31947.850000           80                  0
86               wife      63.640000            1                  0


Removed: administrator --> adminastrator
Removed: administratrix --> adminastrator
Removed: auctioneers --> auctioneer
Removed: doctors --> doctor
Removed: executor --> excuetor
Removed: executors --> excuetor
Removed: marniner --> mariner
Removed: schoolmaster --> school master
Removed: sherriffs --> sheriff
Removed: shipwright --> ship wright


After Using Fuzzy String Matching
---------------------------------


           occupation       6p_total  # of people  % of total people  average debt per person
0            merchant  975180.806095          669          34.861907              1457.669366
1           treasurer  251444.820000           32           1.667535              7857.650625
2                 esq  184573.597932          235          12.245961               785.419566
3              broker   79191.020000           80           4.168838               989.887750
4              farmer   59143.600000          274          14.278270               215.852555
5           gentleman   41367.310000           60           3.126628               689.455167
6               widow   31947.850000           80           4.168838               399.348125
7              doctor   25249.720000           44           2.292861               573.857273
8            attorney   24827.900000           35           1.823867               709.368571
9            excuetor   18219.350200           33           1.719646               552.101521
10             trader   15703.010000           63           3.282960               249.254127
11            mariner   14122.056100           50           2.605524               282.441122
12            planter   13322.036667           32           1.667535               416.313646
13      adminastrator    8500.810000           18           0.937989               472.267222
14            printer    8055.240000           10           0.521105               805.524000
15        post master    7083.530000            1           0.052110              7083.530000
16           guardian    5802.730000            7           0.364773               828.961429
17         blockmaker    5268.660000            3           0.156331              1756.220000
18           druggist    4922.430000            2           0.104221              2461.215000
19              clerk    3997.000000           13           0.677436               307.461538
20          shoemaker    3856.940000           12           0.625326               321.411667
21             taylor    3644.930000            9           0.468994               404.992222
22             sadler    3524.740000            1           0.052110              3524.740000
23         blacksmith    3436.000000            9           0.468994               381.777778
24           spinster    3434.960000           12           0.625326               286.246667
25             hatter    3363.410000            6           0.312663               560.568333
26         inn keeper    3300.500000           14           0.729547               235.750000
27            furrier    3107.180000            1           0.052110              3107.180000
28            sheriff    2701.986667            6           0.312663               450.331111
29            trustee    2439.020000            1           0.052110              2439.020000
30           assignee    2416.330000            4           0.208442               604.082500
31              baker    2365.410000            2           0.104221              1182.705000
32      school master    2344.900000            3           0.156331               781.633333
33             tanner    2282.800000            4           0.208442               570.700000
34           reverend    2278.500000            3           0.156331               759.500000
35             judges    2257.180000            1           0.052110              2257.180000
36        ship wright    2018.350000            5           0.260552               403.670000
37             estate    1979.600000            2           0.104221               989.800000
38        silversmith    1917.650000            2           0.104221               958.825000
39             cooper    1720.910000            4           0.208442               430.227500
40              mason    1152.500000            3           0.156331               384.166667
41   school committee    1071.650000            7           0.364773               153.092857
42          goldsmith    1020.360000            4           0.208442               255.090000
43            glazier     982.350000            1           0.052110               982.350000
44          committee     863.410000            3           0.156331               287.803333
45         individual     846.230000            1           0.052110               846.230000
46         shopkeeper     812.940000            8           0.416884               101.617500
47          carpenter     784.300000           10           0.521105                78.430000
48        book binder     783.070000            1           0.052110               783.070000
49         post rider     676.910000            3           0.156331               225.636667
50    leather dresser     666.670000            1           0.052110               666.670000
51         auctioneer     583.960000            5           0.260552               116.792000
52          distiller     466.250000            3           0.156331               155.416667
53           property     461.110000            1           0.052110               461.110000
54        proprietors     335.540000            2           0.104221               167.770000
55        cordwainder     281.250000            1           0.052110               281.250000
56        housewright     266.670000            1           0.052110               266.670000
57            butcher     235.700000            1           0.052110               235.700000
58            molster     211.380000            1           0.052110               211.380000
59  frederick company     206.670000            1           0.052110               206.670000
60        conveyancer     108.400000            1           0.052110               108.400000
61            cashier      85.300000            2           0.104221                42.650000
62            soldier      78.480000            1           0.052110                78.480000
63      cabinet maker      74.460000            1           0.052110                74.460000
64           labourer      67.160000            2           0.104221                33.580000
65               wife      63.640000            1           0.052110                63.640000
66         comtroller      53.740000            1           0.052110                53.740000
67           clothier      53.330000            1           0.052110                53.330000
68            painter      48.610000            1           0.052110                48.610000
69       chaise maker      47.570000            1           0.052110                47.570000
70             weaver      46.020000            1           0.052110                46.020000
71         bricklayer      37.350000            1           0.052110                37.350000
72             miller      18.990000            1           0.052110                18.990000
73             deacon      16.350000            1           0.052110                16.350000

In [1460]:
#Remove any occupatins will a total of '0'
OccsTotalsAll = OccsTotalsAll[OccsTotalsAll['6p_total'] != 0].reset_index(drop=True)
OccsTotalsAll['% of total people'] = (OccsTotalsAll['# of people'] / OccsTotalsAll['# of people'].sum()) * 100 #Recalculate the '% of total people'.
print(OccsTotalsAll.to_string())

           occupation       6p_total  # of people  % of total people  average debt per person
0            merchant  975180.806095          669          34.898279              1457.669366
1           treasurer  251444.820000           32           1.669275              7857.650625
2                 esq  184573.597932          235          12.258738               785.419566
3              broker   79191.020000           80           4.173187               989.887750
4              farmer   59143.600000          274          14.293166               215.852555
5           gentleman   41367.310000           60           3.129890               689.455167
6               widow   31947.850000           80           4.173187               399.348125
7              doctor   25249.720000           44           2.295253               573.857273
8            attorney   24827.900000           35           1.825769               709.368571
9            excuetor   18219.350200           33           1.721440               552.101521
10             trader   15703.010000           63           3.286385               249.254127
11            mariner   14122.056100           50           2.608242               282.441122
12            planter   13322.036667           32           1.669275               416.313646
13      adminastrator    8500.810000           18           0.938967               472.267222
14            printer    8055.240000           10           0.521648               805.524000
15        post master    7083.530000            1           0.052165              7083.530000
16           guardian    5802.730000            7           0.365154               828.961429
17         blockmaker    5268.660000            3           0.156495              1756.220000
18           druggist    4922.430000            2           0.104330              2461.215000
19              clerk    3997.000000           13           0.678143               307.461538
20          shoemaker    3856.940000           12           0.625978               321.411667
21             taylor    3644.930000            9           0.469484               404.992222
22             sadler    3524.740000            1           0.052165              3524.740000
23         blacksmith    3436.000000            9           0.469484               381.777778
24           spinster    3434.960000           12           0.625978               286.246667
25             hatter    3363.410000            6           0.312989               560.568333
26         inn keeper    3300.500000           14           0.730308               235.750000
27            furrier    3107.180000            1           0.052165              3107.180000
28            sheriff    2701.986667            6           0.312989               450.331111
29            trustee    2439.020000            1           0.052165              2439.020000
30           assignee    2416.330000            4           0.208659               604.082500
31              baker    2365.410000            2           0.104330              1182.705000
32      school master    2344.900000            3           0.156495               781.633333
33             tanner    2282.800000            4           0.208659               570.700000
34           reverend    2278.500000            3           0.156495               759.500000
35             judges    2257.180000            1           0.052165              2257.180000
36        ship wright    2018.350000            5           0.260824               403.670000
37             estate    1979.600000            2           0.104330               989.800000
38        silversmith    1917.650000            2           0.104330               958.825000
39             cooper    1720.910000            4           0.208659               430.227500
40              mason    1152.500000            3           0.156495               384.166667
41   school committee    1071.650000            7           0.365154               153.092857
42          goldsmith    1020.360000            4           0.208659               255.090000
43            glazier     982.350000            1           0.052165               982.350000
44          committee     863.410000            3           0.156495               287.803333
45         individual     846.230000            1           0.052165               846.230000
46         shopkeeper     812.940000            8           0.417319               101.617500
47          carpenter     784.300000           10           0.521648                78.430000
48        book binder     783.070000            1           0.052165               783.070000
49         post rider     676.910000            3           0.156495               225.636667
50    leather dresser     666.670000            1           0.052165               666.670000
51         auctioneer     583.960000            5           0.260824               116.792000
52          distiller     466.250000            3           0.156495               155.416667
53           property     461.110000            1           0.052165               461.110000
54        proprietors     335.540000            2           0.104330               167.770000
55        cordwainder     281.250000            1           0.052165               281.250000
56        housewright     266.670000            1           0.052165               266.670000
57            butcher     235.700000            1           0.052165               235.700000
58            molster     211.380000            1           0.052165               211.380000
59  frederick company     206.670000            1           0.052165               206.670000
60        conveyancer     108.400000            1           0.052165               108.400000
61            cashier      85.300000            2           0.104330                42.650000
62            soldier      78.480000            1           0.052165                78.480000
63      cabinet maker      74.460000            1           0.052165                74.460000
64           labourer      67.160000            2           0.104330                33.580000
65               wife      63.640000            1           0.052165                63.640000
66         comtroller      53.740000            1           0.052165                53.740000
67           clothier      53.330000            1           0.052165                53.330000
68            painter      48.610000            1           0.052165                48.610000
69       chaise maker      47.570000            1           0.052165                47.570000
70             weaver      46.020000            1           0.052165                46.020000
71         bricklayer      37.350000            1           0.052165                37.350000
72             miller      18.990000            1           0.052165                18.990000
73             deacon      16.350000            1           0.052165                16.350000
74         apothecary       7.720000            1           0.052165                 7.720000

In [1461]:
TurnToExcel(OccsTotalsAll, 'AllStates')